{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('general.home') }}">Home</a></li>
            {% block breadcrumb %}{% endblock %}
        </ol>
    </div>
</div>

<div class="container">
    <nav class="sidebar col-md-3">
        <h3>Assuntos</h3>
        <ul class="sub-menu">
            <li><a href="#" title="Todos"><strong>Todos</strong></a></li>
            <li><a href="#" title="Visualizações">Visualizações</a></li>
            <li><a href="#" title="Tecnologia da Informação">Tecnologia da Informação</a></li>
            <li><a href="#" title="Economia">Economia</a></li>
            <li><a href="#" title="Matemática">Matemática</a></li>
            <li><a href="#" title="Estatística">Estatística</a></li>
            <li><a href="#" title="Design">Design</a></li>
            <li><a href="#" title="Políticas Públicas">Políticas Públicas</a></li>
        </ul>
    </nav>
    <section id="news" class="col-md-9">
        <h1>Notícias</h1>
        {% block news_content %}
        {% endblock news_content %}
    </section>
</div>
{% endblock content %}


{% block js_assets %}
{% endblock js_assets %}
