{% extends "base.html" %}

{% block content %}

<script>
    function handleChange(e) {
        let arrayItens = []
        let itens = document.querySelectorAll(".checkBoxes [type=checkbox]:checked")
        for(let item of itens) {
            arrayItens.push(Number(item.id));
        }

        let page_url = window.location.href;
        base_url = page_url.split("://")[1].split("/")[0];

        window.location.href = `/${dataviva.language}/news/${arrayItens.length != 0 ? `?subject=${arrayItens}` : ""}`;
    }
</script>

<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('general.home') }}">Home</a></li>
            {% block breadcrumb %}{% endblock %}
        </ol>
    </div>
</div>

<div class="container container-big">
    <div class="row row-offcanvas row-offcanvas-left">
        <nav class="sidebar sidebar-news col-md-3 sidebar-offcanvas">
            <h3 class="sidebar-news-h3">{% trans %}Topics{% endtrans %}</h3>
            <ul>
                {% for subject in subjects %}
                <li class="checkBoxes">
                {% if subject.id in idList %}
                    <input type="checkbox" id={{subject.id}} name={{subject.name}} checked onchange="handleChange(event)"/>
                {%else %}
                    <input type="checkbox" id={{subject.id}} name={{subject.name}} onchange="handleChange(event)"/>
                {%endif %}
                    <label for={{subject.id}}>{{subject.name}}</label>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <section id="news" class="col-md-9">
           <div class="row visible-xs visible-sm toggle-btn-submenu">
                <div class="col-xs-12">
                    <button type="button" class="fa btn btn-white" aria-hidden="true" data-toggle="offcanvas" data-target=".sidebar-nav">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <h1>{% trans %}News{% endtrans %}</h1>
                </div>
                <div class="col-md-offset-4 col-md-5 col-sm-offset-3 col-sm-6 col-xs-12 search-form-wrapper">
                    <form id="search-form">
                        <div class="input-group">
                            <input name="search" type="text" class="form-control input-sm" aria-label="..." placeholder="{% trans %}Search{% endtrans %}">
                            <div class="input-group-btn">
                                <button title="{% trans %}Search{% endtrans %}" aria-label="{% trans %}Search{% endtrans %}" class="btn btn-sm btn-default">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 title-divider"></div>
            {% block news_content %}
            {% endblock news_content %}
        </section>
    </div>
</div>


{% endblock content %}
