{% macro messages(input) -%}
    {% for message in input.errors %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{%- endmacro %}

<form method="POST" action="{{ action }}" class="form-dataviva" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        <label for="title">Título</label>
        {{ form.title(class="form-control")}}
        {{ messages(form.title) }}
    </p>
    <p>
        <label for="authors">Autor</label>
        {{ form.authors(class="form-control")}}
        {{ messages(form.authors) }}
    </p>
    <p>
        <label for="subject">Categoria</label>
        {{ form.subject(class="form-control")}}
        {{ messages(form.subject) }}
    </p>
    <p>
        <label for="text_content">Texto</label>
        {{ form.text_content(class="form-control", rows=5)}}
        {{ messages(form.text_content) }}
    </p>
    <p>
        <label for="featured-image">Imagem em destaque<br />
            <small>Aceitamos artigos somente em formato PNG.</small>
        </label>
        {{ form.image}}
        {{ messages(form.image) }}
    </p>
    <p>
        <label for="thumb-image">Imagem reduzida<br />
            <small>Aceitamos artigos somente em formato PNG.</small>
        </label>
        {{ form.thumb}}
        {{ messages(form.thumb) }}
    </p>
    <button type="submit" class="btn btn-primary pull-right">Enviar</button>
</form>