{% extends "admin.html" %}

{% block breadcrumb %}
    <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
    <li class="active">Notícias</li>
{% endblock %}


{% block admin_content %}
<h1>Notícias</h1>

<table id="news-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="column-checkbox">
                <div class="checkbox checkbox-success">
                    <input name="postselector" type="checkbox">
                    <label for="check-all"></label>
                </div>
            </th>
            <th>Title</th>
            <th>Author(s)</th>
            <th>Publication Date</th>
            <th>Active</th>
        </tr>
    </thead>
</table>

<button id="admin-delete" class="btn btn-primary">Excluir</button>
<button id="admin-edit" class="btn btn-primary">Editar</button>
<a id="admin-new" class="btn btn-primary" href="/news/post/new">Novo</a>
<button id="admin-activate" class="btn btn-primary">Ativar/Desativar</button>
{% endblock admin_content %}