{% extends "admin.html" %}
{% block breadcrumb %}
    <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
    <li class="active">{% trans %}News{% endtrans %}</li>
{% endblock %}

{% block admin_content %}
<h1>{% trans %}News{% endtrans %}</h1>

<div id="message">
  {% if get_flashed_messages(with_categories=true) %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissable animated fadeInDown">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
</div>

<table id="news-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="column-checkbox">
                <div class="checkbox checkbox-success">
                    <input name="postselector" id="check-all" type="checkbox">
                    <label for="check-all"></label>
                </div>
            </th>
            <th>{% trans %}Title{% endtrans %}</th>
            <th></th>
            <th>{% trans %}Author(s){% endtrans %}</th>
            <th>{% trans %}Date{% endtrans %}</th>
            <th>Home</th>
            <th>{% trans %}Active{% endtrans %}</th>
        </tr>
    </thead>
</table>

<a id="admin-new" class="btn btn-success" href="/news/admin/publication/new"><i class="fa fa-plus m-r-sm"></i>{% trans %}New{% endtrans %}</a>
<button id="admin-edit" class="btn btn-primary"><i class="fa fa-pencil-square-o m-r-sm"></i>{% trans %}Edit{% endtrans %}</button>
<button id="admin-delete" class="btn btn-danger"><i class="fa fa-trash-o m-r-sm"></i>{% trans %}Delete{% endtrans %}</button>
<button id="admin-activate" class="btn btn-success pull-right">{% trans %}Activate{% endtrans %}</button>
<button id="admin-deactivate" class="btn btn-white pull-right m-r-sm">{% trans %}Deactivate{% endtrans %}</button>

{% include "modal/download_logs.html" %}

{% endblock admin_content %}

{% block js_assets %}
    <script src="/static/js/modules/news/table.js"></script>
{% endblock js_assets %}