{% extends "news/_base.html" %}

{% block breadcrumb %}
    <li class="active">{% trans %}News{% endtrans %}</li>
{% endblock %}

{% block news_content %}
    <div class="publication-list">
        {% for publication in publications %}
            <div class="item publication">
                <div class="thumbnail">
                    <a href="{{ url_for('news.show', id=publication.id) }}" title="{{ publication.title_pt }}">
                        <img src="{{ publication.thumb }}" class="thumbnail img-responsive">
                    </a>
                    {% for subject in publication.subjects if subject.language == g.locale %}
                        {% if loop.first %}
                            <span>{{ subject.name }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <h4>
                    <a href="{{ url_for('blog.show', id=publication.id) }}" title="{{ publication.title_pt }}">{{ publication.title_pt }}</a>
                </h4>
                <p>{{ publication.text_call_pt }}</p>
                <div class="meta">
                    <p class="read-more"><a href="{{ url_for('news.show', id=publication.id) }}" title="{{ publication.title_pt }}">{% trans %}Continue reading{% endtrans %}</a></p>
                    <p class="data">{% trans %}By{% endtrans %} {{ publication.author }} {{ publication.date() }}</p>
                </div>
            </div>
            <div class="clearfix"></div>
        {% endfor %}
        <nav>{{ pagination.links }}</nav>
    </div>
{% endblock news_content %}
