{% extends "news/_base.html" %}

{% block breadcrumb %}
    <li class="active">{% trans %}News{% endtrans %}</li>
{% endblock %}

{% block news_content %}
    {% if search_result %}
        <h2 class="search-result">
        {% if pagination.total == 1 %}
            1 {% trans %}result found for{% endtrans %} "{{ search_result }}"
        {% else %}
            {{ pagination.total }} {% trans %}results found for{% endtrans %} "{{ search_result }}"
        {% endif %}
        </h2>
    {% endif %}
    <div class="publication-list">
        {% for publication in publications %}
            <div class="item publication">
                <div class="thumbnail">
                    <a href="{{ url_for('news.show', id=publication.id) }}" title="{{ publication.thumb_src if publication.thumb_src }}">
                        <img src="{{ publication.thumb }}" class="thumbnail img-responsive">
                    </a>
                    <span>{{ publication.main_subject }}</span>
                </div>
                <h4>
                    <a href="{{ url_for('news.show', id=publication.id) }}" title="{{ publication.title }}">{{ publication.title }}</a>
                </h4>
                <p>{{ publication.text_call }}</p>
                <div class="meta">
                    <p class="read-more-w"><a href="{{ url_for('news.show', id=publication.id) }}" title="{{ publication.title }}">{% trans %}Read more{% endtrans %}<span class="glyphicon glyphicon-arrow-right" style="margin-left: 4px;" aria-hidden="true"></span></a></p>
                    <p class="data">{% trans %}By{% endtrans %} {{ publication.author }} {{ publication.date() }}</p>
                </div>
            </div>
            <div class="clearfix"></div>
        {% endfor %}
        <nav>{{ pagination.links }}</nav>
    </div>
{% endblock news_content %}
