{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row bg-white">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('general.home') }}">Home</a></li>
                <li><a href="{{ url_for('news.index') }}">{% trans %}News{% endtrans %}</a></li>
                <li class="active">{% trans %}Publish{% endtrans %}</li>
            </ol>
        </div>
    </div>

    <div class="container m-b-lg">
        <h1>{% trans %}Publish news{% endtrans %}</h1>
        {% include "news/_form.html" %}
    </div>
{% endblock content %}


{% block js_assets %}
    <script src="/static/js/modules/news/form.js"></script>
{% endblock js_assets %}