<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row bg-white">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('general.home') }}">Home</a></li>
                <li><a href="{{ url_for('news.index') }}">Notícias</a></li>
                <li class="active">Publicar</li>
            </ol>
        </div>
    </div>

    <div class="container">
        <h1>Publique uma notícia</h1>
        {% include "news/_form.html" %}
    </div>
{% endblock content %}
