{% extends "news/_base.html" %}

{%block facebook_metadata%}
    <meta property="og:image" content="{{ publication.thumb }}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="720" />
    <meta property="og:url" content="{{ url_for('news.show', id=publication.id, _external=True, _scheme='http') }}" />
    <meta property="og:title" content="{{ publication.title }}" />
    <meta property="og:description" content="{{ publication.text_call }}" />
    <meta property="og:type" content="article" />
{% endblock facebook_metadata %}

{% block breadcrumb %}
<li><a href="{{ url_for('news.index') }}">{% trans %}News{% endtrans %}</a></li>
<li class="active">{% trans %}Visualize{% endtrans %}</li>
{% endblock %}

{% block news_content %}
<div class="institucional search">
    <div class="articles">
        <div class="item publication single">
            <h4 id="title">{{ publication.title|safe }}</h4>
            <div class="meta">
                <p class="data">{% trans %}By{% endtrans %} {{ publication.author }} {{ publication.date() }}</p>
            </div>
            <ul class="social">
                <button id="share-button" class="btn btn-primary">{% trans %}Share{% endtrans %}</button>
            </ul>
            {{ publication.text_content|safe }}
            <div class="clearfix"></div>
            <div class="related">
                <h4>{% trans %}See also{% endtrans %}</h4>
                <div class="row">
                    {% for publication in read_more %}
                    <div
                        class="col-xs-12 col-sm-6 col-lg-4 {% if loop.last %} hidden-sm hidden-md {% endif %} read-more">
                        <a href="{{ url_for('news.show', id=publication.id) }}" title="{{ publication.title }}">
                            <img src="{{ publication.thumb }}" class="img-responsive">
                        </a>
                        <p><a href="{{ url_for('news.show', id=publication.id) }}" title="{{ publication.title }}">{{
                                publication.title }}</a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock news_content %}

{% block script %}
<script type="text/javascript" src="/static/js/modules/share/device.js"></script>
{% endblock %}