{% extends "help.html" %}

{% block title %}Scatter{% endblock %}

{% block body %}

<h2>What is the Scatter Plot?</h2>

<p>The Scatter Plot app shows either Industries or Products and their relationship (distance and overall complexity) with a specific location.</p>

<h2>Pie Chart Fill</h2>
<p>Each circle shown is filled in to a certain degree. The amount filled in depicts how many of the child elements the selected location has RCA in. Once you click a parent category, the child circles are filled in completely if the selected location has RCA in that category.</p>

<h2>Sizing</h2>
<p>The value (or size) of each circle can be mapped to a few different data points. For industry/occupation data, we can size by total monthly wages, number of employees, or number of establishments (as seen below).</p>
<div class="ui_group">
  <legend>Sizing</legend>
  <input type="radio" name="sizing_isic" value="wage" checked>
  <label for="wage">wage</label>
  <input type="radio" name="sizing_isic" value="num_emp">
  <label for="num_emp">num_emp</label>
  <input type="radio" name="sizing_isic" value="num_est">
  <label for="num_est">num_est</label>
</div>

<p>For product export data, we can size the circls by total weight (in kg) of the product traded, or total trade value (in $USD).</p>
<div class="ui_group">
  <legend>Sizing</legend>
  <input type="radio" name="sizing_hs" value="val_kg" checked>
  <label for="val_kg">val_kg</label>
  <input type="radio" name="sizing_hs" value="val_usd">
  <label for="val_usd">val_usd</label>
</div>

<p>The sizing selector is located in the app controls, and can be shown by clicking "Show App Controls" in the menu on the top right of the interface.</p>

<h2>Color</h2>
<p>The color of the different circles is used to differentiate between the different category groupings of the items being shown (this varies with the question being asked). For example, when viewing the question <a href="/builder/pie_scatter/mte/mg/all/all/isic/" target="_blank">What industries locate in Minas Gerais?</a> the colors correspond to the various industry categories:</p>
<img id="key_isic" src="/static/img/help/key/key_isic.jpg">

<h2>Nesting</h2>
<p>Another important part of the Scatter Plot app is its ability to show the nestedness (or hierarchy) of a dataset. Here we leverage the interactivity of the web platform to show the children of any parent category on click.

{% endblock %}

{% block js %}

  <script type="text/javascript">
  
    dataminas.toggle("sizing_isic");
    dataminas.toggle("sizing_hs");
    dataminas.resize();
  
  </script>
  
{% endblock %}