{% extends "help.html" %}

{% block title %}Rings{% endblock %}

{% block body %}

<h2>What is Rings?</h2>
<p>The Rings visualization is an app used to show the primary and secondary connections of a product, industry, or occupation. Connections are determined using the corresponding network layout.</p>

<h2>Color</h2>
<p>The color of the different nodes is used to differentiate between the different category groupings of the items being shown. For example, the colors corresponding to the various industry categories are as follows:</p>
<img id="key_isic" src="/static/img/help/key/key_isic.jpg">


{% endblock %}