{% extends "templates/site.html" %}

{% block title %}: {% trans %}Industry{% endtrans %}{% endblock %}

{% block body %}

  <div class="darkbox"><h1>{% trans %}What are you interested in?{% endtrans %}</h1></div>
  <br>
  <a id="hs" class="decision icon square hs" onclick="linker(this.id)">
    {% trans %}Product Exports{% endtrans %}
  </a>

  <a id="cnae" class="decision icon square cnae" onclick="linker(this.id)">
    {% trans %}Establishments and Employment{% endtrans %}
  </a>

{% endblock %}

{% block js %}

  <script>

    path = "{{g.path}}".split("/")

    function linker(id) {
      if (path[2] == "bra") {
        if (path[4] == "attract") var new_url = path.join("/")+id+"/select/"
        else if (path[4] == "industry") {
          path[4] = id
          var new_url = path.join("/")
        }
        else var new_url = path.join("/")+id+"/"
      }
      else {
        var new_url = "/guide/"+id+"/select/"
      }
      window.location = new_url
    }

  </script>

{% endblock %}
