<!-- extend admin_template -->
{% extends "templates/admin.html" %}

{% block admin_content %}

{% if activity_type == "starred" %}
<h5>Starred <i class=" icon-star-empty"></i></h5>
{% elif activity_type == "questions" %}
<h5>Questions</h5>
{% elif activity_type == "replies" %}
<h5>Replies</h5>
{% else %}
<h5>History</h5>
{% endif %}
<hr class="bold"/>

<div class="feed"></div>

<script src="/static/js/utils/utils.infinite_scroll.js"></script>
<script>

var is = infinite_scroll();

d3.select(".feed")
  .call(is)

</script>

{% endblock %}