<html lang="{{ g.locale }}">
<head>
    <meta charset="utf-8">
    <title>DataViva</title>
    {% include "graphs/css_assets.html" %}
    <script src="//d3plus.org/js/topojson.js"></script>
    {% include "graphs/js_assets.html" %}
</head>
<body>
    {% include "graphs/tools.html" %}
    <div id="map"
        class="embed-responsive responsive-wrapper"
        dataset="{{ dataset }}"
        value="{{ value }}"
        filters="{{ filters }}"
        graph-title="{{ title }}"
        graph-subtitle="{{ subtitle }}"
        state="{{ state }}">
    </div>
    <div id="controls"></div>
    <div id="mask" class="loading"></div>

    <script type="text/javascript">
        var dictionary = {{ dictionary|safe }};
    </script>
    <script type="text/javascript" src="/static/js/graphs/helper.js"></script>
    <script type="text/javascript" src="/static/js/modules/map.js"></script>
    <script type="text/javascript" src="/static/js/graphs/tools.js"></script>
</body>
