#promoters h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

h3 {
    font-size: 27px;
    line-height: normal;
    font-weight: 500;
    text-align: justify;
}

p {
	text-align: justify;
}