.admin #admin {
    min-width: 440px;
}

.admin .admin-main {
    text-align: center;
    min-width: 440px;
}

.admin .admin-main img {
    display: inline-block;
    height: 100px;
}

.admin .admin-main .btn {
    font-size: 30px;
    min-width: 300px;
    min-height: 110px;
    margin-bottom: 15px;
}

@media (max-width: 991px) {
  .admin .admin-main .btn {
    margin: 15px;
  }
}