.blog section {
  margin-bottom: 4.5rem;
}

.blog .main-content {
  padding-bottom: 2rem;
}

.blog a {
  text-decoration: none;
}

.blog label {
  text-decoration: none;
  font-weight: 500;
}

.blog li input {
  width: 15px;
  height: 15px;
  margin-top: 0px;
}

.read-more-w {
  color: rgba(66, 78, 96, 1);
  font-size: 16px;
  font-weight: 600;
}

.blog h1 {
  margin: 0px 0px 15px 0px;
  font-size: 36px;
  font-weight: 500;
}

.blog textarea {
  resize: none;
}

.checkBoxes label {
  margin: 0px 0px 0px 6px;
}

.checkBoxes {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.checkBoxes label {
  margin: 0px 0px 0px 6px;
}

.checkBoxes {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.blog .post .thumbnail {
  border: none;
  float: left;
  margin-right: 20px;
  padding: 0;
  position: relative;
}

.blog .thumbnail {
    height: 212px;
    width: 142px;
}

.blog .read-more {
  text-align: center;
}

.blog .read-more img {
  height: 165px;
  width: 254px;
  display: inline-block;
}

.blog .post .thumbnail span {
  background: rgba(66, 78, 96, 0.3);
  bottom: 0;
  color: #FFF!important;
  font-size: 9px;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  border-radius: 4px;
}

.blog .related h4 {
  color: #666;
  font-size: 25px;
  font-weight: 300;
}

.blog .related p {
  font-size: 14px;
  font-weight: 300;
}

.blog .related p,
.blog .related p a {
  color: #666;
}

.blog .single big {
  color: #5a9dc4;
}

.blog .single blockquote {
  border: none;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  padding-bottom: 0;
}

.blog .single p {
  color: #666;
  font-size: 14px;
}

.blog .social {
  margin-bottom: 2rem;
  padding: 0;
}

.blog .social li {
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  overflow: hidden;
}

.blog .comments h4 {
  color: #666;
  font-size: 25px;
  font-weight: 300;
}

.blog .item h4 {
  font-size: 20px;
  margin: 0;
}

.blog .item h4 a {
  color: #423434;
}

.blog .item h4 a:hover {
  opacity: 0.8;
}

.blog .item p {
  color: #9c9c9c;
  font-size: 13px;
  margin: 0;
}

.blog .item+.item {
  margin-top: 2rem;
}

.blog .post h4 {
  font-size: 25px;
  font-weight: 300;
}

.blog .post h4,
.blog .post h4 a {
  color: rgba(71, 74, 77, 1);
  font-weight: 500;
}

.blog .post p {
  color: #666;
  font-size: 13px;
}

.blog .post p.data {
  color: #666;
  text-transform: uppercase;
}

.blog .post p.data a {
  text-transform: none;
  color: inherit;
}

.blog .post p.data a:not(.active):hover {
  color: #23527c;
}

.blog .post p.data a.active {
  font-weight: bold;
  cursor: default;
  pointer-events: none;
}

.blog .post h4,
.blog .post p {
  margin: 0 0 12px;
}

.blog .post:before {
  display: none;
}

.blog .post-list nav {
  text-align: center;
}

.blog .post-list nav .pagination {
  font-size: 15px;
  display: inline-block;
}

.blog .thumb .thumb-controls img {
  width: 350px;
  height: 227px;
}

.blog .thumb .thumb-controls .crop-preview {
  overflow: hidden;
  text-align: center;
  display: none;
  width: 350px;
  height: 227px;
}

.blog .thumb .thumb-controls .crop-buttons {
  display: none;
}

.blog .thumb .thumb-controls .thumb-buttons,
.blog .thumb .thumb-controls .crop-buttons {
  text-align: center;
}

.blog .thumb .thumb-controls label {
  display: inline-block;
}

.blog .thumb .thumb-crop {
  max-height: 550px;
}

.blog #blog-form .form-group {
  margin: 0px;
  margin-bottom: 20px;
}


.blog .control-label {
  margin-bottom: 0px;
}


@media (max-width: 767px) {
  .blog #blog-form .form-group {
    margin-bottom: 20px;
  }
}


@media (max-width: 1199px) {
  .blog .read-more {
    text-align: center;
  }

  .blog .read-more img {
    height: 227px;
    width: 350px;
    display: inline-block;
  }

  .blog .read-more img {
    height: 227px;
    width: 350px;
    display: inline-block;
  }
}

.sidebar-blog {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 20px;
}

.sidebar-blog-h3 {
  border-bottom: none!important;
  color: rgba(103, 106, 108, 1);
  font-weight: 600!important;

}

.blog .sidebar ul li a.active {
  text-decoration: none;
  font-weight: bold;
}

.blog .checkbox-switch {
  padding: 0px;
  border: none;
}

.blog .checkbox-switch .switchery {
  height: 33px;
}

.blog .checkbox-switch .switchery>small {
  height: 33px;
  width: 33px;
}

@media(max-width: 500px) {
  .responsive {
    margin-bottom: 40px!important;
  }
}

.blog figure figcaption {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 12px;
}

.blog .note-editor img,
.blog figure {
  margin: 20px;
  text-align: center;
}

.blog .col-sm-6 .dataTables_filter {
  display: inline;
}

.blog .dataTables_wrapper .col-sm-6 .dt-buttons.btn-group {
  margin-left: 6px;
}

.blog .search-form-wrapper {
  padding-top: 5px;
}

.blog .search-result {
  margin-top: 0px;
  margin-bottom: 20px;
}

@media (min-width: 500px) {
  .blog .visu-wrapper {
    height: 607px
  }
}

@media (min-width: 300px) and (max-width: 499px) {
  .blog .visu-wrapper {
    height: 440px;
  }
}

@media (max-width: 299px) {
  .blog .visu-wrapper {
    height: 330px;
  }
}

@media (max-width: 380px) {
  .blog .visu-wrapper {
    margin: 0px -15px 0 -15px;
  }
}