.build_graph .sidebar .form-group .control-label{
    font-size: 18px;
    font-weight: 300;
}
.build_graph .sidebar .btn-outline {
    background: #fff none repeat scroll 0 0;
    border-color: #eee;
    color: #666;
    font-weight: lighter;
    text-align: left;
}
.build_graph .sidebar .btn-outline:hover, .build_graph .sidebar .btn-outline:active {
    border-color: #965566;
    color: #965566;
}
.build_graph .sidebar #dimensions .form-group .btn {
    margin-top: 2px;
}
.build_graph .dropdown-select {
    margin-bottom: 10px;
}
.build_graph .dropdown-menu .graph-link {
    width: 242px;
    height: 30px;
    font-size: 18px;
}

@media (max-width: 1199px) {
    .build_graph .dropdown-menu .graph-link {
        width: 242px;
        height: 30px;
        font-size: 18px;
    }
}

#dimensions .form-group {
    margin-bottom: 25px;
}