.build_graph .sidebar .form-group .control-label{
    font-size: 18px;
    font-weight: 300;
}
.build_graph .sidebar .btn-outline {
    background: #fff none repeat scroll 0 0;
    border-color: #eee;
    color: #666;
    font-weight: lighter;
    text-align: left;
}
.build_graph .sidebar #dimensions .form-group .btn {
    margin-top: 2px;
}