
.category .header {
  height: 420px;
  position: relative;
}
.category .header .summary-box{
  background: #FFFFFF;
  background: rgba(255,255,255,.8);
  padding: 30px 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 15%;
}

.category .header .summary-box .portrait {
  font-size: 40px;
  text-align: center;
  transition: 0.4s;
  margin: 0 10px 0 0;
  float: left;
}

.category .header .summary-box h1 {
  display: inline-block;
  color: #666666;
  font-weight: 400;
  margin: 3px;
  float: left;
}

.category .header .summary-box .indices {
    margin: 10px -10px 15px;
}

.category .header .summary-box .year {
    text-transform: uppercase;
    font-size: 12px;
}

.category .header h1 a {
  color: #5a9dc4;
  font-size: 12px;
  font-weight: 600;
}


.category .nav-tabs {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  height: auto;
  overflow: auto;
}
.category .nav-tabs li {
  background: rgba(229, 241, 233, 0.37);
  margin: 0px;
  font-size: 13px;
  font-weight: 300;
}
.category .nav-tabs li a {
  text-decoration: none;
  border: none;
  margin: 0;
  color: #798594 ;
}
.category .nav-tabs li.active a {
  background: #2d3a4e ;
  text-decoration: none;
  border: none;
  color: #FFF;
  margin: 0;
}

.category .nav-tabs li a {
  border-radius: 0;
  display: block;
  font-size: 16px;
  line-height: 40px;
  padding: 0 2rem;
}
.category .profile > nav {
  background: rgba(229, 241, 233, 0.37);
}

@media (max-width: 767px) {
  .category .nav-tabs {
    margin: 0 -15px;
  }
  .category .nav-tabs li {
    display: block;
    float: none;
  }
  .category .header .summary-box{
    padding: 20px 0;
  }
  .category .profile .tab-content {
    margin-top: 0px;
  }
}



.category .tab-content, .category .graphs > div:first-child {
    padding: 40px 0;
}


/* WIDGETS */
.category .widget {
  font-size: 10px;
  font-weight: 400;
  border-bottom: 3px solid #798594 ;
  margin: 0px 10px;
}
.category .widget h2 {
  font-size: 10px;
  font-weight: 400;
  height: 10px;
}
.category .widget .number {
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  margin-top: -5px;
}
.category .widget .number .counter {
  font-size: 29px;
  font-weight: 700;
}
.category .widget .number .magnitude {
  display: block;
  font-size: 12px;
  margin-top: -7px;
  height: 15px;
}
/** Carousel **/
.category .jcarousel-wrapper {
  position: relative;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .category .jcarousel-wrapper {
    padding: 0px 40px;
  }
}
.category .jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.category .jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.category .jcarousel li {
  float: left;
}
.category .jcarousel-control-prev,
.category .jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 45px;
  color: #5A9DC4;
}
.category .jcarousel-control-prev:hover,
.category .jcarousel-control-prev:focus,
.category .jcarousel-control-next:hover,
.category .jcarousel-control-next:focus {
  text-decoration: none;
}
.category .jcarousel-control-prev {
  left: -25px;
}
@media (max-width: 767px) {
  .category .jcarousel-control-prev {
    left: 0px;
  }
}
.category .jcarousel-control-next {
  right: -10px;
}
@media (max-width: 767px) {
  .category .jcarousel-control-next {
    right: 0px;
  }
}

/* DESCRIPTION LISTS */
.category .dl-box {
  min-height: 360px;
  position: relative;
}
.category .dl-box .btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.category dl dt{
  font-weight: normal;
  white-space: normal;
}
.category dl dd{
  font-size: 18px;
  line-height: 1.1em;
  font-weight: bold;
  margin-bottom: 20px;
}
.category dl dd small{
  display: block;
  text-transform: uppercase;
  font-size: .65em;
  margin-bottom: .1em;
}


@media (max-width: 767px) {
  .category dl dd span{
    display: inline;
  }
  .category .dl-box {
    min-height: 0;
  }
}

.category .table.data-detail {
  margin-bottom: 0px;
}
.category table.data-detail > tbody td,
.category table.data-detail > tbody th {
  border-top: none;
  vertical-align: top;
  width: 50%;
}
.category table.data-detail > tbody td {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
.category table.data-detail > tbody td,
.category table.data-detail > tbody td .label {
  color: #2d3a4e;
}
.category table.data-detail > tbody td .label {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}
.category table.data-detail > tbody td span {
  display: block;
}
.category table.data-detail > tbody th {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: right;
}
.category .profile h3 {
  height: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #2d3a4e;
  margin: 20px 0 20px
}
.category .table-responsive {
  height: 280px;
}

.category .graphs {
  margin-top: 40px;
}
.category .graphs .embed-responsive {
  max-height: 900px;
}


.category .nav-graph h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px;
}
.category .nav-graph h4 a {
    padding-left: 10px;
    color: inherit;
}
.category .nav-graph .panel {
   border: 1px solid #000;
   border-radius: 0px;
   margin: 0px;
}
.category .nav-graph .collapse a,
.category .nav-graph .collapsing a {
    padding: 5px 10px 5px 40px;
}
.category .nav-graph .list-group-item {
  margin: 0px;
  border: none;
  border-radius: 0;
  font-size: 14px;
}

.category .nav-graph .list-group-item.selected {
  background: #2d3a4e;
  color: #FFF;
}

.category .nav-graph .list-group-item:active,
.category .nav-graph .list-group-item:focus {
  background: #2d3a4e;
  color: #FFF;
}

/* Responsive graph */
@media (min-width: 500px) {
  .responsive-wrapper {min-height: 607px;}
}
@media (min-width: 300px) and (max-width: 499px) {
  .responsive-wrapper {height: 440px;}
}
@media (max-width: 299px) {
  .responsive-wrapper {height: 330px;}
}
.responsive-frame {
    max-width: 868px;
    height: auto;
    margin: 0px auto;
}
.responsive-wrapper {
    position: relative;
}
.graph-placeholder {
    display: block;
    width: 100%;
    height: 100%;
}
