.help .form-group.search input,
.help .form-group.search input:focus {
    min-width: 310px;
    border: 1px solid #e5e6e7 !important;
    border-left: 0px !important;
    padding-left: 10px;
}
.help .form-group.search .input-group-addon {
    color:#2D3A4E;
    border-right: 0px;
    padding-right: 0px;
}

.help h2 {
    border-bottom: 4px solid #2D3A4E;
    color: inherit;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.help .faq .panel-group .panel {
    border: none;
    background: none;
}

/*.help .faq .panel-group .panel-default .panel-heading {
    border: none;
    background: none;
}*/

.help .panel-group .panel-default .panel-heading {
    border: none;
    background: none;
    background-color: #fff;
}

.help .panel-heading a {
    color: #798594 !important;
}

.help .faq .panel-group .panel-default a {
    text-decoration: none;
    color: #798594 !important;
    font-weight: 500;
    line-height: 1.1;
    font-size: 14px;
}

.help .panel-default {
    border: none;
}

.help .faq .panel-group .panel-default .panel-body {
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
}

.help .faq .panel-group .panel-default .panel-heading {
    padding-left: 0;
    padding-right: 0;
}

.help #home a {
    color: #333;
}

/* HELP DATATABLES */

.help .dataTables_wrapper .dataTables_filter {
    display: inline;
}

.help .dataTables_scrollHeadInner .dataTable th {
    text-align: center;
    vertical-align: middle;
}

.help .dataTables_scrollBody .dataTable td.table-number {
    text-align: right;
}

.help table.dataTable thead .sorting:after,
.help table.dataTable thead .sorting_asc:after,
.help table.dataTable thead .sorting_desc:after,
.help table.dataTable thead .sorting_asc_disabled:after,
.help table.dataTable thead .sorting_desc_disabled:after {
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
}

/* HELP CROSSWALK DATATABLES */

.help .crosswalk-pi-wrapper,
.help .crosswalk-ip-wrapper,
.help .crosswalk-oc-wrapper,
.help .crosswalk-co-wrapper {
    padding-bottom: 30px;
    min-height: 300px;
}

.help .crosswalk-pi-wrapper .crosswalk-pi-content,
.help .crosswalk-ip-wrapper .crosswalk-ip-content,
.help .crosswalk-oc-wrapper .crosswalk-oc-content,
.help .crosswalk-co-wrapper .crosswalk-co-content {
    display: none;
}

.help .crosswalk-pi-content .dataTable,
.help .crosswalk-ip-content .dataTable,
.help .crosswalk-oc-content .dataTable,
.help .crosswalk-co-content .dataTable {
  border-radius: 0;
}

.help .crosswalk-pi-content .dataTable thead tr th,
.help .crosswalk-ip-content .dataTable thead tr th,
.help .crosswalk-oc-content .dataTable thead tr th,
.help .crosswalk-co-content .dataTable thead tr th {
  background: #eee;
  border-bottom: 1px solid #ddd;
}

/* HELP CLASSIFICATIONS DATATABLES */

.help .classifications-locations-wrapper,
.help .classifications-industries-wrapper,
.help .classifications-occupations-wrapper,
.help .classifications-products-wrapper,
.help .classifications-trade-partners-wrapper,
.help .classifications-majors-wrapper,
.help .classifications-ports-wrapper,
.help .classifications-demographic-informations-wrapper,
.help .classifications-datasus-wrapper,
.help .classifications-establishment-informations-wrapper,
.help .classifications-universities-wrapper,
.help .classifications-basic-courses-wrapper {
    padding-bottom: 30px;
    min-height: 300px;
}

.help .classifications-locations-content .dataTable,
.help .classifications-industries-content .dataTable,
.help .classifications-occupations-content .dataTable,
.help .classifications-products-content .dataTable,
.help .classifications-trade-partners-content .dataTable,
.help .classifications-majors-content .dataTable,
.help .classifications-ports-content .dataTable,
.help .classifications-demographic-informations-content .dataTable,
.help .classifications-datasus-content .dataTable,
.help .classifications-establishment-informations-content .dataTable,
.help .classifications-universities-content .dataTable,
.help .classifications-basic-courses-content .dataTable {
  border-radius: 0;
}

.help .classifications-locations-content .dataTable thead tr th,
.help .classifications-industries-content .dataTable thead tr th,
.help .classifications-occupations-content .dataTable thead tr th,
.help .classifications-products-content .dataTable thead tr th,
.help .classifications-trade-partners-content .dataTable thead tr th,
.help .classifications-majors-content .dataTable thead tr th,
.help .classifications-ports-content .dataTable thead tr th,
.help .classifications-demographic-informations-content .dataTable thead tr th,
.help .classifications-datasus-content .dataTable thead tr th,
.help .classifications-establishment-informations-content .dataTable thead tr th,
.help .classifications-universities-content .dataTable thead tr th,
.help .classifications-basic-courses-content .dataTable thead tr th {
  background: #eee;
  border-bottom: 1px solid #ddd;
}

.help .classifications-locations-control,
.help .classifications-industries-control,
.help .classifications-occupations-control,
.help .classifications-products-control,
.help .classifications-trade-partners-control,
.help .classifications-majors-control,
.help .classifications-ports-control,
.help .classifications-demographic-informations-control,
.help .classifications-datasus-control,
.help .classifications-establishment-informations-control,
.help .classifications-basic-courses-control {
    display: inline-block;
    margin-bottom: 10px
}

.help .classifications-locations-control .btn-group,
.help .classifications-industries-control .btn-group,
.help .classifications-occupations-control .btn-group,
.help .classifications-products-control .btn-group,
.help .classifications-trade-partners-control .btn-group,
.help .classifications-majors-control .btn-group,
.help .classifications-ports-control .btn-group,
.help .classifications-demographic-informations-control .btn-group,
.help .classifications-datasus-control .btn-group,
.help .classifications-establishment-informations-control .btn-group,
.help .classifications-basic-courses-control .btn-group,
.help .buttons-html5 {
    margin-right: 5px;
}

.help .classifications-locations-control .btn-group button.active,
.help .classifications-industries-control .btn-group button.active,
.help .classifications-occupations-control .btn-group button.active,
.help .classifications-products-control .btn-group button.active,
.help .classifications-trade-partners-control .btn-group button.active,
.help .classifications-majors-control .btn-group button.active,
.help .classifications-ports-control .btn-group button.active,
.help .classifications-demographic-informations-control .btn-group button.active,
.help .classifications-datasus-control .btn-group button.active,
.help .classifications-establishment-informations-control .btn-group button.active,
.help .classifications-basic-courses-control .btn-group button.active {
    background-color: #E6673D;
    border-color: #E6673D;
    color: #FFFFFF;
}

.help .sidebar a.active {
    text-decoration: none;
    font-weight: bold;
}

.help section nav ul li ol {
    padding-left: 20px;
}
