.home section {
  padding: 4.5rem 0;
}
.home h2 {
  font-size: 35px;
}
.home h2 + .tagline {
  font-size: 12px;
  margin: 0 auto;
  max-width: 85rem;
}
.home .navy-line {
  width: 60px;
  height: 1px;
  margin: 15px auto 0;
  border-bottom: 2px solid #9EDDBF;
}
/* WELCOME SECTION BEGIN */
.home .welcome h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2px;
}
.home .welcome .btn {
  font-size: 16px;
  font-weight: 300;
}
.home .welcome ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.home .welcome ul li {
  margin-bottom: 25px;
  border-bottom: 1px solid #8ccfe3;
}
.home .welcome ul li a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.home .welcome ul li a:focus,
.home .welcome ul li a:hover {
  color: #5a9dc4;
}
/* WELCOME SECTION END */
/* WELCOME DATABASES BEGIN */
.home .databases a:not(.btn) {
  cursor: pointer;
  text-decoration: none;
}
.home .databases .inner {
  background-color: #F2F6F4;
}
.home .databases h3 {
  font-size: 24px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .home .databases .database-icons {
    margin: auto 15%;
  }
}
@media (max-width: 640px) {
  .home .databases .database-icons {
    margin: 0px;
  }
}
.home .databases .database-icons button {
  color: #9EDDBF;
  font-size: 80px;
  border-radius: 50%;
  padding: 0px;
  width: 100px;
  height: 100px;
  border: none;
  transition: 0.4s;
}
.home .databases .database-icons button .dv-occupation {
  position: relative;
  top: -4px;
}
.home .databases .database-icons button .dv-industry {
  position: relative;
  top: -5px;
  font-size: 75px;
}
.home .databases .database-icons button .dv-product {
  position: relative;
  top: -4px;
  font-size: 80px;
}
.home .databases .database-icons button .dv-trade-partner {
  position: relative;
  top: -10px;
  font-size: 55px;
}
.home .databases .database-icons button .dv-university {
  position: relative;
  top: -10px;
  left: -1px;
  font-size: 65px;
}
.home .databases .database-icons button .dv-major {
  position: relative;
  top: -10px;
  left: -1px;
  font-size: 65px;
}
.home .databases .database-icons button .dv-basic-course {
  position: relative;
  top: -12px;
  left: 4px;
  font-size: 62px;
}
.home .databases .popover {
  font-size: 12px;
  margin: 0 -10px;
  padding: 15px;
}
.home .databases a p {
  margin: 0;
}
/* WELCOME DATABASES END */
/* SIGN UP BEGIN */
.home .signup .btn {
  font-size: 17px;
  font-weight: 300;
}
/* SIGN UP END */
/* MIDIA BEGIN */
.home .midia .img-responsive {
  margin: 0 auto;
}
/* MIDIA END */
