.news section {
  margin-bottom: 4.5rem;
}
.news .main-content {
    padding-bottom: 2rem;
}
.news a {
  text-decoration: none;
}

.news label {
  text-decoration: none;
  font-weight: 500;
}

.news li input {
  width: 15px;
  height: 15px;
  margin-top: 0px;
}

.read-more-w {
  color: rgba(66, 78, 96, 1) !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-decoration: none;
}

.read-more-w a{
  color: rgba(66, 78, 96, 1) !important;
  text-decoration: none;
}

.news h1 {
  margin: 0px 0px 15px 0px;
  font-size: 36px;
  font-weight: 500;
}
.news textarea {
    resize: none;
}
.news .publication .thumbnail {
  border: none;
  float: left;
  margin-right: 20px;
  padding: 0;
  position: relative;
}

.news .thumbnail {
  height: 212px;
  width: 142px;
}

.news .publication .thumbnail span {
  background: rgba(66, 78, 96, 0.3);
  bottom: 0;
  color: #FFF!important;
  font-size: 9px;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  border-radius: 4px;
}
.news .related h4 {
  color: #666;
  font-size: 25px;
  font-weight: 300;
}
.news .related p {
  font-size: 14px;
  font-weight: 300;
}
.news .related p,
.news .related p a {
  color: #666;
}
.news .single big {
  color: #5a9dc4;
}
.news .single blockquote {
  border: none;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  padding-bottom: 0;
}
.news .single p {
  color: #666;
  font-size: 14px;
}
.news .social {
  margin-bottom: 2rem;
  padding: 0;
}
.news .social li {
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  overflow: hidden;
}

.news .comments h4 {
  color: #666;
  font-size: 25px;
  font-weight: 300;
}
.news .item h4 {
  font-size: 20px;
  margin: 0;
}
.news .item h4 a {
  color: #423434;
}
.news .item h4 a:hover {
  opacity: 0.8;
}
.news .item p {
  color: #9c9c9c;
  font-size: 13px;
  margin: 0;
}
.news .item + .item {
  margin-top: 2rem;
}
.news .publication h4 {
  font-size: 25px;
  font-weight: 300;
}
.news .publication h4,
.news .publication h4 a {
  color: #666;
}
.news .publication p {
  color: #666;
  font-size: 13px;
}
.news .publication p.data {
  color: #666;
  text-transform: uppercase;
}
.news .publication p.data a {
  text-transform: none;
  color: inherit;
}
.news .publication p.data a:not(.active):hover {
  color: #23527c;
}
.news .publication p.data a.active {
  font-weight: bold;
  cursor: default;
  pointer-events: none;
}
.news .publication h4,
.news .publication p {
  margin: 0 0 10px;
}

.news .publication:before {
  display: none;
}
.news .publication-list nav {
    text-align: center;
}
.news .publication-list nav .pagination {
    font-size: 15px;
    display: inline-block;
}

.news .thumb .thumb-controls img {
    width: 350px;
    height: 227px;
}
.news .thumb .thumb-controls .crop-preview {
    overflow: hidden;
    text-align: center;
    display: none;
    width: 350px;
    height: 227px;
}
.news .thumb .thumb-controls .crop-buttons {
    display: none;
}
.news .thumb .thumb-controls .thumb-buttons,
.news .thumb .thumb-controls .crop-buttons {
    text-align: center;
}
.news .thumb .thumb-controls label {
    display: inline-block;
}
.news .thumb .thumb-crop {
    max-height: 550px;
}
.news .checkbox-switch {
    padding: 0px;
    border: none;
}

.news .checkbox-switch .switchery{
    height: 33px;
}

.news .checkbox-switch .switchery > small {
    height: 33px;
    width: 33px;
}
 
.news .sidebar ul li a.active {
    text-decoration: none;
    font-weight: bold;
}

.news figure figcaption {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 12px;
}

.news .note-editor img, .news figure {
    margin: 20px;
    text-align: center;
}

.news .col-sm-6 .dataTables_filter {
  display: inline;
}

.news .dataTables_wrapper .col-sm-6 .dt-buttons.btn-group {
  margin-left: 6px;
}

.news .search-result {
  margin-top: 0px;
  margin-bottom: 20px;
}

@media (min-width: 500px) {
  .news .visu-wrapper {
    height: 607px
  }
}
@media (min-width: 300px) and (max-width: 499px) {
  .news .visu-wrapper {
    height: 440px;
  }
}
@media (max-width: 299px) {
  .news .visu-wrapper {
    height: 330px;
  }
}
@media (max-width: 380px) {
  .news .visu-wrapper {
    margin: 0px -15px 0 -15px;
  }
}

.sidebar-news {
  border-bottom: 1px solid #f2f2f2;
}

.sidebar-news-h3 {
  border-bottom: none!important;
  color: rgba(103, 106, 108, 1);
  font-weight: 600!important;

}

.checkBoxes label {
  margin: 0px 0px 0px 6px;
}

.checkBoxes {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}