.rankings .nav-rankings {
    margin-top: 50px;
}

.rankings .nav-rankings .list-group .list-group-item {
    background-color: #f5f5f5;
    color: #337AB7;
    font-size: 16px;
    font-weight: 100;
    border: none;
    margin: 0px;
    padding: 0px;
}
.rankings .nav-rankings .list-group .list-group-item:focus,
.rankings .nav-rankings .list-group .list-group-item:active {
}
.rankings .nav-rankings .list-group .list-group-item:nth-child(odd) {
    background-color: #DFE7E2;
}
.rankings .nav-rankings .list-group-item a {
    text-decoration: none;
    padding-left: 2rem;
    line-height: 40px;
    display: block;
}
.rankings .nav-rankings .list-group-item.active,
.rankings .nav-rankings .list-group-item.active a,
.rankings .nav-rankings .list-group-item a:active,
.rankings .nav-rankings .list-group-item a:focus {
    background-color: #5A9DC4;
    color: #FFF;
}
.rankings .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.rankings .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.rankings .nav-rankings .list-group-item .list-subgroup {
    background-color: #FFF;
}
.rankings .nav-rankings .list-group-item .list-subgroup a:first-child {
    padding-top: 15px;
}
.rankings .nav-rankings .list-group-item .list-subgroup a:last-child {
    padding-bottom: 15px;
}
.rankings .nav-rankings .list-group-item .list-subgroup a {
    font-size: 13px;
    font-weight: 300;
    display: block;
    line-height: 25px;
}
.rankings .nav-rankings .list-group-item .list-subgroup a.active,
.rankings .nav-rankings .list-group-item .list-subgroup a:active,
.rankings .nav-rankings .list-group-item .list-subgroup a:focus {
    font-weight: bold;
    background-color: #FFF;
    color: #337AB7;
}

.rankings .rankings-control {
    display: inline-block;
    margin-bottom: 10px
}

.rankings .rankings-control .year-selector {
    display: inline;
    width: 85px;
    margin-right: 5px;
}

.rankings .rankings-control .btn-group {
    margin-right: 5px;
}

.rankings .dataTables_wrapper {
    width: 100%;
}
.rankings .dataTables_wrapper .dataTables_filter {
    display: inline;
}
