.search section.profiles {
    padding: 20px 20px 15px 20px;
    border-radius: 10px;
}
@media (max-width: 991px) {
    .search section.profiles .profile {
        margin-bottom: 10px;
    }
}
.search section.profiles h2 {
    color: #FFF;
    margin-bottom: 4.5rem;
    font-size: 25px;
    font-weight: 300;
}
.search section.profiles .profile h3 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 12px;
    color: #FFF;
}
.search section.profiles .profile p {
    color: #FFF;
    text-align: left;
    line-height: 18px;
}

.search section.profiles .map-div{
    margin-top:6px;
    margin-bottom: 16px;
}


@media (max-width:768px){
    .map-div{
        display: none;
    }
  }


.search section.profiles .access-button {
    margin-top:10px;
}
.search section.profiles .profile h4 {
    font-size: 14px;
    font-weight: 300;
}
.search section.profiles .profile a {
    background-color: #FFF;
    border-radius: 5px;
    display: block;
    height: 110px;
    padding: 10px;
    color: inherit;
    text-decoration: none;
}
@media (max-width: 1199px) {
    .search section.profiles .profile a {
        height: 125px;
    }
}
@media (max-width: 991px) {
    .search section.profiles .profile a {
        height: 100px;
    }
}
.search section.profiles .profile a i {
    color: #2d3a4e ;
    font-size: 50px;
    margin-right: 10px;
}
@media (max-width: 1199px) {
    .search section.profiles .profile a i {
        font-size: 35px;
    }
}
@media (max-width: 991px) {
    .search section.profiles .profile a i {
        font-size: 60px;
    }
}

.search section.profiles .profile a:hover,
.search section.profiles .profile a:focus,
.search section.profiles .profile a:hover i,
.search section.profiles .profile a:focus i {
    color: #2d3a4e ;
}



.search section.search-options .search-option {
    margin-bottom: 10px;
    padding-left: 2px!important;
    padding-right: 2px!important;
}
.search section.search-options h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 20px 0;
    font-weight: 300;
}
.search section.search-options .search-option h3 {
    font-size: 18px;
    line-height: 34px;
    font-weight: 500;
}

@media (min-width:991px) and (max-width:1200px) {
    .search section.search-options .search-option {
        margin-bottom: 10px;
        padding-left: 2px!important;
        padding-right: 2px!important;
    }
    .search section.profiles .profile h3 {
        margin-top: 0px;
        color: #FFF;
    }
    .search section.profiles .profile p {
        color: #FFF;
    }
    
    .search section.profiles .map-div{
        margin-top:10px;
    }
}

@media (max-width:768px){

}

@media (max-width: 991px) {
    .search section.search-options .search-option h3 {
        margin-top: 15px;
    }
}
.search section.search-options .search-option p {
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
}
.search section.search-options .search-option a {
    background-color: #d9d5c7;
    border-radius: 5px;
    display: block;
    height: 160px;
    padding: 10px;
    color: inherit;
    text-decoration: none;
    min-width: 265px;
}
@media (max-width: 991px) {
    .search section.search-options .search-option a {
        height: 120px;
    }
}
@media (max-width: 767px) {
    .search section.search-options .search-option a {
        height: 150px;
    }
}

.search section.search-options .search-option a i {
    color: #2d3a4e 
    ;
    width: 50px;
    height: 50px;
    font-size: 27px;
    border-radius: 50%;
    float: right;
}
@media (max-width: 991px) {
    .search section.search-options .search-option a i {
        width: 70px;
        height: 70px;
        font-size: 40px;
        float: left;
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .search section.search-options .search-option a i {
        
    }
}

.search section.search-options .search-option:hover a,
.search section.search-options .search-option:focus a{
    color: #FFF;
    background-color: #2d3a4e ;
}
.search section.search-options .search-option:hover i,
.search section.search-options .search-option:focus i {
    color: #2d3a4e ;
}

.search .sidebar ul li a.active {
    text-decoration: none;
    font-weight: bold;
}

.search .panel-body ul.list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.search .panel-body table {
    width: 60%;
    border: 1px solid;
    border-color: #dddddd;
    text-align: center;
}

.search .panel-body th {
    text-align: center;
}

.search .panel-body table, th, td {
    border: 1px solid;
    border-color: #dddddd;
}

.search .panel-body {
    display: none;
}

.search .panel-heading{
    cursor: pointer;
}