.search section.profiles {
    padding: 20px 15px 15px 15px;
}
@media (max-width: 991px) {
    .search section.profiles .profile {
        margin-bottom: 10px;
    }
}
.search section.profiles h2 {
    color: #FFF;
    margin-bottom: 4.5rem;
    font-size: 25px;
    font-weight: 300;
}
.search section.profiles .profile h3 {
    margin-top: 0px;
}
.search section.profiles .profile h4 {
    font-size: 14px;
    font-weight: 300;
}
.search section.profiles .profile a {
    background-color: #FFF;
    border-radius: 5px;
    display: block;
    height: 110px;
    padding: 10px;
    color: inherit;
    text-decoration: none;
}
@media (max-width: 1199px) {
    .search section.profiles .profile a {
        height: 125px;
    }
}
@media (max-width: 991px) {
    .search section.profiles .profile a {
        height: 100px;
    }
}
.search section.profiles .profile a i {
    color: #7BCCD0;
    font-size: 50px;
    margin-right: 10px;
}
@media (max-width: 1199px) {
    .search section.profiles .profile a i {
        font-size: 35px;
    }
}
@media (max-width: 991px) {
    .search section.profiles .profile a i {
        font-size: 60px;
    }
}

.search section.profiles .profile a:hover,
.search section.profiles .profile a:focus,
.search section.profiles .profile a:hover i,
.search section.profiles .profile a:focus i {
    color: #5a9dc4;
}



.search section.search-options .search-option {
    margin-bottom: 10px;
}
.search section.search-options h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 20px 0;
    font-weight: 300;
}
.search section.search-options .search-option h3 {
    font-size: 18px;
    line-height: 34px;
    font-weight: 500;
}
@media (max-width: 991px) {
    .search section.search-options .search-option h3 {
        margin-top: 15px;
    }
}
.search section.search-options .search-option p {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    text-align: justify;
}
.search section.search-options .search-option a {
    background-color: #E1F1E9;
    border-radius: 5px;
    display: block;
    height: 150px;
    padding: 10px;
    color: inherit;
    text-decoration: none;
    min-width: 265px;
}
@media (max-width: 991px) {
    .search section.search-options .search-option a {
        height: 120px;
    }
}
@media (max-width: 767px) {
    .search section.search-options .search-option a {
        height: 150px;
    }
}

.search section.search-options .search-option a i {
    color: #7BCCD0;
    width: 50px;
    height: 50px;
    font-size: 27px;
    border-radius: 50%;
    float: right;
}
@media (max-width: 991px) {
    .search section.search-options .search-option a i {
        width: 70px;
        height: 70px;
        font-size: 40px;
        float: left;
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .search section.search-options .search-option a i {
    }
}

.search section.search-options .search-option:hover a,
.search section.search-options .search-option:focus a{
    color: #FFF;
    background-color: #5a9dc4;
}
.search section.search-options .search-option:hover i,
.search section.search-options .search-option:focus i {
    color: #5a9dc4;
}

.search .sidebar ul li a.active {
    text-decoration: none;
    font-weight: bold;
}

.search .panel-body ul.list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.search .panel-body table {
    width: 60%;
    border: 1px solid;
    border-color: #dddddd;
    text-align: center;
}

.search .panel-body th {
    text-align: center;
}

.search .panel-body table, th, td {
    border: 1px solid;
    border-color: #dddddd;
}

.search .panel-body {
    display: none;
}

.search .panel-heading{
    cursor: pointer;
}