{% extends "templates/help.html" %}

{% block title %}{% trans %}Occugrid{% endtrans %}{% endblock %}

{% block body %}

<h1>Occugrid</h1>

<div class="topic">
<p>The Occugrid shows the recommended workforce for a given industry. It can be used to determine which occupations a location may need to hire in order to become more successful. By changing sizing, grouping, and other parameters, a user is able to bring clarity to the list of recommended occupations.</p>
</div>

<div class="topic">
	<h2>Visual Language</h2>
	<p>In the Occugrid, each occupation is represented by a small donut chart. The overall slices of the donut are determined by the total Recommended Employees. This donut chart is divided into 3 sections, as is illustrated in the following diagram:</p>
	<img src="/static/img/help/occugrid/occugrid_details_small.png">
</div>

<div class="topic">
	<h2>Sizing</h2>
	<p>Each donuts’ radius can be sized using a number of variables. These include: Importance, Average Monthly Wage, and Recommended Employees.</p>
</div>

<div class="topic">
	<h2>Grouping</h2>
	<p>To help get a quick understanding of the different types of occupations you are looking at, the donuts can be placed into different groupings. These include: Grid and Category.</p>
</div>

<div class="topic">
	<h2>Sorting</h2>
	<p>The donuts can also be ordered (from top left to bottom right) by a number of variables: Name, Value (whatever the current Sizing is), and Category.</p>
</div>

<div class="topic">
	<h2>Color</h2>
	<p>Color, along with the other visualizations, defaults to showing top-level categories for the data classification you are viewing (whether it is products, industries, occupations, or locations). In some cases, the color may be manipulated to show other values, such as growth, complexity, or opportunity gain.</p>
</div>

<div class="topic">
	<h2>Filter/Solo</h2>
	<p>By using the key on the bottom of the page, you can remove (filter) or single out (solo) specific Sectors of donuts. Click the “X” on the right of the key to clear all filters and solos.</p>
</div>

<div class="topic">
	<h2>Year</h2>
	<p>The donuts display data for a specific year in the dataset. By changing the year using the slider at the bottom of the app, the data associated with each donut will change to that new year’s data. This, in conjunction with using the play button to cycle through years, can provide helpful insights on how occupations change over time.</p>
</div>


{% endblock %}
