{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('general.home') }}">Home</a></li>
            {% block breadcrumb %}{% endblock %}
        </ol>
    </div>
</div>

<div class="container">
    <nav class="sidebar col-md-3">
        <ul class="sub-menu">
            <li><a href="" title="Location">Localidades</a></li>
            <li><a href="{{ url_for('rankings.location_international_trade') }}" title="International Trade">Comércio Internacional</a></li>
            <li><a href="{{ url_for('rankings.location_wages') }}" title="Wages">Salário e Emprego</a></li>
            <li><a href="{{ url_for('rankings.occupation') }}" title="Ocuppation">Ocupações</a></li>
            <li><a href="{{ url_for('rankings.economic_activities') }}" title="Economic Activities">Atividades Econômicas</a></li>
            <li><a href="{{ url_for('rankings.product') }}" title="Product">Produtos</a></li>
            <li><a href="{{ url_for('rankings.trade_partner') }}" title="Trade Partner">Parceiros Comerciais</a></li>
            <li><a href="{{ url_for('rankings.university') }}" title="University">Universidades</a></li>
            <li><a href="{{ url_for('rankings.major') }}" title="Major">Curso Superior</a></li>
            <li><a href="{{ url_for('rankings.basic_course') }}" title="Basic Course">Curso Básico</a></li>
        </ul>
    </nav>
    <section id="rankings" class="col-md-9">
        <h1>Rankings</h1>
        {% block rankings_content %}
        {% endblock rankings_content %}
    </section>
</div>
{% endblock content %}