{% extends "rankings/index.html" %}

{% block rankings_content %}
<div class="container">
    <div class="btn-group">
        <button id="basic-course-fields" class="btn btn-white">Campos</button>
        <button id="basic-course-courses" class="btn btn-white">Cursos</button>
    </div>
    <select class="btn btn-white year-selector" id="year-selector"><option value="">Year</option></select>
</div>

<table id="basic-course-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>year</th>
            <th>age</th>
            <th>classes</th>
            <th>enrolled</th>
            <th>enrolled_growth</th>
            <th>enrolled_growth_5</th>
            <th>course_sc_id</th>
        </tr>
    </thead>
</table>
{% endblock rankings_content %}

{% block js_assets %}
    <script src="/static/js/modules/rankings/basic-course.js"></script>
{% endblock js_assets %}