{% extends "rankings/_base.html" %}

{% block breadcrumb %}
    <li class="active">Rankings</li>
{% endblock %}

{% block rankings_content %}
<table id="economic-activities-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>{% trans %}Year{% endtrans %}</th>
            <th>{% trans %}CNAE ID{% endtrans %}</th>
            <th>{% trans %}Industry{% endtrans %}</th>
            <th>{% trans %}PCI{% endtrans %}</th>
            <th>{% trans %}Jobs{% endtrans %}</th>
            <th>{% trans %}Average Incoming{% endtrans %}</th>
            <th>{% trans %}Total Monthly Incoming{% endtrans %}</th>
        </tr>
    </thead>
</table>
{% endblock rankings_content %}

{% block js_assets %}
    <script src="/static/js/modules/rankings/economic-activities.js"></script>
{% endblock js_assets %}



















