{% extends "rankings/index.html" %}

{% block rankings_content %}
<div class="rankings-control">
    <div class="btn-group">
        <button id="location-international-trade-regions" class="btn btn-white">Regiões</button>
        <button id="location-international-trade-states" class="btn btn-white">Estados</button>
        <button id="location-international-trade-mesoregions" class="btn btn-white">Mesoregiões</button>
        <button id="location-international-trade-microregions" class="btn btn-white">Microregiões</button>
        <button id="location-international-trade-municipalities" class="btn btn-white">Municípios</button>
    </div>
    <select class="year-selector form-control" id="year-selector">
        <option value="">Ano</option>
    </select>
</div>

<table id="location-international-trade-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>year</th>
            <th>month</th>
            <th>import_val</th>
            <th>export_val</th>
            <th>import_kg</th>
            <th>export_kg</th>
            <th>import_val_growth</th>
            <th>import_val_growth_5</th>
            <th>export_val_growth</th>
            <th>export_val_growth_5</th>
            <th>wld_diversity</th>
            <th>wld_diversity_eff</th>
            <th>hs_diversity</th>
            <th>hs_diversity_eff</th>
            <th>eci</th>
            <th>bra_id</th>
        </tr>
    </thead>
</table>
{% endblock rankings_content %}

{% block js_assets %}
    <script src="/static/js/modules/rankings/location-international-trade.js"></script>
{% endblock js_assets %}
