{% extends "rankings/_base.html" %}

{% block breadcrumb %}
    <li class="active">Rankings</li>
{% endblock %}

{% block rankings_content %}
<table id="location-international-trade-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>{% trans %}Year{% endtrans %}</th>
            <th>{% trans %}IBGE ID{% endtrans %}</th>
            <th>{% trans %}Location{% endtrans %}</th>
            <th>{% trans %}ECI-R - Trade{% endtrans %}</th>
            <th>{% trans %}Exports{% endtrans %}</th>
            <th>{% trans %}Imports{% endtrans %}</th>
            <th>{% trans %}Average Distance{% endtrans %}</th>
            <th>{% trans %}Average Opportunity Gain{% endtrans %}</th>
        </tr>
    </thead>
</table>
{% endblock rankings_content %}

{% block js_assets %}
    <script src="/static/js/modules/rankings/location-international-trade.js"></script>
{% endblock js_assets %}
