{% extends "rankings/index.html" %}

{% block rankings_content %}
<table id="location-international-trade-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>{% trans %}Year{% endtrans %}</th>
            <th>{% trans %}BRA ID{% endtrans %}</th>
            <th>{% trans %}Imports{% endtrans %}</th>
            <th>{% trans %}Exports{% endtrans %}</th>
            <th>{% trans %}Product Diversity{% endtrans %}</th>
            <th>{% trans %}Effective Product Diversity{% endtrans %}</th>
            <th>{% trans %}Economic Complexity{% endtrans %}</th>
        </tr>
    </thead>
</table>
{% endblock rankings_content %}

{% block js_assets %}
    <script src="/static/js/modules/rankings/location-international-trade.js"></script>
{% endblock js_assets %}
