{% extends "rankings/_base.html" %}

{% block breadcrumb %}
    <li class="active">Rankings</li>
{% endblock %}

{% block rankings_content %}
<table id="location-wages-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>{% trans %}Year{% endtrans %}</th>
            <th>{% trans %}IBGE ID{% endtrans %}</th>
            <th>{% trans %}Location{% endtrans %}</th>
            <th>{% trans %}ECI-R - Employment{% endtrans %}</th>
            <th>{% trans %}Employment{% endtrans %}</th>
            <th>{% trans %}Wage{% endtrans %}</th>
            <th>{% trans %}Average Income{% endtrans %}</th>
            <th>{% trans %}Average Distance{% endtrans %}</th>
            <th>{% trans %}Average Oportunity Gain{% endtrans %}</th>
        </tr>
    </thead>
</table>
{% endblock rankings_content %}

{% block js_assets %}
    <script src="/static/js/modules/rankings/location-wages.js"></script>
{% endblock js_assets %}