{% extends "rankings/index.html" %}

{% block rankings_content %}

<table id="major-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>enrolled</th>
            <th>graduates</th>
            <th>entrants</th>
            <th>morning</th>
            <th>afternoon</th>
            <th>night</th>
            <th>full_time</th>
            <th>age</th>
            <th>graduates_growth</th>
            <th>enrolled_growth</th>
            <th>year</th>
            <th>course_hedu_id</th>
        </tr>
    </thead>
</table>
{% endblock rankings_content %}

{% block js_assets %}
    <script src="/static/js/modules/rankings/major.js"></script>
{% endblock js_assets %}