{% extends "rankings/_base.html" %}

{% block breadcrumb %}
    <li class="active">Rankings</li>
{% endblock %}

{% block rankings_content %}
<table id="occupation-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>{% trans %}Year{% endtrans %}</th>
            <th>cbo_id</th>
            <th>cbo_id</th>
            <th>wage</th>
            <th>num_jobs</th>
            <th>wage_avg</th>
            <th>cnae_diversity</th>
            <th>cnae_diversity_eff</th>
        </tr>
    </thead>
</table>
{% endblock rankings_content %}

{% block js_assets %}
    <script src="/static/js/modules/rankings/occupation.js"></script>
{% endblock js_assets %}