{% extends "rankings/_base.html" %}

{% block breadcrumb %}
    <li class="active">Rankings</li>
{% endblock %}

{% block rankings_content %}
<table id="occupation-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>{% trans %}Year{% endtrans %}</th>
            <th>CBO ID</th>
            <th>Occupation</th>
            <th>Total Monthly Wages</th>
            <th>Total Jobs</th>
            <th>Average Monthly Wage</th>
            <th>Industry Diversity</th>
            <th>Effective Industry Diversity</th>
        </tr>
    </thead>
</table>
{% endblock rankings_content %}

{% block js_assets %}
    <script src="/static/js/modules/rankings/occupation.js"></script>
{% endblock js_assets %}