{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="btn-group">
        <button id="product-sections" class="btn btn-white">Seções</button>
        <button id="product-postions" class="btn btn-white">Posições</button>
    </div>
    <select class="btn btn-white year-selector" id="year-selector"><option value="">Year</option></select>
</div>

<table id="product-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>year</th>
            <th>month</th>
            <th>import_val</th>
            <th>export_val</th>
            <th>import_kg</th>
            <th>export_kg</th>
            <th>import_val_growth</th>
            <th>import_val_growth_5</th>
            <th>export_val_growth</th>
            <th>export_val_growth_5</th>
            <th>bra_diversity</th>
            <th>bra_diversity_eff</th>
            <th>wld_diversity</th>
            <th>wld_diversity_eff</th>
            <th>rca_wld</th>
            <th>pci</th>
            <th>hs_id</th>
        </tr>
    </thead>
</table>
{% endblock content %}

{% block js_assets %}
    <script src="/static/js/modules/rankings/product.js"></script>
{% endblock js_assets %}
