{% extends "rankings/index.html" %}

{% block rankings_content %}
<div class="container">
    <div class="btn-group">
        <button id="trade-partner-continents" class="btn btn-white">Continentes</button>
        <button id="trade-partner-countries" class="btn btn-white">Países</button>
    </div>
    <select class="btn btn-white year-selector" id="year-selector"><option value="">Ano</option></select>
</div>

<table id="trade-partner-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>year</th>
            <th>month</th>
            <th>import_val</th>
            <th>export_val</th>
            <th>import_kg</th>
            <th>export_kg</th>
            <th>import_val_growth</th>
            <th>import_val_growth_5</th>
            <th>export_val_growth</th>
            <th>export_val_growth_5</th>
            <th>bra_diversity</th>
            <th>bra_diversity_eff</th>
            <th>hs_diversity</th>
            <th>hs_diversity_eff</th>
            <th>eci</th>
            <th>wld_id</th>
        </tr>
    </thead>
</table>
{% endblock rankings_content %}

{% block js_assets %}
    <script src="/static/js/modules/rankings/trade-partner.js"></script>
{% endblock js_assets %}8