<!-- extend from site layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}Rankings{% endtrans %}{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.rankings.css" />

{% endblock %}

{% block body %}

  <div id="rankings_nav">

      <a class="{% if type == 'bra' %}decision{% else %}help{% endif %} short icon bra" href="/rankings/2012/bra/3/">
        {% trans %}Brazilian Locations{% endtrans %}
      </a>

      <a class="{% if type == 'cnae' %}decision{% else %}help{% endif %} short icon cnae" href="/rankings/2012/cnae/6/">
        {% trans %}Industries{% endtrans %}
      </a>

      <a class="{% if type == 'cbo' %}decision{% else %}help{% endif %} short icon cbo" href="/rankings/2012/cbo/4/">
        {% trans %}Occupations{% endtrans %}
      </a>

      <a class="{% if type == 'hs' %}decision{% else %}help{% endif %} short icon hs" href="/rankings/2012/hs/6/">
        {% trans %}Products{% endtrans %}
      </a>

      <a class="{% if type == 'wld' %}decision{% else %}help{% endif %} short icon wld" href="/rankings/2012/wld/5/">
        {% trans %}Export Destinations{% endtrans %}
      </a>

      <a class="{% if type == 'university' %}decision{% else %}help{% endif %} short icon university" href="/rankings/2012/university/5/">
        {% trans %}Universities{% endtrans %}
      </a>

      <a class="{% if type == 'course_hedu' %}decision{% else %}help{% endif %} short icon course_hedu" href="/rankings/2012/course_hedu/6/">
        {% trans %}Courses{% endtrans %}
      </a>

  </div>

  <div id="rankings_table" class="grid5col3 lightbox">
    <div id="controls">

      {% if depths|length > 1 %}
        <div id="depths">
          <legend for="depth">{% trans %}Depth{% endtrans %}</legend>
          {% for d in depths %}
            <input type="radio" value="{{type}}_{{d}}" name="depth" {% if depth == d %} checked{% endif %}>
            <label for="{{type}}_{{d}}">{{format(type~"_"~d~"_plural").render(type~"_"~d~"_plural")}}</label>
          {% endfor %}
        </div>
      {% endif %}

      <div id="years">
        <select id="year_select">
          {% for y in years %}
            <option value="{{y}}"{% if y == year %} selected{% endif %}>{{y}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <iframe src="/rankings/table/{{year}}/{{type}}/{{depth}}/?order={{order}}" width="100%"></iframe>
  </div>

{% endblock %}

{% block js %}

  <script>

    if (Modernizr.touch) {
      d3.select("#iframe").style("overflow","auto")
        .style("-webkit-overflow-scrolling","touch")
    }

    var depth = "{{depth}}", year = "{{year}}", type = "{{type}}", order = "{{order}}";

    function change_depth(d) {
      d = d.slice(-1);
      if (d !== depth) {
        depth = d;
        update_table();
      }
    }

    function change_year(y) {
      if (y !== year) {
        year = y;
        update_table();
      }
    }

    if (!d3.select("#depths").empty()) {

      var depth_form = d3plus.form()
        .data("[name=depth]")
        .focus(depth, change_depth)
        .type("toggle")
        .ui({"margin": 0})
        .draw();

    }

    d3plus.form()
      .data("#year_select")
      .focus(year, change_year)
      .type("drop")
      .ui({"margin": 0})
      .draw();

    function update_table() {
      var url = year+"/"+type+"/"+depth+"/?order="+order
      d3.select("iframe").attr("src","/rankings/table/"+url)
      dataviva.url("/rankings/"+url)
    }

    function table_size() {
      var w = window.innerWidth - 260 - d3plus.client.scrollbar() + "px";
      var h = window.innerHeight - 160;
      d3.select("#rankings_table")
        .style("width", w)
        .style("height", h+"px")
      d3.select("iframe")
        .attr("width", w)
        .attr("height", h-50+"px")
    }

    dataviva.resize = table_size
    table_size()
    update_table()

  </script>

{% endblock %}
