<!-- extend from site layout -->
{% extends "templates/site.html" %}

{% block body %}
<div id="docs-body">
<div class="grid5col1">
  <div id="docs-nav">
    <a href="{{ url_for('about.about') }}">
      <div class="menu{% if page == 'dataminas' %} active{% endif %}">
        <div class="text">General</div>
        <div class="arrow"></div>
      </div>
    </a>
    
    <a href="{{ url_for('about.apps') }}">
      <div class="menu{% if page == 'apps' %} active{% endif %}">
        <div class="text">Apps</div>
        <div class="arrow"></div>
      </div>
    </a>
    
    {% if page == "apps" %}
      <div id="apps-links">
        <p><a class="link{% if app == 'network' %} active{% endif %}" href="{{ url_for('about.apps', app='network')}}">Network</a></p>
        <p><a class="link{% if app == 'tree_map' %} active{% endif %}" href="{{ url_for('about.apps', app='tree_map')}}">Tree Map</a></p>
        <p><a class="link{% if app == 'geo_map' %} active{% endif %}" href="{{ url_for('about.apps', app='geo_map')}}">Geo Map</a></p>
        <p><a class="link{% if app == 'stacked' %} active{% endif %}" href="{{ url_for('about.apps', app='stacked')}}">Stacked</a></p>
        <p><a class="link{% if app == 'rings' %} active{% endif %}" href="{{ url_for('about.apps', app='rings')}}">Rings</a></p>
        <p><a class="link{% if app == 'scatter' %} active{% endif %}" href="{{ url_for('about.apps', app='scatter')}}">Pie Scatter</a></p>
        <p><a class="link{% if app == 'occugrid' %} active{% endif %}" href="{{ url_for('about.apps', app='occugrid')}}">Occugrid</a></p>
      </div>
    {% endif %}
    
    <a href="{{ url_for('about.glossary') }}">
      <div class="menu{% if page == 'glossary' %} active{% endif %}">
        <div class="text">Glossary</div>
        <div class="arrow"></div>
      </div>
    </a>
    
    <a href="{{ url_for('about.credits') }}">
      <div class="menu{% if page == 'credits' %} active{% endif %}">
        <div class="text">Credits</div>
        <div class="arrow"></div>
      </div>
    </a>
    
    <!--
    <a href="{{ url_for('about.data') }}">
          <div class="menu{% if page == 'data' %} active{% endif %}">
            <div class="text">Data</div>
            <div class="arrow"></div>
          </div>
        </a>
        {% if page == "data" %}
          <div id="data-links">
            <p><a class="link{% if page_attr == 'bra' %} active{% endif %}" href="{{ url_for('about.data_attr', attr='bra') }}">Brazilian Geography</a></p>
            <p><a class="link{% if page_attr == 'wld' %} active{% endif %}" href="{{ url_for('about.data_attr', attr='wld') }}">Countries</a></p>
            <p><a class="link{% if page_attr == 'isic' %} active{% endif %}" href="{{ url_for('about.data_attr', attr='isic') }}">Industries</a></p>
            <p><a class="link{% if page_attr == 'cbo' %} active{% endif %}" href="{{ url_for('about.data_attr', attr='cbo') }}">Occupations</a></p>
            <p><a class="link{% if page_attr == 'hs' %} active{% endif %}" href="{{ url_for('about.data_attr', attr='hs') }}">Products</a></p>
          </div>
        {% endif %}-->
    
  </div>
</div>

<div id="about-content" class="grid5col4">
{% block about_content %}
{% endblock %}
</div>

</div>
{% endblock %}