<!-- extend from site layout -->
{% extends "templates/site.html" %}

{% block body %}

<div id="about_nav" class="grid5col1 grid5offsethalf">
    
    <a class="decision short icon general{% if page == 'apps' %} active{% endif %}" href="{{ url_for('about.about') }}">
      General
    </a>
    
    <a class="decision short icon glossary{% if page == 'glossary' %} active{% endif %}" href="{{ url_for('about.glossary') }}">
      Glossary
    </a>
    
    <a class="decision short icon credits{% if page == 'credits' %} active{% endif %}" href="{{ url_for('about.credits') }}">
      Credits
    </a>
    
    <br>
    <a class="decision short icon network{% if app == 'network' %} active{% endif %}" href="{{ url_for('about.apps', app='network')}}">Network</a>
    <a class="decision short icon tree_map{% if app == 'tree_map' %} active{% endif %}" href="{{ url_for('about.apps', app='tree_map')}}">Tree Map</a>
    <a class="decision short icon geo_map{% if app == 'geo_map' %} active{% endif %}" href="{{ url_for('about.apps', app='geo_map')}}">Geo Map</a>
    <a class="decision short icon stacked{% if app == 'stacked' %} active{% endif %}" href="{{ url_for('about.apps', app='stacked')}}">Stacked</a>
    <a class="decision short icon rings{% if app == 'rings' %} active{% endif %}" href="{{ url_for('about.apps', app='rings')}}">Rings</a>
    <a class="decision short icon scatter{% if app == 'scatter' %} active{% endif %}" href="{{ url_for('about.apps', app='scatter')}}">Pie Scatter</a>
    <a class="decision short icon occugrid{% if app == 'occugrid' %} active{% endif %}" href="{{ url_for('about.apps', app='occugrid')}}">Occugrid</a>

    
</div>

<div id="about_content" class="grid5col3 grid5offset1half">
  {% block about_content %}
  {% endblock %}
</div>

{% endblock %}