<!-- extend from site layout -->
{% extends "templates/site.html" %}

{% block head %}
<style>
.pending_q {
  margin: 0px 0;
}
form input {
  width: 500px;
}
form textarea {
  width: 500px;
  height: 200px;
}
</style>
{% endblock %}

{% block body %}
<div>
  <div class="grid5col1">
    
    <img class="account_user" src="{{ user.avatar(150) }}" alt="{{ user.fullname }} icon" />
    <h1>{{ user.fullname }}</h1>
    
    {% set navigation_bar = [
        ('account.starred', 'Starred Apps'),
        ('account.questions', 'Questions'),
        ('account.replies', 'Replies'),
    ] -%}
    {% set question_navigation_bar = [
        ('pending', 'Pending'),
        ('approved', 'Approved'),
        ('rejected', 'Rejected'),
        ('duplicate', 'Duplicate')
    ] -%}
    {% set active_page = request.endpoint -%}
    {% set active_question_page = request.view_args.status -%}

    <nav>
      <ul id="navigation">
      {% for id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif %}><a href="{{ url_for(id, nickname=user.nickname) }}">{{ caption|e }}</a></li>
        {% if active_page == 'account.questions' and id == 'account.questions' and g.user == user %}
          <ul>
          {% for q_id, q_caption in question_navigation_bar %}
            <li{% if q_id == active_question_page %} class="active"{% endif %}><a href="{{ url_for(id, nickname=user.nickname, status=q_id) }}">{{ q_caption|e }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
      </ul>
    </nav>
    
  </div>
</div>

<div id="admin-content" class="grid5col4">
{% block admin_content %}
{% endblock %}
</div>

</div>
{% endblock %}