<!-- extend from site layout -->
{% extends "templates/site.html" %}


{% block body %}
<div>
  <div class="grid5col1">
    
    {% set navigation_bar = [
        ('admin.admin_users', 'Users'),
        ('admin.admin_questions', 'Questions'),
    ] -%}
    {% set question_navigation_bar = [
        ('pending', 'Pending'),
        ('approved', 'Approved'),
    ] -%}
    {% set active_page = request.endpoint -%}
    {% set active_question_page = request.view_args.status -%}

    <nav>
      <ul id="navigation">
      {% for id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif %}><a href="{{ url_for(id) }}">{{ caption|e }}</a></li>
        {% if active_page == 'admin.admin_questions' and id == 'admin.admin_questions' %}
          <ul>
          {% for q_id, q_caption in question_navigation_bar %}
            <li{% if q_id == active_question_page %} class="active"{% endif %}><a href="{{ url_for(id, status=q_id) }}">{{ q_caption|e }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
      </ul>
    </nav>
    
  </div>
</div>

<div id="admin-content" class="grid5col4">
{% block admin_content %}
{% endblock %}
</div>

</div>
{% endblock %}