<!-- extend base layout -->
{% extends "templates/site.html" %}

{% block head %}
<style>
.pending_q {
  margin: 0px 0;
}
form input {
  width: 500px;
}
form textarea {
  width: 500px;
  height: 200px;
}
</style>
{% endblock %}

{% block body %}
<div class="grid5col3">
  <div id="user-info">
    <img src="{{ g.user.avatar(36) }}">
  
    {% if g.user.fullname %}
    <h1>{{ g.user.fullname }}</h1>
    {% else %}
    <h1>{{ g.user.nickname }}</h1>
    {% endif %}
  
    {% if g.user.bio %}
    <p>{{ g.user.bio|safe }}</p>
    {% endif %}
  </div>
</div>
<div id="account_filters" class="grid5col2">
  <a href="{{ url_for('account.activity') }}">Starred</a> |
  <a href="{{ url_for('account.questions') }}">Questions</a> |
  <a href="{{ url_for('account.replies') }}">Replies</a>
  
  {% if g.user.is_admin() %}
  <!-- <a href="{{ url_for('admin.questions') }}">
    <div id="questions" class="menu">
      <div class="text">Admin</div>
      <div class="arrow"></div>
    </div>
  </a>

  <div id="admin-links">
    <p><a id="pending" href="{{ url_for('admin.questions', status='pending') }}">Pending Approval</a></p>
    <p><a id="approved" href="{{ url_for('admin.questions', status='approved') }}">Approved</a></p>
    <p><a id="rejected" href="{{ url_for('admin.questions', status='rejected') }}">Rejected</a></p>
    <p><a id="duplicate" href="{{ url_for('admin.questions', status='duplicate') }}">Duplicate</a></p>
  </div> -->
  
  {% endif %}
</div>

<div class="grid5col5">
  <div id="admin-content">
    
    {% block admin_content %}
    {% endblock %}

  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">

  var path = window.location.pathname.split("/")
  var page = path[2]
  if (page == "") page = "activity"
  d3.select("div#"+page).attr("class",function(){
    return this.className+" active";
  })
  
</script>
{% endblock %}

