{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('general.home') }}">Home</a></li>
            <li class="active">Construa gráficos</li>
        </ol>
    </div>
</div>

<section id="build_graph"  class="container m-b-lg">

    <h1>Visualize seu Gráfico</h1>
    <p>Selecione parâmetros para construir seu gráfico.</p>
    <br />

    <nav class="sidebar well col-xs-12 col-md-3" style="margin-top: 0">
        <ul class="sub-menu">
            <li>
                <div class="form-group">
                    <label for="datasets" class="control-label">Banco de Dados</label>
                    <select class="form-control" id="datasets" name="datasets">
                        <option id="dataset-empty-option" value="">{%trans%}Select{%endtrans%}</option>
                    </select>
                </div>
            </li>
            <li id="dimensions">

            </li>
            <li id="views">
            </li>
            <li id="graphs">
                <div class="dropdown dropdown-select">
                    <button class="btn btn-outline btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Selecione
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a href="#"><i class="fa fa-line-chart"></i> Linha</a></li>
                        <li role="presentation"><a href="#"><i class="fa fa-pie-chart"></i> Pizza</a></li>
                        <li role="presentation"><a href="#"><i class="fa fa-area-chart"></i> Área</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src=""
                target="frame-build-graphs"
                name="graphs-frame-build-graphs"
                id="graphs-frame-build-graphs"
                class="embed-responsive-item">
        </iframe>
    </div>
</section>
{% endblock content %}
