<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('general.home') }}">Home</a></li>
        <li class="active"><span>Construa gráficos<span></li>
    </ol>
    <div class="row">
        <div class="sidebar no-padding col-xs-15 col-md-4">
            <h3>&nbsp;</h3>
        </div>
        <div class="main-content col-xs-15 col-md-11">
            <div class="institucional">
                <h2>Construa gráficos</h2>
                <code class="text-center">
                    <img src="http://placehold.it/1200x300?text=graph-area" class="img-responsive">
                </code>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
