<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

  <div id="dev_banner">
    Development Site<br />
    <a href="/access/logout/">Click here to Logout</a>
  </div>
    
  <div id="header">
    <a id="logo" href="{{ url_for('general.home') }}"></a>
    <a id="guide" href="{{ url_for('guide.guide') }}" class="link">Guide</a>
    <a id="explore" href="{{ url_for('explore.explore') }}" class="link">Explore</a>
    <a id="ask_sabrina" href="{{ url_for('ask.index') }}" class="link">Ask Sabrina</a>
    <a id="apps" href="{{ url_for('apps.guide') }}" class="link">Apps</a>
    <a id="data" href="{{ url_for('data.guide') }}" class="link">Data</a>
    <a id="about" href="{{ url_for('about.about') }}" class="link">Learn More</a>
  </div>
  
  <div id="stroke">
  
    <div id="site_breadcrumbs"></div>
  
    <div id="language">
      <input type="radio" name="language_select" onclick="change_language(this.value)" 
        value="en"{% if g.locale == 'en' %} checked{% endif %}>
      <label for="en">English</label>
      <input type="radio" name="language_select" onclick="change_language(this.value)" 
        value="pt"{% if g.locale == 'pt' %} checked{% endif %}>
      <label for="pt">Portuguese</label>
    </div>
    
  </div>

  {% for category, msg in get_flashed_messages(with_categories=true) %}
  <div id="server_message">
      <span class="flash-{{ category }}">{{ msg }}</span>
    <i id="close_message" class="icon-remove-sign"></i>
  </div>
  {% endfor %}
  <div id="outside_container">
    <div id="container">
  
      {% block body %}
      {% endblock %}

    </div>
  </div>
  
  <div id="footer">
    <div id="account">
      <p>
        {% if g.user.is_authenticated() %}
          {% if g.user.is_admin() %}
          <a href="{{ url_for('admin.admin') }}">Admin</a> | 
          {% endif %}
        <a href="{{ url_for('account.activity') }}">Your Profile</a>
        | <a href="{{ url_for('account.logout') }}">Logout</a>
        {% else %}
        <a id="login" onclick="login()">Login</a>
        {% endif %}
      </p>
    </div>
    <p>&copy; 2013 Governo de Minas Gerais</p>
    <p>Created by Growth Ventures</p>
  </div>
  
  <script type="text/javascript">
  
    function change_language(l) {
      console.log(l);
    }
  
    var path = window.location.pathname.split("/"),
        page = path[1],
        lang = "{{ g.locale }}"
        
    if (page) {
      d3.select("a#"+page).attr("class","link active")
    }
    
    d3.select("#close_message").on(vizwhiz.evt.click,function(){
      var div = d3.select("#server_message")
      var timing = parseFloat(div.style("transition-duration"),10)*1000;
      div.style("opacity",0);
      setTimeout(function(){
        div.remove();
      },timing)
    });
    
    dataminas.toggle("language_select");
    
  </script>
    
{% endblock %}