{% extends "templates/site.html" %}

{% block title %}: {% trans %}Generate a Guide{% endtrans %}{% endblock %}

{% block body %}
  
  <div id="fullscreen"></div>
  
  <div class="darkbox">
    <h2>{{ _('What would you like to know about %(name)s?', name = item) }}</h2>
  </div>
  
  <br>
  
  <a class="decision icon square opportunity" href="{{g.path}}opportunity">
    {% autoescape false %}
    {{ _('What are %(word)s?', word = '<b>%s</b>' % (_('the industrial opportunities'))) }}
    {% endautoescape %}
  </a>

  <a class="decision icon square attract" href="{{g.path}}attract">
    {% autoescape false %}
    {{ _('How can I %(word)s?', word = '<b>%s</b>' % (_('attract an industry'))) }}
    {% endautoescape %}
  </a>

  <a class="decision icon square growth" href="{{g.path}}growth">
    {% autoescape false %}
    {{ _('Which industries are %(word)s?', word = '<b>%s</b>' % (_('growing'))) }}
    {% endautoescape %}
  </a>
  
  <br>

  <a class="decision icon square shrink" href="{{g.path}}shrink">
    {% autoescape false %}
    {{ _('Which industries are %(word)s?', word = '<b>%s</b>' % (_('shrinking'))) }}
    {% endautoescape %}
  </a>

  <a class="decision icon square workforce" href="{{g.path}}workforce">
    {% autoescape false %}
    {{ _('What is the available %(word)s?', word = '<b>%s</b>' % (_('workforce'))) }}
    {% endautoescape %}
  </a>

  <a class="decision icon square industry" href="{{g.path}}industry">
    {% autoescape false %}
    {{ _('What are %(word)s?', word = '<b>%s</b>' % (_('the present industries'))) }}
    {% endautoescape %}
  </a>

{% endblock %}