{% extends "templates/site.html" %}

{% block title %}: {% trans %}Generate a Guide{% endtrans %}{% endblock %}

{% block body %}

  <div id="fullscreen"></div>
  
  {% if category_id == "all" %}

    <div class="darkbox">
      <h1>{% trans %}What would you like to know?{% endtrans %}</h1>
    </div>
    <br>
    <a class="decision icon square growth" href="{{g.path}}growth">
      {% autoescape false %}
      {{ _('What are %(word)s?', word = '<b>%s</b>' % (_('the fastest growing occupations'))) }}
      {% endautoescape %}
    </a>

    <a class="decision icon square wages" href="{{g.path}}wages">
      {% autoescape false %}
      {{ _('What are %(word)s?', word = '<b>%s</b>' % (_('the best paying occupations'))) }}
      {% endautoescape %}
    </a>

  {% else %}
  
    <div class="darkbox">
      <h1>{{ _('What would you like to know about %(name)s?', name = item) }}</h1>
    </div>
    <br>
    <a class="decision icon square isic" href="{{g.path}}isic">
      {% autoescape false %}
      {{ _('Which %(word)s employ them?', word = '<b>%s</b>' % (_('industries'))) }}
      {% endautoescape %}
    </a>

    <a class="decision icon square growth" href="{{g.path}}growth">
      {% autoescape false %}
      {{ _('Where is their employement %(word)s the fastest?', word = '<b>%s</b>' % (_('growing'))) }}
      {% endautoescape %}
    </a>
  
    {% if group == "child" %}

      <a class="decision icon square paths" href="{{g.path}}paths">
        {% autoescape false %}
        {{ _('What are their %(word)s?', word = '<b>%s</b>' % (_('career alternatives'))) }}
        {% endautoescape %}
      </a>
  
    {% endif %}

  {% endif %}

{% endblock %}