{% extends "templates/site.html" %}

{% block title %}: Generate a Guide{% endblock %}

{% block body %}

  <div id="fullscreen"></div>
  <br>
  
  {% if category_id == "all" %}

    <div class="darkbox">
      <h2>What would you like to know?</h2>
    </div>
    <br>
    <a class="decision icon square growth" href="{{g.path}}growth">
      What are the fastest <b>growing</b> jobs?
    </a>

    <a class="decision icon square wages" href="{{g.path}}wages">
      What are the best <b>paid</b> occupations?
    </a>

  {% else %}
  
    <div class="darkbox">
      <h2>What would you like to know about {{ item.name() }}?</h2>
    </div>
    <br>
    <a class="decision icon square isic" href="{{g.path}}isic">
      Which <b>industries</b> employ them?
    </a>

    <a class="decision icon square growth" href="{{g.path}}growth">
      Where is their employment <b>growing</b> the fastest?
    </a>

    <a class="decision icon square paths" href="{{g.path}}paths">
      What are their <b>career alternatives</b>?
    </a>

  {% endif %}

{% endblock %}