{% extends "templates/site.html" %}

{% block title %}: Generate a Guide{% endblock %}

{% block body %}

  <div class="grid5col1 grid5offset1">
    <div id="sabrina" class="{{g.sabrina.outfit}} {{g.sabrina.face}} {{g.sabrina.hat}}"></div>
  </div>
  <div class="grid5col2">
  
    <div class="title">Do you have {{ article }} in mind?</div>
    <a class="decision square yes" href="{{g.path}}select">
      <h2>Yes</h2>
      I'm thinking of a specific one.
    </a>
    <a class="decision square no" href="{{g.path}}all">
      <h2>No</h2>
      Show me all of Brazil.
    </a>
  
  </div>

{% endblock %}