{% extends "templates/site.html" %}

{% block title %}: Generate a Guide{% endblock %}

{% block body %}

  <div class="grid5col1 grid5offset1">
    <div id="sabrina" class="{{sabrina.outfit}} {{sabrina.face}} {{sabrina.hat}}"></div>
  </div>
  
  <div class="grid5col2">
  
    <div class="title">
      What would you like to know about the {{ item.name_en }} industry?
    </div>
  
    <a class="decision" href="{{path}}workforce">
      Who do they <b>employ</b>?
    </a>

    <a class="decision" href="{{path}}potential">
      Where do they <b>locate</b>?
    </a>
  
    <a class="decision" href="{{path}}diversification">
      Which industries <b>co-locate</b> with them?
    </a>
  
    <a class="decision" href="{{path}}location">
      What is the <b>production potential</b> of a location?
    </a>

  </div>

{% endblock %}