{% extends "templates/site.html" %}

{% block title %}: {{ plan.title }}{% endblock %}

{% block head %}

    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.guide.css" />

{% endblock %}

{% block body %}

  <div id="fullscreen"></div>
  
  <div id="guide_controls" class="lightbox guide_controls">
    <div id="guide_title">{{ plan.title }}</div>
    
    {% for build in plan.builds %}
      <a class="app_links decision short icon {{ build.type }}" id="app{{ build.position }}" onclick="slide(this.id)">{{ build.title }}</a>
    {% endfor %}
  </div>
    
  {% for build in plan.builds %}
    <iframe class="lightbox guide_app" id="iframe{{ build.position }}" alt="{{ build.url }}"></iframe>
  {% endfor %}

{% endblock %}

{% block js %}

  <script>

    var width = window.innerWidth-330,
        height = window.innerHeight-149,
        builds = {},
        sliding = false,
        selected = null,
        scrollinterval = null

    d3.selectAll("iframe")
      .style("width",width+"px")
      .style("height",height+"px")
      .each(function(){
        var p = this.id.substring(6),
            t = this.offsetTop-78
        builds[p] = {"loaded": false, "top": t}
        if (p == 1) {
          load(p)
          select(p)
        }
      })
  
    function slide(id) {
      sliding = true
      var id = id.substring(3)
      scroll(id)
    }

    function load(id) {
      if (!builds[id].loaded) {
        d3.select("#iframe"+id)
          .attr("src",function(){
            return this.getAttribute("alt")
          })
        builds[id].loaded = true
      }
    }

    function select(id) {
      clearInterval(scrollinterval)
      selected = id
      d3.selectAll(".app_links")
        .attr("class",function(){
          if (this.id.substring(3) == id) return this.className.replace("help","decision")
          else return this.className.replace("decision","help")
        })
    }

    function scroll(id) {
  
      select(id)
  
      var position = builds[id].top,
          start = window.scrollY,
          difference = position - start,
          ticks = 50
      
      var i = 0
      function scrollto(){
        var val = Math.easeInOutCubic(i,start,difference,ticks)
        window.scrollTo(0,val)
        i++
        if (i == ticks) {
          window.scrollTo(0,position)
          sliding = false
          load(id)
          clearInterval(scrollinterval)
        }
      }
      
      scrollinterval = setInterval(scrollto,10)
  
    }

    Math.easeInOutCubic = function (t, b, c, d) {
    	t /= d/2;
    	if (t < 1) return c/2*t*t*t + b;
    	t -= 2;
    	return c/2*(t*t*t + 2) + b;
    }

    if (Object.keys(builds).length > 1) {
      document.onscroll = function() {
        if (!sliding) {
          var page = document.body.scrollTop
          for (b in builds) {
            if(page < ((builds[2].top*(b))-20) && page > ((builds[2].top*(b-2))+20)) {
              if (page+(builds[2].top/2) < builds[b].top+builds[2].top
                  && page+(builds[2].top/2) > builds[b].top && selected != b) {
                    select(b)
                  }
              if (!builds[b].loaded) load(b)
            }
          }
        }
      }

      document.onkeydown = function(e) {
        var trans = null
        if (e.keyCode == 34 || e.keyCode == 39 || e.keyCode == 40) { 
          if (selected < Object.keys(builds).length) trans = parseInt(selected)+1
          else trans = selected
        }
        else if (e.keyCode == 33 || e.keyCode == 37 || e.keyCode == 38) { 
          if (selected > 1) trans = parseInt(selected)-1
          else trans = selected
        }
        else if (e.keyCode == 36) { 
          trans = 1
        }
        else if (e.keyCode == 35) { 
          trans = Object.keys(builds).length
        }
        if (trans) slide("app"+trans)
      };
    }

  </script>

{% endblock %}