{% extends "templates/site.html" %}

{% block title %}: {% trans %}Generate a Guide{% endtrans %}{% endblock %}

{% block body %}
  
  <div class="darkbox">
    <h1>{{ _('What would you like to know about %(name)s?', name = item) }}</h1>
  </div>
  <br>
  <a class="decision icon square destinations" href="{{g.path}}destinations">
    {% autoescape false %}
    {{ _('Which %(word)s import them?', word = '<b>%s</b>' % (_('countries'))) }}
    {% endautoescape %}
  </a>

  <a class="decision icon square hs" href="{{g.path}}potential">
    {% autoescape false %}
    {{ _('Which %(word)s in Brazil produce them?', word = '<b>%s</b>' % (_('municipalities'))) }}
    {% endautoescape %}
  </a>
  
  {% if group == "child" %}

    <a class="decision icon square diversification" href="{{g.path}}diversification">
      {% autoescape false %}
      {{ _('Which industries %(word)s with them?', word = '<b>%s</b>' % (_('co-locate'))) }}
      {% endautoescape %}
    </a>
  
  {% endif %}

{% endblock %}