{% extends "templates/site.html" %}

{% block title %}: {% trans %}Generate a Guide{% endtrans %}{% endblock %}

{% block body %}

  <div id="fullscreen"></div>
  
  <div class="darkbox"><h1>{% trans %}What's on your mind?{% endtrans %}</h1></div>
  <br>
  <a class="decision icon square bra" href="{{g.path}}bra">
    <h1>{% trans %}Location{% endtrans %}</h1>
    {% trans %}Learn about the potential of a location.{% endtrans %}
  </a>

  <a class="decision icon square industry" href="{{g.path}}industry">
    <h1>{% trans %}Industry{% endtrans %}</h1>
    {% trans %}Learn about industrial opportunities.{% endtrans %}
  </a>

  <a class="decision icon square cbo" href="{{g.path}}cbo">
    <h1>{% trans %}Career{% endtrans %}</h1>
    {% trans %}Learn about job opportunities.{% endtrans %}
  </a>

{% endblock %}