{% extends "templates/site.html" %}

{% block title %}: Generate a Guide{% endblock %}

{% block body %}

  <div class="grid5col1 grid5offset1">
    <div id="sabrina" class="{{g.sabrina.outfit}} {{g.sabrina.face}} {{g.sabrina.hat}}"></div>
  </div>
  <div id="guide_start" class="grid5col2">
  
    <div class="title">What are you interested in?</div>
  
    <a class="decision" href="/guide/export/select">
      <h2>Product Exports</h2>
    </a>
  
    <a class="decision" href="/guide/establishment/select">
      <h2>Establishments and Employement</h2>
    </a>
  
  </div>

{% endblock %}