{% extends "templates/site.html" %}

{% block title %}: Generate a Guide{% endblock %}

{% block body %}

  <div id="fullscreen"></div>
  
  <div class="darkbox">
    <h2>What would you like to know about<br>the {{ item.name() }} industry?</h2>
  </div>
  <br>
  <a class="decision icon square workforce" href="{{g.path}}workforce">
    Who do they <b>employ</b>?
  </a>

  <a class="decision icon square isic" href="{{g.path}}potential">
    Where do they <b>locate</b>?
  </a>

  <a class="decision icon square diversification" href="{{g.path}}diversification">
    Which industries <b>co-locate</b> with them?
  </a>

  <a class="decision icon square bra" href="{{g.path}}bra">
    What is the <b>production potential</b> of a location?
  </a>

{% endblock %}