{% extends "templates/site.html" %}

{% block title %}: Generate a Guide{% endblock %}

{% block body %}

  <div class="grid5col1 grid5offset1">
    <div id="sabrina" class="{{sabrina.outfit}} {{sabrina.face}} {{sabrina.hat}}"></div>
  </div>
  
  <div class="grid5col2">
  
    <div class="title">
      What would you like to know about {{ item.name_en }}?
    </div>

    <a class="decision" href="{{path}}opportunity">
      What are the <b>industrial opportunities</b>?
    </a>
  
    <a class="decision" href="{{path}}attract">
      How can I <b>attract an industry</b>?
    </a>

    <a class="decision" href="{{path}}growth">
      Which industries are <b>growing</b>?
    </a>

    <a class="decision" href="{{path}}shrink">
      Which industries are <b>shrinking</b>?
    </a>

    <a class="decision" href="{{path}}workforce">
      What is the available <b>workforce</b>?
    </a>

    <a class="decision" href="{{path}}industry">
      What are the present <b>industries</b>?
    </a>
  
  </div>

{% endblock %}