{% extends "templates/site.html" %}

{% block title %}: Generate a Guide{% endblock %}

{% block body %}

  <div class="grid5col1">
    <div id="sabrina" class="{{g.sabrina.outfit}} {{g.sabrina.face}} {{g.sabrina.hat}}"></div>
  </div>
  
  <div class="grid5col4">
  
    <div class="title">
      What would you like to know about {{ item.name_en }}?
    </div>

    <a class="decision square opportunity" href="{{g.path}}opportunity">
      What are the <b>industrial opportunities</b>?
    </a>
  
    <a class="decision square attract" href="{{g.path}}attract">
      How can I <b>attract an industry</b>?
    </a>

    <a class="decision square growth" href="{{g.path}}growth">
      Which industries are <b>growing</b>?
    </a>

    <a class="decision square shrink" href="{{g.path}}shrink">
      Which industries are <b>shrinking</b>?
    </a>

    <a class="decision square workforce" href="{{g.path}}workforce">
      What is the available <b>workforce</b>?
    </a>

    <a class="decision square industry" href="{{g.path}}industry">
      What are the present <b>industries</b>?
    </a>
  
  </div>

{% endblock %}