{% extends "templates/site.html" %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.home.css" />
  <style>
  /**, body {
    text-align: left;
  }
  h2 {
    font-size: 36px;
    line-height: 40px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  }*/
  button {
    border: solid rgba(0, 0, 0, 0.4) 1px;
    background: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
  }
  button i {
    margin: 0 0 0 5px;
    vertical-align: bottom;
  }
  .search {
    margin: 70px 50px 100px;
    position: relative;
    text-align: center;
  }
  .search input {
    background-color: white;
    border: solid rgba(0, 0, 0, 0.4) 1px;
    box-sizing: border-box;
    /*display: block;*/
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    outline: none;
    opacity: 0.75;
    padding: 10px;
    -webkit-transition: border-color .1s, color .1s, opacity .1s;
    transition: border-color .1s, color .1s, opacity .1s;
    width: 826px;
  }
  .carousel {
    margin: 0px 50px 10px;
    position: relative;
    width: 800px;
  }
  .carousel > .prev, .carousel > .next {
    color: #ccc;
    font-size: 70px;
    position: absolute;
    top: 117px;
  }
  .carousel > .prev:hover, .carousel > .next:hover {
    color: #888;
  }
  .carousel > .prev {
    left: -39px;
  }
  .carousel > .next {
    right: -39px;
  }
  .carousel .scroller {
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
  }
  .carousel ul {
    list-style: none;
    white-space: nowrap;
  }
  .carousel ul li {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  .poster {
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
  }
  div.poster {
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    height: 130px;
    position: relative;
    width: 130px;
  }
  div.poster:hover {
    -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
  }
  .poster .title {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    height: 45px;
    margin: 0;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    white-space: normal;
    width: 130px;
  }
  .poster img {
    box-sizing: border-box;
    display: inline-block;
    margin: 10px;
    width: 110px;
  }

  body.home .set {
    -webkit-transition: 0.75s ease-in-out;
    -moz-transition: 0.75s ease-in-out;
    -o-transition: 0.75s ease-in-out;
    transition: 0.75s ease-in-out;
  }

  body.home .lightbox {
    background-color: rgba(255,255,255,0.7);
  }
  </style>

{% endblock %}

{% block body %}

  <!-- <div class="darkbox"><h1>{% trans %}Visualizing the Economy of Brazil{% endtrans %}</h1></div>
  <div class="home_sub">
    {% trans %}DataViva is opening up data for the entire formal sector of the Brazilian economy{% endtrans %}
      <br>
    {% trans %}through more than 100 million interactive visualizations.{% endtrans %}
  </div> -->
  <div class="search">
    <div class="darkbox"><h1>What are you looking for?</h1></div>
    <input class="searchFld" type="text" placeholder="Minas Gerais, Iron ore, Leather tanning, Computer Science etc." autofocus />
    <div class="searchResult">search results</div>

    <a href="#" class="decision square small icon bra" data-type="bra">Brazilian Locations</a>
    <a href="#" class="decision square small icon hs" data-type="hs">Products</a>
    <a href="#" class="decision square small icon wld" data-type="wld">Trade Partners</a>
    <a href="#" class="decision square small icon cnae" data-type="cnae">Industries</a>
    <a href="#" class="decision square small icon cbo" data-type="cbo">Occupations</a>
    <a href="#" class="decision square small icon university" data-type="university">
      <div class="new">{% trans %}New{% endtrans %}</div>Universities</a>
    <a href="#" class="decision square small icon course_hedu" data-type="course_hedu">
      <div class="new">{% trans %}New{% endtrans %}</div>Higher Education Courses</a>

  </div>

  <div class="lightbox">

    {% for carousel in carousels %}

      <div class="carousel">

        <div class="darkbox"><h1>{{ carousel.title }}</h1></div>
        <a class="prev"><i class="fa fa-angle-left"></i></a>
        <a class="next"><i class="fa fa-angle-right"></i></a>

        <div class="scroller">
          <ul class="set" id="test" data-parameters="{{ carousel.url }}">
            {% for poster in carousel.posters %}
              <li>
                <a class="poster" href="{{ poster.url() }}">
                  <div class="poster" style="background-color:{{ poster.color }};">
                    <img src="{{ poster.icon() }}"/>
                  </div>
                  <div class="title">{{ poster.name() }}</div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    {% endfor %}

  </div>

{% endblock %}

{% block js %}

<script src="/static/js/utils/utils.selector.js"></script>
<script>
  var colorTitles = function() {
    d3.selectAll("h4.title")
      .style("color", function(){
        var c = d3.select(this.parentNode).style("background-color")
        return d3plus.color.text(c);
      })
    };

  // Create Filter Selector
  dataviva.popover.create({
    "id": "filter_popover",
    "width": 600,
    "height": "80%",
    "close": true
  })
  var selector = Selector().callback(function(d){
    window.location = "/profiles/" + selector.type() + "/" + d.id + "/";
  });

  d3.selectAll("a.decision.square").on("click", function(){
    d3.select("#filter_popover").call(selector.type(d3.select(this).attr('data-type')));
    dataviva.popover.show("#filter_popover");
    d3.event.preventDefault();
  })

  prefix = d3plus.client.prefix();

  var addLi = function(page, item) {
    var a = page.append("li").append("a")
      .attr("class", "poster")
      .attr("href", item.url)
    a.append("div").attr("class", "poster")
      .style("background-color",  item.color)
      .append("img").attr("src", item.icon);
    a.append("div").attr("class", "title").text(item.name);
  }

  var addNodes = function(page, list) {
    for (var j = 0; j < list.length; j++) {
      var item = list[j];
      addLi(page, item);
    }
    colorTitles();
  }

  var loadMore = function(parentNode, page, callback) {
    var offset = page.selectAll("li").size();
    var params = page.attr("data-parameters");
    var url = params + "&offset=" + offset
    d3.json(url, function(error, json) {
      if (error)
        return console.warn(error)
      else if (!json || json.length == 0)
        return console.log("No more data available")
      d3.select(parentNode).select("a.next").classed("disabled", false);
      result = addNodes(page, json);
      if (callback)
        callback(result);
      return result;
    });
  }

  var nextClick = function(x,y,z) {
    page_el = d3.select(this.parentNode).select(".set");
    transform = page_el.style(prefix + "transform");

    if (transform === "none")
      current_x = 0;
    else
      current_x = d3.transform(transform).translate[0];

    poster_w = parseInt(d3.select(".poster").style("width"));
    poster_w += parseInt(d3.select(".poster").style("margin-left")) * 2;
    container_w = parseInt(d3.select(".set").style("width"));
    if (d3.select(this).attr("class").indexOf("next") > -1) {
      d3.select(this.parentNode).select("a.prev").classed("disabled", false);
      next_x = current_x - container_w;
      max_left = (page_el.selectAll("li").size() * poster_w) * -1;
      max_left += container_w;
      next_x =  next_x < max_left ? max_left : next_x;
      next_x = next_x > 0 ? 0 : next_x;
      if (next_x == max_left) {
        loadMore(this.parentNode, page_el);
        d3.select(this.parentNode).select("a.next").classed("disabled", true);
      }
    } else {
      d3.select(this.parentNode).select("a.next").classed("disabled", false);
      next_x = current_x + container_w;
      next_x = next_x > 0 ? 0 : next_x;
      d3.select(this.parentNode).select("a.prev").classed("disabled", next_x == 0);
    }
    page_el.style(prefix + "transform", "translateX(" + (next_x) + "px)");

  }
  colorTitles();
  d3.selectAll("a.next,a.prev").on("click", nextClick);

</script>

{% endblock %}
