{% extends "templates/site.html" %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.home.css" />
  <style>
  *, body {
    text-align: left;
  }
  h2 {
    font-size: 36px;
    line-height: 40px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  }
  button {
    border: solid rgba(0, 0, 0, 0.4) 1px;
    background: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
  }
  button i {
    margin: 0 0 0 5px;
    vertical-align: bottom;
  }
  .search, .explore, .profile {
    margin: 0 0 40px 0;
  }
  .search {
/*    border: solid black 1px;*/
    margin: 100px 150px 150px 150px;
    position: relative;
  }
  .search input {
    background-color: white;
    border: solid rgba(0, 0, 0, 0.4) 1px;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    outline: none;
    opacity: 0.75;
    padding: 10px;
    -webkit-transition: border-color .1s, color .1s, opacity .1s;
    transition: border-color .1s, color .1s, opacity .1s;
    width: 100%;
  }
  .explore {
/*    border: solid black 1px;*/
  }
  .explore ul {
    list-style: none;
  }
  .explore ul li {
    display: inline-block;
    list-style: none;
    margin: 0 44px 0 0;
  }
  .explore ul li:last-child {
    margin: 0;
  }
  .explore ul li a {
    border: solid rgba(0, 0, 0, 0.4) 1px;
    background: rgba(255, 255, 255, 0.6);
    display: inline-block;
    height: 100px;
    padding: 10px;
    text-align: center;
    width: 100px;
  }
  .explore ul li a:hover {
    color: black;
  }
  .explore ul li i {
    display: inline-block;
    font-size: 66px;
  }
  .profile .scroller {
    overflow: hidden;
    position: relative;
  }
  .profile ul {
    list-style: none;
    white-space: nowrap;
  }
  .profile ul li {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  .profile ul li a {
    border: solid rgba(0, 0, 0, 0.4) 1px;
    background: rgba(255, 255, 255, 0.6);
    display: inline-block;
    height: 200px;
    text-align: center;
    width: 150px;
  }
  .profile ul li a h4 {
    white-space: normal;
  }
  </style>

{% endblock %}

{% block body %}

  <!-- <div class="darkbox"><h1>{% trans %}Visualizing the Economy of Brazil{% endtrans %}</h1></div>
  <div class="home_sub">
    {% trans %}DataViva is opening up data for the entire formal sector of the Brazilian economy{% endtrans %}
      <br>
    {% trans %}through more than 100 million interactive visualizations.{% endtrans %}
  </div> -->
  <div class="search">
    <h2>What are you looking for?</h2>
    <input class="searchFld" type="text" placeholder="Products exported by Minas Gerais" autofocus />
    <div class="searchResult">search results</div>
  </div>
  
  <div class="explore">
    <h2>Explore by dataset</h2>
    <ul>
      <li><a href="#"><i class="fa fa-plane"></i>Exports</a></li>
      <li><a href="#"><i class="fa fa-plane fa-rotate-90"></i>Imports</a></li>
      <li><a href="#"><i class="fa fa-building-o"></i>Industries</a></li>
      <li><a href="#"><i class="fa fa-user-md"></i>Occupations</a></li>
      <li><a href="#"><i class="fa fa-graduation-cap"></i>Higher Education</a></li>
      <li><a href="#"><i class="fa fa-slideshare"></i>Primary Education</a></li>
    </ul>
  </div>
  
  <div class="profile">
    <h2>Top exporting municipalities</h2>
    <div class="scroller">
      <ul data-parameters="/stats/carosel/?metric=export_val&amp;show=bra_id&amp;profile=BraProfile&amp;limit=10" class="set">
        <li>
          <a class="poster" href="/profile/bra/1pa040304/">
            <h4 class="title">
              Parauapebas, PA
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/bra/4sp090607/">
            <h4 class="title">
              São Paulo, SP
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/bra/5rs050101/">
            <h4 class="title">
              Rio Grande, RS
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/bra/4rj020212/">
            <h4 class="title">
              Rio de Janeiro, RJ
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/bra/4sp090504/">
            <h4 class="title">
              Santos, SP
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/bra/4sp140505/">
            <h4 class="title">
              São José dos Campos, SP
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/bra/4rj050000/">
            <h4 class="title">
              Angra dos Reis, RJ
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/bra/5pr030305/">
            <h4 class="title">
              Paranaguá, PR
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/bra/4sp090605/">
            <h4 class="title">
              São Bernardo do Campo, SP
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/bra/4rj040102/">
            <h4 class="title">
              Macaé, RJ
            </h4>
          </a>
        </li>
      </ul>
    </div>
  </div> <!-- end profile -->
    
  <div class="profile">
    <h2>Top Brazilian exports</h2>
    <div class="scroller">
      <ul data-parameters="/stats/carosel/?metric=export_val&amp;show=hs_id&amp;profile=HsProfile&amp;limit=10" class="page">
        <li>
          <a class="poster" href="/profile/wld/sabra/hs/052601/">
            <h4 class="title">
              Iron Ore
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/wld/sabra/hs/021201/">
            <h4 class="title">
              Soybeans
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/wld/sabra/hs/052709/">
            <h4 class="title">
              Crude Petroleum
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/wld/sabra/hs/041701/">
            <h4 class="title">
              Raw Sugar
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/wld/sabra/hs/178905/">
            <h4 class="title">
              Drilling Platforms
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/wld/sabra/hs/010207/">
            <h4 class="title">
              Poultry Meat
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/wld/sabra/hs/042304/">
            <h4 class="title">
              Soybean Meal
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/wld/sabra/hs/021005/">
            <h4 class="title">
              Corn
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/wld/sabra/hs/178703/">
            <h4 class="title">
              Cars
            </h4>
          </a>
        </li><li>
          <a class="poster" href="/profile/wld/sabra/hs/229999/">
            <h4 class="title">
              Unspecified
            </h4>
          </a>
        </li>
      </ul>
    </div>
  </div> <!-- end profile -->
  
  <div class="profile">
    <h2>Highest paid occupations</h2>
      <div class="scroller">
        <ul data-parameters="/stats/carosel/?metric=wage_avg&amp;show=cbo_id&amp;profile=CboProfile&amp;limit=10" class="page">
          <li>
            <a class="poster" href="/profile/wld/sabra/cbo/2422/">
              <h4 class="title">
                Public Ministry
              </h4>
            </a>
          </li><li>
            <a class="poster" href="/profile/wld/sabra/cbo/1113/">
              <h4 class="title">
                Magistrates
              </h4>
            </a>
          </li><li>
            <a class="poster" href="/profile/wld/sabra/cbo/1222/">
              <h4 class="title">
                Mining and Quarrying COOs
              </h4>
            </a>
          </li><li>
            <a class="poster" href="/profile/wld/sabra/cbo/1233/">
              <h4 class="title">
                Sales and Marketing Directors
              </h4>
            </a>
          </li><li>
            <a class="poster" href="/profile/wld/sabra/cbo/2424/">
              <h4 class="title">
                Public Defenders
              </h4>
            </a>
          </li><li>
            <a class="poster" href="/profile/wld/sabra/cbo/1237/">
              <h4 class="title">
                R&amp;D Directors
              </h4>
            </a>
          </li><li>
            <a class="poster" href="/profile/wld/sabra/cbo/1227/">
              <h4 class="title">
                Financial COOs
              </h4>
            </a>
          </li><li>
            <a class="poster" href="/profile/wld/sabra/cbo/2541/">
              <h4 class="title">
                Federal Revenue Inspectors
              </h4>
            </a>
          </li><li>
            <a class="poster" href="/profile/wld/sabra/cbo/2429/">
              <h4 class="title">
                Intelligence Agents
              </h4>
            </a>
          </li><li>
            <a class="poster" href="/profile/wld/sabra/cbo/2145/">
              <h4 class="title">
                Chemical Engineers
              </h4>
            </a>
          </li> 
        </ul>
      </div>
  </div> <!-- end profile -->
  
  <button>Load more <i class="fa fa-angle-double-down"></i></button>

{% endblock %}

{% block js %}

<script>

</script>

{% endblock %}
