{% extends "templates/site.html" %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.home.css" />

{% endblock %}

{% block body %}

  <div id="video" class="lightbox">
    <h1>{% trans %}Visualizing the Economy of Minas Gerais and Brazil{% endtrans %}</h1>
    {% trans %}DataViva is an innovative way to visualize data and transform it into knowledge to guide sustainable economic development.{% endtrans %}
    <div class="welcome_bottom">
    {% trans %}Learn how DataViva was created:{% endtrans %}
    <iframe width="348" height="195" src="//www.youtube.com/embed/Fx1-jVLnlS4?rel=0{% if g.locale == 'pt' %}&hl=pt-br&cc_lang_pref=pt-br&cc_load_policy=1{% endif %}" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div id="carousel" class="lightbox">
    <div class="pages"></div>
    <div class="centered">
      <a class="decision">{% trans %}Click, filter and discover!{% endtrans %}</a>
    </div>
  </div>
  
  <br>
  <a class="decision icon square bra" href="/profiles/bra/select/">
    {% trans %}Brazilian Locations{% endtrans %}
  </a>

  <a class="decision icon square cbo" href="/profiles/cbo/select/">
    {% trans %}Occupations{% endtrans %}
  </a>

  <a class="decision icon square isic" href="/profiles/isic/select/">
    {% trans %}Industries{% endtrans %}
  </a>
  
  <a class="decision icon square hs" href="/profiles/hs/select/">
    {% trans %}Product Exports{% endtrans %}
  </a>

  <a class="decision icon square wld" href="/profiles/wld/select/">
    {% trans %}Export Destinations{% endtrans %}
  </a>

{% endblock %}

{% block js %}

<script>

  var carousel = [
  {"id": 1, "en": "What are the industrial opportunities for Minas Gerais?", "pt": "Quais são as oportunidades econômicas de Minas Gerais?", "image": "sparks", "url": "/apps/builder/network/rais/mg/all/all/isic/"},
  {"id": 2, "en": "Where are the Hi-Tech jobs in Minas Gerais?", "pt": "Onde estão os empregados em setores de alta tecnologia em Minas Gerais?", "image": "board", "url": "/apps/builder/geo_map/rais/mg/all/3132/bra/"},
  {"id": 3, "en": "Minas Gerais: Home to the largest employment of Natural Science R&D.", "pt": "Minas Gerais: Estado com maior quantidade de empregados em P&D em Ciências Naturais", "image": "lab", "url": "/apps/builder/tree_map/rais/all/m7210/all/bra/"}
  ]
    
  var app = 1, stopped = false
  
  d3.select("#carousel .decision")
    .on(vizwhiz.evt.click,function(){
      window.location = carousel[app-1].url
    })
  
  var pages = d3.select(".pages").selectAll(".page")
    .data(carousel)
    
  pages.enter().append("div")
    .attr("class","page")
    .attr("id",function(d){return "page_"+d.id})
    .style("background-color",function(d){
      if (d.id == app) return "#af1f24"
      else return "#fff"
    })
    
  pages.on(vizwhiz.evt.click,function(d){
    stopped = true
    show_app(d.id)
  })
  
  var apps = d3.select("#carousel").selectAll(".app")
    .data(carousel)
    
  apps.enter().append("div")
    .attr("class","app")
    .attr("id",function(d){return "app_"+d.id})
    .style("background-image",function(d){return "url('/static/img/home/"+d.image+".jpg')"})
    .style("opacity",function(d){
      if (d.id == app) return 1
      else return 0
    })
    .style("display",function(d){
      if (d.id == app) return "block"
      else return "none"
    })
  
  var titles = d3.select("#carousel").selectAll("h1")
    .data(carousel)
    
  titles.enter().append("h1")
    .attr("id",function(d){return "title_"+d.id})
    .html(function(d){return d[dataviva.language]})
    .style("opacity",function(d){
      if (d.id == app) return 1
      else return 0
    })
    .style("display",function(d){
      if (d.id == app) return "block"
      else return "none"
    })
    // .on(vizwhiz.evt.click,function(d){
    //   window.location = d.url
    // })
    
  function change_app() {
    setTimeout(function(){
      if (!stopped) {
        show_app(app+1)
        change_app()
      }
    },7000)
  }
  
  change_app()
  
  function show_app(a) {
    if (a != app) {
      var old = d3.select("#app_"+app).style("opacity",0)
      var old_title = d3.select("#title_"+app).style("opacity",0)
      d3.select("#page_"+app).style("background-color","#fff")
      setTimeout(function(){
        old.style("display","none")
        old_title.style("display","none")
      },1000)
      if (a > carousel.length) app = 1
      else app = a
      d3.select("#app_"+app).style("display","block")
      d3.select("#title_"+app).style("display","block")
      setTimeout(function(){
        d3.select("#app_"+app).style("opacity",1)
        d3.select("#title_"+app).style("opacity",1)
      },5)
      d3.select("#page_"+app).style("background-color","#af1f24")
    }
  }

</script>

{% endblock %}