<!doctype html>
<html lang="{{ g.locale }}">
<meta charset="utf-8">

<div id="radar"
    class="embed-responsive responsive-wrapper"
    dataset="{{dataset}}"
    polygon="{{polygon}}"
    label="{{label}}"
    values="{{values}}">
</div>

<script type="text/javascript" src="http://d3plus.org/js/d3.js"></script>
<script type="text/javascript" src="http://d3plus.org/js/d3plus.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery-2.1.1.js"></script>
<script type="text/javascript" src="/static/js/libs/async.js"></script>
<script type="text/javascript" src="/static/js/modules/radar.js"></script>
</html>
