*.pyc
.DS_Store
.project
.pydevproject
*.prefs
*.sublime-project
*.sublime-workspace
.swp
db
dataviva/static/json/coords/*.json
dataviva/static/json/networks/*.json
dataviva/static/uploads/*/*
dataviva/utils/search_indices/
.htpasswd
dump.rdb
*.log
scripts/data
.cache
launch.json
dataviva/static/js/modules/ui/node_modules/*
dataviva/static/js/modules/ui/dist/*