# Flask framework
Jinja2==2.6
Werkzeug==0.8.3
flask==0.9

# Helper lib for running scripts locally without server
Flask-Script

# Make managing logged in users easier
flask-login

# Oauth helper for signing in users from facebook, twitter, google
flask_oauth

# Form helper
flask-wtf

# Localization
flask-babel

# DB libs for connecting to MySQL
# WARNING: Must have MySQL server installed!
MySQL-python
sqlalchemy
flask-sqlalchemy

# Redis connector for caching/sessions 
# WARNING: Must have Redis server installed!
redis
hiredis

# Better JSON serializer that knows how to handle Decimal types
simplejson
