<!doctype html>
<html lang="{{ g.locale }}">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="/static/css/bgs.css" type="text/css">
        <link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css"  media="all" href="/static/css/graphs-tools.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

        <script type="text/javascript" src="/static/js/libs/d3.min.js"></script>
        <script type="text/javascript" src="/static/js/libs/d3plus.min.js"></script>

        <script type="text/javascript" src="/static/js/libs/modernizr.custom.js"></script>
        <script type="text/javascript" src="/static/js/modules/embed/utils.dataviva.js"></script>
        <script type="text/javascript" src="/static/js/modules/embed/utils.general.js"></script>
        <script type="text/javascript" src="/static/js/libs/jquery-2.1.1.js"></script>

        <script type="text/javascript" src="/static/js/libs/async.js"></script>

        <style type="text/css">
            body {
              background: none;
            }

            .loading {
                top: 200px;
            }

            .loading .page-loader {
                background: none;
            }
        </style>
    </head>
    <body>
        {% include "graphs/tools.html" %}
        <div id="bar"
            class="embed-responsive responsive-wrapper"
            dataset="{{dataset}}"
            x="{{x}}"
            y="{{y}}"
            options="{{options}}"
            subtitle="{{subtitle}}"
            filters="{{filters}}">
        </div>
        <div id="controls"></div>

        <div id="mask" class="loading"></div>

        <script type="text/javascript">
            var dictionary = {{ dictionary|safe }};
        </script>
        <script type="text/javascript" src="/static/js/graphs/helper.js"></script>
        <script type="text/javascript" src="/static/js/modules/bar.js"></script>
        <script type="text/javascript" src="/static/js/graphs/tools.js"></script>
        <script src="/static/js/plugins/jspdf/FileSaver.js"></script>
        <script src="/static/js/plugins/jspdf/jspdf.js"></script>
        <script src="/static/js/plugins/jspdf/addimage.js"></script>
    </body>
</html>
