<!doctype html>
<html lang="{{ g.locale }}">
	<meta charset="utf-8">

	<div id="bar"
	    class="embed-responsive responsive-wrapper"
	    dataset="{{dataset}}"
	    x="{{x}}"
	    y="{{y}}"
	    filters="{{filters}}">
	</div>

	<div class="loading"></div>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/static/css/bgs.css" type="text/css">

	<script type="text/javascript" src="http://d3plus.org/js/d3.js"></script>
	<script type="text/javascript" src="http://d3plus.org/js/d3plus.js"></script>

	<script type="text/javascript" src="/static/js/libs/modernizr.custom.js"></script>
	<script type="text/javascript" src="/static/js/utils/utils.dataviva.js"></script>
	<script type="text/javascript" src="/static/js/libs/jquery-2.1.1.js"></script>

	<script type="text/javascript" src="/static/js/libs/async.js"></script>
	<script type="text/javascript" src="/static/js/modules/bar.js"></script>
</html>
