<div id="graphs-wages" class="container">
    <nav class="nav-graph col-xs-12 col-sm-3 col-md-3">
        <h3>{% trans %}Preview{% endtrans %}:</h3>
        <div class="list-group panel">
            <h4>{% trans %}Jobs By{% endtrans %}</h4>
                <a href="#jobs-occupation" class="list-group-item" data-toggle="collapse" data-parent="#jobs-occupation">{% trans %}Occupation{% endtrans %}</a>
                <div class="collapse" id="jobs-occupation">
                    <a href="/{{ g.locale }}/embed/tree_map/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/cbo/?color=color&depth=cbo_4&size=num_jobs" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'jobs-occupation-tree_map' or not graph }}"
                    data-parent="#jobs-occupation">TreeMap</a>
                    <a href="/{{ g.locale }}/tree_map/rais/occupation_family/jobs?year=2014&industry={{ industry.id }}{{ '&id_ibge=%s' % location.id_ibge if location }}" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'new-api-jobs-occupation-tree_map' }}"
                    data-parent="#new-api-jobs-occupation">TreeMap new API</a>
                    <a href="/{{ g.locale }}/embed/stacked/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/cbo/?sort=asc&layout=value&y=num_jobs&order=color" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'jobs-occupation-stacked'}}"
                    data-parent="#jobs-occupation">{% trans %}Stacked{% endtrans %}</a>
                </div>
                {% if location.id | length != 9 %}
                <a href="#jobs-municipality" class="list-group-item" data-toggle="collapse" data-parent="#jobs-occupation">{% trans %}Municipality{% endtrans %}</a>
                <div class="collapse" id="jobs-municipality">
                    <a href="/{{ g.locale }}/embed/geo_map/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/bra/?color=num_jobs" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'jobs-municipality-geo_map'}}" data-parent="#jobs-municipality">{% trans %}Map{% endtrans %}</a>
                    <a href="/{{ g.locale }}/embed/tree_map/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/bra/?color=color&depth=bra_9&size=num_jobs" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'jobs-municipality-tree_map'}}" data-parent="#jobs-municipality">TreeMap</a>
                    <a href="/{{ g.locale }}/tree_map/rais/municipality/jobs?year=2014&count=establishments&industry={{ industry.id }}{{ '&id_ibge=%s' % location.id_ibge if location }}" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'new-api-jobs-municipality-tree_map' }}"
                    data-parent="#new-api-jobs-municipality">TreeMap new API</a>
                    <a href="/{{ g.locale }}/embed/stacked/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/bra/?sort=asc&layout=value&y=num_jobs&order=color" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'jobs-municipality-stacked'}}" data-parent="#jobs-municipality">{% trans %}Stacked{% endtrans %}</a>
                </div>

                {% endif %}

                <a href="#jobs-demographic" class="list-group-item" data-toggle="collapse" data-parent="#jobs-demographic">{% trans %}Demographic Informations{% endtrans %}</a>
                 <div class="collapse" id="jobs-demographic">
                     <a href="/{{g.locale}}/bar/rais/jobs/gender,ethnicity,literacy?industry={{ industry.id }}{{ '&id_ibge=%s' % location.id_ibge if location }}"
                        target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'jobs-demographic-bar'}}" data-parent="#jobs-demographic">
                         {% trans %}Bar{% endtrans %}
                     </a>
                 </div>

                 <a href="#jobs-establishments" class="list-group-item" data-toggle="collapse" data-parent="#jobs-establishments">{% trans %}Establishments Informations{% endtrans %}</a>
                 <div class="collapse" id="jobs-establishments">
                     <a href="/{{g.locale}}/bar/rais/jobs/simple,establishment_size?industry={{ industry.id }}{{ '&id_ibge=%s' % location.id_ibge if location }}"
                        target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'jobs-establishments-bar'}}" data-parent="#jobs-establishments">
                         {% trans %}Bar{% endtrans %}
                     </a>
                 </div>

                
            <h4>{% trans %}Wages By{% endtrans %}</h4>
                <a href="#wages-occupation" class="list-group-item" data-toggle="collapse" data-parent="#wages-occupation">{% trans %}Occupation{% endtrans %}</a>
                <div class="collapse" id="wages-occupation">
                    <a href="/{{ g.locale }}/embed/tree_map/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/cbo/?color=color&depth=cbo_4&size=wage" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'wage-occupation-tree_map'}}" data-parent="#wages-occupation">TreeMap</a>
                    <a href="/{{ g.locale }}/tree_map/rais/occupation_family/wage?year=2014&industry={{ industry.id }}{{ '&id_ibge=%s' % location.id_ibge if location }}" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'new-api-wages-occupation-tree_map' }}"
                    data-parent="#new-api-wages-occupation">TreeMap new API</a>
                    <a href="/{{ g.locale }}/embed/stacked/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/cbo/?y=wage" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'wage-occupation-stacked'}}" data-parent="#wages-occupation">{% trans %}Stacked{% endtrans %}</a>
                </div>
                {% if location.id | length != 9 %}
                <a href="#wages-municipality" class="list-group-item" data-toggle="collapse" data-parent="#wages-occupation">{% trans %}Municipality{% endtrans %}</a>
                <div class="collapse" id="wages-municipality">
                    <a href="/{{ g.locale }}/embed/geo_map/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/bra/?color=wage" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'wages-municipality-geo_map'}}" data-parent="#wages-municipality">{% trans %}Map{% endtrans %}</a>
                    <a href="/{{ g.locale }}/embed/tree_map/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/bra/?color=color&depth=bra_9&size=wage" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'wages-municipality-tree_map'}}" data-parent="#wages-municipality">TreeMap</a>
                    <a href="/{{ g.locale }}/tree_map/rais/municipality/wage?year=2014&count=establishment&industry={{ industry.id }}{{ '&id_ibge=%s' % location.id_ibge if location }}" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'new-api-wages-municipality-tree_map' }}"
                    data-parent="#new-api-wages-municipality">TreeMap new API</a>
                    <a href="/{{ g.locale }}/embed/stacked/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/bra/?y=wage&sort=asc&layout=value&order=color" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'wages-municipality-stacked'}}" data-parent="#wages-municipality">{% trans %}Stacked{% endtrans %}</a>
                </div>
                {% endif %}
                {% if not location.id %}
                <a href="#wages-distribution" class="list-group-item" data-toggle="collapse" data-parent="#wages-occupation">{% trans %}Distribution{% endtrans %}</a>
                <div class="collapse" id="wages-distribution">
                    <a href="/{{ g.locale }}/embed/bar/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/cnae/" 
                    target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'wages-distribution-bar'}}" data-parent="#wages-distribution">{% trans %}Bar Chart{% endtrans %}</a>
                </div>
                {% endif %}

                <a href="#wages-demographic" class="list-group-item" data-toggle="collapse" data-parent="#wages-demographic">{% trans %}Demographic Informations{% endtrans %}</a>
                <div class="collapse" id="wages-demographic">
                    <a href="/{{g.locale}}/bar/rais/wage_received,average_monthly_wage/gender,ethnicity,literacy?industry={{ industry.id }}{{ '&id_ibge=%s' % location.id_ibge if location }}"
                       target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'wages-demographic-bar'}}" data-parent="#wages-demographic">
                        {% trans %}Bar{% endtrans %}
                    </a>
                </div>

                <a href="#wages-establishments" class="list-group-item" data-toggle="collapse" data-parent="#wages-establishments">{% trans %}Establishments Informations{% endtrans %}</a>
                <div class="collapse" id="wages-establishments">
                    <a href="/{{g.locale}}/bar/rais/wage_received,average_monthly_wage/simple,establishment_size?industry={{ industry.id }}{{ '&id_ibge=%s' % location.id_ibge if location }}"
                       target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'wages-establishments-bar'}}" data-parent="#wages-establishments">
                        {% trans %}Bar{% endtrans %}
                    </a>
                </div>

        </div>
    </nav>
    <div class="responsive-frame col-xs-12 col-sm-9 col-md-9">
        <div class="embed-responsive responsive-wrapper">
            <iframe src="{% if not graph %} /{{ g.locale }}/embed/tree_map/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/cbo/?color=color&depth=cbo_4&controls=true&size=num_jobs{% else %} /{{ g.locale }}/{{ graph.url }}{% endif %}"
                    name="graphs-frame-wages"
                    id="graphs-frame-wages"
                    class="embed-responsive-item" >
            </iframe>
        </div>
    </div>
</div>

