<!-- extend from base layout -->
{% extends "base.html" %}

<!-- Facebook Properties -->
{% block facebook_metadata %}
    <meta property="og:image" content="{{ g.s3_host }}/img/industry/industry_{{ industry.id if industry.img_link else 'all' }}.jpg"/>
    <meta property="og:url" content="{{url_for('industry.index', cnae_id=industry.id, tab=tab, _external=True, _scheme='http')}}{% if location.id %}{{ '?bra_id=' }}{{ location.id }}{{ '&menu=' if graph.menu }}{{ graph.menu }}{{ '&url=' if graph.url }}{{ graph.url }}{% elif graph.menu %}{{ '?menu=' if graph.menu }}{{ graph.menu }}{{ '&url=' if graph.url }}{{ graph.url }}{% endif %}"/>
    <meta property="og:title" content="DataViva: {{ industry.name() }}{% if not location.id %} {% trans %}in Brazil{% endtrans %}{% else %}{% if location.id | length <= 3 %} {{location.preposition('em')}} {{location.name()}} {% else %} {{location.preposition('em')}} {{location.name()}} - {{ location.abbreviation }}{% endif %}{% endif %} |
        {% if tab == 'general'%}
            {% trans %}General{% endtrans %}
        {% elif tab == 'wages' %}
            {% trans %}Wages and Jobs{% endtrans %}
        {% elif tab == 'opportunities' %}
            {% trans %}Economic Opportunities{% endtrans %}
        {% endif %}"/>
    <meta property="og:description" content="{% trans %}The economic activity{% endtrans %} {{industry.preposition('de')}} {{industry.name()}} {% trans %}is the{% endtrans %} {% if g.locale == "en" %}number {% endif %}{{header.ranking}}{% if g.locale == "pt" %}{{ header.ranking | ordinal('f') }}{% endif %} ..."/>
    <meta property="og:type" content="website" />
{% endblock facebook_metadata %}

{% block content %}

<!-- BREADCRUMB -->
<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('general.home') }}">Home</a>
            </li>
            <li {{ 'class="active"' if not location else '' }}>
                <a href="#" title="Trocar" onclick="select_attr_search('cnae');"> {{ industry.name() }}</a>
            </li>
            {% if location %}
                <li class="active">
                    <a href="#" title="Trocar" onclick="select_attr_search('bra');"> {{ location.name() }}</a>
                </li>
            {% endif %}
        </ol>
    </div>
</div>
<!-- BREADCRUMB -->

<section id="header" class="header" style="background: url({{ g.s3_host }}/img/industry/industry_{{ industry.id if industry.img_link else 'all' }}.jpg) no-repeat center center fixed; background-size: cover;">

  <div class="photo-credit">
    <div class="container">
    <a href="{{ industry.img_link if industry.img_link else 'https://flic.kr/p/i8e8Y7' }}" target="blank">
    <i class="fa fa-camera"></i> {% trans %}picture by{% endtrans %} {{ industry.img_author if industry.img_link else 'Rodrigo W. Blum' }}</a>
    </div>
  </div>

    <div class="summary-box">
        <div class="container">

            <span class="portrait dv-cnae-{{ industry.id[0] }} hidden-xs"></span>
            <h1>
              {{ industry.name() }}
              {% if not location.id %}
                {% trans %}in Brazil{% endtrans %}
              {% else %}
                  {% if location.id | length <= 3 %}
                    {{location.preposition('em')}} {{location.name()}}
                  {% else %}
                    {{location.preposition('em')}} {{location.name()}} - {{ location.abbreviation }}
                  {% endif %}
              {% endif %}
                <div class="btn-group">
                  <button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans %}change{% endtrans %} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" onclick="select_attr('cnae');">{% trans %}Industry{% endtrans %}</a></li>
                    <li><a href="#" onclick="select_attr_search('bra');">{% trans %}Location{% endtrans %}</a></li>
                  </ul>
                </div>
            </h1>
            <span class="clearfix"></span>

            <div class="indices">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Average Monthly Income{% endtrans %} ({{ header.year }})</h2>
                            <div class="number">
                                R$ <strong class="counter">{{ header.average_monthly_income | max_digits(3, True) }}</strong><br/>
                                <small class="magnitude">{{ header.average_monthly_income | magnitude  }}</small>
                            </div>
                        </div>
                    </div><!--/.col-->
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Payroll{% endtrans %} ({{ header.year }})</h2>
                            <div class="number">
                                R$ <strong class="counter">{{ header.salary_mass | max_digits(3, True) }}</strong><br/>
                                <small class="magnitude">{{ header.salary_mass | magnitude }}</small>
                            </div>
                        </div>
                    </div><!--/.col-->
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Total Employment{% endtrans %} ({{ header.year }})</h2>
                            <div class="number">
                                <strong class="counter">{{ header.num_jobs | max_digits(3, True) }}</strong><br/>
                                <small class="magnitude">{{ header.num_jobs | magnitude }}</small>
                            </div>
                        </div>
                    </div><!--/.col-->
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Total of Establishments{% endtrans %} ({{ header.year }})</h2>
                            <div class="number">
                                <strong class="counter">{{ header.num_establishments | max_digits(3, True) }}</strong><br/>
                                <small class="magnitude">{{ header.num_establishments | magnitude }}</small>
                            </div>
                        </div>
                    </div><!--/.col-->
                    {% if location and industry.id | length == 6%}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Domestic RCA{% endtrans %} ({{ header.year }})</h2>
                            <div class="number">
                                <strong class="counter">{{ header.rca | max_digits(3, True) }}</strong><br/>
                                <small class="magnitude">{{ header.rca | magnitude}}</small>
                            </div>
                        </div>
                    </div><!--/.col-->
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Distance{% endtrans %} ({{ header.year }})</h2>
                            <div class="number">
                                <strong class="counter">{{ header.distance | max_digits(3, True) }}</strong><br/>
                                <small class="magnitude">{{ header.num_establishments | magnitude }} {{"de" }} KM</small>
                            </div>
                        </div>
                    </div><!--/.col-->
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Opportunity Gain{% endtrans %} ({{ header.year }})</h2>
                            <div class="number">
                                <strong class="counter">{{ header.opportunity_gain | max_digits(3, True) }}</strong><br/>
                                <small class="magnitude">{{ header.opportunity_gain | magnitude}}</small>
                            </div>
                        </div>
                    </div><!--/.col-->
                    {% endif %}
                </div><!--/.row-->
            </div>
        </div>
    </div>
</section>

<section id="profile" class="profile">

    <nav class="">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="{{ 'active' if tab == 'general' }}">
                <a  href="#general"
                    aria-controls="general"
                    role="tab"
                    data-id="{{ industry.id }}"
                    data-location="{{ location.id }}"
                    data-toggle="tab">{% trans %}General{% endtrans %}</a>
            </li>
            <li role="presentation" class="{{ 'active' if tab == 'wages' }}">
                <a  href="#wages"
                    aria-controls="wages"
                    role="tab"
                    graph
                    data-id="{{ industry.id }}"
                    data-location="{{ location.id }}"
                    data-toggle="tab">{% trans %}Wages and Jobs{% endtrans %}</a>
            </li>
            {% if (industry.id|length) == 6 %}
            <li role="presentation" class="{{ 'active' if tab == 'opportunities' }}">
                <a  href="#opportunities"
                    aria-controls="opportunities"
                    role="tab"
                    graph
                    data-id="{{ industry.id }}"
                    data-location="{{ location.id }}"
                    data-toggle="tab">{% trans %}Economic Opportunities{% endtrans %}</a>
            </li>
            {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="tab-content">
            {% include "industry/tab-general.html" %}
            {% include "industry/tab-wages.html" %}
            {% if (industry.id|length) == 6 %}
                {% include "industry/tab-opportunities.html" %}
            {% endif %}
        </div>
    </div>
</section>

<section id="graphs" class="graphs bg-gray">
    {% if tab != 'general' %}
        {% include "industry/graphs-" + tab + ".html" %}
    {% endif %}
</section>

{% endblock content %}
