<div role="tabpanel" class="tab-pane" id="salario-emprego">
    <h2>Salário e Emprego</h2>
    <p>{{industry.text_salary_job }}</p>
    <h3>Estatísticas de Salário e Emprego</h3>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            <th>
                                Ocupação
                                <small>com maior número de empregos</small>
                            </th>
                            {%if (location|length) != 9 %}
                                <th>
                                    Município
                                    <small>com maior número de empregos</small>
                                </th>
                            {% endif %}
                            <th>
                                Ocupação
                                <small>com maior renda média mensal</small>
                            </th>
                            {%if (location|length) != 9 %}
                                <th>
                                    Município
                                    <small>com maior renda média mensal</small>
                                </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="label">{{ body.occ_with_more_number_jobs_name }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.occ_with_more_number_jobs_value | max_digits(3) }}</strong><span>{{ body.occ_with_more_number_jobs_value | magnitude }}</span>
                                </div>
                            </td>
                            {%if (location|length) != 9 %}
                                <td>
                                    <p class="label">{{ body.municipality_with_more_num_jobs_name }}</p>
                                    <div class="number">
                                        USD <strong class="counter">{{ body.municipality_with_more_num_jobs_value | max_digits(3) }}</strong><span>{{ body.municipality_with_more_num_jobs_value | magnitude }}</span>
                                    </div>
                                </td>
                            {% endif %}
                            <td>
                                <p class="label">{{ body.occ_with_more_wage_avg_name }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.occ_with_more_wage_avg_value | max_digits(3) }}</strong><span>{{ body.occ_with_more_wage_avg_value | magnitude  }}</span>
                                </div>
                            </td>
                            {%if (location|length) != 9 %}
                                <td>
                                    <p class="label">{{ body.municipality_with_more_wage_avg_name }}</p>
                                    <div class="number">
                                        USD <strong class="counter">{{ body.municipality_with_more_wage_avg_value | max_digits(3) }}</strong><span>{{ body.municipality_with_more_wage_avg_value | magnitude }}</span>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</br><a target="frame-tab-salario-emprego">Emprego por</a></br>

         <a href="/pt/embed/tree_map/rais/{% if industry.id %}{{industry.id}}{% else %}all{%endif%}/{{ industry.id }}/all/cbo/?color=color&depth=cbo_4&size=num_jobs" target="frame-tab-salario-emprego">&nbsp TreeMap: Ocupações no Brasil empregadas por Atividade Econômica</a></br>
         <a href="/pt/embed/line/rais/{% if industry.id %}{{industry.id}}{% else %}all{%endif%}/{{ industry.id }}/all/cbo/?y=num_jobs" target="frame-tab-salario-emprego">&nbsp Evoluçāo:  Ocupações no Brasil empregadas por Atividade Econômica</a></br>

<a target="frame-tab-salario-emprego">Salários por</a> </br>

         <a href="/pt/embed/geo_map/rais/{% if industry.id %}{{industry.id}}{% else %}all{%endif%}/{{ industry.id }}/all/bra/?color=num_jobs" target="frame-tab-salario-emprego">&nbsp Mapa: Estados no Brasil que tem a Atividade Econômica</a></br>

         <a href="/pt/embed/tree_map/rais/{% if industry.id %}{{industry.id}}{% else %}all{%endif%}/{{ industry.id }}/all/bra/?color=color&depth=bra_9&size=num_jobs" target="frame-tab-salario-emprego">&nbsp TreeMap: Municípios no Brasil que tem a Atividade Econômica</a></br>

         <a href="/pt/embed/stacked/rais/{% if industry.id %}{{industry.id}}{% else %}all{%endif%}/{{ industry.id }}/all/bra/?y=num_jobs&layout=value&sort=asc" target="frame-tab-salario-emprego">&nbsp Evolução: Estados no Brasil que tem a Atividade Econômica</a></br>

<a target="frame-tab-salario-emprego">Distribuição</a></br>

        <a href="/pt/embed/bar/rais/{% if industry.id %}{{industry.id}}{% else %}all{%endif%}/{{ industry.id }}/all/cnae/" target="frame-tab-salario-emprego">&nbsp Barras: Distribuição de salários para a Atividade Econômica</a>

 </div>

 <iframe name="frame-tab-salario-emprego" id="frame-salario-emprego" width='684' height='350' src='' frameborder='0'></iframe>