<div role="tabpanel" class="tab-pane" id="opportunities">
    <h2>Oportunidade Econômica</h2>
    <p>{{ industry.text_economic_opportunity }}</p>

</br><a target="frame-tab-opportunities">Atividades Econômicas</a></br>

         <a href="/pt/embed/rings/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/cnae"
         target="frame-tab-opportunities">&nbsp Anéis</a></br>
</div>

<iframe name="frame-tab-opportunities" id="frame-tab-opportunities" width='684' height='350'
src='/pt/embed/rings/rais/{{ location.id if location else 'all' }}/{{ industry.id }}/all/cnae' frameborder='0'></iframe>
