<div role="tabpanel" class="tab-pane active" id="general">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">RENDA MÉDIA MENSAL</h2>
                        <div class="number">
                            R$ <strong class="counter">{{ header.average_monthly_income | max_digits(3) }}</strong><br/>
                            <small class="magnitude">{{ header.average_monthly_income | magnitude  }}</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">MASSA SALARIAL</h2>
                        <div class="number">
                            R$ <strong class="counter">{{ header.salary_mass | max_digits(3) }}</strong><br/>
                            <small class="magnitude">{{ header.salary_mass | magnitude }}</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">TOTAL DE EMPREGOS</h2>
                        <div class="number">
                            <strong class="counter">{{ header.num_jobs | max_digits(3) }}</strong><br/>
                            <small class="magnitude">{{ header.num_jobs | magnitude }}</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">TOTAL DE ESTABELECIMENTOS</h2>
                        <div class="number">
                            R$ <strong class="counter">{{ header.num_establishments | max_digits(3) }}</strong><br/>
                            <small class="magnitude">{{ header.num_establishments | magnitude }}</small>
                        </div>
                    </div>
                </li>
                {% if location and industry.id | length == 6%}
                    <li>
                        <div class="widget">
                            <h2 class="text-left text-uppercase">RCA DOMÉSTICO</h2>
                            <div class="number">
                                <strong class="counter">{{ header.rca | max_digits(3) }}</strong><br/>
                                <small class="magnitude">{{ header.rca | magnitude}}</small>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="widget">
                            <h2 class="text-left text-uppercase">DISTÂNCIA</h2>
                            <div class="number">
                                <strong class="counter">{{ header.distance | max_digits(3) }}</strong><br/>
                                <small class="magnitude">{{ header.num_establishments | magnitude }} {{"de" }} KM</small>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="widget">
                            <h2 class="text-left text-uppercase">GANHO DE OPORTUNIDADE</h2>
                            <div class="number">
                                <strong class="counter">{{ header.opportunity_gain | max_digits(3) }}</strong><br/>
                                <small class="magnitude">{{ header.opportunity_gain | magnitude}}</small>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>

        <a href="#" class="fa fa-angle-left jcarousel-control-prev"></a>
        <a href="#" class="fa fa-angle-right jcarousel-control-next"></a>
    </div>

    <div class="m-t-sm col-xs-12 year">
        Ano: {{ header.year }}
    </div>

    <h2 class="m-t-xl">Perfil Geral</h2>
    {% if not location %}
        <p>A atividade econômica {{industry.preposition('de')}} {{industry.name()}} é a {{header.ranking}}ª em número de empregados no Brasil,
        os quais estão mais concentrados no município de {{body.municipality_with_more_num_jobs_name }} com
        {{body.municipality_with_more_num_jobs_value | max_digits(3)}} {{body.municipality_with_more_num_jobs_value | magnitude}} empregados.
        A ocupação com maior número de empregados nessa atividade é a de {{body.occ_with_more_number_jobs_name}}.
        No total, o Brasil possui {{header.num_establishments_brazil | max_digits(3)}} {{header.num_establishments_brazil | magnitude}}
        estabelecimentos que trabalham com {{industry.name()}}.</p>
    {% else %}
        {% if location.id|length != 9 %}
            <p>A atividade econômica {{industry.preposition('de')}} {{industry.name()}} é a {{header.ranking}}ª em número de empregados,
            os quais estão mais concentrados no município {{location.preposition('de')}} {{body.municipality_with_more_num_jobs_name}},
            com {{body.municipality_with_more_num_jobs_value | max_digits(3)}} {{body.municipality_with_more_num_jobs_value | magnitude}} empregados.
            A ocupação com maior número de empregados {{industry.preposition('em')}} {{industry.name()}} na região é a de {{body.occ_with_more_number_jobs_name}}.
            Nesta região, {{header.num_establishments | max_digits(3)}} {{header.num_establishments | magnitude}} estabelecimentos trabalham com {{industry.name()}}.</p>
        {% else %}
            <p>A atividade econômica de {{industry.name()}} é a {{header.ranking}}ª em número de empregados. A ocupação com maior número de empregados nessa atividade de {{body.occ_with_more_number_jobs_name}}.
            Neste município, {{header.num_establishments | max_digits(3)}} {{header.num_establishments | magnitude}} estabelecimentos trabalham com {{industry.name()}}.</p>
        {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-md-10 col-lg-8">
            <h3>Salário e Emprego</h3>
            <div class="table-responsive">
                <table class="table data-detail">
                    <tbody>
                        <tr>
                            <th>
                                 Ocupação com maior número de empregos
                            </th>
                            <td>
                                <p class="label">{{ body.occ_with_more_number_jobs_name }}</p>
                                USD <strong class="counter">{{ body.occ_with_more_number_jobs_value | max_digits(3) }}</strong> <span>{{ body.occ_with_more_number_jobs_value | magnitude }}</span>
                            </td>
                        </tr>
                        {% if location.id|length != 9 %}
                        <tr>
                            <th>
                                Município com maior número de empregos
                            </th>
                            <td>
                                <p class="label">{{ body.municipality_with_more_num_jobs_name }}</p>
                                USD <strong class="counter">{{ body.municipality_with_more_num_jobs_value | max_digits(3) }}</strong> <span>{{ body.municipality_with_more_num_jobs_value | magnitude }}</span>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>
                                Ocupação com maior renda média mensal
                            </th>
                            <td>
                                <p class="label">{{ body.occ_with_more_wage_avg_name }}</p>
                                USD <strong class="counter">{{ body.occ_with_more_wage_avg_value | max_digits(3) }}</strong> <span>{{ body.occ_with_more_wage_avg_value | magnitude }}</span>
                            </td>
                        </tr>
                        {% if location.id|length != 9 %}
                        <tr>
                            <th>
                                Município com maior renda média mensal
                            </th>
                            <td>
                                <p class="label">{{ body.municipality_with_more_wage_avg_name }}</p>
                                USD <strong class="counter">{{ body.municipality_with_more_wage_avg_value | max_digits(3) }}</strong> <span>{{ body.municipality_with_more_wage_avg_value | magnitude }}</span>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <a href="#wages" aria-controls="wages" role="tab" data-toggle="tab" class="pull-right btn btn-primary btn-xs m-r-lg">
                mais detalhes
            </a>
        </div>
    </div>
</div>