<div role="tabpanel" class="tab-pane" id="wages">
    <h2>{% trans %}Wages and Jobs{% endtrans %}</h2>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            <th>
                                {% trans %}Occupation{% endtrans %}
                                <small>{% trans %}with highest number of jobs{% endtrans %}</small>
                            </th>
                            {%if (location.id|length) != 9 %}
                                <th>
                                    {% trans %}Municipality{% endtrans %}
                                    <small>{% trans %}with highest number of jobs{% endtrans %}</small>
                                </th>
                            {% endif %}
                            <th>
                                {% trans %}Occupation{% endtrans %}
                                <small>{% trans %}with highest monthly average income{% endtrans %}</small>
                            </th>
                            {%if (location.id|length) != 9 %}
                                <th>
                                    {% trans %}Municipality{% endtrans %}
                                    <small>{% trans %}with highest monthly average income{% endtrans %}</small>
                                </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="label">{{ body.occ_with_more_number_jobs_name }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.occ_with_more_number_jobs_value | max_digits(3) }}</strong><span>{{ body.occ_with_more_number_jobs_value | magnitude }}</span>
                                </div>
                            </td>
                            {%if (location.id|length) != 9 %}
                                <td>
                                    <p class="label">{{ body.municipality_with_more_num_jobs_name }}</p>
                                    <div class="number">
                                        USD <strong class="counter">{{ body.municipality_with_more_num_jobs_value | max_digits(3) }}</strong><span>{{ body.municipality_with_more_num_jobs_value | magnitude }}</span>
                                    </div>
                                </td>
                            {% endif %}
                            <td>
                                <p class="label">{{ body.occ_with_more_wage_avg_name }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.occ_with_more_wage_avg_value | max_digits(3) }}</strong><span>{{ body.occ_with_more_wage_avg_value | magnitude  }}</span>
                                </div>
                            </td>
                            {%if (location.id|length) != 9 %}
                                <td>
                                    <p class="label">{{ body.municipality_with_more_wage_avg_name }}</p>
                                    <div class="number">
                                        USD <strong class="counter">{{ body.municipality_with_more_wage_avg_value | max_digits(3) }}</strong><span>{{ body.municipality_with_more_wage_avg_value | magnitude }}</span>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
