<div role="tabpanel" class="tab-pane" id="salario-emprego">
    <h2>Salário e Emprego</h2>
    <p>{{industry.text_salary_job}}</p>
    <h3>Estatísticas de Salário e Emprego</h3>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            <th>
                                Ocupação
                                <small>com maior número de empregos</small>
                            </th>
                            {%if industry.county %}
                                <th>
                                    Município
                                    <small>com maior número de empregos</small>
                                </th>
                            {% endif %}
                            <th>
                                Ocupação
                                <small>com maior renda média mensal</small>
                            </th>
                            {%if industry.county %}
                                <th>
                                    Município
                                    <small>com maior renda média mensal</small>
                                </th> 
                            {% endif %}                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="label">{{body.occ_with_more_number_jobs_name}}</p>
                                <div class="number">
                                    USD <strong class="counter">{{body.occ_with_more_number_jobs_value}}</strong><span>B</span>
                                </div>
                            </td>
                            {%if industry.county %}
                                <td>
                                    <p class="label">{{body.municipality_with_more_num_jobs_name}}</p>
                                    <div class="number">
                                        USD <strong class="counter">{{body.municipality_with_more_num_jobs_value}}</strong><span>B</span>
                                    </div>
                                </td>
                            {% endif %}    
                            <td>
                                <p class="label">{{body.occ_with_more_wage_avg_name}}</p>
                                <div class="number">
                                    USD <strong class="counter">{{body.occ_with_more_wage_avg_value}}</strong><span>B</span>
                                </div>
                            </td>
                            {%if industry.county %}
                                <td>
                                    <p class="label">{{body.municipality_with_more_wage_avg_name}}</p>
                                    <div class="number">
                                        USD <strong class="counter">{{body.municipality_with_more_wage_avg_value}}</strong><span>B</span>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>