<div role="tabpanel" class="tab-pane active" id="geral">
    <div class="mod mod-datainfo">
        <div class="numbers-top smaller">
            <div class="row">
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">RENDA MÉDIA MENSAL</p>
                    <div class="number">
                        R$ <strong class="counter">{{ header.average_monthly_income | max_digits(3) }}</strong><small>{{ header.average_monthly_income | magnitude  }}</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">MASSA SALARIAL</p>
                    <div class="number">
                        R$ <strong class="counter">{{ header.salary_mass | max_digits(3) }}</strong><small>{{ header.salary_mass | magnitude }}</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">TOTAL DE EMPREGOS</p>
                    <div class="number">
                        <strong class="counter">{{ header.num_jobs | max_digits(3) }}</strong><small>{{ header.num_jobs | magnitude }}</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">TOTAL DE ESTABELECIMENTOS</p>
                    <div class="number">
                        <strong class="counter">{{ header.num_establishments | max_digits(3) }}</strong><small>{{ header.num_establishments | magnitude }}</small>
                    </div>
                </div>

                {% if industry.flag_preview_headers %}

                    <div class="col-xs-15 col-sm-3 item">
                        <p class="label">RCA DOMÉSTICO</p>
                        <div class="number">
                            <strong class="counter">{{ header.rca | max_digits(3) }}</strong>
                        </div>
                    </div>
                    <div class="col-xs-15 col-sm-3 item">
                        <p class="label">DISTÂNCIA</p>
                        <div class="number">
                            <strong class="counter">{{ header.distance | max_digits(3) }}</strong><small>{{ header.num_establishments | magnitude }} {{"de" }} KM</small>
                        </div>
                    </div>
                    <div class="col-xs-15 col-sm-3 item">
                        <p class="label">GANHO DE OPORTUNIDADE</p>
                        <div class="number">
                            <strong class="counter">{{ header.opportunity_gain | max_digits(3) }}</strong>
                        </div>
                    </div>
                {% endif %}
                <div class="col-xs-15 col-sm-15 year">
                    Ano: {{ header.year }}
                </div>


            </div>
        </div>
        <h2>Perfil Geral</h2>
        <p>A atividade econômica {{header.name}} é a {{header.ranking}}ª em número de empregados no Brasil, que estão mais concentrados no município de {{body.municipality_with_more_num_jobs_name}}, com {{body.municipality_with_more_num_jobs_value | max_digits(3)}}  {{body.municipality_with_more_num_jobs_value | magnitude}} de empregados. A ocupação com maior número de empregos nessa atividade é a de {{body.occ_with_more_number_jobs_name}}. No total, o Brasil possui {{header.num_establishments_brazil | max_digits(3)}} {{header.num_establishments_brazil | magnitude}} de estabelecimentos que trabalham com {{header.name}}.</p>
        <div class="row">
            <div class="col-xs-15 col-sm-15 col-md-15">
                <h3>Salário e Emprego</h3>
                <div class="table-responsive">
                    <table class="table data-2-columns margin-none-bottom">
                        <tbody>
                            <tr>
                                <th>
                                    Ocupação com maior número de empregos
                                </th>
                                <td>
                                    <p class="label">{{ body.occ_with_more_number_jobs_name }}</p>
                                    USD <strong class="counter">{{ body.occ_with_more_number_jobs_value | max_digits(3) }}</strong> <span>{{ body.occ_with_more_number_jobs_value | magnitude }}</span>
                                </td>
                            </tr>
                            {% if industry.county %}
                                <tr>
                                    <th>
                                        Município com maior número de empregos
                                    </th>
                                    <td>
                                        <p class="label">{{ body.municipality_with_more_num_jobs_name }}</p>
                                        USD <strong class="counter">{{ body.municipality_with_more_num_jobs_value | max_digits(3) }}</strong> <span>{{ body.municipality_with_more_num_jobs_value | magnitude }}</span>
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>
                                    Ocupação com maior renda média mensal
                                </th>
                                <td>
                                    <p class="label">{{ body.occ_with_more_wage_avg_name }}</p>
                                    USD <strong class="counter">{{ body.occ_with_more_wage_avg_value | max_digits(3) }}</strong> <span>{{ body.occ_with_more_wage_avg_value | magnitude }}</span>
                                </td>
                            </tr>
                            {% if industry.county %}
                                <tr>
                                    <th>
                                        Município com maior renda média mensal
                                    </th>
                                    <td>
                                        <p class="label">{{ body.municipality_with_more_wage_avg_name }}</p>
                                        USD <strong class="counter">{{ body.municipality_with_more_wage_avg_value | max_digits(3) }}</strong> <span>{{ body.municipality_with_more_wage_avg_value | magnitude }}</span>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <a href="#salario-emprego" aria-controls="salario-emprego" role="tab" data-toggle="tab" class="btn btn-xs btn-dataviva">
                        mais detalhes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>