    <a href="" target="frame-tab-enrollments">Curso</a></br>

        <a href="/pt/embed/tree_map/hedu/all/{{university.id}}/all/course_hedu/?color=color&depth=course_hedu_6&size=enrolled" target="frame-tab-enrollments">&nbsp TreeMap</a>
        <a href="/pt/embed/stacked/hedu/all/{{university.id}}/all/course_hedu/?y=enrolled&layout=value&order=color" target="frame-tab-enrollments">&nbsp Evoluçāo</a></br>

    <a href="" target="frame-tab-enrollments">Situaçāo dos Estudantes</a> </br>

        <a href="/pt/embed/line/hedu/all/{{university.id}}/all/type/?y=students&scale=linear" target="frame-tab-enrollments">&nbsp Linhas</a> </br>

    <a href="" target="frame-tab-enrollments">Turno</a> </br>

        <a href="/pt/embed/stacked/hedu/all/{{university.id}}/all/time/?y=students&layout=share&order=color" target="frame-tab-enrollments">&nbsp Evoluçāo</a>

</div>

<iframe name="frame-tab-enrollments" id="frame-tab-enrollments" width='684' height='350' src='/pt/embed/tree_map/hedu/all/{{university.id}}/all/course_hedu/?color=color&depth=course_hedu_6&size=enrolled' frameborder='0'></iframe>