<!-- extend from base layout -->
{% extends "base.html" %}

<!-- Facebook Properties -->
{% block facebook_metadata %}
    <meta property="og:image" content="{{ g.s3_host }}/img/university/university_{{ university.id if university.img_link else 'all' }}.jpg"/>
    <meta property="og:url" content="{{url_for('university.index', university_id=university.id, tab=tab, _external=True, _scheme='http')}}{{ '?menu=' if graph.menu }}{{ graph.menu }}{{ '&url=' if graph.url }}{{ graph.url }}"/>
    <meta property="og:title" content="DataViva: {{ university.name() }} |
        {% if tab == 'general'%}
            {% trans %}General{% endtrans %}
        {% elif tab == 'enrollments' %}
            {% trans %}Enrollments{% endtrans %}
        {% endif %}"/>
    <meta property="og:description" content="{% trans %}The institution {% endtrans %} {{ university.name() }} {% trans %} is a{% endtrans %} {{ header.type }} {% trans %}educational establishment. Its main course is{% endtrans %} {{ body.major_with_more_enrollments }}, {% trans %}with{% endtrans %} ..."/>
    <meta property="og:type" content="website" />
{% endblock facebook_metadata %}

{% block content %}

<!-- BREADCRUMB -->
<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('general.home') }}">Home</a>
            </li>
            <li {{ 'class="active"' if not location else '' }}>
                <a href="#" title="Trocar">
                  {{ university.name() }}
                </a>
            </li>
        </ol>
    </div>
</div>
<!-- BREADCRUMB -->

<section id="header" class="header" style="background: url({{ g.s3_host }}/img/university/university_{{ university.id if university.img_link else 'all' }}.jpg) no-repeat center center fixed; background-size: cover;">

    <div class="photo-credit">
      <div class="container">
        <a href="{{ university.img_link if university.img_link else 'https://flic.kr/p/hkjFNJ' }}" target="blank">
        <i class="fa fa-camera"></i> {% trans %}picture by{% endtrans %} {{ university.img_author if university.img_link else 'Kezn Teh' }}</a>
      </div>
    </div>
  <div class="summary-box">
      <div class="container">

        <span class="portrait dv-university-{{ university.school_type_id.lower() }} hidden-xs"></span>

        <h1>
          {{ university.name() }}
          <small class="btn btn-link btn-xs">
            <a title="change" onclick="select_attr('university');">
              {% trans %}change{% endtrans %}
            </a>

          </small>
        </h1>

        <span class="clearfix"></span>
        <div class="indices">
           <div class="row">
            </div>
        </div>
        </div>
      </div>
</section>

<section id="profile" class="profile">

  <nav class="col-xs-12">

    <div class="container">
            <ul class="nav-tabs" role="tablist">
                <li role="presentation" class="{{ 'active' if tab == 'general' }}">
                    <a href="#general"
                       aria-controls="general"
                       role="tab"
                       data-university="{{ university.id }}"
                       data-toggle="tab">{% trans %}General{% endtrans %}</a>
                </li>
                <li role="presentation" class="{{ 'active' if tab == 'enrollments' }}">
                    <a href="#enrollments"
                       aria-controls="enrollments"
                       role="tab"
                       graph
                       data-id="{{ university.id }}"
                       data-toggle="tab">{% trans %}Enrollments{% endtrans %}</a>
                </li>
            </ul>
      </div>
    </nav>

    <div class="container">
        <div class="tab-content col-xs-12">
            {% include "university/tab-general.html" %}
            {% include "university/tab-enrollments.html" %}
        </div>
    </div>

</section>

<section id="graphs" class="graphs bg-gray">
  {% if tab != 'general' %}
    {% include "university/graphs-" + tab + ".html" %}
  {% endif %}
</section>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="/static/js/modules/dictionary.js"></script>
    <script type="text/javascript" src="/static/js/graphs/helper.js"></script>
    <script type="text/javascript" src="/static/js/modules/widgets.js"></script>
    <script type="text/javascript" src="/static/js/modules/university.js"></script>
{% endblock %}
