<div role="tabpanel" class="tab-pane" id="matriculas">
    <h2>Matrículas</h2>
    <p>{{ major.profile }}</p>
    <h3>Estatísticas de Matrículas</h3>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            <th>
                                Principal Curso
                                <small>por Número de Alunos Matriculados</small>
                            </th>
                            <th>
                                Principal Curso
                                <small>por Número de Alunos Ingressantes</small>
                            </th>
                            <th>
                                Principal Curso
                                <small>por Número de Alunos Concluintes</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="label">{{ major.major_with_more_enrollments.name }}</p>
                                <div class="number">
                                    <strong class="counter">{{ major.major_with_more_enrollments.value }}</strong><span>mil</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{ major.major_with_more_entrants.name}}</p>
                                <div class="number">
                                    <strong class="counter">{{ major.major_with_more_entrants.value }}</strong>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{ major.major_with_more_graduates.name }}</p>
                                <div class="number">
                                    <strong class="counter">{{ major.major_with_more_graduates.value }}</strong>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>