<div role="tabpanel" class="tab-pane active" id="geral">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">Número de Matrículas</h2>
                        <div class="number">
                            R$ <strong class="counter">{{ header.enrolled | max_digits(3) }}</strong><br/>
                            <small class="magnitude">{{ header.enrolled | magnitude }}</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">Número de Ingressantes</h2>
                        <div class="number">
                            R$ <strong class="counter">{{ header.entrants | max_digits(3) }}</strong><br/>
                            <small class="magnitude">{{ header.entrants | magnitude }}</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">Número de Concluintes</h2>
                        <div class="number">
                            <strong class="counter">{{ header.graduates | max_digits(3) }}</strong><br/>
                            <small class="magnitude">{{ header.graduates | magnitude }}</small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#" class="fa fa-angle-left jcarousel-control-prev"></a>
        <a href="#" class="fa fa-angle-right jcarousel-control-next"></a>
    </div>

    <div class="m-t-sm col-xs-12 year">
        Ano: {{ header.year }}
    </div>

    <h2 class="m-t-xl">Perfil Geral</h2>
    <p>A instituição {{ university.name() }} é um estabelecimento de ensino {{ header.type }}, que tem como principal curso {{ body.major_with_more_enrollments }}, com {{ body.highest_enrollment_number_by_major }} estudantes. No total, a instituição possui {{ header.enrolled | max_digits(3) }} {{ header.enrolled | magnitude }} estudantes matriculados e {{ header.graduates | max_digits(3) }} {{ header.graduates | magnitude }} concluintes.</p>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            <h3>Matrículas</h3>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>
                                Principal Curso por Número de Alunos Matriculados
                            </th>
                            <td>
                                <p class="label">{{ body.major_with_more_enrollments }}</p>
                                <strong class="counter">{{ body.highest_enrollment_number_by_major | max_digits(3) }}</strong><span>{{ body.highest_enrollment_number_by_major | magnitude }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Principal Curso por Número de Alunos Ingressantes
                            </th>
                            <td>
                                <p class="label">{{ body.major_with_more_entrants }}</p>
                                <strong class="counter">{{ body.highest_entrant_number_by_major | max_digits(3) }}</strong><span>{{ body.highest_entrant_number_by_major | magnitude }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Principal Curso por Número de Alunos Concluintes
                            </th>
                            <td>
                                <p class="label">{{ body.major_with_more_graduates }}</p>
                                <strong class="counter">{{ body.highest_graduate_number_by_major | max_digits(3) }}</strong><span>{{ body.highest_graduate_number_by_major | magnitude }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <a href="#matriculas" aria-controls="matriculas" role="tab" data-toggle="tab" class="pull-right btn btn-primary btn-xs m-r-lg">
                    mais detalhes
                </a>
            </div>
        </div>
    </div>