<div role="tabpanel" class="tab-pane active" id="geral">
    <div class="mod mod-datainfo">
        <div class="numbers-top smaller">
            <div class="row">
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Número de Matrículas</p>
                    <div class="number">
                        <strong class="counter">33</strong><small>mil</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Número de Ingressantes</p>
                    <div class="number">
                        <strong class="counter">3.4</strong><small>mil</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Número de Concluintes</p>
                    <div class="number">
                        <strong class="counter">4.02</strong><small>mil</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-15 year">
                    Ano: 2013
                </div>
            </div>
        </div>
        <h2>Perfil Geral</h2>
        <p>A Universidade Federal de Minas Gerais (UFMG) é uma instituição brasileira de ensino superior pública de nível federal, sediada na cidade de Belo Horizonte, no estado de Minas Gerais. Estando entre as mais prestigiadas universidades do Brasil, é a maior universidade do estado, possuindo campi nas cidades de Belo Horizonte e Montes Claros.<br /><br />

        Além de desenvolver programas e projetos de ensino, nos níveis de graduação e pós-graduação, pesquisa e extensão, sob a forma de atividades presenciais, e a distância, em oito áreas do conhecimento, a Universidade oferece, também, na Escola Fundamental, no Colégio Técnico, no Núcleo de Ciências Agrárias e no Teatro Universitário, cursos de educação básica e profissional de nível médio. Segundo o Ministério da Educação - MEC, a UFMG é uma das universidades que mais recebem recursos do governo federal, uma vez que é uma das que mais oferecem cursos e programas para ensino, pesquisa e extensão. A UFMG também é um dos maiores núcleos de inovação do Brasil, em 2010 a UFMG foi a instituição brasileira que mais requereu patentes segundo dados do Instituto Nacional de Propriedade Industrial (INPI). A universidade registrou em 2010 350 patentes nacionais e 110 internacionais.</p>
        <div class="row">
            <div class="col-xs-15 col-sm-15 col-md-5">
                <h3>Matrículas</h3>
                <div class="table-responsive">
                    <table class="table data-2-columns margin-none-bottom">
                        <tbody>
                            <tr>
                                <th>
                                    Principal Curso por Número de Alunos Matriculados
                                </th>
                                <td>
                                    <p class="label">Direito</p>
                                    <strong class="counter">2.28</strong> <span>mil</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Curso por Número de Alunos Ingressantes
                                </th>
                                <td>
                                    <p class="label">Medicina</p>
                                    <strong class="counter">260</strong>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Curso por Número de Alunos Concluintes
                                </th>
                                <td>
                                    <p class="label">Administração</p>
                                    <strong class="counter">50</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#comercio-internacional" aria-controls="comercio-internacional" role="tab" data-toggle="tab" class="btn btn-xs btn-dataviva">
                        mais detalhes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>