<div role="tabpanel" class="tab-pane" id="matriculas">
    <h2>Matrículas</h2>
    <p>Segundo dados de 2013 do Censo da Educação Superior, a UFMG conta com 33 mil alunos matriculados nas mais diversas áreas de conhecimento. É importante também mencionar o número de alunos ingressados nesse semestre, na casa de 3,4 mil matrículas, bem como os alunos concluintes, estimados em 4020 formandos.</p>
    <h3>Estatísticas de Matrículas</h3>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            <th>
                                Principal Curso
                                <small>por Número de Alunos Matriculados</small>
                            </th>
                            <th>
                                Principal Curso
                                <small>por Número de Alunos Ingressantes</small>
                            </th>
                            <th>
                                Principal Curso
                                <small>por Número de Alunos Concluintes</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="label">Direito</p>
                                <div class="number">
                                    <strong class="counter">2.28</strong><span>mil</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">Medicina</p>
                                <div class="number">
                                    <strong class="counter">260</strong>
                                </div>
                            </td>
                            <td>
                                <p class="label">Administração</p>
                                <div class="number">
                                    <strong class="counter">50</strong>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>