<div role="tabpanel" class="tab-pane active" id="geral">
    <div class="mod mod-datainfo">
        <div class="numbers-top smaller">
            <div class="row">
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Número de Matrículas</p>
                    <div class="number">
                        <strong class="counter">{{ university.enrolled }}</strong><small>mil</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Número de Ingressantes</p>
                    <div class="number">
                        <strong class="counter">{{ university.entrants }}</strong><small>mil</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Número de Concluintes</p>
                    <div class="number">
                        <strong class="counter">{{ university.graduates }}</strong><small>mil</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-15 year">
                    Ano: {{ university.year }}
                </div>
            </div>
        </div>
        <h2>Perfil Geral</h2>
        <p>{{ university.profile }}</p>
        <div class="row">
            <div class="col-xs-15 col-sm-15 col-md-5">
                <h3>Matrículas</h3>
                <div class="table-responsive">
                    <table class="table data-2-columns margin-none-bottom">
                        <tbody>
                            <tr>
                                <th>
                                    Principal Curso por Número de Alunos Matriculados
                                </th>
                                <td>
                                    <p class="label">{{ major.major_with_more_enrollments.name }}</p>
                                    <strong class="counter">{{ major.major_with_more_enrollments.value }}</strong> <span>mil</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Curso por Número de Alunos Ingressantes
                                </th>
                                <td>
                                    <p class="label">{{ major.major_with_more_entrants.name }}</p>
                                    <strong class="counter">{{ major.major_with_more_entrants.value }}</strong>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Curso por Número de Alunos Concluintes
                                </th>
                                <td>
                                    <p class="label">{{ major.major_with_more_graduates.name }}</p>
                                    <strong class="counter">{{ major.major_with_more_graduates.value }}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#matriculas" aria-controls="matriculas" role="tab" data-toggle="tab" class="btn btn-xs btn-dataviva">
                        mais detalhes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>