body {
  background-color: white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  position: relative;
  table-layout: fixed;
  text-align: left;
}

table th {
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  padding: 9px;
  text-align: left;
  white-space: normal;
}

table th {
  color: #888;
}

body.table table th.asc,
body.table table th.desc {
  color: #1abbee;
}

body.attrs table th.asc,
body.attrs table th.desc {
  color: #d67ab0;
}

body.rankings table th.asc,
body.rankings table th.desc {
  color: #742777;
}

table thead tr {
  white-space: nowrap;
}

table tbody tr {
  color: #888;
  font-size: 14px;
  line-height: 16px;
}

#sticky table tbody tr:nth-child(odd) {
  background-color: #f0f0f0;
}

#data table tbody tr:nth-child(odd) {
  background-color: rgba(235,235,235,0.75);
}

table tbody td.link {
  font-weight: bold;
}

table tbody tr:last-child {
  border-bottom: solid 1px transparent;
}

table td {
  padding: 9px;
  text-align: right;
}

table td a {
  text-decoration: underline;
}

table .id, table .bra_id, table .id_ibge, table .cnae_id, table .cbo_id,
table .university_id, table .course_hedu_id, table .course_sc_id,
table .hs_id, table .wld_id, table .year, table .color, table .rank {
  text-align: center;
}

table td.icon > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 29px;
  height: 29px;
}

#dt_query {
  position: relative;
  z-index: 0;
}

#dt_query table.body {
  margin-top: 30px;
}

thead {
  border-color: rgba(255,255,255,0.75);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: fixed;
  top: 0;
  -webkit-transition: border-color .4s;
          transition: border-color .4s;
  z-index: 1;
}

thead.shadow {
  border-color: rgba(235,235,235,0.5);
}

#sticky {
  background-color: white;
  border-color: #f0f0f0;
  border-right-width: 0px;
  border-right-style: solid;
  position: fixed;
  left: 0;
  width: 5px;
  top: 0;
  z-index: 2;
  -webkit-transition: -webkit-box-shadow 0.4s;
                  transition: box-shadow 0.4s;
}

#sticky.shadow {
  border-right-width: 1px;
  -webkit-box-shadow: 3px 0px 3px rgba(0,0,0,0.1);
          box-shadow: 3px 0px 3px rgba(0,0,0,0.1);
}

#data {
  z-index: 0;
}

table th {
  background-color: rgba(255,255,255,0.75);
  font-weight: bold;
  position: relative;
}

table th:hover {
  background-color: rgba(235,235,235,0.75);
  cursor: pointer;
}

table th.rank:hover {
  background-color: rgba(255,255,255,0.75);
  cursor: auto;
}

table th::after {
  content: "";
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
}

table th.asc::after {
  content: " \f077";
}

table th.desc::after {
  content: " \f078";
}

table td, table th {
  min-width: 120px;
  width: 120px;
}

table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


table .bra_diversity, table .bra_diversity_eff,
table .cnae_diversity, table .cnae_diversity_eff,
table .cbo_diversity, table .cbo_diversity_eff,
table .hs_diversity, table .hs_diversity_eff,
table .wld_diversity, table .wld_diversity_eff {
  min-width: 100px !important;
  width: 100px !important;
}
table .rank, table .year, table .month {
  min-width: 40px !important;
  text-align: center;
  width: 40px !important;
}
table .population, table .enrolled,
table .graduates, table .entrants, table .students {
  min-width: 95px !important;
  width: 95px !important;
}
table .bra_id, table .id, table .id_ibge,
table .cnae_id, table .cbo_id,
table .university_id, table .course_hedu_id, table .course_sc_id,
table .hs_id, table .wld_id, table.color {
  min-width: 80px !important;
  width: 80px !important;
}
table .name {
  max-width: 200px !important;
  min-width: 200px !important;
  text-align: left;
  width: 200px !important;
}
table#university .name {
  max-width: 400px !important;
  min-width: 400px !important;
  width: 400px !important;
}

.growth-arrow {
  margin-left: 3px;
  margin-top: 1px;
}

.growth-arrow.down {
  color: #af1f24;
}

.growth-arrow.up {
  color: #3daf49;
}
