{% extends "templates/site.html" %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.home.css" />

{% endblock %}

{% block body %}

<div id="fullscreen"></div>
  
<img id="big_sabrina" src="/static/img/home/sabrina.png">

<div id="welcome" class="grid5col3">
  
  <div class="title">
    <h2>Visualizing Brazil</h2>
    Olá! My name is Sabrina. I'm here to help you discover new meaning from economic data about Minas Gerais. Here are some good places to start:
  </div>
  
  <a class="decision square guide" href="{{ url_for('guide.guide') }}">
    <h2>Guide</h2>
    Generate multiple apps into a report.
  </a>
  
  <a class="decision square apps" href="{{ url_for('apps.guide') }}">
    <h2>Apps</h2>
    Go straight to the visualization builder.
  </a>
  <br><br>
  <div class="logo sponsor">Sponsored By:</div>
  <a href="http://www.escritorio.mg.gov.br/" class="logo governo" target="_blank"></a>
  <a href="http://www.fapemig.br/" class="logo fapemig" target="_blank"></a>
  
</div>

{% endblock %}

{% block js %}

  <script>
  
    resizebg = function() {
      
      var w = window.innerWidth, 
          h = window.innerHeight,
          aspect = w/h
          
      if (aspect > 1.5) {
        d3.select("#fullscreen")
        .style("background-size",w+"px "+(w/1.5)+"px")
      }
      else {
        d3.select("#fullscreen")
        .style("background-size",(h*1.5)+"px "+h+"px")
      }
    }
    
    window.onresize = function() {
      resizebg()
    }

    resizebg()
    
  </script>

{% endblock %}
