{% extends "templates/site.html" %}

{% block body %}
<div class="home_background">
  <div id="sabrina" class="grid5col1 grid5offset1">
  </div>
  <div class="grid5col2">
    <div class="question">
      <div class="arrow"></div>
      <div class="text">
        <h2>Welcome!</h2>
        <p>
          My name is Sabrina, and I will help guide you in learning more about the economy of Minas Gerais.
        </p>
      </div>
    </div>
    <a href="{{ url_for('guide.guide') }}" >
      <div class="decision">
        <div class="text">
          <h2>Guide</h2>
          <p>
            Generate a report based on what you are looking for.
          </p>
        </div>
        <div class="arrow"></div>
      </div>
    </a>
    <a href="{{ url_for('apps.guide') }}" >
      <div class="decision">
        <div class="text">
          <h2>Apps</h2>
          <p>
            Go straight for the visualizations.
          </p>
        </div>
        <div class="arrow"></div>
      </div>
    </a>
  </div>
</div>
{% endblock %}

{% block js %}

  <script>

    visual.sabrina({
      "div": d3.select("#sabrina"),
      "outfit": "casual",
      "emotion": "smile"
    })
    
  </script>

{% endblock %}
