<div class="grid4col1">
  <form id='search'>
  <div>
    <input id="year" name='year' placeholder='Year' type='text' value="2009+2010" />
  </div>
  <div>
    <input id="geo_on" type="checkbox" name="geo_on" value="all" checked="checked">
    <input id="geo" name='geo' placeholder='Location' type='text' value="mg030000" />
    <select id="geo_nesting">
      <option value="2">State</option>
      <option value="4">Meso-Region</option>
      <option value="6">Micro-Region</option>
      <option value="8">Municipality</option>
    </select>
  </div>
  
  <fieldset id="rais">
    <legend>RAIS</legend>
    <div>
      <input id="isic_on" type="checkbox" name="isic_on" value="" checked="checked">
      <input id="isic" name='isic' placeholder='Industry' type='text' />
      <select id="isic_nesting">
        <option value="1">Top Level</option>
        <option value="5">Full Isic</option>
      </select>
    </div>
    <div>
      <input id="cbo_on" type="checkbox" name="cbo_on" value="">
      <input id="cbo" name='cbo' placeholder='Occupation' type='text' />
    </div>
    <div>
      <button id="rais_go">Go!</button>
    </div>
  </fieldset>
  
  <fieldset id="secex">
    <legend>SECEX</legend>
    <div>
      <input id="hs_on" type="checkbox" name="hs_on" value="" checked="checked">
      <input id="hs" name='hs' placeholder='Product' type='text' />
    </div>
    <div>
      <input id="country_on" type="checkbox" name="country_on" value="">
      <input id="country" name='country' placeholder='Country' type='text' />
    </div>
    <div>
      <button id="secex_go">Go!</button>
    </div>
  </fieldset>

</form>
</div>

<div id="results" class="grid4col3">
</div>

<button id="next">Next Page</button>

<script>
  var CURRENT_PAGE = 1;
  var CURRENT_DATASET = '';
  var ORDER_DIRECTIONS = ["desc", "asc", ""]
  var COLUMNS = ["year", "geo", "industry", "product", "occupation", "country", "wage", "num_emp", "num_est", "val_usd", "val_kg", "val_qty", "rca", "growth_pct", "growth_pct_total", "growth_val", "growth_val_total"]

  function make_table(dataset){
    // clear previous data
    var table = d3.select("#results").html('')
  
    // the columns we'd like to display
    var columns = d3.keys(dataset[0]);
    // console.log(columns)
    var ordered_columns = COLUMNS.filter(function(i) {return (columns.indexOf(i) > -1);});

    var table = d3.select("#results").append("table"),
      thead = table.append("thead"),
      tbody = table.append("tbody");

    // append the header row
    thead.append("tr")
      .selectAll("th")
      .data(ordered_columns)
      .enter()
      .append("th")
        .append("a")
        .attr("href", "#")
        .text(function(column) { return column; })
        .on("click", function(column, i){
          console.log(column)
          var current_direction = column.split(".")[1] ? column.split(".")[1] : "";
          column = column.split(".")[0]
          var current_direction_index = ORDER_DIRECTIONS.indexOf(current_direction) + 1
          current_direction = ORDER_DIRECTIONS[current_direction_index % ORDER_DIRECTIONS.length]
          column = column+"."+current_direction

          d3.select(this).datum(column)
          update_table(CURRENT_DATASET, [column]);
                    
          // d3.select("#s"+i).attr("name", 'testttttttt')
          // console.log(d3.select("#s"+i).attr("name"))
          
          // current_direction = d3.select("#s"+i).attr("name")
          // console.log(d3.select("#s"+i))
          // order_direction_index = ORDER_DIRECTIONS.indexOf(current_direction) + 1
          // current_direction = ORDER_DIRECTIONS[order_direction_index % ORDER_DIRECTIONS.length]
          // 
          // // CURRENT_DIRECTION = CURRENT_DIRECTION == "asc" ? "desc" : "asc";
          // console.log(order_direction_index, current_direction)
          // d3.select("#s"+i).attr("name", current_direction)
          // 
          // console.log(d3.select("#s"+i).attr("name"))
          // 
          // update_table(CURRENT_DATASET);
          // update_table(CURRENT_DATASET, [column + "." + curren]);
        });

    // create a row for each object in the data
    var rows = tbody.selectAll("tr")
      .data(dataset)
      .enter()
      .append("tr");
  
    // create a cell in each row for each column
    var cells = rows.selectAll("td")
      .data(function(row) {
        // console.log(ordered_columns)
        return ordered_columns.map(function(column) {
          return {"column": column, "value": row[column]};
        });
      })
      .enter()
      .append("td")
        .style("padding", "2px 5px")
        .text(function(d) { return d.value; });
  }

  function update_table(dataset, order){

    var Y = document.getElementById("year").value || "all",
        G = document.getElementById("geo_on").checked ? document.getElementById("geo").value || "show" : "all";
        I = document.getElementById("isic_on").checked ? document.getElementById("isic").value || "show" : "all";
        O = document.getElementById("cbo_on").checked ? document.getElementById("cbo").value || "show" : "all";
        P = document.getElementById("hs_on").checked ? document.getElementById("hs").value || "show" : "all";
        C = document.getElementById("country_on").checked ? document.getElementById("country").value || "show" : "all";
    
    if(!order){
      var order = ["year.desc"];
    }
    
    if(G != "all"){
      if(G == "show"){
        order.push("geo.desc")
        var select = document.getElementById("geo_nesting");
        var selected_val = select.options[select.selectedIndex].value;
        G = G + "." + selected_val;
      }
    }
  
    if(I != "all" && dataset == "rais"){
      order.push("isic")
      if(I == "show"){
        var select = document.getElementById("isic_nesting");
        var selected_val = select.options[select.selectedIndex].value;
        I = I + "." + selected_val;
      }
    }
  
    if(O != "all" && dataset == "rais"){
      order.push("cbo")
    }
    if(P != "all" && dataset == "secex"){
      order.push("hs")
    }
    if(C != "all" && dataset == "secex"){
      order.push("country")
    }
  
    if(dataset == "rais"){
      var api_url = "/rais/"+ [Y, G, I, O].join("/")
    }
    else {
      var api_url = "/secex/"+ [Y, G, P, C].join("/")
    }
    api_url += "?page=" + CURRENT_PAGE + "&order=" + order.join("+");
    console.log(api_url)

    d3.json(api_url, function(resp){
      make_table(resp.data)
    })

    // prevent page from submitting form
    d3.event.preventDefault();
  }

  d3.select("#next").on("click", function(){
    CURRENT_PAGE++;
    update_table(CURRENT_DATASET);
  })

  d3.select("#rais button").on("click", function(){
    CURRENT_PAGE = 1;
    CURRENT_DATASET = 'rais';
    update_table(CURRENT_DATASET);
  })

  d3.select("#secex button").on("click", function(){
    CURRENT_PAGE = 1;
    CURRENT_DATASET = 'secex';
    update_table(CURRENT_DATASET);
  })

</script>