<footer class="bg-dark-green">
    <div class="container">

    <div class="col-sm-4 col-md-3 col-lg-3">
        <ul>
            <li><h3>{% trans %}About{% endtrans %}</h3></li>
            <li><a href="{{ url_for('about.index') }}" title="{% trans %}The{% endtrans %} Dataviva">{% trans %}The{% endtrans %} Dataviva</a></li>
            <li><a href="{{ url_for('partners.index') }}" title="{% trans %}Partners{% endtrans %}">{% trans %}Partners{% endtrans %}</a></li>
        </ul>
    </div>

    <div class="col-sm-4 col-md-3 col-lg-3">
        <ul>
            <li><h3>{% trans %}Explore{%endtrans%}</h3></li>
            <li>
                <ul>
                    <li><a href="{{ url_for('general.search') }}" title="{% trans %}Search{% endtrans %}">{% trans %}Search{% endtrans %}</a></li>
                    <li><span class="link" onclick="select_attr('bra');" title="{% trans %}Locations{% endtrans %}">{% trans %}Locations{% endtrans %}</span></li>
                    <li><span class="link" onclick="select_attr('cbo');" title="{% trans %}Occupations{% endtrans %}">{% trans %}Occupations{% endtrans %}</span></li>
                    <li><span class="link" onclick="select_attr('cnae');" title="{% trans %}Economic Activities{% endtrans %}">{% trans %}Economic Activities{% endtrans %}</span></li>
                    <li><span class="link" onclick="select_attr('hs');" title="{% trans %}Products{% endtrans %}">{% trans %}Products{% endtrans %}</span></li>
                    <li><span class="link" onclick="select_attr('wld');" title="{% trans %}Trade Partners{% endtrans %}">{% trans %}Trade Partners{% endtrans %}</span></li>
                    <li><span class="link" onclick="select_attr('university');" title="{% trans %}Universities{% endtrans %}">{% trans %}Universities{% endtrans %}</span></li>
                    <li><span class="link" onclick="select_attr('course_hedu');" title="{% trans %}Higher Education{% endtrans %}">{% trans %}Higher Education{% endtrans %}</span></li>
                    <li><span class="link" onclick="select_attr('course_sc');" title="{% trans %}Basic Courses{% endtrans %}">{% trans %}Basic Courses{% endtrans %}</span></li>
                </ul>
            </li>
            <li><a href="{{ url_for('rankings.index') }}" title="{% trans %}View Rankings{% endtrans %}">{% trans %}View Rankings{% endtrans %}</a></li>
            <li><a href="{{ url_for('build_graph.index') }}" title="{% trans %}Make Graphs{% endtrans %}">{% trans %}Make Graphs{% endtrans %}</a></li>
            <li><a href="{{ url_for('data.index') }}" title="{% trans %}Database Download{% endtrans %}">{% trans %}Database Download{% endtrans %}</a></li>
        </ul>
    </div>

    <div class="col-sm-4 col-md-3 col-lg-3">
        <ul>
            <li><h3>{% trans %}Support{% endtrans %}</h3></li>
            <li><a href="{{ url_for('help.index') }}" title="{% trans %}Help{% endtrans %}">{% trans %}Help{% endtrans %}</a></li>
        </ul>
    </div>

    <div class="col-xs-12 col-md-3 col-lg-3">
        <h3>{%trans%}Follow Us{%endtrans%}</h3>
        <ul class="list-inline">
            <li>
                <a class="btn btn-md btn-github" href="https://github.com/DataViva" target="blank" title="GitHub">
                    <span class="fa fa-github"></span>
                </a>
            </li>
        </ul>
    </div>
</footer>
