<footer class="bg-dark-green">
    <div class="container">

    <div class="col-sm-4 col-md-2 col-lg-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
        <ul>
            <li><h3>{% trans %}About{% endtrans %}</h3></li>
            <li><a href="{{ url_for('about.index') }}" title="{% trans %}The{% endtrans %} Dataviva">{% trans %}The{% endtrans %} Dataviva</a></li>
            <li><a href="{{ url_for('partners.index') }}" title="{% trans %}Partners{% endtrans %}">{% trans %}Partners{% endtrans %}</a></li>
            <!--<li><a href="{{ url_for('news.index') }}" title="{% trans %}News{% endtrans %}">{% trans %}News{% endtrans %}</a></li>
            <li><a href="{{ url_for('blog.index') }}" title="Blog">Blog</a></li>-->
        </ul>
    </div>

    <div class="col-sm-4 col-md-2 col-lg-2">
        <ul>
            <li><h3>{% trans %}Explore{%endtrans%}</h3></li>
            <li>
                <ul>
                    <li><a href="{{ url_for('general.search') }}" title="{% trans %}Search{% endtrans %}">{% trans %}Search{% endtrans %}</a></li>
                    <li>
                        <span class="link" title="{% trans %}Locations{% endtrans %}">
                            <li onclick="event.stopPropagation();">
                                <a onclick="click_on_children(event)">
                                    <optionChanger
                                    data-db="location"
                                    data-filter="{{id_ibge}}"
                                    data-text="{% trans %}Locations{% endtrans %}">
                                    {% trans %}Locations{% endtrans %}
                                    </optionChanger>
                                </a>
                            </li>
                        </span>
                    </li>
                    <li>
                        <span class="link" title="{% trans %}Occupations{% endtrans %}">
                            <li onclick="event.stopPropagation();">
                                <a onclick="click_on_children(event)">
                                    <optionChanger
                                    data-db="occupation"
                                    data-filter="{{id_ibge}}"
                                    data-text="{% trans %}Occupations{% endtrans %}">
                                    {% trans %}Occupations{% endtrans %}
                                    </optionChanger>
                                </a>
                            </li>
                        </span>
                    </li>
                    <li>
                        <span class="link" title="{% trans %}Economic Activities{% endtrans %}">
                            <li onclick="event.stopPropagation();">
                                <a onclick="click_on_children(event)">
                                    <optionChanger
                                    data-db="industry"
                                    data-filter="{{id_ibge}}"
                                    data-text="{% trans %}Economic Activities{% endtrans %}">
                                    {% trans %}Economic Activities{% endtrans %}
                                    </optionChanger>
                                </a>
                            </li>
                        </span>
                    </li>
                    <li>
                        <span class="link" title="{% trans %}Products{% endtrans %}">
                            <li onclick="event.stopPropagation();">
                                <a onclick="click_on_children(event)">
                                    <optionChanger
                                    data-db="product"
                                    data-filter="{{id_ibge}}"
                                    data-text="{% trans %}Products{% endtrans %}">
                                    {% trans %}Products{% endtrans %}
                                    </optionChanger>
                                </a>
                            </li>
                        </span>
                    </li>
                    <li>
                        <span class="link" title="{% trans %}Trade Partners{% endtrans %}">
                            <li onclick="event.stopPropagation();">
                                <a onclick="click_on_children(event)">
                                    <optionChanger
                                    data-db="trade_partner"
                                    data-filter="{{id_ibge}}"
                                    data-text="{% trans %}Trade Partners{% endtrans %}">
                                    {% trans %}Trade Partners{% endtrans %}
                                    </optionChanger>
                                </a>
                            </li>
                        </span>
                    </li>
                    <li>
                        <span class="link" title="{% trans %}Universities{% endtrans %}">
                            <li onclick="event.stopPropagation();">
                                <a onclick="click_on_children(event)">
                                    <optionChanger
                                    data-db="university"
                                    data-filter="{{id_ibge}}"
                                    data-text="{% trans %}Universities{% endtrans %}">
                                    {% trans %}Universities{% endtrans %}
                                    </optionChanger>
                                </a>
                            </li>
                        </span>
                    </li>
                    <li>
                        <span class="link" title="{% trans %}Higher Education{% endtrans %}">
                            <li onclick="event.stopPropagation();">
                                <a onclick="click_on_children(event)">
                                    <optionChanger
                                    data-db="hedu_course"
                                    data-filter="{{id_ibge}}"
                                    data-text="{% trans %}Higher Education{% endtrans %}">
                                    {% trans %}Higher Education{% endtrans %}
                                    </optionChanger>
                                </a>
                            </li>
                        </span>
                    </li>
                    <li>
                        <span class="link" title="{% trans %}Basic Courses{% endtrans %}">
                            <li onclick="event.stopPropagation();">
                                <a onclick="click_on_children(event)">
                                    <optionChanger
                                    data-db="basic_course"
                                    data-filter="{{id_ibge}}"
                                    data-text="{% trans %}Basic Courses{% endtrans %}">
                                    {% trans %}Basic Courses{% endtrans %}
                                    </optionChanger>
                                </a>
                            </li>
                        </span>
                    </li>
                </ul>
            </li>
            <li><a href="{{ url_for('rankings.index') }}" title="{% trans %}View Rankings{% endtrans %}">{% trans %}View Rankings{% endtrans %}</a></li>
            <li><a href="{{ url_for('build_graph.index') }}" title="{% trans %}Make Graphs{% endtrans %}">{% trans %}Make Graphs{% endtrans %}</a></li>
            <li><a href="{{ url_for('data.index') }}" title="{% trans %}Database Download{% endtrans %}">{% trans %}Database Download{% endtrans %}</a></li>
        </ul>
    </div>

    <div class="col-sm-4 col-md-2 col-lg-2">
        <ul>
            <li><h3>{% trans %}Support{% endtrans %}</h3></li>
            <li><a href="{{ url_for('help.index') }}" title="{% trans %}Help{% endtrans %}">{% trans %}Help{% endtrans %}</a></li>
           <!-- <li><a href="{{ url_for('help.index') }}" title="{% trans %}Virtual Tour{% endtrans %}">{% trans %}Virtual Tour{% endtrans %}</a></li>
            <li><a href="{{ url_for('contact.create') }}" title="{%trans%}Contact Us{%endtrans%}">{%trans%}Contact Us{%endtrans%}</a></li>-->
        </ul>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 visible-md visible-lg">
        <h3>{%trans%}Contact Us{%endtrans%}</h3>

        <form method="post" id="contact-form" action="{{ url_for('contact.create') }}" class="form-horizontal">
            {{ g.contact_form.hidden_tag() }}
            <div class="form-group">
                <div>
                    <input type="text" class="form-control" id="name" name="name" placeholder="{% trans %}Name{% endtrans %}">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="text" class="form-control" id="email" name="email" placeholder="E-mail">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <textarea type="text" class="form-control" id="message" name="message" placeholder="{% trans %}Message{% endtrans %}"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-white">{% trans %}Send{% endtrans %}</button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-sm-4 col-md-3 col-lg-3 col-md-offset-2 col-lg-offset-2 margin-top">
        <h3>{%trans%}Follow Us{%endtrans%}</h3>
        <ul class="list-inline">
            <!--<li>
                <a class="btn btn-block btn-social btn-facebook" href="http://www.facebook.com/dataviva" target="blank" title="Facebook" >
                    <span class="fa fa-facebook"></span>
                </a>
            </li>
            <li>
                <a class="btn btn-block btn-social btn-twitter" href="https://twitter.com/_dataviva" target="blank" title="Twitter">
                    <span class="fa fa-twitter"></span>
                </a>
            </li>
            <li>
                <a class="btn btn-md btn-google" href="https://www.youtube.com/channel/UCr3LFrH_7cI_PYSgnDXV7KA" target="blank" title="Youtube">
                    <span class="fa fa-youtube"></span>
                </a>
            </li>-->
            <li>
                <a class="btn btn-md btn-github" href="https://github.com/DataViva" target="blank" title="GitHub">
                    <span class="fa fa-github"></span>
                </a>
            </li>
        </ul>
    </div>
</footer>
