<nav class="navpre">
    <div class="container">
        <ul>
            <li><a href="17-estudos.html">Estudos</a></li>
            <li><a href="17-noticias.html">Notícias</a></li>
            <li><a href="20-blog.html">Blog</a></li>
            <li><a href="23-contato.html">Contato</a></li>
        </ul>
    </div>
</nav>
<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img alt="DataVida" src="/static/img/logo-dataviva.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="16-sobre.html">Sobre</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pesquise <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="divisor">Recursos básicos</li>
                        <li><a href="02-pesquisa-publico.html"><i class="fa fa-angle-right"></i> INICIE UMA PESQUISA</a></li>
                        <li><a href="07-ranking.html"><i class="fa fa-angle-right"></i> VISUALIZE RANKINGS</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="divisor">Recursos avançados</li>
                        <li><a href="22-construa-graficos.html"><i class="fa fa-angle-right"></i> CONSTRUA GRÁFICOS</a></li>
                        <li><a href="18-download-banco-dados2.html"><i class="fa fa-angle-right"></i> DOWNLOAD DE BANCO DE DADOS</a></li>
                    </ul>
                </li>
                <li><a href="15-parcerias.html">Parcerias</a></li>
                <li><a href="21-ajuda.html">Ajuda</a></li>

            </ul>
            <div class="nav navbar-nav navbar-right">

                <a class="btn" data-toggle="modal" data-target="#dataviva-login">Entre</a>
                ou
                <a class="btn btn-default navbar-btn btn-dataviva" data-toggle="modal" data-target="#dataviva-signup">Cadastre-se</a>
                <select name="language">
                    <option value="en-us">Inglês</option>
                    <option value="pt-br" selected="selected">Português</option>
                </select>
            </div>
        </div>
    </div>
</nav>
<hr />