<nav class="navpre">
    <div class="container">
        <ul>
            <li><a href="{{ url_for('scholar.index') }}">Estudos</a></li>
            <li><a href="{{ url_for('news.index') }}">Notícias</a></li>
            <li><a href="{{ url_for('blog.index') }}">Blog</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="/static/img/logo-dataviva.svg" alt="Dataviva logo" class="img-responsive">
            </a>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{{ url_for('about.index') }}">SOBRE</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PESQUISE <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="divisor">Recursos básicos</li>
                        <li><a href="{{ url_for('general.search') }}"><i class="fa fa-angle-right"></i> INICIE UMA PESQUISA</a></li>
                        <li><a href="{{ url_for('rankings.index') }}"><i class="fa fa-angle-right"></i> VISUALIZE RANKINGS</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="divisor">Recursos avançados </li>
                        <li><a href="{{ url_for('build_graph.index') }}"><i class="fa fa-angle-right"></i> CONSTRUA GRÁFICOS</a></li>
                        <li><a href="{{ url_for('data_download.index') }}"><i class="fa fa-angle-right"></i> DOWNLOAD DE BANCO DE DADOS</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('partners.index') }}">PARCERIAS</a></li>
                <li><a href="{{ url_for('help.index') }}">AJUDA</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right visible-md visible-lg form-inline">
                <li class="input-group">
                    {% if not g.user.is_authenticated %}
                    <a data-toggle="modal" data-target="#dataviva-login">Entre</a>
                    ou
                    <button class="btn btn-primary m-l m-r">Cadastre-se</button>
                    {% else %}
                        <p>Welcome, <b>{{ g.user.firstname }}</b>! | <a href="/account/edit_profile">Edit profile</a></p> | <a href="/account/logout">Logout</a></p>
                    {% endif %}

                    <div class="form-group">
                        <select class="form-control visible-lg" name="language">
                            <option value="en-us">Inglês</option>
                            <option value="pt-br" selected="selected">Português</option>
                        </select>
                        <select class="form-control visible-md" name="language">
                            <option value="en-us">en</option>
                            <option value="pt-br" selected="selected">pt</option>
                        </select>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>