<nav class="navpre bg-green">
    <div class="container">
        <ul>
            <!-- <li><a href="{{ url_for('scholar.index') }}">{% trans %}Studies{% endtrans %}</a></li>
            <li><a href="{{ url_for('news.index') }}">{% trans %}News{% endtrans %}</a></li>
            <li><a href="{{ url_for('blog.index') }}">Blog</a></li>
            <li><a href="{{ url_for('contact.index') }}">{% trans %}Contact{% endtrans %}</a></li> -->
        </ul>
    </div>
</nav>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('general.home') }}">
                <img src="/static/img/logo-dataviva-official.svg" alt="Dataviva logo" class="img-responsive">
            </a>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="teste1 nav navbar-nav navbar-left">
                <li><a href="{{ url_for('about.index') }}">{% trans %}ABOUT{% endtrans %}</a></li>
                <li><a href="{{ url_for('build_graph.index') }}">{% trans %}EXPLORE{% endtrans %}</a></li>
                <li><a href="{{ url_for('rankings.index') }}">{% trans %}RANKING{% endtrans %}</a></li>
                <li><a href="{{ url_for('data.index') }}">{% trans %}DOWNLOAD{% endtrans %}</a></li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#dropdown-nav-submenu" role="button"  aria-expanded="false">{% trans %}PUBLICAÇÕES{% endtrans %}<span class="caret"></span></a>
                </li>
                <div class="dropdown dropdown-nav-submenu" id="dropdown-nav-submenu" >
                    <ul class="dropdown-menu submenu-dropdown-items">
                        <!-- <li class="divisor">{% trans %}Basic Features{% endtrans %}</li> -->
                        <li><a href="{{ url_for('scholar.index') }}"><i class="fa fa-angle-right"></i> {% trans %}ESTUDOS{% endtrans %}</a></li>
                        <li><a href="{{ url_for('news.index') }}"><i class="fa fa-angle-right"></i> {% trans %}NOTÍCIAS{% endtrans %}</a></li>
                        <!-- <li role="separator" class="divider"></li> -->
                        <!-- <li class="divisor">{% trans %}Advanced Features{% endtrans %}</li> -->
                        <li><a href="{{ url_for('blog.index') }}"><i class="fa fa-angle-right"></i> {% trans %}BLOG{% endtrans %}</a></li>
                        <!-- <li><a href="{{ url_for('data.index') }}"><i class="fa fa-angle-right"></i> {% trans %}DATABASE DOWNLOAD{% endtrans %}</a></li> -->
                    </ul>
                </div>
                <li><a href="{{ url_for('help.index') }}">{% trans %}HELP{% endtrans %}</a></li>
            </ul>
            <ul class="teste nav navbar-nav form-inline">
                {% if not g.user.is_authenticated %}
                    <li class="form-group login-buttons-nav">
                        <!-- <a class="login" data-toggle="modal" data-target="#dataviva-login"><i class="fa fa-sign-in m-r-xs"></i>{% trans %}Login{% endtrans %}</a>
                        {% trans %}or{% endtrans %} -->
                        <button class="btn btn-primary m-l m-r" data-toggle="modal" data-target="#dataviva-login">{% trans %}LOGIN{% endtrans %}</button>
                    </li>
                {% else %}
                    <li class="form-group login-buttons-nav">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="fa fa-user m-r-sm"></i>
                                <b>{{ g.user.firstname }}</b>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-left">
                                {% if g.user.role %}
                                    <li><a href="/{{g.locale}}/admin" id="admin-header"><i class="fa fa-angle-right"></i> {% trans %}Admin{% endtrans %}</a></li>
                                    <li role="separator" class="divider"></li>
                                {% endif %}
                                <li><a href="/{{g.locale}}/user/edit" id="edit-header"><i class="fa fa-angle-right"></i> {% trans %}Edit{% endtrans %}</a></li>
                                <li><a href="/{{g.locale}}/session/logout" id="logout-header"><i class="fa fa-angle-right"></i> {% trans %}Logout{% endtrans %}</a></li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
                <li class="button-nav form-group lang-form-choose-nav">
                    <select class="form-control visible-lg visible-md visible-sm visible-xs" name="language-selector">
                        <option value="en">{% trans %}EN{% endtrans %}</option>
                        <option value="pt" selected="selected">{% trans %}PT{% endtrans %}</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</nav>