<section id="partners" class="bg-white">
    <div class="navy-line wow fadeInDown"></div>
    <div class="container text-center">
        <h2 class="m-b-lg wow fadeInDown">{%trans%}Partners{%endtrans%}</h2>

        <div style="display: flex; align-items: center; justify-content: center">
            <div class="col-sm-4 wow fadeInLeft col-xs-6 d-flex align-items-center justify-content-center">
                <a href="https://bigdatacorp.com.br/" target="_blank"><img src="/static/img/partners/bigdata-new.svg" class="m-auto img-responsive" width="200" height="80" alt="BigData Corp Logo"/></a>
            </div>
            <div class="col-sm-4 wow fadeInLeft col-xs-6 d-flex align-items-center justify-content-center">
                <a href="https://www.ipead.face.ufmg.br/site/" target="_blank"><img src="/static/img/partners/Logoipead-new.png" class="m-auto img-responsive" width="200" height="80" alt="Ipead Logo"/></a>
            </div>
        </div>

    </div>
</section>
