<section id="partners" class="bg-white">
    <div class="navy-line wow fadeInDown"></div>
    <div class="container text-center">
        <h2 class="m-b-lg wow fadeInDown">{%trans%}Partners{%endtrans%}</h2>
        <!--<div class="col-sm-4 wow fadeInLeft col-xs-6">
            <a href="http://www.bigdatacorp.info/" target="_blank"><img src="/static/img/partners/bigdata.svg" width="200" height="80" alt=""/></a>
        </div>
        <div class="col-sm-4 wow fadeInDown col-xs-6">
            <a href="http://www.simi.org.br/" target="_blank"><img src="/static/img/partners/simi.svg" width="200" height="80" alt=""/></a>-->
        <div class="col-sm-4 wow fadeInLeft col-xs-12 col-sm-offset-2">
            <a href="http://www.bigdatacorp.info/" target="_blank">
                <img src="/static/img/partners/bigdata.svg" width="200" height="80" alt=""/>
            </a>
        </div>
        <div class="col-sm-4 wow fadeInRight col-xs-12">
            <!--<a href="http://www.media.mit.edu/" target="_blank"><img src="/static/img/partners/mit.svg" width="300" height="80" alt=""/></a>-->
            <a href="http://www.media.mit.edu/" target="_blank">
                <img src="/static/img/partners/mit.svg" width="300" height="80" alt=""/>
            </a>
        </div>
    </div>
</section>
