<section id="partners" class="bg-white">
    <div class="navy-line wow fadeInDown"></div>
    <div class="container text-center">
        <h2 class="m-b-lg wow fadeInDown">{%trans%}Partners{%endtrans%}</h2>

        <div style="display: flex; align-items: center; justify-content: center">
            <div class="col-sm-4 wow fadeInLeft col-xs-6 d-flex align-items-center justify-content-center">
                <a href="http://www.bigdatacorp.info/" target="_blank"><img src="/static/img/partners/Logoipead-new.png" class="m-auto img-responsive" width="200" height="80" alt="Ipead Logo"/></a>
            </div>
            <div class="col-sm-4 wow fadeInLeft col-xs-6 d-flex align-items-center justify-content-center">
                <a href="http://www.bigdatacorp.info/" target="_blank"><img src="/static/img/partners/bigdata-new.svg" class="m-auto img-responsive" width="200" height="80" alt="BigData Corp Logo"/></a>
            </div>
        </div>

        <!-- <div class="col-sm-4 wow fadeInDown col-xs-6">
            <a href="http://www.simi.org.br/" target="_blank"><img src="/static/img/partners/simi.svg" width="200" height="80" alt=""/></a>
        </div>
        <div class="col-sm-4 wow fadeInRight col-xs-12">
            <a href="http://www.media.mit.edu/" target="_blank"><img src="/static/img/partners/mit.svg" width="300" height="80" alt=""/></a>
        </div> -->
    </div>
</section>
