<section id="promoters" class="bg-greeny">
    <div class="navy-line wow fadeInDown"></div>
    <div class="container text-center">
        <h2 class="m-b-lg wow fadeInDown">{% trans %}Promoters{% endtrans %}</h2>

        <div class="col-sm-4 col-xs-12 col-sm-offset-2 fadeInLeft wow">
            <a href="http://www.r13.eng.br" target="_blank">
                <img src="/static/img/promoters/r13.svg" class="img-responsive m-auto" width="200" height="200" alt="R13 Sistemas"/>
            </a>
        </div>
        <div class="col-sm-4 col-xs-12 fadeInRight wow">
            <a href="http://www.datawheel.us/" target="_blank">
                <img src="/static/img/promoters/datawheel.svg" class="img-responsive m-auto" width="200" height="200" alt="Datawheel"/>
            </a>
        </div>

    </div>
</section>

