<section id="promoters" class="bg-greeny">
    <div class="navy-line wow fadeInDown"></div>
    <div class="container text-center" style="padding: 4.5rem 0;">


        <h2 class="m-b-lg wow fadeInDown">{% trans %}Promoters{% endtrans %}</h2>

        <div class="col-lg-3 col-md-3  col-sm-4 col-xs-6 col-sm-offset-1 col-md-offset-0" style="margin-bottom: 30px;">
            <a href="https://cedeplar.ufmg.br/" target="_blank"><img src="/static/img/promoters/home-Cedeplar-New.png" class="m-auto img-responsive" width="200px" alt="Cedeplar"/></a>
        </div>
        <div class="col-lg-3 col-md-3  col-sm-4 col-xs-6 col-sm-offset-1 col-md-offset-0" style="margin-bottom: 30px;">
            <a href="https://ufmg.br/" target="_blank"><img src="/static/img/promoters/home-UFMG-New.png" class="m-auto img-responsive" width="200px" alt="UFMG"/></a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-md-offset-0 col-sm-offset-1 col-xs-6" style="margin-bottom: 30px;">
            <a href="http://www.fapemig.br/" target="_blank"><img src="/static/img/promoters/home-Fapemig-New.png" class="m-auto img-responsive" width="200px" alt="Fapemig"/></a>
        </div>
        <div class="col-lg-3 col-md-3  col-sm-4 col-xs-6 col-sm-offset-1 col-md-offset-0" style="margin-bottom: 30px;">
             <a href="http://mg.gov.br/" target="_blank"><img src="/static/img/promoters/home-Minas-New.png" class="m-auto img-responsive" width="200px" alt="Governo de Minas"/></a>
        </div>


    </div>
</section>