<section id="promoters" class="bg-white">
    <div class="navy-line wow fadeInDown"></div>
    <div class="container text-center">
        <h2 class="m-b-lg wow fadeInDown">{% trans %}Promoters{% endtrans %}</h2>
        <div class="col-sm-3">
            <a href="http://mg.gov.br" target="_blank"><img src="/static/img/governo.svg" width="200" height="102" alt="Governo de Minas"/></a>
        </div>
        <div class="col-sm-3">
            <a href="http://www.fapemig.br/" target="_blank"><img src="/static/img/fapemig.svg" width="200" height="80" alt="Fapemig"/></a>
        </div>
        <div class="col-sm-3">
            <a href="http://www.r13.eng.br" target="_blank"><img src="/static/img/r13.svg" width="90" height="70" alt="R13 Sistemas"/></a>
        </div>
        <div class="col-sm-3">
            <a href="http://www.datawheel.us/" target="_blank"><img src="/static/img/datawheel.svg" width="200" height="90" alt="Datawheel"/></a>
        </div>
    </div>
</section>

