{% macro messages(input) -%}
    {% for message in input.errors %}
        <label class="m-l-md error" for="{{ input.name }}">{{ message }}</label>
    {% endfor %}
{%- endmacro %}

<form id="search-form" method="POST" action="{{ action }}" enctype="multipart/form-data">

    {{ form.hidden_tag() }}
    <div class="form-group {{ 'has-error' if form.profile.errors else '' }} ">
        <label class="control-label" for="profile">{% trans %}Profile{% endtrans %}</label>
        {{ messages(form.profile) }}
        {{ form.profile(class="form-control")}}
    </div>
    <div class="form-group {{ 'has-error' if form.description_en.errors else '' }} ">
        <label class="control-label" for="description_en">{% trans %}Question{% endtrans %} (EN)</label>
        {{ messages(form.description_en) }}
        {{ form.description_en(class="form-control", maxlength=400)}}
    </div>
    <div class="form-group {{ 'has-error' if form.description_pt.errors else '' }} ">
        <label class="control-label" for="description_pt">{% trans %}Question{% endtrans %} (PT)</label>
        {{ messages(form.description_pt) }}
        {{ form.description_pt(class="form-control", maxlength=400)}}
    </div>
    <div class="form-group {{ 'has-error' if form.selector.errors else '' }} ">
        <label class="control-label" for="selector">{% trans %}Selector(s){% endtrans %}</label>
        {{ messages(form.selector) }}
        {{ form.selector(class="form-control", maxlength=100)}}
    </div>

    <div class="panel panel-default">
        <div id="selector-header" class="panel-heading">
            <i class="fa fa-angle-double-down m-r-sm"></i> Explicação sobre Seletores:
        </div>
        <div class="panel-body">
            <p>
                <b>Seletor(es):</b> Referentes a natureza do dado que está sendo buscado.
            </p>

            <b> Lista seletores disponíveis:</b>
            <ul class="list">
                <li>bra - localidade</li>
                <li>cbo - ocupação</li>
                <li>cnae - setor da indústria</li>
                <li>course_hedu - educação superior</li>
                <li>course_sc - edução básica</li>
                <li>hs - produto</li>
                <li>university - universidade</li>
                <li>wld - parceiro comercial</li>
            </ul>

            <b>Tabela com as possibilidades de relacionamento entre os seletor(es):</b>
            <table>
            <tr>
                <th>Seletor</th>
                <th>Seletores relacionáveis</th> 
            </tr><tr>
                <td>cbo</td>
                <td>bra, cnae</td>
            </tr><tr>
                <td>cnae</td>
                <td>bra, cbo</td>
            </tr><tr>    
                <td>course_hedu</td>
                <td>university, bra</td>
            </tr><tr>    
                <td>course_sc</td>
                <td>bra, school</td>
            </tr><tr>    
                <td>hs</td>
                <td>bra, wld</td>
            </tr><tr>    
                <td>university</td>
                <td>bra, course</td>
            </tr><tr>    
                <td>wld</td>
                <td>bra, hs</td>
            </tr>
            </table>
        </div>
    </div>

    <div class="form-group {{ 'has-error' if form.answer.errors else '' }} ">
        <label class="control-label" for="answer">{% trans %}Answer{% endtrans %}</label>
        {{ messages(form.answer) }}
        {{ form.answer(class="form-control")}}
    </div>

    <div class="panel panel-default">
        <div id="answer-header" class="panel-heading">
            <i class="fa fa-angle-double-down m-r-sm"></i> Explicação de formulação da resposta:
        </div>
        <div class="panel-body">
            <p>
                <b>Resposta - URL destino: <i>/categoria/{0}/opção_aba?seletor1={1}&seletor2={2}</i></b>
            </p>

            <p>
                <b>categoria:</b> Categoria referente ao seletor principal (p. ex. <i>industry</i>).<br/>
                <b>{0}:</b> Codificação sinalizando o seletor referente a categoria escolhida.<br/>
                <b>opção_aba<SUP>*</SUP>:</b> Nome da aba default a ser exibida. Por exemplo: aba Salário e Emprego, <i>wages</i>.<br/>
                <b>seletor1<SUP>*</SUP>:</b> Atributo do primeiro seletor relacionado.<br/>
                <b>seletor2<SUP>*</SUP>:</b> Atributo do segundo seletor relacionado.<br/>
            </p>

            <b>Categorias disponíveis e sua forma em atributo:</b>
            <table>
            <tr>
                <th>Categoria</th>
                <th>Atributo</th>
            </tr><tr>
                <td>industry</td>
                <td>cnae_id</td>
            </tr><tr>
                <td>location</td>
                <td>bra_id</td>
            </tr><tr>
                <td>occupation</td>
                <td>cbo_id</td>
            </tr><tr>
                <td>product</td>
                <td>hs</td>
            </tr><tr>
                <td>trade-partner</td>
                <td>wld</td>
            </tr><tr>
                <td>university</td>
                <td>university</td>
            </tr><tr>
                <td>major</td>
                <td>course_hedu</td>
            </tr><tr>
                <td>basic_course</td>
                <td>course_sc</td>
            </tr>
            </table>

            <br/><b>Opções de abas disponíveis para cada categoria:</b>
            <table>
            <tr>
                <th>Categoria</th>
                <th>Opções de aba</th>
            </tr><tr>
                <td>industry</td>
                <td>wages, opportunities</td>
            </tr><tr>
                <td>location</td>
                <td>wages, education, trade-partner, opportunities</td>
            </tr><tr>
                <td>occupation</td>
                <td>wages, opportunities</td>
            </tr><tr>
                <td>product</td>
                <td>trade-partner, opportunities</td>
            </tr><tr>
                <td>trade-partner</td>
                <td>international-trade</td>
            </tr><tr>
                <td>university</td>
                <td>enrollments</td>
            </tr><tr>
                <td>major</td>
                <td>enrollments</td>
            </tr><tr>
                <td>basic_course</td>
                <td>enrollments</td>
            </tr>
            </table><br/>

            <p>
            <SUP>*</SUP>Campos opcionais. Caso os mesmos não sejam usados, as codificações entre eles devem ser retiradas. 
            </p>
            
        </div>
    </div>

    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-share-square-o m-r-sm"></i>{% trans %}Send{% endtrans %}</button>
</form>
