{% macro messages(input) -%}
    {% for message in input.errors %}
        <label class="m-l-md error" for="{{ input.name }}">{{ message }}</label>
    {% endfor %}
{%- endmacro %}

<form id="search-form" method="POST" action="{{ action }}" enctype="multipart/form-data">

    {{ form.hidden_tag() }}
    <div class="form-group {{ 'has-error' if form.profile.errors else '' }} ">
        <label class="control-label" for="profile">{% trans %}Profile{% endtrans %}</label>
        {{ messages(form.profile) }}
        {{ form.profile(class="form-control")}}
    </div>
    <div class="form-group {{ 'has-error' if form.description_en.errors else '' }} ">
        <label class="control-label" for="description_en">{% trans %}Question{% endtrans %} (EN)</label>
        {{ messages(form.description_en) }}
        {{ form.description_en(class="form-control", maxlength=400)}}
    </div>
    <div class="form-group {{ 'has-error' if form.description_pt.errors else '' }} ">
        <label class="control-label" for="description_pt">{% trans %}Question{% endtrans %} (PT)</label>
        {{ messages(form.description_pt) }}
        {{ form.description_pt(class="form-control", maxlength=400)}}
    </div>
    <div class="form-group {{ 'has-error' if form.selector.errors else '' }} ">
        <label class="control-label" for="selector">{% trans %}Selector(s){% endtrans %}</label>
        {{ messages(form.selector) }}
        {{ form.selector(class="form-control", maxlength=100)}}
    </div>

    <div class="form-group {{ 'has-error' if form.answer.errors else '' }}">
        <label class="control-label" for="answer">{% trans %}Content{% endtrans %}</label>
        <button id="search-edit" class="btn btn-xs btn-white" type="button"><i class="fa fa-pencil m-r-sm"></i>{% trans %}Edit{% endtrans %}</button>
        <button id="search-preview" class="btn btn-xs btn-white" type="button"><i class="fa fa-eye m-r-sm"></i>{% trans %}Preview {% endtrans %}</button>
        {{ messages(form.answer) }}
        {{ form.answer }}
        <div class=" summernote-wrapper">
            <div id="text-content-editor" class="summernote"></div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-share-square-o m-r-sm"></i>{% trans %}Send{% endtrans %}</button>
</form>
