{% macro messages(input) -%}
    {% for message in input.errors %}
        <label class="m-l-md error" for="{{ input.name }}">{{ message }}</label>
    {% endfor %}
{%- endmacro %}

<form id="blog-form" method="POST" action="{{ action }}" enctype="multipart/form-data">

    {{ form.hidden_tag() }}
    <div class="form-group {{ 'has-error' if form.title.errors else '' }} ">
        <label class="control-label" for="title">Título</label>
        {{ messages(form.title) }}
        {{ form.title(class="form-control", maxlength=400)}}
    </div>
    <div class="form-group {{ 'has-error' if form.authors.errors else '' }} ">
        <label class="control-label" for="authors">Autor</label>
        {{ messages(form.authors) }}
        {{ form.authors(class="form-control", maxlength=100)}}
    </div>
    <div class="form-group {{ 'has-error' if form.subject.errors else '' }} ">
        <label class="control-label" for="subject">Categoria</label>
        {{ messages(form.subject) }}
        {{ form.subject(class="form-control")}}
    </div>

    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-share-square-o m-r-sm"></i>Enviar</button>
</form>
