<form class="filter">
    <div class="form-group search">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" id="field-search" name="questions_filter" class="form-control"/>
        </div>
    </div>
</form>

<div class="selector-list">
    <h4>{% trans %}Choose an option or type what you are looking for{% endtrans %}</h4>
    <div class="list-group list-stripped">
        <div class="selector-list-item">
            <div class="item-title">
            </div>
        </div>
    </div>
</div>