{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row bg-white">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('general.home') }}">Home</a></li>
                <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
                <li><a href="{{ url_for('search.index') }}">{% trans %}Start a search{% endtrans %}</a></li>
                <li class="active">{% trans %}Create{% endtrans %}</li>
            </ol>
        </div>
    </div>

    <div class="container m-b-lg">
        {% include "search/_form.html" %}
    </div>
{% endblock content %}

{% block js_assets %}
    <script src="/static/js/modules/search/table.js"></script>
{% endblock js_assets %}
