<!-- extend from base layout -->
{% extends "base.html" %}

<!-- Facebook Properties -->
{% block facebook_metadata %}
    <meta property="og:image" content="{{ s3_host }}/img/basic-course/basic_course_{{ basic_course.id if basic_course.img_link else 'all' }}.jpg"/>
    <meta property="og:url" content="{{url_for('basic_course.index', course_sc_id=basic_course.id, tab=tab, _external=True, _scheme='http')}}{% if location.id %}{{ '?bra_id=' }}{{ location.id }}{{ '&menu=' if graph.menu }}{{ graph.menu }}{{ '&url=' if graph.url }}{{ graph.url }}{% elif graph.menu %}{{ '?menu=' if graph.menu }}{{ graph.menu }}{{ '&url=' if graph.url }}{{ graph.url }}{% endif %}"/>
    <meta property="og:title" content="DataViva: {{ basic_course.name() }}{% if not location.id %} {% trans %}in Brazil{% endtrans %}{% else %}{% if location.id | length <= 3 %} {{location.preposition('em')}} {{location.name()}}{% else %} {{location.preposition('em')}} {{location.name()}} - {{ location.abbreviation }}{% endif %}{% endif %} |
        {% if tab == 'general'%}
            {% trans %}General{% endtrans %}
        {% elif tab == 'enrollments' %}
            {% trans %}Enrollments{% endtrans %}
        {% endif %}"/>
    <meta property="og:description" content="{% if not location.id %}
        {% trans %}The highest number of enrollments in the {% endtrans %}{{basic_course.name()}} {% trans %}course/field of study in Brazil is in the municipality of {% endtrans %}...
      {% else %}
        {% trans %}The highest number of enrollments in {% endtrans %}{{ basic_course.name() }} {% trans %}in {% endtrans %}{{ location.name() }} ...
      {% endif %}"/>
    <meta property="og:type" content="website" />
{% endblock facebook_metadata %}

{% block content %}

<!-- BREADCRUMB -->
<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('general.home') }}">Home</a>
            </li>
            <li {{ 'class="active"' if not location else '' }}>
                <a href="#" title="Trocar" onclick="select_attr('course_sc');"> {{ basic_course.name() }}</a>
            </li>
            {% if location %}
                <li class="active">
                    <a href="#" title="Trocar" onclick="select_attr_search('bra');"> {{ location.name() }}</a>
                </li>
            {% endif %}
        </ol>
    </div>
</div>
<!-- BREADCRUMB -->

<section id="header" class="header" style="background: url({{ s3_host }}/img/basic-course/basic_course_{{ basic_course.id if basic_course.img_link else 'all' }}.jpg) no-repeat center center fixed; background-size: cover;">

  <div class="photo-credit">
    <div class="container">
      <a href="{{ basic_course.img_link if basic_course.img_link else 'https://flic.kr/p/9pzhGJ' }}" target="blank">
      <i class="fa fa-camera"></i> {% trans %}picture by{% endtrans %} {{ basic_course.img_author if basic_course.img_link else 'Portal PBH' }}</a>
    </div>
  </div>

        <div class="summary-box">
        <div class="container">

            <span class="portrait dv-course-sc-{{ basic_course.id[0:2] }} hidden-xs"></span>
            <h1>{{ basic_course.name() }}
            {% if not location.id %}
              {% trans %}in Brazil{% endtrans %}
            {% else %}
              {% if location.id | length <= 3 %}
                {{location.preposition('em')}} {{location.name()}}
              {% else %}
                {{location.preposition('em')}} {{location.name()}} - {{ location.abbreviation }}
              {% endif %}
            {% endif %}
              <div class="btn-group">
                <button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans %}change{% endtrans %} <span class="caret"></span>
              </button>
                <ul class="dropdown-menu">
                  <li><a href="#" onclick="select_attr('course_sc');">{% trans %}Basic Course{% endtrans %}</a></li>
                  <li><a href="#" onclick="select_attr_search('bra');">{% trans %}Location{% endtrans %}</a></li>
                </ul>
              </div>
            </h1>
            <span class="clearfix"></span>

            <div class="indices">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="widget">
                          <h2 class="text-left text-uppercase">{% trans %}Number of Enrollments{% endtrans %} ({{ header.course_year }})</h2>
                          <div class="number">
                              <strong class="counter">{{header.course_enrolled | max_digits(3, True)}}</strong><br/>
                              <small class="magnitude">{{header.course_enrolled | magnitude}}</small>
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}Number of Classes{% endtrans %} ({{ header.course_year }})</h2>
                        <div class="number">
                            <strong class="counter">{{header.course_classes | max_digits(3, True)}}</strong><br/>
                            <small class="magnitude">{{header.course_classes | magnitude}}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}Number of Schools{% endtrans %} ({{ header.course_year }})</h2>
                        <div class="number">
                            <strong class="counter">{{header.school_count | max_digits(3, True)}}</strong><br/>
                            <small class="magnitude">{{header.school_count | magnitude}}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}Average Size of Classes{% endtrans %} ({{ header.course_year }})</h2>
                        <div class="number">
                            <strong class="counter">{{header.course_average_class_size | max_digits(3, True)}}</strong><br/>
                            <small class="magnitude">{{header.course_average_class_size | magnitude}}</small>
                        </div>
                      </div>
                    </div>
                    {% if header.course_age %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}Average Age{% endtrans %} ({{ header.course_year }})</h2>
                        <div class="number">
                            <strong class="counter">{{header.course_age | max_digits(3, True)}}</strong><br/>
                            <small class="magnitude">{% trans %}Years{% endtrans %}</small>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
</section>

<section id="profile" class="profile">

  <nav class="col-xs-12">

    <div class="container">
          <ul class="nav-tabs" role="tablist">
              <li role="presentation" class="{{ 'active' if tab == 'general' }}">
                  <a href="#general"
                     aria-controls="general"
                     role="tab"
                     data-id="{{ basic_course.id }}"
                     data-location="{{ location.id }}"
                     data-toggle="tab">{% trans %}General{% endtrans %}</a>
              </li>
              <li role="presentation" class="{{ 'active' if tab == 'enrollments' }}">
                  <a href="#enrollments"
                     aria-controls="enrollments"
                     role="tab"
                     graph
                     data-id="{{ basic_course.id }}"
                     data-location="{{ location.id }}"
                     data-toggle="tab">{% trans %}Enrollments{% endtrans %}</a>
              </li>
          </ul>
        </div>
    </nav>

    <div class="container">
        <div class="tab-content col-xs-12">
            {% include "basic_course/tab-general.html" %}
            {% include "basic_course/tab-enrollments.html" %}
        </div>
    </div>

</section>

<section id="graphs" class="graphs bg-gray">
  {% if tab != 'general' %}
    {% include "basic_course/graphs-" + tab + ".html" %}
  {% endif %}
</section>
{% endblock content %}

