<div role="tabpanel" class="tab-pane" id="enrollments">
    <p>{{ body.enrollment_statistics_description }}</p>
    <h2>{% trans %}Enrollments{% endtrans %}</h2>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            {% if location.id | length < 9 %}
                                <th>
                                    {% trans %}Main Municipality{% endtrans %}
                                    <small>{% trans %}by Number of Enrolled Students{% endtrans %}</small>
                                </th>
                            {% endif %}
                            <th>
                                {% trans %}Main School{% endtrans %}
                                <small>{% trans %}by Number of Enrolled Students{% endtrans %}</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if location.id | length < 9 %}
                                <td>
                                    <p class="label">{{ body.city_name }}</p>
                                    <div class="number">
                                        <strong class="counter">{{body["city_enrolled"] | max_digits(3)}}</strong><span> {{body["city_enrolled"] | magnitude}}</span>
                                    </div>
                                </td>
                            {% endif %}
                            <td>
                                <p class="label">{{ body.school_name }}</p>
                                <div class="number">
                                    <strong class="counter">{{body["school_enrolled"] | max_digits(3)}}</strong><span> {{body["school_enrolled"] | magnitude}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
