<div role="tabpanel" class="tab-pane" id="matricula">
    <h2>Matrícula</h2>
    <p>O Censo Escolar é aplicado anualmente em todo o Brasil, coletando informações sobre diversos aspectos das escolas brasileiras, em especial as matrículas e infraestrutura. Todos os níveis de ensino são envolvidos: ensino infantil, ensino fundamental, ensino médio e EJA.</p>
    <p>O Censo Escolar é aplicado anualmente em todo o Brasil, coletando informações sobre diversos aspectos das escolas brasileiras, em especial as matrículas e infraestrutura. Todos os níveis de ensino são envolvidos: ensino infantil, ensino fundamental, ensino médio e EJA.</p>
    <p>O Censo Escolar é aplicado anualmente em todo o Brasil, coletando informações sobre diversos aspectos das escolas brasileiras, em especial as matrículas e infraestrutura. Todos os níveis de ensino são envolvidos: ensino infantil, ensino fundamental, ensino médio e EJA.</p>
    <h3>Estatísticas de matrículas do Brasil</h3>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            <th>
                                Principal Município
                                <small>por Número de Alunos Matriculados</small>
                            </th>
                            <th>
                                Principal Escola
                                <small>por Número de Alunos Matriculados</small>
                            </th>
                            <th>
                                Principal Município
                                <small>por Número de Alunos Matriculados</small>
                            </th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="label">{{context.label01}}</p>
                                <div class="number">
                                    <strong class="counter">{{context.indicadorLabel01}}</strong><span> mil</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{context.label02}}</p>
                                <div class="number">
                                    <strong class="counter">{{context.indicadorLabel02}}</strong><span> mil</span>
                                <p class="label">Colégio Magnum</p>
                                <div class="number">
                                    <strong class="counter">2.2</strong><span> mil</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">Belo Horizonte</p>
                                <div class="number">
                                    <strong class="counter">15</strong><span> mil</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>