<div role="tabpanel" class="tab-pane {{ 'active' if tab == 'general' }}" id="general">
    <h2 class="m-t-xl">{% trans %}General Profile{% endtrans %}</h2>
        <div class="row">

        <div class="dl-box col-xs-12 col-md-6" id='general-students'>
            <h3>{% trans %}Enrollments{% endtrans %} (2014)</h3>
            <a href="#enrollments" 
                    aria-controls="enrollments" 
                    role="tab"        
                    data-toggle="tab" 
                    graph class="pull-right btn btn-primary btn-xs m-r-lg">
                {% trans %}More details{% endtrans %}
            </a>
        </div>
    </div>
</div>