<div role="tabpanel" class="tab-pane" id="enrollments">
    <p>{{ body.enrollment_statistics_description }}</p>
    <h2>Estatísticas de matrículas do Brasil</h2>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            {% if location.id | length < 9 %}
                                <th>
                                    Principal Município
                                    <small>por Número de Alunos Matriculados</small>
                                </th>
                            {% endif %}
                            <th>
                                Principal Escola
                                <small>por Número de Alunos Matriculados</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if location.id | length < 9 %}
                                <td>
                                    <p class="label">{{ body.city_name }}</p>
                                    <div class="number">
                                        <strong class="counter">{{body["city_enrolled"] | max_digits(3)}}</strong><span> {{body["city_enrolled"] | magnitude}}</span>
                                    </div>
                                </td>
                            {% endif %}
                            <td>
                                <p class="label">{{ body.school_name }}</p>
                                <div class="number">
                                    <strong class="counter">{{body["school_enrolled"] | max_digits(3)}}</strong><span> {{body["school_enrolled"] | magnitude}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 <a href="" target="frame-tab-enrollments">Curso</a></br>

        <a href="/pt/embed/geo_map/sc/{{ location.id if location else 'all' }}/all/{{header.course_sc_id}}/bra/?color=enrolled" target="frame-tab-enrollments">&nbsp Mapa</a>
        <a href="/pt/embed/stacked/sc/{{ location.id if location else 'all' }}/all/{{header.course_sc_id}}/bra/?y=enrolled&layout=value&order=color" target="frame-tab-enrollments">&nbsp Evoluçāo</a>
        <a href="/pt/embed/tree_map/sc/{{ location.id if location else 'all' }}/all/{{header.course_sc_id}}/bra/?color=color&depth=bra_9&size=enrolled&controls=true&year=2014" target="frame-tab-enrollments">&nbsp TreeMap</a> </br>


</div>

<iframe name="frame-tab-enrollments" id="frame-tab-enrollments" width='684' height='350' src='/pt/embed/geo_map/sc/all/all/{{header.course_sc_id}}/bra/?color=enrolled" target="frame-tab-enrollments' frameborder='0'></iframe>

