{% extends "mail.html" %}
{% block mail_body %}
<div>
    <h2 class='title'>O Dataviva recebeu um novo estudo!</h2>
    <b>Título:</b> {{ article.title }} (<a href="{{ url }}" target="_blank">Acessar Estudo</a>)</br>
    <b>Autor:</b> {{ article.authors_str() }}</br>
    <b>Palavras-Chave:</b> {{ article.keywords_str() }}</br>
    <b>Data de Publicação:</b> {{ article.date_str() }}</br>
    
    <p>{{ article.abstract }}</p>

    <a href="{{ article.url }}">Baixar Arquivo (PDF)</a>
</div>
{% endblock %}