<div id="graphs-opportunities" class="container">
    <nav class="nav-graph col-xs-12 col-md-3" >
        <h3>{% trans %}Preview{% endtrans %}:</h3>
        <div class="list-group panel">
            <h4>{% trans %}Economic Opportunities{% endtrans %}</h4>
            <a href="/{{g.locale}}/embed/rings/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/cbo/?color=color" 
            target="graphs-frame-opportunities" class="list-group-item {{'selected' if graph.menu == 'economic-opportunities-rings' or not graph }}"
            data-parent="#economic-opportunities">{% trans %}Rings{% endtrans %}</a>
        </div>
    </nav>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="
                {% if not graph %}
                    /{{g.locale}}/embed/rings/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/cbo/?color=color
                {% else %}
                    /{{ g.locale }}/embed/{{graph.url}}
                {% endif %}"
            name="graphs-frame-opportunities"
            id="graphs-frame-opportunities"
            class="embed-responsive-item">
        </iframe>
    </div>
</div>