<div id="graphs-wages" class="container">
    <nav class="nav-graph col-xs-12 col-md-3" >
        <h3>{% trans %}Preview{% endtrans %}:</h3>
        <div class="list-group panel">
            <h4>{% trans %}Jobs by{% endtrans %}</h4>
            <a href="#jobs-opportunities" class="list-group-item" data-toggle="collapse" data-parent="#jobs-opportunities">{% trans %}Economic Activities{% endtrans %}</a>
            <div class="collapse" id="jobs-opportunities">
                <a href="/{{g.locale}}/embed/tree_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/cnae/?color=color&depth=cnae_6&size=num_jobs"
                   target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'jobs-opportunities-tree_map' or not graph }}" data-parent="#jobs-opportunities">
                    TreeMap
                </a>
                <a href="/{{g.locale}}/embed/stacked/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/cnae/?sort=asc&layout=value&y=num_jobs&order=color"
                   target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'jobs-opportunities-stacked'}}" data-parent="#jobs-opportunities">
                    {% trans %}Stacked{% endtrans %}
               </a>
            </div>
            {% if location.id | length != 9 %}
            <a href="#jobs-municipalities" class="list-group-item" data-toggle="collapse" data-parent="#jobs-municipalities">{% trans %}Municipality{% endtrans %}</a>
            <div class="collapse" id="jobs-municipalities">
                <a href="/{{g.locale}}/embed/tree_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/bra/?color=color&depth=bra_9&size=num_jobs"
                   target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'jobs-municipalities-tree_map'}}" data-parent="#jobs-municipalities">
                    TreeMap
                </a>
                <a href="/{{g.locale}}/embed/geo_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/bra/?color=num_jobs"
                   target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'jobs-municipalities-geo_map'}}" data-parent="#jobs-municipalities">
                    {% trans %}Map{% endtrans %}
               </a>
                <a href="/{{g.locale}}/embed/stacked/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/bra/?sort=asc&layout=value&y=num_jobs&order=color"
                   target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'jobs-municipalities-stacked'}}" data-parent="#jobs-municipalities">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div>
            {% endif %}
            <h4>{% trans %}Wage by{% endtrans %} </h4>
            <a href="#wages-opportunities" class="list-group-item" data-toggle="collapse" data-parent="#wages-opportunities">{% trans %}Economic Activities{% endtrans %}</a>
            <div class="collapse" id="wages-opportunities">
                <a href="/{{g.locale}}/embed/tree_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/cnae/?color=color&depth=cnae_6&size=wage"
                   target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'wages-opportunities-tree_map'}}" data-parent="#wages-opportunities">
                    TreeMap
                </a>
                <a href="/{{g.locale}}/embed/stacked/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/cnae/?sort=asc&layout=value&y=wage&order=color"
                   target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'wages-opportunities-stacked'}}" data-parent="#wages-opportunities">
                    {% trans %}Stacked{% endtrans %}
               </a>
            </div>
            {% if location.id | length != 9 %}
            <a href="#wages-municipalities" class="list-group-item" data-toggle="collapse" data-parent="#wages-municipalities">{% trans %}Municipality{% endtrans %}</a>
            <div class="collapse" id="wages-municipalities">
                <a href="/{{g.locale}}/embed/tree_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/bra/?color=color&depth=bra_9&size=wage"
                   target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'wages-municipalities-tree_map'}}" data-parent="#wages-municipalities">
                    TreeMap
                </a>
                <a href="/{{g.locale}}/embed/geo_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/bra/?color=wage"
                   target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'wages-municipalities-geo_map'}}" data-parent="#wages-municipalities">
                    {% trans %}Map{% endtrans %}
               </a>
                <a href="/{{g.locale}}/embed/stacked/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/bra/?sort=asc&layout=value&y=wage&order=color"
                   target="graphs-frame-wages" class="list-group-item {{'selected' if graph.menu == 'wages-municipalities-stacked'}}" data-parent="#wages-municipalities">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div>
            {% endif %}
        </div>
    </nav>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="
                {% if not graph %}
                    /{{g.locale}}/embed/tree_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/cnae/?color=color&depth=cnae_6&size=num_jobs
                {% else %}
                    /{{ g.locale }}/embed/{{graph.url}}
                {% endif %}"
                name="graphs-frame-wages"
                id="graphs-frame-wages"
                class="embed-responsive-item" >
        </iframe>
    </div>
</div>