<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<!-- BREADCRUMB -->
<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('general.home') }}">Home</a>
            </li>
            <li {{ 'class="active"' if not location else '' }}>
                <a href="#" title="Trocar" onclick="select_attr('cbo');"> {{ occupation.name() }}</a>
            </li>
            {% if location %}
                <li class="active">
                    <a href="#" title="Trocar" onclick="select_attr_search('bra');"> {{ location.name() }}</a>
                </li>
            {% endif %}
        </ol>
    </div>
</div>
<!-- BREADCRUMB -->


<section id="header" class="header bg-occupation-{{occupation.id[0]}}">
    <div class="summary-box">
        <div class="container">

            <span class="portrait dv-cbo-{{header.family_id}} hidden-xs"></span>
            <h1>
              {{ occupation.name() }} 
              {% if not location.id %}
                {% trans %}in Brazil{% endtrans %}
              {% else %}
                {% if location.id | length <= 3 %}
                  {{location.preposition('em')}} {{location.name()}}
                {% else %}
                  {{location.preposition('em')}} {{location.name()}} - {{ location.abbreviation }}
                {% endif %}
              {% endif %}
                <div class="btn-group">
                  <button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans %}change{% endtrans %} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" onclick="select_attr('cbo');">{% trans %}Occupation{% endtrans %}</a></li>
                    <li><a href="#" onclick="select_attr_search('bra');">{% trans %}Location{% endtrans %}</a></li>
                  </ul>
                </div>
              </h1>
            <span class="clearfix"></span>

            <div class="indices">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="widget">
                          <h2 class="text-left text-uppercase">{% trans %}Average Monthly Income{% endtrans %}</h2>
                          <div class="number">
                              R$ <strong class="counter">{{header.average_monthly_income | max_digits(3)}}</strong><br/>
                              <small class="magnitude">{{header.average_monthly_income | magnitude}}</small>
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}Payroll{% endtrans %}</h2>
                        <div class="number">
                            R$ <strong class="counter">{{header.salary_mass | max_digits(3)}}</strong><br/>
                            <small class="magnitude">{{header.salary_mass | magnitude}}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}Total Employment{% endtrans %}</h2>
                        <div class="number">
                            <strong class="counter">{{header.total_employment | max_digits(3)}}</strong><br/>
                            <small class="magnitude">{{header.total_employment | magnitude}}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                          <h2 class="text-left text-uppercase">{% trans %}Total of Establishments{% endtrans %}</h2>
                          <div class="number">
                              <strong class="counter">{{header.total_establishments | max_digits(3)}}</strong><br/>
                              <small class="magnitude">{{header.total_establishments | magnitude}}</small>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>       
                <div class="row">
                  <div class="col-xs-12">
                    <div class="year">{% trans %}Year{% endtrans %}: {{ header.year }}</div>
                  </div>
                </div>
            </div>
        </div>
</section>               



<section id="profile" class="profile">

  <nav class="col-xs-12">

    <div class="container">
          <ul class="nav-tabs" role="tablist">
              <li role="presentation" class="active">
                  <a href="#general"
                     aria-controls="general"
                     role="tab"
                     data-id="{{ occupation.id }}"
                     data-location="{{ location.id }}"
                     data-toggle="tab">{% trans %}General{% endtrans %}</a>
              </li>
              <li role="presentation">
                  <a href="#wages"
                     aria-controls="wages"
                     role="tab"
                     graph
                     data-id="{{ occupation.id }}"
                     data-location="{{ location.id }}"
                     data-toggle="tab">{% trans %}Wages and Jobs{% endtrans %}</a>
              </li>
              {% if occupation.id|length == 4 %}
              <li role="presentation">
                  <a href="#opportunities"
                     aria-controls="opportunities"
                     role="tab"
                     graph
                     data-id="{{ occupation.id }}"
                     data-location="{{ location.id }}"
                     data-toggle="tab">{% trans %}Economic Opportunities{% endtrans %}</a>
              </li>
              {% endif %}
          </ul>
        </div>
    </nav>

    <div class="container">
        <div class="tab-content col-xs-12">
            {% include "occupation/tab-general.html" %}
            {% include "occupation/tab-wages.html" %}
            {% if occupation.id | length == 4 %}
                {% include "occupation/tab-opportunities.html" %}
            {% endif %}
        </div>
    </div>

</section>

<section id="graphs" class="graphs bg-gray">
</section>

{% endblock content %}
