<div role="tabpanel" class="tab-pane" id="oportunidade-economica">
    <h2>Oportunidades Econômicas</h2>
    <p>{{ body.text_oportunidades_economicas }}</p>
    <a href="/pt/embed/network/rais/4mg/all/all/cnae/?color=color&size=wage&spotlight=true" 
        target="frame-tab-oportunidade-economica">Ocupações Similares</a></br>

</div>


<iframe name="frame-tab-oportunidade-economica" id="frame-tab-oportunidade-economica" width='684' height='350' src='/pt/embed/network/rais/4mg/all/all/cnae/?color=color&size=wage&spotlight=true' frameborder='0'></iframe>

