<div role="tabpanel" class="tab-pane active" id="geral">
    <div class="mod mod-datainfo">
        <div class="numbers-top smaller">
            <div class="row">
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Renda Média Mensal</p>
                    <div class="number">
                        R$ <strong class="counter">8</strong><small>Milhares</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Massa Salarial</p>
                    <div class="number">
                        R$ <strong class="counter">17.9</strong><small>mil</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Total de Empregos</p>
                    <div class="number">
                        <strong class="counter">1.6</strong><small>milhares</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Total de Estabelecimentos</p>
                    <div class="number">
                        <strong class="counter">6.8</strong><small>milhões</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-15 year">
                    Ano: 2010
                </div>
            </div>
        </div>
        <h2>Perfil Geral</h2>
        <p>{{ texto_perfil }}</p>
        <div class="row">
            <div class="col-xs-15 col-sm-15 col-md-5">
                <h3>Salário e Emprego</h3>
                <div class="table-responsive">
                    <table class="table data-2-columns margin-none-bottom">
                        <tbody>
                            <tr>
                                <th>
                                    Principal Município por Empregos
                                </th>
                                <td>
                                    <p class="label">Sāo Paulo</p>
                                    <strong class="counter">1.62</strong> <span>milhares de empregos</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Atividade por Empregos
                                </th>
                                <td>
                                    <p class="label">China</p>
                                    USD <strong class="counter">8.82</strong> <span>bilhões</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Município com maior renda média mensal
                                </th>
                                <td>
                                    USD <strong class="counter">29.3</strong> <span>bilhões</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Atividade com maior renda média mensal
                                </th>
                                <td>
                                    Desenvolvimento Sob Encomenda <strong class="counter">990</strong> <span>empregos</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#salario-emprego" aria-controls="salario-emprego" role="tab" data-toggle="tab" class="btn btn-xs btn-dataviva">
                        mais detalhes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>