<div role="tabpanel" class="tab-pane" id="salario-emprego">
    <h2>Salário e Emprego</h2>
    <p>{{context.text_salario_e_emprego}}</p>
    <h3>Estatísticas de Salário e Emprego</h3>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            <th>
                                Principal Município
                                <small>por Empregos</small>
                            </th>
                            <th>
                                Principal Atividade
                                <small>por Empregos</small>
                            </th>
                            <th>
                                Município
                                <small>com maior renda média mensal</small>
                            </th>
                            <th>
                                Atividade
                                <small>com maior renda média mensal</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="label">{{body.municipality_with_more_jobs}}</p>
                                <div class="number">
                                    <strong class="counter">{{body.municipality_with_more_jobs_value}}</strong><span>EMPREGOS</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{body.activity_with_more_jobs}}</p>
                                <div class="number">
                                    <strong class="counter">{{body.activity_with_more_jobs_value}}</strong><span>EMPREGOS</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{body.municipality_with_biggest_wage_avg}}</p>
                                <div class="number">
                                    USD<strong class="counter">{{body.municipality_with_biggest_wage_avg_value}}</strong><span></span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{body.activity_with_biggest_wage_avg}}</p>
                                USD<div class="number">
                                    <strong class="counter">{{body.activity_with_biggest_wage_avg_value}}</strong><span></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>