<div role="tabpanel" class="tab-pane active" id="general">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}Average Monthly Income{% endtrans %}</h2>
                        <div class="number">
                            R$ <strong class="counter">{{header.average_monthly_income | max_digits(3)}}</strong><br/>
                            <small class="magnitude">{{header.average_monthly_income | magnitude}}</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}Payroll{% endtrans %}</h2>
                        <div class="number">
                            R$ <strong class="counter">{{header.salary_mass | max_digits(3)}}</strong><br/>
                            <small class="magnitude">{{header.salary_mass | magnitude}}</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}Total Employment{% endtrans %}</h2>
                        <div class="number">
                            <strong class="counter">{{header.total_employment | max_digits(3)}}</strong><br/>
                            <small class="magnitude">{{header.total_employment | magnitude}}</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}Total of Establishments{% endtrans %}</h2>
                        <div class="number">
                            <strong class="counter">{{header.total_establishments | max_digits(3)}}</strong><br/>
                            <small class="magnitude">{{header.total_establishments | magnitude}}</small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <a href="#" class="fa fa-angle-left jcarousel-control-prev"></a>
        <a href="#" class="fa fa-angle-right jcarousel-control-next"></a>
    </div>

    <div class="m-t-sm col-xs-12 year">
        {% trans %}Year{% endtrans %}: {{ header.year }}
    </div>

    <h2 class="m-t-xl">Perfil Geral</h2>
    {% if not location.id %}
        <p>{% trans %}The {% endtrans %}{{occupation.name()}}
         {% trans %}occupation employs {% endtrans %}{{header.total_employment}} 
         {% trans %}professionals, being number {% endtrans %}{{header.ranking}}&ordm 
         {% trans %}in the Brazilian occupation ranking. The Brazilian city that employs the most in this occupation is{% endtrans %}{{body.municipality_with_more_jobs}} 
         {% trans %}and the {% endtrans %}{{body.activity_with_more_jobs}} 
         {% trans %} activity is the one that employs more {% endtrans %}{{occupation.name()}}. 
         {% trans %} The average monthly income is {% endtrans %}{{header.average_monthly_income}} 
         {% trans %}and the average age of workers is{%endtrans%}{{header.age_avg | max_digits(3)}} ({{header.year}}).</p>
    {% else %}
        {% if location.id|length == 1 %}
            <p>{% trans %}A ocupação de {% endtrans %}{{occupation.name()}} 
            {% trans %}emprega {% endtrans %}{{header.total_employment}} 
            {% trans %}profissionais na região {% endtrans %}{{location.name()}}, 
            {% trans %}ocupando o {% endtrans %}{{header.ranking}}&ordm 
            {% trans %}lugar no ranking de ocupações da região. A renda mensal média dos trabalhadores dessa ocupação na região {% endtrans %}{{location.name()}} 
            {% trans %}é de {% endtrans %}{{header.average_monthly_income}} 
            {% trans %}reais e a idade média dos empregados é de {% endtrans %}{{header.age_avg | max_digits(3)}} ({{header.year}}). 
            {% trans %}O município que mais emprega nessa ocupação é {% endtrans %}{{location.article()}} {{body.municipality_with_biggest_wage_avg}}.</p>
        {% elif location.id|length == 3 %}
            <p>{% trans %}A ocupação de {% endtrans %}{{occupation.name()}} 
            {% trans %}emprega {% endtrans %}{{header.total_employment}} 
            {% trans %}profissionais {% endtrans %}{{location.preposition('em')}} {{location.name()}} 
            {% trans %}ocupando o {% endtrans %}{{header.ranking}}&ordm 
            {% trans %}lugar no ranking de ocupações do estado. A renda mensal média dos trabalhadores dessa ocupação no estado é de {% endtrans %}{{header.average_monthly_income}} 
            {% trans %}reais e a idade média dos empregados é de {% endtrans %}{{header.age_avg | max_digits(3)}} ({{header.year}}). 
            {% trans %}O município que mais emprega nessa ocupação é {% endtrans %}{{location.article()}} {{body.municipality_with_biggest_wage_avg}}.</p>
        {% elif location.id|length == 5 %}
            <p>{% trans %}A ocupação de {% endtrans %}{{occupation.name()}} 
            {% trans %}emprega {% endtrans %}{{header.total_employment}} 
            {% trans %}profissionais na mesorrregião {% endtrans %}{{location.preposition('de')}} {{location.name()}}, 
            {% trans %}ocupando o {% endtrans %}{{header.ranking}}&ordm 
            {% trans %}lugar em seu ranking de ocupações. A renda mensal média dos trabalhadores dessa ocupação nesta localidade é de {% endtrans %}{{header.average_monthly_income}} 
            {% trans %}reais e a idade média dos empregados é de {% endtrans %}{{header.age_avg | max_digits(3)}} ({{header.year}}). 
            {% trans %}O município que mais emprega nessa ocupação é {% endtrans %}{{location.article()}} {{body.municipality_with_biggest_wage_avg}}.</p>
        {% elif location.id|length == 7 %}
            <p>{% trans %}A ocupação de {% endtrans %}{{occupation.name()}} 
            {% trans %}emprega {% endtrans %}{{header.total_employment}} 
            {% trans %}profissionais na microrregião {% endtrans %}{{location.preposition('de')}} {{location.name()}}, 
            {% trans %}ocupando o {% endtrans %}{{header.ranking}}&ordm 
            {% trans %}lugar em seu ranking de ocupações. A renda mensal média dos trabalhadores dessa ocupação nesta localidade é de {% endtrans %}{{header.average_monthly_income}} 
            {% trans %}reais e a idade média dos empregados é de {% endtrans %}{{header.age_avg | max_digits(3)}} ({{header.year}}). 
            {% trans %}O município que mais emprega nessa ocupação é {% endtrans %}{{location.article()}} {{body.municipality_with_biggest_wage_avg}}.</p>
        {% else %}
            <p>{% trans %}A ocupação de {% endtrans %}{{occupation.name()}} 
            {% trans %}emprega {% endtrans %}{{header.total_employment}} 
            {% trans %}profissionais no município {% endtrans %}{{location.preposition('de')}} {{location.name()}}, 
            {% trans %}ocupando o {% endtrans %}{{header.ranking}}&ordm 
            {% trans %}lugar em seu ranking de ocupações. A renda mensal média dos trabalhadores dessa ocupação nesta localidade é de {% endtrans %}{{header.average_monthly_income}} 
            {% trans %}reais e a idade média dos empregados é de {% endtrans %}{{header.age_avg | max_digits(3)}} ({{header.year}}).</p>
        {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            <h3>{% trans %}International Trade{% endtrans %}</h3>
            <div class="table-responsive">
                <table class="table data-detail">
                    <tbody>
                        {% if body.is_not_municipality %}
                        <tr>
                            <th>
                               {% trans %}Main employer Municipality{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{body.municipality_with_more_jobs}}</p>
                                USD <strong class="counter">{{body.municipality_with_more_jobs_value | max_digits(3) }}</strong> <span>{{body.municipality_with_more_jobs_value | magnitude}} {% trans %}Jobs{% endtrans %}</span>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>
                                {% trans %}Main employer activity{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{body.activity_with_more_jobs}}</p>
                                USD <strong class="counter">{{body.activity_with_more_jobs_value | max_digits(3)}}</strong> <span>{{body.activity_with_more_jobs_value | magnitude}} {% trans %}Jobs{% endtrans %}</span>
                            </td>
                        </tr>
                        {% if body.is_not_municipality %}
                        <tr>
                            <th>
                                {% trans %}Municipality with highest monthly average income{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{body.municipality_with_biggest_wage_avg}}</p>
                                USD <strong class="counter">{{body.municipality_with_biggest_wage_avg_value | max_digits(3)}}</strong> <span>{{body.municipality_with_biggest_wage_avg_value | magnitude}}</span>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>
                                {% trans %}Activity with highest monthly average income{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{body.activity_with_biggest_wage_avg}}</p>
                                USD <strong class="counter">{{body.activity_with_biggest_wage_avg_value | max_digits(3)}}</strong> <span>{{body.activity_with_biggest_wage_avg_value | magnitude}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="#wages" aria-controls="wages" role="tab" data-toggle="tab" class="pull-right btn btn-primary btn-xs m-r-lg">
                {% trans %}More details{% endtrans %}
            </a>
        </div>
    </div>
</div>