<div role="tabpanel" class="tab-pane" id="wages">
    <h2>{% trans %}Wages and Jobs{% endtrans %}</h2>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            {% if body.is_not_municipality %}
                            <th>
                                {% trans %}Main{% endtrans %}
                                <small>{% trans %}Employer Municipality{% endtrans %}</small>
                            </th>
                            {% endif %}
                            <th>
                                {% trans %}Main{% endtrans %}
                                <small>{% trans %}Employer Activity{% endtrans %}</small>
                            </th>
                            {% if body.is_not_municipality %}
                            <th>
                                {% trans %}Municipality with Highest{% endtrans %}
                                <small>{% trans %}Monthly Average Income{% endtrans %}</small>
                            </th>
                            {% endif %}
                            <th>
                                {% trans %}Activity with Highest{% endtrans %}
                                <small>{% trans %}Monthly Average Income{% endtrans %}</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if body.is_not_municipality %}
                            <td>
                                <p class="label">{{ body.municipality_with_more_jobs }}</p>
                                <div class="number">
                                    <strong class="counter">{{ body.municipality_with_more_jobs_value | max_digits(3) }}</strong><span>{{ body.municipality_with_more_jobs_value | magnitude }}</span>
                                </div>
                            </td>
                            {% endif %}
                            <td>
                                <p class="label">{{ body.activity_with_more_jobs }}</p>
                                <div class="number">
                                    <strong class="counter">{{ body.activity_with_more_jobs_value | max_digits(3) }}</strong><span>{{ body.activity_with_more_jobs_value | magnitude }}</span>
                                </div>
                            </td>
                            {% if body.is_not_municipality %}
                            <td>
                                <p class="label">{{ body.municipality_with_biggest_wage_avg }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.municipality_with_biggest_wage_avg_value | max_digits(3) }}</strong><span>{{ body.municipality_with_biggest_wage_avg_value | magnitude }}</span>
                                </div>
                            </td>
                            {% endif %}
                            <td>
                                <p class="label">{{ body.activity_with_biggest_wage_avg }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.activity_with_biggest_wage_avg_value | max_digits(3) }}</strong><span>{{ body.activity_with_biggest_wage_avg_value | magnitude }}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>