<div role="tabpanel" class="tab-pane active" id="general">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">Renda Média Mensal</h2>
                        <div class="number">
                            R$ <strong class="counter">{{header.average_monthly_income | max_digits(3)}}</strong><br/>
                            <small class="magnitude">{{header.average_monthly_income | magnitude}}</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">Massa Salarial</h2>
                        <div class="number">
                            R$ <strong class="counter">{{header.salary_mass | max_digits(3)}}</strong><br/>
                            <small class="magnitude">{{header.salary_mass | magnitude}}</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">Total de Empregos</h2>
                        <div class="number">
                            <strong class="counter">{{header.total_employment | max_digits(3)}}</strong><br/>
                            <small class="magnitude">{{header.total_employment | magnitude}}</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">Total de Estabelecimentos</h2>
                        <div class="number">
                            <strong class="counter">{{header.total_establishments | max_digits(3)}}</strong><br/>
                            <small class="magnitude">{{header.total_establishments | magnitude}}</small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="m-t-sm col-xs-12 year">
        Ano: {{ header.year }}
    </div>

    <h2 class="m-t-xl">Perfil Geral</h2>
    {% if not location.id %}
        <p>A ocupação {{occupation.name()}} emprega {{header.total_employment}} profissionais, ocupando o {{header.ranking}}&ordm lugar no ranking de ocupações no Brasil. O município brasileiro que mais emprega nessa ocupação é {{body.municipality_with_more_jobs}} e a atividade de {{body.activity_with_more_jobs}} é a que mais possui {{occupation.name()}}. A renda mensal média é de {{header.average_monthly_income}} e a idade média dos empregados é de {{header.age_avg | max_digits(3)}} ({{header.year}}).</p>
    {% else %}
        {% if location.id|length == 1 %}
            <p>A ocupação de {{occupation.name()}} emprega {{header.total_employment}} profissionais na região {{location.name()}}, ocupando o {{header.ranking}}&ordm lugar no ranking de ocupações da região. A renda mensal média dos trabalhadores dessa ocupação na região {{location.name()}} é de {{header.average_monthly_income}} reais e a idade média dos empregados é de {{header.age_avg | max_digits(3)}} ({{header.year}}). O município que mais emprega nessa ocupação é {{location.article()}} {{body.municipality_with_biggest_wage_avg}}.</p>
        {% elif location.id|length == 3 %}
            <p>A ocupação de {{occupation.name()}} emprega {{header.total_employment}} profissionais {{location.preposition('em')}} {{location.name()}} ocupando o {{header.ranking}}&ordm lugar no ranking de ocupações do estado. A renda mensal média dos trabalhadores dessa ocupação no estado é de {{header.average_monthly_income}} reais e a idade média dos empregados é de {{header.age_avg | max_digits(3)}} ({{header.year}}). O município que mais emprega nessa ocupação é {{location.article()}} {{body.municipality_with_biggest_wage_avg}}.</p>
        {% elif location.id|length == 5 %}
            <p>A ocupação de {{occupation.name()}} emprega {{header.total_employment}} profissionais na mesorrregião {{location.preposition('de')}} {{location.name()}}, ocupando o {{header.ranking}}&ordm lugar em seu ranking de ocupações. A renda mensal média dos trabalhadores dessa ocupação nesta localidade é de {{header.average_monthly_income}} reais e a idade média dos empregados é de {{header.age_avg | max_digits(3)}} ({{header.year}}). O município que mais emprega nessa ocupação é {{location.article()}} {{body.municipality_with_biggest_wage_avg}}.</p>
        {% elif location.id|length == 7 %}
            <p>A ocupação de {{occupation.name()}} emprega {{header.total_employment}} profissionais na microrregião {{location.preposition('de')}} {{location.name()}}, ocupando o {{header.ranking}}&ordm lugar em seu ranking de ocupações. A renda mensal média dos trabalhadores dessa ocupação nesta localidade é de {{header.average_monthly_income}} reais e a idade média dos empregados é de {{header.age_avg | max_digits(3)}} ({{header.year}}). O município que mais emprega nessa ocupação é {{location.article()}} {{body.municipality_with_biggest_wage_avg}}.</p>
        {% else %}
            <p>A ocupação de {{occupation.name()}} emprega {{header.total_employment}} profissionais no município {{location.preposition('de')}} {{location.name()}}, ocupando o {{header.ranking}}&ordm lugar em seu ranking de ocupações. A renda mensal média dos trabalhadores dessa ocupação nesta localidade é de {{header.average_monthly_income}} reais e a idade média dos empregados é de {{header.age_avg | max_digits(3)}} ({{header.year}}).</p>
        {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            <h3>Comércio Internacional</h3>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        {% if body.is_not_municipality %}
                        <tr>
                            <th>
                               Principal Município por Empregos
                            </th>
                            <td>
                                <p class="label">{{body.municipality_with_more_jobs}}</p>
                                USD <strong class="counter">{{body.municipality_with_more_jobs_value | max_digits(3) }}</strong> <span>{{body.municipality_with_more_jobs_value | magnitude}} empregos</span>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>
                                Principal Atividade por Empregos
                            </th>
                            <td>
                                <p class="label">{{body.activity_with_more_jobs}}</p>
                                USD <strong class="counter">{{body.activity_with_more_jobs_value | max_digits(3)}}</strong> <span>{{body.activity_with_more_jobs_value | magnitude}} empregos</span>
                            </td>
                        </tr>
                        {% if body.is_not_municipality %}
                        <tr>
                            <th>
                                Município com maior renda média mensal
                            </th>
                            <td>
                                <p class="label">{{body.municipality_with_biggest_wage_avg}}</p>
                                USD <strong class="counter">{{body.municipality_with_biggest_wage_avg_value | max_digits(3)}}</strong> <span>{{body.municipality_with_biggest_wage_avg_value | magnitude}}</span>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>
                                Atividade com maior renda média mensal
                            </th>
                            <td>
                                <p class="label">{{body.activity_with_biggest_wage_avg}}</p>
                                USD <strong class="counter">{{body.activity_with_biggest_wage_avg_value | max_digits(3)}}</strong> <span>{{body.activity_with_biggest_wage_avg_value | magnitude}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="#wages" aria-controls="wages" role="tab" data-toggle="tab" class="pull-right btn btn-primary btn-xs m-r-lg">
                mais detalhes
            </a>
        </div>
    </div>
</div>