<div role="tabpanel" class="tab-pane" id="opportunities">
    <h2>Oportunidades Econômicas</h2>
    <a href="/pt/embed/network/rais/{{ location.id if location else 'all' }}/all/all/cnae/?color=color&size=wage&spotlight=true"
        target="frame-tab-opportunities">Ocupações Similares</a></br>

</div>


<iframe name="frame-tab-opportunities" id="frame-tab-opportunities" width='684' height='350' src='/pt/embed/network/rais/{{ location.id if location else 'all' }}/all/all/cnae/?color=color&size=wage&spotlight=true' frameborder='0'></iframe>

