<div role="tabpanel" class="tab-pane" id="wages">
    <h2>Estatísticas de Salário e Emprego</h2>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            {% if body.is_not_municipality %}
                            <th>
                                Principal Município
                                <small>por Valor Total Exportado</small>
                            </th>
                            {% endif %}
                            <th>
                                Principal Atividade
                                <small>por Empregos</small>
                            </th>
                            {% if body.is_not_municipality %}
                            <th>
                                Município
                                <small>com maior renda média mensal</small>
                            </th>
                            {% endif %}
                            <th>
                                Atividade
                                <small>com maior renda média mensal</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if body.is_not_municipality %}
                            <td>
                                <p class="label">{{ body.municipality_with_more_jobs }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.municipality_with_more_jobs_value | max_digits(3) }}</strong><span>{{ body.municipality_with_more_jobs_value | magnitude }} EMPREGOS</span>
                                </div>
                            </td>
                            {% endif %}
                            <td>
                                <p class="label">{{ body.activity_with_more_jobs }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.activity_with_more_jobs_value | max_digits(3) }}</strong><span>{{ body.activity_with_more_jobs_value | magnitude }}</span>
                                </div>
                            </td>
                            {% if body.is_not_municipality %}
                            <td>
                                <p class="label">{{ body.municipality_with_biggest_wage_avg }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.municipality_with_biggest_wage_avg_value | max_digits(3) }}</strong><span>{{ body.municipality_with_biggest_wage_avg_value | magnitude }}</span>
                                </div>
                            </td>
                            {% endif %}
                            <td>
                                <p class="label">{{ body.activity_with_biggest_wage_avg }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.activity_with_biggest_wage_avg_value | max_digits(3) }}</strong><span>{{ body.activity_with_biggest_wage_avg_value | magnitude }}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<a href="" target="frame-tab-salario-emprego">Emprego por</a> </br>

    <a href="" target="frame-tab-salario-emprego">&nbsp Atividade Econômica :</a>

        <a href="/pt/embed/tree_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/cnae/?color=color&depth=cnae_6&size=num_jobs" target="frame-tab-salario-emprego">&nbsp TreeMap</a>

        <a href="/pt/embed/stacked/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/cnae/?sort=asc&layout=value&y=num_jobs&order=color" target="frame-tab-salario-emprego">&nbsp Evoluçāo</a></br>

    <a href="" target="frame-tab-salario-emprego">&nbsp Municípios : </a>

        <a href="/pt/embed/tree_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/bra/?color=color&depth=bra_9&size=num_jobs" target="frame-tab-salario-emprego">&nbsp TreeMap</a>

        <a href="/pt/embed/geo_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/bra/?color=num_jobs" target="frame-tab-salario-emprego">&nbsp Mapa</a>

        <a href="/pt/embed/stacked/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/bra/?sort=asc&layout=value&y=num_jobs&order=color" target="frame-tab-salario-emprego">&nbsp Evoluçāo</a> </br>

<a href="" target="frame-tab-salario-emprego">Salário por</a> </br>

    <a href="" target="frame-tab-salario-emprego">&nbsp Atividade Econômica : </a>

        <a href="/pt/embed/tree_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/cnae/?color=color&depth=cnae_6&size=wage" target="frame-tab-salario-emprego">&nbsp TreeMap</a>

        <a href="/pt/embed/stacked/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/cnae/?sort=asc&layout=value&y=wage&order=color" target="frame-tab-salario-emprego">&nbsp Evoluçāo</a></br>


    <a href="" target="frame-tab-salario-emprego">&nbsp Municípios : </a>

        <a href="/pt/embed/tree_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/bra/?color=color&depth=bra_9&size=wage" target="frame-tab-salario-emprego">&nbsp TreeMap</a>

        <a href="/pt/embed/geo_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/bra/?color=wage" target="frame-tab-salario-emprego">&nbsp Mapa</a>

        <a href="/pt/embed/stacked/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/bra/?sort=asc&layout=value&y=wage&order=color" target="frame-tab-salario-emprego">&nbsp Evoluçāo</a></br>

    <a href="/pt/embed/bar/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/cbo/?" target="frame-tab-salario-emprego">&nbsp Distribuiçāo</a></br>

</div>

<iframe name="frame-tab-salario-emprego" id="frame-tab-salario-emprego" width='684' height='350' src='/pt/embed/tree_map/rais/{{ location.id if location else 'all' }}/all/{{occupation.id}}/cnae/?color=color&depth=cnae_6&size=num_jobs' frameborder='0'></iframe>