<h2>Escolha um curso da lista abaixo ou busque pelo nome</h2>
<form action="" class="form-dataviva form-inline filter">
    
    <div class="btn-group nav nav-tabs" role="tablist">
        <a href="#fields" aria-controls="fields" role="tab" data-toggle="tab" class="btn btn-default" ng-click="selector_model.load_depth_entries(selector_model.fields)">
        Campos
        </a>
        <a href="#courses" aria-controls="courses" role="tab" data-toggle="tab" class="btn btn-default" ng-click="selector_model.load_depth_entries(selector_model.courses)">
        Cursos
        </a>
    </div>
    
    <div class="search-items tab-content">
        <!-- TAB: fields -->
        <div role="tabpanel" class="tab-pane active" id="fields">
            <div class="form-group search">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text"
                        name="fields_filter"
                        class="form-control"
                        ng-model="selector_model.fields.filter_string"
                        ng-trim="true"
                        autocomplete="false"
                        placeholder="Busque pelo nome ou pelo No. Couse SC" />
                </div>
            </div>

            <div class="selector-list">
                <div class="loading" ng-show="selector_model.loading"></div>
                <div ng-repeat="prd in selector_model.fields.entries|filter:selector_model.fields.filter_string" 
                    class="selector-list-item" 
                    ng-class="{'selected': prd.id == selector_model.selected_entry }"
                    ng-click="selector_model.select(prd.id, $event)">
                    <div class="selector-icon">
                        <i class="dv-course-sc-{$ prd.id $}"></i>
                    </div>
                    <div class="item-title">
                        {$ prd.name $}
                        <div class="pull-right">Course SC: {$ prd.id $}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TAB: courses -->
        <div role="tabpanel" class="tab-pane search-items" id="courses">
            <div class="form-group">
                <i class="fa fa-search"></i>
                <input type="text"
                name="courses_filter"
                class="busca form-control"
                ng-model="selector_model.courses.filter_string"
                ng-trim="true"
                autocomplete="false" />
            </div>
            
            <div class="list-group list-stripped selector-list col-md-15">
                <div class="loading" ng-show="selector_model.loading"></div>
                <div ng-repeat="prd in selector_model.courses.entries | filter:selector_model.courses.filter_string"
                     ng-class="{'selected': prd.id == selector_model.selected_entry }"
                     class="list-group-item col-md-15">
                        <div class="col-md-1 hidden-xs hidden-sm">
                            <img src="{$ prd.icon $}" class="flag-icon symbol"/>
                        </div>
                        <div class="col-md-10">
                            {$ prd.name $}
                        </div>
                    <div class="col-md-3">
                        <div class="btn btn-default" 
                             ng-click="selector_model.select(prd.id, $event)">Select</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</form>