<div class="institucional search">
    <h2>Escolha um curso da lista abaixo ou busque pelo nome</h2>
    <form class="form-dataviva form-inline filter">
        
        <ul class="btn-group nav nav-tabs" role="tablist">
            <li><a href="#fields" aria-controls="fields" role="tab" data-toggle="tab" class="btn btn-default" ng-click="selector_model.load_depth_entries(selector_model.fields)">
            Universities
            </a></li>
        </ul>
        
        <div class="search-items tab-content">
            <!-- TAB: Universities -->
            <div role="tabpanel" class="tab-pane search-items" id="universities">
                <div class="form-group">
                    <i class="fa fa-search"></i>
                    <input type="text"
                    name="universities_filter"
                    class="busca form-control"
                    ng-model="selector_model.universities.filter_string"
                    ng-trim="true"
                    autocomplete="false" />
                </div>
                
                <div class="list-group list-stripped selector-list col-md-15">
                    <div class="loading" ng-show="selector_model.loading"></div>
                    <div ng-repeat="un in selector_model.universities.entries | filter:selector_model.universities.filter_string"
                         ng-class="{'selected': un.id == selector_model.selected_entry }"
                         class="list-group-item col-md-15">
                            <div class="col-md-1 hidden-xs hidden-sm">
                                <img src="{$ un.icon $}" class="flag-icon symbol"/>
                            </div>
                            <div class="col-md-10">
                                {$ un.name $}
                            </div>
                        <div class="col-md-3">
                            <div class="btn btn-default" 
                                 ng-click="selector_model.select(un.id, $event)">Select</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </form>
</div>