{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('general.home') }}">Home</a></li>
            {% block breadcrumb %}{% endblock %}
        </ol>
    </div>
</div>

<div class="container">
    <nav class="sidebar col-md-3">
        <h3>{% trans %}Topics{% endtrans %}</h3>
        <ul class="sub-menu">
            <li><a href="{{ url_for('blog.index') }}" title="Todos" class="{{ 'active' if not request.args.get('subject') }}">{% trans %}All{% endtrans %}</a></li>
            {% for subject in subjects %}
                <li><a href="{{ url_for('blog.index', subject=subject.id) }}" title="{{ subject.name }}" class="{{ 'active' if subject.id == request.args.get('subject')|int }}">{{ subject.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <section id="blog" class="col-md-9">
        <h1>Blog</h1>
        {% block blog_content %}
        {% endblock blog_content %}
    </section>
</div>
{% endblock content %}
