{% macro messages(input) -%}
    {% for message in input.errors %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{%- endmacro %}

<form id="blog-form" method="POST" action="{{ action }}" enctype="multipart/form-data">

    {{ form.hidden_tag() }}
    <div class="form-group">
        <label class="control-label" for="title">Título</label>
        <div class="">
            {{ form.title(class="form-control", maxlength=400)}}
        </div>
        {{ messages(form.title) }}
    </div>
    <div class="form-group">
        <label class="control-label" for="authors">Autor</label>
        <div class="">
            {{ form.authors(class="form-control", maxlength=100)}}
        </div>
        {{ messages(form.authors) }}
    </div>
    <div class="form-group">
        <label class="control-label" for="subject">Categoria</label>
        <div class="">
            {{ form.subject(class="form-control")}}
        </div>
        {{ messages(form.subject) }}
    </div>
    <div class="form-group">
        <label class="control-label" for="thumb-input">Imagem da Chamada</label>
        <div class="thumb">
            <div class="thumb-controls col-md-4">
                <div id="thumb-preview" class="crop-preview"></div>
                <img id="thumb-img" src="{{ form.thumb.data if form.thumb.data else 'http://placehold.it/350x227?text=Insira+uma+imagem'}}">
                {{ form.thumb }}
                <div class="thumb-buttons">
                    <label title="Upload image file" for="thumb-input" class="btn btn-primary m-t-sm">
                        <input type="file" accept="image/*" name="file" id="thumb-input" class="hide">
                        <i class="fa fa-upload m-r-sm"></i>Nova Imagem
                    </label>
                </div>
                <div class="crop-buttons">
                    <div class="btn-group m-t-sm">
                        <button class="btn btn-white" id="thumb-zoomIn" type="button"><i class="fa fa-search-plus"></i></button>
                        <button class="btn btn-white" id="thumb-zoomOut" type="button"><i class="fa fa-search-minus"></i></button>
                        <button class="btn btn-white" id="thumb-rotateRight" type="button"><i class="fa fa-undo"></i></button>
                        <button class="btn btn-white" id="thumb-rotateLeft" type="button"><i class="fa fa-repeat"></i></button>
                    </div>
                    <button id="thumb-save" class="btn btn-primary m-t-sm" type="button">Finalizar edição</button>
                </div>
            </div>
            <div class="thumb-crop col-md-8">
                <img id="thumb-crop" src="" class="img-responsive">
            </div>
        </div>
        {{ messages(form.thumb) }}
    </div>
    <div class="clearfix"></div>
    <div class="form-group m-t-sm">
        <label class="control-label" for="text_call">Chamada</label>
        <div class="">
            {{ form.text_call(class="form-control", rows=5, maxlength=500)}}
        </div>
        <div id="textarea-feedback"></div>
        {{ messages(form.text_call) }}
    </div>

    <div class="form-group">
        <label class="control-label" for="text_content">Conteúdo</label>
        <button id="blog-edit" class="btn btn-xs btn-white" type="button"><i class="fa fa-pencil m-r-sm"></i>Editar</button>
        <button id="blog-preview" class="btn btn-xs btn-white" type="button"><i class="fa fa-eye m-r-sm"></i>Visualizar</button>
        {{ messages(form.text_content) }}
        {{ form.text_content }}
        <div class=" summernote-wrapper">
            <div id="text-content-editor" class="summernote"></div>
        </div>
    </div>




    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-share-square-o m-r-sm"></i>Enviar</button>
</form>
