<form action="" class="form-dataviva">
    <p>
        <label for="field-titulo">Titulo</label>
        <input id="field-titulo" type="text" class="form-control" />
    </p>
    <p>
        <label for="field-arquivo">
            Formato<br />
            <small>Aceitamos artigos em formato PDF.</small>
        </label>
        <input id="field-arquivo" type="file" />
    </p>
    <p>
        <label for="field-descricao">Descrição</label>
        <textarea id="field-descricao" rows="5" class="form-control"></textarea>
    </p>
    <button type="button" class="btn btn-default btn-dataviva pull-right">Enviar</button>
</form>
