{% extends "admin.html" %}

{% block breadcrumb %}
    <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
    <li class="active">Blog</li>
{% endblock %}

{% block admin_content %}
<h2>Estudos sobre o DataViva</h2>
<h3>Aprovação dos estudos</h3>
<div class="meta">

    <div class="alert alert-warning">
        How quickly daft jumping zebras vex. <a class="alert-link" href="#">Alert Link</a>.
    </div>
    <table id="approvalTable" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="column-checkbox">
                    <div class="checkbox checkbox-success">
                        <input name="postselector" id="check-all" type="checkbox">
                        <label for="check-all"></label>
                    </div>
                </th>
                <th>Title</th>
                <th>Author(s)</th>
                <th>Publication Date</th>
                <th>Active</th>
            </tr>
        </thead>
    </table>
</div>
<a class="btn btn-primary pull-right" href="/blog">Voltar</a>
<a class="btn btn-primary pull-right" href="#">Excluir</a>
<a class="btn btn-primary pull-right" href="#">Editar</a>
<a class="btn btn-primary pull-right" href="/blog/post/new">Novo</a>

{% endblock admin_content %}