{% extends "blog/_base.html" %}

{% block breadcrumb %}
    <li class="active">Blog</li>
{% endblock %}

{% block blog_content %}
    <div class="post-list">
        {% for post in posts %}
            <div class="item post">
                <div class="thumbnail">
                    <a href="{{url_for('blog.show', id=post.id)}}" title="{{post.title}}">
                        <img src="{{post.thumb}}" class="thumbnail img-responsive">
                    </a>
                    <span>{{post.subjects[0].name}}</span>
                </div>
                <h4>
                    {% if post.dual_language and g.locale == "en" %}
                        <a href="{{url_for('blog.show', id=post.id)}}" title="{{post.title_en}}">{{post.title_en}}</a>
                    {% else %}
                        <a href="{{url_for('blog.show', id=post.id)}}" title="{{post.title}}">{{post.title}}</a>
                    {% endif %}
                </h4>
                <p>{{ post.text_call }}</p>
                <div class="meta">
                    <p><a href="{{url_for('blog.show', id=post.id)}}" title="{{post.title}}">{% trans %}Continue reading{% endtrans %}</a></p>
                    <p class="data">{% trans %}By{% endtrans %} {{ post.author }} {{ post.date_str() }}</p>
                </div>
            </div>
            <div class="clearfix"></div>
        {% endfor %}
    </div>
{% endblock blog_content %}
