<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('general.home') }}">Home</a></li>
        <li class="active"><span>Blog<span></li>
    </ol>
    <div class="row">
        <div class="sidebar col-xs-15 col-md-4">
            <h4>Assuntos</h4>
            <ul class="sub-menu">
                <li><a href="#" title="Todos"><strong>Todos</strong></a></li>
                <li><a href="#" title="Visualizações">Visualizações</a></li>
                <li><a href="#" title="Tecnologia da Informação">Tecnologia da Informação</a></li>
                <li><a href="#" title="Economia">Economia</a></li>
                <li><a href="#" title="Matemática">Matemática</a></li>
                <li><a href="#" title="Estatística">Estatística</a></li>
                <li><a href="#" title="Design">Design</a></li>
                <li><a href="#" title="Políticas Públicas">Políticas Públicas</a></li>
            </ul>
        </div>
        <div class="main-content col-xs-15 col-md-11">
            <div class="institucional search">
                <h2>Blog</h2>
                <div class="tit-img">
                    <a href="20-blog-detalhe.html">
                        <img src="http://placehold.it/1000x300" class="img-responsive" />
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                    </a>
                </div>
                <div class="articles">
                    <div class="item post">
                        <div class="thumbnail">
                            <a href="20-blog-detalhe.html" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
                                <img src="http://placehold.it/350x227?text=thumb" class="img-responsive">
                            </a>
                            <span>Categoria</span>
                        </div>
                        <h4>
                            <a href="20-blog-detalhe.html" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                        </h4>
                        <p>Professores, gestores escolares e equipes de secretarias de educação podem participar do programa de formação da Fundação Lemann e Elos Educacional para promover o aprendizado efetivo dos alunos. Os cursos “Gestão para Aprendizagem...</p>
                        <div class="meta">
                            <p class="read-more"><a href="20-blog-detalhe.html" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Continue lendo</a></p>
                            <p class="data">Por Kleiton Reis 26 de Outubro de 2015</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="item post">
                        <div class="thumbnail">
                            <a href="20-blog-detalhe.html" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
                                <img src="http://placehold.it/350x227?text=thumb" class="img-responsive">
                            </a>
                            <span>Categoria</span>
                        </div>
                        <h4>
                            <a href="20-blog-detalhe.html" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                        </h4>
                        <p>Professores, gestores escolares e equipes de secretarias de educação podem participar do programa de formação da Fundação Lemann e Elos Educacional para promover o aprendizado efetivo dos alunos. Os cursos “Gestão para Aprendizagem...</p>
                        <div class="meta">
                            <p class="read-more"><a href="20-blog-detalhe.html" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Continue lendo</a></p>
                            <p class="data">Por Kleiton Reis 26 de Outubro de 2015</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="item post">
                        <div class="thumbnail">
                            <a href="20-blog-detalhe.html" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
                                <img src="http://placehold.it/350x227?text=thumb" class="img-responsive">
                            </a>
                            <span>Categoria</span>
                        </div>
                        <h4>
                            <a href="20-blog-detalhe.html" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                        </h4>
                        <p>Professores, gestores escolares e equipes de secretarias de educação podem participar do programa de formação da Fundação Lemann e Elos Educacional para promover o aprendizado efetivo dos alunos. Os cursos “Gestão para Aprendizagem...</p>
                        <div class="meta">
                            <p class="read-more"><a href="20-blog-detalhe.html" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Continue lendo</a></p>
                            <p class="data">Por Kleiton Reis 26 de Outubro de 2015</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="item post">
                        <div class="thumbnail">
                            <a href="20-blog-detalhe.html" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
                                <img src="http://placehold.it/350x227?text=thumb" class="img-responsive">
                            </a>
                            <span>Categoria</span>
                        </div>
                        <h4>
                            <a href="20-blog-detalhe.html" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                        </h4>
                        <p>Professores, gestores escolares e equipes de secretarias de educação podem participar do programa de formação da Fundação Lemann e Elos Educacional para promover o aprendizado efetivo dos alunos. Os cursos “Gestão para Aprendizagem...</p>
                        <div class="meta">
                            <p class="read-more"><a href="20-blog-detalhe.html" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Continue lendo</a></p>
                            <p class="data">Por Kleiton Reis 26 de Outubro de 2015</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
