{% extends "blog/_base.html" %}

{% block blog_content %}
<div class="institucional search">
    <h2>Notícias</h2>
    <div class="articles">
        <div class="item post single">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
            <div class="meta">
                <p class="data">Por Kleiton Reis 26 de Outubro de 2015</p>
            </div>
            <ul class="social">
                <li>
                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                </li>
                <li>
                    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://www.twitter.com" data-lang="pt">Tweetar</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </li>
                <li>
                    <script src="https://apis.google.com/js/platform.js" async defer></script>
                    <g:plusone size="medium"></g:plusone>
                </li>
            </ul>
            <div class="tit-img">
                <img src="http://placehold.it/1000x300" class="img-responsive" />
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
            </div>
            <p>Professores, gestores escolares e equipes de secretarias de educação podem participar do programa de formação da Fundação Lemann e Elos Educacional para promover o aprendizado efetivo dos alunos. Os cursos “Gestão para Aprendizagem” e “Gestão de Sala de Aula” estão com inscrições abertas até o dia 19 de novembro. As atividades devem iniciar em março de 2016.</p>
            <p>O curso “Gestão de Sala de Aula” é aberto para professores e gestores escolares e o curso “Gestão para Aprendizagem” é voltado apenas para os gestores das escolas.</p>
            <blockquote>Este ano, as secretarias de educação também poderão se inscrever nos cursos para implementar ações de impacto que envolvam todos os gestores de instituições de educação básica para melhorar o ambiente escolar, a gestão da sala de aula e o aprendizado dos alunos.</blockquote>
            <p>Neste artigo, você verá sobre:</p>
            <ul>
                <li>Curso “Gestão de Sala de Aula” para professores;</li>
                <li>Curso “Gestão de Sala de Aula” para gestores;</li>
                <li>Curso “Gestão para Aprendizagem” para gestores;</li>
                <li>Como inscrever toda a secretaria de educação.</li>
            </ul>
            <p><big>Professores</big></p>
            <p>Para os docentes será oferecido o curso “Gestão de Sala de Aula”. O curso tem o objetivo de incentivar uma cultura escolar de planejamento e observação da sala de aula, altas expectativas de aprendizagem e um melhor uso do tempo. Conheça mais sobre o curso no vídeo abaixo.</p>
        </div>
        <div class="clearfix"></div>
        <div class="related">
            <h4>Veja Também</h4>
            <div class="row">
                <div class="col-xs-15 col-sm-6 col-md-5">
                    <a href="#" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
                        <img src="http://placehold.it/350x227?text=thumb" class="img-responsive">
                    </a>
                    <p>
                        <a href="#" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                    </p>
                </div>
                <div class="col-xs-15 col-sm-6 col-md-5">
                    <a href="#" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
                        <img src="http://placehold.it/350x227?text=thumb" class="img-responsive">
                    </a>
                    <p>
                        <a href="#" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                    </p>
                </div>
                <div class="col-xs-15 col-sm-6 col-md-5">
                    <a href="#" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
                        <img src="http://placehold.it/350x227?text=thumb" class="img-responsive">
                    </a>
                    <p>
                        <a href="#" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="comments">
            <h4>Comentário</h4>
            <div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="5" data-width="100%"></div>
        </div>
    </div>
</div>
{% endblock blog_content %}
