{% extends "blog/_base.html" %}

<!-- Facebook Properties -->
{% block facebook_metadata %}
    <meta property="og:image" content="http://dataviva.info/static/img/blog/blog_{{ post.id }}.png" />
    <meta property="og:url" content="{{ url_for('blog.show', id=post.id, _external=True, _scheme='http') }}" />
    <meta property="og:title" content="{{ post.title_pt }}" />
    <meta property="og:description" content="{{post.text_call_pt}}" />
    <meta property="og:type" content="article" />
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url_for('blog.index') }}">Blog</a></li>
    <li class="active">{% trans %}Visualize{% endtrans %}</li>
{% endblock %}

{% block blog_content %}
<div class="institucional search">
    <div class="articles">
        <div class="item post single">
            <h4>
                {% if post.dual_language and g.locale == "en" %}
                    {{ post.title_en|safe }}
                {% else %}
                    {{ post.title_pt|safe }}
                {% endif %}
            </h4>
            <div class="meta">
                <p class="data">{% trans %}By{% endtrans %} {{ post.author }} {{ post.date_str() }}</p>
            </div>
            <ul class="social">
                <li>
                    <div class="fb-like" data-href="https://dataviva.info/" data-width="280px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                </li>
                <li>
                    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://www.twitter.com" data-lang="pt">{% trans %}Tweet{% endtrans %}</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </li>
                <li>
                    <script src="https://apis.google.com/js/platform.js" async defer></script>
                    <g:plusone size="medium"></g:plusone>
                </li>
            </ul>
            {% if post.dual_language and g.locale == "en" %}
                {{ post.text_content_en|safe }}
            {% else %}
                {{ post.text_content_pt|safe }}
            {% endif %}
        </div>
        <div class="clearfix"></div>
        <div class="related">
            <h4>{% trans %}See also{% endtrans %}</h4>
            <div class="row">
                {% for post in read_more %}
                <div class="col-xs-12 col-sm-6 col-lg-4 {% if loop.last %} hidden-sm hidden-md {% endif %} read-more">
                    <a href="{{url_for('blog.show', id=post.id)}}" title="{{ post.title_pt }}">
                        <img src="{{post.thumb}}" class="img-responsive">
                    </a>
                    <p>
                        {% if post.dual_language and g.locale == "en" %}
                            <a href="#" title="{{ post.title_en }}">{{ post.title_en|safe }}</a>
                        {% else %}
                            <a href="#" title="{{ post.title_pt }}">{{ post.title_pt|safe }}</a>
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock blog_content %}
