{% extends "mail.html" %}

{% block mail_body %}

  {% trans %}Dear{% endtrans %} {{ user.fullname }},
  <br/><br/><br/>
  {% if status == "2" %}
  {% trans %}Thanks for using DataViva.{% endtrans %}
  <br/><br/>
  <a style="color:#333; text-decoration: underline" href="http://dataviva.info/about/contact/">{% trans %}Click here{% endtrans %}</a> {% trans %}to see your answer in the Contact Us section.{% endtrans %}
  {% elif status == "3" %}
  {% trans %}Thanks for using DataViva. We will consider your opinion in order to improve our tool.{% endtrans %}
  {% endif %}
  <br/><br/><br/>
  {% trans %}Best regards,{% endtrans %}<br/>
  <span style="color:#af1f24;">{% trans %}The DataViva Team{% endtrans %}</span><br/>
  <a style="color:#333333;" href="http://dataviva.info">dataviva.info</a>

{% endblock %}
