{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('general.home') }}">Home</a></li>
            <li class="active">Download de Banco de Dados</a></li>
        </ol>
    </div>
</div>
<section id="data">
    <div class="container">
        <nav class="sidebar col-md-3">
            <h3>Assuntos</h3>
            <ul class="sub-menu">
                <li><a href="{{ url_for('general.search') }}" title="Inicie uma pesquisa">Inicie uma pesquisa</a></li>
                <li><a href="{{ url_for('build_graph.index') }}" title="Construa gráficos">Construa gráficos</a></li>
            </ul>
        </nav>
         <div class="col-md-9 m-b-lg data-content">
            <h1>Download de banco de dados</h1>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="databases" class="control-label">Banco de Dados</label>
                    <select class="form-control" id="databases" name="databases">
                        <option id="database-empty-option">{%trans%}Select{%endtrans%}   </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label" data-toggle="popover" data-placement="right" data-content="Para começar selecione um Banco de Dados">{%trans%}Year{%endtrans%}</label>
                    <select class="form-control" name="year" disabled>
                        <option>{%trans%}Select{%endtrans%}</option>
                    </select>
                </div>
                <div id="monthly-detail" class="form-group col-md-4">
                    <label for="detailing" class="control-label">Detalhamento</label>
                    <select class="form-control" id="detailing">
                        <option value="">Anual</option>
                        <option value="monthly">Mensal</option>
                    </select>
                </div>
            </div>
            <h2>Filtros</h2>
            <div id="dimensions" class="row">
                <div class="form-group col-md-4">
                    <label class="control-label" data-toggle="popover" data-placement="right" data-content="Para começar selecione um Banco de Dados">{%trans%}Location{%endtrans%}</label>
                    <select class="form-control" disabled>
                        <option>{%trans%}Select{%endtrans%}</option>
                    </select>
                </div>
            </div>
            <a href="#" class="btn btn-primary pull-right" disabled>
                <i class="fa fa-download m-r-sm"></i> Download
            </a>
        </div>
    </div>
</section>
{% endblock content %}
