<!-- extend from about base layout -->
{% extends "templates/about.html" %}

{% block title %}: About :: Data{% endblock %}

{% block about_content %}
<h1>Data</h1>

<aside>
  <div class="about-tip">
    Our data comes from the Escritorio of Minas Gerais! 
    <div class="sabrina-tip prep_tip"></div>
  </div>
  <div class="about-tip">
    We have both RAIS and SECEX datasets available.
    <div class="sabrina-tip casual_tip"></div>
  </div>
</aside>

<p>Our data comes from data collected from the Escriotio of Minas Gerais. 
  Want to look up the ID of a specific product or country? All of our data 
  can be found here. </p>
{% endblock %}
