.selector div.selector {
  color: #333;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
}

/* Header Div */
.selector div.selector_header {
  display: block;
  min-height: 26px;
  padding: 12px;
}

.selector div.selector_header > div.selector_header_icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 50px;
  margin-bottom: 6px;
  width: 50px;
}

.selector div.selector_title_div {
  display: inline-block;
  margin: 6px 0px 6px 12px;
}

.selector div.selector_title {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
}

.selector div.selector_depth {
  margin-bottom: 6px;
  text-align: center;
}

.selector div.selector_toggles {
  display: inline-block;
  float: right;
}

.selector div.selector_toggles > div.leon.button {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selector div.selector_header > .leon.text {
  display: block;
  margin: 0px !important;
}

.selector div.selector_header input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.selector div.selector_title_div > div.breadcrumb {
  margin: 3px 0 0;
}

.selector .site_crumb {
  color: #888;
}

.selector .site_crumb i {
  float: left;
  margin: 2px 3px 0 0;
}

/* Body Div */

.selector div.selector_body {
  overflow-y: auto;
  padding: 0px 12px 12px 12px;
  height: 300px;
}

.selector div.selector_body > div.d3plus_tooltip_data_seperator {
  margin: 0px;
}

.selector .search_result {
  display: block;
  padding: 10px;
  position: relative;
}

.selector .search_header {
  color: #444;
  display: block;
  font-size: 18px;
  padding: 0 0 12px;
  position: relative;
  text-align: center;
}

.selector .search_error {
  color: #888;
  display: block;
  font-size: 14px;
  padding: 6px;
  position: relative;
  text-align: center;
}

.selector div#result_4mg {
  background-color: #eee;
}

.selector .search_result:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.selector .search_result > div.search_icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 34px;
  margin-right: 6px;
  width: 34px;
}

.selector .search_result > div.search_text {
  display: inline-block;
}

.selector div.search_text > div.search_title {
  display: inline;
  font-size: 16px;
  line-height: 1.1em;
  width: 370px;
}

.selector /*div.search_result:hover {
  cursor: pointer;
}

.selector div.search_result:hover div.search_title {
  text-decoration: underline;
}*/

.selector div.search_text > div.search_sub {
  color: #888;
  display: inline;
  line-height: 18px;
  margin-left: 6px;
}

.selector div.search_text > div.search_data {
  color: #999;
  font-size: 13px;
}

.selector .search_result > div.search_buttons {
  display: inline-block;
  float: right;
  text-align: right;
}

div.selector_toggles > div,
.selector div.search_buttons > div {
  display: inline-block;
  margin: 0px 0px 6px 6px;
}

.selector .selector_depth_links > a {
  color: #444;
  display: inline-block;
  margin-left: 5px;
  text-decoration: underline;
}

.selector .selector_depth_links > a:hover {
  color: #888;
  /*text-decoration: none;*/
}

.selector div.search_buttons > div.proximity_toggles {
  display: inline-block;
}

.selector .search_result > div.search_withins {
  color: #333;
  font-size: 10px;
}

.selector div.selector_close {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 20px;
  height: 18px;
  line-height: 14px;
  position: absolute;
  right: 16px;
  text-align: center;
  top: -10px;
  width: 18px;
  z-index: 10001;
}

.selector div.selector_close:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
