div#key {
  display: inline-block;
  margin: 0px auto 5px 0px;
  padding: 0px;
  white-space: nowrap;
}

div#key > div.leon.label {
  float: none;
  line-height: 23px;
  padding: 0px 3px;
  text-transform: uppercase;
}

div#key > div.key_icon_container {
  display: inline-block;
  height: 25px;
  width: 31px;
}

div#key > div.key_icon_container > div.key_icon {
  cursor: pointer;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 25px;
  margin: 0px 3px;
  width: 25px;
}

div#key > div.leon.button.square {
  margin: 0px 3px;
}

div.filter_buttons {
  text-align: center;
}