<div id="graphs-international-trade" class="container">
    <nav class="nav-graph col-xs-12 col-md-3" >
        <h3>{%trans%}Preview{%endtrans%}:</h3>
        <div class="list-group panel">
            <h4>{% trans %}Trade Balance{% endtrans %}</h4>
            <a href="#trade-balance-partner" class="list-group-item" data-toggle="collapse" data-parent="#trade-balance-partner">{% trans %}Trade Partner{% endtrans %}</a>
            <div class="collapse" id="trade-balance-partner">
                <a href="/{{ g.locale }}/embed/line/secex/{{ location.id if location else 'all' }}/all/{{ trade_partner.id }}/balance/?scale=linear&time=year&depth=direction"
                   target="graphs-frame-international-trade" class="list-group-item" data-parent="#trade-balance-partner">
                    {% trans %}Line{% endtrans %}
                </a>
            </div>
            <h4>{% trans %}Exports By{% endtrans %}</h4>
            <a href="#exports-municipality" class="list-group-item" data-toggle="collapse" data-parent="#exports-municipality">{% trans %}Product{% endtrans %}</a>
            <div class="collapse" id="exports-municipality">
                <a href="/{{ g.locale }}/embed/tree_map/secex/{{ location.id if location else 'all' }}/all/{{ trade_partner.id }}/hs/?color=color&depth=hs_6&size=export_val"
                   target="graphs-frame-international-trade" class="list-group-item" data-parent="#exports-municipality">
                    TreeMap
                </a>
                <a href="/{{ g.locale }}/embed/stacked/secex/{{ location.id if location else 'all' }}/all/{{ trade_partner.id }}/hs/?sort=asc&layout=value&color=color&time=year&y=export_val&order=color"
                   target="graphs-frame-international-trade" class="list-group-item" data-parent="#exports-municipality">
                    {% trans %}Stacked{% endtrans %}
               </a>
            </div>
            <a href="#exports-destination" class="list-group-item" data-toggle="collapse" data-parent="#exports-destination">{% trans %}Municipality{% endtrans %}</a>
            <div class="collapse" id="exports-destination">
                <a href="/{{ g.locale }}/embed/tree_map/secex/{{ location.id if location else 'all' }}/all/{{ trade_partner.id }}/bra/?color=color&depth=bra_9&year=2014&controls=true&size=export_val"
                   target="graphs-frame-international-trade" class="list-group-item" data-parent="#exports-destination">
                    TreeMap
                </a>
                <a href="/{{ g.locale }}/embed/stacked/secex/{{ location.id if location else 'all' }}/all/{{ trade_partner.id }}/bra/?sort=asc&layout=value&color=color&controls=true&time=year&y=export_val&order=color"
                   target="graphs-frame-international-trade" class="list-group-item" data-parent="#exports-destination">
                    {% trans %}Stacked{% endtrans %}
               </a>
                <a href="/{{ g.locale }}/embed/geo_map/secex/{{ location.id if location else 'all' }}/all/{{ trade_partner.id }}/bra/?color=export_val&controls=true&year=2013"
                   target="graphs-frame-international-trade" class="list-group-item" data-parent="#exports-destination">
                    {% trans %}Map{% endtrans %}
                </a>
            </div>
            <h4>{% trans %}Imports By{% endtrans %}</h4>
            <a href="#imports-municipality" class="list-group-item" data-toggle="collapse" data-parent="#imports-municipality">{% trans %}Product{% endtrans %}</a>
            <div class="collapse" id="imports-municipality">
                <a href="/{{ g.locale }}/embed/tree_map/secex/{{ location.id if location else 'all' }}/all/{{ trade_partner.id }}/hs/?color=color&depth=hs_6&size=import_val" 
                   target="graphs-frame-international-trade" class="list-group-item" data-parent="#imports-municipality">
                    TreeMap
                </a>
                <a href="/{{ g.locale }}/embed/stacked/secex/{{ location if location else 'all' }}/all/{{ trade_partner.id}}/hs/?sort=asc&layout=value&color=color&time=year&y=import_val&order=color"
                   target="graphs-frame-international-trade" class="list-group-item" data-parent="#imports-municipality">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div>
            <a href="#imports-origin" class="list-group-item" data-toggle="collapse" data-parent="#imports-origin">{% trans %}Municipality{% endtrans %}</a>
            <div class="collapse" id="imports-origin">
                <a href="/{{ g.locale }}/embed/tree_map/secex/{{ location.id if location else 'all' }}/all/{{ trade_partner.id }}/bra/?color=color&depth=bra_9&year=2014&controls=true&size=import_val"
                   target="graphs-frame-international-trade" class="list-group-item" data-parent="#imports-origin">
                    TreeMap
                </a>
                <a href="/{{ g.locale }}/embed/stacked/secex/{{ location.id if location else 'all' }}/all/{{ trade_partner.id }}/bra/?sort=asc&layout=value&color=color&controls=true&time=year&y=import_val&order=color"
                   target="graphs-frame-international-trade" class="list-group-item" data-parent="#imports-origin">
                    {% trans %}Stacked{% endtrans %}
               </a>
                <a href="/{{ g.locale }}/embed/geo_map/secex/{{ location.id if location else 'all' }}/all/{{ trade_partner.id }}/bra/?color=import_val&controls=true&year=2013"
                   target="graphs-frame-international-trade" class="list-group-item" data-parent="#imports-origin">
                    {% trans %}Map{% endtrans %}
                </a>
            </div>
    </div>
    </nav>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="/{{ g.locale }}/embed/line/secex/{{ location.id if location else 'all' }}/all/{{ trade_partner.id }}/balance/?scale=linear&time=year&depth=direction"
                name="graphs-frame-international-trade"
                id="graphs-frame-international-trade"
                class="embed-responsive-item" >
        </iframe>
    </div>
</div>


