 <!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<!-- BREADCRUMB -->
<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('general.home') }}">Home</a>
            </li>
            <li {{ 'class="active"' if not location else '' }}>
                <a href="#" title="Trocar" onclick="select_attr_search('wld');"> {{ trade_partner.name() }}</a>
            </li>
            {% if location %}
                <li class="active">
                    <a href="#" title="Trocar" onclick="select_attr_search('bra');"> {{ location.name() }}</a>
                </li>
            {% endif %}
        </ol>
    </div>
</div>
<!-- BREADCRUMB -->

<section id="header" class="header" style="background: url(https://dataviva.s3.amazonaws.com/img/trade_partner/trade_partner_{{ trade_partner.id if trade_partner.img_link else 'all' }}.jpg) no-repeat center center fixed; background-size: cover;">

  <div class="photo-credit">
    <div class="container">
      <a href="{{ trade_partner.img_link if trade_partner.img_link else 'https://flic.kr/p/jDw5wp' }}" target="blank">
      <i class="fa fa-camera"></i> {% trans %}picture by{% endtrans %} {{ trade_partner.img_author if trade_partner.img_link else 'Marcela Palma' }}</a>
    </div>
  </div>

    <div class="summary-box">
        <div class="container">

            <span class="portrait dv-wld-{{ trade_partner.id[0:2] }} hidden-xs"></span>
            <h1>
                {{ trade_partner.name() }} 
                {% if not location.id %}
                {% trans %}and{% endtrans %} {% trans %}Brazil{% endtrans %}
                {% else %}
                    {% if location.id | length <= 3 %}
                        {% trans %}and{% endtrans %} {{location.name()}}
                    {% else %}
                        {% trans %}and{% endtrans %} {{location.name()}} - {{ location.abbreviation }}
                    {% endif %}
                {% endif %}
                <div class="btn-group">
                  <button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    trocar <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" onclick="select_attr('wld');">{% trans %}Country{% endtrans %}</a></li>
                    <li><a href="#" onclick="select_attr_search('bra');">{% trans %}Location{% endtrans %}</a></li>
                  </ul>
                </div>
            </h1>
            <span class="clearfix"></span>

            <div class="indices">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Trade Balance{% endtrans %} ({{ header.year }})</h2>
                            <div class="number">
                                R$ <strong class="counter">{{ header.trade_balance | max_digits(3) }}</strong><br/>
                                <small class="magnitude">{{ header.trade_balance | magnitude  }}</small>
                            </div>
                        </div>
                    </div><!--/.col-->
                    {% if header.total_exported %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Total Value Exported{% endtrans %} ({{ header.year }})</h2>
                            <div class="number">
                                R$ <strong class="counter">{{ header.total_exported | max_digits(3) }}</strong><br/>
                                <small class="magnitude">{{ header.total_exported | magnitude }}</small>
                            </div>
                        </div>
                    </div><!--/.col-->
                    {% endif %}
                    {% if header.unity_weight_export_price %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Average Price Exported{% endtrans %} ({{ header.year }})</h2>
                            <div class="number">
                                <strong class="counter">{{ header.unity_weight_export_price | max_digits(3) }}</strong><br/>
                                <small class="magnitude">USD / kg</small>
                            </div>
                        </div>
                    </div><!--/.col-->
                    {% endif %}
                    {% if header.total_imported %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Total Value Imported{% endtrans %} ({{ header.year }})</h2>
                            <div class="number">
                                R$ <strong class="counter">{{ header.total_imported | max_digits(3) }}</strong><br/>
                                <small class="magnitude">{{ header.total_imported | magnitude }}</small>
                            </div>
                        </div>
                    </div><!--/.col-->
                    {% endif %}
                    {% if header.unity_weight_import_price %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Average Price Imported{% endtrans %} ({{ header.year }})</h2>
                            <div class="number">
                                <strong class="counter">{{ header.unity_weight_import_price | max_digits(3) }}</strong><br/>
                                <small class="magnitude">USD / kg</small>
                            </div>
                        </div>
                    </div><!--/.col-->
                    {% endif %}
                </div><!--/.row-->
            </div>
        </div>
    </div>
</section>

<section id="profile" class="profile">

    <nav class="col-xs-12">

        <div class="container">
            <ul class="nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a  href="#general"
                    aria-controls="general"
                    role="tab"
                    data-id="{{ trade_partner.id }}"
                    data-location="{{ location.id }}"
                    data-toggle="tab">{% trans %}General{% endtrans %}</a>
            </li>
            <li role="presentation">
                <a  href="#international-trade"
                    aria-controls="international-trade"
                    role="tab"
                    graph
                    data-id="{{ trade_partner.id }}"
                    data-location="{{ location.id }}"
                    data-toggle="tab">{% trans %}International Trade{% endtrans %}</a>
            </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <div class="tab-content col-xs-12">
            {% include "trade_partner/tab-general.html" %}
            {% include "trade_partner/tab-international-trade.html" %}
        </div>

    </div>
</section>

<section id="graphs" class="graphs bg-gray">
</section>

s
{% endblock content %}

