 <!-- extend from base layout -->
{% extends "base.html" %}

<!-- Facebook Properties -->
{% block facebook_metadata %}
    <meta property="og:image" content="{{ g.s3_host }}/img/trade_partner/trade_partner_{{ trade_partner.id if trade_partner.img_link else 'all' }}.jpg"/>
    <meta property="og:url" content="{{url_for('trade_partner.index', wld_id=trade_partner.id, tab=tab, _external=True, _scheme='http')}}{% if location.id %}{{ '?bra_id=' }}{{ location.id }}{{ '&menu=' if graph.menu }}{{ graph.menu }}{{ '&url=' if graph.url }}{{ graph.url }}{% elif graph.menu %}{{ '?menu=' if graph.menu }}{{ graph.menu }}{{ '&url=' if graph.url }}{{ graph.url }}{% endif %}"/>
    <meta property="og:title" content="DataViva: {{ trade_partner.name() }}{% if not location.id %} {% trans %}in Brazil{% endtrans %}{% else %}{% if location.id | length <= 3 %} {{location.preposition('em')}} {{location.name()}}{% else %} {{location.preposition('em')}} {{location.name()}} - {{ location.abbreviation }}{% endif %}{% endif %} |
        {% if tab == 'general'%}
            {% trans %}General{% endtrans %}
        {% elif tab == 'trade-partner' %}
            {% trans %}International Trade{% endtrans %}
        {% endif %}"/>
    <meta property="og:description" content="{% if g.locale == 'pt' %}{{ trade_partner.article() | capitalize }}{% endif %} {{ header.name }}{% trans %} is number {% endtrans %}{{ header.import_rank }} ..."/>
    <meta property="og:type" content="website" />
{% endblock facebook_metadata %}

{% block content %}

<!-- BREADCRUMB -->
<input type="hidden" id="id_ibge" value="{{id_ibge}}">

{% if trade_partner.id_mdic %}
    <input type="hidden" id="id_country" value="{{ '%03d' % trade_partner.id_mdic}}">
{% else %}
    <input type="hidden" id="id_continent" value="{{trade_partner.id}}">
{% endif %}

<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('general.home') }}">Home</a>
            </li>
            <li {{ 'class="active"' if not location else '' }}>
                <a href="#" title="Trocar" onclick="select_attr_search('wld');"> {{ trade_partner.name() }}</a>
            </li>
            {% if location %}
                <li class="active">
                    <a href="#" title="Trocar" onclick="select_attr_search('bra');"> {{ location.name() }}</a>
                </li>
            {% endif %}
        </ol>
    </div>
</div>
<!-- BREADCRUMB -->

<section id="header" class="header" style="background: url({{ g.s3_host }}/img/trade_partner/trade_partner_{{ trade_partner.id if trade_partner.img_link else 'all' }}.jpg) no-repeat center center fixed; background-size: cover;">

  <div class="photo-credit">
    <div class="container">
      <a href="{{ trade_partner.img_link if trade_partner.img_link else 'https://flic.kr/p/jDw5wp' }}" target="blank">
      <i class="fa fa-camera"></i> {% trans %}picture by{% endtrans %} {{ trade_partner.img_author if trade_partner.img_link else 'Marcela Palma' }}</a>
    </div>
  </div>

    <div class="summary-box">
        <div class="container">

            <span class="portrait dv-wld-{{ trade_partner.id[0:2] }} hidden-xs"></span>
            <h1>
                {{ trade_partner.name() }} 
                {% if not location.id %}
                {% trans %}and{% endtrans %} {% trans %}Brazil{% endtrans %}
                {% else %}
                    {% if location.id | length <= 3 %}
                        {% trans %}and{% endtrans %} {{location.name()}}
                    {% else %}
                        {% trans %}and{% endtrans %} {{location.name()}} - {{ location.abbreviation }}
                    {% endif %}
                {% endif %}
                <div class="btn-group">
                  <button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    trocar <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" onclick="select_attr('wld');">{% trans %}Country{% endtrans %}</a></li>
                    <li><a href="#" onclick="select_attr_search('bra');">{% trans %}Location{% endtrans %}</a></li>
                  </ul>
                </div>
            </h1>
            <span class="clearfix"></span>

            <div class="indices">
                <div class="row">
                </div><!--/.row-->
            </div>
        </div>
    </div>
</section>

<section id="profile" class="profile">
    <nav class="col-xs-12">
        <div class="container">
            <ul class="nav-tabs" role="tablist">
            <li role="presentation" class="{{ 'active' if tab == 'general' }}">
                <a  href="#general"
                    aria-controls="general"
                    role="tab"
                    data-id="{{ trade_partner.id }}"
                    data-location="{{ location.id }}"
                    data-toggle="tab">{% trans %}General{% endtrans %}</a>
            </li>
            <li role="presentation" class="{{ 'active' if tab == 'international-trade' }}">
                <a  href="#international-trade"
                    aria-controls="international-trade"
                    role="tab"
                    graph
                    data-id="{{ trade_partner.id }}"
                    data-location="{{ location.id }}"
                    data-toggle="tab">{% trans %}International Trade{% endtrans %}</a>
            </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="tab-content col-xs-12">
            {% include "trade_partner/tab-general.html" %}
            {% include "trade_partner/tab-international-trade.html" %}
        </div>
    </div>
</section>

<section id="graphs" class="graphs bg-gray">
    {% if tab != 'general' %}
        {% include "trade_partner/graphs-" + tab + ".html" %}
    {% endif %}
</section>

{% endblock content %}

{% block script %}
    <script type="text/javascript" src="/static/js/modules/dictionary.js"></script>
    <script type="text/javascript" src="/static/js/graphs/helper.js"></script>
    <script type="text/javascript" src="/static/js/modules/widgets.js"></script>
    <script type="text/javascript" src="/static/js/modules/trade-partner.js"></script>
{% endblock %}
