<div class="modal fade dataviva" tabindex="-1" role="dialog" id="dataviva-login" data-show="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="loginmodal-container">
                    <h4>{% trans %}Users Acess{% endtrans %}</h4>
                    <form id="dataviva-login-form">
                          <div class="form-group">
                            <input type="text" name="email" placeholder="{% trans %}User{% endtrans %}" class="form-control input-lg" />
                          </div>
                          <div class="form-group">
                            <input type="password" name="password" placeholder="{% trans %}Password{% endtrans %}" class="form-control input-lg" />
                          </div>
                        <input type="submit" name="submit" class="btn btn-primary btn-block btn-lg" value="Entrar">
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



