<div class="modal fade dataviva" tabindex="-1" role="dialog" id="dataviva-login" data-show="true">
    <div class="modal-dialog modal-clear">
        <div class="modal-content">
            <div class="modal-body">
                <div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1>{% trans %}Users Acess{% endtrans %}</h1>
                    <div class="clearfix"><!--//--></div>
                    <form>
                        <input type="text" name="user" placeholder="Usuário">
                        <input type="password" name="pass" placeholder="Senha">
                        <input type="submit" name="login"  class="btn btn-default btn-dataviva" value="Entrar">
                    </form>
                    <div class="login-help">
                        <a href="#">{% trans %}Sign Up{% endtrans %}</a> - 
                        <a href="#">{% trans %}Forgot my Password{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->