<div class="modal fade dataviva" tabindex="-1" role="dialog" id="dataviva-login" data-show="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="loginmodal-container">
                    <h4>{% trans %}Users Acess{% endtrans %}</h4>
                    <form id="dataviva-login-form">
                        {{ g.signin_form.hidden_tag() }}

                        <div class="form-group">
                        <input type="text" name="email" placeholder="{% trans %}User{% endtrans %}" class="form-control input-lg" />
                        </div>
                        <div class="form-group">
                        <input type="password" name="password" placeholder="{% trans %}Password{% endtrans %}" class="form-control input-lg" />
                        </div>

                        <p><a href="/user/forgot_password">{% trans %}Forgot your password{% endtrans %}?</a></p>
                        <input type="submit" name="submit" class="btn btn-primary btn-block btn-lg" value="Entrar">
                    </form>

                        <p>{% trans %}...or sign-up using{% endtrans %}:</p>
                        <a href="/en/session/login/google" class="btn btn-lg btn-google"> <i class="fa fa-google"></i> Google</a>
                        <a href="/en/session/login/facebook" class="btn btn-lg btn-facebook"> <i class="fa fa-facebook"></i> Facebook</a>
                        <a href="" class="btn btn-lg btn-twitter"> <i class="fa fa-twitter"></i> Twitter</a>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



