<div class="modal fade dataviva" tabindex="-1" role="dialog" id="dataviva-login" data-show="true">
    <div class="modal-dialog modal-clear">
        <div class="modal-content">
            <div class="modal-body">
                <div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1>Acesso de usuários</h1>
                    <div class="clearfix"><!--//--></div>
                    <form>
                        <input type="text" name="user" placeholder="Usuário">
                        <input type="password" name="pass" placeholder="Senha">
                        <input type="submit" name="login"  class="btn btn-default btn-dataviva" value="Entrar">
                    </form>
                    <div class="login-help">
                        <a href="#">Cadastre-se</a> - <a href="#">Esqueci a senha</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade dataviva" tabindex="-1" role="dialog" id="dataviva-signup" data-show="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="body-container">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1>Cadastre-se gratuitamente</h1>
                    <p>Cadastre-se gratuitamente e aproveito ao máximo o DataViva. Ao fazer cadastro você terá acesso a recursos exclusivos para facilitar sua pesquisa.</p>
                    <div class="clearfix"><!--//--></div>
                    <form class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="form-group">
                                <label class="control-label" for="Nome">Nome</label>
                                <div>
                                    <input id="Nome" name="Nome" type="text" placeholder="Nome" class="form-control" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="email">Email</label>
                                <div>
                                    <input id="email" name="email" type="text" placeholder="E-mail" class="form-control" required="">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="perfil">Qual perfil melhor descreve você?</label>
                                <div>
                                    <select id="perfil" name="perfil" class="form-control">
                                        <option value="1">Empreendedor</option>
                                        <option value="2">Empreendedor</option>
                                        <option value="">Empreendedor</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for=""></label>
                                <div>
                                    <label class="checkbox-inline" for="-0">
                                        <input type="checkbox" name="" id="-0" value="1">
                                        <small>Desejo receber notícias e dicas do melhor uso do DataViva</small>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" aria-label="Close">Cancelar</a>&nbsp;&nbsp;<a href="#" class="btn btn-dataviva">Cadastre-se</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade dataviva" tabindex="-1" role="dialog" id="modal-dataviva-video" data-show="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-container modal-video">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1>Assista ao Vídeo</h1>
                    <div class="clearfix"><!--//--></div>
                    <div class="video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/vqPoGAhch68" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade dataviva" tabindex="-1" role="dialog" id="modal-dataviva">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Empreendedor</h4>
            </div>
            <div class="modal-body">
                <div id="carousel-modal" class="carousel slide" data-interval="false">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="institucional search">
                                <h2>O que você gostaria de descobrir?</h2>
                                <form action="" class="form-dataviva form-inline filter">
                                    <div class="form-group">
                                        <i class="fa fa-search"></i>
                                        <input id="field-search" type="text" class="busca form-control" />
                                    </div>
                                    <div class="search-items">
                                        <h4>Principais Pesquisas</h4>
                                        <div class="list-group list-stripped">
                                            <a href="#" class="list-group-item">Quantidade de estabelecimentos de uma atividade em uma região</a>
                                            <a href="#" class="list-group-item">Salário médio de uma atividade ou ocupação em uma região</a>
                                            <a href="#" class="list-group-item">Principais parceiros comerciais de um Produto em ume região</a>
                                            <a href="#" class="list-group-item">Localidades que concentram o emprego de uma atividade</a>
                                            <a href="#" class="list-group-item">Localidades que mais importam ou exportam um produto específico</a>
                                            <a href="#" class="list-group-item">Produtos similares ao do meu negócio, produzidos em uma região</a>
                                            <a href="#" class="list-group-item">Cursos oferecidos em ume região</a>
                                            <a href="#" class="list-group-item">Perfil econômico geral de uma região</a>
                                            <a href="#" class="list-group-item more">Exibir mais opções <i class="fa fa-caret-down"></i></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="item">
                            <div class="institucional search">
                                <h2>Escolha um produto da lista abaixo ou busque pelo nome</h2>
                                <form action="" class="form-dataviva form-inline filter">
                                    <div class="form-group">
                                        <i class="fa fa-search"></i>
                                        <input id="field-search" type="text" class="busca form-control" />
                                    </div>
                                    <div class="search-items">
                                        <div class="list-group list-stripped">
                                            <a href="#" class="list-group-item">Quantidade de estabelecimentos de uma atividade em uma região</a>
                                            <a href="#" class="list-group-item">Salário médio de uma atividade ou ocupação em uma região</a>
                                            <a href="#" class="list-group-item">Principais parceiros comerciais de um Produto em ume região</a>
                                            <a href="#" class="list-group-item">Localidades que concentram o emprego de uma atividade</a>
                                            <a href="#" class="list-group-item">Localidades que mais importam ou exportam um produto específico</a>
                                            <a href="#" class="list-group-item">Produtos similares ao do meu negócio, produzidos em uma região</a>
                                            <a href="#" class="list-group-item">Cursos oferecidos em ume região</a>
                                            <a href="#" class="list-group-item">Perfil econômico geral de uma região</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="item">
                            <div class="institucional search">
                                <h2>Escolha um localidade da lista abaixo ou busque pelo nome</h2>
                                <form action="" class="form-dataviva form-inline filter">
                                    <div class="form-group">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <button type="button" class="btn btn-default">Regiões</button>
                                            <button type="button" class="btn btn-default">Estados</button>
                                            <button type="button" class="btn btn-default">Mesorregiões</button>
                                            <button type="button" class="btn btn-default">Microregiões</button>
                                            <button type="button" class="btn btn-default">Municípios</button>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <i class="fa fa-search"></i>
                                        <input id="field-search" type="text" class="busca form-control" />
                                    </div>
                                    <div class="search-items">
                                        <div class="list-group list-stripped">
                                            <a href="#" class="list-group-item">Quantidade de estabelecimentos de uma atividade em uma região</a>
                                            <a href="#" class="list-group-item">Salário médio de uma atividade ou ocupação em uma região</a>
                                            <a href="#" class="list-group-item">Principais parceiros comerciais de um Produto em ume região</a>
                                            <a href="#" class="list-group-item">Localidades que concentram o emprego de uma atividade</a>
                                            <a href="#" class="list-group-item">Localidades que mais importam ou exportam um produto específico</a>
                                            <a href="#" class="list-group-item">Produtos similares ao do meu negócio, produzidos em uma região</a>
                                            <a href="#" class="list-group-item">Cursos oferecidos em ume região</a>
                                            <a href="#" class="list-group-item">Perfil econômico geral de uma região</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p><a href="09-pesquisa-avancada.html?open-modal=modal-dataviva-localidade">Não encontrei o que procuro</a></p>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-modal" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-modal" data-slide-to="1"></li>
                    <li data-target="#carousel-modal" data-slide-to="2"></li>
                </ol>
                <p>
                    <a class="btn btn-lg btn-dataviva pull-left" href="#carousel-modal" role="button" data-slide="prev">Voltar</a>
                    <a class="btn btn-lg btn-dataviva" href="#carousel-modal" role="button" data-slide="next">Avançar</a>
                </p>
                <p><a href="#carousel-modal" role="button" data-dismiss="modal" aria-label="Close" class="pull-left">Cancelar</a></p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade dataviva" tabindex="-1" role="dialog" id="modal-dataviva-localidade" data-show="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Qual localidade?</h4>
            </div>
            <div class="modal-body">
                <div class="institucional search">
                    <h2>Escolha um localidade da lista abaixo ou busque pelo nome</h2>
                    <form action="" class="form-dataviva form-inline filter">
                        <div class="form-group">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">Regiões</button>
                                <button type="button" class="btn btn-default">Estados</button>
                                <button type="button" class="btn btn-default">Mesorregiões</button>
                                <button type="button" class="btn btn-default">Microregiões</button>
                                <button type="button" class="btn btn-default">Municípios</button>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <i class="fa fa-search"></i>
                            <input id="field-search" type="text" class="busca form-control" />
                        </div>
                        <div class="search-items">
                            <div class="list-group list-stripped">
                                <a href="03-perfil-comercio-internacional.html" class="list-group-item">Quantidade de estabelecimentos de uma atividade em uma região</a>
                                <a href="03-perfil-comercio-internacional.html" class="list-group-item">Salário médio de uma atividade ou ocupação em uma região</a>
                                <a href="03-perfil-comercio-internacional.html" class="list-group-item">Principais parceiros comerciais de um Produto em ume região</a>
                                <a href="03-perfil-comercio-internacional.html" class="list-group-item">Localidades que concentram o emprego de uma atividade</a>
                                <a href="03-perfil-comercio-internacional.html" class="list-group-item">Localidades que mais importam ou exportam um produto específico</a>
                                <a href="03-perfil-comercio-internacional.html" class="list-group-item">Produtos similares ao do meu negócio, produzidos em uma região</a>
                                <a href="03-perfil-comercio-internacional.html" class="list-group-item">Cursos oferecidos em uma região</a>
                                <a href="03-perfil-comercio-internacional.html" class="list-group-item">Perfil econômico geral de uma região</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-lg btn-dataviva" href="#carousel-modal" role="button" data-slide="next">Avançar</a>
                <a href="#carousel-modal" role="button" data-dismiss="modal" aria-label="Close" class="pull-left">Cancelar</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->