<div class="modal fade dataviva in" tabindex="-1" role="dialog" id="modal-search" data-show="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body clearfix" id="modal-search-content">
            </div>

            <div class="modal-footer">
                <div class="chosen-options">
                    <h4 class="question"></h4>
                    <input type="hidden" id="answer"/>
                </div>
                <button class="btn btn-primary pull-left" data-dismiss="modal" aria-label="Close">{% trans %}Cancel{% endtrans %}</button>
                <button id="search-back" class="btn btn-primary">{% trans %}Back{% endtrans %}</button>
                <button id="search-advance" class="btn btn-primary">{% trans %}Advance{% endtrans %}</button>
            </div>
         </div>
     </div>
</div>




