<div class="modal fade dataviva in" tabindex="-1" role="dialog" id="modal-search" data-show="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="well question-header">
                <h4 class="question">
                    Qual o salário médio da Atividade <span class="label label-default">agricultura </span>,
                    na Localidade ... ? 
                    <small> <a href="#">[trocar pergunta]</a></small>
                </h4>
                <p class="current-question">2 - Selecione a localidade e clique em avançar:</p>
            </div>

            <div class="modal-body clearfix" id="modal-search-content">
            </div>

            <div class="modal-footer">
                <div class="chosen-options">
                    <h4 class="question"></h4>
                    <input type="hidden" id="answer"/>
                </div>
                <button class="btn btn-default pull-left" data-dismiss="modal" aria-label="Close">{% trans %}Cancel{% endtrans %}</button>
                <button id="search-back" class="btn btn-lg btn-default">{% trans %}Back{% endtrans %}</button>
                <button id="search-advance" class="btn btn-lg btn-primary">{% trans %}Advance{% endtrans %}</button>
                <a href="#" class="btn btn-default btn-toggle btn-lg selected"><i class="fa fa-square-o"></i><i class="fa fa-check-square-o"></i> selecione</a>
            </div>
         </div>
     </div>
</div>
<script type="text/javascript">
    $('.btn-toggle').click( function() {
        $(this).toggleClass('selected');
        return false
    });
</script>



