<div class="modal fade dataviva in" tabindex="-1" role="dialog" id="modal-search" data-show="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-search-title"></h4>
            </div>

            <input type="hidden" id="profile"/>
            <input type="hidden" id="actual-step"/>
            <input type="hidden" id="answer"/>
            <div class="well question-header">

                <div class="chosen-options">
                    <h4 class="question" id="question">

                    </h4>

                </div>

                <p class="current-question"></p>
            </div>

            <div class="modal-body clearfix" id="modal-search-content">
            </div>

            <div class="modal-footer">
                <button class="btn btn-lg btn-default pull-left" data-dismiss="modal" aria-label="Close">{% trans %}Cancel{% endtrans %}</button>
                <button id="search-back" class="btn btn-lg btn-default">{% trans %}Back{% endtrans %}</button>
                <button id="search-advance" class="btn btn-lg btn-primary">{% trans %}Advance{% endtrans %}</button>
            </div>
         </div>
     </div>
</div>
