<div class="modal fade dataviva" tabindex="-1" role="dialog" id="modal-selector" data-show="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body clearfix selector-area" id="modal-selector-content"></div>
         </div>
     </div>
</div>
