<div class="modal fade dataviva" tabindex="-1" role="dialog" id="dataviva-signup" data-show="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="intro">
                    <h4>{% trans %}Free Sign Up{% endtrans %}</h4>
                    <p>{% trans %}Sign Up free and make the most of DataViva{% endtrans %}. {% trans %}Signing up gives you access to exclusive resources to facilitate your research.{% endtrans %}.</p>
                </div>
                <form id="modal-signup-form" class="form">
                    <div class="body-container">
                        {{ g.signup_form.hidden_tag() }}
                        <div class="form-group">
                            <label class="control-label" for="Nome">{% trans %}Name{% endtrans %}</label>
                            <input id="fullname" name="fullname" type="text" placeholder="{% trans %}Name{% endtrans %}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="signup-email">E-mail</label>
                            <input id="signup-email" name="email" type="text" placeholder="E-mail" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="signup-password">{% trans %}Password{% endtrans %}</label>
                            <input class="form-control" id="signup-password" name="password" type="password" placeholder="Password" value="">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="signup-confirm">{% trans %}Confirm password{% endtrans %}</label>
                            <input class="form-control" id="signup-confirm" name="confirm" type="password" placeholder="Confirm Password" value="">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="signup-profile">{% trans %}What profile best describes you{% endtrans %}?</label>
                            <select id="signup-profile" name="signup-profile" class="form-control">
                                <option value="entrepreneurs">{% trans %}Entrepreneurs{% endtrans %}</option>
                                <option value="development_agents">{% trans %}Development Agents{% endtrans %}</option>
                                <option value="students">{% trans %}Students and Professionals{% endtrans %}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="checkbox checkbox-success checkbox-inline">
                                <input name="agree_mailer" id="agree_mailer" type="checkbox">
                                <label for="agree_mailer"><small>{% trans %}I want to receive news and tips of the best use of Dataviva{% endtrans %}</small></label>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" aria-label="Close" class="btn btn-default">{% trans %}Cancel{% endtrans %}</a>
                        <button type="submit" name="submit" class="btn btn-primary">{% trans %}Sign Up{% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
