<div class="modal fade dataviva" tabindex="-1" role="dialog" id="dataviva-signup" data-show="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="body-container">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1>Cadastre-se gratuitamente</h1>
                    <p>Cadastre-se gratuitamente e aproveito ao máximo o DataViva. Ao fazer cadastro você terá acesso a recursos exclusivos para facilitar sua pesquisa.</p>
                    <div class="clearfix"><!--//--></div>
                    <form class="row">
                        <div class="col-xs-12 col-sm-8">
                            <div class="form-group">
                                <label class="control-label" for="Nome">Nome</label>
                                <div>
                                    <input id="Nome" name="Nome" type="text" placeholder="Nome" class="form-control" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="email">Email</label>
                                <div>
                                    <input id="email" name="email" type="text" placeholder="E-mail" class="form-control" required="">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="perfil">Qual perfil melhor descreve você?</label>
                                <div>
                                    <select id="perfil" name="perfil" class="form-control">
                                        <option value="1">Empreendedor</option>
                                        <option value="2">Empreendedor</option>
                                        <option value="">Empreendedor</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for=""></label>
                                <div>
                                    <label class="checkbox-inline" for="-0">
                                        <input type="checkbox" name="" id="-0" value="1">
                                        <small>Desejo receber notícias e dicas do melhor uso do DataViva</small>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" aria-label="Close">Cancelar</a>&nbsp;&nbsp;<a href="#" class="btn btn-dataviva">Cadastre-se</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
