<div class="modal fade dataviva" tabindex="-1" role="dialog" id="modal-dataviva-video" data-show="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-container modal-video">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1>{% trans %}Watch the Video{% endtrans %}</h1>
                    <div class="clearfix"><!--//--></div>
                    <div class="video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/vqPoGAhch68" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->