<!-- extend from about base layout -->
{% extends "templates/about.html" %}

{% block title %}: {% trans %}Credits{% endtrans %}{% endblock %}

{% block about_content %}
<h1>{% trans %}Credits{% endtrans %}</h1>

<ul>{% trans %}Sabrina Illustrations{% endtrans %}
  <li><a href="http://www.sarashowalter.com/" target="_blank">Sara Showalter</a></li>
</ul>

<ul>{% trans %}Icons and Graphics{% endtrans %}
  <li><a href="http://thenounproject.com/noun/cow/#icon-No4743" target="_blank">Cow</a> designed by <a href="http://thenounproject.com/Olivier Guin" target="_blank">Olivier Guin</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/tomato/#icon-No2584" target="_blank">Tomato</a> designed by <a href="http://thenounproject.com/alessandro.suraci" target="_blank">Alessandro Suraci</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/olive-oil/#icon-No3342" target="_blank">Olive Oil</a> designed by <a href="http://thenounproject.com/fusillomaurizio" target="_blank">Maurizio Fusillo</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/house/#icon-No5593" target="_blank">House</a> designed by <a href="http://thenounproject.com/naomiatkinson" target="_blank">Naomi Atkinson</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/pickaxe/#icon-No3651" target="_blank">Pickaxe</a> designed by <a href="http://thenounproject.com/benfurneaux" target="_blank">Ben Rex Furneaux</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/drop/#icon-No5546" target="_blank">Drop</a> designed by <a href="http://thenounproject.com/Olivier Guin" target="_blank">Olivier Guin</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/globe/#icon-No1049" target="_blank">Globe</a> designed by <a href="http://thenounproject.com/PKG" target="_blank">Proletkult Graphik</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/tshirt/#icon-No252" target="_blank">Tshirt</a>  from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/shoe/#icon-No2571" target="_blank">Shoe</a> designed by <a href="http://thenounproject.com/Simon Child" target="_blank">Simon Child</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/diamond/#icon-No5675" target="_blank">Diamond</a> designed by <a href="http://thenounproject.com/mathiesjanssen" target="_blank">mathies janssen</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/anvil/#icon-No3891" target="_blank">Anvil</a> designed by <a href="http://thenounproject.com/podrivo" target="_blank">Pedro Ivo Hudson</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/ring/#icon-No5164" target="_blank">Ring</a> designed by <a href="http://thenounproject.com/theonlygoodalex" target="_blank">Alex Sheyn</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/gauge/#icon-No4673" target="_blank">Gauge</a> designed by <a href="http://thenounproject.com/iconify" target="_blank">Scott Lewis</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/picture-frame/#icon-No2572" target="_blank">Picture Frame</a> designed by <a href="http://thenounproject.com/alessandro.suraci" target="_blank">Alessandro Suraci</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/box/#icon-No2202" target="_blank">Box</a>  from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/scroll/#icon-No1629" target="_blank">Scroll</a> designed by <a href="http://thenounproject.com/souzaead" target="_blank">Eduardo Souza</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/erlenmeyer-flask/#icon-No5525" target="_blank">Erlenmeyer Flask</a> designed by <a href="http://thenounproject.com/Olivier Guin" target="_blank">Olivier Guin</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/forest/#icon-No3105" target="_blank">Forest</a> designed by <a href="http://thenounproject.com/NicholasBurroughs" target="_blank">Nicholas Burroughs</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/factory/#icon-No4752" target="_blank">Factory</a> designed by <a href="http://thenounproject.com/Olivier Guin" target="_blank">Olivier Guin</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/traffic-cone/#icon-No894" target="_blank">Traffic Cone</a> designed by <a href="http://thenounproject.com/ReiWeber" target="_blank">Reinaldo Weber</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/money/#icon-No1418" target="_blank">Money</a> designed by <a href="http://thenounproject.com/oystein.arbo" target="_blank">Øystein W. Arbo</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/box/#icon-No2058" target="_blank">Box</a> designed by <a href="http://thenounproject.com/iamtravis" target="_blank">Travis J. Lee</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/front-desk/#icon-No3294" target="_blank">Front Desk</a> designed by <a href="http://thenounproject.com/EYEMGOD" target="_blank">Alexandre Mendes</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/stock-exchange/#icon-No1640" target="_blank">Stock Exchange</a> designed by <a href="http://thenounproject.com/nachojfr" target="_blank">Nacho</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/building/#icon-No921" target="_blank">Building</a> designed by <a href="http://thenounproject.com/BC" target="_blank">Benoit Champy</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/globe/#icon-No1618" target="_blank">Globe</a> designed by <a href="http://thenounproject.com/Siero2h" target="_blank">Marco Davanzo</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/store/#icon-No3279" target="_blank">Store</a> designed by <a href="http://thenounproject.com/edward" target="_blank">Edward Boatman</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/dna/#icon-No3928" target="_blank">DNA</a> designed by <a href="http://thenounproject.com/darrin.higgins" target="_blank">Darrin Higgins</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/wrench/#icon-No5249" target="_blank">Wrench</a> designed by <a href="http://thenounproject.com/tgines" target="_blank">Tony Gines</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/globe/#icon-No1618" target="_blank">Globe</a> designed by <a href="http://thenounproject.com/Siero2h" target="_blank">Marco Davanzo</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/box/#icon-No4983" target="_blank">Box</a> designed by <a href="http://thenounproject.com/DmitryBaranovskiy" target="_blank">Dmitry Baranovskiy</a> from The Noun Project</li>
  <li><a href="http://thenounproject.com/noun/user/#icon-No2281" target="_blank">User</a> designed by <a href="http://thenounproject.com/elordin" target="_blank">Thomas Weber</a> from The Noun Project</li>
</ul>

{% endblock %}
