<!-- extend from about base layout -->
{% extends "templates/about.html" %}

{% block title %}: {% trans %}About the Site{% endtrans %}{% endblock %}

{% block about_content %}
  <h1>{% trans %}About the Site{% endtrans %}</h1>
  
   <p>{% trans %}DataViva is a project that started in July of 2012 by the Escritorio of Minas Gerais in collaboration with a small start-up called Growth Ventures based in Cambridge, MA. DataViva is a collaborative planning tool composed of a number of applications, each of which visualize data in innovative and creative ways. DataViva is intended to be used as a tool to help members of the government, private sectors, as well as citizens themselves be able to understand big data and and more importantly, use it to their advantage.{% endtrans %}</p>
    
{% endblock %}

