<!-- extend from about base layout -->
{% extends "templates/about.html" %}

{% block title %}: {% trans %}Glossary{% endtrans %}{% endblock %}

{% block about_content %}
  <h1>{% trans %}Glossary{% endtrans %}</h1>
  
  <!-- terms -->
  <h2>Data Terms</h2>
  <ul>
    <li><a href="#complexity">Complexity</a></li>
    <li><a href="#distance">Distance</a></li>
	<li><a href="#employment-similarity">Employment Similarity</a></li>
	<li><a href="#exclusivity">Exclusivity</a></li>
	<li><a href="#importance">Importance</a></li>
    <li><a href="#proximity">Proximity</a></li>
    <li><a href="#rca">RCA</a></li>
	<li><a href="#required-employees">Required Number of Employees</a></li>
    <li><a href="#required-workforce">Required Workforce</a></li>
  </ul>
  <br>
  <h2>Visualization Terms</h2>
  <ul>
    <li>
      <a href="#depth">Depth</a>
    </li>
  </ul>
  
  <!-- Data Terms -->
  <h2 class="term"><a name="complexity" rel="nofollow">Complexity</a></h2>
  <p>
    Complexity is a number calculated by...
  </p>
  
  <h2 class="term"><a name="distance" href="#distance" rel="nofollow">Distance</a></h2>
  <p>
	  Using the network visualization we can quickly see which industries, occupations of products are found in a given location. But what about the ones that location does not have RCA  1? Distance is the measure used to indicate how “far away” any given location is from a particular industry, occupation or product. The distance of a given item i to a location b is calculated as the sum of all the proximities between i and the other items that b has RCA < 1. This number is then normalized by dividing it by the sum of all items regardless of its RCA in location b. In speaking about exports, we would notice that if a particular product is connected mostly with products that are exported by a location, the distance value would be close to 0 (meaning it’s very close by!). The opposite being true if the interested product is connected with mostly products that are not exported, the distance value would be closer to 1. The equation can be found in figure x.
  </p>
  <img src="/static/img/help/equations/distance.png" />
  <p>Used In: <a href="/about/apps/scatter/">Scatter Plot</a>, <a href="/about/apps/network/">Network</a>, <a href="/about/apps/rings/">Rings</a></p>
	  
  <h2 class="term"><a name="employment-similarity" href="#employment-similarity" rel="nofollow">Employment Similarity</a></h2>
  <p>
	  To determine the Employment Similarity between 2 locations, we correlate the Total Number of Employees for each industry present in both locations.
  </p>
  
  <h2 class="term"><a name="exclusivity" href="#exclusivity" rel="nofollow">Exclusivity</a></h2>
  <p>
	  Each occupation, regardless of geographical location or industry, has an exclusivity value. This value is calculated by looking at the overall ubiquity of an occupation throughout every industry in Brazil. Here is the calculation used:
  </p>
  <img src="/static/img/help/equations/exclusivity.png" />
  <p>
	  The higher exclusivity value an occupation has, the fewer amount of industries it is required by. This would generally mean that the occupation is specialized to that industry, and not very easy to replace (unlike something like an Administrative Assistant).
  </p>
  <p>Used In: <a href="/about/apps/occugrid/">Occugrid</a></p>
  
  <h2 class="term"><a name="proximity" href="#proximity" rel="nofollow">Proximity</a></h2>
  <p>This is the measure of distance between any two products used to construct the network visualization e.g. industry space, occupation space and product space. The network app only shows the connections between nodes that have the highest proximity but in actuality every node has a proximity value with every other node.</p>
  <h4>Product Space Proximity</h4>
  <p>The product space network layout has been calculated using world trade data though any proximity values shown have all been calculated using only Brazilian export data (SECEX). It is important to note that any network graphic is really just an estimate of the underlying adjaceny matrix used to create it. When viewing a specific Brazilian location, one is only seeing the products that said location is exporting. The way proximity is calculated for products is by counting the number of locations that export both products with revealed comparative advantage (RCA) and dividing that by the number of locations that export the most ubiquitous product of the pair. Let us take as a simple example 2 products: Cut Flowers (HS ID: 0603) and Honey (HS ID: 0409). As shown in figure x the proximity between these 2 products is ⅓.</p>
  <img src="/static/img/help/proximity_products.png" />
  <h4>Industry Space Proximity</h4>
  <p>The industry space is created a bit differently from the product space, in that instead of basing the RCA calculation matrix off of locations and industries, we are using a matrix of industries and occupations. The reason for this is that as opposed to product exports and location, similar industries do not necessarily tend to co-locate. Take for example two large industries such as auto part manufacturing and electronics manufacturing. The data has shown that such large industries do not tend to co-locate in similar areas, but instead in rural areas outside of urban centers isolated from many other industries. Yet by looking at the workforce shared between such industries we find many of the same occupations e.g. machine operators, production line feeders, electrical engineers.</p>
  <img src="/static/img/help/proximity_industries.png" />
  <h4>Occupation Space Proximity</h4>
  <p>The proximity measure used for the occupation space is quite simply the inverse of the calculation used in the industry space. The same matrix of industries and occupations is used. Below you will see an illustration of this calculation.</p>
  <img src="/static/img/help/proximity_occupations.png" />
  <p>Used In: <a href="/about/apps/network/">Network</a>, <a href="/about/apps/rings/">Rings</a></p>

  <h2 class="term"><a name="rca" href="#rca" rel="nofollow">RCA</a></h2>
  <p>RCA means revealed comparative advantage. It is a numeric value used to connote whether a particular product or industry is especially prominent in a location. This value can tell us whether the particular location is performing higher than what would be expected. The calculation for this number is a share of a share. Say for example we were to consider Belo Horizonte’s exports of cars, we would take the share that cars represent in Belo Horizonte’s export basket divided by the share that cars represent in all of Brazil. If this number is larger than 1 we can say that Belo Horizonte is a strong exporter in cars. RCA is a much better indicator of whether a product or industry is expressed in a location rather than export value alone because it takes into account the size of the location’s market vis-a-vis the total market size. The equation can be found in figure 1.</p>
  <img src="/static/img/help/rca.png" />
  <p>Figure 1: The RCA equation. Here “c” represents a location and “i” represents either a product or industry.</p>
  <p>Used In: <a href="/about/apps/network/">Network</a>, <a href="/about/apps/rings/">Rings</a></p>

  <h2 class="term"><a name="required-employees" href="#required-employees" rel="nofollow">Required Number of Employees</a></h2>
  <p>To determine how many employees of a given occupation are required for a given industry, we find the location with the most similar industrial composition that has RCA  1 in the given industry, and use their current number of employees for that occupation.</p>
  <p>We determine the most similar locations by taking the average rank of two indicators: Locational Proximity and Employment Similarity.</p>
  <p>Used In: <a href="/about/apps/occugrid/">Occugrid</a></p>
  
  <h2 class="term"><a name="required-workforce" href="#required-workforce" rel="nofollow">Required Workforce</a></h2>
  <p>To determine which occupations are required for a given industry, we take the occupations in the given industry with an Importance  0.2</p>
  
  <!-- Viz Terms -->
  <h2 class="term"><a name="depth" href="#depth" rel="nofollow">Depth</a>
  
  <p></p>

    
{% endblock %}

