<!-- extend site layout -->
{% extends "templates/site.html" %}

<!-- set the title -->
{% block title %}: {% trans %}Ask Sabrina{% endtrans %}{% endblock %}

{% block head %}

<link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.ask.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.sabrina.css" />

<!-- Redactor is here -->
<link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/redactor.css" />
<style>
  .reply_form   { color: black !important;      }
  .question     { display: block;               }
  .child        { margin-left: 40px !important; }
</style>
{% endblock %}

{% block body %}

<div class="grid5col4">
  
  {% with q = question %}
  <div class="question landing">
    
    <!-- Show vote count and buttons -->
    <div class="vote_block">
      <div class="vote_count">{% if q.votes.all()|length %}{{ q.votes.count() }}{% else %}0{% endif %}</div>
      <div class="vote_label">{% trans %}Points{% endtrans %}</div>
      <a class="vote_up alt_tooltip" style="color: {% if q.vote == True %}green{% else %}#333{% endif %}" href="{{ url_for('ask.question_vote', slug=q.slug) }}" alt="{% trans %}This question contributes to a better understanding of the topic.{% endtrans %}">
        <i class="icon-thumbs-up"></i>
      </a>
    </div>
    
    <!-- Display question -->
      
      <!-- Actual question -->
      <h1>{{ q.question }}</h1>
      
      <!-- Body (clarification for question) -->
      {% if q.body %}
        {{ q.body|safe }}
      {% endif %}
      
      <!-- Tags associated with question -->
      {% if tags|length %}
      <div class="labels">
        {% trans %}Tags{% endtrans %}:
        {% for t in tags %}
          <a class="tag" style="background-color: {{ t.color }};" rel="tag">
            <span class="tag-icon" rel="{{ t.__class__.__name__ }}" title="{{ t.id }}"></span>
            <span>{{ t.name_en }}&nbsp;&nbsp;</span>
          </a>
        {% endfor %}
      </div>
      {% endif %}
      
      <!-- Question metadata -->
      <div class="question_attr">
        {% if q.user.role == 0 %}<div class="userpic" style="background-image: url('{{ q.user.avatar(50) }}')"></div>{% endif %}
        {% if q.user.role == 0 or (q.timestamp != None and q.user.role == 1) %}{% trans %}Asked{% endtrans %} {% if q.user.role == 0 %}{% trans %}by{% endtrans %} <a href="{{ url_for('account.user', nickname=q.user.nickname) }}">{{q.user.fullname}}</a>{% endif %} {% if q.timestamp != None %}{{ momentjs(q.timestamp).fromNow() }}{% endif %}{% endif %}
      </div>
      
    </div> <!-- end of right hand-side -->
    
    <!-- end of question -->
  
  <!-- Sabrina's Answer! -->
  <div class="answer lightbox{% if q.status_notes %} answered{% endif %}">
    
    <!-- Answer text -->
    {% if q.status_notes %}
      {{ q.status_notes|safe }}
      <!-- Sabrina's face -->
      <div id="answer_sabrina"></div>
    {% else %}
      {% trans %}Sabrina has not answered this question yet. Feel free to start the conversation below.{% endtrans %}
    {% endif %}
    
  </div> <!-- end of sabrina's answer -->
  
  {% if q.replies.all()|length %}
  <!-- The responses -->
  <div id="responses" class="responses lightbox">
  <h1>{% trans %}Responses{% endtrans %}</h1>
    
    {% for r in q.replies %}
    <div class="question comment{% if r.id != r.parent_id %} child{% endif %}">
      
      <!-- Voting -->
      <div class="vote_block">
        <div class="vote_count">{% if r.votes.all()|length %}{{ r.votes.count() }}{% else %}0{% endif %}</div>
        <div class="vote_label">{% trans %}Points{% endtrans %}</div>
        <a class="vote_down alt_tooltip" style="color: {% if r.flag == True %}red{% else %}#333{% endif %}" href="{{ url_for('ask.reply_flag', id=r.id) }}" alt="{% trans %}Flagged replies are reviewed by DataViva staff to determine if they violate community guidelines. Accounts are penalized for violations and can lead to account termination.{% endtrans %}">
          <i class="icon-flag"></i>
        </a>
        <a class="vote_up alt_tooltip" style="color: {% if r.vote == True %}green{% else %}#333{% endif %}" href="{{ url_for('ask.reply_vote', id=r.id) }}" alt="{% trans %}This question contributes to a better understanding of the topic.{% endtrans %}">
          <i class="icon-thumbs-up"></i>
        </a>
      </div> <!-- end voting -->
      
      <!-- Reply text -->
        {% if r.hidden == 1%}
          <i>{% trans %}This reply has been flagged as inappropriate and hidden by an administrator.{% endtrans %}</i>
        {% else %}
          {{ r.body|safe }}
        {% endif %}
        <!-- User metadata -->
        <div class="question_attr">
          <div class="userpic" style="background-image: url('{{ r.user.avatar(50) }}')"></div>
          <a href="{{ url_for('account.user', nickname=r.user.nickname) }}">{{r.user.fullname}}</a> {{ momentjs(q.timestamp).fromNow() }}
        </div>
      <!-- end reply text -->
        
      {% if r.id == r.parent_id %}
      <div class="leave_response decision short icon reply" data-parent="{{r.parent_id}}">{% trans %}Respond to{% endtrans %} {{r.user.fullname}}</div>
      {% endif %}
    
    </div> <!-- end reply -->
    {% endfor %}
    
  </div> <!-- end responses -->
  {% endif %}
  {% endwith %}
  
  <!-- Leave another response (not to a specify reply but in general) -->
  <div id="new_response" class="lightbox reply">
    <h1>{% trans %}New Response{% endtrans %}</h1>
    <div class="leave_response decision" style="display: none;">{% trans %}Leave a Response{% endtrans %}</div>
  
    <form class="reply_form" action="" method="post" name="login">
      <!-- Reply form for the page that will be moved around-->
    
      {{ reply_form.hidden_tag() }}
    
      <!-- Reply texterea box -->
      <p>
        {{ reply_form.reply(class="reply", id="wysiwyg_textarea", placeholder="Enter your text...") }}
      
        <!-- Errors! -->
        {% for error in reply_form.errors.reply %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
    
      <!-- Submit button -->
      <a href="#" class="submit">
        <div class="decision">
          {% trans %}Reply{% endtrans %}
        </div>
      </a>
    
    </form> <!-- end reply for -->
  </div>
  
</div> <!-- end entire container for page .grid5col4 -->

{% endblock %}

{% block js %}
<!-- Redactor is here -->
<script src="/static/js/libs/jquery-2.0.3.min.js"></script>
<script src="/static/js/libs/redactor.min.js"></script>
<script src="/static/js/libs/pt_br.js"></script>
<script>

// Initialize redactor wysiwyg textarea
$(document).ready(function() {

	var buttons = ['bold', 'italic', 'underline', 'deleted', '|', 'link']
	$('#wysiwyg_textarea').redactor({
		// focus: true // scrolls page to this textarea
		buttons: buttons,
		lang: "{{g.locale}}"
	});

});

// Voting!
d3.selectAll(".vote_up").on(d3plus.evt.click, function(){
	var link_el = this;
  d3.select(link_el).select("i").attr("class","icon-cog icon-spin")
	d3.json(link_el.href, function(resp){
    d3.select(link_el).select("i").attr("class","icon-thumbs-up")
		if(resp.error) {
			dataviva.flash(resp.error)
		}
		else {
			d3.select(link_el.parentNode).select(".vote_count").text(function(){
				var new_count = 1
				if(d3.select(this).text()){
					new_count = parseInt(d3.select(this).text(), 10) + parseInt(resp.success);
				}
				return new_count;
			})
			// a new vote was added
			if(parseInt(resp.success) > 0){
				d3.select(link_el).style("color", "green")
				dataviva.flash(dataviva.format.text("voted"))
			}
			// user had already voted so it was removed
			else {
				d3.select(link_el).style("color", "#333333")
				dataviva.flash(dataviva.format.text("unvoted"))
			}
		}
	})
	d3.event.preventDefault();
})

// Flagging :(
d3.selectAll(".vote_down").on(d3plus.evt.click, function(){
	var link_el = this;
  d3.select(link_el).select("i").attr("class","icon-cog icon-spin")
	d3.json(link_el.href, function(resp){
    d3.select(link_el).select("i").attr("class","icon-flag")
		if(resp.error) {
			dataviva.flash(resp.error)
		}
		else {
			// item was able to be flagged
			if(parseInt(resp.success) > 0){
				d3.select(link_el).style("color", "#be1e2d")
				dataviva.flash(dataviva.format.text("flagged"))
			}
			// item was not able to be flagged
			else {
				d3.select(link_el).style("color", "#333333")
				dataviva.flash(dataviva.format.text("unflagged"))
			}
		}
	})
	d3.event.preventDefault();
})
 
// add icons to tags!
d3.selectAll(".tag-icon").style("background-image", function(){
	var tag_el = d3.select(this);
	return "url('"+dataviva.icon(tag_el.attr("title"), tag_el.attr("rel").toLowerCase()) + "')"
})

// show/hide reply form
d3.selectAll("div.leave_response").on(d3plus.evt.click, function(){
  
	d3.selectAll("div.leave_response").style("display", "inline-block")
	var reply_form = d3.select(".reply_form").node()
	this.parentNode.insertBefore(reply_form, this);
	d3.select(this).style("display", "none")
  
	// set the hidden parent input
	var reply_parent_id = d3.select(this).attr("data-parent");
	if(reply_parent_id){
		d3.select("input[name='parent']").attr("value", reply_parent_id)
	}
})

// submit form
d3.selectAll(".reply_form .submit").on(d3plus.evt.click, function(){
	this.parentNode.submit()
	d3.event.preventDefault();
})
</script>

{% endblock %}