<!-- extend site layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}Ask Sabrina{% endtrans %}{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.ask.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.sabrina.css" />

{% endblock %}

{% block body %}
  
  <div class="grid4col1">
    <div class="lightbox bubble">
    <h1>This feature is deactivated on this site!</h1>
    <a href="http://dataviva.mg.gov.br/ask/questions/" class="decision icon short questions">
      View and submit questions on dataviva.mg.gov.br
    </a>
    </div>
    <div id="sabrina" class="{{g.sabrina.outfit}} {{g.sabrina.face}} {{g.sabrina.hat}}"></div>
  </div>
    
  </div>

{% endblock %}

{% block js %}



{% endblock %}