<!-- extend site layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}Ask Sabrina{% endtrans %}{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.ask.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.sabrina.css" />

{% endblock %}

{% block body %}
  
  <div class="grid4col1">
    <div class="lightbox bubble">
    <h1>{% trans %}Cannot find your answer?{% endtrans %}</h1>
    <a {% if g.user.is_authenticated() %}href="/ask/ask/"{%else%}onclick="login()"{%endif%} class="decision icon short questions">
      {% trans %}Submit your question here!{% endtrans %}
    </a>
    </div>
    <div id="sabrina" class="{{g.sabrina.outfit}} {{g.sabrina.face}} {{g.sabrina.hat}}"></div>
  </div>

  <div class="grid4col3">
    <div id="list_header" class="lightbox">
      <div id="list_title"><h1></h1></div>
    
      <div id="order_toggle">
        <legend id="order">{% trans %}Order{% endtrans %}</legend>
        <input type="radio" name="order" value="votes" id="votes" onclick="change_order(this.value)" checked="checked">
        <label for="votes">{% trans %}Top Voted{% endtrans %}</label>
        <input type="radio" name="order" value="newest" id="newest" onclick="change_order(this.value)">
        <label for="newest">{% trans %}Newest{% endtrans %}</label>
      </div>
    

      {{ search_form.search(size=80, id='search', placeholder=_("Search")) }}
    
    </div>

    <div class="question_feed"></div>
    
  </div>

{% endblock %}

{% block js %}

  <script src="/static/js/utils/utils.infinite_scroll.js"></script>
  <script>

    var order = d3.select('input[name="order"]:checked').attr("value"),
        search_term = null,
        json_url = "/ask/questionslist/?lang="+dataviva.language;
      
    leon("$order").color(dataviva.color)
    leon("#search").color(dataviva.color).size("large")

    function change_order(new_order){
      order = new_order;
      var url = json_url + "&order=" + order;
      if(search_term){
        url += "&q=" + search_term;
      }
      d3.select("#list_title h1").text(dataviva.format.text(order))
      d3.select(".question_feed").html('')
        .call(is.url(url).offset(0).remove(true))
    }

    function item_formatter(container_el, activities, offset){
  
      var formatDate = d3.time.format("%B %-d, %Y"),
          parseDate = d3.time.format.iso.parse;
  
      var acts = d3.select(container_el).selectAll(".activity")
        .data(activities, function(d){ return d.id; })
    
      var activities_enter = acts
        .enter().insert("a", "div.infinite_loading")
        .attr("class", "decision question")
        .attr("href", function(d){
          return "/ask/question/" + d.slug;
        })
  
      var votes_div = activities_enter.append("div")
        .attr("class", "vote_block")

      votes_div.append("div")
        .attr("class", "vote_count")
        .text(function(d){ return d.votes })
      
      votes_div.append("div")
        .attr("class", "vote_label")
        .text(dataviva.format.text("points"))

      
      // lastly, the div that holds the data
      var question_div = activities_enter
  
      question_div.append("h1")
        .text(function(d){ return d.question })
  
      question_div.each(function(d){
          if(d.status_notes){
            d3.select(this).append("div")
              .text(function(){
                return d.status_notes.replace(/<\/?[^>]+(>|$)/g, "").truncate(300)
              })
          }
        })

      question_div.append("div")
        .attr("class", "question_attr")
        .html(function(d){ 
          var user_link = ""
          if (d.user.role == 0) {
            user_link = dataviva.format.text("by") + " <a href='/account/" + d.user.nickname + "'>" + d.user.fullname + "</a> "
          }
          if (d.timestamp) var t = moment(d.timestamp).fromNow()
          else var t = ""
          if (user_link == "" && t == "") return ""
          return dataviva.format.text("Asked") + " " + user_link + t;
        })

      acts.exit().remove()

    }

    var is = infinite_scroll().format_items(item_formatter);

    change_order(order)

    d3.select("#search").on("input", function(e){

      search_term = this.value;
      
      var url = json_url + "&q=" + search_term + "&order=" + order;
      d3.select(".question_feed").html('')
        .call(is.url(url).offset(0).remove(true))

    })

  </script>


{% endblock %}