<h1>{% trans %}Tree Map{% endtrans %}</h1>

<p>{% trans %}The Tree Map is a descriptive visualization which allows visualizing participation, in percentage terms, of the different variables available in DataViva. For example, this visualization allows analyzing the importance of a product in the exports of a location. Tree Maps are built with blocks that are proportional to the participation of selected categories in total, and grouped by colors representing the major groups for each variable (or another color coding selected by the color filter).{% endtrans %}</p>

<p>{% trans %}The logic of the Tree Map is the same used in a pie chart or other visual representation of distribution. The use of squares grouped by major groups in order of importance allows a quick view of items with greater participation in the respective large group, in which it is contained, enabling a fast and simple analysis of the percentage of participation.{% endtrans %}</p>

<p>{% trans %}One of the visualizations, for instance, shows the participation of each of the products in Minas Gerais' export basket, revealing quickly and easily the significant participation of the product Iron Ore in the exports of the state. Several other views are possible, using the variables available in the platform such as economic activities, occupations, localities and intersections between these variables.{% endtrans %}</p>

