<script type="text/javascript" src="/static/js/plugins/pace/pace.min.js"></script>
<script type="text/javascript" src="/static/js/libs/d3.min.js"></script>
<script type="text/javascript" src="/static/js/libs/d3plus.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/modules/embed/utils.dataviva.js"></script>
<script type="text/javascript" src="/static/js/libs/modernizr.custom.js"></script>
<script type="text/javascript" src="/static/js/libs/async.js"></script>
<script type="text/javascript" src="/static/js/modules/embed/utils.general.js"></script>
<script type="text/javascript" src="/static/js/plugins/jspdf/FileSaver.js"></script>
<script type="text/javascript" src="/static/js/plugins/jspdf/jspdf.js"></script>
<script type="text/javascript" src="/static/js/plugins/jspdf/addimage.js"></script>
