 <div id="tools">
    <a id="refresh-btn" class="button square alt_tooltip" alt="{% trans %}Refresh the Visualization{% endtrans %}"><i class="fa fa-refresh"></i></a>
    <a id="download-btn" class="button square alt_tooltip" alt="{% trans %}Download this Visualization{% endtrans %}"><i class="fa fa-save"></i></a>
    <a id="share-btn" class="button square alt_tooltip" alt="{% trans %}Share/Embed{% endtrans %}"><i class="fa fa-share"></i></a>
    <a id="controls-toggle-btn" class="button square alt_tooltip" alt="{% trans %}Show/Hide Controls{% endtrans %}"><i class="fa fa-cogs"></i></a>
</div>

<div id="share-popover" class="popover">
    <div class="close-popover-btn">×</div>
    <h3>Shortened URL</h3>
    <input id="shortened-url" type="text" class="textbox textbox large" value="">
    <h3>Embed URL</h3>
    <input id="embed-url" type="text" class="textbox textbox large" value="">
    <h3>Social Networks</h3>
    <a href="#" class="social-network-btn" target="_blank" id="twitter-btn" title="Twitter"></a>
    <a href="#" class="social-network-btn" target="_blank" id="facebook-btn" title="Facebook"></a>
    <a href="#" class="social-network-btn" target="_blank" id="google-btn" title="Google+"></a>
</div>

<div id="download-popover" class="popover">
    <div class="close-popover-btn">×</div>
    <div class="popover-header">
        <i class="fa fa-save fa-3x"></i>
        <div class="popover-text">
            <div class="popover-title">Download</div>
            <div class="popover-desc">{% trans %}Choose from the following file types{% endtrans %}:</div>
        </div>
    </div>
    <div class="popover-body">
        <div id="popover-row-csv" class="popover-row">
            <img class="popover-icon" src="/static/img/icons/file/file_csv.png">
            <div class="popover-text">
                <div class="popover-title">{% trans %}Save as{% endtrans %} CSV</div>
                <div class="popover-desc">A table format that can be imported into a database or opened with Microsoft Excel.</div>
            </div>
            <button class="button medium" id="download-csv">{% trans %}Select{% endtrans %}</button>
        </div>
        
        <div id="popover-row-pdf" class="popover-row">
            <img class="popover-icon" src="/static/img/icons/file/file_pdf.png">
            <div class="popover-text">
                <div class="popover-title">{% trans %}Save as{% endtrans %} PDF</div>
                <div class="popover-desc">{% trans %}Similar to SVG files, PDF files are vector-based and can be dynamically scaled.{% endtrans %}</div>
            </div>
            <button class="button medium" id="download-pdf">{% trans %}Select{% endtrans %}</button>
        </div>
    
        <div id="popover-row-png" class="popover-row">
            <img class="popover-icon" src="/static/img/icons/file/file_png.png">
            <div class="popover-text">
                <div class="popover-title">{% trans %}Save as{% endtrans %} PNG</div>
                <div class="popover-desc">{% trans %}A standard image file, similar to JPG or BMP.{% endtrans %}</div>
            </div>
            <button class="button medium" id="download-png">{% trans %}Select{% endtrans %}</button>
        </div>

        <div id="popover-row-svg" class="popover-row">
            <img class="popover-icon" src="/static/img/icons/file/file_svg.png">
            <div class="popover-text">
                <div class="popover-title">{% trans %}Save as{% endtrans %} SVG</div>
                <div class="popover-desc">{% trans %}A vector-based file that can be resized without worrying about pixel resolution.{% endtrans %}</div>
            </div>
            <button class="button medium" id="download-svg">{% trans %}Select{% endtrans %}</button>
        </div>
    </div>
</div>   