<div id="graphs-enrollments" class="container">
    <nav class="nav-graph col-xs-12 col-md-3" >
        <h3>{% trans %}Preview{% endtrans %}:</h3>
        <div class="list-group panel">
            <h4>{% trans %}Universities{% endtrans %}</h4>
            <a href="/{{ g.locale }}/embed/tree_map/hedu/{{location.id if location.id else 'all'}}/all/{{major.id if major.id else 'all'}}/university/?color=color&depth=university_5&size=enrolled" target="graphs-frame-enrollments" class="list-group-item">TreeMap</a>
            <h4>{% trans %}Municipality{% endtrans %}</h4>
            <a href="/{{ g.locale }}/embed/geo_map/hedu/{{location.id if location.id else 'all'}}/all/{{major.id if major.id else 'all'}}/bra/?color=enrolled" target="graphs-frame-enrollments" class="list-group-item">{% trans %}Map{% endtrans %}</a>
            <a href="/{{ g.locale }}/embed/stacked/hedu/{{location.id if location.id else 'all'}}/all/{{major.id if major.id else 'all'}}/bra/?y=enrolled&layout=value&order=color" target="graphs-frame-enrollments" class="list-group-item">{% trans %}Stacked{% endtrans %}</a>
            <a href="/{{ g.locale }}/embed/tree_map/hedu/{{location.id if location.id else 'all'}}/all/{{major.id if major.id else 'all'}}/bra/?color=color&depth=bra_3&size=enrolled" target="graphs-frame-enrollments" class="list-group-item">TreeMap</a>
            <h4>{% trans %}Students Situation{% endtrans %}</h4>
            <a href="/{{ g.locale }}/embed/line/hedu/{{location.id if location.id else 'all'}}/all/{{major.id if major.id else 'all'}}/type/?y=students&scale=linear&controls=true&year=2009_2013" target="graphs-frame-enrollments" class="list-group-item">{% trans %}Line{% endtrans %}</a>
            <h4>{% trans %}Shift{% endtrans %}</h4>
            <a href="/{{ g.locale }}/embed/stacked/hedu/{{location.id if location.id else 'all'}}/all/{{major.id if major.id else 'all'}}/time/?y=students&layout=share&order=color&controls=true&year=2009_2013" target="graphs-frame-enrollments" class="list-group-item">{% trans %}Stacked{% endtrans %}</a>
        </div>
    </nav>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="/{{ g.locale }}/embed/tree_map/hedu/{{location.id if location.id else 'all'}}/all/{{major.id if major.id else 'all'}}/university/?color=color&depth=university_5&size=enrolled"
                name="graphs-frame-enrollments"
                id="graphs-frame-enrollments"
                class="embed-responsive-item" >
        </iframe>
    </div>