<a href="/pt/embed/tree_map/hedu/{{header.bra_id if header.bra_id else 'all'}}/all/{{header.id if header.id else 'all'}}/university/?color=color&depth=university_5&size=enrolled" target="frame-tab-enrollments">Universidades - TreeMap</a></br>

<a href="" target="frame-tab-enrollments">Municipio</a></br>

       <a href="/pt/embed/geo_map/hedu/{{header.bra_id if header.bra_id else 'all'}}/all/{{header.id if header.id else 'all'}}/bra/?color=enrolled" target="frame-tab-enrollments">&nbsp Mapa</a>

        <a href="/pt/embed/stacked/hedu/{{header.bra_id if header.bra_id else 'all'}}/all/{{header.id if header.id else 'all'}}/bra/?y=enrolled&layout=value&order=color" target="frame-tab-enrollments">&nbsp Evoluçāo</a>

        <a href="/pt/embed/tree_map/hedu/{{header.bra_id if header.bra_id else 'all'}}/all/{{header.id if header.id else 'all'}}/bra/?color=color&depth=bra_3&size=enrolled" target="frame-tab-enrollments">&nbsp TreeMap</a> </br>

<a href="/pt/embed/line/hedu/{{header.bra_id if header.bra_id else 'all'}}/all/{{header.id if header.id else 'all'}}/type/?y=students&scale=linear&controls=true&year=2009_2013" target="frame-tab-enrollments">Situaçāo dos Estudantes - Linhas</a></br>

<a href="/pt/embed/stacked/hedu/{{header.bra_id if header.bra_id else 'all'}}/all/{{header.id if header.id else 'all'}}/time/?y=students&layout=share&order=color&controls=true&year=2009_2013" target="frame-tab-enrollments">Turno - Evoluçāo</a></br>

 </div>

<iframe name="frame-tab-enrollments" id="frame-tab-enrollments" width='684' height='350' src='/pt/embed/tree_map/hedu/{{header.bra_id if header.bra_id else 'all'}}/all/{{header.id if header.id else 'all'}}/university/?color=color&depth=university_5&size=enrolled" target="frame-tab-enrollments' frameborder='0'></iframe>