<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<!-- BREADCRUMB -->
<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('general.home') }}">Home</a>
            </li>
            <li {{ 'class="active"' if not location else '' }}>
                <a href="#" title="Trocar" onclick="start_selector('Major');"> {{ major.name() }}</a>
            </li>
        </ol>
    </div>
</div>
<!-- BREADCRUMB -->

<section id="header" class="header">
    <div class="container">
        <div class="name bg-dots" data-stellar-background-ratio="0.2">
            <h1 class="col-xs-offset-0 col-sm-offset-4 col-md-offset-3 p-w-xs">
                {{ major.name() }} <a href="#" title="Trocar" onclick="start_selector('Major');"> (trocar)</a>
            </h1>
        </div>
        <span class="portrait dv-course-hedu-{{ major.id[0:2] }} hidden-xs"></span>
    </div>
</section>

<section id="profile" class="profile">
    <div class="container">
        <nav class="col-sm-5 col-md-4 col-lg-3">
            <ul class="nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#general"
                       aria-controls="general"
                       role="tab"
                       data-major="{{ major.id }}"
                       data-location="{{ location.id }}"
                       data-toggle="tab">Geral</a>
                </li>
                <li role="presentation">
                    <a href="#enrollments"
                       aria-controls="enrollments"
                       role="tab"
                       graph
                       data-major="{{ major.id }}"
                       data-location="{{ location.id }}"
                       data-toggle="tab">Matrículas</a>
                </li>
            </ul>
        </nav>

        <div class="tab-content col-sm-7 col-md-8 col-lg-9">
            {% include "major/tab-general.html" %}
            {% include "major/tab-enrollments.html" %}
        </div>
    </div>
</section>

<section id="graphs" class="graphs bg-gray">
</section>
{% endblock content %}

