<div role="tabpanel" class="tab-pane" id="enrollments">
    <p>{{ body.profile }}</p>
    <h2>{% trans %}Enrollments{% endtrans %}</h2>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            <th>
                                {% trans %}Main University{% endtrans %}
                                <small>{% trans %}by Number of Enrolled Students{% endtrans %}</small>
                            </th>
                            <th>
                                {% trans %}Main Municipality{% endtrans %}
                                <small>{% trans %}by Number of Enrolled Students{% endtrans %}</small>
                            </th>
                            <th>
                                {% trans %}Main University{% endtrans %}
                                <small>{% trans %}by Number of Entering Students{% endtrans %}</small>
                            </th>
                            <th>
                                {% trans %}Main Municipality{% endtrans %}
                                <small>{% trans %}by Number of Entering Students{% endtrans %}</small>
                            </th>
                            <th>
                                {% trans %}Main University{% endtrans %}
                                <small>{% trans %}by Number of Graduates{% endtrans %}</small>
                            </th>
                            <th>
                                {% trans %}Main Municipality{% endtrans %}
                                <small>{% trans %}by Number of Graduates{% endtrans %}</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="label">{{ body.university_with_more_enrolled }}</p>
                                <div class="number">
                                    <strong class="counter">{{ body.highest_enrolled_number_by_university | max_digits(3) }}</strong><span>{{ body.highest_enrolled_number_by_university | magnitude }}</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{ body.municipality_with_more_enrolled }}</p>
                                <div class="number">
                                    <strong class="counter">{{ body.highest_enrolled_number_by_municipality | max_digits(3) }}</strong><span>{{ body.highest_enrolled_number_by_municipality | magnitude }}</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{ body.university_with_more_entrants}}</p>
                                <div class="number">
                                    <strong class="counter">{{ body.highest_entrant_number_by_university | max_digits(3) }}</strong><span>{{ body.highest_entrant_number_by_university | magnitude }}</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{ body.municipality_with_more_entrants }}</p>
                                <div class="number">
                                    <strong class="counter">{{ body.highest_entrant_number_by_municipality | max_digits(3) }}</strong><span>{{ body.highest_entrant_number_by_municipality | magnitude }}</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{ body.university_with_more_graduates }}</p>
                                <div class="number">
                                    <strong class="counter">{{ body.highest_graduate_number_by_university | max_digits(3) }}</strong><span>{{ body.highest_graduate_number_by_university | magnitude }}</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{ body.municipality_with_more_graduates }}</p>
                                <div class="number">
                                    <strong class="counter">{{ body.highest_graduate_number_by_municipality | max_digits(3) }}</strong><span>{{ body.highest_graduate_number_by_municipality | magnitude }}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
