<div id="graphs-trade-partner" class="container">
    <nav class="nav-graph col-xs-12 col-sm-3 col-md-3" >
        <h3>{%trans%}Preview{%endtrans%}:</h3>
          <div class="list-group panel">
            <h4>{% trans %}Trade Balance{% endtrans %}</h4>
            <a href="#trade-balance-product" class="list-group-item" data-toggle="collapse" data-parent="#trade-balance-product">{% trans %}Product{% endtrans %}</a>
            <div class="collapse" id="trade-balance-product">
                <a href="/{{ g.locale }}/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/balance/?time=year"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'trade-balance-product-line' or not graph }}" data-parent="#trade-balance-product">
                    {% trans %}Line{% endtrans %}
                </a>
                <a href="/{{ g.locale }}/line/secex/type/value?values=value+kg&product={{ product.id }}{{ '&id_ibge=%s' % id_ibge if id_ibge }}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-trade-balance-product-line'}}" data-parent="#new-api-trade-balance-product">
                    Line New API
                </a>
            </div>
            <h4>{%trans%}Exports By{%endtrans%}</h4>
            {% if not is_municipality%}
            <a href="#exports-municipality" class="list-group-item" data-toggle="collapse" data-parent="#exports-municipality">{%trans%}Municipality{%endtrans%}</a>
            <div class="collapse" id="exports-municipality">
                <a href="/{{ g.locale }}/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?size=export_val&depth=bra_9&color=color"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'exports-municipality-tree_map'}}" data-parent="#exports-municipality">
                    TreeMap
                </a>
                <a href="/{{ g.locale }}/tree_map/secex/municipality/value?year=2016&type=export{% if product.id %}&product={{ product.id }}{% endif %}{{ '&id_ibge=%s' % id_ibge if id_ibge }}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-exports-municipality-tree_map'}}" data-parent="#new-api-exports-municipality">
                    TreeMap new API
                </a>
                <a href="/{{ g.locale }}/embed/geo_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?color=export_val"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'exports-municipality-geo_map'}}" data-parent="#exports-municipality">
                    {%trans%}Map{%endtrans%}
               </a>                
               <a href="/{{ g.locale }}/map/secex/value/{{ id_ibge if id_ibge }}?values=value+kg&type=export{% if product.id %}&product={{ product.id }}{% endif %}&year=2014"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-exports-municipality-geo_map'}}" data-parent="#new-api-exports-municipality">
                    {%trans%}Map new API{%endtrans%}
               </a>
                <a href="/{{ g.locale }}/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?y=export_val&layout=value&sort=asc"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'exports-municipality-stacked'}}" data-parent="#exports-municipality">
                    {%trans%}Stacked{%endtrans%}
                </a>
                <a href="/{{ g.locale }}/stacked/secex/municipality/value?values=value+kg&group=region&depths=region+state+mesoregion+microregion+municipality&type=export{% if product.id %}&product={{ product.id }}{% endif %}{{ '&id_ibge=%s' % id_ibge if id_ibge }}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-exports-municipality-stacked'}}" data-parent="#new-api-exports-municipality">
                    Stacked new API
                </a>
            </div>
            {% endif %}
            <a href="#exports-destination" class="list-group-item" data-toggle="collapse" data-parent="#exports-destination">{%trans%}Destination{%endtrans%}</a>
            <div class="collapse" id="exports-destination">
                <a href="/{{ g.locale }}/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?size=export_val&depth=wld_5"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'exports-destination-tree_map'}}" data-parent="#exports-destination">
                    TreeMap
                </a>
                <a href="/{{ g.locale }}/tree_map/secex/country/value?year=2016&type=export{% if product.id %}&product={{ product.id }}{% endif %}{{ '&id_ibge=%s' % id_ibge if id_ibge }}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-exports-destination-tree_map'}}" data-parent="#new-api-exports-destination">
                    TreeMap new API
                </a>
                <a href="/{{ g.locale }}/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=export_val&color=color"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'exports-destination-line'}}" data-parent="#exports-destination">
                    {%trans%}Line{%endtrans%}
               </a>
               <a href="/{{ g.locale }}/line/secex/country/value?values=value+kg&type=export&product={{ product.id }}{{ '&id_ibge=%s' % id_ibge if id_ibge }}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-exports-destination-line'}}" data-parent="#new-api-exports-destination">
                    Line New API
                </a>
                <a href="/{{ g.locale }}/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=export_val?y=export_val&time=year&order=color&layout=value&sort=asc&color=color"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'exports-destination-stacked'}}" data-parent="#exports-destination">
                    {%trans%}Stacked{%endtrans%}
                </a>
                <a href="/{{ g.locale }}/stacked/secex/country/value?values=value+kg&group=continent&depths=continent+country&type=export{% if product.id %}&product={{ product.id }}{% endif %}{{ '&id_ibge=%s' % id_ibge if id_ibge }}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-exports-destination-stacked'}}" data-parent="#new-api-exports-destination">
                    Stacked new API
                </a>
            </div>
            <a href="#exports-port" class="list-group-item" data-toggle="collapse" data-parent="#exports-port">{%trans%}Port{%endtrans%}</a>
            <div class="collapse" id="exports-port">
                <a href="/{{ g.locale }}/line/secex/port/value?&values=value+kg&type=export&product={{ product.id }}{{ '&id_ibge=%s' % id_ibge if id_ibge}}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-exports-port-line'}}" data-parent="#exports-port">
                    Line new API
                </a>
                <a href="/{{ g.locale }}/bar/secex/value,kg/port?type=export&options=singlecolor,month&product={{product.id}}{{ '&id_ibge=%s' % id_ibge if id_ibge}}{{ '&subtitle=%s' % ('exporting_municipality' if depth == 'municipality' else 'state_production') }}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'exports-port-bar'}}" data-parent="#exports-destination">
                    Bar New API
                <a href="/{{ g.locale }}/tree_map/secex/port/value?values=value+kg&type=export&year=2016&product={{ product.id }}{{ '&id_ibge=%s' % id_ibge if id_ibge }}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-exports-port-tree_map'}}" data-parent="#new-api-exports-port">
                    TreeMap new API
                </a>
            </div>
            <h4>{%trans%}Imports By{%endtrans%}</h4>
            {% if not is_municipality%}
            <a href="#imports-municipality" class="list-group-item" data-toggle="collapse" data-parent="#imports-municipality">{%trans%}Municipality{%endtrans%}</a>
            <div class="collapse" id="imports-municipality">
                <a href="/{{ g.locale }}/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?size=import_val&depth=bra_9&color=color"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'imports-municipality-tree_map'}}" data-parent="#imports-municipality">
                    TreeMap
                </a>
                <a href="/{{ g.locale }}/tree_map/secex/municipality/value?year=2016&type=import{% if product.id %}&product={{ product.id }}{% endif %}{{ '&id_ibge=%s' % id_ibge if id_ibge }}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-imports-municipality-tree_map'}}" data-parent="#new-api-imports-municipality">
                    TreeMap new API
                </a>
                <a href="/{{ g.locale }}/embed/geo_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?color=import_val"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'imports-municipality-geo_map'}}" data-parent="#imports-municipality">
                    {%trans%}Map{%endtrans%}
               </a>
                <a href="/{{ g.locale }}/map/secex/value/{{ id_ibge if id_ibge }}?values=value+kg&type=import{% if product.id %}&product={{ product.id }}{% endif %}&year=2014"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-imports-municipality-geo_map'}}" data-parent="#new-api-imports-municipality">
                    {%trans%}Map new API{%endtrans%}
               </a>
                <a href="/{{ g.locale }}/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?y=import_val&time=year&order=color&layout=value&sort=asc&color=color"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'imports-municipality-stacked'}}" data-parent="#imports-municipality">
                    {%trans%}Stacked{%endtrans%}
                </a>
                <a href="/{{ g.locale }}/stacked/secex/municipality/value?values=value+kg&group=region&depths=region+state+mesoregion+microregion+municipality&type=import{% if product.id %}&product={{ product.id }}{% endif %}{{ '&id_ibge=%s' % id_ibge if id_ibge }}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-imports-municipality-stacked'}}" data-parent="#new-api-imports-municipality">
                    Stacked new API
                </a>
            </div>
            {% endif %}
            <a href="#imports-origin" class="list-group-item" data-toggle="collapse" data-parent="#imports-origin">{%trans%}Origin{%endtrans%}</a>
            <div class="collapse" id="imports-origin">
                <a href="/{{ g.locale }}/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?size=import_val&depth=wld_5"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'imports-origin-tree_map'}}" data-parent="#imports-origin">
                    TreeMap
                </a>
                <a href="/{{ g.locale }}/tree_map/secex/country/value?year=2016&type=import{% if product.id %}&product={{ product.id }}{% endif %}{{ '&id_ibge=%s' % id_ibge if id_ibge }}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-imports-origin-tree_map'}}" data-parent="#new-api-imports-origin">
                    TreeMap new API
                </a>
                <a href="/{{ g.locale }}/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=import_val&time=year&color=color"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'imports-origin-line'}}" data-parent="#imports-origin">
                    {%trans%}Line{%endtrans%}
               </a>
               <a href="/{{ g.locale }}/line/secex/country/value?values=value+kg&type=import&product={{ product.id }}{{ '&id_ibge=%s' % id_ibge if id_ibge }}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-imports-origin-line'}}" data-parent="#new-api-imports-origin">
                    Line New API
                </a>
                <a href="/{{ g.locale }}/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=import_val&time=year&order=color&layout=value&sort=asc&color=color"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'imports-origin-stacked'}}" data-parent="#imports-origin">
                    {%trans%}Stacked{%endtrans%}
                </a>
                <a href="/{{ g.locale }}/stacked/secex/country/value?values=value+kg&group=continent&depths=continent+country&type=import{% if product.id %}&product={{ product.id }}{% endif %}{{ '&id_ibge=%s' % id_ibge if id_ibge }}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-imports-origin-stacked'}}" data-parent="#new-api-imports-origin">
                    Stacked new API
                </a>
            </div>
            <a href="#imports-port" class="list-group-item" data-toggle="collapse" data-parent="#imports-port">{%trans%}Port{%endtrans%}</a>
            <div class="collapse" id="imports-port">
                <a href="/{{ g.locale }}/line/secex/port/value?&values=value+kg&type=import&product={{ product.id }}{{ '&id_ibge=%s' % id_ibge if id_ibge}}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-imports-port-line'}}" data-parent="#new-api-imports-port">
                    Line new API
                </a>
                <a href="/{{ g.locale }}/bar/secex/value,kg/port?type=import&options=singlecolor,month&product={{product.id}}{{ '&id_ibge=%s' % id_ibge if id_ibge}}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'imports-port-bar'}}" data-parent="#imports-destination">
                    Bar New API
                  <a href="/{{ g.locale }}/tree_map/secex/port/value?values=value+kg&type=import&year=2016&product={{ product.id }}{{ '&id_ibge=%s' % id_ibge if id_ibge}}"
                   target="graphs-frame-trade-partner" class="list-group-item {{'selected' if graph.menu == 'new-api-imports-port-tree_map'}}" data-parent="#new-api-imports-port">
                    TreeMap new API
                </a>
            </div>
        </div>
    </nav>
    <div class="responsive-frame col-xs-12 col-sm-9 col-md-9">
        <div class="embed-responsive responsive-wrapper">
            <iframe src="{% if not graph %}/{{ g.locale }}/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/balance/?time=year
                         {% else %} /{{ g.locale }}/{{ graph.url }} {% endif %}"
                    name="graphs-frame-trade-partner"
                    id="graphs-frame-trade-partner"
                    class="embed-responsive-item">
            </iframe>
        </div>
    </div>
</div>
