<div id="graphs-trade-partner" class="container">
    <nav class="nav-graph col-xs-12 col-md-3" >
        <h3>Visualize:</h3>
        <div class="list-group panel">
            <h4 class="m-n">
                <a href="/pt/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/balance/?"
                   class="list-group-item" target="graphs-frame-trade-partner">
                    Balança Comercial
                </a>
            </h4>
            <h4>Exportações por</h4>
            <a href="#exports-municipality" class="list-group-item" data-toggle="collapse" data-parent="#exports-municipality">Município</a>
            <div class="collapse" id="exports-municipality">
                <a href="/pt/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?size=export_val"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#exports-municipality">
                    TreeMap
                </a>
                <a href="/pt/embed/geo_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?color=export_val"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#exports-municipality">
                    Mapa
               </a>
                <a href="/pt/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?y=export_val&layout=value&sort=asc"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#exports-municipality">
                    Evoluçāo
                </a>
            </div>
            <a href="#exports-destination" class="list-group-item" data-toggle="collapse" data-parent="#exports-destination">Destino</a>
            <div class="collapse" id="exports-destination">
                <a href="/pt/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?size=export_val&depth=wld_5"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#exports-destination">
                    TreeMap
                </a>
                <a href="/pt/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=export_val&color=color"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#exports-destination">
                    Linha
               </a>
                <a href="/pt/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=export_val?y=export_val&time=year&order=color&layout=value&sort=asc&color=color"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#exports-destination">
                    Evoluçāo
                </a>
            </div>
            <h4>Importações por</h4>
            <a href="#imports-municipality" class="list-group-item" data-toggle="collapse" data-parent="#imports-municipality">Município</a>
            <div class="collapse" id="imports-municipality">
                <a href="/pt/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?size=import_val&depth=bra_9&color=color"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#imports-municipality">
                    TreeMap
                </a>
                <a href="/pt/embed/geo_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?color=import_val"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#imports-municipality">
                    Mapa
               </a>
                <a href="/pt/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?y=import_val&time=year&order=color&layout=value&sort=asc&color=color"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#imports-municipality">
                    Evoluçāo
                </a>
            </div>
            <a href="#imports-origin" class="list-group-item" data-toggle="collapse" data-parent="#imports-origin">Origem</a>
            <div class="collapse" id="imports-origin">
                <a href="/pt/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?size=import_val&depth=wld_5"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#imports-origin">
                    TreeMap
                </a>
                <a href="/pt/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=import_val&time=year&color=color"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#imports-origin">
                    Linha
               </a>
                <a href="/pt/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=import_val&time=year&order=color&layout=value&sort=asc&color=color"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#imports-origin">
                    Evoluçāo
                </a>
            </div>
        </div>
    </nav>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="/pt/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/balance/?"
                name="graphs-frame-trade-partner"
                id="graphs-trade-partner"
                class="embed-responsive-item" >
        </iframe>
    </div>
</div>
