<div id="graph-trade-partner" class="container">
    <div class="nav-graph col-xs-12 col-md-3">
        <div class="form-group">
            <h4>Visualize:</h4>
            <div class="list-wrap">
                <button type="button" class="list-group-item">Ensino Superior por</button>
                <div class="list-group">
                    <a target="category-frame"
                       class="list-group-item"
                       href="http://pt.dataviva.info/apps/embed/tree_map/hedu/4mg/all/all/university/?color=color&depth=university_5&size=enrolled">
                        Universidades - TreeMap
                    </a>

                    <a target="category-frame"
                       class="list-group-item"
                       href="http://pt.dataviva.info/apps/embed/tree_map/hedu/4mg/all/all/course_hedu/?color=color&depth=course_hedu_6&size=enrolled">
                        Cursos - TreeMap
                    </a>
                </div>
            </div>
            <div class="list-wrap">
                <button type="button" class="list-group-item">Educaçāo Profissional por</button>
                <div class="list-group">
                    <a target="category-frame"
                       class="list-group-item"
                       href="http://pt.dataviva.info/apps/embed/tree_map/sc/4mg/all/all/school/?color=color&depth=school_type_id&size=enrolled">
                        Universidades - TreeMap
                    </a>

                    <a target="category-frame"
                       class="list-group-item"
                       href="http://pt.dataviva.info/apps/embed/tree_map/hedu/4mg/all/all/course_hedu/?color=color&depth=course_hedu_6&size=enrolled">
                        Cursos - TreeMap
                    </a>
                </div>
            </div>
            <div class="list-wrap">
                <button type="button" class="list-group-item">Educaçāo Básica por</button>
                <div class="list-group">
                    <a target="category-frame"
                       class="list-group-item"
                       href="http://pt.dataviva.info/apps/embed/tree_map/hedu/4mg/all/all/university/?color=color&depth=university_5&size=enrolled">
                        Universidades - TreeMap
                    </a>

                    <a target="category-frame"
                       class="list-group-item"
                       href="http://pt.dataviva.info/apps/embed/tree_map/hedu/4mg/all/all/course_hedu/?color=color&depth=course_hedu_6&size=enrolled">
                        Cursos - TreeMap
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe name="graphs-trade-partner" id="graphs-trade-partner" class="embed-responsive-item" src="/pt/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/balance/?"></iframe>
    </div>
</div>



<a href="/pt/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/balance/"
        target="frame-tab-comercio-internacional">Balança Comercial</a></br>

<a href="" target="frame-tab-comercio-internacional">Exportações por</a> </br>
    <a href="" target="frame-tab-comercio-internacional">&nbsp Municipio :</a>

        <a href="/pt/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?size=export_val" target="frame-tab-comercio-internacional">&nbsp TreeMap</a>

        <a href="/pt/embed/geo_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?color=export_val"
        target="frame-tab-comercio-internacional">&nbsp Mapa</a>

        <a href="/pt/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?y=export_val&layout=value&sort=asc" target="frame-tab-comercio-internacional">&nbsp Evoluçāo</a></br>

    <a href="" target="frame-tab-comercio-internacional">&nbsp Destino : </a>

        <a href="/pt/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?size=export_val&depth=wld_5" target="frame-tab-comercio-internacional">&nbsp TreeMap</a>

        <a href="/pt/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=export_val&color=color" target="frame-tab-comercio-internacional">&nbsp Linha</a>

        <a href="/pt/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=export_val?y=export_val&time=year&order=color&layout=value&sort=asc&color=color" target="frame-tab-comercio-internacional">&nbsp Evoluçāo</a> </br>

<a href="" target="frame-tab-comercio-internacional">Importações por</a> </br>
    <a href="" target="frame-tab-comercio-internacional">&nbsp Municipio : </a>

        <a href="/pt/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?size=import_val&depth=bra_9&color=color" target="frame-tab-comercio-internacional">&nbsp TreeMap</a>

        <a href="/pt/embed/geo_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?color=import_val" target="frame-tab-comercio-internacional">&nbsp Mapa</a>

        <a href="/pt/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?y=import_val&time=year&order=color&layout=value&sort=asc&color=color" target="frame-tab-comercio-internacional">&nbsp Evoluçāo</a></br>


    <a href="" target="frame-tab-comercio-internacional">&nbsp Origem : </a>

        <a href="/pt/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?size=import_val&depth=wld_5" target="frame-tab-comercio-internacional">&nbsp TreeMap</a>

        <a href="/pt/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=import_val&time=year&color=color" target="frame-tab-comercio-internacional">&nbsp Linha</a>

        <a href="/pt/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=import_val&time=year&order=color&layout=value&sort=asc&color=color" target="frame-tab-comercio-internacional">&nbsp Evoluçāo</a></br>



<iframe name="frame-tab-comercio-internacional" id="frame-tab-comercio-internacional" width='684' height='350' src='/pt/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/balance/?' frameborder='0'></iframe>

