<!-- extend from base layout -->
{% extends "base.html" %}

<!-- Facebook Properties -->
{% block facebook_metadata %}
    <meta property="og:image" content="https://dataviva.s3.amazonaws.com/img/product/product_{{ product.id if product.img_link else 'all' }}.jpg"/>
    <meta property="og:url" content="{{url_for('product.index', product_id=product.id, tab=tab, _external=True, _scheme='http')}}{{ '?menu=' if graph.menu }}{{ graph.menu }}{{ '&url=' if graph.url }}{{ graph.url }}"/>
    <meta property="og:title" content="DataViva: {{ product.name() }}{% if not location.id %} {% trans %}in Brazil{% endtrans %}{% else %}{% if location.id | length <= 3 %}{{location.preposition('em')}} {{location.name()}}{% else %}{{location.preposition('em')}} {{location.name()}} - {{ location.abbreviation }}{% endif %}{% endif %} |
        {% if tab == 'general'%}
            {% trans %}General{% endtrans %}
        {% elif tab == 'trade-partner' %}
            {% trans %}International Trade{% endtrans %}
        {% elif tab == 'opportunities' %}
            {% trans %}Economic Opportunities{% endtrans %}
        {% endif %}"/>
    <meta property="og:description" content="
                                            {% if (product.id|length) == 2 %}
                                                {{ product.article() | capitalize }} {{ product.name() }} {% trans %}are number {%endtrans%}...
                                            {% else %}
                                                {% trans %}The products of the position of {%endtrans%}{{ product.name() }} {% trans %}are number {%endtrans%}...
                                            {% endif %}"
    />
    <meta property="og:type" content="website" />
{% endblock facebook_metadata %}

{% block content %}

<!-- BREADCRUMB -->
<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('general.home') }}">Home</a>
            </li>
            <li {{ 'class="active"' if not location else '' }}>
                <a href="#" title="Trocar" onclick="select_attr_search('bra');"> {{ product.name() }}</a>
            </li>
            {% if location %}
                <li class="active">
                    <a href="#" title="Trocar" onclick="select_attr_search('bra');"> {{ location.name() }}</a>
                </li>
            {% endif %}
        </ol>
    </div>
</div>
<!-- BREADCRUMB -->

<section id="header" class="header" style="background: url(https://dataviva.s3.amazonaws.com/img/product/product_{{ product.id if product.img_link else 'all' }}.jpg) no-repeat center center fixed; background-size: cover;">

  <div class="photo-credit">
    <div class="container">
      <a href="{{ product.img_link if product.img_link else 'https://flic.kr/p/9ej53K' }}" target="blank">
      <i class="fa fa-camera"></i> {% trans %}picture by{% endtrans %} {{ product.img_author if product.img_link else 'Jeremy Brooks' }}</a>
    </div>
  </div>

  <div class="summary-box">
    <div class="container">

        <span class="portrait dv-hs-{{ product.id[0:2] }} hidden-xs"></span>
        <h1>{{ product.name() }}
        {% if not location.id %}
          {% trans %}in Brazil{% endtrans %}
        {% else %}
          {% if location.id | length <= 3 %}
            {{location.preposition('em')}} {{location.name()}}
          {% else %}
            {{location.preposition('em')}} {{location.name()}} - {{ location.abbreviation }}
          {% endif %}
        {% endif %}
          <div class="btn-group">
              <button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans %}change{% endtrans %} <span class="caret"></span>
            </button>
              <ul class="dropdown-menu">
                <li><a href="#" onclick="select_attr('hs');">{% trans %}Product{% endtrans %}</a></li>
                <li><a href="#" onclick="select_attr_search('bra');">{% trans %}Location{% endtrans %}</a></li>
              </ul>
            </div>
          </h1>
          <span class="clearfix"></span>

        <div class="indices">
          <div class="row">
          {% if header.export_value and header.import_value %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="widget">
                <h2 class="text-left text-uppercase">{%trans%}Trade Balance{%endtrans%} ({{ header.year }})</h2>
                <div class="number">
                    USD <strong class="counter">{{ header.trade_balance | max_digits(3, True) }}</strong><br/>
                    <small class="magnitude">{% if header.trade_balance != 0 %}{{ header.trade_balance | magnitude }}{% endif %}</small>
                </div>
              </div>
            </div>
            {% endif %}
            {% if header.export_value %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="widget">
                <h2 class="text-left text-uppercase">{%trans%}Total Value Exported{%endtrans%} ({{ header.year }})</h2>
                <div class="number">
                    USD <strong class="counter">{{ header.export_value | max_digits(3, True) }}</strong><br/>
                    <small class="magnitude">{{ header.export_value | magnitude }}</small>
                </div>
              </div>
            </div>
            {% endif %}
            {% if header.export_net_weight %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="widget">
                  <h2 class="text-left text-uppercase">{%trans%}Average Price Exported{%endtrans%} ({{ header.year }})</h2>
                  <div class="number">
                      <strong class="counter">{{ header.export_net_weight | max_digits(3, True) }}</strong><br/>
                      <small class="magnitude">USD / kg</small>
                  </div>
              </div>
            </div>
            {% endif %}
            {% if header.import_value %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="widget">
                  <h2 class="text-left text-uppercase">{%trans%}Total Value Imported{%endtrans%} ({{ header.year }})</h2>
                  <div class="number">
                      USD <strong class="counter">{{ header.import_value | max_digits(3, True) }}</strong><br/>
                      <small class="magnitude">{{ header.import_value | magnitude }}</small>
                  </div>
              </div>
            </div>
            {% endif %}
            {% if header.import_net_weight %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="widget">
                <h2 class="text-left text-uppercase">{%trans%}Average Price Imported{%endtrans%} ({{ header.year }})</h2>
                <div class="number">
                    <strong class="counter">{{ header.import_net_weight | max_digits(3, True) }}</strong><br/>
                    <small class="magnitude">USD / kg</small>
                </div>
              </div>
            </div>
            {% endif %}
            {% if (product.id|length) == 6 %}
              {% if header.pci %}
              <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="widget">
                  <h2 class="text-left text-uppercase">{%trans%}Product Complexity{%endtrans%} ({{ header.year }})</h2>
                  <div class="number">
                      <strong class="counter">{{ header.pci | max_digits(3, True) }}</strong><br/>
                      <small class="magnitude">{{ header.pci | magnitude }}</small>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if location %}
                {% if header.rca_wld %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                  <div class="widget">
                    <h2 class="text-left text-uppercase">{%trans%}International RCA{%endtrans%} ({{ header.year }})</h2>
                    <div class="number">
                        <strong class="counter">{{ header.rca_wld | max_digits(3, True) }}</strong><br/>
                        <small class="magnitude">{{ header.rca_wld | magnitude }}</small>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if distance_wld %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                  <div class="widget">
                    <h2 class="text-left text-uppercase">{%trans%}International Distance{%endtrans%} ({{ header.year }})</h2>
                    <div class="number">
                        <strong class="counter">{{ header.distance_wld | max_digits(3, True) }}</strong><br/>
                        <small class="magnitude"></small>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if header.opportunity_gain_wld %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                  <div class="widget">
                    <h2 class="text-left text-uppercase">{%trans%}International Opportunity Gain{%endtrans%} ({{ header.year }})</h2>
                    <div class="number">
                        <strong class="counter">{{ header.opportunity_gain_wld | max_digits(3, True) }}</strong><br/>
                        <small class="magnitude">{{ header.opportunity_gain_wld | magnitude }}</small>
                    </div>
                  </div>
                </div>
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        </div>
    </div>
  </div>
</section>

<section id="profile" class="profile">
  <nav class="col-xs-12">
    <div class="container">
            <ul class="nav-tabs" role="tablist">
                <li role="presentation" class="{{ 'active' if not tab }}">
                    <a href="#general"
                       aria-controls="general"
                       role="tab"
                       data-id="{{ product.id }}"
                       data-location="{{ location.id }}"
                       data-toggle="tab">{%trans%}General{%endtrans%}</a>
                </li>
                <li role="presentation" class="{{ 'active' if tab == 'trade-partner' }}">
                    <a href="#trade-partner"
                       aria-controls="trade-partner"
                       role="tab"
                       graph
                       data-id="{{ product.id }}"
                       data-location="{{ location.id }}"
                       data-toggle="tab">{%trans%}International Trade{%endtrans%}</a>
                </li>
                {% if (product.id|length) == 6 %}
                <li role="presentation" class="{{ 'active' if tab == 'opportunities' }}">
                    <a href="#opportunities"
                       aria-controls="opportunities"
                       role="tab"
                       graph
                       data-id="{{ product.id }}"
                       data-location="{{ location.id }}"
                       data-toggle="tab">{%trans%}Economic Opportunities{%endtrans%}</a>
                </li>
                {% endif %}
            </ul>
    </div>
  </nav>

  <div class="container">
        <div class="tab-content col-xs-12">
            {% include "product/tab-general.html" %}
            {% include "product/tab-trade-partner.html" %}
            {% if (product.id|length) == 6 %}
                {% include "product/tab-opportunities.html" %}
            {% endif %}
        </div>
    </div>
</section>

<section id="graphs" class="graphs bg-gray">
  {% if tab != 'general' %}
    {% include "product/graphs-" + tab + ".html" %}
  {% endif %}
</section>

{% endblock content %}
