<div role="tabpanel" class="tab-pane" id="comercio-internacional">
    <h2>Comércio Internacional</h2>
    <p>{{ context.desc_international_trade}}</p>
    <h3>Estatísticas de Salário e Emprego</h3>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            <th>
                                Principal Município
                                <small>por Valor Total Exportado</small>
                            </th>
                            <th>
                                Principal Município
                                <small>por Valor Total Importado</small>
                            </th>
                            <th>
                                Principal Destino
                                <small>por Valor Total Exportado</small>
                            </th>
                            <th>
                                Principal Origem
                                <small>por Valor Total Importado</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            {% if context.bra_id_len != 9 %}

                            <td>
                                <p class="label">{{ context.main_munic_total_exp }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ context.main_munic_total_exp_value }}</strong><span>B</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{ context.main_munic_total_imp}}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ context.main_munic_total_imp_value }}</strong><span>B</span>
                                </div>
                            </td>

                            {% endif %}

                            <td>
                                <p class="label">{{ context.main_destination_total_exp }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ context.main_destination_total_exp_value }}</strong><span>B</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{ context.main_source_total_imp }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ context.main_source_total_imp_value }}</strong><span>B</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>