<div role="tabpanel" class="tab-pane active" id="geral">
    <div class="mod mod-datainfo">
        <div class="numbers-top smaller">
            <div class="row">
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">Saldo da Balança Comercial</p>
                    <div class="number">
                        R$ <strong class="counter">{{ header.trade_balance | max_digits(3) }}</strong><small>{{ header.trade_balance | magnitude }}</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">Valor Total Exportado</p>
                    <div class="number">
                        R$ <strong class="counter">{{ header.export_value | max_digits(3) }}</strong><small>{{ header.export_value | magnitude }}</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">Relação Peso Líquido(kg)/Valor Total Exportado</p>
                    <div class="number">
                        <strong class="counter">{{ header.export_net_weight | max_digits(3) }}</strong><small>{{ header.export_net_weight | magnitude }}</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">Valor Total Importado</p>
                    <div class="number">
                        <strong class="counter">{{ header.import_value | max_digits(3) }}</strong><small>{{ header.import_value | magnitude }}</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">Relação Peso Líquido(kg)/Valor Total Importado</p>
                    <div class="number">
                        <strong class="counter">{{ header.import_net_weight | max_digits(3) }}</strong><small>anos</small>
                    </div>
                </div>

                {% if context.depth == 6 %}

                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">Índice de Complexidade do Produto</p>
                    <div class="number">
                        <strong class="counter">{{ header.pci | max_digits(3) }}</strong><small>{{ header.pci | magnitude }}</small>
                    </div>
                </div>

                    {% if context.bra_id %}

                    <div class="col-xs-15 col-sm-3 item">
                        <p class="label">RCA internacional</p>
                        <div class="number">
                            <strong class="counter">{{ header.rca_wld | max_digits(3) }}</strong><small>{{ header.rca_wld | magnitude }}</small>
                        </div>
                    </div>
                    <div class="col-xs-15 col-sm-3 item">
                        <p class="label">Distância internacional</p>
                        <div class="number">
                            <strong class="counter">{{ header.distance_wld | max_digits(3) }}</strong><small>{{ header.distance_wld | magnitude }}</small>
                        </div>
                    </div>
                    <div class="col-xs-15 col-sm-3 item">
                        <p class="label">Ganho de Oportunidade internacional</p>
                        <div class="number">
                            <strong class="counter">{{ header.opportunity_gain_wld | max_digits(3) }}</strong><small>{{ header.opportunity_gain_wld | magnitude }}</small>
                        </div>
                    </div>

                    {% endif %}

                {% endif %}

                <div class="col-xs-15 col-sm-15 year">
                    Ano: {{ header.year }}
                </div>
            </div>
        </div>

        <h2>Perfil Geral</h2>
        <p>O produto {{ header.name }} é o {{ header.export_value_ranking }}&ordm em exportação e o {{ header.import_value_ranking }}&ordm em importação no Brasil.
        Em {{ header.year }}, o {{ header.name }} rendeu R${{ header.export_value | max_digits(3) }} {{ header.export_value | magnitude }} em valor de exportação,
        representando variação de {{ body.export_value_growth_in_five_years | max_digits(3 )}} em cinco anos.
        O município que mais exporta esse produto é {{ body.municipality_name_export }} e o país para o qual o Brasil mais exporta é {{ body.destination_name_export }}.</p>
        <div class="row">
            <div class="col-xs-15 col-sm-15 col-md-15">
                <h3>Comércio Internacional</h3>
                <div class="table-responsive">
                    <table class="table data-2-columns margin-none-bottom">
                        <tbody>

                            {% if context.bra_id_len != 9 %}

                            <tr>
                                <th>
                                    Principal Município por valor total exportado
                                </th>
                                <td>
                                    <p class="label">{{ body.municipality_name_export }}</p>
                                    USD <strong class="counter">{{ body.municipality_export_value | max_digits(3) }}</strong> <span>{{ body.municipality_export_value | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Município por valor total importado
                                </th>
                                <td>
                                    <p class="label">{{ body.municipality_name_import}}</p>
                                    USD <strong class="counter">{{ body.municipality_import_value | max_digits(3) }}</strong> <span>{{ body.municipality_import_value | magnitude }}</span>
                                </td>
                            </tr>

                            {% endif %}

                            <tr>
                                <th>
                                    Principal Destino por valor total exportado
                                </th>
                                <td>
                                    <p class="label">{{ body.destination_name_export }}</p>
                                    USD <strong class="counter">{{ body.destination_export_value | max_digits(3) }}</strong> <span>{{ body.destination_export_value | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Origem por valor total importado
                                </th>
                                <td>
                                    <p class="label">{{ body.origin_name_import }}</p>
                                    USD <strong class="counter">{{ body.origin_import_value | max_digits(3) }}</strong> <span>{{ body.origin_import_value | magnitude }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#comercio-internacional" aria-controls="comercio-internacional" role="tab" data-toggle="tab" class="btn btn-xs btn-dataviva">
                        mais detalhes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
