<div role="tabpanel" class="tab-pane active" id="geral">
    <div class="mod mod-datainfo">
        <div class="numbers-top smaller">
            <div class="row">

                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Saldo da Balança Comercial</p>
                    <div class="number">
                        R$ <strong class="counter">351</strong><small>bilhões</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Valor Total Exportado</p>
                    <div class="number">
                        R$ <strong class="counter">17.9</strong><small>mil</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Relação Peso Líquido(kg)/Valor Total Exportado</p>
                    <div class="number">
                        <strong class="counter">6.8</strong><small>milhões</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Valor Total Importado</p>
                    <div class="number">
                        <strong class="counter">6.8</strong><small>milhões</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Relação Peso Líquido(kg)/Valor Total Importado</p>
                    <div class="number">
                        <strong class="counter">75.3</strong><small>anos</small>
                    </div>
                </div>

                {if POSICAO}

                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Índice de Complexidade do Produto</p>
                    <div class="number">
                        <strong class="counter">17.9</strong><small>milhões</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">RCA internacional (se definida uma região, menos Brasil)</p>
                    <div class="number">
                        <strong class="counter">17.9</strong><small>milhões</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Distância internacional (se definida uma região, menos Brasil)</p>
                    <div class="number">
                        <strong class="counter">17.9</strong><small>milhões</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-2 item">
                    <p class="label">Ganho de Oportunidade internacional (se definida uma região, menos Brasil)</p>
                    <div class="number">
                        <strong class="counter">17.9</strong><small>milhões</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-15 year">
                    Ano: 2010
                </div>
            </div>
        </div>

        <h2>Perfil Geral</h2>
        <p>Minas Gerais é uma das 27 unidades federativas do Brasil, localizada na Região Sudeste do país, sendo o quarto estado com a maior área territorial e o segundo em quantidade de habitantes. Limita-se ao sul e sudoeste com São Paulo, a oeste com o Mato Grosso do Sul, a noroeste com Goiás e Distrito Federal, a norte e nordeste com a Bahia, a leste com o Espírito Santo e a sudeste com o Rio de Janeiro. Seu território é subdividido em 853 municípios, a maior quantidade dentre os estados brasileiros.</p>
        <div class="row">
            <div class="col-xs-15 col-sm-15 col-md-5">
                <h3>Comércio Internacional</h3>
                <div class="table-responsive">
                    <table class="table data-2-columns margin-none-bottom">
                        <tbody>
                            <tr>
                                <th>
                                    Principal Município por valor total exportado
                                </th>
                                <td>
                                    <p class="label">Minério de Ferro</p>
                                    USD <strong class="counter">12.2</strong> <span>bilhões</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Município por valor total importado
                                </th>
                                <td>
                                    <p class="label">China</p>
                                    USD <strong class="counter">8.82</strong> <span>bilhões</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Destino por valor total exportado
                                </th>
                                <td>
                                    USD <strong class="counter">29.3</strong> <span>bilhões</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Origem por valor total importado
                                </th>
                                <td>
                                    USD <strong class="counter">11</strong> <span>bilhões</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#comercio-internacional" aria-controls="comercio-internacional" role="tab" data-toggle="tab" class="btn btn-xs btn-dataviva">
                        mais detalhes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>