<div role="tabpanel" class="tab-pane" id="comercio-internacional">
    <h2>Comércio Internacional</h2>
    <h3>Estatísticas de Salário e Emprego</h3>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            {% if (location_id|length) != 9 %}
                            <th>
                                Principal Município
                                <small>por Valor Total Exportado</small>
                            </th>
                            <th>
                                Principal Município
                                <small>por Valor Total Importado</small>
                            </th>
                            {% endif %}
                            <th>
                                Principal Destino
                                <small>por Valor Total Exportado</small>
                            </th>
                            <th>
                                Principal Origem
                                <small>por Valor Total Importado</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if (location_id|length) != 9 %}
                            <td>
                                <p class="label">{{ body.municipality_name_export }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.municipality_export_value | max_digits(3) }}</strong><span>{{ body.municipality_export_value | magnitude }}</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{ body.municipality_name_import}}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.municipality_import_value | max_digits(3) }}</strong><span>{{ body.municipality_import_value | magnitude }}</span>
                                </div>
                            </td>
                            {% endif %}
                            <td>
                                <p class="label">{{ body.destination_name_export }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.destination_export_value | max_digits(3) }}</strong><span>{{ body.destination_export_value | magnitude }}</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{ body.origin_name_import }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.origin_import_value | max_digits(3) }}</strong><span>{{ body.origin_import_value | magnitude }}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<a href="/pt/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/balance/"
        target="frame-tab-comercio-internacional">Balança Comercial</a></br>

<a href="" target="frame-tab-comercio-internacional">Exportações por</a> </br>
    <a href="" target="frame-tab-comercio-internacional">&nbsp Municipio :</a>

        <a href="/pt/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?size=export_val" target="frame-tab-comercio-internacional">&nbsp TreeMap</a>

        <a href="/pt/embed/geo_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?color=export_val"
        target="frame-tab-comercio-internacional">&nbsp Mapa</a>

        <a href="/pt/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?y=export_val&layout=value&sort=asc" target="frame-tab-comercio-internacional">&nbsp Evoluçāo</a></br>

    <a href="" target="frame-tab-comercio-internacional">&nbsp Destino : </a>

        <a href="/pt/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?size=export_val&depth=wld_5" target="frame-tab-comercio-internacional">&nbsp TreeMap</a>

        <a href="/pt/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=export_val&color=color" target="frame-tab-comercio-internacional">&nbsp Linha</a>

        <a href="/pt/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=export_val?y=export_val&time=year&order=color&layout=value&sort=asc&color=color" target="frame-tab-comercio-internacional">&nbsp Evoluçāo</a> </br>

<a href="" target="frame-tab-comercio-internacional">Importações por</a> </br>
    <a href="" target="frame-tab-comercio-internacional">&nbsp Municipio : </a>

        <a href="/pt/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?size=import_val&depth=bra_9&color=color" target="frame-tab-comercio-internacional">&nbsp TreeMap</a>

        <a href="/pt/embed/geo_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?color=import_val" target="frame-tab-comercio-internacional">&nbsp Mapa</a>

        <a href="/pt/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/bra/?y=import_val&time=year&order=color&layout=value&sort=asc&color=color" target="frame-tab-comercio-internacional">&nbsp Evoluçāo</a></br>


    <a href="" target="frame-tab-comercio-internacional">&nbsp Origem : </a>

        <a href="/pt/embed/tree_map/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?size=import_val&depth=wld_5" target="frame-tab-comercio-internacional">&nbsp TreeMap</a>

        <a href="/pt/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=import_val&time=year&color=color" target="frame-tab-comercio-internacional">&nbsp Linha</a>

        <a href="/pt/embed/stacked/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/wld/?y=import_val&time=year&order=color&layout=value&sort=asc&color=color" target="frame-tab-comercio-internacional">&nbsp Evoluçāo</a></br>
</div>


<iframe name="frame-tab-comercio-internacional" id="frame-tab-comercio-internacional" width='684' height='350' src='/pt/embed/line/secex/{{ location.id if location else 'all' }}/{{product.id}}/all/balance/?' frameborder='0'></iframe>

