<div role="tabpanel" class="tab-pane" id="trade-partner">

    <h2>{%trans%}International Trade{%endtrans%} ({{ header.year }})</h2>

    <div class="row">

    {% if (location.id|length) != 9 %}
        {% if body.municipality_export_value %}
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="blue-box title">
                {%trans%}Main Municipality{%endtrans%}
                <small>{%trans%}by Total Value Exported{%endtrans%}</small>
            </div>
            <div class="blue-box">
                <p class="label">{{ body.municipality_name_export }} - {{ body.municipality_state_export.upper() }}</p>
                <div class="number">
                    USD <strong class="counter">{{ body.municipality_export_value | max_digits(3) }}</strong><span>{{ body.municipality_export_value | magnitude }}</span>
                </div>
            </div>
        </div>
        {% endif %}
        {% if body.municipality_import_value %}
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="blue-box title">
                {%trans%}Main Municipality{%endtrans%}
                <small>{%trans%}by Total Value Imported{%endtrans%}</small>
            </div>
            <div class="blue-box">
                <p class="label">{{ body.municipality_name_import}} - {{ body.municipality_state_import.upper() }}</p>
                <div class="number">
                    USD <strong class="counter">{{ body.municipality_import_value | max_digits(3) }}</strong><span>{{ body.municipality_import_value | magnitude }}</span>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}

        {% if body.destination_export_value and header.export_value %}
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="blue-box title">
                {%trans%}Main Destination{%endtrans%}
                <small>{%trans%}by Total Value Exported{%endtrans%}</small>
            </div>
            <div class="blue-box">
                <p class="label">{{ body.destination_name_export }}</p>
                <div class="number">
                    USD <strong class="counter">{{ body.destination_export_value | max_digits(3) }}</strong><span>{{ body.destination_export_value | magnitude }}</span>
                </div>
            </div>
        </div>
        {% endif %}

        {% if body.origin_import_value %}
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="blue-box title">
                {%trans%}Main Origin{%endtrans%}
                <small>{%trans%}by Total Value Imported{%endtrans%}</small>
            </div>
            <div class="blue-box">
                <p class="label">{{ body.origin_name_import }}</p>
                <div class="number">
                    USD <strong class="counter">{{ body.origin_import_value | max_digits(3) }}</strong><span>{{ body.origin_import_value | magnitude }}</span>
                </div>
            </div>
        </div>
        {% endif %}
    </div><!--/.row-->
</div>



            




