{% extends "templates/help.html" %}

{% block title %}Geo Map{% endblock %}

{% block body %}

<h2>What is a Geo Map?</h2>
<p>This app is the most traditional visualizaiton, showing values mapped directly onto a geographical map. Our current implementation shows municipalities within a state.</p>

<h2>Color</h2>
<p>The color of each municipality maps to a color gradient from light yellow to dark orange-red. The values associated with this gradient can be mapped to a few different data points. For industry/occupation data, we can size by total monthly wages, average monthly wage, number of employees, or number of establishments (as seen below).</p>
<div class="ui_group">
  <legend>Color</legend>
  <input type="radio" name="color_isic" value="wage" checked>
  <label for="wage">wage</label>
  <input type="radio" name="color_isic" value="wage_avg" checked>
  <label for="wage_avg">wage_avg</label>
  <input type="radio" name="color_isic" value="num_emp">
  <label for="num_emp">num_emp</label>
  <input type="radio" name="color_isic" value="num_est">
  <label for="num_est">num_est</label>
</div>

<p>For product export data, we can size the boxes by total weight (in kg) of the product traded, or total trade value (in $USD).</p>
<div class="ui_group">
  <legend>Color</legend>
  <input type="radio" name="color_hs" value="val_kg" checked>
  <label for="val_kg">val_kg</label>
  <input type="radio" name="color_hs" value="val_usd">
  <label for="val_usd">val_usd</label>
</div>

<p>The color selector is located in the app controls, and can be shown by clicking "Show App Controls" in the menu on the top right of the interface.</p>

<h2>Navigation</h2>
<p>Similar to other mapping aplications, you can use your mouse scroll wheel to zoom in and out, or use the controls in the top left corner. Clicking and dragging will pan the map in all directions.</p>

{% endblock %}

{% block js %}

  <script type="text/javascript">

    visual.toggle("color_isic");
    visual.toggle("color_hs");
    
    
  </script>
  
{% endblock %}