{% extends "templates/help.html" %}

{% block title %}{% trans %}Stacked{% endtrans %}{% endblock %}

{% block body %}

<h2>Stacked</h2>
<p>Stacked Area Charts are similar to line charts, except that the areas created underneath each line are stacked on top of one another, showing overall and granular trends simultaneously over time.</p>

<div class="topic">
	<h2>Sizing</h2>
	<p>In the Stacked Area Chart, the Y axis variable determines the size of each area. The default variable is Trade Value for product data and Total Number of Employees for employment data, but this value can be changed depending on the dataset. When changing this value, the areas on the chart will resize and reposition accordingly.</p>
</div>

<div class="topic">
	<h2>Sorting</h2>
	<p>The areas in the Stacked Area chart can be sorted by 3 different variables: Name, Value, and Sector. The order of these areas can be modified from ascending to descending, and vice versa.</p>
</div>

<div class="topic">
	<h2>Depth</h2>
	<p>By changing the depth shown, you can aggregate the areas to get a broad view of the Sectors, or go deeper to get a more granular look at the data.</p>
</div>

<div class="topic">
	<h2>Color</h2>
	<p>Color, along with the other visualizations, defaults to showing Sectors for the data classification you are viewing (whether it is products, industries, occupations, or locations).</p>
</div>

<div class="topic">
	<h2>Filter/Solo</h2>
	<p>By using the key on the bottom of the page, you can remove (filter) or single out (solo) specific Sectors of areas. Click the “X” on the right of the key to clear all filters and solos.</p>
</div>

<div class="topic">
	<h2>Layout</h2>
	<p>The behaviour of the Y axis variable can be switched between “Value” and “Market Share”. In “Value” layout, the areas are calculated on the literal value of the axis variable. In “Market Share” layout, the areas are calculated as a percentage of the overall value for each year.</p>
</div>


{% endblock %}
