{% extends "templates/help.html" %}

{% block title %}{% trans %}Tree Map{% endtrans %}{% endblock %}

{% block body %}

<h2>Tree Map</h2>
<p>Tree Maps display hierarchical data as a set of nested rectangles. Each branch of the tree is given a rectangle, which is then tiled with smaller rectangles representing sub-branches.</p>

<div class="topic">
	<h2>Sizing</h2>
	<p>In a Tree Map, each rectangle has an area proportional to a specified dimension on the data. Our default sizing is Trade Value for product data and Total Number of Employees for employment data, but this value can be changed depending on the dataset. When changing this value, the rectangles on the page will resize and reposition accordingly.</p>
</div>

<div class="topic">
	<h2>Order</h2>
	<p>The rectangles in the Tree Map are grouped by their classification’s Sector, and the Sector’s are ordered from largest to smallest, based on the sizing variable.</p>
</div>

<div class="topic">
	<h2>Depth</h2>
	<p>By changing the depth shown, you can aggregate the squares to get a broad view of the Sectors, or go deeper to get a more granular look at the data.</p>
</div>

<div class="topic">
	<h2>Color</h2>
	<p>Color, along with the other visualizations, defaults to showing Sectors for the data classification you are viewing (whether it is products, industries, occupations, or locations). In some cases, the color may be manipulated to show other values, such as growth, complexity, or opportunity gain.</p>
</div>

<div class="topic">
	<h2>Filter/Solo</h2>
	<p>By using the key on the bottom of the page, you can remove (filter) or single out (solo) specific Sectors of rectangles. Click the “X” on the right of the key to clear all filters and solos.</p>
</div>

<div class="topic">
	<h2>Year</h2>
	<p>The rectangles display data for a specific year in the dataset. By changing the year using the slider at the bottom of the app, the data associated with each rectangle will change to that new year’s data. This, in conjunction with using the play button to cycle through years, can provide helpful insights on how the data changes over time.</p>
</div>

{% endblock %}
