<h1>{% trans %}Distance{% endtrans %}</h1>
<p>
  {% autoescape false %}
  {{ _('Distance is a measure of how far the current production structure of a region is in relation to a given product, signifying the difficulty of this region to achieve a comparative advantage in this product. The idea here is that each product requires a set of capabilities, which may or may not be shared in the manufacture process of other products (%(prox)s). Products closest to other products in which the region already has comparative advantage will be more easily developed - because some of the required knowledge is already present in the region. Distance is a measure that reflects the amount of new capabilities that a region needs in order to manufacture and export a product with comparative advantage, meaning that the greater the distance, the more knowledge that needs to be acquired and the longer (or more difficult) it will be to have advantage in the export of this product.', prox = '<a href="/about/glossary/proximity/">%s</a>' % (_('proximity'))) }}
  {% endautoescape %}
</p>

<p>{% trans %}In DataViva, distance is calculated considering both world trade (International), and just Brazilian exports (Domestic).{% endtrans %}</p>