{% extends "base.html" %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="01-index.html">Home</a></li>
        <li class="active"><span>Inicie uma pesquisa<span></li>
    </ol>
    <div class="row">
        <div class="sidebar col-xs-15 col-md-4">
            <h4>Outros Recursos</h4>
            <ul class="sub-menu">
                <li><a href="07-ranking.html" title="Visualize rankings">Visualize rankings</a></li>
                <li><a href="22-construa-graficos.html" title="Construa gráficos">Construa gráficos</a></li>
                <li><a href="18-download-banco-de-dados.html" title="Download de banco de dados">Download de banco de dados</a></li>
            </ul>
        </div>
        <div class="main-content col-xs-15 col-md-11">
            <div class="mod mod-search-boxes">
                <h1 class="text-center">Inicie uma pesquisa</h1>
                <div class="profile">
                    <h2 class="text-center">Selecione um perfil para começar:</h2>
                    <div class="row">
                        <div class="col-xs-15 col-sm-5 item">
                            <a onclick="fire_wizard('entrepreneur')">
								<div class="col-xs-3 col-sm-3">
                                <img src="/static/img/icons/categories/ico-empresario.png" class="pull-left" />
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                <span>Empreendedor</span>
                                Identifique oportunidades de negócio em uma região.
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-15 col-sm-5 item">
                        	
                            <a href="#" data-toggle="modal" data-target="#modal-wizard">
                            <div class="col-xs-3 col-sm-3">
                                <img src="/static/img/icons/categories/ico-estudante.png" class="pull-left" />
                            </div>
                                <span>Estudantes e Profissionais</span>
                                Descubra oportunidades de emprego, renda e educação.
                            </a>
                        </div>
                        <div class="col-xs-15 col-sm-5 item">
                            <a href="#" data-toggle="modal" data-target="#modal-wizard">
                            	<div class="col-xs-3 col-sm-3">
                                <img src="/static/img/icons/categories/ico-analista.png" class="pull-left" />
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                <span>Analista de políticas públicas</span>
                                Analise oportunidades de políticas públicas
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <h3 class="text-center">... ou pesquise por:</h3>
                <div class="row">
                    <div class="col-xs-15 col-sm-5 item">
                        <a onclick="start_selector('Location')">
                            <span class="pull-left">Localidades Brasileiras</span>
                            <img src="/static/img/icons/categories/ico-search-localidades.png" class="pull-right" />
                            <div class="clearfix"></div>
                            <p class="clearfix">Mostrando as exportações, o emprego e os dados de educação, estatísticas e visualizações sobre a localidade brasileira escolhida.</p>
                        </a>
                    </div>
                    <div class="col-xs-15 col-sm-5 item">
                        <a onclick="start_selector('Occupation')">
                            <span class="pull-left">Ocupações</span>
                            <img src="/static/img/icons/categories/ico-search-ocupacoes.png" class="pull-right" />
                            <div class="clearfix"></div>
                            <p class="clearfix">Mostrando as exportações, o emprego e os dados de educação, estatísticas e visualizações sobre a localidade brasileira escolhida.</p>
                        </a>
                    </div>
                    <div class="col-xs-15 col-sm-5 item">
                        <a onclick="start_selector('Industry')">
                            <span class="pull-left">Atividades Econômicas</span>
                            <img src="/static/img/icons/categories/ico-search-atividades.png" class="pull-right" />
                            <div class="clearfix"></div>
                            <p class="clearfix">Mostrando as exportações, o emprego e os dados de educação, estatísticas e visualizações sobre a localidade brasileira escolhida.</p>
                        </a>
                    </div>
                    <div class="col-xs-15 col-sm-5 item">
                        <a onclick="start_selector('Product')">
                            <span class="pull-left">Produtos</span>
                            <img src="/static/img/icons/categories/ico-search-produtos.png" class="pull-right" />
                            <div class="clearfix"></div>
                            <p class="clearfix">Mostrando as exportações, o emprego e os dados de educação, estatísticas e visualizações sobre a localidade brasileira escolhida.</p>
                        </a>
                    </div>
                    <div class="col-xs-15 col-sm-5 item">
                        <a onclick="start_selector('TradingPartner')">
                            <span class="pull-left">Parceiros Comerciais</span>
                            <img src="/static/img/icons/categories/ico-search-parceiros.png" class="pull-right" />
                            <div class="clearfix"></div>
                            <p class="clearfix">Mostrando as exportações, o emprego e os dados de educação, estatísticas e visualizações sobre a localidade brasileira escolhida.</p>
                        </a>
                    </div>
                    <div class="col-xs-15 col-sm-5 item">
                        <a onclick="start_selector('University')">
                            <span class="pull-left">Universidades</span>
                            <img src="/static/img/icons/categories/ico-search-universidades.png" class="pull-right" />
                            <div class="clearfix"></div>
                            <p class="clearfix">Mostrando as exportações, o emprego e os dados de educação, estatísticas e visualizações sobre a localidade brasileira escolhida.</p>
                        </a>
                    </div>
                    <div class="col-xs-15 col-sm-5 item">
                        <a onclick="start_selector('Major')">
                            <span class="pull-left">Cursos Ensino Superior</span>
                            <img src="/static/img/icons/categories/ico-search-curso-superior.png" class="pull-right" />
                            <div class="clearfix"></div>
                            <p class="clearfix">Mostrando as exportações, o emprego e os dados de educação, estatísticas e visualizações sobre a localidade brasileira escolhida.</p>
                        </a>
                    </div>
                    <div class="col-xs-15 col-sm-5 item">
                        <a onclick="start_selector('BasicCourse')">
                            <span class="pull-left">Cursos Básicos</span>
                            <img src="/static/img/icons/categories/ico-search-curso-basico1.png" class="pull-right" />
                            <div class="clearfix"></div>
                            <p class="clearfix">Mostrando as exportações, o emprego e os dados de educação, estatísticas e visualizações sobre a localidade brasileira escolhida.</p>
                        </a>
                    </div>
                    <div class="col-xs-15 col-sm-5 item">
                        <a onclick="start_selector('Location')">
                            <span class="pull-left">Saúde</span>
                            <img src="/static/img/icons/categories/ico-search-saude.png" class="pull-right" />
                            <div class="clearfix"></div>
                            <p class="clearfix">Mostrando as exportações, o emprego e os dados de educação, estatísticas e visualizações sobre a localidade brasileira escolhida.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
