{% extends "base.html" %}

{% block content %}



<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('general.home') }}">Home</a></li>
            <li class="active">{% trans %}Start a Search{% endtrans %}</li>
        </ol>
    </div>
</div>



<div class="container m-b-lg">
    <nav class="sidebar col-md-3">
        <h3>{% trans %}Another Features{% endtrans %}</h3>
        <ul class="sub-menu">
            <li><a href="{{ url_for('rankings.index') }}" title="Visualize rankings">{% trans %}View Rankings{% endtrans %}</a></li>
            <li><a href="{{ url_for('build_graph.index') }}" title="Construa gráficos">{% trans %}Make Graphs{% endtrans %}</a></li>
            <li><a href="{{ url_for('data.index') }}" title="Download de banco de dados">{% trans %}Database Download{% endtrans %}</a></li>
        </ul>
    </nav>

    <div class="col-md-9">
        <h1 class="text-center">{% trans %}Start a Search{% endtrans %}</h1>
        <section id="profiles" class="profiles bg-blue">
            <h2 class="text-center">{% trans %}Select a profile to start{% endtrans %}:</h2>
            <div class="row">
                <div class="col-md-4 profile">
                    <a onclick="fire_wizard('entrepreneur')">
                        <i class="pull-left dv-entrepreneur"></i>
                        <h3>{% trans %}Entrepreneurs{% endtrans %}</h3>
                        <h4>{% trans %}Identify the economic profile and the business opportunities in a region{% endtrans %}</h4>
                    </a>
                </div>
                <div class="col-md-4 profile">
                    <a onclick="fire_wizard('development_agents')">
                        <i class="pull-left dv-dev-agents"></i>
                        <h3>{% trans %}Development Agents{% endtrans %}</h3>
                        <h4>{% trans %}Assess development policies setting by location{% endtrans %}</h4>
                    </a>
                </div>
                <div class="col-md-4 profile">
                    <a onclick="fire_wizard('student')">
                        <i class="pull-left dv-students"></i>
                        <h3>{% trans %}Students and Professionals{% endtrans %}</h3>
                        <h4>{% trans %}Find information about available jobs, income per occupation and courses{% endtrans %}</h4>
                    </a>
                </div>
            </div>
        </section>

        <section id="search" class="search-options">
            <h2 class="text-center">... ou pesquise por:</h2>
            <div class="col-md-6 col-lg-4 search-option">
                <a onclick="start_selector('Location')">
                    <i class="btn btn-white btn-circle dv-bra"></i>
                    <h3 class="pull-left">Localidades Brasileiras</h3>
                    <div class="clearfix"></div>
                    <p class="clearfix">Perfil geral por região, estado, mesorregião, microrregião ou município brasileiro. Visualize dados de comércio exterior, atividade econômica, empregos e educação.</p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 search-option">
                <a onclick="start_selector('Occupation')">
                    <i class="btn btn-white btn-circle dv-occupation"></i>
                    <h3 class="pull-left">Ocupações</h3>
                    <div class="clearfix"></div>
                    <p class="clearfix">Regiões que mais empregam por atividade profissional, cursos relacionados, salário médio e estatísticas de emprego por ano.</p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 search-option">
                <a onclick="start_selector('Industry')">
                    <i class="btn btn-white btn-circle dv-industry"></i>
                    <h3 class="pull-left">Atividades Econômicas</h3>
                    <div class="clearfix"></div>
                    <p class="clearfix">Informações sobre taxa de empregos por região, salário médio por tipo de ocupação, renda mensal média e oportunidades econômicas.</p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 search-option">
                <a onclick="start_selector('Product')">
                    <i class="btn btn-white btn-circle dv-product"></i>
                    <h3 class="pull-left">Produtos</h3>
                    <div class="clearfix"></div>
                    <p class="clearfix">Dados da Balança Comercial por produto, origem das importações e destino das exportações, ranking por localidade, atividades econômicas e ocupações relacionadas.</p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 search-option">
                <a onclick="start_selector('TradePartner')">
                    <i class="btn btn-white btn-circle dv-trade-partner"></i>
                    <h3 class="pull-left">Parceiros Comerciais</h3>
                    <div class="clearfix"></div>
                    <p class="clearfix">Nações que importam ou exportam produtos para o Brasil, dados de comercialização por tipo de produto ou por município comercializador.</p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 search-option">
                <a onclick="start_selector('University')">
                    <i class="btn btn-white btn-circle dv-university"></i>
                    <h3 class="pull-left">Universidades</h3>
                    <div class="clearfix"></div>
                    <p class="clearfix">Número de matrículas em cada curso ofertado, situação dos estudantes e perfis semelhantes de universidades.</p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 search-option col-lg-offset-2">
                <a onclick="start_selector('Major')">
                    <i class="btn btn-white btn-circle dv-major"></i>
                    <h3 class="pull-left">Ensino Superior</h3>
                    <div class="clearfix"></div>
                    <p class="clearfix">Lista de universidades e municípios que ofertam o curso de Educação Superior ou o campo de estudo selecionado.</p>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 search-option">
                <a onclick="start_selector('BasicCourse')">
                    <i class="btn btn-white btn-circle dv-basic-course"></i>
                    <h3 class="pull-left">Educação Básica</h3>
                    <div class="clearfix"></div>
                    <p class="clearfix">Escolas do Brasil que oferecem educação profissional e ranking de matrículas na Educação Básica por município.</p>
                </a>
            </div>
        </section>
    </div>
</div>

{% endblock content %}
