{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../../static/css/modules/home.css" />
{% endblock head %}

{% block content %}

<!-- Carousel container -->
<div id="my-pics" class="carousel slide carouselContainer" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#my-pics" data-slide-to="0" class="active"></li>
        <li data-target="#my-pics" data-slide-to="1"></li>
        <li data-target="#my-pics" data-slide-to="2"></li>
        <li data-target="#my-pics" data-slide-to="3"></li>
        <li data-target="#my-pics" data-slide-to="4"></li>
    </ol>

    <!-- Content -->
    <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="item active">
            <div class="carousel-img" style="background-image: url('/static/img/carousel/rede2.jpg');">
                <div class="carousel-item">
                    <h3 class="text-carousel">{% trans %}Do you want to know in which economic activities your city is competitive?{% endtrans %}</h3>

                    <a style="color: inherit;" href="https://www.dataviva.info/pt/build_graph/rais/4mg030000/all/all?view=Industry%20Space&graph=network"><button
                            class="button-carousel">
                            <b style="font-size:18px">
                                {% trans %}Access Here{% endtrans %}
                            </b>
                        </button></a>
                </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="item">
            <div class="carousel-img" style="background-image: url('/static/img/carousel/Gestao-NP.png');">

                <div class="carousel-item">
                    <h3 class="text-carousel">{% trans %}Explore the methodology of the new Regional Economic Complexity Index (ICR) available on DataViva{% endtrans %}</h3>

                    <a style="color: inherit;" href="https://www.dataviva.info/pt/blog/post/145"><button
                            class="button-carousel">
                            <b style="font-size:18px">
                                {% trans %}Access Here{% endtrans %}
                            </b>
                        </button></a>
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="item">
            <div class="carousel-img" style="background-image: url('/static/img/carousel/Porto.png');">
                <div class="carousel-item">
                    <h3 class="text-carousel">{% trans %}Do you want to know which are the potential markets for your product?{% endtrans %}</h3>

                    <a style="color: inherit;" href="https://www.dataviva.info/pt/blog/post/146"><button
                            class="button-carousel">
                            <b style="font-size:18px">
                                {% trans %}Access Here{% endtrans %}
                            </b>
                        </button></a>
                </div>
            </div>
        </div>

        <!-- Slide 4 -->
        <div class="item">
            <div class="carousel-img" style="background-image: url('/static/img/carousel/Complexidade.png');">

                <div class="carousel-item">
                    <h3 class="text-carousel">{% trans %}Growing challenge: the decline of high-complexity jobs in Brazil{% endtrans %}</h3>

                    <a style="color: inherit;"
                        href="https://www.dataviva.info/pt/blog/post/147">
                        <button class="button-carousel">
                            <b style="font-size:18px">
                                {% trans %}Access Here{% endtrans %}
                            </b>
                        </button></a>
                </div>
            </div>
        </div>

        <!-- Slide 5 -->
        <div class="item">
            <div class="carousel-img" style="background-image: url('/static/img/carousel/Desmatamento.png');">

                <div class="carousel-item">
                    <h3 class="text-carousel">{% trans %}The growth of raw wood exports in Brazil{% endtrans %}</h3>

                    <a style="color: inherit;" href="https://www.dataviva.info/pt/blog/post/148"><button
                            class="button-carousel">
                            <b style="font-size:18px">
                                {% trans %}Access Here{% endtrans %}
                            </b>
                        </button></a>
                </div>
            </div>
        </div>

    </div>

    <!-- Previous/Next controls -->
    <a class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-pics" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<!-- carousel -->
<section id="databases" class="databases bg-greeny">
    <div class="container text-center wow fadeInDown">
        <div class="navy-line"></div>
        <h2>{% trans %}Explore our analytical reports{% endtrans %}</h2>

    </div>
    <div class="container mt3 buttons-container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 mb1">
                <a class="no-underline h4 pt1 " onclick="select_attr('bra');" data-toggle="popover" data-placement="top" 
                data-content= "{% trans %}General profile by region, state, mesoregion microregion or city, including international trade, economic activity, employment and education data. Examples: Southeast Region, Mato Grosso, Recife, Metropolitan Area of Porto Alegre.{% endtrans %}" >
                    <div class="tc buttons-home">
                        <div class="f1 mb2" >
                            <i class="dv-bra"></i>
                        </div>
                        <div>
                            <p class="f3 capitalize">{% trans %}Brazilian Locations{% endtrans %}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb1">
                <a class="no-underline h4 pt1" onclick="select_attr('cbo');" data-toggle="popover" data-placement="top" 
                data-content="{% trans %}Regions with high employment rates by professional activity, related courses, average wage and job statistics per year. Examples: technicians, industry workers, receptionists and clinicians.{% endtrans %}">
                    <div class="tc buttons-home">
                        <div class="f1 mb2">
                            <i class="dv-occupation"></i>
                        </div>
                        <div>
                            <p class="f3 capitalize">{% trans %}Occupations{% endtrans %}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb1">
                <a class="no-underline h4 pt1" onclick="select_attr('cnae');" data-toggle="popover" data-placement="top" 
                data-content="{% trans %}Information on employment rate by region, average wage by occupation, average monthly income and economic opportunities. Examples: education, restaurants, religious organizations.{% endtrans %}">
                    <div class="tc buttons-home">
                        <div class="f1 mb2">
                            <i class="dv-industry"></i>
                        </div>
                        <div>
                            <p class="f3 capitalize">{% trans %}Economic Activities{% endtrans %}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb1">
                <a class="no-underline h4 pt1" onclick="select_attr('hs');" data-toggle="popover" data-placement="top" 
                data-content="{% trans %}Trade balance data by product, sending and receiving countries, ranking by location, economic activities and related occupations. Examples: food, art and antiques iron ore, coffee, auto parts.{% endtrans %}">
                    <div class="tc buttons-home">
                        <div class="f1 mb2">
                            <i class="dv-product"></i>
                        </div>
                        <div>
                            <p class="f3 capitalize">{% trans %}Products{% endtrans %}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb1">
                <a class="no-underline h4 pt1" onclick="select_attr('wld');" data-toggle="popover" data-placement="top" 
                data-content="{% trans %}Brazil’s top import and export partners, trade data by type of product or supplier city. Examples: Asia, Europe, Iran, USA.{% endtrans %}">
                    <div class="tc buttons-home">
                        <div class="f1 mb2">
                            <i class="dv-trade-partner"></i>
                        </div>
                        <div>
                            <p class="f3 capitalize">{% trans %}Trade Partners{% endtrans %}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb1">
                <a class="no-underline h4 pt1" onclick="select_attr('university');" data-toggle="popover" data-placement="top" 
                data-content="{% trans %}Number of enrollments in each offered course, student status and similar university profiles. Examples: USP, UFMG, PUC Goiás.{% endtrans %}">
                    <div class="tc buttons-home">
                        <div class="f1 mb2">
                            <i class="dv-university"></i>
                        </div>
                        <div>
                            <p class="f3 capitalize">{% trans %}Universities{% endtrans %}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb1">
                <a class="no-underline h4 pt1" onclick="select_attr('course_hedu');" data-toggle="popover" data-placement="top" 
                data-content="{% trans %}List of universities and cities that offer post-seconday courses or the selected field of study. Examples: education, health sciences law, production engineering, physiotherapy.{% endtrans %}">
                    <div class="tc buttons-home">
                        <div class="f1 mb2">
                            <i class="dv-major"></i>
                        </div>
                        <div>
                            <p class="f3 capitalize">{% trans %}Higher Education{% endtrans %}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb1">
                <a class="no-underline h4 pt1" onclick="select_attr('course_sc');" data-toggle="popover" data-placement="top" 
                data-content="{% trans %}Brazilian schools that provide technical education and enrollment ranking by city. Examples: elementary school, high school, nursing technician, agriculture and technician.{% endtrans %}">
                    <div class="tc buttons-home">
                        <div class="f1 mb2">
                            <i class="dv-basic-course"></i>
                        </div>
                        <div>
                            <p class="f3 capitalize">{% trans %}Basic Courses{% endtrans %}</p>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>

<section id="news" class="news bg-white">
    <div class="container text-center">
        <div class="navy-line wow fadeInDown"></div>
        <h2 class="m-b-lg wow fadeInDown">{%trans%}Headlines{%endtrans%}</h2>
        <div class="row">
            {% for publication in publications %}
            <div
                class="col-sm-4 wow {% if (loop.index + 2) % 3 == 0 %} fadeInLeftBig {% elif loop.index % 3 == 0 %} fadeInRightBig {% else %} fadeInDown {% endif %}">
                <a href="{{ url_for(publication.__tablename__.split('_')[0]+'.show', id=publication.id) }}"
                    title="{{ publication.title }}">
                    <img src="{{ publication.thumb }}" class="img-responsive">
                </a>
                <p>{{ publication.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="signup" class="signup bg-greeny">
    <div class="navy-line"></div>
    <div class="container text-center wow fadeInDown">
        <h2>{% trans %}Sign Up free and make the most of DataViva{% endtrans %}</h2>

        <p class="tagline">{% trans %}Save the graphs you need and get our free content in your e-mail. Signing up gives you access to exclusive resources to facilitate your research.{% endtrans %}</p>
        <a role="button" class="m-t-lg btn btn-primary" data-toggle="modal" data-target="#dataviva-signup">{% trans
            %}Free Sign Up{% endtrans %}</a>
    </div>
</section>

{% include "include/partners.html" %}

{% include "include/promoters.html" %}

{% endblock content %}