{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/modules/home.css" />
{% endblock head %}

{% block content %}

<!-- Carousel container -->
<div id="my-pics" class="carousel slide" data-ride="carousel" style="width:100%;margin:auto;">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#my-pics" data-slide-to="0" class="active"></li>
        <li data-target="#my-pics" data-slide-to="1"></li>
        <li data-target="#my-pics" data-slide-to="2"></li>
        <li data-target="#my-pics" data-slide-to="3"></li>
        <li data-target="#my-pics" data-slide-to="4"></li>
    </ol>

    <!-- Content -->
    <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="item active">
            <div 
                class="carousel-img"
                style="background-image: url('/static/img/carousel/Carros1.jpg');"
            >
                <div style="text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;">
                    <h2 style="font-weight: 600; font-size:50px">{% trans %}Cars{% endtrans %}</h2>
                    <h4 style="font-weight: 400; font-size: 26px; margin-bottom:20px">{% trans %}The Brazilian trade balance in cars is in surplus. This means that we export more than we import this type of product.{% endtrans %}</h4>
                    <a style="color: inherit;" href="http://dataviva.info/pt/product/178703/trade-partner"><button
                        style="background-color: #A25A6D; padding: 8px; width: 260px; border-radius: 20px;border: none;">
                        <b>
                            Confira!
                        </b>
                    </button></a>
                </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="item">
            <div 
                class="carousel-img"
                style="background-image: url('/static/img/carousel/Petroleo1.jpg');"
            >

                <div class="hero-text" style="text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;">
                    <h2 style="font-weight: 600; font-size:50px">{% trans %}Petroleum{% endtrans %}</h2>
                    <h3 style="font-weight: 400; font-size: 26px">{% trans %}Crude oil is in the top ten positions in both Brazilian rankings of imports and exports.{% endtrans %}</h3>
                    <a style="color: inherit;" href="http://dataviva.info/pt/product/052709"><button
                        style="background-color: #A25A6D; padding: 8px; width: 260px; border-radius: 20px;border: none;">
                        <b>
                            Confira!
                        </b>
                    </button></a>
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="item">
            <div 
                class="carousel-img"
                style="background-image: url('/static/img/carousel/Gestão1.jpg');"
            >
                <div class="hero-text" style="text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;">
                    <h2 style="font-weight: 600; font-size:50px">{% trans %}Business management{% endtrans %}</h2>
                    <h3 style="font-weight: 400; font-size: 26px">{% trans %}In need of business management solutions? São Paulo (SP) concentrates more professionals in the area of ​​Consulting in the activity!{% endtrans %}</h3>
                    <a style="color: inherit;" href="http://dataviva.info/pt/industry/m70204"><button
                        style="background-color: #A25A6D; padding: 8px; width: 260px; border-radius: 20px;border: none;">
                        <b>
                            Confira!
                        </b>
                    </button></a>
                </div>
            </div>
        </div>

        <!-- Slide 4 -->
        <div class="item">
            <div 
                class="carousel-img"
                style="background-image: url('/static/img/carousel/China1.jpg');"
            >

                <div class="hero-text" style="text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;">
                    <h2 style="font-weight: 600; font-size:50px">{% trans %}Largest Commercial Partner{% endtrans %}</h2>
                    <h3 style="font-weight: 400; font-size: 26px">{% trans %}Both in imports and exports, China is Brazil's largest trading partner.{% endtrans %}</h3>
                    <a style="color: inherit;" href="http://dataviva.info/pt/trade_partner/aschn/international-trade?menu=new-api-exports-municipality-tree_map&url=secex%2Fproduct%2Fvalue%3Fyear%3D2018%26type%3Dexport%26wld%3D160"><button
                        style="background-color: #A25A6D; padding: 8px; width: 260px; border-radius: 20px;border: none;">
                        <b>
                            Confira!
                        </b>
                    </button></a>
                </div>
            </div>
        </div>

        <!-- Slide 5 -->
        <div class="item">
            <div 
                class="carousel-img"
                style="background-image: url('/static/img/carousel/Ensino-Superior1.jpg');"
            >

                <div class="hero-text" style="text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;">
                    <h2 style="font-weight: 600; font-size:50px">{% trans %}Higher Education - First Place{% endtrans %}</h2>
                    <h3 style="font-weight: 400; font-size: 26px">{% trans %}In Brazil, Law courses are the ones with the most enrollments.{% endtrans %}</h3>
                    <a style="color: inherit;" href="http://dataviva.info/pt/major/380D01"><button
                        style="background-color: #A25A6D; padding: 8px; width: 260px; border-radius: 20px;border: none;">
                        <b>
                            Confira!
                        </b>
                    </button></a>
                </div>
            </div>
        </div>

    </div>

    <!-- Previous/Next controls -->
    <a class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-pics" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<!-- <section id="welcome" class="welcome bg-buildings">
    <div class="container">
        <div class="col-xs-12 col-sm-6 wow fadeInLeft">
            <h2 class="m-b-md">{% trans %}Brazil's largest platform for social and economic data search.{% endtrans %}<br/>{% trans %}Totally open and free.{% endtrans %}</h2>
            <p class="visible-md visible-lg">{% trans %}DataViva is a research tool that provides official data about exportation, economic activity, locality, education and occupation in Brazil. It consists of 11 apps that combined enable more than 1 billion visualizations.{% endtrans %}</p>
            <p>
                <a href="{{ url_for('general.search') }}" class="btn btn-primary" title="Inicie uma pesquisa">{% trans %}Get started{% endtrans %} <i class="m-l-xl fa fa-angle-right"></i></a>
            </p>
            <a href="https://www.youtube.com/embed/LCxbPfOFSDk" class="embed-video-link" title="{% trans %}Watch the site video{% endtrans %}">{% trans %}Watch the site video{% endtrans %}</a>
        </div>
        <div class="m-t-lg col-xs-12 col-sm-6 wow fadeInRight">
            <ul>
                <li data-toggle="popover" data-placement="top" data-content="{% trans %}Number of establishments per economic activity, percentage of graduated professionals per year in a given course by region, similar products by region, average wage by segment, and more… {% endtrans %}">
                    <a data-search="entrepreneurs">
                        <h3 class="text-uppercase">{% trans %}Entrepreneurs{% endtrans %}</h3>
                        <p>
                            {% trans %}Identify the economic profile and business opportunities of a region{% endtrans %}
                        </p>
                    </a>
                    <a href="https://www.youtube.com/embed/Rh_PC-GGCAs" class="embed-video-link" title="{% trans %}Watch the testimonials{% endtrans %}">{% trans %}Watch the testimonials{% endtrans %}</a>
                </li>
                <li data-toggle="popover" data-placement="top" data-content="{% trans %}Main business partners of a product by region, states that lead importation of a specific product, economic activity by locality, employment and income by segment, and more…{% endtrans %}">
                    <a data-search="development_agents">
                        <h3 class="text-uppercase">{%trans%}Development Agents{%endtrans%}</h3>
                        <p>
                            {% trans %}Assess development policies setting by location{% endtrans %}
                        </p>
                    </a>
                    <a href="https://www.youtube.com/embed/2AApavYc5iw" class="embed-video-link" title="{% trans %}Watch the testimonials{% endtrans %}">{% trans %}Watch the testimonials{% endtrans %}</a>
                </li>
                <li data-toggle="popover" data-placement="top" data-content="{% trans %}Average wage of an activity or occupation, cities with best employment rates in an activity, courses offered by region, number of students enrolled in each university and more…{% endtrans %}">
                    <a data-search="students">
                        <h3 class="text-uppercase">{% trans %}Students and Professionals{% endtrans %}</h3>
                        <p>
                            {% trans %}Find information about available jobs, income per occupation and courses{% endtrans %}
                        </p>
                    </a>
                    <a href="https://www.youtube.com/embed/Lg17I1_8DsE" class="embed-video-link" title="{% trans %}Watch the testimonials{% endtrans %}">{% trans %}Watch the testimonials{% endtrans %}</a>
                </li>
            </ul>
        </div>
    </div>
</section> -->


<section id="databases" class="databases bg-greeny">
    <div class="container text-center wow fadeInDown">
        <div class="navy-line"></div>
        <h2>{% trans %}Explore our database{% endtrans %}</h2>
        <p class="tagline">{% trans %}DataViva gathers data from several sources: Employment and Income (RAIS),
            Brazilian International Trade (SECEX/MDCI), Basic and Technical Education (Censo Escolar), Post-Secondary
            Education (Censo da Educação Superior) and UN Comtrade International Trade.{% endtrans %}</p>
        <div class="text-divider">
            <h3 class="inner">{% trans %}What would you like to know?{% endtrans %}</h3>
            <hr />
        </div>

    </div>
    <div class="container">
        <database-selector class="row wow fadeInDown" id="database-selector"></database-selector>
    </div>
</section>

<section id="news" class="news bg-white">
    <div class="container text-center">
        <div class="navy-line wow fadeInDown"></div>
        <h2 class="m-b-lg wow fadeInDown">{%trans%}Headlines{%endtrans%}</h2>
        <div class="row">
            {% for publication in publications %}
            <div
                class="col-sm-4 wow {% if (loop.index + 2) % 3 == 0 %} fadeInLeftBig {% elif loop.index % 3 == 0 %} fadeInRightBig {% else %} fadeInDown {% endif %}">
                <a href="{{ url_for(publication.__tablename__.split('_')[0]+'.show', id=publication.id) }}"
                    title="{{ publication.title }}">
                    <img src="{{ publication.thumb }}" class="img-responsive">
                </a>
                <p>{{ publication.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="signup" class="signup bg-greeny">
    <div class="navy-line"></div>
    <div class="container text-center wow fadeInDown">
        <h2>{% trans %}Sign Up free and make the most of DataViva{% endtrans %}</h2>
        <p class="tagline">{% trans %}Save the graphs you need and get our free content in your e-mail. Signing up gives
            you access to exclusive resources to facilitate your research.{% endtrans %}</p>
        <a role="button" class="m-t-lg btn btn-primary" data-toggle="modal" data-target="#dataviva-signup">{% trans
            %}Free Sign Up{% endtrans %}</a>
    </div>
</section>

{% include "include/partners.html" %}

{% include "include/promoters.html" %}

{% endblock content %}