<!doctype html>
<html lang="{{ g.locale }}">
<head>
    <meta charset="utf-8">
    <title>DataViva</title>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bgs.css">
    <link type="text/css" rel="stylesheet" href="/static/css/graphs.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/graphs-tools.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="/static/js/libs/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/d3plus.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/modules/embed/utils.dataviva.js"></script>
    <script type="text/javascript" src="/static/js/libs/modernizr.custom.js"></script>
    <script type="text/javascript" src="/static/js/libs/async.js"></script>
    <script type="text/javascript" src="/static/js/modules/embed/utils.general.js"></script>
</head>

<body>
    {% include "graphs/tools.html" %}
    <div class="embed-responsive responsive-wrapper graph-wrapper">
        <div id="tree_map"
            dataset="{{ dataset }}"
            squares="{{ squares }}"
            size="{{ size }}"
            filters="{{ filters }}"
            graph-title="{{ title }}"
            graph-subtitle="{{ subtitle }}">
        </div>
        <div id="controls"></div>
    </div>
    <div id="mask" class="loading"></div>

    <script type="text/javascript">
        var dictionary = {{ dictionary|safe }};
    </script>
    <script type="text/javascript" src="/static/js/graphs/helper.js"></script>
    <script type="text/javascript" src="/static/js/modules/tree_map.js"></script>
    <script type="text/javascript" src="/static/js/graphs/tools.js"></script>
    <script src="/static/js/plugins/jspdf/FileSaver.js"></script>
    <script src="/static/js/plugins/jspdf/jspdf.js"></script>
    <script src="/static/js/plugins/jspdf/addimage.js"></script>
</body>
