<!-- extend from about base layout -->
{% extends "about.html" %}

{% block title %}: About :: Minas Gerais{% endblock %}

{% block about_content %}
<h1>Minas Gerais</h1>

<aside>
  <div class="about-tip">
    Minas is the second largest state in Brazil in population! 
    <div class="sabrina-tip travel_tip"></div>
  </div>
  <div class="about-tip">
    It is also the largest producer of coffee and milk in the country.
    <div class="sabrina-tip worker_tip"></div>
  </div>
</aside>

<p>Minas Gerais is a south-eastern state of Brazil with the capital of Belo
  Horizonte. It is the second largest Brazilian state in population, third in 
  Gross Domestic Product, and fourth largest by area. It is also the largest 
  producer of coffee and milk in the country. The Escritorio of Minas Gerais is 
  committed to constant development and innovation and is truly a leading up 
  and coming state that is going big places.</p>
{% endblock %}
