<!-- extend from about base layout -->
{% extends "about.html" %}

{% block title %}: About :: Data Minas{% endblock %}

{% block about_content %}
  <h1>Data Minas</h1>
  
  <aside>
    <div class="about-tip">
      What is it? A analytical decision-making tool. 
      <div class="sabrina-tip worker_tip"></div>
    </div>
    <div class="about-tip">
      Who is it for? Government, private sectors, and citizens.
      <div class="sabrina-tip casual_tip"></div>
    </div>
  </aside>
  
  <p>Data Minas was a project started in August of 2012 by the Escritorio of 
    Minas Gerais in collaboration with a small start-up called Growth Ventures 
    based in Cambridge, MA. Data Minas is a tool composed of a number of 
    applications, each of which visualize data in innovative and creative ways. 
    Data Minas is intended to be used as a tool to help members of the 
    government, private sectors, as well as citizens themselves be able to 
    understand big data and and more importantly, use it to their advantage.</p>
{% endblock %}

