<form class="reply_form" action="" method="post" name="login">
  {% if r %}
  {{ reply_form.parent(value=r.id) }}
  {% else %}
  {{ reply_form.parent() }}
  {% endif %}
  {{ reply_form.hidden_tag() }}
  <p>
    <div id="wysihtml5-toolbar" style="display: none;">
      <div id="text-field-options">
        <a class="button square" data-wysihtml5-command="bold"><i class="icon-bold"></i></a>
        <a class="button square" data-wysihtml5-command="italic"><i class="icon-italic"></i></a>

        <a class="button square" data-wysihtml5-command="insertUnorderedList"><i class="icon-list-ul"></i></a>
        <a class="button square" data-wysihtml5-command="insertOrderedList"><i class="icon-list-ol"></i></a>

        <a class="button square" data-wysihtml5-command="createLink"><i class="icon-link"></i></a>
        <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
        <div data-wysihtml5-dialog="createLink" style="display: none;">
          <label class="link">
            Link:
            <input data-wysihtml5-dialog-field="href" value="http://" type="text" class="link">
          </label>
          <a class="button square link" data-wysihtml5-dialog-action="save"><i class="icon-ok"></i></a>
          <a class="button square link" data-wysihtml5-dialog-action="cancel"><i class="icon-remove"></i></a>
        </div>
      </div> 
    </div>
    {{ reply_form.reply(class="reply", id="wysihtml5-textarea", placeholder="Enter your text...") }}<br />
    {% for error in reply_form.errors.reply %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <a href="#" class="submit">
    <div class="decision submit">
      <div class="text">Reply!</div>
      <div class="arrow"></div>
    </div>
  </a>
</form>
