.bg-light-gray {
  background-color: #f3f6f3;
}

.burgundy {
  color: #a25a6d;
}

.button-left-margin {
  margin-left: auto;
}

.medium-gray {
  color: #999;
} 

.red {
  color: #c40008;
}

.search-icon-size {
  width: 60px;
  height: 50px;
}

#selectable-item .ml-auto .ba:hover {
  text-decoration: none;
  color: #fff;
  border-color: #a25a6d;
  background-color: #a25a6d;
}

#selectable-item a:hover {
  color: #a25a6d;
}

#close-x a, a:visited, a:hover, a:active {
  color: #fff;
}
