.bg-light-gray {
  background-color: #f3f6f3;
}

.button-left-margin {
  margin-left: auto;
}

.capitalize:first-letter {
  text-transform: uppercase;
}

.medium-gray {
  color: #676a6c;
} 

.red {
  color: #c40008;
}

.search-icon-size {
  width: 50px;
  height: 50px;
}

#item-title {
  font-size: 16px;
  font-weight: 400;
}

#modal-header-title {
  font-size: 18px;
  font-weight: 700;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.select-button:visited {
  color: #e97650;
}

.select-button:hover, .select-button:focus {
  color: #fff;
}

#dataviva-logo-position { 
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  height: 100px;
  width: 100px;
}