<!DOCTYPE html>
<html lang="{{ g.locale }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="{% block description %}{% trans %}DataViva is opening up data for the entire formal sector of the Brazilian economy{% endtrans %} {% trans %}through more than 100 million interactive visualizations.{% endtrans %}{% endblock %}">

    <!-- Facebook Properties -->
    <meta property="og:image" content="http://www.dataviva.info/static/img/facebook.jpg" />

    <title>
      DataViva {% block title %}{% endblock %}
    </title>
    <link rel="shortcut icon" href="/static/img/favicon.ico?v=10">

    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.reset.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.general.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.inputs.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.grid.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.nav.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.icons.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/utils/utils.selector.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/font-awesome-4.2.0/css/font-awesome.min.css" />
    <!-- <link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/d3plus.css" /> -->

    <script src="/static/js/libs/ios-orientationchange-fix.js"></script>
    <script src="/static/js/libs/localforage.js"></script>
    <script src="/static/js/libs/modernizr.custom.js"></script>
    <script src="/static/js/libs/d3.min.js"></script>
    <script src="/static/js/libs/d3plus.js"></script>
    <script src="/static/js/libs/leon.js"></script>
    <script src="/static/js/libs/moment.min.js"></script>
    <script>moment.lang("{{g.locale}}")</script>
    <script src="/static/js/utils/utils.dataviva.js"></script>
    <script src="/static/js/utils/utils.general.js"></script>

    {% block head %}
    {% endblock %}

    <script>var redirect = false</script>

    <!--[if lt IE 9]>
      <script>redirect = true</script>
    <![endif]-->

    <script>
      if(d3plus.ie && redirect) window.location = "/upgrade/"
      dataviva.language = "{{ g.locale }}";
      dataviva.dictionary = {{ g.dictionary|safe }};
    </script>

  </head>
  <body{% if g.page_type %} class="{{g.page_type}}"{% endif %}>

    {% block content %}
    {% endblock %}

    <script type="text/javascript">

      if (!window.location.origin) {
        window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
      }

      dataviva.color = "{{ g.color }}";
      dataviva.page = "{{ g.page_type }}";

      d3.selectAll(".alt_tooltip")
        .on(d3plus.client.pointer.over,function(){
          dataviva.ui.tooltip("alt_tooltip",this)
        })
        .on(d3plus.client.pointer.out,function(){
          dataviva.ui.tooltip("alt_tooltip",false)
        })

      function login() {
        var width = 400,
            height = 400,
            left = window.screenX+(window.innerWidth/2)-(width/2),
            top = window.screenY+(window.innerHeight/2)-(height/2)
        window.open('/account/login/','','width='+width+',height='+height+',\
                                        left='+left+',top='+top+',\
                                        scrollbars=no,resizable=no,\
                                        location=no,menubar=no,toolbar=no')
      }

    </script>

    {% block js %}
    {% endblock %}

    <!-- Google Analytics! -->
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42576717-1', window.location.host);
      ga('send', 'pageview');

      if ("{{g.page_type}}" !== "home") dataviva.ui.background();

      if (dataviva.resize) {
        var bg_resize = window.onresize
        window.onresize = function() {
          if (dataviva.resize_snap) dataviva.resize()
          else {
            if(this.resizeTO) clearTimeout(this.resizeTO);
            this.resizeTO = setTimeout(function() {
              dataviva.resize()
            },500)
          }
          if (bg_resize) bg_resize()
        }
      }

    </script>

  </body>
</html>
