<!-- extend from site layout -->
{% extends "site.html" %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.about.css" />
  <link type="text/css" rel="stylesheet" media="all" href="{{g.s3_host}}/static/css/libs/redactor.css" />

{% endblock %}

{% block body %}

<div id="about_nav">

    <a class="{% if page == 'ask' %}decision{% else %}help{% endif %}" href="{{ url_for('about.contact') }}">
      {% trans %}Contact Us{% endtrans %}
    </a>

    <a class="{% if page == 'data' %}decision{% else %}help{% endif %}" href="{{ url_for('about.data', data='rais') }}">
      {% trans %}About the Data{% endtrans %}
    </a>

    {% if page == 'data' %}

      <a class="{% if data == 'rais' %}decision{% else %}help{% endif %} short icon rais" href="{{ url_for('about.data', data='rais')}}">
        RAIS
      </a>

      <a class="{% if data == 'secex' %}decision{% else %}help{% endif %} short icon secex" href="{{ url_for('about.data', data='secex')}}">
        SECEX/MDIC
      </a>

      <a class="{% if data == 'sc' %}decision{% else %}help{% endif %} short icon sc" href="{{ url_for('about.data', data='sc')}}">
        {% trans %}School Census{% endtrans %}
      </a>

      <a class="{% if data == 'hedu' %}decision{% else %}help{% endif %} short icon hedu" href="{{ url_for('about.data', data='hedu')}}">
        {% trans %}Higher Education{% endtrans %}
      </a>

      <a class="{% if data == 'comtrade' %}decision{% else %}help{% endif %} short icon comtrade" href="{{ url_for('about.data', data='comtrade')}}">
        UN Comtrade
      </a>

    {% endif %}

    <a class="{% if page == 'attrs' %}decision{% else %}help{% endif %}" href="{{ url_for('about.attrs', attr='bra', depth='3') }}">
      {% trans %}Classifications{% endtrans %}
    </a>

    {% if page == 'attrs' %}

      <a class="{% if attr == 'bra' %}decision{% else %}help{% endif %} short icon bra" href="{{ url_for('about.attrs', attr='bra', depth='3')}}">
        {% trans %}Brazilian Locations{% endtrans %}
      </a>

      <a class="{% if attr == 'cnae' %}decision{% else %}help{% endif %} short icon cnae" href="{{ url_for('about.attrs', attr='cnae', depth='1')}}">
        {% trans %}Industries{% endtrans %}
      </a>

      <a class="{% if attr == 'cbo' %}decision{% else %}help{% endif %} short icon cbo" href="{{ url_for('about.attrs', attr='cbo', depth='1')}}">
        {% trans %}Occupations{% endtrans %}
      </a>

      <a class="{% if attr == 'hs' %}decision{% else %}help{% endif %} short icon hs" href="{{ url_for('about.attrs', attr='hs', depth='2')}}">
        {% trans %}Products{% endtrans %}
      </a>

      <a class="{% if attr == 'wld' %}decision{% else %}help{% endif %} short icon wld" href="{{ url_for('about.attrs', attr='wld', depth='2')}}">
        {% trans %}Export Destinations{% endtrans %}
      </a>

      <a class="{% if attr == 'course_hedu' %}decision{% else %}help{% endif %} short icon course_hedu" href="{{ url_for('about.attrs', attr='course_hedu', depth='2')}}">
        {% trans %}Majors{% endtrans %}
      </a>

      <a class="{% if attr == 'university' %}decision{% else %}help{% endif %} short icon university" href="{{ url_for('about.attrs', attr='university', depth='5')}}">
        {% trans %}Universities{% endtrans %}
      </a>

      <a class="{% if attr == 'course_sc' %}decision{% else %}help{% endif %} short icon course_sc" href="{{ url_for('about.attrs', attr='course_sc', depth='2')}}">
        {% trans %}Basic Courses{% endtrans %}
      </a>

    {% endif %}

    <a class="{% if page == 'apps' %}decision{% else %}help{% endif %}" href="{{ url_for('about.apps', app='about') }}">
      {% trans %}About the Visualizations{% endtrans %}
    </a>

    {% if page == 'apps' %}

      <a class="{% if app == 'tree_map' %}decision{% else %}help{% endif %} short icon tree_map" href="{{ url_for('about.apps', app='tree_map')}}">
        {% trans %}Tree Map{% endtrans %}
      </a>

      <a class="{% if app == 'stacked' %}decision{% else %}help{% endif %} short icon stacked" href="{{ url_for('about.apps', app='stacked')}}">
        {% trans %}Stacked{% endtrans %}
      </a>

      <a class="{% if app == 'geo_map' %}decision{% else %}help{% endif %} short icon geo_map" href="{{ url_for('about.apps', app='geo_map')}}">
        {% trans %}Geo Map{% endtrans %}
      </a>

      <a class="{% if app == 'network' %}decision{% else %}help{% endif %} short icon network" href="{{ url_for('about.apps', app='network')}}">
        {% trans %}Network{% endtrans %}
      </a>

      <a class="{% if app == 'rings' %}decision{% else %}help{% endif %} short icon rings" href="{{ url_for('about.apps', app='rings')}}">
        {% trans %}Rings{% endtrans %}
      </a>

      <a class="{% if app == 'scatter' %}decision{% else %}help{% endif %} short icon scatter" href="{{ url_for('about.apps', app='scatter')}}">
        {% trans %}Scatter{% endtrans %}
      </a>

      <a class="{% if app == 'compare' %}decision{% else %}help{% endif %} short icon compare" href="{{ url_for('about.apps', app='compare')}}">
        {% trans %}Compare{% endtrans %}
      </a>

      <a class="{% if app == 'occugrid' %}decision{% else %}help{% endif %} short icon occugrid" href="{{ url_for('about.apps', app='occugrid')}}">
        {% trans %}Occugrid{% endtrans %}
      </a>

      <a class="{% if app == 'line' %}decision{% else %}help{% endif %} short icon line" href="{{ url_for('about.apps', app='line')}}">
        {% trans %}Line{% endtrans %}
      </a>

      <a class="{% if app == 'box' %}decision{% else %}help{% endif %} short icon box" href="{{ url_for('about.apps', app='box')}}">
        {% trans %}Box Plot{% endtrans %}
      </a>

      <a class="{% if app == 'bar' %}decision{% else %}help{% endif %} short icon bar" href="{{ url_for('about.apps', app='bar')}}">
        {% trans %}Bar Chart{% endtrans %}
      </a>

    {% endif %}

    <a class="{% if page == 'crosswalk' %}decision{% else %}help{% endif %}" href="{{ url_for('about.crosswalk', attr1='hs', attr2='cnae') }}">
      {% trans %}Crosswalk Tables{% endtrans %}
    </a>

    {% if page == 'crosswalk' %}

      <a class="{% if attrs == 'hs-cnae' %}decision{% else %}help{% endif %} short" href="{{ url_for('about.crosswalk', attr1='hs', attr2='cnae')}}">
        {% trans %}HS to CNAE{% endtrans %}
      </a>

      <a class="{% if attrs == 'cnae-hs' %}decision{% else %}help{% endif %} short" href="{{ url_for('about.crosswalk', attr1='cnae', attr2='hs')}}">
        {% trans %}CNAE to HS{% endtrans %}
      </a>

      <a class="{% if attrs == 'cbo-course_hedu' %}decision{% else %}help{% endif %} short" href="{{ url_for('about.crosswalk', attr1='cbo', attr2='course_hedu')}}">
        {% trans %}CBO to Major{% endtrans %}
      </a>

      <a class="{% if attrs == 'course_hedu-cbo' %}decision{% else %}help{% endif %} short" href="{{ url_for('about.crosswalk', attr1='course_hedu', attr2='cbo')}}">
        {% trans %}Major to CBO{% endtrans %}
      </a>

    {% endif %}

    <a class="{% if page == 'glossary' %}decision{% else %}help{% endif %}" href="{{ url_for('about.glossary', term='complexity') }}">
      {% trans %}Glossary{% endtrans %}
    </a>

    {% if page == 'glossary' %}

      <a class="{% if term == 'complexity' %}decision{% else %}help{% endif %} short" href="{{ url_for('about.glossary', term='complexity')}}">
        {% trans %}Complexity{% endtrans %}
      </a>

      <a class="{% if term == 'distance' %}decision{% else %}help{% endif %} short" href="{{ url_for('about.glossary', term='distance')}}">
        {% trans %}Distance{% endtrans %}
      </a>

      <a class="{% if term == 'diversity' %}decision{% else %}help{% endif %} short" href="{{ url_for('about.glossary', term='diversity')}}">
        {% trans %}Diversity{% endtrans %}
      </a>

      <a class="{% if term == 'importance' %}decision{% else %}help{% endif %} short" href="{{ url_for('about.glossary', term='importance')}}">
        {% trans %}Importance{% endtrans %}
      </a>

      <a class="{% if term == 'opp_gain' %}decision{% else %}help{% endif %} short" href="{{ url_for('about.glossary', term='opp_gain')}}">
        {% trans %}Opportunity Gain{% endtrans %}
      </a>

      <a class="{% if term == 'proximity' %}decision{% else %}help{% endif %} short" href="{{ url_for('about.glossary', term='proximity')}}">
        {% trans %}Proximity{% endtrans %}
      </a>

      <a class="{% if term == 'rca' %}decision{% else %}help{% endif %} short" href="{{ url_for('about.glossary', term='rca')}}">
        {% trans %}Comparative Advantage{% endtrans %} (RCA)
      </a>

      <a class="{% if term == 'required' %}decision{% else %}help{% endif %} short" href="{{ url_for('about.glossary', term='required')}}">
        {% trans %}Estimated Employment{% endtrans %}
      </a>

    {% endif %}



</div>

<div id="about_content">
  <div class="lightbox">
    {% block about_content %}
    {% endblock %}
  </div>
</div>

{% endblock %}
