<!DOCTYPE html>
<html lang="{{ g.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="{% block description %}{% trans %}DataViva is opening up data for the entire formal sector of the Brazilian economy{% endtrans %} {% trans %}through more than 100 million interactive visualizations.{% endtrans %}{% endblock %}">

    <!-- Facebook Properties -->
    {% block facebook_metadata %}
        <meta property="og:image" content="static/img/dataviva3_home.png"/>
        <meta property="og:url" content="http://dataviva.info/pt/"/>
        <meta property="og:title" content="DataViva"/>
        <meta property="og:description" content="{% trans %}DataViva is opening up data for the entire formal sector of the Brazilian economy{% endtrans %} {% trans %}through more than 100 million interactive visualizations.{% endtrans %}"/>
    {% endblock facebook_metadata %}

    <title>
      DataViva {% block title %}{% endblock %}
    </title>

    <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon' />
    <!-- Bootstrap core CSS -->

    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/static/css/libs/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/libs/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/css/libs/font-dataviva/font-dataviva.css">

    <!-- CSS DataTables -->
    <link rel="stylesheet" type="text/css" href="/static/datatables/DataTables-1.10.11/css/dataTables.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/datatables/ColReorder-1.3.1/css/colReorder.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/datatables/FixedColumns-3.2.1/css/fixedColumns.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/datatables/FixedHeader-3.1.1/css/fixedHeader.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/datatables/Responsive-2.0.2/css/responsive.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/datatables/Scroller-1.4.1/css/scroller.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/datatables/Select-1.1.2/css/select.bootstrap.css"/>
    

    <!-- CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="/static/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" type="text/css" href="/static/css/plugins/cropper/cropper.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/plugins/datapicker/datepicker3.css">
    <link rel="stylesheet" type="text/css" href="/static/css/plugins/jasny/jasny-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/plugins/summernote/summernote.css">
    <link rel="stylesheet" type="text/css" href="/static/css/plugins/switchery/switchery.css">
    <link rel="stylesheet" type="text/css" href="/static/css/plugins/sweetalert/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="/static/css/plugins/select2/select2.min.css">

    <!-- Dataviva custom styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bgs.css">
    <link rel="stylesheet" type="text/css" href="/static/css/btn.css">
    <link rel="stylesheet" type="text/css" href="/static/css/input.css">
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css">
    <link rel="stylesheet" type="text/css" href="/static/css/modules/partners.css">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/utils/utils.selector.css" />
    <link rel="stylesheet" type="text/css" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/clusterize.js/0.17.6/clusterize.css" />

    <!-- Custom styles for this module -->
    <link rel="stylesheet" type="text/css" href="/static/css/modules/{{ g.page_type }}.css" type="text/css">


    <!-- Javascript Libs -->
    <script type="text/javascript" src="/static/js/libs/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/static/js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/ios-orientationchange-fix.js"></script>
    <script type="text/javascript" src="/static/js/libs/localforage.js"></script>
    <script type="text/javascript" src="/static/js/libs/object.watch.js"></script>
    <script type="text/javascript" src="/static/js/libs/modernizr.custom.js"></script>
    <script type="text/javascript" src="/static/js/libs/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/d3plus{% if g.production %}.min{% endif %}.js"></script>
    <script type="text/javascript" src="/static/js/libs/leon.js"></script>
    <script type="text/javascript" src="/static/js/libs/moment.min.js"></script>
    <script>moment.lang("{{g.locale}}")</script>

    <script>var redirect = false</script>
    <!--[if lt IE 9]>
      <script>redirect = true</script>
    <![endif]-->
</head>
<body class="{{ g.page_type }}" data-ng-app="dataviva">
    {% include "include/header.html" %}

    {% block content %}
    {% endblock content %}

    {% include "modal/dataviva.html" %}
    {% include "modal/login.html" %}
    {% include "modal/signup.html" %}
    {% include "modal/search.html" %}
    {% include "modal/selector.html" %}
    {% include "modal/video.html" %}

    {% block footer %}
        {% include "include/footer.html" %}
    {% endblock footer %}

    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

    <!-- Javascript plugins -->
    <script type="text/javascript" src="/static/js/plugins/pace/pace.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/wow/wow.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/static/js/plugins/cropper/cropper.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/jquery.stellar.js"></script>
    <script type="text/javascript" src="/static/js/plugins/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/jquery.jcarousel.js"></script>
    <script type="text/javascript" src="/static/js/plugins/summernote/summernote.js"></script>
    <script type="text/javascript" src="/static/js/plugins/summernote/summernote-image-title.js"></script>
    <script type="text/javascript" src="/static/js/plugins/summernote/summernote-insert-embedded-chart.js"></script>
    {% if g.locale == 'pt' %}
        <script type="text/javascript" src="/static/js/plugins/summernote/summernote-pt-BR.js"></script>
    {% endif %}
    <script type="text/javascript" src="/static/js/plugins/switchery/switchery.js"></script>
    <script type="text/javascript" src="/static/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/select2/select2.min.js"></script>

    <!-- Javascript DataTables -->
    <script type="text/javascript" src="/static/datatables/DataTables-1.10.11/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/static/datatables/DataTables-1.10.11/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="/static/datatables/ColReorder-1.3.1/js/dataTables.colReorder.js"></script>
    <script type="text/javascript" src="/static/datatables/FixedColumns-3.2.1/js/dataTables.fixedColumns.js"></script>
    <script type="text/javascript" src="/static/datatables/FixedHeader-3.1.1/js/dataTables.fixedHeader.js"></script>
    <script type="text/javascript" src="/static/datatables/Responsive-2.0.2/js/dataTables.responsive.js"></script>
    <script type="text/javascript" src="/static/datatables/Scroller-1.4.1/js/dataTables.scroller.js"></script>
    <script type="text/javascript" src="/static/datatables/Select-1.1.2/js/dataTables.select.js"></script>
    <script type="text/javascript" src="/static/datatables/fnReloadAjax.js"></script>
    <script type="text/javascript" src="/static/datatables/sorting.js"></script>
    <script type="text/javascript" src="/static/datatables/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="/static/datatables/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/datatables/buttons.html5.min.js"></script>
    <script type="text/javascript" src="/static/datatables/moment.min.js"></script>
    <script type="text/javascript" src="/static/datatables/datetime-moment.js"></script>

    <script type="text/javascript" src="/static/js/utils/utils.selector.js"></script>
    <script type="text/javascript" src="/static/js/utils/utils.dataviva.js"></script>
    <script type="text/javascript" src="/static/js/utils/utils.general.js"></script>
    
    <script type="text/javascript" src="/static/js/modules/metadata.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clusterize.js/0.17.6/clusterize.js"></script>
    <script type="text/javascript" src="/static/js/modules/establishment-selector.js"></script>

    {% block script %}
      
    {% endblock %}

    <script>
      if(redirect) window.location = "/upgrade/"
      dataviva.language = "{{ g.locale }}";
      dataviva.dictionary = {{ g.dictionary|safe }};
      dataviva.attr_version = {{ g.attr_version|safe }};
      dataviva.color = "{{ g.color }}";
      dataviva.page = "{{ g.page_type }}";
      dataviva.s3_host = "{{ g.s3_host }}"
      dataviva.s3_bucket = "{{ g.s3_bucket }}"
    </script>

    <!-- Javascript modules -->
    <script type="text/javascript" src="/static/js/base.js"></script>
    {% block js_assets %}
        <script type="text/javascript" src="/static/js/modules/{{ g.page_type }}.js"></script>
    {% endblock js_assets %}

    <script type="text/javascript">

      if (!window.location.origin) {
        window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
      }

      dataviva.color = "{{ g.color }}";
      dataviva.page = "{{ g.page_type }}";

      d3.selectAll(".alt_tooltip")
        .on(d3plus.client.pointer.over,function(){
          dataviva.ui.tooltip("alt_tooltip",this)
        })
        .on(d3plus.client.pointer.out,function(){
          dataviva.ui.tooltip("alt_tooltip",false)
        })

      function login() {
        var width = 600,
            height = 400,
            left = window.screenX+(window.innerWidth/2)-(width/2),
            top = window.screenY+(window.innerHeight/2)-(height/2)
        window.open('/user/login/','','width='+width+',height='+height+',\
                                        left='+left+',top='+top+',\
                                        scrollbars=no,resizable=no,\
                                        location=no,menubar=no,toolbar=no')
      }

    </script>

    <!-- Google Analytics! -->
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42576717-1', 'auto');
      ga('send', 'pageview');

      if ("{{g.page_type}}" !== "home") dataviva.ui.background();

      if (dataviva.resize) {
        var bg_resize = window.onresize
        window.onresize = function() {
          if (dataviva.resize_snap) dataviva.resize()
          else {
            if(this.resizeTO) clearTimeout(this.resizeTO);
            this.resizeTO = setTimeout(function() {
              dataviva.resize()
            },500)
          }
          if (bg_resize) bg_resize()
        }
      }

    </script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/"+lang_code.replace('-', '_')+"/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>