<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DataViva</title>
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/dist/css/custom.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="{{body_class or 'home'}}">

    {% include "include/header.html" %}

    {% block content %}
    {% endblock content %}

    {% include "modal/dataviva.html" %}
    {% include "modal/localidade.html" %}
    {% include "modal/login.html" %}
    {% include "modal/signup.html" %}
    {% include "modal/video.html" %}

    {% include "include/footer.html" %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <script src="/static/dist/js/jquery.counterup.min.js"></script>
    <script type="text/javascript">
    $(function(){
        $('[data-toggle="popover"]').popover({
            'trigger' : 'hover click'
        });
        $('.counter').counterUp();
    });
    </script>
</body>
</html>