<!doctype html>
<html>
<head>
    <title>{% if title %}{{ title }}{% else %}DataViva{% endif %}</title>
</head>
<body>
<div><span class="sg-image" data-imagelibrary="%7B%22width%22%3A%22350%22%2C%22height%22%3A%22104%22%2C%22alignment%22%3A%22center%22%2C%22src%22%3A%22http%3A//dataviva.info/static/img/nav/DataViva.png%22%2C%22alt_text%22%3A%22%22%2C%22link%22%3A%22%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D" style="float: none; display: block; text-align: center;"><img height="104" src="https://www.dataviva.info/static/img/nav/DataViva.png" style="width: 350px; height: 104px;" width="350" /></span>
<div style="color: rgb(120, 119, 120); font-family: Ubuntu, sans-serif; font-size: 14px; line-height: 21px; margin-left: 20px; margin-right: 20px; background-color: rgb(255, 255, 255);">
<h1 style="margin-top: 0px; margin-bottom: 0px; font-weight: normal; color: rgb(86, 86, 86); font-size: 36px; line-height: 43px; text-align: center;">&nbsp;</h1>
    {% block mail_body %}
    {% endblock %}
</div>
</div>
</body>
</html>
