<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

  {% set flashmsg = get_flashed_messages(with_categories=true) %}
  {% if flashmsg %}
    <div id="server_message">
      {{ flashmsg[-1][1] }}
      <i id="close_message" class="fa fa-times-circle"></i>
    </div>
  {% endif %}

  <div id="header_container" class="lightbox">
    <div id="header">

      <div class="searchBox">
  	    <input type="text" autocomplete="false" name="searchFld_1" id="searchFld" class="searchFld"  placeholder="{%trans%}What would you like to learn more about?{%endtrans%}">
        {% if "home" != g.page_type %}
          <div id="result" class="searchResult"></div>
        {% endif %}
      </div>
      <a id="logo" href="{{ url_for('general.home') }}"></a>
      <a id="profiles" href="{{ url_for('profiles.index') }}" class="link{% if g.page_type == 'profiles' or g.page_type == 'profile' %} active{% endif %}">{% trans %}Profiles{% endtrans %}</a>
      <a id="apps" href="{{ url_for('apps.guide') }}" class="link{% if g.page_type == 'apps' or g.page_type == 'builder' %} active{% endif %}">{% trans %}Advanced{% endtrans %}</a>
      <a id="data" href="{{ url_for('data.index') }}" class="link{% if g.page_type == 'data' or g.page_type == 'query' or g.page_type == 'classifications' %} active{% endif %}">{% trans %}Data{% endtrans %}</a>
      <a id="rankings" href="{{ url_for('rankings.index') }}" class="link{% if g.page_type == 'rankings' %} active{% endif %}">{% trans %}Rankings{% endtrans %}</a>
      <a id="about" href="{{ url_for('about.contact') }}" class="link{% if g.page_type == 'about' %} active{% endif %}">{% trans %}Learn More{% endtrans %}</a>
      {% if "home" != g.page_type %}
        <a id="search" href="#" class="link">{%trans%}Search{%endtrans%}</a>
      {% endif %}

      <div id="nav_controls">

        <div id="account">
            {% trans %}Login{% endtrans %}
        </div>

        <div id="language">
          <input type="radio" name="language_select" onclick="change_language(this.value)"
            id="en" value="en"{% if g.locale == 'en' %} checked{% endif %}>
          <label for="en">en</label>
          <input type="radio" name="language_select" onclick="change_language(this.value)"
            id="pt" value="pt"{% if g.locale == 'pt' %} checked{% endif %}>
          <label for="pt">pt</label>
        </div>

      </div>

      <div id="account_tooltip" style="display:none;">
        <a id="profile_link" class="account" href=""><i class="fa fa-user"></i>{% trans %}Profile{% endtrans %}</a>
        <a id="admin_link" class="account" href="{{ url_for('admin.admin') }}"><i class="fa fa-cogs"></i>{% trans %}Admin Panel{% endtrans %}</a>
        <a class="account" href="{{ url_for('session.logout') }}"><i class="fa fa-key"></i>{% trans %}Logout{% endtrans %}</a>
      </div>

    </div>

  </div>

  <div id="profiles_drop">
    <a class="drop icon bra" href="/{{g.locale}}/profiles/bra/">{% trans %}Location{% endtrans %}</a>
    <a class="drop icon hs" href="/{{g.locale}}/profiles/hs/">{% trans %}Product{% endtrans %}</a>
    <a class="drop icon wld" href="/{{g.locale}}/profiles/wld/">{% trans %}Trade Partner{% endtrans %}</a>
    <a class="drop icon cnae" href="/{{g.locale}}/profiles/cnae/">{% trans %}Industry{% endtrans %}</a>
    <a class="drop icon cbo" href="/{{g.locale}}/profiles/cbo/">{% trans %}Occupation{% endtrans %}</a>
    <a class="drop icon university" href="/{{g.locale}}/profiles/university/">{% trans %}University{% endtrans %}</a>
    <a class="drop icon course_hedu" href="/{{g.locale}}/profiles/course_hedu/">{% trans %}Major{% endtrans %}</a>
    <a class="drop icon course_sc" href="/{{g.locale}}/profiles/course_sc/">{% trans %}Basic Course{% endtrans %}</a>
  </div>

  <div id="apps_drop">
    <a class="drop icon tree_map" href="/{{g.locale}}/apps/builder/tree_map/">{% trans %}Tree Map{% endtrans %}</a>
    <a class="drop icon stacked" href="/{{g.locale}}/apps/builder/stacked/">{% trans %}Stacked{% endtrans %}</a>
    <a class="drop icon geo_map" href="/{{g.locale}}/apps/builder/geo_map/">{% trans %}Geo Map{% endtrans %}</a>
    <a class="drop icon network" href="/{{g.locale}}/apps/builder/network/">{% trans %}Network{% endtrans %}</a>
    <a class="drop icon line" href="/{{g.locale}}/apps/builder/line/">{% trans %}Line{% endtrans %}</a>
    <a class="drop icon rings" href="/{{g.locale}}/apps/builder/rings/">{% trans %}Rings{% endtrans %}</a>
    <a class="drop icon scatter" href="/{{g.locale}}/apps/builder/scatter/">{% trans %}Scatter{% endtrans %}</a>
    <a class="drop icon compare" href="/{{g.locale}}/apps/builder/compare/">{% trans %}Compare{% endtrans %}</a>
    <a class="drop icon occugrid" href="/{{g.locale}}/apps/builder/occugrid/">{% trans %}Occugrid{% endtrans %}</a>
    <a class="drop icon box" href="/{{g.locale}}/apps/builder/box/">{% trans %}Box Plot{% endtrans %}</a>
    <a class="drop icon bar" href="/{{g.locale}}/apps/builder/bar/">{% trans %}Bar Chart{% endtrans %}</a>
  </div>

  {% if crumbs|length %}
    <div id="breadcrumbs">
      {% for crumb in crumbs %}
        {% if crumb.current %}
          <div class="decision short">{{ crumb.text }}</div>
        {% else %}
          <a href="{{ crumb.url }}" class="help short">{{ crumb.text }}</a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  <div id="fullscreen"></div>

  <div id="container">

    {% block body %}
    {% endblock %}

    <div id="nav_footer" class="lightbox">

      <a href="https://github.com/DataViva/dataviva-site/" class="logo github" target="_blank"></a>

      <a href="http://www.fapemig.br/" class="logo fapemig" target="_blank"></a>
      <a href="http://www.mg.gov.br/" class="logo governo" target="_blank"></a>

      <a href="http://macroconnections.media.mit.edu/" class="logo mc" target="_blank"></a>
      <a href="http://www.datawheel.us/" class="logo datawheel" target="_blank"></a>
	<!--
      <a href="http://www.bigdatacorp.info/" class="logo bigdatacorp" target="_blank"></a>
	-->
    </div>

  </div>



  <script type="text/javascript">

    var crumbs = "{{crumbs|safe}}"

    d3.select("#account").on(d3plus.client.pointer.click,function(){
       login()
    })

    var drop_height = {
      "profiles": d3.select("#profiles_drop").style("height"),
      "apps": d3.select("#apps_drop").style("height")
    };
    d3.select("#profiles_drop").style("height", "0px").style("border-width", "0px");
    d3.select("#apps_drop").style("height", "0px").style("border-width", "0px");

    function dropdown(type, show) {
      if (show) {
        d3.select("#"+type+"_drop")
          .transition().duration(300)
          .style("border-width", "4px")
          .style("height", drop_height[type]);
      }
      else {
        d3.select(window).on(d3plus.client.pointer.move, null);
        d3.select("#"+type+"_drop")
          .transition().duration(300)
          .style("border-width", "0px")
          .style("height", "0px");
      }
    }

    function drop_out(type) {
      setTimeout(function(){
        d3.select(window).on(d3plus.client.pointer.move, function(){
          var target = d3.event.target;
          var allowed = [type, type+"_drop", "header", "header_container"];
          if ((allowed.indexOf(target.id) < 0 && allowed.indexOf(target.parentNode.id) < 0) ||
              ["logo", "data", "rankings", "about", "search"].indexOf(target.id) >= 0) {
            dropdown(type, false);
          }
        });
      }, 500);
    }

    d3.selectAll("#profiles, #apps")
      .on(d3plus.client.pointer.over, function(){
        if (this.id === "profiles") dropdown("apps", false);
        else dropdown("profiles", false);
        dropdown(this.id, true);
        drop_out(this.id);
      })

    var authenticated = function(username, is_admin) {
      d3.select("#account").text(username);
      d3.select("#profile_link").attr("href", "/user/" + username);
      if (!is_admin) {
        d3.select("#admin_link").remove();
      }
      show_toggle = function() {
        d3.select("#account").attr("class","active")
        d3.select("#d3plus_tooltip_id_account").style("left", x).style("display","block")
      }

      hide_toggle = function() {
        d3.select("#account").attr("class","")
        d3.select("#d3plus_tooltip_id_account").style("display","none")
      }

      var language_html = d3.select("div#account_tooltip").html()
      d3.select("div#account_tooltip").remove()
      diff_screen = ((window.outerWidth-parseInt(d3.select("#header").style("width").replace("px","")))/2)
      var acct = d3.select("#account").node(),
          w = acct.offsetWidth,
          h = acct.offsetHeight,
          x = (acct.offsetLeft+(w/2)+diff_screen),
          y = acct.offsetTop+h

      d3plus.tooltip.create({
        "id": "account",
        "x": x,
        "y": y,
        "arrow": true,
        "align": "bottom center",
        "mouseevents": true,
        "html": language_html,
        "width": "auto"
      })

      d3.select("#d3plus_tooltip_id_account")
        .style("display","none")
        .on(d3plus.client.pointer.click,function(){
          d3.event.stopPropagation()
        })

      d3.select("#account").on(d3plus.client.pointer.click,function(){
        if (this.className.indexOf("active") < 0) {
          show_toggle()
        }
        else {
          hide_toggle()
        }
        d3.event.stopPropagation()
      })

      d3.select("body").on(d3plus.client.pointer.click,function(){
        hide_toggle()
      })
    };

    d3.json("/{{g.locale}}/user/status", function(error, json) {
      if (error) return console.warn(error);
      if (json["logged_in"]) {
        authenticated(json["user"], json["is_admin"]);
      }
      if (json.flash) {
        dataviva.flash(json.flash);
      }
    });

    function change_language(l) {
      var url_path = window.location.href.split('/');

      if (url_path[3] === 'en' || url_path[3] === 'pt') {
        url_path[3] = l;
      } else {
        url_path.splice(3, 0, l)
      }

      window.location = url_path.join('/');
    }

    leon("$language_select").color("{{ g.color }}").size("small")

    d3.select("#close_message").on(d3plus.client.pointer.click,function(){
      var div = d3.select("#server_message")
      var timing = parseFloat(div.style("transition-duration"),10)*1000;
      div.style("opacity",0);
      setTimeout(function(){
        div.remove();
      },timing)
    });

    d3.select(".survey-block img").on("click", function(){
    	if(this.getAttribute("open")==1) {
	    	d3.select(this.parentNode).transition().style("bottom", "-322px");
	    	d3.select(this).attr("open", 0)
    	} else {
    		d3.select(this.parentNode).transition().style("bottom", "0px");
    		d3.select(this).attr("open", 1)
    	}
    })

     d3.select("a#search").on(d3plus.client.pointer.click, function() {
     	d3.select(".searchBox").style("display","block").transition().style("width", "445px")
       .each("end",function(){
         d3.select(this).style("overflow","visible")
         d3.select("#searchFld").node().focus()
       });
     	d3.event.preventDefault();
     })

    function closeSearch() {

      d3.select(".searchBox").style("overflow","hidden")
        .transition()
        .style("width", "0px")

      d3.selectAll(".searchResult")
        .transition()
        .style("opacity", 0)
        .each("end", function() {
          d3.select(this).html("")
          d3.select(".searchBox").style("display","none")
          document.getElementById("searchFld").value = "";
        })

    }

    d3.select(window).on(d3plus.client.pointer.click, function() {

    	var d3_target = d3.select(d3.event.target)
      if ( !d3_target.classed("searchFld") && !d3_target.classed("searchBox") && !d3_target.classed("searchResult")) {
        var results = d3.select(".search .searchResult")
        if( d3.select(".searchBox").style("width") === "445px" || (!results.empty() && results.style("opacity")) ) {
          closeSearch()
        }
      }

    })

    var searchInterval = "";
    d3.selectAll(".searchFld").on("keyup", function(e) {

      var key_code = d3.event.keyCode;
      if (key_code > 36 && key_code < 41) {
        return;
      }

      // for closure
      var _this = this;

    	clearInterval(searchInterval);

      // Close search box if "esc" key is pressed
      if ( d3.event.keyCode === 27 ) {
        closeSearch();
        selected_i = -1;
      }
      else {
        searchInterval = setTimeout(function(){
          d3.select(_this.parentNode).select(".searchResult")
            .style("display", "block")
            .transition().delay(0).style("opacity", 1)
          find_search(d3.select(_this).property("value"), _this)

        },30)
      }

    })

    // check to prevent mouse events triggering without user moving
    var allow_mouse_entry = false;

    find_search = function(search, el) {

      var results_el = d3.select(el.parentNode).select(".searchResult").html("")
    	if (search !== "") {

  	    d3.json("/attrs/search/"+search+"/?lang="+dataviva.language)
  	      .header("Content-type", "application/json")
  	      .send("GET", '', function(error, text) {
            selected_i = -1;
            if (!error) {

              text.activities = text.activities.slice(0, 20);

              text.activities.forEach(function(item, idx){

                var type = item.content_type;

                var url = "/profiles/"+item.content_type+"/"+item.id;
                if (type === "learnmore") {
                  url = "/about/question/"+item.id;
                }

                item.bgcolor = item.color;
                if ((type === "bra" && item.id.length > 1) ||
                    (type === "wld" && item.id.length === 5)) {
                  item.bgcolor = "none";
                }

                var icon, sub;
                if (type === "learnmore") {
                  icon = dataviva.icon("22", "hs");
                  sub = dataviva.format.text("learnmore");
                }
                else {
                  icon = dataviva.icon(item.id, type);
                  sub = dataviva.format.text(type) + " - " + dataviva.format.text(type+"_"+item.id.length);
                }

                var link = results_el.append("a")
                  .attr("class","search_result")
                  .attr("href", url);

                var image = link.append("div")
                  .attr("class","search_icon")
                  .style("background-color", item.bgcolor);

                if (icon) image.style("background-image","url('"+icon+"')");

                var text = link.append("div").attr("class","search_text");

                text.append("div")
                  .attr("class","search_title")
                  .style("color", d3plus.color.legible(item.color))
                  .text(item.name);

                text.append("div")
                  .attr("class","search_sub")
                  .text(sub);

                link.on("mouseenter", function(){
                  if (!allow_mouse_entry) return;
                  d3.selectAll("a.search_result").classed("active", false);
                  link.classed("active", true);
                  selected_i = idx;
                });

                link.on("mouseleave", function(){
                  if (!allow_mouse_entry) return;
                  link.classed("active", false);
                });

              });

            }

  	      });

        }
    };

    var handleScrolling = function(results_size) {
      var searchResult = d3.selectAll("div#result.searchResult");
      var resultBoxHeight = searchResult.node().getBoundingClientRect().height;
      var resultScroll = searchResult.property("scrollTop");
      var currPos = searchResult.property("scrollTop");
      var resultNode = d3.select("a.search_result").node();
      if (!resultNode) {
        selected_i = -1;
      }
      var resultHeight = resultNode.getBoundingClientRect().height;
      var max = (resultScroll + resultBoxHeight);
      max = max - max % resultHeight;
      if (selected_i <= 0) {
        searchResult.property("scrollTop", 0);
      } else if (selected_i == results_size - 1) {
        searchResult.property("scrollTop", results_size * resultHeight);
      } else if ( (selected_i * resultHeight) >= max ) {
        searchResult.property("scrollTop", currPos + resultHeight * 1);
      } else if ( (selected_i * resultHeight) < resultScroll ) {
        searchResult.property("scrollTop", currPos - resultHeight);
      }
    }

    var selected_i;
    d3.selectAll(".searchFld")
      .on("keydown", function() {


        var results = d3.selectAll("a.search_result");
        if(d3.event.keyCode === 40 || d3.event.keyCode === 38){ // down || up
          results.classed("active", false);
          var incr = (d3.event.keyCode === 38) ? -1 : 1 ;

          d3.event.preventDefault();
          selected_i = (selected_i + incr) % results.size();
          if (selected_i < 0) selected_i = results.size() - 1;
          var selected_el = results.filter(function(d, i) { return i === selected_i; });

          allow_mouse_entry = false;
          selected_el.classed("active", true);
          handleScrolling(results.size());
        }
        else if(d3.event.keyCode === 13){ // enter
          var selected = d3.select("a.search_result.active");
          if(!selected.empty()){
            window.location = selected.attr("href");
          }
        }
      })

    d3.selectAll("body").on("mousemove", function() {
      allow_mouse_entry = true;
    });
  </script>

{% endblock %}
