<!-- extend from about base layout -->
{% extends "templates/about.html" %}

{% block title %}: {% trans %}Contact Us{% endtrans %}{% endblock %}

{% block about_content %}
  <p>{% trans %}DataViva is a project that started in July of 2012 by the Escritorio of Minas Gerais in collaboration with a small start-up called Growth Ventures based in Cambridge, MA. DataViva is a collaborative planning tool composed of a number of applications, each of which visualize data in innovative and creative ways. DataViva is intended to be used as a tool to help members of the government, private sectors, as well as citizens themselves be able to understand big data and and more importantly, use it to their advantage.{% endtrans %}</p>
  
  <div id="search_div">
    <h1>{% trans %}What's on your mind?{% endtrans %}</h1>
    {{ search_form.search(size=60, id='search', placeholder=_("Search")) }}
    <div id="sabrina_head"></div>
  </div>
  
  <a {% if g.user.is_authenticated() %}href="/about/ask/"{%else%}onclick="login()"{%endif%} class="decision icon short questions">
    {% trans %}Cannot find your answer?{% endtrans %} {% trans %}Submit your question here!{% endtrans %}
  </a>
  
  </div><br><br><div class="lightbox">
  
  <div id="list_title">
    <h2></h2>
  
    <div id="order_toggle">
      <legend id="order">{% trans %}Order{% endtrans %}</legend>
      <input type="radio" name="order" value="votes" id="votes" onclick="change_order(this.value)" checked="checked">
      <label for="votes">{% trans %}Top Voted{% endtrans %}</label>
      <input type="radio" name="order" value="newest" id="newest" onclick="change_order(this.value)">
      <label for="newest">{% trans %}Newest{% endtrans %}</label>
    </div>
  </div>
  
  <div id="question_feed"></div>
  
{% endblock %}
  
{% block js %}

  <script src="/static/js/utils/utils.infinite_scroll.js"></script>
  <script>

    //
    var order = d3.select('input[name="order"]:checked').attr("value"),
        search_term = null,
        json_url = "/ask/questions/?lang="+dataviva.language;
  
    leon("#search").color(dataviva.color).size("large")
    leon("$order").color(dataviva.color)
    
    function change_order(new_order){
      order = new_order;
      var url = json_url + "&order=" + order;
      if(search_term){
        url += "&q=" + search_term;
      }
      update_title()
      d3.select("#question_feed").html('')
        .call(is.url(url).offset(0).remove(true))
    }
    
    function item_formatter(feed, activity){
      
      var formatDate = d3.time.format("%B %-d, %Y"),
          parseDate = d3.time.format.iso.parse;
          
      var questions = d3.select(feed).selectAll(".question_block")
        .data(activity, function(d){ return d.id; })
        
      var question_block = questions.enter()
        .insert("div", "div.infinite_loading")
          .attr("class", "question_block")
          
          // .attr("href", function(d){
          //   return "/about/contact/question/" + d.slug;
          // })
    
      var question_title = question_block.append("a")
        .attr("class", "decision short question")
        .text(function(d){ return d.question })
        .on(d3plus.evt.click,function(){
          this.parentNode.toggleClass("active")
        })
  
      question_title.append("div")
        .attr("class", "vote_block")
        .text(function(d){ 
          if (d.votes == 1) var suffix = dataviva.format.text("point")
          else var suffix = dataviva.format.text("points")
          return d.votes + " " + suffix
        })

      
      // lastly, the div that holds the data
      var question_info = question_block.append("div")
        .attr("class","question_info")
        
      question_info.append("p")
        .attr("class","question_body")
        .text(function(d){
          if (d.body) return d.body.replace(/<\/?[^>]+(>|$)/g, "")
          else d3.select(this).remove()
        })
        
      question_info.append("p")
        .attr("class","question_answer")
        .text(function(d){
          return d.status_notes.replace(/<\/?[^>]+(>|$)/g, "")
        })

      question_info.append("p")
        .attr("class", "question_attr")
        .html(function(d){ 
          var user_link = ""
          if (d.user.role == 0) {
            user_link = dataviva.format.text("by") + " <a href='/account/" + d.user.nickname + "'>" + d.user.fullname + "</a> "
          }
          if (d.timestamp) var t = moment(d.timestamp).fromNow()
          else var t = ""
          if (user_link == "" && t == "") return ""
          return dataviva.format.text("Asked") + " " + user_link + t;
        })

      question_info.append("p")
        .attr("class", "question_replies")
        .html(function(d){ 
          if (d.replies == 1) var suffix = dataviva.format.text("reply")
          else var suffix = dataviva.format.text("replies")
          return "<a href='/about/question/" + d.slug + "'>" + d.replies + " " + suffix + "</a>"
        })

    }
    
    var is = infinite_scroll().format_items(item_formatter);

    change_order(order)
    
    function update_title(title) {
      if (!title) var title = dataviva.format.text(order) + " " + dataviva.format.text("questions")
      else title = dataviva.format.text(title)
      d3.select("#list_title h2").text(title)
    }

    d3.select("#search").on("input", function(e){

      search_term = this.value;
      
      if (search_term.length > 0) update_title("search_results")
      else update_title()
      
      var url = json_url + "&q=" + search_term + "&order=" + order;
      d3.select("#question_feed").html('')
        .call(is.url(url).offset(0).remove(true))

    })
  
  </script>
  
{% endblock %}