<!-- extend from about base layout -->
{% extends "templates/about.html" %}

{% block title %}: {% trans %}Contact Us{% endtrans %}{% endblock %}

{% block about_content %}
  <p>{% trans %}DataViva is a Big Data platform created by the Strategic Priorities Office of the government of Minas Gerais and developed in collaboration with professors Cesar Hidalgo (Massachusetts Institute of Technology - MIT) and Ricardo Hausmann (Harvard Kennedy School) by the formation of a startup called Growth Ventures, located in Cambridge, MA. The online suite is innovative in the way that it makes a great volume of official data about exports and occupation in Brazil available, and enables – with its eight apps – access to more than 100 million interactive visualizations for over five thousand Brazilian municipalities.{% endtrans %}</p>
  
  <p>{% trans %}The data incorporated and addressed in DataViva is able to contribute to the implementation of public and private investments and policies, as well as academic researches. By pointing out relations and showing dynamics, which were not explicit until now, the tool allows public and private actors to improve their strategies and decision making processes. DataViva also enables these actors to discuss, in a more qualified manner and based on empiric data, relevant issues for economic and social development.{% endtrans %}</p>
  
  <a href="http://www.dataviva.info/about/ask/" class="decision icon questions">
    {% trans %}The version of DataViva that you are viewing does not support user accounts. Click here to contact us through the main website.{% endtrans %}
  </a>
  
  </div>
  
{% endblock %}