<!-- extend from about base layout -->
{% extends "templates/about.html" %}

{% block title %}: {% trans %}Contact Us{% endtrans %}{% endblock %}

{% block about_content %}
  <p>{% trans %}DataViva is a Data Visualization Engine created by the Strategic Priorities Office of the government of Minas Gerais. DataViva makes available official data about exports, industries, locations and occupations for the entirety of Brazil through eight apps and more than 100 million possible visualizations.{% endtrans %}</p>
  
  <p>{% trans %}Through its visualizations, DataViva provides information that is valuable for export promotion, investment decision and policy design. Moreover, by providing facts about the economic development of industries, locations and their respective opportunities, DataViva is helping create a solid data-driven foundation for conversations between the public and private sectors.{% endtrans %}</p>
  
  <a href="http://www.dataviva.info/about/ask/" class="decision icon questions">
    {% trans %}The version of DataViva that you are viewing does not support user accounts. Click here to contact us through the main website.{% endtrans %}
  </a>
  
  </div>
  
{% endblock %}