#container {
  padding: 68px 0 0 0;
  text-align: left;
}

#nav_footer {
  margin: 0 auto;
}

/***********************/
/* Data Query Specific */
/***********************/

#filter_selects {
  left: 20px;
  padding: 10px 10px 10px 10px;
  position: fixed;
  text-align: center;
  top: 88px;
  width: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.data_table {
  margin: 20px 0px;
  margin-left: 310px;
  width: 320px;
  height: 320px;
  white-space: nowrap;
}

iframe {
  display: block;
  float: left;
  height: 100%;
  width: 100%;
}

.section_title {
  display: inline-block;
  color: rgb(68, 68, 68);
  font-size: 12px;
  font-weight: 200;
  padding: 5px;
  border: 1px solid transparent;
}

.selected_filters {
  margin-bottom: 10px;
}

.selected_filter {
  display: block;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding: 9px 27px 9px 30px;
  position: relative;
  text-align: left;
}

.selected_filter .remove {
  margin-top: -6px;
  opacity: 0.25;
  position: absolute;
  top: 50%;
  right: 9px;
}

.selected_filter .remove:hover {
  cursor: pointer;
  opacity: 0.5;
}

.selected_filter .icon {
  background-size: 100%;
  height: 20px;
  left: 5px;
  position: absolute;
  width: 20px;
  top: 5px;
}

.filter_button {
  box-sizing: border-box;
  min-height: 39px !important;
  height: 39px !important;
  width: 39px !important;
}

/*#column_toggles {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 5;
  position: relative;
}

#column_toggles .selector_title {
  padding: 20px 12px 15px;
  text-align: center;
  font-weight: bold;
}

.column_toggle {
  padding: 0px 5px 10px;
}

.column_toggle .leon.checkbox {
  width: 100%;
}

.column_toggle .leon.checkbox.group {
  float: right;
  margin-right: 10px;
}*/
