#header_container {
  background-color: white;
  background-image: url("/static/img/nav/color_bar.jpg");
  background-position: bottom center;
  background-repeat: repeat-x;
  height: 68px;
  margin: 0px;
  min-width: 980px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1100;
}
#header {
  height: 40px;
  margin: 5px auto;
  padding: 5px 0px;
  position: relative;
  text-align: center;
  width: 820px;
}

#header > a {
  display: inline-block;
  float: left;
}

#logo {
  background-image: url("/static/img/nav/DataViva.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  color: #444;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 200;
  height: 52px;
  letter-spacing: 4px;
  margin-top: -6px;
  opacity: 0.75;
  width: 180px;
}

#header > #logo:hover {
  opacity: 1;
}

#header > a.link {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 35px;
  color: black;
  font-size: 12px;
  font-weight: 600;
  margin: -4px 0px 0px 18px;
  opacity: 0.4;
  padding-left: 1px;
  padding-top: 34px;
  text-align: center;
  width: 70px;
}

#header a#profiles {
  background-image: url("/static/img/nav/icons/profiles.png");
}

#header a#apps {
  background-image: url("/static/img/nav/icons/apps.png");
}

#header a#data {
  background-image: url("/static/img/nav/icons/data.png");
}

#header a#rankings {
  background-image: url("/static/img/nav/icons/rankings.png");
}

#header a#about {
  background-image: url("/static/img/nav/icons/learn.png");
}

#header a#search {
  background-image: url("/static/img/nav/icons/search.png");
}

#header a.active,
#header a:hover {
  color: #af1f24;
  opacity: 1;
}

#header a#apps.link.active,
#header a#apps:hover {
  background-image: url("/static/img/nav/icons/apps_active.png");
  color: #af1f24 !important; /* red */
}

#header a#profiles.link.active,
#header a#profiles:hover {
  background-image: url("/static/img/nav/icons/profiles_active.png");
  color: #e0902d !important; /* orange */
}

#header a#data.link.active,
#header a#data:hover {
  background-image: url("/static/img/nav/icons/data_active.png");
  color: #1abbee !important; /* blue */
}

#header a#rankings.link.active,
#header a#rankings:hover {
  background-image: url("/static/img/nav/icons/rankings_active.png");
  color: #742777 !important; /* purple */
}

#header a#about.link.active,
#header a#about:hover {
  background-image: url("/static/img/nav/icons/learn_active.png");
  color: #d67ab0 !important; /* pink */
}

#header a#search.link.active,
#header a#search:hover {
  background-image: url("/static/img/nav/icons/search_active.png");
  color: #5E1F05 !important; /* pink */
}

#header div#nav_controls {
  display: inline-block;
  margin-top: -2px;
  text-align: center;
  width: 85px;
}

#header div#account {
  color: #888;
  font-size: 11px;
  padding: 3px 0px;
}

#header div#account.active {
  color: #af1f24;
}

#header div#account:hover {
  color: #af1f24;
  cursor: pointer;
}

a.account:first-child {
  margin-top: 3px !important;
}

a.account {
  display: block;
  margin-top: 6px;
  padding: 0px 3px;
  text-align: left;
}

a.account > i {
  display: inline-block;
  width: 16px;
}

a.account:hover {
  color: #af1f24;
}

#d3plus_tooltip_id_account {
  font-size: 12px;
}

div#language .leon.radio {
  margin: 1px !important;
}

#profiles_drop, #apps_drop {
  background-color: #f7f7f7;
  left: 50%;
  overflow: hidden;
  position: fixed;
  text-align: left;
  top: 64px;
  z-index: 30000;
}

#profiles_drop {
  border-bottom: 4px solid #e0902d;
  margin-left: -204px;
  width: 150px;
}

#apps_drop {
  border-bottom: 4px solid #af1f24;
  margin-left: -121px;
  width: 140px;
}

#profiles_drop a, #apps_drop a {
  border-top: 1px solid #ddd;
  color: black;
  opacity: 0.4;
  display: block;
  font-size: 12px;
  font-weight: 600;
  padding: 3px 5px;
}

#profiles_drop a:hover, #apps_drop a:hover {
  color: black;
  opacity: 0.8;
}

/***********************/
/* Breadcrumb Specific */
/***********************/

#breadcrumbs {
  left: 50%;
  margin-left: -390px;
  position: fixed;
  top: 80px;
  width: 780px;
  z-index: 1000;
}

#breadcrumbs > a,
#breadcrumbs > div {
  display: inline-block;
  max-width: 150px;
  overflow: hidden;
  padding: 6px 24px 6px 8px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

/******************/
/* Footer Styling */
/******************/

#nav_footer {
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  margin: 15px auto 0 auto;
  padding: 5px 10px;
  text-align: center;
}

div.logo.sponsor {
  color: #888;
  display: inline-block;
  font-size: 14px;
  height: 29px;
  line-height: 29px;
  margin: 5px 5px 5px 15px;
  text-shadow: 0px 1px white;
  width: auto;
}

#nav_footer > a.link {
  color: #ccc;
  display: inline-block;
  font-size: 10px;
  height: 19px;
  line-height: 19px;
  margin: 10px;
  padding: 0px 5px;
  text-shadow: 0px 1px white;
}

#nav_footer > a.link:hover {
  text-decoration: underline;
}

a.logo {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  display: inline-block;
  height: 29px;
  margin: 5px;
  opacity: 0.75;
  width: 77px;
}

a.logo.big {
  height: 58px;
  margin: 10px;
  width: 155px;
}

a.logo:hover {
  opacity: 1;
}

a.logo.aws {
  background-image: url("/static/img/nav/logo_aws.jpg");
}

a.logo.github {
  background-image: url("/static/img/nav/logo_github.jpg");
}

a.logo.governo {
  background-image: url("/static/img/nav/logo_governo.jpg");
}

a.logo.fapemig {
  background-image: url("/static/img/nav/logo_fapemig.jpg");
}

a.logo.mc {
	background-image: url("/static/img/nav/logo_mc.jpg");
}

a.logo.datawheel {
  background-image: url("/static/img/nav/logo_datawheel.jpg");
}

a.logo.bigdatacorp {
  background-image: url("/static/img/nav/logo_bigdatacorp.png");
}

a.opendata {
  display: inline-block;
  margin: 13px 10px 11px 5px;
  opacity: 0.5;
  -webkit-transition: opacity 0.1s;
          transition: opacity 0.1s;
}

a.opendata:hover {
  opacity: 1;
}

#nav_footer > #language {
  display: inline-block;
  margin-left: 6px;
}

@media only screen and (max-device-width: 980px) {
  #header_container {
    position: absolute;
  }
}


/*******************/
/* Message Styling */
/*******************/

#server_message {
  background-color: #666;
  -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
          box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
  color: white;
  display: block;
  left: 0;
  margin: 0px auto;
  padding: 6px 0;
  position: fixed;
  text-align: center;
  top: 64px;
  width: 100%;
  z-index: 2000;
  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

#server_message a {
  color: white;
  text-decoration: underline;
}

#server_message a:hover {
  color: #ddd;
}

#server_message i {
  opacity: 0.5;
  position: absolute;
  right: 10px;
  top: 8px;
  -webkit-transition: opacity 0.1s;
     -moz-transition: opacity 0.1s;
          transition: opacity 0.1s;
}

#server_message > i:hover {
  opacity: 1;
}


/*******************/
/* 		Search	   */
/*******************/

a#search {
  background-color: #af1f24;
  background-position: center 14px !important;
  color: #ffffff !important;
  height: 20px;
  margin-top: -17px !important;
  opacity: 1 !important;
  padding-bottom: 8px !important;
  padding-top: 47px !important;
}

.searchBox {
  background-color: #f7f7f7 !important;
  border-bottom: 4px solid #af1f24;
  display: none;
  height: 64px;
  overflow: hidden;
  padding: 0px;
	position: absolute;
  right: 177px;
  text-align: left;
	top: -5px;
	width: 0px;
	z-index: 10;
}

#header .searchFld {
  background-color: transparent !important;
  border: none;
  color: #333333 !important;
  display: block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 10px !important;
  outline: none;
	padding: 11px 10px;
	width: 91%;
}

.searchResult {
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
          box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
  font-size: 12px;
  position: absolute;
  opacity: 0;
  overflow: auto;
  max-height: 250px;
  text-align: left;
  width: 100%;
	z-index: 999;
}

#header .searchResult {
	left: 0;
  position: absolute;
  top: 68px;
	width: 445px;
}

.searchResult > a {
  background-color: #f7f7f7;
  margin: 0;
  padding: 10px;
  -webkit-transition: background-color .1s;
          transition: background-color .1s;
}

.searchResult > a.active {
  background-color: #e2e2e2;
}

.searchResult .search_text * {
  display: block !important;
  margin-left: 6px !important;
  width: 350px !important;
}
