#sabrina {
  background-image: url("/static/img/sabrina/body_casual.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 550px;
  left: 50%;
  margin-left: -387px;
  position: absolute;
  top: 182px;
  width: 260px;
}

#sabrina.casual {
  background-image: url("/static/img/sabrina/body_casual.png");
}

#sabrina.lab {
  background-image: url("/static/img/sabrina/body_lab.png");
}

#sabrina.preppy {
  background-image: url("/static/img/sabrina/body_preppy.png");
}

#sabrina.soccer {
  background-image: url("/static/img/sabrina/body_soccer.png");
}

#sabrina.travel {
  background-image: url("/static/img/sabrina/body_travel.png");
}

#sabrina.worker {
  background-image: url("/static/img/sabrina/body_worker.png");
}

#sabrina.casual_presenting {
  background-image: url("/static/img/sabrina/body_casual_presenting.png");
}

#sabrina.lab_presenting {
  background-image: url("/static/img/sabrina/body_lab_presenting.png");
}

#sabrina.preppy_presenting {
  background-image: url("/static/img/sabrina/body_preppy_presenting.png");
}

#sabrina.soccer_presenting {
  background-image: url("/static/img/sabrina/body_soccer_presenting.png");
}

#sabrina.travel_presenting {
  background-image: url("/static/img/sabrina/body_travel_presenting.png");
}

#sabrina.worker_presenting {
  background-image: url("/static/img/sabrina/body_worker_presenting.png");
}

#sabrina::before {
  background-image: url("/static/img/sabrina/face_smile.png");
  background-size: 100%;
  content: "";
  display: block;
  height: 70px;
  left: 68px;
  position: absolute;
  top: 56px;
  width: 72px;
}

#sabrina.scared::before {
  background-image: url("/static/img/sabrina/face_scared.png");
}

#sabrina.smile::before {
  background-image: url("/static/img/sabrina/face_smile.png");
}

#sabrina.smirk::before {
  -webkit-animation: blink 12s linear infinite;
  background-image: url("/static/img/sabrina/face_smirk.png");
}

#sabrina.surprised::before {
  background-image: url("/static/img/sabrina/face_surprised.png");
}

@-webkit-keyframes blink {
  0% { background-image: url("/static/img/sabrina/face_blink.png"); }
  0.5% { background-image: url("/static/img/sabrina/face_smirk.png"); }
  49.5% { background-image: url("/static/img/sabrina/face_smirk.png"); }
  50% { background-image: url("/static/img/sabrina/face_blink.png"); }
  50.5% { background-image: url("/static/img/sabrina/face_smirk.png"); }
  51% { background-image: url("/static/img/sabrina/face_blink.png"); }
  51.5% { background-image: url("/static/img/sabrina/face_smirk.png"); }
  100% { background-image: url("/static/img/sabrina/face_smirk.png"); }
}

#sabrina::after {
  background-size: 100%;
  content: "";
  display: block;
  height: 95px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 150px;
}

#sabrina.glasses::after {
  background-image: url("/static/img/sabrina/hat_glasses.png");
}

#sabrina.hardhat::after {
  background-image: url("/static/img/sabrina/hat_hardhat.png");
}


#sabrina.santa::after {
  background-image: url("/static/img/sabrina/hat_santa.png");
}
