#container {
  padding-bottom: 0;
}

#nav_footer {
  margin-top: 20px;
}

#rankings_nav {
  left: 20px;
  position: absolute;
  width: 200px;
}

/*#rankings_nav > a.decision:after {
  content: '';
}*/

div#rankings_table {
  margin-left: 225px;
}

div#controls {
  text-align: center;
  padding: 12px 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}

div#controls > div {
  display: inline-block;
}

iframe {
  border-top: 1px solid #ccc;
  margin-top: 48px;
}
