/***********************/
/* Default Anchor Tags */
/***********************/

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #cccccc;
}

/********************/
/* Decision Buttons */
/********************/

.title, .decision, .help {
  color: #888;
  display: block;
  font-size: 17px;
  line-height: 19px;
  margin: 10px;
  opacity: 0.9;
  position: relative;
  text-align: left;
}

.title {
  color: #333;
  padding: 0px;
}

.decision.square, .help.square {
  padding: 10px;
}

.decision, .help {
  padding: 10px 30px 10px 10px;
}

.title.square, .decision.square, .help.square {
  display: inline-block;
  min-height: 125px;
  width: 125px;
}

.decision .new {
  background-color: #af1f24;
  -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
          box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
  font-size: 13px;
  font-weight: bold;
  padding: 5px 7px;
  position: absolute;
  text-transform: uppercase;
  right: -6px;
  top: -8px;
}

.decision.small .new {
  background-color: white;
  color: #af1f24;
  font-size: 10px;
  padding: 1px 6px;
  top: -10px;
}

.title.square.small, .decision.square.small, .help.square.small {
  display: inline-block;
  font-size: 11px;
  line-height: 13px;
  margin: 6px;
  min-height: 50px;
  padding: 0px !important;
  /*padding: 7px 9px !important;*/
  width: 50px;
}

.help.icon.large,
.decision.icon.large {
  height: 110px;
  margin: 0px 0px 20px;
}

.grid5col2 > .title.square,
.grid5col2 > .decision.square,
.grid5col2 > .help.square {
  min-height: 140px;
  width: 140px;
}

.grid5col3 > .title.square,
.grid5col3 > .decision.square,
.grid5col3 > .help.square {
  min-height: 142px;
  width: 142px;
}

.grid5col4 > .title.square,
.grid5col4 > .decision.square,
.grid5col4 > .help.square {
  min-height: 144px;
  width: 144px;
}

.decision.short, .title.short, .help.short {
  font-size: 12px !important;
  line-height: 14px !important;
  margin: 0px 0px 6px 0px !important;
  padding: 6px 24px 6px 8px !important;
}

.help.short:before,
.decision.short:before {
  width: 24px !important;
}

.decision:after,
.help:after {
  bottom: 10px;
  content: "\f105";
  display: block;
  font-family: FontAwesome;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  right: 12px;
  text-decoration: inherit;
  -webkit-transition: transform 0.1s;
     -moz-transition: transform 0.1s;
          transition: transform 0.1s;
}

.decision.square:after,
.help.square:after {
  content: "";
}

.decision.active:after,
.help.active:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.help.short:after,
.decision.short:after {
  bottom: 7px !important;
  right: 6px !important;
}

.decision, .help {
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
          box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -webkit-transition: opacity 0.1s, -webkit-box-shadow 0.1s;
     -moz-transition: opacity 0.1s, box-shadow 0.1s;
          transition: opacity 0.1s, box-shadow 0.1s;
}

.flat {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.decision {
  color: white;
}

.decision:hover, .help:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
          box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
}

.decision:hover {
  color: white;
}

.help:hover {
  color: #888;
}

.flat:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body.general .decision,
body.home .decision,
body.apps .decision,
body.builder .decision,
body.admin .decision {
  background-color: #af1f24; /* red */
}

body.profiles .decision {
  background-color: #e0902d; /* orange */
}

body.guide .decision,
body.plan .decision {
  background-color: #3daf49; /* green */
}

body.data .decision,
body.query .decision,
body.classifications .decision {
  background-color: #1abbee; /* blue */
}

body.rankings .decision {
  background-color: #742777; /* purple */
}

body.about .decision {
  background-color: #d67ab0; /* pink */
}

body.about .decision.short {
  background-color: #333; /* grey */
}

body.about .decision.short.question {
  background-color: #d67ab0; /* pink */
}

body.general .help {
  color: #af1f24; /* red */
}

body.data .help,
body.query .help,
body.classifications .help {
  color: #1abbee; /* blue */
}

body.rankings .help {
  color: #742777; /* purple */
}

body.about .help {
  color: #d67ab0; /* pink */
}

body.about .help.short {
  color: #ccc; /* pink */
}
