<!-- extend from about base layout -->
{% extends "about.html" %}

{% block title %}: {% trans %}Contact Us{% endtrans %}{% endblock %}

{% block about_content %}
  <p>{% trans %}DataViva is a visualization tool that provides official data on trade, industries, and education throughout Brazil, in eleven visualizations and over 100 million views.{% endtrans %}</p>

  <p>{% trans %}Through its views, DataViva provides valuable for promoting exports to investment decisions and policymaking information. Moreover, by providing facts about economic development, localities and their respective opportunities, DataViva helps create a solid basis for dialogue between the public and the private sector, supported by empirical data.{% endtrans %}</p>

  <p>{% trans %}To contact Dataviva team please send a email to contato@dataviva.info{% endtrans %}</p>

  <div style="display:none;opacity:0;">
    {% trans %}The version of DataViva that you are viewing does not support user accounts. Click here to contact us through the main website.{% endtrans %}
  </div>

  {% if g.accounts %}



  </div>

  <div id="question_list" class="lightbox">

	  <div id="search_div">
	    <h1>{% trans %}What do you want to know?{% endtrans %}</h1>
	    {{ search_form.search(size=60, id='ask_search', placeholder=_("Search")) }}
	    <div id="sabrina_head"></div>
	  </div>

	  <a {% if g.user.is_authenticated %}href="/about/ask/"{%else%}onclick="login()"{%endif%} class="decision icon short questions">
	    {% trans %}Can´t find an answer?{% endtrans %} {% trans %}Send your question to us here!{% endtrans %}
	  </a>

	<br><br>

  <div id="list_title">
    <h2>{% trans %}Find your answers{% endtrans %}</h2>

    <div id="order_toggle">
      <legend id="order">{% trans %}Order{% endtrans %}</legend>
      <input type="radio" name="order" value="votes" id="votes" onclick="change_order(this.value)" checked="checked">
      <label for="votes">{% trans %}Most Active{% endtrans %}</label>
      <input type="radio" name="order" value="newest" id="newest" onclick="change_order(this.value)">
      <label for="newest">{% trans %}Most Recent{% endtrans %}</label>
    </div>

    <div id="ask_type_toggle">
      <legend id="ask_type">{% trans %}Type{% endtrans %}</legend>
      <input type="radio" name="ask_type" value="all" id="all" onclick="change_type(this.value)" checked="checked">
      <label for="all">{% trans %}All{% endtrans %}</label>
      <input type="radio" name="ask_type" value="question" id="question" onclick="change_type(this.value)">
      <label for="question">{% trans %}Question{% endtrans %}</label>
      <input type="radio" name="ask_type" value="comment" id="comment" onclick="change_type(this.value)">
      <label for="comment">{% trans %}Comment{% endtrans %}</label>
      <input type="radio" name="ask_type" value="contact" id="contact" onclick="change_type(this.value)">
      <label for="contact">{% trans %}Contact{% endtrans %}</label>
    </div>
  </div>

  <div id="question_feed"></div>

  {% else %}

    <a href="http://www.dataviva.info/about/ask/" class="decision icon questions">
      {% trans %}The version of DataViva that you are viewing does not support user accounts. Click here to contact us through the main website.{% endtrans %}
    </a>

  {% endif %}

{% endblock %}

{% if g.accounts %}

  {% block js %}

    <script src="/static/js/utils/utils.infinite_scroll.js"></script>
    <script>

      var order = d3.select('input[name="order"]:checked').attr("value"),
          search_term = null,
          json_url = "/ask/questions/?lang="+dataviva.language,
    		  type = d3.select('input[name="ask_type"]:checked').attr("value");

      leon("#ask_search").color(dataviva.color).size("large")
      leon("$order").color(dataviva.color)
      leon("$ask_type").color(dataviva.color)

      function change_order(new_order){
        order = new_order;
        var url = json_url + "&order=" + order;
        if(search_term){
          url += "&q=" + search_term;
        }
        d3.select("#question_feed").html('')
          .call(is.url(url).offset(0).remove(true))
      }

      function change_type(new_type){
        type = new_type;
        var url = json_url + "&type=" + type;
        if(search_term){
          url += "&q=" + search_term;
        }
        d3.select("#question_feed").html('')
          .call(is.url(url).offset(0).remove(true))
      }

      function item_formatter(feed, activity, offset, manual, header){

        var formatDate = d3.time.format("%B %-d, %Y"),
            parseDate = d3.time.format.iso.parse;

        activity = activity.map(function(a){
          var obj = {};
          header.forEach(function(h, i){
            obj[h] = a[i];
          });
          return obj;
        })

        var questions = d3.select(feed).selectAll(".question_block")
          .data(activity, function(d){ return d.id; })

        var question_block = questions.enter()
          .insert("div", "div.infinite_loading")
            .attr("class", "question_block")

            // .attr("href", function(d){
            //   return "/about/contact/question/" + d.slug;
            // })

        var question_title = question_block.append("a")
          .attr("class", "decision short question")
          .text(function(d){ return d.question })
          .on(d3plus.client.pointer.click,function(){
            this.parentNode.toggleClass("active")
          })

        question_title.append("div")
          .attr("class", "vote_block")
          .text(function(d){
            if (d.votes == 1) var suffix = dataviva.format.text("point")
            else var suffix = dataviva.format.text("points")
            return d.votes + " " + suffix
          })


        // lastly, the div that holds the data
        var question_info = question_block.append("div")
          .attr("class","question_info")

        question_info.append("p")
          .attr("class","question_body")
          .html(function(d){
            if (d.body) return d.body.replace(/<(?!p>|\/p>)\/?[^>]+(>|$)/g, "")
            else d3.select(this).remove()
          })

        question_info.append("p")
          .attr("class","question_answer")
          .html(function(d){
            return d.status_notes.replace(/<(?!p>|\/p>)\/?[^>]+(>|$)/g, "")
          })

        question_info.append("p")
          .attr("class", "question_attr")
          .html(function(d){
            var user_link = ""
            if (d.user.role == 0) {
              user_link = dataviva.format.text("by") + " <a href='/user/" + d.user.nickname + "'>" + d.user.fullname + "</a> "
            }
            if (d.timestamp) var t = moment(d.timestamp).fromNow()
            else var t = ""
            if (user_link == "" && t == "") return ""
            return dataviva.format.text("Asked") + " " + user_link + t;
          })

        question_info.append("p")
          .attr("class", "question_replies")
          .html(function(d){
            if (d.replies == 1) var suffix = "{% trans %}Comment{% endtrans %}"
            else var suffix = "{% trans %}Comments{% endtrans %}"
            return "<a href='/about/question/" + d.slug + "'>" + d.replies + " " + suffix + "</a>"
          })

      }

      var is = infinite_scroll().format_items(item_formatter);

      change_order(order)
      change_type(type)

      d3.select("#ask_search").on("input", function(e){

        search_term = this.value;

        var url = json_url + "&q=" + search_term + "&order=" + order+ "&type=" + type;

        d3.select("#question_feed").html('')
          .call(is.url(url).offset(0).remove(true))

      })

    </script>

  {% endblock %}

{% endif %}
