<div class="office_background">
<div id="sabrina_data" class="grid5col1 grid5offset1"></div>
<div id="data_start" class="grid5col2">

  <div class="question">
    <div class="arrow"></div>
    <div class="text app_arrow">
      Which app would you like to build?
    </div>
  </div>

  <div class="decision" name="#">
    <div class="text app_arrow">
      <h3>Network</h3>
    </div>
    <div class="arrow"></div>
  </div>
  
  <div class="decision" name="#">
    <div class="text app_arrow">
      <h3>Rings</h3>
    </div>
    <div class="arrow"></div>
  </div>
  
  <div class="decision" name="#">
    <div class="text app_arrow">
      <h3>Occugrid</h3>
    </div>
    <div class="arrow"></div>
  </div>
  
  <div class="decision" name="#">
    <div class="text app_arrow">
      <h3>Scatter Plot</h3>
    </div>
    <div class="arrow"></div>
  </div>
  
  <div class="decision" name="#">
    <div class="text app_arrow">
      <h3>Stacked</h3>
    </div>
    <div class="arrow"></div>
  </div>
  
  <div class="decision" name="#">
    <div class="text app_arrow">
      <h3>Tree Map</3>
    </div>
    <div class="arrow"></div>
  </div>
  
  <div class="decision" name="#">
    <div class="text app_arrow">
      <h3>Geo Map</h3>
    </div>
    <div class="arrow"></div>
  </div>

  <p>or...</p><br />
  <div class="decision" name="builder">
    <div class="text app_arrow">
      <h3>Skip straight to the app builder!</h3>
    </div>
    <div class="arrow"></div>
  </div>

</div>
</div>

<script>

  dataminas.sabrina({
    "div": d3.select("#sabrina_data"),
    "outfit": "lab",
    "emotion": "smirk"
  })

  d3.selectAll("div.decision, div.help").on(vizwhiz.evt.click,function(){
    var name = d3.select(this).attr("name")
    if (name == "help") window.location = "/guide/"
    else load_page("/apps/"+name+"/");
  })

</script>