

/* home */
.bg-buildings {
  background: url(/static/img/bgs/buildings.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-agricultura {
  background: url(/static/img/bgs/agricultura.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-dots {
    background-image: url(/static/img/bgs/dots.png);
}


.bg-city-scratched {
  background: url(/static/img/bgs/city_scratched.png) no-repeat center bottom;
  background-size: cover;
}

/* begin backgrounds location */


.bg-1ac_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1ac_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1ac_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1ac_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2al_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2al_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2al_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2al_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1ap_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1ap_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1ap_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1ap_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1am_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1am_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1am_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1am_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2ba_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2ba_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2ba_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2ba_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2ce_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2ce_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2ce_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2ce_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3df_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/3df_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3df_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/3df_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4es_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/4es_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4es_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/4es_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3go_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/3go_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3go_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/3go_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2ma_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2ma_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2ma_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2ma_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3mt_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/3mt_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3mt_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/3mt_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3ms_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/3ms_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3ms_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/3ms_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4mg_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/4mg_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4mg_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/4mg_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1pa_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1pa_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1pa_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1pa_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2pb_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2pb_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2pb_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2pb_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-5pr_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/5pr_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-5pr_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/5pr_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2pe_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2pe_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2pe_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2pe_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2pi_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2pi_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2pi_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2pi_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4rj_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/4rj_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4rj_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/4rj_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2rn_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2rn_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2rn_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2rn_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-5rs_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/5rs_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-5rs_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/5rs_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1ro_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1ro_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1ro_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1ro_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1rr_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1rr_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1rr_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1rr_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-5sc_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/5sc_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-5sc_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/5sc_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4sp_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/4sp_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4sp_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/4sp_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2se_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2se_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2se_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2se_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1to_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1to_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1to_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1to_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-industry-a {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_a.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-b {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_b.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-c {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_c.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-d {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_d.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-e {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_e.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-f {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_f.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-g {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_g.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-h {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_h.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-i {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_i.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-j {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_j.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-k {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_k.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-l {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_l.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-m {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_m.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-n {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_n.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-o {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_o.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-p {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_p.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-q {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_q.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-r {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_r.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-s {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_s.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-t {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_t.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-u {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_u.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-x {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_x.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
