

/* page loader */
.loading .page-loader .loader-icon {
  background-image: url(/static/img/loader-dataviva.png);
  background-image: url(/static/img/loader-dataviva.svg);
}



/* home */
.bg-buildings {
  background: url(/static/img/bgs/buildings.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-agricultura {
  background: url(/static/img/bgs/agricultura.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-dots {
    background-image: url(/static/img/bgs/dots.png);
}


.bg-city-scratched {
  background: url(/static/img/bgs/city_scratched.png) no-repeat center bottom;
  background-size: cover;
}

/* begin backgrounds location */


.bg-1ac_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1ac_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1ac_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1ac_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2al_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2al_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2al_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2al_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1ap_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1ap_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1ap_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1ap_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1am_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1am_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1am_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1am_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2ba_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2ba_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2ba_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2ba_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2ce_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2ce_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2ce_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2ce_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3df_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/3df_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3df_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/3df_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4es_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/4es_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4es_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/4es_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3go_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/3go_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3go_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/3go_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2ma_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2ma_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2ma_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2ma_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3mt_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/3mt_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3mt_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/3mt_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3ms_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/3ms_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-3ms_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/3ms_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4mg_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/4mg_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4mg_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/4mg_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1pa_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1pa_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1pa_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1pa_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2pb_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2pb_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2pb_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2pb_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-5pr_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/5pr_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-5pr_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/5pr_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2pe_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2pe_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2pe_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2pe_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2pi_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2pi_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2pi_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2pi_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4rj_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/4rj_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4rj_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/4rj_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2rn_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2rn_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2rn_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2rn_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-5rs_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/5rs_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-5rs_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/5rs_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1ro_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1ro_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1ro_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1ro_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1rr_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1rr_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1rr_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1rr_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-5sc_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/5sc_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-5sc_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/5sc_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4sp_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/4sp_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-4sp_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/4sp_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2se_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/2se_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-2se_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/2se_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1to_1 {
  background: url(https://dataviva.s3.amazonaws.com/img/1to_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-1to_2 {
  background: url(https://dataviva.s3.amazonaws.com/img/1to_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*** INDUSTRY **/

.bg-industry-a {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_a.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-b {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_b.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-c {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_c.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-d {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_d.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-e {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_e.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-f {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_f.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-g {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_g.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-h {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_h.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-i {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_i.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-j {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_j.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-k {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_k.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-l {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_l.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-m {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_m.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-n {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_n.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-o {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_o.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-p {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_p.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-q {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_q.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-r {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_r.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-s {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_s.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-t {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_t.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-u {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_u.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-industry-x {
  background: url(https://dataviva.s3.amazonaws.com/img/industry/industry_x.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/** OCCUPATION **/

.bg-occupation-1 {
  background: url(https://dataviva.s3.amazonaws.com/img/occupation/occupation_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-occupation-2 {
  background: url(https://dataviva.s3.amazonaws.com/img/occupation/occupation_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-occupation-3 {
  background: url(https://dataviva.s3.amazonaws.com/img/occupation/occupation_3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-occupation-4 {
  background: url(https://dataviva.s3.amazonaws.com/img/occupation/occupation_4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-occupation-5 {
  background: url(https://dataviva.s3.amazonaws.com/img/occupation/occupation_5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-occupation-6 {
  background: url(https://dataviva.s3.amazonaws.com/img/occupation/occupation_6.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-occupation-7 {
  background: url(https://dataviva.s3.amazonaws.com/img/occupation/occupation_7.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-occupation-8 {
  background: url(https://dataviva.s3.amazonaws.com/img/occupation/occupation_8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-occupation-9 {
  background: url(https://dataviva.s3.amazonaws.com/img/occupation/occupation_9.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*** PRODUCT ***/

.bg-product-01 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_01.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-02 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_02.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-03 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_03.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.bg-product-04 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_04.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-05 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_05.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-06 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_06.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-07 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_07.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-08 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_08.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-09 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_09.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-10 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_10.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-11 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_11.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-12 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_12.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-13 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_13.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-14 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_14.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-15 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_15.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-16 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_16.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-17 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_17.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-18 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_18.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-19 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_19.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-20 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_20.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-21 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_21.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-product-22 {
  background: url(https://dataviva.s3.amazonaws.com/img/product/product_22.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/***  MAJOR ***/

.bg-major-0 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_0.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-1 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-14 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_14.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-21 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_21.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-22 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_22.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-31 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_31.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-32 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_32.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-34 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_34.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-38 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_38.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-42 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_42.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-44 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_44.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-46 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_46.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-48 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_48.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-52 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_52.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-54 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_54.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-58 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_58.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-62 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_62.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-64 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_64.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-72 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_72.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-76 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_76.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-81 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_81.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-84 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_84.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-85 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_85.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-major-86 {
  background: url(https://dataviva.s3.amazonaws.com/img/major/major_86.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*** BASIC COURSE ****/

.bg-basic-course-00 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_00.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-01 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_01.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-02 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_02.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-03 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_03.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-04 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_04.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-05 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_05.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-06 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_06.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-07 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_07.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-08 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_08.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-09 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_09.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-10 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_10.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-11 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_11.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-12 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_12.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-13 {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_13.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-basic-course-XX {
  background: url(https://dataviva.s3.amazonaws.com/img/basic-course/basic-course_XX.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/**** UNIVERSITY  ***/

.bg-university-p {
  background: url(https://dataviva.s3.amazonaws.com/img/university/university_p.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-university-q {
  background: url(https://dataviva.s3.amazonaws.com/img/university/university_q.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-university-r {
  background: url(https://dataviva.s3.amazonaws.com/img/university/university_r.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-university-s {
  background: url(https://dataviva.s3.amazonaws.com/img/university/university_s.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-university-t {
  background: url(https://dataviva.s3.amazonaws.com/img/university/university_t.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-university-u {
  background: url(https://dataviva.s3.amazonaws.com/img/university/university_u.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-university-x {
  background: url(https://dataviva.s3.amazonaws.com/img/university/university_x.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/****  TRADE-PARTNER ***/

.bg-trade-partner-af {
  background: url(https://dataviva.s3.amazonaws.com/img/trade-partner/trade-partner_af.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-trade-partner-an {
  background: url(https://dataviva.s3.amazonaws.com/img/trade-partner/trade-partner_an.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-trade-partner-as {
  background: url(https://dataviva.s3.amazonaws.com/img/trade-partner/trade-partner_as.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-trade-partner-eu {
  background: url(https://dataviva.s3.amazonaws.com/img/trade-partner/trade-partner_eu.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-trade-partner-na {
  background: url(https://dataviva.s3.amazonaws.com/img/trade-partner/trade-partner_na.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-trade-partner-oc {
  background: url(https://dataviva.s3.amazonaws.com/img/trade-partner/trade-partner_oc.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-trade-partner-sa {
  background: url(https://dataviva.s3.amazonaws.com/img/trade-partner/trade-partner_sa.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-trade-partner-xx {
  background: url(https://dataviva.s3.amazonaws.com/img/trade-partner/trade-partner_xx.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




