

/* page loader */
.loading .page-loader .loader-icon {
  background-image: url(/static/img/loader-dataviva.png);
  background-image: url(/static/img/loader-dataviva.svg);
}



/* home */
.bg-buildings {
  background: url(/static/img/bgs/buildings.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-agricultura {
  background: url(/static/img/bgs/agricultura.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-dots {
    background-image: url(/static/img/bgs/dots.png);
}


.bg-city-scratched {
  background: url(/static/img/bgs/city_scratched.png) no-repeat center bottom;
  background-size: cover;
}
