/* TODO - ORGANIZE THE CSS TO PREVENT THE USE OF !IMPORTANT */

a.selected {
	background-color: #23527c !important;
	color: white !important;
	font-weight: bold !important;
}

img.loc-flag-icon {
	width: 30px;
	height: 30px;
}