body #inner_container {
  display: block;
  vertical-align: top;
}

body #container {
  padding: 78px 0px 59px 0px;
  width: 100%;
}

#user_header {
  margin: 30px;
  position: relative;
}

#user_pic {
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  float: left;
  margin: 3px 10px 0px 0px;
  height: 50px;
  width: 50px;
}

#activity_sorter {
  position: absolute;
  right: 0px;
  top: 14px;
}

#activity_list > a {
  font-size: 16px !important;
}

#activity_list > a > .timestamp {
  font-size: 12px !important;
  opacity: 0.75;
}

#active_preferences{
	display: none;
	padding:20px;
}

#active_preferences fieldset{
	border:1px solid rgb(175, 31, 36);;
	padding:20px;
}

#active_preferences fieldset legend{
	font-size:16px;
	color: #fff;
	font-weight: bold;
	padding:7px;
	background:rgb(175, 31, 36);
	margin-left:0px;
}
#active_preferences h2{
	font-size:22px;
	color: #333;
}

#active_preferences label{
	font-size:12px
}


