body.profiles::-webkit-scrollbar {
  display: none;
}

body.profiles #inner_container {
  display: block;
  vertical-align: top;
}

body.profiles #container {
  padding: 68px 0px 49px 0px;
  text-align: left;
  width: 100%;
  max-width:100%;
}

div#guide_controls {
  left: 20px;
  padding: 10px 10px 5px 10px;
  position: fixed;
  top: 88px;
  width: 300px;
}

div#profile_button {
  background-color: #fff;
  border: solid 1px #ccc;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  -webkit-transition: background-color .1s;
          transition: background-color .1s;
}

div#profile_button:hover {
  background-color: #efefef;
  cursor: pointer;
}

div#guide_icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 30px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 30px;
}

div#guide_title {
  font-size: 24px;
  margin-left: 35px;
}

div#guide_stats {
  margin-bottom: 5px;
}

div.d3plus_tooltip_data_title {
  margin-top: 5px;
}

div.d3plus_tooltip_data_name {
  width: 130px;
}

div#guide_controls div.d3plus_tooltip_data_value {
  display: inline-block;
  position: static;
  width: 150px;
}

div.guide_app {
  background-color: white;
  margin: 20px 0px;
  margin-left: 360px;
  white-space: nowrap;
}

iframe {
  display: block;
  float: left;
  height: 100%;
  width: 100%;
}