body.classifications #inner_container,
body.query #inner_container {
  display: block;
  vertical-align: top;
}

body.query #container {
  padding: 58px 0px 49px 0px;
  text-align: left;
  width: 100%;
}

body.query #dynamic_header {
  left: 0px;
  margin-left: 0px;
  width: 100%;
}

body.classifications #fullscreen {
  background-image: none !important;
}

/***************************/
/* Classification Specific */
/***************************/

.data_depth {
  position: absolute;
  right: 6px;
  top: 0px;
}

#results {
  margin-top: -15px;
}

/***********************/
/* Data Query Specific */
/***********************/

#data_toggle, .years_dropdown {
  display: inline-block;
  margin-bottom: 10px;
}

.leon.button.square {
  font-size: 15px !important;
  height: 17px;
  line-height: 16px;
  margin: 0px 0px 5px 0px;
  padding: 3px !important;
  width: 17px;
}

.leon.button.square:hover {
  background-color: rgb(239,239,239);
}

span.show {
  display: inline-block;
}

.active span.show {
  display: none;
}

.data_table {
  margin: 20px 0px;
  margin-left: 360px;
  width: 320px;
  height: 320px;
  white-space: nowrap;
  -webkit-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

#table_container {
  padding-left: 340px;
  min-height: 500px;
  overflow-x: auto;
}

#filter_selects {
  left: 20px;
  overflow: hidden;
  padding: 10px 10px 5px 10px;
  position: fixed;
  text-align: center;
  top: 78px;
  width: 300px;
}

.filter_button:after {
  -webkit-transition: -webkit-transform .2s;
          transition: -webkit-transform .2s;
}

.filter.active .filter_button:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.filter_box {
  display: none;
  margin: -5px 0px 5px;
  padding: 10px;
  position: relative;
  text-align: left;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.25);
  background-color: #eee;
}

.filter.active .filter_box {
  display: block;
}

.filter_box div.filler {
  margin-bottom: 5px;
  text-align: center;
}

.filter_box .filter_item {
  background-color: rgba(0,0,0,0.05);
  margin-bottom: 8px;
  padding: 8px;
  position: relative;
  text-align: left;
}

.filter_item span.list_icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}

.filter_item span.filter_title {
  display: inline-block;
  font-size: 14px;
  margin: 4px 5px;
}

.filter_item i {
  color: #888;
  font-size: 17px;
  opacity: 0.5;
  position: absolute;
  right: 5px;
  top: 4px;
  -webkit-transition: opacity 0.1s;
          transition: opacity 0.1s;
}

.filter_item .filter_depth {
  display: block;
  margin-left: 30px;
}

.filter_item i:hover {
  cursor: pointer;
  opacity: .75;
}

.filter_box .add_filter {
  display: block;
  margin-top: 8px !important;
}

.filter_box .add_filter:hover {
  background-color: rgb(239,239,239);
}

.filter_box .add_filter > i {
  margin: 2px 5px 0px 0px;
}

iframe {
  display: block;
  float: left;
  height: 100%;
  width: 100%;
}

#column_toggles {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 5;
  position: relative;
}

#column_toggles .selector_title {
  padding: 20px 12px 15px;
  text-align: center;
  font-weight: bold;
}

.column_toggle {
  padding: 0px 5px 10px;
}

.column_toggle .leon.checkbox {
  width: 100%;
}

.column_toggle .leon.checkbox.group {
  float: right;
  margin-right: 10px;
}
