table {
  border-collapse: collapse;
  width: 100%;
  background-color: transparent;
  padding: 10px;
  text-align: left;
}

table thead {
  display: block;
  height: 36px;
}

table th {
  background: white;
  color: #aaa;
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  padding: 9px;
  text-align: left;
  white-space: normal;
/*  -webkit-transition: width .2s;
          transition: width .2s;*/
}

body.classifications table th,
body.query table th {
  color: #1abbee;
}

table thead tr {
  white-space: nowrap;
}

table tbody tr {
  background: white;
  border-bottom: solid 1px #ccc;
  color: #888;
  font-size: 14px;
  line-height: 16px;
}

table tbody td.link {
  font-weight: bold;
}

table tbody tr.link:hover,
table tbody td.link:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

table tbody tr:last-child {
  border-bottom: solid 1px transparent;
}

table td {
  padding: 9px;
}

table td > a {
  color: #666666;
}

table td.icon {
  padding: 3px;
  width: 29px;
}

table th.icon {
  padding: 9px 3px;
  width: 29px;
}

table td.id, table td.bra_id, table td.isic_id, table td.cbo_id, 
table td.hs_id, table td.wld_id, table td.year, table td.color, table td.icon,
table th.id, table th.bra_id, table th.isic_id, table th.cbo_id, 
table th.hs_id, table th.wld_id, table th.year, table th.color, table th.icon {
  text-align: center;
}

table td.icon > div{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 29px;
  height: 29px;
}


#dt_query table.body {
  margin-top: 30px;
}
#dt_query table.header {
  background: white;
}
#dt_query table.header thead {
  background: white;
  position: fixed;
  top: 0;
}
#dt_query table td{
  background: white;
}
#dt_query table td,
#dt_query table th{
  width: 100px;
}
#dt_query table thead tr{
  border-bottom: solid #ccc 1px;
}

#dt_query #sticky {
  border: solid 1px #efefef;
  position: absolute;
  left: 0;
  width: 136px;
  top: 0;
  z-index: 1;
  -webkit-box-shadow: 3px 0px 3px rgba(0,0,0,0.25);
          box-shadow: 3px 0px 3px rgba(0,0,0,0.25);
}
#dt_query #data {
  margin-left: 235px;
  overflow-x: scroll;
  width: 725px;
  z-index: 0;
}
#dt_query #data th {
  color: #000;
  cursor: pointer;
}
table { table-layout: fixed; border-collapse: collapse; border-spacing: 0; overflow: hidden;}

table .year     { width: 50px !important; }
table .bra_id   { width: 70px !important; }
table .isic_id  { width: 70px !important; }
table .cbo_id   { width: 70px !important; }
table .hs_id    { width: 70px !important; }
table .wld_id   { width: 70px !important; }