body.table {
  background-color: white;
}

table { 
  border-collapse: collapse; 
  border-spacing: 0; 
  overflow: hidden;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

table th {
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  padding: 9px;
  text-align: left;
  white-space: normal;
}

body.classifications table th {
  color: #1abbee;
}

body.table table th {
  color: #1abbee;
}

table thead tr {
  white-space: nowrap;
}

table tbody tr {
  color: #888;
  font-size: 14px;
  line-height: 16px;
}

#sticky table tbody tr:nth-child(odd) {
  background-color: #f0f0f0;
}

#data table tbody tr:nth-child(odd) {
  background-color: rgba(235,235,235,0.75);
}

table tbody td.link {
  font-weight: bold;
}

table tbody tr:last-child {
  border-bottom: solid 1px transparent;
}

table td {
  padding: 9px;
}

table td.icon {
  padding: 3px;
  width: 29px;
}

table th.icon {
  padding: 9px 3px;
  width: 29px;
}

table td.id, table td.bra_id, table td.isic_id, table td.cbo_id, 
table td.hs_id, table td.wld_id, table td.year, table td.color, table td.icon,
table th.id, table th.bra_id, table th.isic_id, table th.cbo_id, 
table th.hs_id, table th.wld_id, table th.year, table th.color, table th.icon {
  text-align: center;
}

table td.icon > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 29px;
  height: 29px;
}

#dt_query table.body {
  margin-top: 30px;
}

thead {
  border-color: rgba(255,255,255,0.75);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: fixed;
  top: 0;
  -webkit-transition: border-color .4s;
          transition: border-color .4s;
}

thead.shadow {
  border-color: rgba(235,235,235,0.5);
}

#sticky {
  background-color: white;
  border-color: #f0f0f0;
  border-right-width: 0px;
  border-right-style: solid;
  position: absolute;
  left: 0;
  width: 136px;
  top: 0;
  z-index: 1;
  -webkit-transition: -webkit-box-shadow 0.4s;
                  transition: box-shadow 0.4s;
}

#sticky.shadow {
  border-right-width: 1px;
  -webkit-box-shadow: 3px 0px 3px rgba(0,0,0,0.1);
          box-shadow: 3px 0px 3px rgba(0,0,0,0.1);
}

#data {
  margin-left: 235px;
  overflow-x: scroll;
  width: 725px;
  z-index: 0;
}

table th {
  background-color: rgba(255,255,255,0.75);
  font-weight: bold;
  position: relative;
}

table th:hover {
  background-color: rgba(235,235,235,0.75);
  cursor: pointer;
}

table th::after {
  content: "";
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
}

body.classifications table th.asc::before,
body.classifications table th.desc::before {
  background-color: #1abbee;
}

body.table table th.asc::before,
body.table table th.desc::before {
  background-color: #1abbee;
}

body.table table th.asc::before, body.table table th.desc::before,
body.classifications table th.asc::before, 
body.classifications table th.desc::before {
  content: "";
  display: block;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

table th.asc::after {
  content: " \f077";
}

table th.desc::after {
  content: " \f078";
}

table td,
table th, table th::before {
  width: 120px;
}

table .year { 
  width: 40px !important; 
}
table .bra_id, table .isic_id,
table .cbo_id, table .hs_id,
table .wld_id { 
  width: 60px !important; 
}
table .bra_id { 
  width: 70px !important; 
}