body.about #inner_container {
  display: block;
  vertical-align: top;
}

#about_nav {
  left: 50%;
  margin-left: -400px;
  position: fixed;
  top: 75px;
}

#about_nav > a {
  margin: 0px 0px 6px 0px !important;
}

#about_nav > a.decision::after {
  content: '';
}

#about_nav > a.decision.short::after {
  content: '\f105';
}

#about_content {
  padding: 0px 25px 25px 200px;
}

#about_content > .lightbox {
  padding: 20px 20px 10px 20px;
  width: 526px;
}

img {
  display: block;
  margin: 0px auto;
}

/****************/
/* Help Specific */
/****************/

ul {
	margin: 10px 0px;
}

ul > li {
  font-size: 12px;
  margin: 2px 2px 2px 25px;
}
ul li a {
	color: #d67ab0;
}

h2.term {
	border-bottom: solid 1px black;
	margin: 30px 0 5px 0;
}
p a {
	color: #d67ab0;
}
#help_wrapper img {
  text-align: center;
  display: block;
  margin: 0px auto;
  width: 100%;
  height: auto;
}
#help_wrapper .ui_group {
  text-align: center;
  margin: 10px 0px;
}