#about_nav {
  position: fixed;
  left: 20px;
  top: 88px;
  width: 250px;
}

#nav_footer {
  margin: 0 30px 10px 290px;
}

#about_nav > a.short {
  margin: 5px 15px !important;
}

#about_nav > a.decision::after {
  content: '';
}

#about_nav > a.decision.short::after {
  content: '\f105';
}

#about_content {
  display: inline-block;
  text-align: left;
  width: 100%;
}

#about_content > .lightbox {
  display: block;
  margin: 10px 30px 30px 290px;
  padding: 20px 20px 16px 20px;
  position: relative;
}

img {
  display: block;
  margin: 0px auto;
}

/**********************/
/* Crosswalk Specific */
/**********************/
table#crosswalk {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

table#crosswalk thead {
  color: #888;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
}

table#crosswalk tbody tr {
  color: #888;
  font-size: 14px;
  line-height: 16px;
}

table#crosswalk tbody tr:nth-child(odd) {
  background-color: rgba(235,235,235,0.75);
}

table#crosswalk td, table#crosswalk th {
  font-weight: lighter;
  padding: 9px;
}

table#crosswalk ul {
  list-style-type: none;
}

table#crosswalk li {
  margin-bottom: 8px;
}

table#crosswalk li:last-child {
  margin-bottom: 0;
}

/******************/
/* Attrs Specific */
/******************/

div#controls {
  left: 0px;
  padding: 12px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 2;
}

div#controls > div {
  display: inline-block;
}

div#iframe {
  position: relative;
  /*margin: 28px 0px -10px -20px;*/
  /*width: 566px;*/
  z-index: 1;
}

iframe.attrs {
  border-top: 1px solid #ccc;
  margin-top: 50px;
  /*min-height: 181px;*/
  /*width: 566px;*/
}

iframe.youtube {
  margin: 10px 0px;
}

/****************/
/* Ask Specific */
/****************/

#question_list {
  display: block;
}

div#ask_type_toggle_form {
  margin: 18px 10px 10px;
  text-align: right;
}

div#search_div {
  margin: 30px 0px 10px;
  padding: 1px;
  position: relative;
}

div#sabrina_head {
  background-image: url("/static/img/ask/sabrina_answer.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0px;
  height: 105px;
  position: absolute;
  right: 5px;
  width: 83px;
}

div#search_div > div#sabrina_head {
  bottom: 2px;
}

div#list_title {
  height: 60px;
  position: relative;
  margin-bottom: 20px;
}

div#order_toggle {
  position: absolute;
  right: 0px;
  top: -3px;
}

div#ask_type_toggle {
  position: absolute;
  right: 0px;
  top: 30px;
}

a.decision.short.question {
  padding-left: 70px !important;
}

div.decision.short.answer {
  min-height: 64px;
  padding-left: 70px !important;
}

div.decision.short.answer:after {
  content: "";
}

div.question_block.active a.decision.short.question:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

div.vote_block {
  font-size: 12px;
  font-weight: bold;
  left: 10px;
  line-height: 14px;
  opacity: 0.5;
  position: absolute;
  top: 6px;
}

div.vote_block.answer {
  position: absolute;
  text-align: center;
  top: 12px;
  width: 50px;
}

div.vote_count {
  font-size: 20px;
  margin-bottom: 6px;
}

div.vote_label {
  margin-bottom: 3px;
}

.vote_up {
  color: green;
  font-size: 16px;
  opacity: 0.75;
}

.vote_up:hover {
  color: green;
  opacity: 1;
}

.vote_down {
  color: red;
  font-size: 16px;
  margin-right: 3px;
  opacity: 0.75;
}

.vote_down:hover {
  color: red;
  opacity: 1;
}

div.question_info {
  background-color: #eee;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.25);
  display: none;
  margin: -6px 0px 6px 0px;
  overflow: hidden;
  padding: 10px 20px 0px;
  position: relative;
}

p.question_body {
  color: #888;
  font-style: italic;
}

div.question_block.active div.question_info {
  display: block;
}

div.question_info.active {
  display: block;
  min-height: 70px;
  padding-bottom: 30px;
  padding-right: 110px;
}

p.question_replies {
  bottom: 0px;
  position: absolute;
  right: 20px;
}

p.question_attr, p.question_replies {
  color: #888;
  font-weight: bold;
}

div.question_info.active p.question_attr {
  position: absolute;
  bottom: 0px;
}

.redactor_box {
  margin: 20px 10px;
  width: 504px;
}

input {
  margin: 10px 10px 0px !important;
  width: 488px;
}

.reply_box {
  border-top: 1px solid #888;
  padding: 12px;
  position: relative;
}

.reply_box .redactor_box {
  margin: 0px -5px 0px 0px;
}

div.reply_body {
  margin-left: 60px;
}

div.reply_box.comment.child {
  margin-left: 70px;
  min-height: 54px;
}

div.reply_box.comment.child p.question_attr {
  margin-bottom: 0px;
}

div.reply_box:last-child {
  border-bottom: 0px;
}

#terms_of_use ul{
	font-size: 13px;
	margin-bottom: 20px;
	margin-left: 26px;
}

#admin_form input:text {
	width:100%;
}


.download_classification {
	border: 1px solid #AAA;
	padding: 5px 4px;
	margin-top: 0px;
	display: inline-block;
	height: 13px;
}
