body.home #container {
  padding: 78px 0px 66px 0px !important;
  width: 800px;
}

body.home #intro {
  display: block;
  height: 330px;
  margin: 0px 0px;
  position: relative;
  width: 100%;
}

body.home #carousel {
  display: block;
  height: 270px;
  position: absolute;
  text-align: left;
  width: 800px;
}

body.home #carousel .app {
  background-position: 320px 0px;
  background-repeat: no-repeat;
  background-size: 480px 270px;
  -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
          box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
  display: none;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}

body.home #carousel .app iframe {
  margin-left: 320px;
}

body.home #intro h1 {
  color: white;
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
  padding: 25px;
  position: absolute;
  text-align: left;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
  width: 270px;
  z-index: 30;
}

body.home #carousel .centered {
  margin-left: 320px;
  top: 110px;
  position: absolute;
  text-align: center;
  width: 480px;
  z-index: 10;
}

body.home #carousel .decision {
  display: inline-block;
  width: 90px;
  -webkit-transition: background-color 1s;
          transition: background-color 1s;
}

body.home .pages {
  bottom: 5px;
  position: absolute;
  text-align: center;
  width: 100%;
}

body.home .page {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
          box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
  color: #ccc;
  display: inline-block;
  font-size: 18px;
  font-weight: lighter;
  height: 30px;
  line-height: 30px;
  margin: 10px;
  opacity: 0.9;
  -webkit-transition: background-color 1s, color 1s;
          transition: background-color 1s, color 1s;
  width: 30px;
}

body.home .page.active {
  color: #fff;
}

body.home .page:hover {
  cursor: pointer;
  opacity: 1;
}