body.rankings #inner_container {
  display: block;
  vertical-align: top;
}

#rankings_nav {
  left: 20px;
  position: absolute;
  top: 78px;
  width: 250px;
}

#rankings_nav > a.decision:after {
  content: '';
}

div#rankings_table {
  height: 200px;
  left: 290px;
  min-height: 200px;
  min-width: 500px;
  overflow: hidden;
  position: absolute;
  top: 88px;
  -webkit-transition: height 1s, width 1s;
          transition: height 1s, width 1s;
  width: 500px;
}

div#controls {
  text-align: center;
  padding: 12px 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}

div#controls > div {
  display: inline-block;
}

div#iframe {
  position: relative;
  margin-top: 48px;
  width: 100%;
  z-index: 1;
}

iframe {
  border-top: 1px solid #ccc;
  min-height: 151px;
}