body.home #big_sabrina {
  bottom: 0px;
  position: fixed;
  right: 20px;
  top: 80px;
  width: 500px;
}

body.home #welcome {
  background-color: white;
  padding: 10px;
  text-align: center;
  width: 500px;
}

body.home #welcome a.logo {
  height: 75px;
  width: 120px;
}

body.home #welcome a.logo.governo {
  background-image: url("/static/img/nav/logo_governo.jpg");
  opacity: 1;
}

body.home #welcome a.logo.fapemig {
  background-image: url("/static/img/nav/logo_fapemig.jpg");
  opacity: 1;
}