#admin_nav {
  left: 50%;
  margin-left: -478px;
  position: fixed;
  top: 100px;
}

#admin_nav > a {
  margin: 0px 0px 6px 0px !important;
}

#admin_content {
  padding: 22px 25px 25px 200px;
}

#admin_content > .lightbox {
  padding: 20px;
  width: 724px;
}

.user-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 25px;
  margin-right: 5px;
  width: 25px;
}

table {
  width: 100%;
}

th {
  color: #c8140a;
  font-size: 14px;
  font-weight: lighter;
  line-height: 0px !important;
  padding: 9px;
  text-align: left;
  vertical-align: middle;
}

tr {
  border-bottom: solid 1px #ccc;
  color: #888;
  font-size: 14px;
  line-height: 25px;
}

td {
  color: #333;
  font-size: 14px;
  font-weight: lighter;
  padding: 9px;
  text-align: left;
}

div.posted {
  float: left;
}

td > div, .posted > div {
  display: inline-block;
}

td.role_toggle {
  min-width: 120px;
}

td.hidden_toggle {
  min-width: 100px;
}

td > .leon.radio {
  line-height: 12px;
}

tr:last-child {
  border-bottom: solid 1px transparent;
}

#leon_status, #leon_language {
  float: right;
}

#submit_button {
  margin: 0px;
}
