body.profiles::-webkit-scrollbar {
  display: none;
}

body.profiles #inner_container {
  display: block;
  vertical-align: top;
}

body.profiles #container {
  padding: 58px 0px 49px 0px;
  text-align: left;
  width: 100%;
}

div#guide_controls {
  left: 20px;
  padding: 10px 10px 5px 10px;
  position: fixed;
  top: 78px;
  width: 250px;
}

div#guide_icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  height: 30px;
  margin-right: 5px;
  width: 30px;
}

div#guide_title {
  font-size: 24px;
  margin-bottom: 10px;
}

div#guide_stats {
  margin-bottom: 5px;
}

div.vizwhiz_tooltip_data_block > div {
  width: 117px;
}

div.guide_app {
  background-color: white;
  margin: 20px 0px;
  margin-left: 310px;
  white-space: nowrap;
}

iframe {
  display: block;
  float: left;
  height: 100%;
  width: 100%;
}

/*iframe, .guide_table {
  display: block;
  float: left;
  height: 100%;
  width: 50%;
}*/

/*.guide_table {
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
}

table.header {
  background-color: rgba(255,255,255,0.75);
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 2;
}

table.body {
  margin-top: 30px;
}

th {
  font-weight: bold;
}*/