{% extends "mail.html" %}

{% block mail_body %}


<h1 style="margin-top: 0px; margin-bottom: 0px; font-weight: normal; color: rgb(86, 86, 86); font-size: 36px; line-height: 43px; text-align: center;">
    <strong>{% trans %}Welcome{% endtrans %}!</strong>
</h1>

<p style="margin-top: 20px; margin-bottom: 0px; font-size: 16px; color: rgb(86, 86, 86); line-height: 24px; text-align: center;">
    &nbsp;<br />
    {% trans %}Hi there, thank you for signing up to DataViva.{% endtrans %}
</p>

<p style="margin-top: 20px; margin-bottom: 20px; color: rgb(86, 86, 86); font-size: 16px; line-height: 24px; text-align: center;">
    {% trans %}Please click the link bellow to complete your registration{% endtrans %}
</p>

<p style="margin-top: 20px; margin-bottom: 20px; color: rgb(86, 86, 86); font-size: 16px; line-height: 24px; text-align: center;">
    &nbsp;</p>
</div>

<div style="color: rgb(120, 119, 120); font-family: Ubuntu, sans-serif; font-size: 14px; line-height: 21px; margin-left: 20px; margin-right: 20px; background-color: rgb(255, 255, 255);">
    <div style="line-height: 10px; font-size: 1px;">&nbsp;</div>
</div>

<div style="color: rgb(120, 119, 120); font-family: Ubuntu, sans-serif; font-size: 14px; line-height: 21px; margin-left: 20px; margin-right: 20px; background-color: rgb(255, 255, 255);">
<div style="margin-bottom: 20px; text-align: center;">
<a style="color: rgb(255, 255, 255); border-radius: 4px; display: inline-block; font-weight: bold; line-height: 24px; padding: 12px 35px; text-decoration: none !important; background-color: rgb(128, 191, 46);"
    href="{{ confirmation_url }}"
    target="_blank">{% trans %}VERIFY E-MAIL{% endtrans %}</a></div>
</div>

{% endblock %}
