<div id="graphs-oportunities" class="container">
    <nav class="nav-graph col-xs-12 col-md-3" >
        <h3>Visualize:</h3>
        <div class="list-group panel">
            <h4>Espaço de Produtos</h4>
            <a href="/pt/embed/network/secex/{{location.id}}/all/all/hs/?rca_scope=wld_rca&color=color&spotlight=true&size=export_val" target="graphs-frame-oportunities" class="list-group-item">Rede</a>
            <a href="/pt/embed/scatter/secex/{{location.id}}/all/all/hs/?rca_scope=wld_rca&color=color&controls=true&depth=hs_2&year=2014&y=pci&x=distance&size=export_val" target="graphs-frame-oportunities" class="list-group-item">Disperçāo</a>
            <h4>Espaço de Atividades</h4>
            <a href="/pt/embed/network/rais/{{location.id}}/all/all/cnae/?color=color&size=wage&spotlight=true" target="graphs-frame-oportunities" class="list-group-item">Rede</a>
            <a href="/pt/embed/scatter/secex/{{location.id}}/all/all/hs/?rca_scope=wld_rca&color=color&controls=true&depth=hs_2&y=opp_gain&x=distance&size=export_val" target="graphs-frame-oportunities" class="list-group-item">Disperçāo</a>
        </div>
    </nav>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="/pt/embed/network/secex/{{location.id}}/all/all/hs/?rca_scope=wld_rca&color=color&spotlight=true&size=export_val"
                name="graphs-frame-oportunities"
                id="graphs-frame-oportunities"
                class="embed-responsive-item" >
        </iframe>
    </div>
</div>