<div id="graphs-trade-partner" class="container">
    <nav class="nav-graph col-xs-12 col-md-3" >
    <h3>Visualize:</h3>
        <div class="list-group panel">
            <h4 class="m-n">
                <a href="/pt/embed/line/secex/{{location.id}}/all/all/balance/?scale=linear&depth=direction&time=month&y=val_usd"
                   class="list-group-item" target="graphs-frame-trade-partner">
                    Balança Comercial por
                </a>
            </h4>
            <h4>Exportações por</h4>
            <a href="#exports-products" class="list-group-item" data-toggle="collapse" data-parent="#exports-products">Produtos</a>
            <div class="collapse" id="exports-products">
                <a href="/pt/embed/tree_map/secex/{{location.id}}/all/all/hs/?color=color&depth=hs_6&size=export_val"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#exports-products">
                    TreeMap
                </a>
                <a href="/pt/embed/stacked/secex/{{location.id}}/all/all/hs/?sort=asc&layout=value&color=color&time=year&y=export_val&order=color"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#exports-products">
                    Evoluçāo
               </a>
            </div>

            <a href="#exports-destination" class="list-group-item" data-toggle="collapse" data-parent="#exports-destination">Destinos</a>
            <div class="collapse" id="exports-destination">
                <a href="/pt/embed/tree_map/secex/{{location.id}}/all/all/bra/?color=color&depth=bra_9&size=export_val"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#exports-destination">
                    TreeMap
                </a>
                <a href="/pt/embed/stacked/secex/{{location.id}}/all/all/bra/?sort=asc&layout=value&color=color&time=year&y=export_val&order=color"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#exports-destination">
                    Evoluçāo
               </a>
            </div>

            <h4>Importações por</h4>
            <a href="#imports-products" class="list-group-item" data-toggle="collapse" data-parent="#imports-products">Produtos</a>
            <div class="collapse" id="imports-products">
                <a href="/pt/embed/tree_map/secex/{{location.id}}/all/all/hs/?color=color&depth=hs_6&size=import_val"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#imports-products">
                    TreeMap
                </a>
                <a href="/pt/embed/stacked/secex/{{location.id}}/all/all/hs/?sort=asc&layout=value&color=color&time=year&y=import_val&order=color"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#imports-products">
                    Evoluçāo
               </a>
            </div>

            <a href="#imports-origin" class="list-group-item" data-toggle="collapse" data-parent="#imports-origin">Origens</a>
            <div class="collapse" id="imports-origin">
                <a href="/pt/embed/tree_map/secex/{{location.id}}/all/all/bra/?color=color&depth=bra_9&size=import_val"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#imports-origin">
                    TreeMap
                </a>
                <a href="/pt/embed/stacked/secex/{{location.id}}/all/all/bra/?sort=asc&layout=value&color=color&time=year&y=import_val&order=color"
                   target="graphs-frame-trade-partner" class="list-group-item" data-parent="#imports-origin">
                    Evoluçāo
               </a>
            </div>
        </div>
    </nav>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="/pt/embed/tree_map/secex/{{location.id}}/all/all/hs/?color=color&depth=hs_6&size=export_val"
                name="graphs-frame-trade-partner"
                id="graphs-frame-trade-partner"
                class="embed-responsive-item" >
        </iframe>
    </div>
</div>
