<div id="graphs-wages" class="container">
    <nav class="nav-graph col-xs-12 col-md-3" >
    <h3>{% trans %}Preview{% endtrans %}:</h3>
        <div class="list-group panel">
            <h4>{% trans %}Employment By{% endtrans %}</h4>
            <a href="#jobs-industry" class="list-group-item" data-toggle="collapse" data-parent="#jobs-industry">{% trans %}Industry{% endtrans %}</a>
            <div class="collapse" id="jobs-industry">
                <a href="/{{ g.locale }}/embed/tree_map/rais/{{location.id}}/all/all/cnae/?color=color&depth=cnae_6&size=num_jobs"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#jobs-industry">
                    TreeMap
                </a>
                <a href="/{{ g.locale }}/embed/stacked/rais/{{location.id}}/all/all/cnae/?sort=asc&layout=value&y=num_jobs&order=color"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#jobs-industry">
                    {% trans %}Stacked{% endtrans %}
               </a>
            </div>

            <a href="#jobs-occupation" class="list-group-item" data-toggle="collapse" data-parent="#jobs-occupation">{% trans %}Occupation{% endtrans %}</a>
            <div class="collapse" id="jobs-occupation">
                <a href="/{{ g.locale }}/embed/tree_map/rais/{{location.id}}/all/all/cbo/?color=color&depth=cbo_4&size=num_jobs"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#jobs-occupation">
                    TreeMap
                </a>
                <a href="/{{ g.locale }}/embed/stacked/rais/{{location.id}}/all/all/cbo/?sort=asc&layout=value&y=num_jobs&order=color"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#jobs-occupation">
                    {% trans %}Stacked{% endtrans %}
               </a>
            </div>

            {% if location.id | length != 9 %}
              <a href="#jobs-municipality" class="list-group-item" data-toggle="collapse" data-parent="#jobs-municipality">{% trans %}Municipality{% endtrans %}</a>
              <div class="collapse" id="jobs-municipality">
                  <a href="/{{ g.locale }}/embed/tree_map/rais/{{location.id}}/all/all/bra/?color=color&depth=bra_9&size=num_jobs&controls=true"
                     target="graphs-frame-wages" class="list-group-item" data-parent="#jobs-municipality">
                      TreeMap
                  </a>
                  <a href="/{{ g.locale }}/embed/stacked/rais/{{location.id}}/all/all/bra/?sort=asc&layout=value&controls=true&y=num_jobs&order=color"
                     target="graphs-frame-wages" class="list-group-item" data-parent="#jobs-municipality">
                      {% trans %}Stacked{% endtrans %}
                 </a>
              </div>
            {% endif %}

            <h4>{% trans %}Salary Mass{% endtrans %}</h4>
            <a href="#wage-industry" class="list-group-item" data-toggle="collapse" data-parent="#wage-industry">{% trans %}Industry{% endtrans %} </a>
            <div class="collapse" id="wage-industry">
                <a href="/{{ g.locale }}/embed/tree_map/rais/{{location.id}}/all/all/cnae/?color=color&depth=cnae_6&size=wage"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#wage-industry">
                    TreeMap
                </a>
                <a href="/{{ g.locale }}/embed/stacked/rais/{{location.id}}/all/all/cnae/?sort=asc&layout=value&y=wage&order=color"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#wage-industry">
                    {% trans %}Stacked{% endtrans %}
               </a>
            </div>

            <a href="#wage-occupation" class="list-group-item" data-toggle="collapse" data-parent="#wage-occupation">{% trans %}Occupation{% endtrans %}</a>
            <div class="collapse" id="wage-occupation">
                <a href="/{{ g.locale }}/embed/tree_map/rais/{{location.id}}/all/all/cbo/?color=color&depth=cbo_4&size=wage"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#wage-occupation">
                    TreeMap
                </a>
                <a href="/{{ g.locale }}/embed/stacked/rais/{{location.id}}/all/all/cbo/?sort=asc&layout=value&y=wage&order=color"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#wage-occupation">
                    {% trans %}Stacked{% endtrans %}
               </a>
            </div>

            {% if location.id | length != 9 %}
              <a href="#wages-municipality" class="list-group-item" data-toggle="collapse" data-parent="#wages-municipality">{% trans %}Municipality{% endtrans %}</a>
              <div class="collapse" id="wages-municipality">
                  <a href="/{{ g.locale }}/embed/tree_map/rais/{{location.id}}/all/all/bra/?color=color&depth=bra_9&size=wage&controls=true"
                     target="graphs-frame-wages" class="list-group-item" data-parent="#wages-municipality">
                      TreeMap
                  </a>
                  <a href="/{{ g.locale }}/embed/stacked/rais/{{location.id}}/all/all/bra/?y=wage&sort=asc&layout=value&order=color&controls=true"
                     target="graphs-frame-wages" class="list-group-item" data-parent="#wages-municipality">
                      {% trans %}Stacked{% endtrans %}
                 </a>
              </div>
            {% endif %}
        </div>
    </nav>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="/{{ g.locale }}/embed/tree_map/rais/{{location.id}}/all/all/cnae/?color=color&depth=cnae_6&size=num_jobs"
                name="graphs-frame-wages"
                id="graphs-frame-wages"
                class="embed-responsive-item" >
        </iframe>
    </div>
</div>