<div id="graphs-education" class="container">
    <nav class="nav-graph col-xs-12 col-sm-3 col-md-3">
    <h3>{% trans %}Preview{% endtrans %}:</h3>
        <div class="list-group panel">
            <h4>{% trans %}Equipments by{% endtrans %}</h4>
            {% if not is_municipality %}
              <a href="#equipments-municipality" class="list-group-item" data-toggle="collapse" data-parent="#equipments-municipality">{% trans %}Municipality{% endtrans %}</a>
              <div class="collapse" id="equipments-municipality">
                  <a href="#"
                     target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'equipments-municipality-map'}}" data-parent="#equipments-municipality">
                      {% trans %}Map{% endtrans %}
                  </a>
                  <a href="/{{ g.locale }}/tree_map/cnes_equipment/municipality/equipments?hierarchy=false&year=2015&id_ibge={{ id_ibge }}"
                     target="graphs-frame-health" class="list-group-item {{ 'selected' if graph.menu == 'equipments-municipality-map' }}" data-parent="#equipments-municipality">
                      TreeMap
                  </a>
                  <a href="#"
                     target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'equipments-municipality-stacked'}}" data-parent="#equipments-municipality">
                      {% trans %}Stacked{% endtrans %}
                  </a>
              </div>
            {% endif %}
            <a href="#equipments-type" class="list-group-item" data-toggle="collapse" data-parent="#equipments-type">{% trans %}Type{% endtrans %}</a>
            <div class="collapse" id="equipments-type">
                 <a href="/{{ g.locale }}/tree_map/cnes_equipment/equipment_type/equipments?id_ibge={{ id_ibge }}"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'equipments-type-tree_map' or not graph}} data-parent="#equipments-type">
                    TreeMap
                </a>
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'equipments-type-stacked'}} data-parent="#equipments-type">
                    {% trans %}Stacked{% endtrans %}
                </a>
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'equipments-type-bar'}} data-parent="#equipments-type">
                    {% trans %}Bar{% endtrans %}
                </a>
            </div>
            <a href="#equipments-sus-bond" class="list-group-item" data-toggle="collapse" data-parent="#equipments-sus-bond">{% trans %}SUS Bond{% endtrans %}</a>
            <div class="collapse" id="equipments-sus-bond">
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'equipments-sus-bond-bar'}}" data-parent="#equipments-sus-bond">
                    {% trans %}Bar{% endtrans %}
                </a>
            </div>

            <h4>{% trans %}Establishments by{% endtrans %}</h4>
            {% if not is_municipality %}
              <a href="#establishments-municipality" class="list-group-item" data-toggle="collapse" data-parent="#establishments-municipality">{% trans %}Municipality{% endtrans %}</a>
              <div class="collapse" id="establishments-municipality">
                  <a href="#"
                     target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'establishments-municipality-map'}}" data-parent="#establishments-municipality">
                      {% trans %}Map{% endtrans %}
                  </a>
                  <a href="/{{ g.locale }}/tree_map/cnes_establishment/municipality/establishments?id_ibge={{ id_ibge }}&filters=sus_bond+ambulatory_attention+hospital_attention&hierarchy=false&year=2015"
                     target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'establishments-municipality-tree_map'}}" data-parent="#establishments-municipality">
                      TreeMap
                  </a>
                  <a href="#"
                     target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'establishments-municipality-stacked'}}" data-parent="#establishments-municipality">
                      {% trans %}Stacked{% endtrans %}
                  </a>
              </div>
            {% endif %}       

            <a href="#establishments-provider-type" class="list-group-item" data-toggle="collapse" data-parent="#establishments-provider-type">{% trans %}Provider Type{% endtrans %}</a>
            <div class="collapse" id="establishments-provider-type">
                <a href="/{{ g.locale }}/tree_map/cnes_establishment/provider_type/establishments?filters=ambulatory_attention+hospital_attention&hierarchy=false&year=2015"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'establishments-provider-type-tree_map'}}" data-parent="#establishments-provider-type">
                    TreeMap
                </a>
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'establishments-provider-type-stacked'}}" data-parent="#establishments-provider-type">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div>
            <a href="#establishments-unit-type" class="list-group-item" data-toggle="collapse" data-parent="#establishments-unit-type">{% trans %}Unit Type{% endtrans %}</a>
            <div class="collapse" id="establishments-unit-type">
                <a href="/{{ g.locale }}/tree_map/cnes_establishment/unit_type/establishments?filters=ambulatory_attention+hospital_attention&hierarchy=false&year=2015"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'establishments-unit-type-tree_map'}}" data-parent="#establishments-unit-type">
                    TreeMap
                </a>
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'establishments-unit-type-stacked'}}" data-parent="#establishments-unit-type">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div>
           <!--  <a href="#establishments-facilities" class="list-group-item" data-toggle="collapse" data-parent="#establishments-facilities">{% trans %}Facilities{% endtrans %}</a>
            <div class="collapse" id="establishments-facilities">
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'establishments-facilities-tree_map'}}" data-parent="#establishments-facilities">
                    TreeMap
                </a>
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'establishments-facilities-stacked'}}" data-parent="#establishments-facilities">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div> -->

            <h4>{% trans %}Beds by{% endtrans %}</h4>
            {% if not is_municipality %}
              <a href="#beds-municipality" class="list-group-item" data-toggle="collapse" data-parent="#beds-municipality">{% trans %}Municipality{% endtrans %}</a>
              <div class="collapse" id="beds-municipality">
                  <a href="#"
                     target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'beds-municipality-map'}}" data-parent="#beds-municipality">
                      {% trans %}Map{% endtrans %}
                  </a>
                  <a href="/{{ g.locale }}/tree_map/cnes_bed/municipality/beds?id_ibge={{ id_ibge }}&hierarchy=false&year=2015"
                     target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'beds-municipality-tree_map'}}" data-parent="#beds-municipality">
                      TreeMap
                  </a>
                  <a href="#"
                     target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'beds-municipality-stacked'}}" data-parent="#beds-municipality">
                      {% trans %}Stacked{% endtrans %}
                  </a>
              </div>
            {% endif %}
            <a href="#beds-bed-type" class="list-group-item" data-toggle="collapse" data-parent="#beds-bed-type">{% trans %}Bed Type{% endtrans %}</a>
            <div class="collapse" id="beds-bed-type">
                <a href="/{{ g.locale }}/tree_map/cnes_bed/bed_type/beds?id_ibge={{ id_ibge }}&hierarchy=false&year=2015"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'beds-bed-type-tree_map'}}" data-parent="#beds-bed-type">
                    TreeMap
                </a>
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'beds-bed-type-stacked'}}" data-parent="#beds-bed-type">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div>
            <a href="#beds-type-speciality" class="list-group-item" data-toggle="collapse" data-parent="#beds-type-speciality">{% trans %}Type and Speciality{% endtrans %}</a>
            <div class="collapse" id="beds-type-speciality">
                <a href="/{{ g.locale }}/tree_map/cnes_bed/bed_type/beds?id_ibge={{ id_ibge }}&hierarchy=false&year=2015"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'beds-type-speciality-tree_map'}}" data-parent="#beds-type-speciality">
                    TreeMap
                </a>
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'beds-type-speciality-stacked'}}" data-parent="#beds-type-speciality">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div>
            <a href="#beds-type" class="list-group-item" data-toggle="collapse" data-parent="#beds-type">{% trans %}Type{% endtrans %}</a>
            <div class="collapse" id="beds-type">
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'beds-type-bar'}}" data-parent="#beds-type">
                    {% trans %}Bar{% endtrans %}
                </a>
            </div>
            <a href="#beds-sus-bond" class="list-group-item" data-toggle="collapse" data-parent="#beds-sus-bond">{% trans %}SUS Bond{% endtrans %}</a>
            <div class="collapse" id="beds-sus-bond">
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'beds-sus-bond-bar'}}" data-parent="#beds-sus-bond">
                    {% trans %}Bar{% endtrans %}
                </a>
            </div>
            <a href="#beds-availability" class="list-group-item" data-toggle="collapse" data-parent="#beds-availability">{% trans %}Availability{% endtrans %}</a>
            <div class="collapse" id="beds-availability">
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'beds-availability-bar'}}" data-parent="#beds-availability">
                    {% trans %}Bar{% endtrans %}
                </a>
            </div>

            <h4>{% trans %}Professionals by{% endtrans %}</h4>
            {% if not is_municipality %}
              <a href="#professionals-municipality" class="list-group-item" data-toggle="collapse" data-parent="#professionals-municipality">{% trans %}Municipality{% endtrans %}</a>
              <div class="collapse" id="professionals-municipality">
                  <a href="#"
                     target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'professionals-municipality-map'}}" data-parent="#professionals-municipality">
                      {% trans %}Map{% endtrans %}
                  </a>
                  <a href="/{{ g.locale }}/tree_map/cnes_professional/municipality/professionals?filters=sus_healthcare_professional&id_ibge={{ id_ibge }}&year=2015"
                     target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'professionals-municipality-tree_map'}}" data-parent="#professionals-municipality">
                      TreeMap
                  </a>
                  <a href="#"
                     target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'professionals-municipality-stacked'}}" data-parent="#professionals-municipality">
                      {% trans %}Stacked{% endtrans %}
                  </a>  
              </div>
            {% endif %}
            <a href="#professionals-provider-unit" class="list-group-item" data-toggle="collapse" data-parent="#professionals-provider-unit">{% trans %}Provider/Unit{% endtrans %}</a>
            <div class="collapse" id="professionals-provider-unit">
                <a href="/{{ g.locale }}/tree_map/cnes_professional/unit_type/professionals?id_ibge={{ id_ibge }}&year=2015&filters=sus_healthcare_professional"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'professionals-provider-unit-tree_map'}}" data-parent="#professionals-provider-unit">
                    TreeMap
                </a>
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'professionals-provider-unit-stacked'}}" data-parent="#professionals-provider-unit">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div>
            <a href="#professionals-occupation" class="list-group-item" data-toggle="collapse" data-parent="#professionals-occupation">{% trans %}Occupation{% endtrans %}</a>
            <div class="collapse" id="professionals-occupation">
                <a href="/{{ g.locale }}/tree_map/cnes_professional/occupation_family/professionals?id_ibge={{ id_ibge }}&year=2015&filters=sus_healthcare_professional"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'professionals-occupation-tree_map'}}" data-parent="#professionals-occupation">
                    TreeMap
                </a>
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'professionals-occupation-tree_map'}}" data-parent="#professionals-occupation">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div>
            <a href="#professionals-bond" class="list-group-item" data-toggle="collapse" data-parent="#professionals-bond">{% trans %}Bond{% endtrans %}</a>
            <div class="collapse" id="professionals-bond">
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'professionals-bond-tree_map'}}" data-parent="#professionals-bond">
                    TreeMap
                </a>
                <a href="#"
                   target="graphs-frame-health" class="list-group-item {{'selected' if graph.menu == 'professionals-bond-tree_map'}}" data-parent="#professionals-bond">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div>
    </nav>
    <div class="responsive-frame col-xs-12 col-sm-9 col-md-9">
        <div class="embed-responsive responsive-wrapper">
            <iframe src="{% if graph %}{{ graph.url }}{% else %}/{{ g.locale }}/tree_map/cnes_equipment/municipality/equipments?hierarchy=false&year=2015&id_ibge={{ id_ibge }}{% endif %}"
                    name="graphs-frame-health"
                    id="graphs-frame-education"
                    class="embed-responsive-item" >
            </iframe>
        </div>
    </div>
</div>
