<!-- extend from base layout -->
{% extends "base.html" %}

<!-- Facebook Properties -->
{% block facebook_metadata %}
    <meta property="og:image" content="{{ g.s3_host }}/img/location/location_{{ location.id if location.img_link else 'all' }}.jpg"/>
    <meta property="og:url" content="{{url_for('location.index', bra_id=location.id, tab=tab, _external=True, _scheme='http') if location.id else url_for('location.all', tab=tab, _external=True, _scheme='http')}}{{ '?menu=' if graph.menu }}{{ graph.menu }}{{ '&url=' if graph.url }}{{ graph.url }}"/>
    <meta property="og:title" content="DataViva: {% if location.id | length <= 3 %}{{ location.name() }}{% else %}{{ location.name() }} - {{ location.abbreviation }}{% endif %} |
        {% if tab == 'general'%}
            {% trans %}General{% endtrans %}
        {% elif tab == 'trade-partner' %}
            {% trans %}International Trade{% endtrans %}
        {% elif tab == 'wages' %}
            {% trans %}Wages and Jobs{% endtrans %}
        {% elif tab == 'opportunities' %}
            {% trans %}Economic Opportunities{% endtrans %}
        {% elif tab == 'education' or tab == 'basic-education' %}
            {% trans %}Education{% endtrans %}
        {% endif %}"/>
    <meta property="og:description" content="
        {% if location.id == 'all' %}
            {% trans %}Brazil is the 7th largest world economy and the 56th most complex according to the Economic Complexity Index (ECI). In 2015, Brasil has exported{% endtrans %} ...
        {% else %}
          {% if is_municipality %}
                {{ header.name }}
                {% trans %}is one of the {% endtrans %}{{ profile.number_of_municipalities}}
                {% trans %}cities in the state of {% endtrans %}{{ location.preposition('de') }} {{ profile.state_name }}.
                {% trans %} With {% endtrans %}{{ profile.area | max_digits(3) }} {{ (profile.area | magnitude).lower() }}
                {% trans %}km² of area, has a population of {% endtrans %}...
            {% elif profile.bra_id|length == 7 %}
                {% if g.locale == "pt" %}
                    A Microrregião
                {% endif %}
                {{ header.name }}
                {% trans %}microregion is one of the{% endtrans %} {{ profile.number_of_microregions}}
                {% trans %}subdivisions of the {% endtrans %}{{ profile.mesoregion_name }},
                {% trans %}mesoregion, located in the state of {% endtrans %}...
            {% elif profile.bra_id|length == 5 %}
                {% trans %}The mesoregion {% endtrans %}{{ header.name }}
                {% trans %} is one of the {% endtrans %}{{ profile.number_of_mesoregions}}
                {% trans %}subdivisions of the state of {% endtrans %}{{ location.preposition('de') }} {{ profile.state_name }}.
                {% trans %}It is the {% endtrans %}...
            {% elif profile.bra_id|length == 1 %}
                {% if g.locale == "pt" %}
                    A
                {% else %}
                    The
                {% endif %}{{ header.name }}
                {% trans %} is one of the {% endtrans %}{{ profile.number_of_regions-1 }}
                {% trans %}regional divisions in Brazil, consisting of the states of {% endtrans %}...
            {% else %}
                {{ header.name }}
                {% trans %} is one of the {% endtrans %}{{ profile.number_of_states-1 }}
                {% trans %}federated states of Brazil, located in the {% endtrans %}{{ profile.region_name }}
                {% trans %}being the {% endtrans %}{{ profile.area_rank }}{{ profile.area_rank | ordinal }}
                {% trans %}state in territorial area and {% endtrans %}...
            {% endif %}
        {% endif %}
    "/>
    <meta property="og:type" content="website" />
{% endblock facebook_metadata %}

{% block content %}

<!-- BREADCRUMB -->
<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('general.home') }}">Home</a>
            </li>
            <li {{ 'class="active"' if not location else '' }}>
                <a title="Trocar" onclick="select_attr('bra');">            
                    {{ location.name()}}  
                </a>
            </li>
        </ol>
    </div>
</div>
<!-- BREADCRUMB -->

<!-- Criar classes css para os backgrunds das localidades -->
<section id="header" class="header" style="background: url({{ g.s3_host }}/img/location/location_{{ location_img if location_img else 'all' }}.jpg) no-repeat center center fixed; background-size: cover;">

    <div class="photo-credit">
      <div class="container">
        <a href="{{ location.img_link if location.img_link else 'https://flic.kr/p/7mfM76' }}" target="blank">
        <i class="fa fa-camera"></i> {% trans %}picture by{% endtrans %} {{ location.img_author if location.img_link else 'Hélio Merá' }}</a>
      </div>
    </div>

    <div class="summary-box">
        <div class="container">

            {% if location.id|length <= 3 %}
            <span class="portrait dv-bra-{{location.id}} hidden-xs"></span>
            {% else %}
            <span class="portrait dv-bra-{{location.id[0:3]}} hidden-xs"></span>
            {% endif %}

            <h1 class="col-xs-offset-0 col-sm-offset-4 col-md-offset-3 p-w-xs">
            {% if location.id | length <= 3 %}
                {{ location.name() }}
            {% else %}
                {{ location.name() }} - {{ location.abbreviation }}
            {% endif %}
                <small class="btn btn-link btn-xs">
                    <a title="change" onclick="select_attr('bra');">
                    {% trans %}change{% endtrans %}
                    </a>
                </small>
            </h1>

            <span class="clearfix"></span>

            <div class="indices">
                <div class="row">

                    {% if header.gdp %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}GDP{% endtrans %} {% if location.id == 'all' %}({{header.year_gdp}}){% else %}({{header.gdp_year}}) {% endif %}</h2>
                            <div class="number">
                                R$ <strong class="counter">{{ header.gdp|max_digits(3, True) }}</strong><br/>
                                <small class="magnitude">{{ header.gdp|magnitude }}</small>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if header.life_expectation %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Life Expectancy{% endtrans %} ({{header.life_expectation_year}})</h2>
                            <div class="number">
                                <strong class="counter">{{ header.life_expectation|max_digits(3, True) }}</strong><br/>
                                <small class="magnitude">{% trans %}Years{% endtrans %}</small>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if header.population %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}Total Population{% endtrans %} {% if location.id == 'all' %}({{header.year_pop}}){% else %}({{header.population_year}}) {% endif %}</h2>
                            <div class="number">
                                <strong class="counter">{{ header.population|max_digits(3, True) }}</strong><br/>
                                <small class="magnitude">{{ header.population|magnitude }}</small>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if header.gdp_per_capita %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}GDP per capita{% endtrans %} {% if location.id == 'all' %}({{header.year_per_capita}}){% else %}({{header.gdp_per_capita_year}}) {% endif %}</h2>
                            <div class="number">
                                R$ <strong class="counter">{{ header.gdp_per_capita|max_digits(3, True) }}</strong><br/>
                                <small class="magnitude">{{ header.gdp_per_capita|magnitude }}</small>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if header.hdi %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}MHDI{% endtrans %} ({{header.hdi_year}})</h2>
                            <div class="number">
                                <strong class="counter">{{ header.hdi|max_digits(3, True) }}</strong><br/>
                                <small class="magnitude">{{ header.hdi|magnitude }}</small>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if header.eci %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="widget">
                            <h2 class="text-left text-uppercase">{% trans %}ECI{% endtrans %} {% if location.id == 'all' %}(2014){% else %}({{header.eci_year}}) {% endif %}</h2>
                            <div class="number">
                                <strong class="counter">{{ header.eci|max_digits(3, True) }}</strong><br/>
                                <small class="magnitude">{{ header.eci|magnitude }}</small>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div><!--/.row-->
            </div><!--/.indices-->
        </div>
    </div>
</section>

<section id="profile" class="profile">
    <nav>
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="{{ 'active' if not tab or tab == 'general' }}">
                    <a href="#general"
                       aria-controls="general"
                       role="tab"
                       data-id="{{ location.id }}"
                       data-toggle="tab">{% trans %}General{% endtrans %}</a>
                </li>
                <!-- Show tab only for exist data -->
                {% if body.secex_year is not none %}
                <li role="presentation" class="{{ 'active' if tab == 'trade-partner' }}">
                    <a href="#trade-partner"
                       aria-controls="trade-partner"
                       role="tab"
                       graph
                       data-id="{{ location.id }}"
                       data-toggle="tab">{% trans %}International Trade{% endtrans %}</a>
                </li>
                {% endif %}
                {% if body.rais_year is not none %}
                <li role="presentation" class="{{ 'active' if tab == 'wages' }}">
                    <a href="#wages"
                       aria-controls="wages"
                       role="tab"
                       graph
                       data-id="{{ location.id }}"
                       data-toggle="tab">{% trans %}Wages and Jobs{% endtrans %}</a>
                </li>
                <li role="presentation" class="{{ 'active' if tab == 'opportunities' }}">
                    <a href="#opportunities"
                       aria-controls="opportunities"
                       role="tab"
                       graph
                       data-id="{{ location.id }}"
                       data-toggle="tab">{% trans %}Economic Opportunities{% endtrans %}</a>
                </li>
                {% endif %}
                {% if body.university_year is not none %}
                <li role="presentation" class="{{ 'active' if tab == 'education' }}">
                    <a href="#education"
                       aria-controls="education"
                       role="tab"
                       graph
                       data-id="{{ location.id }}"
                       data-toggle="tab">{% trans %}Education{% endtrans %}</a>
                </li>
                {% else %}
                <li role="presentation" class="{{ 'active' if tab == 'basic-education' }}">
                    <a href="#basic-education"
                        aria-controls="basic-education"
                        role="tab"
                        graph
                        data-id="{{ location.id }}"
                        data-toggle="tab">{% trans %}Education{% endtrans %}</a>
                </li>
                {% endif %}
                <li role="presentation" class="{{ 'active' if tab == 'health' }}">
                    <a href="#health"
                       aria-controls="health"
                       role="tab"
                       graph
                       data-id="{{ location.id }}"
                       data-toggle="tab">{% trans %}Health{% endtrans %}</a>
                </li>
            </ul>
        </div>
    </nav>
    <input type="hidden" id="id_ibge" value="{{id_ibge}}">

    <div class="container">
        <div class="tab-content">
          {% include "location/tab-general.html" %}

          {% if body.secex_year is not none %}
            {% include "location/tab-trade-partner.html" %}
          {% endif %}

          {% if body.rais_year is not none %}
            {% include "location/tab-wages.html" %}
            {% include "location/tab-opportunities.html" %}
          {% endif %}

          {% if body.university_year is not none %}
            {% include "location/tab-education.html" %}
          {% else %}
            {% include "location/tab-basic-education.html" %}
          {% endif %}

          {% include "location/tab-health.html" %}
        </div>
    </div>
</section>

<section id="graphs" class="graphs bg-gray">
  {% if tab != 'general' %}
    {% include "location/graphs-" + tab + ".html" %}
  {% endif %}
</section>
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="/static/js/modules/dictionary.js"></script>
    <script type="text/javascript" src="/static/js/modules/widgets.js"></script>
    <script type="text/javascript" src="/static/js/modules/location.js"></script>
{% endblock %}

