<div role="tabpanel" class="tab-pane" id="comercio-internacional">
    <h2>Comércio Internacional</h2>
    <p>Minas Gerais é uma das 27 unidades federativas do Brasil, localizada na Região Sudeste do país, sendo o quarto estado com a maior área territorial e o segundo em quantidade de habitantes. Limita-se ao sul e sudoeste com São Paulo, a oeste com o Mato Grosso do Sul, a noroeste com Goiás e Distrito Federal, a norte e nordeste com a Bahia, a leste com o Espírito Santo e a sudeste com o Rio de Janeiro. Seu território é subdividido em 853 municípios, a maior quantidade dentre os estados brasileiros.</p>
    <p>Minas Gerais é uma das 27 unidades federativas do Brasil, localizada na Região Sudeste do país, sendo o quarto estado com a maior área territorial e o segundo em quantidade de habitantes.</p>
    <p>Minas Gerais é uma das 27 unidades federativas do Brasil, localizada na Região Sudeste do país, sendo o quarto estado com a maior área territorial e o segundo em quantidade de habitantes.</p>
    <h3>Estatísticas de Comércio Internacional</h3>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            <th>
                                Principal Produto
                                <small>por Valor Exportado</small>
                            </th>
                            <th>
                                Principal Produto <small>por Valor
                                Importado </small>
                            </th>
                            <th>
                                Total de Exportações
                            </th>
                            <th>
                                Total de Importações
                            </th>
                            <th>
                                Principal Destino
                                <small>por Valor Exportado</small>
                            </th>
                            <th>
                                Principal Destino
                                <small>por Valor Importado</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if body.main_product_by_export_value %}
                            <td>
                                <p class="label">{{ body.main_product_by_export_value_name }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.main_product_by_export_value | max_digits(3) }}</strong><span>{{ body.main_product_by_export_value | magnitude }}</span>
                                </div>
                            </td>
                            {% endif %}
                            {% if body.main_product_by_import_value %}
                            <td>
                                <p class="label">{{ body.main_product_by_import_value_name }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.main_product_by_import_value | max_digits(3) }}</strong><span>{{ body.main_product_by_import_value | magnitude }}</span>
                                </div>
                            </td>
                            {% endif %}
                            <td>
                                <p class="label">Total de Exportações</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.total_exports | max_digits(3) }}</strong><span>{{ body.total_exports | magnitude }}</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">Total de Importações</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.total_imports | max_digits(3) }}</strong><span>{{ body.total_imports | magnitude }}</span>
                                </div>
                            </td>
                            {% if body.main_destination_by_export_value %}
                            <td>
                                <p class="label">{{ body.main_destination_by_export_value_name }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.main_destination_by_export_value | max_digits(3) }}</strong><span>{{ body.main_destination_by_export_value | magnitude }}</span>
                                </div>
                            </td>
                            {% endif %}
                            {% if body.main_destination_by_import_value %}
                            <td>
                                <p class="label">{{ body.main_destination_by_import_value_name }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.main_destination_by_import_value | max_digits(3) }}</strong> <span>{{ body.main_destination_by_import_value | magnitude }}</span>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<a href="http://localhost:5000/pt/embed/line/secex/4mg/all/all/balance/?scale=linear&depth=direction&time=month&y=val_usd" target="frame-tab-educacao">Balança Comercial por</a> </br>

<a href="" target="frame-tab-educacao">Exportações por</a> </br>

    <a href="" target="frame-tab-educacao">&nbsp Produtos :</a> 
        
        <a href="http://localhost:5000/pt/embed/tree_map/secex/4mg/all/all/hs/?color=color&depth=hs_6&size=export_val" target="frame-tab-educacao">&nbsp TreeMap</a> 
        
        <a href="http://localhost:5000/pt/embed/stacked/secex/4mg/all/all/hs/?sort=asc&layout=value&color=color&time=year&y=export_val&order=color" target="frame-tab-educacao">&nbsp Evoluçāo</a></br>
    
    <a href="" target="frame-tab-educacao">&nbsp Destinos : </a> 
        
        <a href="http://localhost:5000/pt/embed/tree_map/secex/4mg/all/all/bra/?color=color&depth=bra_9&size=export_val" target="frame-tab-educacao">&nbsp TreeMap</a>  

        <a href="http://localhost:5000/pt/embed/stacked/secex/4mg/all/all/bra/?sort=asc&layout=value&color=color&time=year&y=export_val&order=color" target="frame-tab-educacao">&nbsp Evoluçāo</a> </br>

<a href="" target="frame-tab-educacao">Importações por</a> </br>

    <a href="" target="frame-tab-educacao">&nbsp Produtos : </a> 
        
        <a href="http://localhost:5000/pt/embed/tree_map/secex/4mg/all/all/hs/?color=color&depth=hs_6&size=import_val" target="frame-tab-educacao">&nbsp TreeMap</a> 

        <a href="http://localhost:5000/pt/embed/stacked/secex/4mg/all/all/hs/?sort=asc&layout=value&color=color&time=year&y=import_val&order=color" target="frame-tab-educacao">&nbsp Evoluçāo</a></br>

    
    <a href="" target="frame-tab-educacao">&nbsp Origens : </a> 
        
        <a href="http://localhost:5000/pt/embed/tree_map/secex/4mg/all/all/bra/?color=color&depth=bra_9&size=import_val" target="frame-tab-educacao">&nbsp TreeMap</a> 

        <a href="http://localhost:5000/pt/embed/stacked/secex/4mg/all/all/bra/?sort=asc&layout=value&color=color&time=year&y=import_val&order=color" target="frame-tab-educacao">&nbsp Evoluçāo</a></br>


</div>


<iframe name="frame-tab-educacao" id="frame-tab-educacao" width='684' height='350' src='http://localhost:5000/pt/embed/tree_map/secex/4mg/all/all/hs/?color=color&depth=hs_6&size=export_val' frameborder='0'></iframe>