<div role="tabpanel" class="tab-pane" id="opportunities">

    <h2>{% trans %}Wages and Jobs{% endtrans %}</h2>

    <div class="row">
        {% if body.less_distance_by_product %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="blue-box title">
                {% trans %}Product{% endtrans %}
                <small>{% trans %}with Shortest Distance{% endtrans %}</small>
            </div>
            <div class="blue-box">
                <p class="label">{{ body.less_distance_by_product_name }}</p>
                <div class="number">
                    R$ <strong class="counter">{{ body.less_distance_by_product | max_digits(3) }}</strong><span>{{ body.less_distance_by_product | magnitude }}</span>
                </div>
            </div>
        </div>
        {% endif %}


        {% if body.less_distance_by_occupation %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="blue-box title">
                {% trans %}Economic Activity{% endtrans %}
                <small>{% trans %}with Shortest Distance{% endtrans %}</small>
            </div>
            <div class="blue-box">
                <p class="label">{{ body.less_distance_by_occupation_name }}</p>
                <div class="number">
                    R$ <strong class="counter">{{ body.less_distance_by_occupation | max_digits(3) }}</strong><span>{{ body.less_distance_by_occupation | magnitude }}</span>
                </div>
            </div>
        </div>
        {% endif %}

        {% if body.opportunity_gain_by_product %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="blue-box title">
                {% trans %}Product{% endtrans %}
                <small>{% trans %}with Highest Opportunity Gain{% endtrans %}</small>
            </div>
            <div class="blue-box">
                <p class="label">{{ body.opportunity_gain_by_product_name }}</p>
                <div class="number">
                    R$ <strong class="counter">{{ body.opportunity_gain_by_product | max_digits(3) }}</strong><span>{{ body.opportunity_gain_by_product | magnitude }}</span>
                </div>
            </div>
        </div>
        {% endif %}


        {% if body.opportunity_gain_by_occupation %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="blue-box title">
                {% trans %}Economic Activity{% endtrans %}
                <small>{% trans %}with Highest Opportunity Gain{% endtrans %}</small>
            </div>
            <div class="blue-box">
                <p class="label">{{ body.opportunity_gain_by_occupation_name }}</p>
                <div class="number">
                    R$ <strong class="counter">{{ body.opportunity_gain_by_occupation | max_digits(3) }}</strong><span>{{ body.opportunity_gain_by_occupation | magnitude }}</span>
                </div>
            </div>
        </div>
        {% endif %}

    </div><!--/.row-->

</div>
