<div role="tabpanel" class="tab-pane active" id="geral">
    <div class="mod mod-datainfo">
        <div class="numbers-top smaller">
            <div class="row">
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">PIB</p>
                    <div class="number">
                        R$ <strong class="counter">{{ header.gdp|max_digits(3) }}</strong><small>{{ header.gdp|magnitude }}</small>
                    </div>
                </div>
                {% if header.life_expectation %}
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">Esperança de Vida</p>
                    <div class="number">
                        <strong class="counter">{{ header.life_expectation|max_digits(3) }}</strong><small>{{ header.life_expectation|magnitude }}</small>
                    </div>
                </div>
                {% endif %}
                {% if header.population %}
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">População Total</p>
                    <div class="number">
                        <strong class="counter">{{ header.population|max_digits(3) }}</strong><small>{{ header.population|magnitude }}</small>
                    </div>
                </div>
                {% endif %}
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">PIB Per Capta</p>
                    <div class="number">
                        R$ <strong class="counter">{{ header.gdp_per_capita|max_digits(3) }}</strong><small>{{ header.gdp_per_capita|magnitude }}</small>
                    </div>
                </div>
                {% if header.hdi %}
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">IDHM</p>
                    <div class="number">
                        <strong class="counter">{{ header.hdi|max_digits(3) }}</strong><small>{{ header.hdi|magnitude }}</small>
                    </div>
                </div>
                {% endif %}
                <div class="col-xs-15 col-sm-3 item">
                    <p class="label">ECI</p>
                    <div class="number">
                        <strong class="counter">{{ header.eci|max_digits(3) }}</strong><small>{{ header.eci|magnitude }}</small>
                    </div>
                </div>
                <div class="col-xs-15 col-sm-15 year">
                    Ano: 2010
                </div>
            </div>
        </div>



        <h2>Perfil Geral</h2>
        <p>Minas Gerais é uma das 27 unidades federativas do Brasil, localizada na Região Sudeste do país, sendo o quarto estado com a maior área territorial e o segundo em quantidade de habitantes. Limita-se ao sul e sudoeste com São Paulo, a oeste com o Mato Grosso do Sul, a noroeste com Goiás e Distrito Federal, a norte e nordeste com a Bahia, a leste com o Espírito Santo e a sudeste com o Rio de Janeiro. Seu território é subdividido em 853 municípios, a maior quantidade dentre os estados brasileiros.</p>


        <div class="row">
            <div class="col-xs-15 col-sm-15 col-md-15">
                <h3>Comércio Internacional</h3>
                <div class="table-responsive">
                    <table class="table data-2-columns margin-none-bottom">
                        <tbody>
                            <tr>
                                <th>
                                    Principal Produto por Valor Exportado
                                </th>
                                <td>
                                    <p class="label">{{ body.main_product_by_export_value_name }}</p>
                                    USD <strong class="counter">{{ body.main_product_by_export_value | max_digits(3) }}</strong> <span>{{ body.main_product_by_export_value | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Produto por Valor Importado
                                </th>
                                <td>
                                    <p class="label">{{ body.main_product_by_import_value_name }}</p>
                                    USD <strong class="counter">{{ body.main_product_by_import_value | max_digits(3) }}</strong> <span>{{ body.main_product_by_import_value | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Total de Exportações
                                </th>
                                <td>
                                    USD <strong class="counter">{{ body.total_exports | max_digits(3) }}</strong> <span>{{ body.total_exports | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Total de Importações
                                </th>
                                <td>
                                    USD <strong class="counter">{{ body.total_imports | max_digits(3) }}</strong> <span>{{ body.total_imports | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Destino por Valor Exportado
                                </th>
                                <td>
                                    <p class="label">{{ body.main_destination_by_export_value_name }}</p>
                                    USD <strong class="counter">{{ body.main_destination_by_export_value | max_digits(3) }}</strong> <span>{{ body.main_destination_by_export_value | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Destino por Valor Importado
                                </th>
                                <td>
                                    <p class="label">{{ body.main_destination_by_import_value_name }}</p>
                                    USD <strong class="counter">{{ body.main_destination_by_import_value | max_digits(3) }}</strong> <span>{{ body.main_destination_by_import_value | magnitude }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#comercio-internacional" aria-controls="comercio-internacional" role="tab" data-toggle="tab" class="btn btn-xs btn-dataviva">
                        mais detalhes
                    </a>
                </div>
            </div>
            <div class="col-xs-15 col-sm-15 col-md-15">
                <h3>Salário e Emprego</h3>
                <div class="table-responsive">
                    <table class="table data-2-columns margin-none-bottom">
                        <tbody>
                            <tr>
                                <th>
                                    Principal Atividade Econômica por Número de Empregos
                                </th>
                                <td>
                                    <p class="label">{{ body.main_industry_by_num_jobs_name }}</p>
                                    <strong class="counter">{{ body.main_industry_by_num_jobs | max_digits(3) }}</strong> <span>{{ body.main_industry_by_num_jobs | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Principal Ocupação por Número de Empregos
                                </th>
                                <td>
                                    <p class="label">{{ body.main_occupation_by_num_jobs_name }}</p>
                                    <strong class="counter">{{ body.main_occupation_by_num_jobs | max_digits(3) }}</strong> <span>{{ body.main_occupation_by_num_jobs | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Salário Médio
                                </th>
                                <td>
                                    USD <strong class="counter">{{ body.avg_wage | max_digits(3) }}</strong> <span>{{ body.avg_wage | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Massa Salarial
                                </th>
                                <td>
                                    USD <strong class="counter">{{ body.wage | max_digits(3) }}</strong> <span>{{ body.wage | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Total de Empregos
                                </th>
                                <td>
                                    USD <strong class="counter">{{ body.total_jobs | max_digits(3) }}</strong> <span>{{ body.total_jobs | magnitude }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#salario-emprego" aria-controls="salario-emprego" role="tab" data-toggle="tab" class="btn btn-xs btn-dataviva">
                        mais detalhes
                    </a>
                </div>
            </div>

            <div class="col-xs-15 col-sm-15 col-md-15">
                <h3>Oportunidades Econômicas</h3>
                <div class="table-responsive">
                    <table class="table data-2-columns margin-none-bottom">
                        <tbody>
                            <tr>
                                <th>
                                    Produto com Menor Distância
                                </th>
                                <td>
                                    <p class="label">{{ body.less_distance_by_product_name }}</p>
                                    <strong class="counter">{{ body.less_distance_by_product | max_digits(3) }}</strong> <span>{{ body.less_distance_by_product | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Atividade Econômica com Menor Distância
                                </th>
                                <td>
                                    <p class="label">{{ body.less_distance_by_occupation_name }}</p>
                                    <strong class="counter">{{ body.less_distance_by_occupation | max_digits(3) }}</strong> <span>{{ body.less_distance_by_occupation | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Produto com Maior Ganho de Oportunidade
                                </th>
                                <td>
                                    <p class="label">{{ body.opportunity_gain_by_product_name }}</p>
                                    <strong class="counter">{{ body.opportunity_gain_by_product | max_digits(3) }}</strong> <span>{{ body.opportunity_gain_by_product | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Atividade Econômica com Maior Ganho de Oportunidade
                                </th>
                                <td>
                                    <p class="label">{{ body.opportunity_gain_by_occupation_name }}</p>
                                    <strong class="counter">{{ body.opportunity_gain_by_occupation | max_digits(3) }}</strong> <span>{{ body.opportunity_gain_by_occupation | magnitude }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#oportunidade-economica" aria-controls="oportunidade-economica" role="tab" data-toggle="tab" class="btn btn-xs btn-dataviva">
                        mais detalhes
                    </a>
                </div>
            </div>

            <div class="col-xs-15 col-sm-15 col-md-15">
                <h3>Educação</h3>
                <div class="table-responsive">
                    <table class="table data-2-columns margin-none-bottom">
                        <tbody>
                            <tr>
                                <th>
                                    Universidade com Maior Número de Matrículas
                                </th>
                                <td>
                                    <p class="label">{{ body.highest_enrolled_by_university_name }}</p>
                                    <strong class="counter">{{ body.highest_enrolled_by_university | max_digits(3)}}</strong> <span>{{ body.highest_enrolled_by_university | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Curso Superior com Maior Número de Matrículas
                                </th>
                                <td>
                                    <p class="label">{{ body.highest_enrolled_by_major_name }}</p>
                                    <strong class="counter">{{ body.highest_enrolled_by_major | max_digits(3)}}</strong> <span>{{ body.highest_enrolled_by_major | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Escola com Maior Número de Matrículas em Cursos Técnicos
                                </th>
                                <td>
                                    <p class="label">{{ body.highest_enrolled_by_school_name }}</p>
                                    <strong class="counter">{{ body.highest_enrolled_by_school | max_digits(3)}}</strong> <span>{{ body.highest_enrolled_by_school | magnitude }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Curso Técnico com Maior Número de Matrículas
                                </th>
                                <td>
                                    <p class="label">{{ body.highest_enrolled_by_basic_course_name }}</p>
                                    <strong class="counter">{{ body.highest_enrolled_by_basic_course | max_digits(3)}}</strong> <span>{{ body.highest_enrolled_by_basic_course | magnitude }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#educacao" aria-controls="educacao" role="tab" data-toggle="tab" class="btn btn-xs btn-dataviva">
                        mais detalhes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
