<div role="tabpanel" class="tab-pane active" id="general">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}GDP{% endtrans %}</h2>
                        <div class="number">
                            R$ <strong class="counter">{{ header.gdp|max_digits(3) }}</strong><br/>
                            <small class="magnitude">{{ header.gdp|magnitude }}</small>
                        </div>
                    </div>
                </li>
                {% if header.life_expectation %}
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}Life Expectancy{% endtrans %}</h2>
                        <div class="number">
                            R$ <strong class="counter">{{ header.life_expectation|max_digits(3) }}</strong><br/>
                            <small class="magnitude">{{ header.life_expectation|magnitude }}</small>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% if header.population %}
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}Total Population{% endtrans %}</h2>
                        <div class="number">
                            <strong class="counter">{{ header.population|max_digits(3) }}</strong><br/>
                            <small class="magnitude">{{ header.population|magnitude }}</small>
                        </div>
                    </div>
                </li>
                {% endif %}
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}GDP per capita{% endtrans %}</h2>
                        <div class="number">
                            R$ <strong class="counter">{{ header.gdp_per_capita|max_digits(3) }}</strong><br/>
                            <small class="magnitude">{{ header.gdp_per_capita|magnitude }}</small>
                        </div>
                    </div>
                </li>
                {% if header.hdi %}
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}MHDI{% endtrans %}</h2>
                        <div class="number">
                            <strong class="counter">{{ header.hdi|max_digits(3) }}</strong><br/>
                            <small class="magnitude">{{ header.hdi|magnitude }}</small>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% if header.eci %}
                <li>
                    <div class="widget">
                        <h2 class="text-left text-uppercase">{% trans %}ECI{% endtrans %}</h2>
                        <div class="number">
                            <strong class="counter">{{ header.eci|max_digits(3) }}</strong><br/>
                            <small class="magnitude">{{ header.eci|magnitude }}</small>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>

        <a href="#" class="fa fa-angle-left jcarousel-control-prev"></a>
        <a href="#" class="fa fa-angle-right jcarousel-control-next"></a>
    </div>
    <div class="m-t-sm col-xs-12 year">
        {% trans %}Year{% endtrans %}: {{ header.year }}
    </div>

    <h2 class="m-t-xl">Perfil Geral</h2>
        {% if profile.bra_id|length == 9 %}
            <p>{{ header.name }} 
            {% trans %}is one of the {% endtrans %}{{ profile.number_of_municipalities }} 
            {% trans %}cities in the state of {% endtrans %}{{ location.preposition('de') }} {{ profile.state_name }}. 
            {% trans %} With {% endtrans %}{{ profile.area }} 
            {% trans %}km² of area, has a population of {% endtrans %}{{ header.population|max_digits(3) }} {{ header.population|magnitude }} 
            {% trans %}people and a GDP of {% endtrans %}{{ header.gdp_per_capita|max_digits(3) }} {{ header.gdp_per_capita|magnitude }}. 
            {% trans %}Located in the {% endtrans %}{{ profile.mesoregion_name }}, 
            {% trans %}mesoregion, it is the{% endtrans %}{{ profile.gdp_rank }}
            º 
            {% trans %}city of the state regarding the GDP ranking{% endtrans %}.</p>
        {% elif profile.bra_id|length == 7 %}
            <p>
            {% if g.locale == "pt" %}
                A Microrregião
            {% endif %}
            {{ header.name }} 
            {% trans %}microregion is one of the{% endtrans %} {{ profile.number_of_microregions }} 
            {% trans %}subdivisions of the {% endtrans %}{{ profile.mesoregion_name }}, 
            {% trans %}mesoregion, located in the state of {% endtrans %}{{ location.preposition('de') }} {{ profile.state_name }}. 
            {% trans %}It comprehends {% endtrans %}{{ profile.number_of_municipalities }} 
            {% trans %}cities and has a population of {% endtrans %}{{ header.population|max_digits(3) }} {{ header.population|magnitude }} 
            {% trans %}people. Its GDP is {% endtrans %}{{ header.gdp|max_digits(3) }} {{ header.gdp|magnitude }} (2010) 
            {% trans %}and its main product for export value is {% endtrans %}{{ body.main_product_by_export_value_name }}.
            </p>
        {% elif profile.bra_id|length == 5 %}
            <p>{% trans %}The mesoregion {% endtrans %}{{ header.name }}
            {% trans %} is one of the {% endtrans %}{{ profile.number_of_mesoregions }} 
            {% trans %}subdivisions of the state of {% endtrans %}{{ location.preposition('de') }} {{ profile.state_name }}. 
            {% trans %}It is the {% endtrans %}{{ profile.eci_rank }}
            ª 
            {% trans %}Brazilian meso-region in complexity index and has the population of {% endtrans %}{{ header.population|max_digits(3) }} {{ header.population|magnitude }} 
            {% trans %}people. Its GDP is R$ {% endtrans %}{{ header.gdp|max_digits(3) }} {{ header.gdp|magnitude }} (2010) 
            {% trans %}and its main product for export value is {% endtrans %}{{ body.main_product_by_export_value_name }}.
            </p>
        {% elif profile.bra_id|length == 1 %}
            <p>{% if g.locale == "pt" %}
                A
                {% else %}
                    The
            {% endif %}{{ header.name }} 
            {% trans %} is one of the {% endtrans %}{{ profile.number_of_regions-1 }} 
            {% trans %}regional divisions in Brazil, consisting of the states of {% endtrans %}
            {% for states in profile.region_states %}
                {% if states == profile.region_states[profile.region_states|length-1] %}
                    {% trans %}and{% endtrans %} {{ states }}.
                {% else %}
                    {{ states }}, 
                {% endif %}
            {% endfor %}
            {% trans %}The region {% endtrans %}
            {% trans %}has a total of {% endtrans %}{{ header.population|max_digits(3) }} {{ header.population|magnitude }}
            {% trans %}people. It is the number {% endtrans %}{{ profile.gdp_pc_rank }}
            {% if g.locale == "pt" %}ª{% endif %}
             {% trans %}region in GDP per capita of Brazil and number {% endtrans %}{{ profile.pop_rank }}
            {% if g.locale == "pt" %}ª{% endif %} 
            {% trans %}in population{% endtrans %}.</p>
        {% else %}
            <p>{{ header.name }} 
            {% trans %} is one of the {% endtrans %}{{ profile.number_of_states-1 }} 
            {% trans %}federated states of Brazil, located in the {% endtrans %}{{ profile.region_name }} 
            {% trans %}being the {% endtrans %}{{ profile.area_rank }}
            º 
            {% trans %}state in territorial area and {% endtrans %}{{ profile.pop_rank }}
            º 
            {% trans %}in population. Its territory is limited for {% endtrans %}
            {% for neighbors in profile.neighbors %}
                {% if neighbors == profile.neighbors[profile.neighbors|length-1] %}
                    {% trans %}and{% endtrans %} {{ neighbors }}
                {% else %}
                    {{ neighbors }}, 
                {% endif %}
            {% endfor %}. 
            {% trans %}Its territory is subdivided in {% endtrans %}{{ profile.number_of_municipalities }} 
            {% trans %}cities{% endtrans %}
            .</p>
        {% endif %}



    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            <h3>{% trans %}International Trade{% endtrans %}</h3>
            <div class="table-responsive">
                <table class="table data-detail">
                    <tbody>
                        {% if body.main_product_by_export_value %}
                        <tr>
                            <th>
                                {% trans %}Main Product by Total Value Exported{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{ body.main_product_by_export_value_name | truncate(length=30, killwords=False, end='...')}}</p>
                                USD <strong class="counter">{{ body.main_product_by_export_value | max_digits(3) }}</strong> <span>{{ body.main_product_by_export_value | magnitude }}</span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if body.main_product_by_import_value %}
                        <tr>
                            <th>
                                {% trans %}Main Product by Total Value Imported{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{ body.main_product_by_import_value_name | truncate(length=30, killwords=False, end='...')}}</p>
                                USD <strong class="counter">{{ body.main_product_by_import_value | max_digits(3) }}</strong> <span>{{ body.main_product_by_import_value | magnitude }}</span>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>
                                {% trans %}Total of Exports{% endtrans %}
                            </th>
                            <td>
                                USD <strong class="counter">{{ body.total_exports | max_digits(3) }}</strong> <span>{{ body.total_exports | magnitude }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% trans %}Total of Imports{% endtrans %}
                            </th>
                            <td>
                                USD <strong class="counter">{{ body.total_imports | max_digits(3) }}</strong> <span>{{ body.total_imports | magnitude }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="#comercio-internacional" aria-controls="comercio-internacional" role="tab" data-toggle="tab" class="pull-right btn btn-primary btn-xs m-r-lg">
                {% trans %}More details{% endtrans %}
            </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <h3>{% trans %}Wages and Jobs{% endtrans %}</h3>
            <div class="table-responsive">
                <table class="table data-detail">
                    <tbody>
                        <tr>
                            <th>
                                {% trans %}Main Economic Activity{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{ body.main_industry_by_num_jobs_name | truncate(length=30, killwords=False, end='...')}}</p>
                                <strong class="counter">{{ body.main_industry_by_num_jobs | max_digits(3) }}</strong> <span>{{ body.main_industry_by_num_jobs | magnitude }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% trans %}Main Occupation{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{ body.main_occupation_by_num_jobs_name | truncate(length=30, killwords=False, end='...')}}</p>
                                <strong class="counter">{{ body.main_occupation_by_num_jobs | max_digits(3) }}</strong> <span>{{ body.main_occupation_by_num_jobs | magnitude }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% trans %}Average Wage{% endtrans %}
                            </th>
                            <td>
                                USD <strong class="counter">{{ body.avg_wage | max_digits(3) }}</strong> <span>{{ body.avg_wage | magnitude }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% trans %}Total of Jobs{% endtrans %}
                            </th>
                            <td>
                                USD <strong class="counter">{{ body.total_jobs | max_digits(3) }}</strong> <span>{{ body.total_jobs | magnitude }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="#salario-emprego" aria-controls="salario-emprego" role="tab" data-toggle="tab" class="pull-right btn btn-primary btn-xs m-r-lg">
                {% trans %}More details{% endtrans %}
            </a>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6">
            <h3>{% trans %}Economic Opportunities{% endtrans %}</h3>
            <div class="table-responsive">
                <table class="table data-detail">
                    <tbody>
                        <tr>
                        {% if body.less_distance_by_product %}
                            <th>
                                {% trans %}Product with Shortest Distance{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{ body.less_distance_by_product_name | truncate(length=30, killwords=False, end='...')}}</p>
                                <strong class="counter">{{ body.less_distance_by_product | max_digits(3) }}</strong> <span>{{ body.less_distance_by_product | magnitude }}</span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if body.less_distance_by_occupation %}
                        <tr>
                            <th>
                                {% trans %}Economic Activity with Shortest Distance{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{ body.less_distance_by_occupation_name | truncate(length=30, killwords=False, end='...')}}</p>
                                <strong class="counter">{{ body.less_distance_by_occupation | max_digits(3) }}</strong> <span>{{ body.less_distance_by_occupation | magnitude }}</span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if body.opportunity_gain_by_product %}
                        <tr>
                            <th>
                                {% trans %}Product with Highest Opportunity Gain{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{ body.opportunity_gain_by_product_name | truncate(length=30, killwords=False, end='...')}}</p>
                                <strong class="counter">{{ body.opportunity_gain_by_product | max_digits(3) }}</strong> <span>{{ body.opportunity_gain_by_product | magnitude }}</span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if body.opportunity_gain_by_occupation %}
                        <tr>
                            <th>
                                {% trans %}Economic Activity with Highest Opportunity Gain{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{ body.opportunity_gain_by_occupation_name | truncate(length=30, killwords=False, end='...')}}</p>
                                <strong class="counter">{{ body.opportunity_gain_by_occupation | max_digits(3) }}</strong> <span>{{ body.opportunity_gain_by_occupation | magnitude }}</span>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <a href="#oportunidade-economica" aria-controls="oportunidade-economica" role="tab" data-toggle="tab" class="pull-right btn btn-primary btn-xs m-r-lg">
                {% trans %}More details{% endtrans %}
            </a>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6">
            <h3>{% trans %}Education{% endtrans %}</h3>
            <div class="table-responsive">
                <table class="table data-detail">
                    <tbody>
                        {% if body.highest_enrolled_by_university %}
                        <tr>
                            <th>
                                {% trans %}University with Highest Number of Enrollments{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{ body.highest_enrolled_by_university_name | truncate(length=30, killwords=False, end='...')}}</p>
                                <strong class="counter">{{ body.highest_enrolled_by_university | max_digits(3)}}</strong> <span>{{ body.highest_enrolled_by_university | magnitude }}</span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if body.highest_enrolled_by_major %}
                        <tr>
                            <th>
                                {% trans %}Major with Highest Number of Enrollments{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{ body.highest_enrolled_by_major_name | truncate(length=30, killwords=False, end='...')}}</p>
                                <strong class="counter">{{ body.highest_enrolled_by_major | max_digits(3)}}</strong> <span>{{ body.highest_enrolled_by_major | magnitude }}</span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if body.highest_enrolled_by_school %}
                        <tr>
                            <th>
                                {% trans %}School with Highest Number of Enrollments{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{ body.highest_enrolled_by_school_name | truncate(length=30, killwords=False, end='...')}}</p>
                                <strong class="counter">{{ body.highest_enrolled_by_school | max_digits(3)}}</strong> <span>{{ body.highest_enrolled_by_school | magnitude }}</span>
                            </td>
                        </tr>
                        {% endif %}
                        {% if body.highest_enrolled_by_basic_course %}
                        <tr>
                            <th>
                                {% trans %}Basic Course with Highest Number of Enrollments{% endtrans %}
                            </th>
                            <td>
                                <p class="label">{{ body.highest_enrolled_by_basic_course_name | truncate(length=30, killwords=False, end='...')}}</p>
                                <strong class="counter">{{ body.highest_enrolled_by_basic_course | max_digits(3)}}</strong> <span>{{ body.highest_enrolled_by_basic_course | magnitude }}</span>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <a href="#educacao" aria-controls="educacao" role="tab" data-toggle="tab" class="pull-right btn btn-primary btn-xs m-r-lg">
                {% trans %}More details{% endtrans %}
            </a>
        </div>
    </div>
</div>
