<div role="tabpanel" class="tab-pane {{ 'active' if tab == 'trade-partner' }}" id="trade-partner">

    <h2>{% trans %}International Trade{% endtrans %} ({{body.product_year}})</h2>

    <div class="row">
        {% if body.main_product_by_export_value %}
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="blue-box title">
                {% trans %}Main Product{% endtrans %}
                <small>{% trans %}by Export Value{% endtrans %}</small>
            </div>
            <div class="blue-box">
                <p class="label">{{ body.main_product_by_export_value_name }}</p>
                <div class="number">
                    USD <strong class="counter">{{ body.main_product_by_export_value | max_digits(3, True) }}</strong><span>{{ body.main_product_by_export_value | magnitude }}</span>
                </div>
            </div>
        </div>
        {% endif %}

        {% if body.main_product_by_import_value %}
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="blue-box title">
                {% trans %}Main Product{% endtrans %}
                <small>{% trans %}by Imported Value{% endtrans %}</small>
            </div>
            <div class="blue-box">
                <p class="label">{{ body.main_product_by_import_value_name }}</p>
                <div class="number">
                    USD <strong class="counter">{{ body.main_product_by_import_value | max_digits(3, True) }}</strong><span>{{ body.main_product_by_import_value | magnitude }}</span>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="blue-box title">
                {% trans %}Total of Exports{% endtrans %}
            </div>
            <div class="blue-box">
                <p class="label">{% trans %}Total of Exports{% endtrans %}</p>
                <div class="number">
                    USD <strong class="counter">{{ body.total_exports | max_digits(3, True) }}</strong><span>{{ body.total_exports | magnitude }}</span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="blue-box title">
                {% trans %}Total of Imports{% endtrans %}
            </div>
            <div class="blue-box">
                <p class="label">{% trans %}Total of Imports{% endtrans %}</p>
                <div class="number">
                    USD <strong class="counter">{{ body.total_imports | max_digits(3, True) }}</strong><span>{{ body.total_imports | magnitude }}</span>
                </div>
            </div>
        </div>

        {% if body.main_destination_by_export_value %}
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="blue-box title">
                {% trans %}Main Destination{% endtrans %}
                <small>{% trans %}by Export Value{% endtrans %}</small>
            </div>
            <div class="blue-box">
                <p class="label">{{ body.main_destination_by_export_value_name }}</p>
                <div class="number">
                    USD <strong class="counter">{{ body.main_destination_by_export_value | max_digits(3, True) }}</strong><span>{{ body.main_destination_by_export_value | magnitude }}</span>
                </div>
            </div>
        </div>
        {% endif %}


        {% if body.main_destination_by_import_value %}
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="blue-box title">
                {% trans %}Main Origin{% endtrans %}
                <small>{% trans %}by Import Value{% endtrans %}</small>
            </div>
            <div class="blue-box">
                <p class="label">{{ body.main_destination_by_import_value_name }}</p>
                <div class="number">
                    USD <strong class="counter">{{ body.main_destination_by_import_value | max_digits(3, True) }}</strong> <span>{{ body.main_destination_by_import_value | magnitude }}</span>
                </div>
            </div>
        </div>
        {% endif %}

    </div><!--/.row-->

</div>
