<div role="tabpanel" class="tab-pane" id="oportunidade-economica">
    <h2>Oportunidade Econômica</h2>
    <p>Minas Gerais é uma das 27 unidades federativas do Brasil, localizada na Região Sudeste do país, sendo o quarto estado com a maior área territorial e o segundo em quantidade de habitantes. Limita-se ao sul e sudoeste com São Paulo, a oeste com o Mato Grosso do Sul, a noroeste com Goiás e Distrito Federal, a norte e nordeste com a Bahia, a leste com o Espírito Santo e a sudeste com o Rio de Janeiro. Seu território é subdividido em 853 municípios, a maior quantidade dentre os estados brasileiros.</p>
    <h3>Estatísticas de Oportunidades Econômicas</h3>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            <th>
                                Principal Produto
                                <small>por Valor Exportado</small>
                            </th>
                            <th>
                                Principal Destino
                                <small>por Valor Exportado</small>
                            </th>
                            <th>
                                Total de Exportações
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="label">Minério de Ferro</p>
                                <div class="number">
                                    USD <strong class="counter">12.2</strong><span>B</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">China</p>
                                <div class="number">
                                    USD <strong class="counter">8.82</strong><span>B</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">Total de Exportações</p>
                                <div class="number">
                                    USD <strong class="counter">29.3</strong><span>B</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>