<div role="tabpanel" class="tab-pane" id="salario-emprego">
    <h2>Salário e Emprego</h2>
    <p>Minas Gerais é uma das 27 unidades federativas do Brasil, localizada na Região Sudeste do país, sendo o quarto estado com a maior área territorial e o segundo em quantidade de habitantes. Limita-se ao sul e sudoeste com São Paulo, a oeste com o Mato Grosso do Sul, a noroeste com Goiás e Distrito Federal, a norte e nordeste com a Bahia, a leste com o Espírito Santo e a sudeste com o Rio de Janeiro. Seu território é subdividido em 853 municípios, a maior quantidade dentre os estados brasileiros.</p>
    <p>Minas Gerais é uma das 27 unidades federativas do Brasil, localizada na Região Sudeste do país, sendo o quarto estado com a maior área territorial e o segundo em quantidade de habitantes.</p>
    <h3>Estatísticas de Salário e Emprego</h3>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            <th>
                                Principal Atividade Econômica <small>por Número de Empregos</small>
                            </th>
                            <th>
                                Principal Ocupação <small>por Número de Empregos</small>
                            </th>
                            <th>
                                Salário Médio
                            </th>
                            <th>
                                Massa Salarial
                            </th>
                            <th>
                                Total de Empregos
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="label">{{ body.main_industry_by_num_jobs_name }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.main_industry_by_num_jobs | max_digits(3) }}</strong><span>{{ body.main_industry_by_num_jobs | magnitude }}</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">{{ body.main_occupation_by_num_jobs_name }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.main_occupation_by_num_jobs | max_digits(3) }}</strong><span>{{ body.main_occupation_by_num_jobs | magnitude }}</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">Salário Médio</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.avg_wage | max_digits(3) }}</strong><span>{{ body.avg_wage | magnitude }}</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">Massa Salarial</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.wage | max_digits(3) }}</strong><span>{{ body.wage | magnitude }}</span>
                                </div>
                            </td>
                            <td>
                                <p class="label">Total de Empregos</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.total_jobs | max_digits(3) }}</strong><span>{{ body.total_jobs | magnitude }}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<a href="" target="frame-tab-salario-emprego">Emprego por</a> </br>

    <a href="" target="frame-tab-salario-emprego">&nbsp Atividade Econômica :</a> 
        
        <a href="/pt/embed/tree_map/rais/{{header.id}}/all/all/cnae/?color=color&depth=cnae_6&size=num_jobs" target="frame-tab-salario-emprego">&nbsp TreeMap</a> 
        
        <a href="/pt/embed/stacked/rais/{{header.id}}/all/all/cnae/?sort=asc&layout=value&y=num_jobs&order=color" target="frame-tab-salario-emprego">&nbsp Evoluçāo</a></br>
    
    <a href="" target="frame-tab-salario-emprego">&nbsp Ocupaçāo : </a> 
        
        <a href="/pt/embed/tree_map/rais/{{header.id}}/all/all/cbo/?color=color&depth=cbo_4&size=num_jobs" target="frame-tab-salario-emprego">&nbsp TreeMap</a>  

        <a href="/pt/embed/stacked/rais/{{header.id}}/all/all/cbo/?sort=asc&layout=value&y=num_jobs&order=color" target="frame-tab-salario-emprego">&nbsp Evoluçāo</a> </br>

<a href="" target="frame-tab-salario-emprego">Massa Salarial por</a> </br>

    <a href="" target="frame-tab-salario-emprego">&nbsp Atividade Econômica : </a> 
        
        <a href="/pt/embed/tree_map/rais/{{header.id}}/all/all/cnae/?color=color&depth=cnae_6&size=wage" target="frame-tab-salario-emprego">&nbsp TreeMap</a> 

        <a href="/pt/embed/stacked/rais/{{header.id}}/all/all/cnae/?sort=asc&layout=value&y=wage&order=color" target="frame-tab-salario-emprego">&nbsp Evoluçāo</a></br>

    
    <a href="" target="frame-tab-salario-emprego">&nbsp Ocupaçāo : </a> 
        
        <a href="/pt/embed/tree_map/rais/{{header.id}}/all/all/cbo/?color=color&depth=cbo_4&size=wage" target="frame-tab-salario-emprego">&nbsp TreeMap</a> 

        <a href="/pt/embed/stacked/rais/{{header.id}}/all/all/cbo/?sort=asc&layout=value&y=wage&order=color" target="frame-tab-salario-emprego">&nbsp Evoluçāo</a></br>



</div>


<iframe name="frame-tab-salario-emprego" id="frame-tab-salario-emprego" width='684' height='350' src='/pt/embed/tree_map/rais/{{header.id}}/all/all/cnae/?color=color&depth=cnae_6&size=num_jobs' frameborder='0'></iframe>
