<div role="tabpanel" class="tab-pane {{ 'active' if tab == 'general' }}" id="general">
    <h2>{% trans %}General Profile{% endtrans %}</h2>
        {% if location.id == 'all' %}
          {% trans %}Brazil is the 7th largest world economy and the 56th most complex according to the Economic Complexity Index (ECI). In 2015, Brasil has exported{% endtrans %}
          {{body.total_exports|max_digits(3)}} {{(body.total_exports|magnitude).lower()}}
          {% if g.locale == "en" %}USD {% endif %}{% trans %}and imported{% endtrans %}
          {{body.total_imports|max_digits(3)}} {{(body.total_imports|magnitude).lower()}}, {% if g.locale == "en" %}USD {% endif %}{% trans %}resulting in a{% endtrans %}
          {% if g.locale == "en" %}{{'positive' if body.all_trade_balance >= 0 else 'negative'}}{% else %}
          {{'positivo' if body.all_trade_balance >= 0 else 'negativo'}}{% endif %}
          {% trans %}commercial rate of{% endtrans %}
          {{body.all_trade_balance|max_digits(3)}} {{(body.all_trade_balance|magnitude).lower()}}{% if g.locale == "en" %} USD{% endif %}. {% trans %}In 2014 Brasil had{% endtrans %}
          {{body.total_jobs|max_digits(3)}} {{(body.total_jobs|magnitude).lower()}}
          {% trans %}formal employees. The Brazilian GDP in 2010 was of{% endtrans %}
          {{header.gdp|max_digits(3)}} {{(header.gdp|magnitude).lower()}}
          {% if g.locale == "en" %}USD {% endif %}{% trans %}and its GDP per capita was of{% endtrans %}
          {{header.gdp_per_capita|max_digits(3)}} {{(header.gdp_per_capita|magnitude).lower()}}{% if g.locale == "en" %} USD{% endif %}.

        {% else %}
          {% if is_municipality %}
              <p>{{ header.name }}
              {% trans %}is one of the {% endtrans %}{{ profile.number_of_municipalities}}
              {% trans %}cities in the state of {% endtrans %}{{ location.preposition('de') }} {{ profile.state_name }}.
              {% trans %} With {% endtrans %}{{ profile.area | max_digits(3) }} {{ (profile.area | magnitude).lower() }}
              {% trans %}km² of area, it has a population of {% endtrans %}{{ header.population|max_digits(3) }} {{ (header.population|magnitude).lower() }}
              {% trans %}people and a per-capita GDP of {% endtrans %}{{ header.gdp_per_capita|max_digits(3) }} {{ (header.gdp_per_capita|magnitude).lower() }}.
              {% trans %}Located in the {% endtrans %}{{ profile.mesoregion_name }}{% if  profile.gdp_rank != None and g.locale == "en" %} mesoregion, it is the {%elif profile.gdp_rank != None%}, é o {%else%} {%endif%} {% if  profile.gdp_rank  == 1 and g.locale == "en" %} top {%elif profile.gdp_rank != None%}  {{ profile.gdp_rank }}{{ profile.gdp_rank | ordinal }}{% endif %} {% if  profile.gdp_rank != None and g.locale == "en" %}city in the state by GDP.{%elif profile.gdp_rank != None%}município do estado em PIB.{%endif%}
              <!-- {% trans %}mesoregion, it is the{% endtrans %} {% if  profile.gdp_rank  == 1 and g.locale == "en" %} top {%elif profile.gdp_rank != None%}  {{ profile.gdp_rank }}{{ profile.gdp_rank | ordinal }}{% endif %} -->
              <!-- {% trans %}city in the state by GDP{% endtrans %}.</p> -->
          {% elif profile.bra_id|length == 7 %}
              <p>
              {% if g.locale == "pt" %}
                  A Microrregião
              {% endif %}

              {{ header.name }}
              {% trans %}microregion is one of the{% endtrans %} {{ profile.number_of_microregions}}
              {% trans %}subdivisions of the {% endtrans %}{{ profile.mesoregion_name }},
              {% trans %}mesoregion, located in the state of {% endtrans %}{{ location.preposition('de') }} {{ profile.state_name }}.
              {% trans %}It comprehends {% endtrans %}{{ profile.number_of_municipalities -1 }}
              {% trans %}cities and has a population of {% endtrans %}{{ header.population|max_digits(3) }} {{ (header.population|magnitude).lower() }}
              {% trans %}people. Its GDP is {% endtrans %}{{ header.gdp|max_digits(3) }} {{ (header.gdp|magnitude).lower() }} ({{header.year}})
              {% trans %}and its main product for export value is {% endtrans %}{{ body.main_product_by_export_value_name }}.
              </p>
          {% elif profile.bra_id|length == 5 %}
              <p>{% trans %}The mesoregion {% endtrans %}{{ header.name }}

              {% trans %} is one of the {% endtrans %}{{ profile.number_of_mesoregions}}
              {% trans %}subdivisions of the state of {% endtrans %}{{ location.preposition('de') }} {{ profile.state_name }}.
              {% trans %}It is the {% endtrans %}{{ profile.eci_rank }}{% if g.locale == "pt" %}{{ profile.eci_rank | ordinal('f') }}{% else %}{{ profile.eci_rank | ordinal }}{% endif %}
              {% trans %}Brazilian meso-region in complexity index and has the population of {% endtrans %}{{ header.population|max_digits(3) }} {{ (header.population|magnitude).lower() }}
              {% trans %}people. Its GDP is R$ {% endtrans %}{{ header.gdp|max_digits(3) }} {{ (header.gdp|magnitude).lower() }} ({{header.year}})
              {% trans %}and its main product for export value is {% endtrans %}{{ body.main_product_by_export_value_name }}.
              </p>
          {% elif profile.bra_id|length == 1 %}
              <p>{% if g.locale == "pt" %}
                  A
                  {% else %}
                      The
              {% endif %}{{ header.name }}
              {% trans %} is one of the {% endtrans %}{{ profile.number_of_regions-1 }}
              {% trans %}regional divisions in Brazil, consisting of the states of {% endtrans %}
              {% for states in profile.region_states %}
                  {% if states == profile.region_states[profile.region_states|length-1] %}
                      {% trans %}and{% endtrans %} {{ states }}.
                  {% else %}
                      {{ states }},
                  {% endif %}
              {% endfor %}
              {% trans %}The region {% endtrans %}
              {% trans %}has a total of {% endtrans %}{{ header.population|max_digits(3) }} {{ (header.population|magnitude).lower() }}
              {% trans %}people. It is the number {% endtrans %}{{ profile.gdp_pc_rank }}{% if g.locale == "pt" %}{{ profile.gdp_pc_rank | ordinal('f') }}{% endif %}
              {% trans %}region in GDP per capita of Brazil and number {% endtrans %}{{ profile.pop_rank }}{% if g.locale == "pt" %}{{ profile.pop_rank | ordinal('f') }}{% endif %}
              {% trans %}in population{% endtrans %}.</p>
          {% else %}
              <p>{{ header.name }}
              {% trans %} is one of the {% endtrans %}{{ profile.number_of_states-1 }}
              {% trans %}federated states of Brazil, located in the {% endtrans %}{{ profile.region_name }}
              {% trans %}being the {% endtrans %}{{ profile.area_rank }}{{ profile.area_rank | ordinal }}
              {% trans %}state in territorial area and {% endtrans %}{{ profile.pop_rank }}{{ profile.pop_rank | ordinal }}
              {% trans %}in population. Its territory is limited for {% endtrans %}
              {% for neighbors in profile.neighbors %}
                  {% if neighbors == profile.neighbors[profile.neighbors|length-1] %}
                      {% trans %}and{% endtrans %} {{ neighbors }}.
                  {% else %}
                      {{ neighbors }},
                  {% endif %}
              {% endfor %}
              {% trans %}Its territory is subdivided in {% endtrans %}{{ profile.number_of_municipalities }}
              {% trans %}cities{% endtrans %}.
              </p>
          {% endif %}
        {% endif %}

  <div class="row">
    {% if body.secex_year is not none %}
      <div class="dl-box col-xs-12 col-md-6" id='general-trade'>
        <h3>{% trans %}International Trade{% endtrans %} ({{latestSecexYear}})</h3>
        <a href="#trade-partner"
                      aria-controls="trade-partner"
                      role="tab"
                      data-toggle="tab"
                      graph class="pull-right btn btn-primary btn-xs m-r-lg">
          {% trans %}More details{% endtrans %}
        </a>
      </div>
    {% endif %}

    {% if body.rais_year is not none %}
      <div class="dl-box col-xs-12 col-md-6" id='general-wage'>
        <h3>{% trans %}Wages and Jobs{% endtrans %} ({{latestRaisYear}})</h3>
        <a href="#wages"
                      aria-controls="wages"
                      role="tab"
                      data-toggle="tab"
                      graph class="pull-right btn btn-primary btn-xs m-r-lg">
          {% trans %}More details{% endtrans %}
        </a>
      </div>

      {% if location.id != 'all' %}
        <div class="dl-box col-xs-12 col-md-6">
          <h3>{% trans %}Economic Opportunities{% endtrans %} ({{body.industry_year}})</h3>
          <dl class="dl-horizontal">
            {% if body.less_distance_by_product %}
            <dt>{% trans %}Product with Shortest Distance{% endtrans %}</dt>
            <dd>
              <small>{{ body.less_distance_by_product_name}}</small>
              <strong class="counter">{{ body.less_distance_by_product | max_digits(3, True) }}</strong>
              <span>{{ body.less_distance_by_product | magnitude }}</span>
            </dd>
            {% endif %}
            {% if body.less_distance_by_occupation %}
            <dt>{% trans %}Economic Activity with Shortest Distance{% endtrans %}</dt>
            <dd>
              <small>{{ body.less_distance_by_occupation_name}}</small>
              <strong class="counter">{{ body.less_distance_by_occupation | max_digits(3, True) }}</strong>
              <span>{{ body.less_distance_by_occupation | magnitude }}</span>
            </dd>
            {% endif %}
            {% if body.opportunity_gain_by_product %}
            <dt>{% trans %}Product with Highest Opportunity Gain{% endtrans %}</dt>
            <dd>
              <small>{{ body.opportunity_gain_by_product_name}}</small>
              <strong class="counter">{{ body.opportunity_gain_by_product | max_digits(3, True) }}</strong>
              <span>{{ body.opportunity_gain_by_product | magnitude }}</span>
            </dd>
            {% endif %}
            {% if body.opportunity_gain_by_occupation %}
            <dt>{% trans %}Economic Activity with Highest Opportunity Gain{% endtrans %}</dt>
            <dd>
              <small>{{ body.opportunity_gain_by_occupation_name}}</small>
              <strong class="counter">{{ body.opportunity_gain_by_occupation | max_digits(3, True) }}</strong>
              <span>{{ body.opportunity_gain_by_occupation | magnitude }}</span>
            </dd>
            {% endif %}
          </dl>
          <a href="#opportunities"
                        aria-controls="opportunities"
                        role="tab"
                        data-toggle="tab"
                        class="pull-right btn btn-primary btn-xs m-r-lg"
                        graph
                        data-id="{{ location.id }}">
              {% trans %}More details{% endtrans %}
          </a>
        </div>
      {% endif %}
    {% endif %}

    
    <div class="dl-box col-xs-12 col-md-6" id="general-education">
      <h3>{% trans %}Education{% endtrans %} (2017)</h3>

      {% if body.university_year is not none %}
        <a href="#education"
          aria-controls="education"
          role="tab"
          data-toggle="tab"
          graph class="pull-right btn btn-primary btn-xs m-r-lg">
      {% else %}
        <a href="#basic-education"
          aria-controls="basic-education"
          role="tab"
          data-toggle="tab"
          graph class="pull-right btn btn-primary btn-xs m-r-lg">
      {% endif %}
          {% trans %}More details{% endtrans %}
        </a>
    </div>

    <div class="dl-box col-xs-12 col-md-6" id="general-health">
    <h3>{% trans %}Health{% endtrans %} (2015)</h3>
     <a href="#health"
         aria-controls="health"
         role="tab"
         data-toggle="tab"
         graph class="pull-right btn btn-primary btn-xs m-r-lg">{% trans %}More details{% endtrans %}
     </a>
    </div>
  </div>
</div>
