<div role="tabpanel" class="tab-pane" id="educacao">
    <h2>Estatísticas de Educação</h2>
    <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-12">
            <div class="table-responsive">
                <table class="table data-blue">
                    <thead>
                        <tr>
                            <th>
                                Universidade <small>com Maior Número de Matrículas</small>
                            </th>
                            <th>
                                Curso Superior com <small>Maior Número de Matrículas</small>
                            </th>
                            <th>
                                Escola <small>com Maior Número de Matrículas em Cursos Técnicos</small>
                            </th>
                            <th>
                                Curso Técnico <small>com Maior Número de Matrículas</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if body.highest_enrolled_by_university %}
                            <td>
                                <p class="label">{{ body.highest_enrolled_by_university_name }}</p>
                                <div class="number">
                                    <strong class="counter">{{ body.highest_enrolled_by_university | max_digits(3)}}</strong><span>{{ body.highest_enrolled_by_university | magnitude }}</span>
                                </div>
                            </td>
                            {% endif %}
                            {% if body.highest_enrolled_by_major %}
                            <td>
                                <p class="label">{{ body.highest_enrolled_by_major_name }}</p>
                                <div class="number">
                                    <strong class="counter">{{ body.highest_enrolled_by_major | max_digits(3)}}</strong><span>{{ body.highest_enrolled_by_major | magnitude }}</span>
                                </div>
                            </td>
                            {% endif %}
                            {% if body.highest_enrolled_by_school %}
                            <td>
                                <p class="label">{{ body.highest_enrolled_by_school_name }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.highest_enrolled_by_school | max_digits(3)}}</strong><span>{{ body.highest_enrolled_by_school | magnitude }}</span>
                                </div>
                            </td>
                            {% endif %}
                            {% if body.highest_enrolled_by_basic_course %}
                            <td>
                                <p class="label">{{ body.highest_enrolled_by_basic_course_name }}</p>
                                <div class="number">
                                    USD <strong class="counter">{{ body.highest_enrolled_by_basic_course | max_digits(3)}}</strong><span>{{ body.highest_enrolled_by_basic_course | magnitude }}</span>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<a href="" target="frame-tab-educacao">Ensino Superior por</a> </br>

        <a href="/pt/embed/tree_map/hedu/{{header.id}}/all/all/university/?color=color&depth=university_5&size=enrolled" target="frame-tab-educacao">&nbsp Universidades - TreeMap</a> </br>

        <a href="/pt/embed/tree_map/hedu/{{header.id}}/all/all/course_hedu/?color=color&depth=course_hedu_6&size=enrolled" target="frame-tab-educacao">&nbsp Cursos - TreeMap</a></br>


<a href="" target="frame-tab-educacao">Educaçāo Profissional por</a> </br>

        <a href="/pt/embed/tree_map/sc/{{header.id}}/all/all/school/?color=color&depth=school_type_id&size=enrolled" target="frame-tab-educacao">&nbsp Escolas - TreeMap</a> </br>

        <a href="/pt/embed/tree_map/sc/{{header.id}}/all/all/course_sc/?color=color&depth=course_sc_5&size=enrolled" target="frame-tab-educacao">&nbsp Cursos - TreeMap</a></br>


<a href="" target="frame-tab-educacao">Educaçāo Básica por</a></br>

        <a href="/pt/embed/tree_map/sc/{{header.id}}/all/all/adm/?color=color&depth=school_type_id&size=enrolled" target="frame-tab-educacao">&nbsp Dependencia Administrativa - TreeMap</a> </br>

        <a href="/pt/embed/tree_map/sc/{{header.id}}/all/all/basic/?color=color&depth=course_sc_5&size=enrolled" target="frame-tab-educacao">&nbsp Nível de Ensino - TreeMap</a></br>

</div>


<iframe name="frame-tab-educacao" id="frame-tab-educacao" width='684' height='350' src='/pt/embed/tree_map/hedu/{{header.id}}/all/all/university/?color=color&depth=university_5&size=enrolled' frameborder='0'></iframe>
