<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h3>Indicadores Header:</h3>
	<p>
		GDP: {{body.total_jobs}}</br>
		POP: {{header.population}}</br>
		GDP_per_capta: {{header.gdp_per_capta}}</br>
		ECI: {{header.eci}}</br>
	</p>

	<h3>International Trade:</h3>
	<p>
		Main Product by Total Value Exported: {{body.highest_export_value_name}} {{body.highest_export_value}}</br>
		Main Product by Total Value Imported: {{body.highest_import_value_name}} {{body.highest_import_value}}</br>
		Total of Imports: {{body.all_imported}}</br>
		Total of Exports: {{body.all_exported}}</br>
	</p>

	<h3>Wages and Jobs:</h3>
	<p>
		Main Economic Activity: {{body.main_industry_by_num_jobs_name}} {{body.main_industry_by_num_jobs}}</br>
		Main Occupation: {{body.main_occupation_by_num_jobs_name}} {{body.main_occupation_by_num_jobs}}</br>
		Avarage Wage: {{body.avg_wage}}</br>
		Total of Jobs: {{body.total_jobs}}</br>
	</p>

	<h3>Education:</h3>
	<p>
		University with Highest Number of Enrollments: {{body.highest_enrolled_by_university_name}} {{body.highest_enrolled_by_university}}</br>
		Major with Highest Number of Enrollments: {{body.highest_enrolled_by_major_name}} {{body.highest_enrolled_by_major}}</br>
		School with Highest Number of Enrollments: {{body.highest_enrolled_by_school_name}} {{highest_enrolled_by_school}}</br>
		Basic Course with Highest Number of Enrollments: {{body.highest_enrolled_by_basic_course_name}} {{body.highest_enrolled_by_basic_course}}</br>
	</p>

	<h3>Text:</h3>
	<p>
	O Brasil é a 7ª maior economia mundial e 56ª economia mais complexa de acordo com o Índice de Complexidade Econômico (ICE). Em 2015, o Brasil exportou US$ {{body.all_exported}} e importou US$ {{body.all_imported}}, resultando em um saldo comercial (positivo ou negativo) de US$ {{body.all_trade_balance}}. Em 2014, o Brasil tinha {{body.total_jobs}} empregados formais. O PIB do Brasil em 2010 foi de {{body.total_jobs}} e seu PIB per capita foi de {{header.gdp_per_capta}}.
	</p>
</body>
</html>

