<!DOCTYPE html>
<html>
<head>
</head>
<body>

Indicadores Header:
GDP: {{header.gdp}}</br>
POP: {{header.population}}</br>
GDP_per_capta: {{header.gdp_per_capta}}</br>
ECI: {{header.eci}}</br>

Principal Produto por Valor Total Exportado: {{body.highest_export_value_name}} {{body.highest_export_value}}</br>
Principal Produto por Valor Total Importado: {{body.highest_import_value_name}} {{body.highest_import_value}}</br>
Total de Exportações: {{body.total_exports}}</br>
Total de Importações: {{body.total_imports}}</br>

</body>
</html>