<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h3>Indicadores Header:</h3>
	<p>
		GDP: {{header.gdp|max_digits(3)}} {{(header.gdp|magnitude).lower()}} {{(header.gdp|magnitude).lower()}}</br>
		POP: {{header.population|max_digits(3)}} {{(header.population|magnitude).lower()}}</br>
		GDP_per_capta: {{header.gdp_per_capta|max_digits(3)}} {{(header.gdp_per_capta|magnitude).lower()}}</br>
		ECI: </br>
	</p>

	<h3>International Trade:</h3>
	<p>
		Main Product by Total Value Exported: {{body.highest_export_value_name}} {{body.highest_export_value|max_digits(3)}} {{(body.highest_export_value|magnitude).lower()}}</br>
		Main Product by Total Value Imported: {{body.highest_import_value_name}} {{body.highest_import_value|max_digits(3)}} {{(body.highest_import_value|magnitude).lower()}}</br>
		Total of Imports: {{body.all_imported|max_digits(3)}} {{(body.all_imported|magnitude).lower()}}</br>
		Total of Exports: {{body.all_exported|max_digits(3)}} {{(body.all_exported|magnitude).lower()}}</br>
	</p>

	<h3>Wages and Jobs:</h3>
	<p>
		Main Economic Activity: {{body.main_industry_by_num_jobs_name}} {{body.main_industry_by_num_jobs|max_digits(3)}} {{(body.main_industry_by_num_jobs|magnitude).lower()}}</br>
		Main Occupation: {{body.main_occupation_by_num_jobs_name}} {{body.main_occupation_by_num_jobs|max_digits(3)}} {{(body.main_occupation_by_num_jobs|magnitude).lower()}}</br>
		Avarage Wage: {{body.avg_wage|max_digits(3)}} {{(body.avg_wage|magnitude).lower()}}</br>
		Total of Jobs: {{body.total_jobs|max_digits(3)}} {{(body.total_jobs|magnitude).lower()}}</br>
	</p>

	<h3>Education:</h3>
	<p>
		University with Highest Number of Enrollments: {{body.highest_enrolled_by_university_name}} {{body.highest_enrolled_by_university|max_digits(3)}} {{(body.highest_enrolled_by_university|magnitude).lower()}}</br>
		Major with Highest Number of Enrollments: {{body.highest_enrolled_by_major_name}} {{body.highest_enrolled_by_major|max_digits(3)}} {{(body.highest_enrolled_by_major|magnitude).lower()}}</br>
		School with Highest Number of Enrollments: {{body.highest_enrolled_by_school_name}} {{body.highest_enrolled_by_school|max_digits(3)}} {{(body.highest_enrolled_by_school|magnitude).lower()}}</br>
		Basic Course with Highest Number of Enrollments: {{body.highest_enrolled_by_basic_course_name}} {{body.highest_enrolled_by_basic_course|max_digits(3)}} {{(body.highest_enrolled_by_basic_course|magnitude).lower()}}</br>
	</p>

	<h3>Text:</h3>
	<h4>en</h4>
	<p>
		Brazil is the 7th largest world economy and the 56th most complex according to the Economic Complexity Index (ECI). In 2015, Brasil has exported {{body.all_exported|max_digits(3)}} {{(body.all_exported|magnitude).lower()}} USD and imported {{body.all_imported|max_digits(3)}} {{(body.all_imported|magnitude).lower()}} USD, resulting in a {{'positive' if body.all_trade_balance >= 0 else 'negative'}} commercial rate of {{body.all_trade_balance|max_digits(3)}} {{(body.all_trade_balance|magnitude).lower()}} USD. In 2014 Brasil had {{body.total_jobs|max_digits(3)}} {{(body.total_jobs|magnitude).lower()}} formal employees. The Brazilian GDP in 2010 was of {{header.gdp|max_digits(3)}} {{(header.gdp|magnitude).lower()}} USD and its GDP per capita was of {{header.gdp_per_capta|max_digits(3)}} {{(header.gdp_per_capta|magnitude).lower()}} USD.
	</p>
	<h4>pt</h4>
	<p>
		O Brasil é a 7ª maior economia mundial e 56ª economia mais complexa de acordo com o Índice de Complexidade Econômico (ICE). Em 2015, o Brasil exportou US$ {{body.all_exported|max_digits(3)}} {{(body.all_exported|magnitude).lower()}} e importou US$ {{body.all_imported|max_digits(3)}} {{(body.all_imported|magnitude).lower()}}, resultando em um saldo comercial {{'positivo' if body.all_trade_balance >= 0 else 'negativo'}} de US$ {{body.all_trade_balance|max_digits(3)}} {{(body.all_trade_balance|magnitude).lower()}}. Em 2014, o Brasil tinha {{body.total_jobs|max_digits(3)}} {{(body.total_jobs|magnitude).lower()}} empregados formais. O PIB do Brasil em 2010 foi de {{header.gdp|max_digits(3)}} {{(header.gdp|magnitude).lower()}} e seu PIB per capita foi de {{header.gdp_per_capta|max_digits(3)}} {{(header.gdp_per_capta|magnitude).lower()}}.
	</p>
</body>
</html>

