{% extends "templates/admin.html" %}

{% block title %}: {% trans %}Edit Question{% endtrans %}{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/redactor.css" />
{% endblock %}

{% block admin_content %}

<h2>{{ question.question }}</h2>

<p>{{ question.body }}</p>
<div class="posted">
  <img src="{{ question.user.avatar(22) }}"> 
  {% trans %}Asked by{% endtrans %} {{question.user.nickname}} {{ momentjs(question.timestamp).fromNow() }}
</div>

<hr />

<form id="ask_form" action="" method="post">
  {{ form.hidden_tag() }}

  <h3>{% trans %}Status{% endtrans %}:</h3>
  {{ form.status() }}

  <h3>{% trans %}Answer{% endtrans %}:</h3>
  {{ form.answer(id="wysiwyg_textarea", placeholder=_("Enter your answer...")) }}<br />
  {% for error in form.errors.body %}
  <span style="color: red;">[{{ error }}]</span>
  {% endfor %}

  <input type="submit" value="{% trans %}Update{% endtrans %}"/>

</form>
{% endblock %}

{% block js %}
<!-- Redactor is here -->
<script src="/static/js/libs/jquery-1.9.0.min.js"></script>
<script src="/static/js/libs/redactor.min.js"></script>
<script>

// Initialize redactor wysiwyg textarea
$(document).ready(function() {

    var buttons = ['bold', 'italic', 'underline', 'deleted', '|', 'link']
		$('#wysiwyg_textarea').redactor({
      buttons: buttons 
		});

});
</script>
{% endblock %}