<!-- extend from base layout -->
{% extends "templates/base.html" %}

{% block title %}Login{% endblock %}

{% block head %}

  <style>
    div#login_div {
      margin-top: -83px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;
    }
  </style>

{% endblock %}

{% block content %}

<div id="login_div">
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <h4>Choose Account</h4>
      {% for pr in providers %}
      <a id="{{ pr }}" class="login_button" href="{{ pr }}"></a>
      {% endfor %}<br /><br />
      <p><b>{{form.remember_me}} Remember Me</b></p>
  </form>
</div>

<script type="text/javascript">
d3.selectAll(".login_button").on(vizwhiz.evt.click, function () {
  var pr = this.id.toLowerCase()
//   var openid = this.href
//   console.log(openid, pr)
//   u = openid.search('username')
//   if (u != -1) {
//     // openid requires username
//     user = prompt('Enter your ' + pr + ' username:')
//     openid = openid.substr(0, u) + user
//     // this.parentNode.submit();
//   }
  form = document.forms['login'];
  form.elements['provider'].value = pr;
  this.parentNode.submit();
  d3.event.preventDefault();
})
</script>
{% endblock %}