<!-- extend from base layout -->
{% extends "base.html" %}

{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.login.css" />

{% endblock %}

{% block content %}

  <div id="login_div">
    <div id="logo"></div>
      {% if g.accounts %}
        <div id="login_text">
          {% trans %}Logging in is easy! All you have to do is choose one of the following accounts to link with your profile. We'll take care of the rest.{% endtrans %}
          <br><br>
          {% trans %}By having an account, you will be able to ask questions, comment in discussions, and save your favorite visualizations to your profile.{% endtrans %}
        </div>
        <a class="terms" href="/about/terms_of_use">{% trans %}Terms of Use{% endtrans %}</a>
      {% else %}
        <div id="denied_text">
          {% trans %}Logging in has been disabled on this version of DataViva. Please visit the main site to log in.{% endtrans %}
          <br><br>
          <a class="open_parent decision" href="https://www.dataviva.info/">www.dataviva.info</a>
        </div>
      {% endif %}

    {% if g.accounts %}
      <form action="" method="post" name="login">

        {{ form.hidden_tag() }}

        <p>
          {{form.remember_me(id="remember")}}<label for="remember">{% trans %}Remember Me{% endtrans %}</label>
        </p>
        {% for pr in providers %}
        <a id="{{ pr }}" class="login_button" href="{{ pr }}"></a>
        {% endfor %}
      </form>
    {% endif %}

  </div>

  <script type="text/javascript">


  {% if g.accounts %}

    leon("#remember").color(dataviva.color).size("small")

    d3.selectAll(".login_button").on(d3plus.client.pointer.click, function () {
      var pr = this.id.toLowerCase()
      form = document.forms['login'];
      form.elements['provider'].value = pr;
      this.parentNode.submit();
      d3.event.preventDefault();
    })

  {% else %}

    d3.select("a.open_parent").on("click", function(){
      d3.event.preventDefault();
      window.opener.parent.location.href = "https://www.dataviva.info" + window.opener.parent.location.pathname;
      window.close();
    })

  {% endif %}

  d3.select("a.terms").on("click", function(){
    d3.event.preventDefault();
    window.opener.parent.location.href = "/about/terms_of_use";
    window.close();
  })

  </script>

{% endblock %}
