<!doctype html>
<meta charset="utf-8">

<div id="viz" class="embed-responsive responsive-wrapper"></div>
<!-- 
<script type="text/javascript" src="/static/js/libs/d3.min.js"></script>
<script type="text/javascript" src="/static/js/libs/d3plus.min.js"></script> -->
<!-- <script type="text/javascript" src="/static/js/libs/jquery-2.1.1.js"></script> -->


<div class="loading"></div>
<link rel="stylesheet" type="text/css" href="/static/css/main.css" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/css/bgs.css" type="text/css">

<style type="text/css">
    body {
      background: none;
    }

    .loading {
        top: 200px;
    }

    .loading .page-loader {
        background: none;
    }
</style>

<script type="text/javascript" src="http://d3plus.org/js/d3.js"></script>
<script type="text/javascript" src="http://d3plus.org/js/d3plus.js"></script>

<script type="text/javascript" src="/static/js/libs/modernizr.custom.js"></script>
<script type="text/javascript" src="/static/js/utils/utils.dataviva.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/libs/async.js"></script>

<script type="text/javascript">
	var url = '{{url|safe}}';
	var lang = '{{g.locale}}';
</script>
<script type="text/javascript" src="/static/js/modules/viz/{{script}}"></script>