{% block body %}
<div class="grid4col1">
  <h4>Filters</h4>
  <div id="data_toggle">
    <legend>Dataset</legend>
    <label for="RAIS">RAIS</label>
    <input type="radio" name="dataset" value="RAIS" checked>
    <label for="SECEX">SECEX</label>
    <input type="radio" name="dataset" value="SECEX">
  </div>
  <p>
    <a id="location_filter" class="filter button">
      <i>filter by </i><b>LOCATION</b>
    </a>
    
    <div class="filter add"> 
      <h4>Location</h4>
      <p><img src="/static/img/icons/bra/bra_es.png" width="8%" height="8%">Espírito Santo
        <a><i class="icon-remove-sign"></i></a>
      </p>
      <p><img src="/static/img/icons/bra/bra_mg.png" width="8%" height="8%">Minas Gerais
        <a><i class="icon-remove-sign"></i></a>
      </p>
      <p><img src="/static/img/icons/bra/bra_al.png" width="8%" height="8%">Alagoas
        <a><i class="icon-remove-sign"></i></a>
      </p>
      <a class="add_filter button">+ filter</a>
    </div>
  </p>
  
  <div id="rais_on">
    <p>
      <a id="industry_filter" class="filter button">
        <i>filter by </i><b>INDUSTRY</b>
      </a>
    </p>
   <p> 
      <a id="occupation_filter" class="filter button">
        <i>filter by </i><b>OCCUPATION</b>
      </a>
    </p>
  </div>
  
  <div id="secex_on">
    <p>
      <a id="product_filter" class="filter button">
        <i>filter by </i><b>PRODUCT</b>
      </a>
    </p>
    
    <p>
      <a id="country_filter" class="filter button">
        <i>filter by </i><b>COUNTRY</b>
      </a>
      
      <div class="filter add"> 
        <h4>COUNTRY</h4>
        <p><img src="/static/img/icons/wld/wld_eugbr.png" width="8%" height="8%">Great Britain
          <a><i class="icon-remove-sign"></i></a>
        </p>
        <p><img src="/static/img/icons/wld/wld_eudnk.png" width="8%" height="8%">Denmark
          <a><i class="icon-remove-sign"></i></a>
        </p>
        <p><img src="/static/img/icons/wld/wld_nausa.png" width="8%" height="8%">United States
          <a><i class="icon-remove-sign"></i></a>
        </p>
        <a class="add_filter button">+ filter</a>
      </div>
    </p>
  </div>
</div>

<div class="grid4col3">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Category</th>
          <th>Name (English)</th>
          <th>Name (Portuguese)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>
        <tr>
          <td>000</td>
          <td>000</td><td>000</td><td>000</td><td>000</td>
        </tr>

      

          <!--
          {% for attr in attrs %}
                    <tr>
                      <td class="icon">
                        <div style="background-color: {{ attr.color }}" title="{{ attr.id }}"></div>
                      </td>
                      <td>{{ attr.id }}</td>
                      <td><script>document.write(visual.format.text("{{ page_attr }}_{{ attr.id|length }}"))</script></td>
                      <td>{{ attr.name_en }}</td>
                      <td>{{ attr.name_pt }}</td>
                    </tr>
                    {% endfor %}-->
          
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  visual.toggle("dataset");
</script>
{% endblock %}



