{% extends "templates/site.html" %}

{% block title %}: Generate a Profile{% endblock %}

{% block body %}

  <div class="grid5col1 grid5offset1">
    <div id="sabrina" class="{{g.sabrina.outfit}} {{g.sabrina.face}} {{g.sabrina.hat}}"></div>
  </div>
  
  <div class="grid5col2">
  
    <div class="title">
      What would you like to learn more about?
    </div>
  
    <a class="decision" href="/profiles/location/select/">
      Brazilian Location
    </a>
  
    <a class="decision" href="/profiles/career/select/">
      Career
    </a>
  
    <a class="decision" href="/profiles/establishment/select/">
      Establishments and Employment
    </a>
  
    <a class="decision" href="/profiles/export/select/">
      Product Export
    </a>
  
    <a class="decision" href="/profiles/partner/select/">
      World Trade Partner
    </a>
  
  </div>

{% endblock %}