{% extends "templates/site.html" %}

{% block title %}: {% endblock %}

{% block head %}

    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.profile.css" />

{% endblock %}

{% block body %}

  <div id="fullscreen"></div>
    
  <div class="darkbox title"><img src="" alt="{{ item.id }}" /><h2>{{ item.name() }}</h2></div>
  
  <br />
  
  {% for dt in data_tables %}
  
  <div class="lightbox data_table">
	
	  <iframe src="/apps/embed/{{ dt.build.url() }}" width:"100%" height:"100%"></iframe>
  
	  <h3>{{ dt.build.title() }}</h3>
	  <table>
		  <thead>
			  <tr>
				  {% for h in dt.table_headers %}
			  	  <th>{{ h }}</th>
				  {% endfor %}
			  </tr>
		  </thead>
		  <tbody>
			  {% for row in dt.table_data %}
			  <tr>
				  {% for v in row %}
				  {% if loop.index0 == 1 %}
				  <td><a href="/profiles/{{dt.build.output}}/{{v}}/">{{ v }}</a></td>
				  {% else %}
				  <td>{{ v }}</td>
				  {% endif %}
				  {% endfor %}
			  </tr>
			  {% endfor %}
		  </tbody>
	  </table>
  
  </div>
  
  {% endfor %}


{% endblock %}

{% block js %}

  <script>
  
  d3.select(".darkbox img").attr("src", function(){
	  var type = window.location.pathname.split("/")[2];
	  return visual.icon(this.alt, type)
  })
  
  </script>

{% endblock %}