{% extends "templates/site.html" %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.home.css" />

  <!--[if gte IE 9]>
    <style type="text/css">
      #white_gradient {
         filter: none;
      }
    </style>
  <![endif]-->

  <style>

  #spotlight {
    height: 447px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  #spotlight a.feature:hover h1 {
    color: white;
  }

  #spotlight img {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  #spotlight .title {
    /*background-image: url("/static/img/home/triangles.png");*/
    /*background-color: #888;*/
    color: white;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    top: 125px;
    width: 100%;
    z-index: 2;
  }

  #spotlight .title h1 {
    font-size: 60px;
    font-weight: 600;
    margin: 0 0 35px;
    text-shadow: 0 2px 4px black;
  }

  #spotlight .title p {
    display: inline-block;
    font-size: 37px;
    font-weight: bold;
    line-height: 20px;
    width: 620px;
    text-shadow: 0 2px 6px black;
  }

  #pagination  {
    margin-top: 407px;
    position: relative;
    z-index: 100;
  }

  #pagination .page {
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    height: 15px;
    margin: 0 10px;
    opacity: 0.5;
    width: 15px;
  }

  #pagination .page.active {
    opacity: 0.9;
  }

  #white_gradient {
    bottom: 0;
    height: 150px;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 2;

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */

  }

  #home_search {
    display: inline-block;
    margin-top: 170px;
    position: relative;
    text-align: center;
    z-index: 10;
  }

  #home_search i {
    background-color: #ccc;
    color: white;
    font-size: 24px;
    padding: 10px;
  }

  #home_search input {
    background-color: white;
    border: solid #ccc 1px;
    box-sizing: border-box;
    /*display: block;*/
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    outline: none;
    opacity: 1;
    padding: 10px;
    -webkit-transition: border-color .1s, color .1s, opacity .1s;
    transition: border-color .1s, color .1s, opacity .1s;
    width: 400px;
  }

  #home_search #result {
    border: 1px solid #ccc;
    top: 43px;
    width: 440px;
  }

  #quick_links {
    margin: 10px auto 60px;
    position: relative;
  }

  #quick_links span {
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 5px 0 5px;
    text-shadow: 0 2px 6px black;
  }

  .carousel {
    margin: 0px 50px 10px;
    position: relative;
  }
  .carousel > .prev, .carousel > .next {
    color: #888;
    font-size: 50px;
    position: absolute;
    top: 117px;
  }
  .carousel > .prev:hover, .carousel > .next:hover {
    color: #444;
  }
  .carousel > .prev {
    left: -35px;
  }
  .carousel > .next {
    right: -35px;
  }
  .carousel .scroller {
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
  }
  .carousel ul {
    list-style: none;
    white-space: nowrap;
  }
  .carousel ul li {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  .poster {
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
  }
  div.poster {
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    height: 120px;
    opacity: 0.9;
    margin: 5px;
    position: relative;
    width: 120px;
  }
  div.poster:hover {
    opacity: 1;
    -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
  }
  .poster .title {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    height: 45px;
    margin: 0;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    white-space: normal;
    width: 130px;
  }
  .poster img {
    box-sizing: border-box;
    display: inline-block;
    margin: 15px;
    width: 90px;
  }

  body.home .set {
    -webkit-transition: 0.75s ease-in-out;
    -moz-transition: 0.75s ease-in-out;
    -o-transition: 0.75s ease-in-out;
    transition: 0.75s ease-in-out;
  }

  body.home .lightbox {
    background-color: rgba(255,255,255,0.7);
  }
  </style>

{% endblock %}

{% block body %}

  <!-- <div class="darkbox"><h1>{% trans %}Visualizing the Economy of Brazil{% endtrans %}</h1></div>
  <div class="home_sub">
    {% trans %}DataViva is opening up data for the entire formal sector of the Brazilian economy{% endtrans %}
      <br>
    {% trans %}through more than 100 million interactive visualizations.{% endtrans %}
  </div> -->
  <div id="spotlight">

    <a href="/profiles/bra/4mg/?app=10" class="feature">
      <div class="title">
        <h1>Who is getting hired?</h1>
        <p>Visualize employement data now.</p>
      </div>
      <img src="/static/img/home/minas-map.jpg">
    </a>

    <div id="pagination">
      <span class="page active"></span>
      <span class="page"></span>
      <span class="page"></span>
    </div>

    <!-- <div id="white_gradient"></div> -->

  </div>

  <div id="home_search">
    <i class="fa fa-search"></i><input class="searchFld" type="text" placeholder="Minas Gerais, Iron Ore, Leather Tanning, etc." autofocus />
    <div id="result" class="searchResult">search results</div>
  </div>

  <div id="quick_links">
    <span>{% trans %}Quick<br>Links{% endtrans %}</span>
    <a href="#" class="decision square small icon bra" data-type="bra"></a>
    <a href="#" class="decision square small icon hs" data-type="hs"></a>
    <a href="#" class="decision square small icon wld" data-type="wld"></a>
    <a href="#" class="decision square small icon cnae" data-type="cnae"></a>
    <a href="#" class="decision square small icon cbo" data-type="cbo"></a>
    <a href="#" class="decision square small icon university" data-type="university">
      <div class="new">{% trans %}New{% endtrans %}</div></a>
    <a href="#" class="decision square small icon course_hedu" data-type="course_hedu">
      <div class="new">{% trans %}New{% endtrans %}</div></a>
    <a href="#" class="decision square small icon course_sc" data-type="course_sc">
      <div class="new">{% trans %}New{% endtrans %}</div></a>
  </div>

  {% for carousel in carousels %}

    <hr>

    <div class="carousel">

      <div class="darkbox"><h1>{{ carousel.title }}</h1></div>
      <a class="prev"><i class="fa fa-angle-left"></i></a>
      <a class="next"><i class="fa fa-angle-right"></i></a>

      <div class="scroller">
        <ul class="set" id="test" data-parameters="{{ carousel.url }}">
          {% for poster in carousel.posters %}
            <li>
              <a class="poster" href="{{ poster.url() }}">
                <div class="poster" style="background-color:{{ poster.color }};">
                  <img src="{{ poster.icon() }}"/>
                </div>
                <div class="title">{{ poster.name() }}</div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  {% endfor %}

{% endblock %}

{% block js %}

<script src="/static/js/utils/utils.selector.js"></script>
<script>
  var colorTitles = function() {
    d3.selectAll("h4.title")
      .style("color", function(){
        var c = d3.select(this.parentNode).style("background-color")
        return d3plus.color.text(c);
      })
    };

  // Create Filter Selector
  dataviva.popover.create({
    "id": "filter_popover",
    "width": 600,
    "height": "80%",
    "close": true
  })
  var selector = Selector().callback(function(d){
    window.location = "/profiles/" + selector.type() + "/" + d.id + "/";
  });

  d3.selectAll("a.decision.square").on("click", function(){
    d3.select("#filter_popover").call(selector.type(d3.select(this).attr('data-type')));
    dataviva.popover.show("#filter_popover");
    d3.event.preventDefault();
  })

  prefix = d3plus.client.prefix();

  var addLi = function(page, item) {
    var a = page.append("li").append("a")
      .attr("class", "poster")
      .attr("href", item.url)
    a.append("div").attr("class", "poster")
      .style("background-color",  item.color)
      .append("img").attr("src", item.icon);
    a.append("div").attr("class", "title").text(item.name);
  }

  var addNodes = function(page, list) {
    for (var j = 0; j < list.length; j++) {
      var item = list[j];
      addLi(page, item);
    }
    colorTitles();
  }

  var loadMore = function(parentNode, page, callback) {
    var offset = page.selectAll("li").size();
    var params = page.attr("data-parameters");
    var url = params + "&offset=" + offset
    d3.json(url, function(error, json) {
      if (error)
        return console.warn(error)
      else if (!json || json.length == 0)
        return console.log("No more data available")
      d3.select(parentNode).select("a.next").classed("disabled", false);
      result = addNodes(page, json);
      if (callback)
        callback(result);
      return result;
    });
  }

  var nextClick = function(x,y,z) {
    page_el = d3.select(this.parentNode).select(".set");
    transform = page_el.style(prefix + "transform");

    if (transform === "none")
      current_x = 0;
    else
      current_x = d3.transform(transform).translate[0];

    poster_w = parseInt(d3.select(".poster").style("width"));
    poster_w += parseInt(d3.select(".poster").style("margin-left")) * 2;
    container_w = parseInt(d3.select(".set").style("width"));
    if (d3.select(this).attr("class").indexOf("next") > -1) {
      d3.select(this.parentNode).select("a.prev").classed("disabled", false);
      next_x = current_x - container_w;
      max_left = (page_el.selectAll("li").size() * poster_w) * -1;
      max_left += container_w;
      next_x =  next_x < max_left ? max_left : next_x;
      next_x = next_x > 0 ? 0 : next_x;
      if (next_x == max_left) {
        loadMore(this.parentNode, page_el);
        d3.select(this.parentNode).select("a.next").classed("disabled", true);
      }
    } else {
      d3.select(this.parentNode).select("a.next").classed("disabled", false);
      next_x = current_x + container_w;
      next_x = next_x > 0 ? 0 : next_x;
      d3.select(this.parentNode).select("a.prev").classed("disabled", next_x == 0);
    }
    page_el.style(prefix + "transform", "translateX(" + (next_x) + "px)");

  }
  colorTitles();
  d3.selectAll("a.next,a.prev").on("click", nextClick);

</script>

{% endblock %}
