{% extends "templates/site.html" %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.home.css" />

  <!--[if gte IE 9]>
    <style type="text/css">
      #white_gradient {
         filter: none;
      }
    </style>
  <![endif]-->

  <style>

  #spotlight {
    height: 467px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  #spotlight a.feature:hover h1 {
    color: white;
  }

  #spotlight img {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  #spotlight .title {
    /*background-image: url("/static/img/home/triangles.png");*/
    /*background-color: #888;*/
    color: white;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    top: 83px;
    width: 100%;
    z-index: 2;
  }

  #spotlight .title h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin: 0 auto 10px;
    text-shadow: 0 2px 4px black;
    width: 700px;
  }

  #spotlight .title p {
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    line-height: 30px;
    width: 620px;
    text-shadow: 0 2px 6px black;
  }

  #pagination  {
    margin-top: 427px;
    position: relative;
    z-index: 100;
  }

  #pagination .page {
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    margin: 3px 10px;
    opacity: 0.5;
    width: 10px;
  }

  #pagination .page.active {
    opacity: 0.9;
  }

  #pagination .page:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  #white_gradient {
    bottom: 0;
    height: 150px;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 2;

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */

  }

  #home_search {
    display: inline-block;
    margin-top: 190px;
    position: relative;
    text-align: center;
    z-index: 10;
  }

  #home_search i {
    background-color: #ccc;
    color: white;
    font-size: 24px;
    padding: 10px;
  }

  #home_search input {
    background-color: white;
    border: solid #ccc 1px;
    box-sizing: border-box;
    /*display: block;*/
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    outline: none;
    opacity: 1;
    padding: 10px;
    -webkit-transition: border-color .1s, color .1s, opacity .1s;
    transition: border-color .1s, color .1s, opacity .1s;
    width: 400px;
  }

  #home_search #result {
    border: 1px solid #ccc;
    top: 43px;
    width: 440px;
  }

  #quick_links {
    margin: 10px auto 60px;
    position: relative;
    width: 650px;
    z-index: 9;
  }

  #quick_links span {
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 5px 0 5px;
    text-shadow: 0 2px 6px black;
  }

  .carousel {
    margin: 0px 50px 10px;
    position: relative;
  }
  .carousel > .prev, .carousel > .next {
    color: #888;
    cursor: pointer;
    font-size: 50px;
    opacity: 1;
    position: absolute;
    -webkit-transition: opacity 0.1s;
            transition: opacity 0.1s;
    top: 117px;
  }
  .carousel > .prev.disabled, .carousel > .next.disabled {
    cursor: auto;
    opacity: 0;
  }
  .carousel > .prev:hover, .carousel > .next:hover {
    color: #444;
  }
  .carousel > .prev {
    left: -35px;
  }
  .carousel > .next {
    right: -35px;
  }
  .carousel .scroller {
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
  }
  .carousel ul {
    list-style: none;
    white-space: nowrap;
  }
  .carousel ul li {
    display: inline-block;
    margin: 0 15px 0 0;
    opacity: 0.85;
  }
  .poster {
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
  }
  div.poster {
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    height: 120px;
    margin: 0px;
    position: relative;
    width: 120px;
  }
  div.poster.bra, div.poster.wld {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .carousel li:hover {
    opacity: 1;
  }
  .carousel li:hover div.poster {
    -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
  }
  .carousel li:hover div.poster.bra,
  .carousel li:hover div.poster.wld {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .poster .title {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    max-height: 60px;
    margin: 0;
    overflow: hidden;
    padding: 5px 0;
    text-align: center;
    white-space: normal;
    width: 120px;
  }
  .carousel li:hover div.title {
    text-decoration: underline;
  }
  .poster .title.sub {
    font-size: 12px;
    margin-top: -8px;
    opacity: 0.8;
  }
  .poster img {
    box-sizing: border-box;
    display: inline-block;
    margin: 15px;
    width: 90px;
  }
  .poster.bra img, .poster.wld img {
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
    width: 110px;
  }

  body.home .set {
    -webkit-transition: 0.75s ease-in-out;
    -moz-transition: 0.75s ease-in-out;
    -o-transition: 0.75s ease-in-out;
    transition: 0.75s ease-in-out;
  }

  body.home .lightbox {
    background-color: rgba(255,255,255,0.7);
  }

  .growth-arrow {
    margin-left: 3px;
    margin-top: 3px;
  }

  .growth-arrow.down {
    color: #af1f24;
  }

  .growth-arrow.up {
    color: #3daf49;
  }

  </style>

{% endblock %}

{% block body %}

  <div id="spotlight">

    <a href="/profiles/bra/4mg/?app=26" class="feature">
      <div class="title">
        <h1>{% trans %}Where are people getting<br>hired in Minas Gerais?{% endtrans %}</h1>
        <p>{% trans %}Visualize employement data now.{% endtrans %}</p>
      </div>
      <img src="/static/img/home/minas-map.jpg">
    </a>

    <a href="/profiles/university/00575/?app=2" class="feature">
      <div class="title">
        <h1>{% trans %}What are students<br>studying at UFMG?{% endtrans %}</h1>
        <p>{% trans %}Analyze enrollment for every university in Brazil.{% endtrans %}</p>
      </div>
      <img src="/static/img/home/ufmg.jpg">
    </a>

    <a href="/profiles/hs/042009/?app=15" class="feature">
      <div class="title">
        <h1>{% trans %}Which occupations<br>make Fruit Juice?{% endtrans %}</h1>
        <p>{% trans %}Examine the common industries for a product.{% endtrans %}</p>
      </div>
      <img src="/static/img/home/fruitjuice.jpg">
    </a>

    <a href="/profiles/cbo/2131/?app=8" class="feature">
      <div class="title">
        <h1>{% trans %}Where are Physicists<br>paid the highest?{% endtrans %}</h1>
        <p>{% trans %}Compare wages across locations.{% endtrans %}</p>
      </div>
      <img src="/static/img/home/physicists.jpg">
    </a>

    <div id="pagination"></div>

    <!-- <div id="white_gradient"></div> -->

  </div>

  <div id="home_search">
    <i class="fa fa-search"></i><input class="searchFld" type="text" placeholder="{% trans %}Minas Gerais, Iron Ore, Leather Tanning, etc.{% endtrans %}" autofocus />
    <div id="result" class="searchResult">search results</div>
  </div>

  <div id="quick_links">
    <span>{% trans %}Quick<br>Links{% endtrans %}</span>
    <a href="#" class="decision square small icon bra" data-type="bra" alt="{% trans %}Brazilian Locations{% endtrans %}"></a>
    <a href="#" class="decision square small icon hs" data-type="hs" alt="{% trans %}Products{% endtrans %}"></a>
    <a href="#" class="decision square small icon wld" data-type="wld" alt="{% trans %}Trade Partners{% endtrans %}"></a>
    <a href="#" class="decision square small icon cnae" data-type="cnae" alt="{% trans %}Industries{% endtrans %}"></a>
    <a href="#" class="decision square small icon cbo" data-type="cbo" alt="{% trans %}Occupations{% endtrans %}"></a>
    <a href="#" class="decision square small icon university" data-type="university" alt="{% trans %}Universities{% endtrans %}">
      <div class="new">{% trans %}New{% endtrans %}</div></a>
    <a href="#" class="decision square small icon course_hedu" data-type="course_hedu" alt="{% trans %}Majors{% endtrans %}">
      <div class="new">{% trans %}New{% endtrans %}</div></a>
    <a href="#" class="decision square small icon course_sc" data-type="course_sc" alt="{% trans %}Basic Courses{% endtrans %}">
      <div class="new">{% trans %}New{% endtrans %}</div></a>
  </div>

  {% for carousel in carousels %}

    <hr>

    <div class="carousel">

      <div class="darkbox">
        <h1>{{ carousel.title }}</h1>
        {% if carousel.sub %}<h3>{{ carousel.sub|safe }}</h3>{% endif %}
      </div>
      <a class="prev disabled"><i class="fa fa-angle-left"></i></a>
      <a class="next"><i class="fa fa-angle-right"></i></a>

      <div class="scroller">
        <ul class="set" id="test" data-parameters="{{ carousel.url }}" data-metric="{{ carousel.metric}}">
          {% for itm in carousel['items'] -%}
            {% set poster = itm['poster'] %}
            {% set value = itm['value'] %}
            <li>
              <a class="poster" href="{{ poster.url() }}">
                <div class="poster {{ carousel.type }}"{% if carousel.type != "bra" %} style="background-color:{{ poster.color }};"{% endif %}>
                  <img src="{{ poster.icon() }}"/>
                </div>
                <div class="title">{{ loop.index }}. {{ poster.name() }}</div>
                <div class="title sub">{{ format(value).render(carousel.metric) }}</div>
              </a>
            </li>
          {%- endfor %}
        </ul>
      </div>
    </div>

  {% endfor %}

{% endblock %}

{% block js %}

<script src="/static/js/utils/utils.selector.js"></script>
<script>
  var colorTitles = function() {
    d3.selectAll("h4.title")
      .style("color", function(){
        var c = d3.select(this.parentNode).style("background-color")
        return d3plus.color.text(c);
      })
    };

  // Create Filter Selector
  dataviva.popover.create({
    "id": "filter_popover",
    "width": 600,
    "height": "80%",
    "close": true
  })
  var selector = Selector().callback(function(d){
    window.location = "/profiles/" + selector.type() + "/" + d.id + "/";
  });

  prefix = d3plus.client.prefix();

  d3.selectAll("#quick_links a")
    .on(d3plus.client.pointer.over, function(){
      dataviva.ui.tooltip("quick", this);
    })
    .on(d3plus.client.pointer.out, function(){
      dataviva.ui.tooltip("quick", false);
    })
    .on("click", function(){
      dataviva.ui.tooltip("quick", false);
      d3.select("#filter_popover")
        .call(selector.type(d3.select(this).attr('data-type')));
      dataviva.popover.show("#filter_popover");
      d3.event.preventDefault();
    })

  var page = 0, pages = 0;
  d3.selectAll(".feature")
    .style("display", function(d, i){ return i ? "none" : "block"; })
    .style("opacity", function(d, i){ return i ? 0 : 1; })
    .each(function(d, i){
      pages++;
      d3.select(this).attr("data-page",i);
      d3.select("#pagination").append("div")
        .attr("class","page")
        .attr("data-page",i)
        .classed("active", i === 0)
    })

  var changePage = function(newPage) {
    d3.select(".page[data-page='"+page+"']").classed("active", false);
    d3.select(".feature[data-page='"+page+"']")
      .transition().duration(600)
        .style("opacity", 0)
        .each("end",function(){
          d3.select(this).style("display", "none")
        });

    page = newPage;

    d3.select(".page[data-page='"+page+"']").classed("active", true);
    d3.select(".feature[data-page='"+page+"']")
      .style("display", "block")
      .transition().duration(600)
        .style("opacity", 1);

  }

  var pageTurning = setInterval(function(){
    var newPage = page + 1;
    if (newPage === pages) newPage = 0;
    changePage(newPage);
  }, 6000)

  d3.selectAll(".page").on("click", function(){
    clearInterval(pageTurning);
    changePage(d3.select(this).attr("data-page"))
  })

  var addLi = function(page, item, rank) {
    var metric = page.attr("data-metric");
    var type = page.select("div.poster").node().className.split(" ")[1];
    var poster = item.poster;
    var a = page.append("li").append("a")
      .attr("class", "poster")
      .attr("href", poster.url)
    var p = a.append("div").attr("class", "poster "+type);

    if (type !== "bra") p.style("background-color",  poster.color);

    p.append("img").attr("src", poster.icon);
    a.append("div").attr("class", "title").text(rank + ". " + poster.name);
    a.append("div").attr("class", "title sub").html(dataviva.format.number(item.value, {"key": metric}));
    a.append("div").attr("class", "rank")
  }

  var addNodes = function(page, list, offset) {
    for (var j = 0; j < list.length; j++) {
      var item = list[j];
      var rank = offset + j + 1;
      addLi(page, item, rank);
    }
    colorTitles();
  }

  var loadMore = function(parentNode, page, callback) {
    var offset = page.selectAll("li").size();
    var params = page.attr("data-parameters");

    var url = params + "&offset=" + offset
    d3.json(url, function(error, json) {
      if (error)
        return console.warn(error)
      else if (!json || json.length == 0)
        return console.log("No more data available")
      d3.select(parentNode).select("a.next").classed("disabled", false);
      result = addNodes(page, json, offset);
      if (callback)
        callback(result);
      return result;
    });
  }

  var nextClick = function(x,y,z) {
    page_el = d3.select(this.parentNode).select(".set");
    transform = page_el.style(prefix + "transform");

    if (transform === "none")
      current_x = 0;
    else
      current_x = d3.transform(transform).translate[0];

    var liNode = d3.select(".poster").node().parentNode;
    liNode = d3.select(liNode);

    poster_w = parseInt(liNode.style("width"));
    poster_w += parseInt(d3.select(".poster").style("margin-left"));
    poster_w += parseInt(liNode.style("margin-right"));

    container_w = parseInt(d3.select(".set").style("width"));

    var row_size = Math.floor(container_w / poster_w);

    if (d3.select(this).attr("class").indexOf("next") > -1) {
      d3.select(this.parentNode).select("a.prev").classed("disabled", false);
      next_x = current_x - row_size*poster_w ;

      max_left = (page_el.selectAll("li").size() * poster_w) * -1;
      if (next_x - (row_size*poster_w)  <= max_left) {
        loadMore(this.parentNode, page_el);
        d3.select(this.parentNode).select("a.next").classed("disabled", true);
      }
    } else {
      d3.select(this.parentNode).select("a.next").classed("disabled", false);
      next_x = current_x + row_size*poster_w;

      next_x = next_x > 0 ? 0 : next_x;
      d3.select(this.parentNode).select("a.prev").classed("disabled", next_x == 0);
    }
    page_el.style(prefix + "transform", "translateX(" + (next_x) + "px)");

  }
  colorTitles();
  d3.selectAll("a.next,a.prev").on("click", nextClick);

</script>

{% endblock %}
