{% extends "templates/site.html" %}

{% block title %}: {% trans %}Filter Selection{% endtrans %}{% endblock %}

{% block body %}

  <div class="darkbox"><h1>{{ _('Please choose %(name)s', name = article) }}</h1></div>
  <br>
  <div id="selector"></div>

{% endblock %}

{% block js %}

  <script src="/static/js/utils/utils.selector.js"></script>

  <script>

    d3.select("#selector").style("height",window.innerHeight-290+"px")
    // window.onresize = function(){
    //   d3.select("#selector").style("height",window.innerHeight-290+"px")
    // }

    var value = "{{ selector }}"

    if (value == "hs") {
      value = "hs"
      var limit = 2
    }
    else if (value == "isic") {
      value = "isic"
      var limit = 1
    }
    else if (value == "cbo") {
      value = "cbo"
      var limit = 1
    }
    else if (value == "bra") {
      value = "bra"
      if (window.location.href.indexOf("profiles") >= 0) var limit = null
      else var limit = 1
    }
    else if (value == "wld") {
      value = "wld"
      var limit = 2
    }

    selector_return = function(value) {
      window.location = "{{ g.path }}".replace("select",value.id)
    }

    var selector = Selector()
      .callback(selector_return)
      .type(value)
      .limit(limit);

    d3.select("#selector")
      .call(selector);

  </script>

{% endblock %}
