{% extends "admin.html" %}

{% block breadcrumb %}
    <li class="active">Admin</li>
{% endblock %}

{% block admin_content %}

<div class="admin-main">
    <div class="row m-b-xl">
        <img src="/static/img/loader-dataviva.svg" alt="Dataviva logo" class="img-responsive">
    </div>

    <div class="row m-b-xl">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 col-md-offset-1 col-lg-offset-0">
            <a  class="btn btn-outline btn-success" href="{{ url_for('blog.admin') }}" title="Blog">
                <div class="admin-icon">
                    <i class="fa fa-commenting-o"></i>
                </div>
                <div class="admin-btn-description">
                    Blog
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
            <a  class="btn btn-outline btn-success" href="{{ url_for('calls.admin') }}" title="Chamadas">
                <div class="admin-icon">
                    <i class="fa fa-file-text-o"></i>
                </div>
                <div class="admin-btn-description">
                    {% trans %}Calls{% endtrans %}
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 col-md-offset-1 col-lg-offset-0">
            <a  class="btn btn-outline btn-success" href="{{ url_for('scholar.admin') }}" title="Estudos">
                <div class="admin-icon">
                    <i class="fa fa-book"></i>
                </div>
                <div class="admin-btn-description">
                    {% trans %}Scholar{% endtrans %}
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
            <a  class="btn btn-outline btn-success" href="{{ url_for('search.admin') }}" title="Inicie uma Pesquisa">
                <div class="admin-icon">
                    <i class="fa fa-search"></i>
                </div>
                <div class="admin-btn-description">
                    {% trans %}Start a search{% endtrans %}
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 col-md-offset-1 col-lg-offset-0">
            <a  class="btn btn-outline btn-success" href="{{ url_for('news.admin') }}" title="Notícias">
                <div class="admin-icon">
                    <i class="fa fa-newspaper-o"></i>
                </div>
                <div class="admin-btn-description">
                    {% trans %}News{% endtrans %}
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
            <a  class="btn btn-outline btn-success" href="{{ url_for('user.admin') }}" title="Usuários">
                <div class="admin-icon">
                    <i class="fa fa-users"></i>
                </div>
                <div class="admin-btn-description">
                    {% trans %}Users{% endtrans %}
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a  class="btn btn-outline btn-success" href="{{ url_for('help.admin') }}" title="Ajuda">
                <div class="admin-icon">
                    <i class="fa fa-question"></i>
                </div>
                <div class="admin-btn-description">
                    {% trans %}Help{% endtrans %}
                </div>
            </a>
        </div>
</div>

{% endblock admin_content %}