<!-- extend from base layout -->
{% extends "templates/site.html" %}

{% block title %}: App Builder{% endblock %}

{% block body %}

  <div id="fullscreen"></div>
  <div class="lightbox">
    <iframe class="app_builder"></iframe>
  </div>

{% endblock %}

{% block js %}

  <script>
  
    var w = window.innerWidth-20,
        h = window.innerHeight-180,
        aspect = w/h
        
    if (aspect >= 6/4) {
      var height = h, width = h*(6/4)
    }
    else {
      var height = w/(6/4), width = w
    }
    d3.select("#container")
      .style("width",width+"px")
    d3.select("iframe.app_builder")
      .style("height",height+"px")
      .style("width",width+"px")
      .attr("src",window.location.pathname.replace("builder","embed"))

  </script>

{% endblock %}