<!-- extend from base layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}Apps{% endtrans %}{% endblock %}

{% block body %}

  <div id="fullscreen"></div>

  <div class="darkbox"><h2>{% trans %}Which app would you like to build?{% endtrans %}</h2></div>
  <br>
  
  <a class="decision icon square tree_map" href="/apps/builder/tree_map/rais/mg/all/all/cbo/">
    <h2>{% trans %}Tree Map{% endtrans %}</h2>
  </a>
  
  <a class="decision icon square stacked" href="/apps/builder/stacked/rais/mg/all/all/isic/">
    <h2>{% trans %}Stacked{% endtrans %}</h2>
  </a>
  
  <a class="decision icon square geo_map" href="/apps/builder/geo_map/rais/mg/all/all/bra/">
    <h2>{% trans %}Geo Map{% endtrans %}</h2>
  </a>
  
  <a class="decision icon square network" href="/apps/builder/network/secex/mg/all/all/hs/">
    <h2>{% trans %}Network{% endtrans %}</h2>
  </a>

  <br>
  
  <a class="decision icon square rings" href="/apps/builder/rings/secex/mg/178703/all/hs/">
    <h2>{% trans %}Rings{% endtrans %}</h2>
  </a>
  
  <a class="decision icon square scatter" href="/apps/builder/scatter/rais/mg/all/all/isic/">
    <h2>{% trans %}Scatter{% endtrans %}</h2>
  </a>
  
  <a class="decision icon square compare" href="/apps/builder/compare/secex/mg+sp/all/all/hs/">
    <h2>{% trans %}Compare{% endtrans %}</h2>
  </a>
  
  <a class="decision icon square occugrid" href="/apps/builder/occugrid/rais/mg/c1010/all/cbo/">
    <h2>{% trans %}Occugrid{% endtrans %}</h2>
  </a>

{% endblock %}