<!-- extend from base layout -->
{% extends "templates/site.html" %}

{% block title %}: Apps{% endblock %}

{% block body %}

<div class="grid5col1 grid5offset1">
  <div id="sabrina" class="{{sabrina.outfit}} {{sabrina.face}} {{sabrina.hat}}"></div>
</div>

<div id="data_start" class="grid5col2">

  <div class="title">Which app would you like to build?</div>
  
  <a class="help" href="/apps/builder/">Skip straight to the app builder!</a>

  <a class="decision" href="/apps/network/">Network</a>
  
  <a class="decision" href="/apps/rings/">Rings</a>
  
  <a class="decision" href="/apps/occugrid/">Occugrid</a>
  
  <a class="decision" href="/apps/pie_scatter/">Scatter Plot</a>
  
  <a class="decision" href="/apps/stacked/">Stacked</a>
  
  <a class="decision" href="/apps/tree_map/">Tree Map</a>
  
  <a class="decision" href="/apps/geo_map/">Geo Map</a>

</div>

{% endblock %}