<!-- extend from base layout -->
{% extends "templates/site.html" %}

{% block title %}: Apps{% endblock %}

{% block body %}

<div class="grid5col1">
  <div id="sabrina" class="{{g.sabrina.outfit}} {{g.sabrina.face}} {{g.sabrina.hat}}"></div>
</div>

<div id="data_start" class="grid5col4">

  <div class="title">Which app would you like to build?</div>
  
  <a class="help" href="/apps/builder/">Skip straight to the app builder!</a>
  <br>
  
  <a class="decision square network" href="/apps/builder/network/secex/mg/all/all/hs/">
    <h2>Network</h2>
  </a>
  
  <a class="decision square rings" href="/apps/builder/rings/secex/mg/178703/all/hs/">
    <h2>Rings</h2>
  </a>
  
  <a class="decision square occugrid" href="/apps/builder/occugrid/rais/mg/c1410/all/cbo/">
    <h2>Occugrid</h2>
  </a>
  
  <a class="decision square geo_map" href="/apps/builder/geo_map/rais/mg/all/all/bra/">
    <h2>Geo Map</h2>
  </a>
  
  <a class="decision square scatter" href="/apps/builder/scatter/rais/mg/all/all/isic/">
    <h2>Scatter</h2>
  </a>
  
  <a class="decision square compare" href="/apps/builder/compare/secex/mg+sp/all/all/hs/">
    <h2>Compare</h2>
  </a>
  
  <a class="decision square stacked" href="/apps/builder/stacked/rais/mg/all/all/isic/">
    <h2>Stacked</h2>
  </a>
  
  <a class="decision square tree_map" href="/apps/builder/tree_map/rais/mg/all/all/cbo/">
    <h2>Tree Map</h2>
  </a>

</div>

{% endblock %}