{% block content %}

  <!-- Hidden <FORM> to submit the SVG data to the server, which will convert it 
       to SVG/PDF/PNG downloadable file. -->
  <form id="svgform" action="/data/download/" method="post">
    {{ form.hidden_tag() }}
  </form>

{% endblock %}

{% block js %}

  <script type="text/javascript">
  
    var app_filters = [],
        app_solos = [],
        distance_seperator = ".",
        combo_seperator = "+"
    
    function download(obj) {
      
      var title = [app_name]
      current_build.forEach(function(f){
        title.push(window[f].id)
      })
      
      visual.download(obj.id,title);
      
    }

    /************************/
    /* UI Control Functions */
    /************************/
    
    function app_filter(value) { 
      app_filters = value
      app_filtering();
      d3.select("#app").call(app.filter(value)) 
    }
    
    function solo(value) {
      app_solos = value
      app_filtering();
      d3.select("#app").call(app.solo(value)) 
    }
  
  </script>

{% endblock %}