<!-- extend from about base layout -->
{% extends "templates/about.html" %}

{% block title %}: About :: Glossary{% endblock %}

{% block about_content %}
  <h1>Glossary</h1>
  
  <!-- terms -->
  <h2>Classifications</h2>
  <ul>
    <li>
      <a href="#bra">Brazilian Geography</a>
    </li>
    <li>
      <a href="#isic">ISIC (Industries)</a>
    </li>
    <li>
      <a href="#depth">Depth</a>
    </li>
    <li>
      <a href="#depth">Depth</a>
    </li>
    <li>
      <a href="#depth">Depth</a>
    </li>
  </ul>
  
  
  
  <h2>Data Terms</h2>
  <ul>
    <li>
      <a href="#complexity">Complexity</a>
    </li>
    <li>
      <a href="#rais">RAIS</a>
    </li>
    <li>
      <a href="#rca">RCA</a>
    </li>
    <li>
      <a href="#secex">SECEX</a>
    </li>
    <li>
      <a href="#wage">Wage</a>
    </li>
  </ul>

  <h2>Visualization Terms</h2>
  <ul>
    <li>
      <a href="#depth">Depth</a>
    </li>
    <li>
      <a href="#network">Network</a>
    </li>
    <li>
      <a href="#product_space">Product Space</a>
    </li>
    <li>
      <a href="#rca">RCA</a>
    </li>
    <li>
      <a href="#tree_map">Tree Map</a>
    </li>
    <li>
      <a href="#visualization">Visualization</a>
    </li>
  </ul>
  
  <!-- Data Terms -->
  <p>
    <a name="complexity" href="#complexity" rel="nofollow">#</a> Complexity
  </p>
  <p>
    Complexity is a number calculated by...
  </p>

  <p><a name="rais" href="#rais" rel="nofollow">#</a> RAIS</p>
  <p>RCA is a share of a share...</p>
  
  <p><a name="rca" href="#rca" rel="nofollow">#</a> RCA</p>
  <p>RCA is a share of a share...</p>
  
  <p><a name="secex" href="#secex" rel="nofollow">#</a> SECEX</p>
  <p>Wage values are</p>
  
  <p><a name="wage" href="#wage" rel="nofollow">#</a> Wage</p>
  <p>Wage values are</p>
  
  <!-- Viz Terms -->
  <p>
    <a name="classifications" href="#classifications" rel="nofollow">#</a> Classifications
  </p>
  <p>
    he path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
  </p>
  
  <p>
    <a name="depth" href="#depth" rel="nofollow">#</a> Depth
  </p>
  <p>
    he path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
  </p>
  
  <p>
    <a name="network" href="#network" rel="nofollow">#</a> Network
  </p>
  <p>
    he path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
  </p>

  <p>
    <a name="product_space" href="#product_space" rel="nofollow">#</a> Product Space
  </p>
  <p>
    Please see <a name="network" href="#network" rel="nofollow">Network</a>.
  </p>

  <p>
    <a name="tree_map" href="#tree_map" rel="nofollow">#</a> Tree Map
  </p>
  <p>
    he path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
  </p>

  <p>
    <a name="visualization" href="#visualization" rel="nofollow">#</a> Visualization
  </p>
  <p>
    he path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
  </p>

    
{% endblock %}

