<!-- extend from about base layout -->
{% extends "templates/about.html" %}

{% block title %}: About :: Glossary{% endblock %}

{% block about_content %}
  <h2>Glossary</h2>
  
  <!-- terms -->
  <ul>Data Terms
    <li>
      <a href="#complexity">Complexity</a>
    </li>
  </ul>
  <br>
  <ul>Visualization Terms
    <li>
      <a href="#depth">Depth</a>
    </li>
  </ul>
  
  <!-- Data Terms -->
  <a name="complexity" href="#complexity" rel="nofollow">Complexity</a>
  <p>
    Complexity is a number calculated by...
  </p>
  
  <!-- Viz Terms -->
  <a name="depth" href="#depth" rel="nofollow">Depth</a>
  <p></p>

    
{% endblock %}

