<!-- extend from about base layout -->
{% extends "templates/about.html" %}

{% block title %}: About :: Growth Ventures{% endblock %}

{% block about_content %}
<h1>Growth Ventures</h1>

<aside>
  <div class="about-tip">
    What is it? A analytical decision-making tool. 
    <div class="sabrina-tip worker_tip"></div>
  </div>
  <div class="about-tip">
    Who is it for? Government, private sectors, and citizens.
    <div class="sabrina-tip casual_tip"></div>
  </div>
</aside>

<p>We are a small start-up composed of scientists and designers based in 
  Cambridge, MA that are passionate about transforming big data from endless 
  spreadsheets of numbers and codes into interactive apps which take innovative
  and creative approaches to visualizing data.</p>
{% endblock %}
