<!-- extend from about base layout -->
{% extends "templates/about.html" %}

{% block title %}: About :: Visual{% endblock %}

{% block about_content %}
  <h1>Visual</h1>
  
  <aside>
    <div class="about-tip">
      What is it? A analytical decision-making tool. 
      <div class="sabrina-tip worker_tip"></div>
    </div>
    <div class="about-tip">
      Who is it for? Government, private sectors, and citizens.
      <div class="sabrina-tip casual_tip"></div>
    </div>
  </aside>
  
  <p>Visual was a project started in August of 2012 by the Escritorio of 
    Minas Gerais in collaboration with a small start-up called Growth Ventures 
    based in Cambridge, MA. Visual is a tool composed of a number of 
    applications, each of which visualize data in innovative and creative ways. 
    Visual is intended to be used as a tool to help members of the 
    government, private sectors, as well as citizens themselves be able to 
    understand big data and and more importantly, use it to their advantage.</p><br /><br />
    
  <h1>Minas Gerais</h1>

  <p>Minas Gerais is a south-eastern state of Brazil with the capital of Belo
    Horizonte. It is the second largest Brazilian state in population, third in 
    Gross Domestic Product, and fourth largest by area. It is also the largest 
    producer of coffee and milk in the country. The Escritorio of Minas Gerais is 
    committed to constant development and innovation and is truly a leading up 
    and coming state that is going big places.</p><br /><br />
    
  <h1>Sabrina</h1>

  <p>Consider Sabrina your own personal guide as you explore the site. We designed 
    Sabrina to give Data Minas a bit of life and personality. She will walk you
    through each of the stages of <a href="/guide"><b>guide</b></a>, prompting you with 
    series of questions that will generate a personal report based on your 
    specific interests. You can also <a href="/ask"><b>ask her a question</b></a> about 
    Data Minas, Escritorio, the data we use, or any specific question you may have!</p>
<br /><br />    
{% endblock %}

