{% extends "templates/site.html" %}

{% block body %}

  <div id="computer_404">
    <div id="computer_broken"></div>
    <div id="computer_smoke"></div>
    <div id="computer_terminal"></div>
    <div id="error_404">404</div>
  </div>
  <div id="sabrina_404" class="grid5col1 grid5offset1"></div>
  <div id="question_404" class="grid5col2">
    <div class="question">
      <div class="arrow"></div>
      <div class="text">
        Oh no! The page you've requested does not exist.
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}

  <script>
    
    visual.sabrina({
      "div": d3.select("#sabrina_404"),
      "outfit": "lab",
      "emotion": "scared"
    });
    
  </script>

{% endblock %}
