{% extends "templates/site.html" %}

<!-- set the title -->
{% block title %}: Generate a Guide{% endblock %}

{% block body %}

  <div id="slide_container">

    <div id="sabrina_guide" class="grid5col1"></div>
  
    <div class="primary_app grid5col4">
      <div id="guide_title">{{ title }}</div>
      <iframe class="guide_app" src="{{ primary.url|safe }}"></iframe>
      <div class="guide_app_description">
        <span class="short">{{ primary.text_short|safe }}</span>
        <span class="long">{{ primary.text_long|safe }}</span>
      </div>
    </div>
  
    <div class="secondary_app grid4col1">
      <iframe class="guide_app" src="{% if secondaries[0] is defined %}{{ secondaries[0].url|safe }}{% endif %}"></iframe>
      <div class="guide_app_switcher">Click to Enlarge</div>
      <div class="guide_app_description">
        <span class="short">{% if secondaries[0] is defined %}{{ secondaries[0].text_short|safe }}{% endif %}</span>
        <span class="long">{% if secondaries[0] is defined %}{{ secondaries[0].text_long|safe }}{% endif %}</span>
      </div>
    </div>
  
    <div class="secondary_app grid4col1">
      <iframe class="guide_app" src="{% if secondaries[1] is defined %}{{ secondaries[1].url|safe }}{% endif %}"></iframe>
      <div class="guide_app_switcher">Click to Enlarge</div>
      <div class="guide_app_description">
        <span class="short">{% if secondaries[1] is defined %}{{ secondaries[1].text_short|safe }}{% endif %}</span>
        <span class="long">{% if secondaries[1] is defined %}{{ secondaries[1].text_long|safe }}{% endif %}</span>
      </div>
    </div>
  
    <div class="secondary_app grid4col1">
      <iframe class="guide_app" src="{% if secondaries[2] is defined %}{{ secondaries[2].url|safe }}{% endif %}"></iframe>
      <div class="guide_app_switcher">Click to Enlarge</div>
      <div class="guide_app_description">
        <span class="short">{% if secondaries[2] is defined %}{{ secondaries[2].text_short|safe }}{% endif %}</span>
        <span class="long">{% if secondaries[2] is defined %}{{ secondaries[2].text_long|safe }}{% endif %}</span>
      </div>
    </div>
  
    <div class="secondary_app grid4col1">
      <iframe class="guide_app" src="{% if secondaries[3] is defined %}{{ secondaries[3].url|safe }}{% endif %}"></iframe>
      <div class="guide_app_switcher">Click to Enlarge</div>
      <div class="guide_app_description">
        <span class="short">{% if secondaries[3] is defined %}{{ secondaries[3].text_short|safe }}{% endif %}</span>
        <span class="long">{% if secondaries[3] is defined %}{{ secondaries[3].text_long|safe }}{% endif %}</span>
      </div>
    </div>

    {% if recs %}
      <div id="rec_stroke">
        <div id="site_breadcrumbs">
          <div id="crumb_guide" class="site_crumb">
            <div class="site_crumb_back_red"></div>
            <div class="site_crumb_body_red">{{recs.type|safe}}</div>
            <div class="site_crumb_arrow_red"></div>
          </div>
        </div>
      </div>
      {% for r in recs.lists %}
      <div id="{{r}}" class="recommendations"{% if loop.first %} style="display:block"{% endif %}>
        <div class="recommendation_scroll">
        {% for obj in recs.lists[r] %}
          <a href="{{obj.url}}">
            <div id="{{recs.type}}_{{obj.id}}" class="recommendation_block" style="background-color:{{obj.color}}">
              <div class="rec_title">{{obj.name}}</div>
              <div class="rec_value">{{obj.value}}</div>
            </div>
          </a>
        {% endfor %}
        </div>
        <div class="recommendation_cover left"></div>
        <div class="recommendation_cover right"></div>
      </div>
      {% endfor %}
  
      <div class="recommendation_toggles">
        {% for r in recs.lists %}
        <label class="rec_label" for="{{r}}">{{r}}</label>
        <input type="radio" name="recs" onclick="change_recs(this.value)" value="{{r}}"{% if loop.first %} checked{% endif %}>
        {% endfor %}
      </div>
    {% endif %}
  
  </div>
  
  <div id="computer_guide">
    <div id="computer"></div>
    <div id="computer_lights"></div>
    <div id="computer_sabrina"></div>
    <div id="screen_text">Loading...</div>
  </div>

{% endblock %}

{% block js %}

  <script>
  
    var loading_text = [
      "Finishing<br>Guide",
      "Building<br>Page",
      "Constructing<br>Apps",
      "Formatting<br>Data",
      "Querying<br>Database"
    ]
  
    dataminas.sabrina({
      "div": d3.select("#sabrina_guide"),
      "outfit": "{{ outfit }}",
      "emotion": "smile"
    })
    
    var apps = 0;
    d3.selectAll(".primary_app, .secondary_app")
      .each(function(){
        var src = d3.select(this).select("iframe").attr("src")
        if (src == "") {
          d3.select(this).remove();
          d3.select(".secondary_app").attr("class","secondary_app grid4col1 grid4offset1")
        }
        else {
          apps++;
        }
      })
    
    dataminas.breadcrumbs();
    
    var switching = false;
    
    function switch_apps(div_sec) {
      if (!switching) {
        
        switching = true;
        
        var div_prim = d3.select(".primary_app")
        
        var desc_sec = div_sec.select("div.guide_app_description")
        var desc_prim = d3.select("div.primary_app div.guide_app_description")
        
        var app_sec = div_sec.select("iframe")
        var app_prim = d3.select("div.primary_app iframe")
        
        var timing = parseFloat(div_prim.style("transition-duration"),10)*1000
        
        div_prim.style("opacity",0);
        div_sec.style("opacity",0);
        
        setTimeout(function(){
        
          // Switch Apps
          var prim_link = app_prim.attr("src");
          var sec_link = app_sec.attr("src");
          app_prim.attr("src",sec_link);
          app_sec.attr("src",prim_link);
          
          // Switch Descriptions
          var prim_text = desc_prim.html();
          var sec_text = desc_sec.html();
          desc_prim.html(sec_text);
          desc_sec.html(prim_text);
        
          // Show/hide long descriptions
          desc_prim.select("span.long").style("display","inline")
          desc_sec.select("span.long").style("display","none")
        
          div_prim.style("opacity",1);
          div_sec.style("opacity",1);
        
          setTimeout(function(){
            switching = false;
          },timing)
          
        },timing*1.5)
      }
    }
    
    if (d3.select(".recommendations")[0][0]) {
      d3.selectAll("label.rec_label")
        .text(function(){
          return format_name(d3.select(this).text(),lang)
        })
    
      d3.selectAll("#rec_stroke .site_crumb_body_red")
        .text(function(){
          return format_name(d3.select(this).text(),lang)+" Recommendations"
        })
      dataminas.toggle("recs")
      function change_recs(value) {
        d3.selectAll(".recommendations")
          .style("display","none")
        d3.select("#"+value)
          .style("display","block")
      }
    }
    
    d3.selectAll(".guide_app_switcher")
      .on(vizwhiz.evt.click,function(){
        switch_apps(d3.select(this.parentNode));
      })
    
    dataminas.resize();
    
    d3.select("#container")
      .style("height",d3.select("#computer").style("padding-bottom"))
      
    d3.selectAll(".recommendation_block")
      .style("color",function(){
        return vizwhiz.utils.text_color(d3.select(this).style("background-color"))
      })
      .style("background-image",function(){
        var type = this.id.split("_")[0],
            id = this.id.split("_")[1]
        return "url('"+dataminas.icon(id,type)+"')"
      })
      .style("background-size",function(){
        var type = this.id.split("_")[0],
            id = this.id.split("_")[1]
        if (["wld","bra"].indexOf(type) >= 0) return "50% 50%"
        else return "100% 100%"
      })

    d3.select("#screen_text").html(loading_text[apps])
    function embed_finish(path) {
      apps--;
      d3.select("#screen_text").html(loading_text[apps])
      if (apps == 0) {
        d3.select("#computer_guide").style("left","-150%")
        d3.select("#slide_container").style("left","0%")
        setTimeout(function(){
          d3.select("#computer_guide").remove();
          d3.select("#container").style("height","auto")
          d3.select("#slide_container").style("position","relative")
        },750)
      }
    }

  </script>
  
{% endblock %}