{% extends "templates/site.html" %}

{% block title %}: Select{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/utils/utils.selector.css" />

{% endblock %}

{% block body %}

  <div id="fullscreen"></div>
  
  <div class="darkbox"><h2>Please choose {{ article }}</h2></div>
  <br>
  <div id="selector"></div>

{% endblock %}

{% block js %}

  <script src="/static/js/utils/utils.selector.js"></script>

  <script>
  
    d3.select("#selector").style("height",window.innerHeight-290+"px")
    // window.onresize = function(){
    //   d3.select("#selector").style("height",window.innerHeight-290+"px")
    // }
  
    var value = "{{ selector }}"
    
    if (value == "hs") {
      value = "hs"
      var limit = 6
    }
    else if (value == "isic") {
      value = "isic"
      var limit = 5
    }
    else if (value == "cbo") {
      value = "cbo"
      var limit = 4
    }
    else if (value == "bra") {
      value = "bra"
      var limit = 2
    }
    else if (value == "wld") {
      value = "wld"
      var limit = 5
    }
  
    selector_return = function(value) {
      window.location = "{{ g.path }}".replace("select",value.id)
    }
  
    var selector = Selector()
      .callback(selector_return)
      .type(value)
      .limit(limit);
  
    d3.select("#selector")
      .call(selector);

  </script>
  
{% endblock %}
