{% extends "templates/site.html" %}

{% block title %}: Select{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/utils/utils.selector.css" />

{% endblock %}

{% block body %}

  <div class="grid5col1 grid5offsethalf">
    <div id="sabrina" class="{{g.sabrina.outfit}} {{g.sabrina.face}} {{g.sabrina.hat}}"></div>
  </div>
  
  <div class="grid5col3">
    <div class="title">Please choose {{ article }}.</div>
    <div id="selector"></div>
  </div>

{% endblock %}

{% block js %}

  <script src="/static/js/utils/utils.selector.js"></script>

  <script>
  
    var value = "{{ selector }}"
    
    if (value == "hs") {
      value = "hs"
      var limit = 6
    }
    else if (value == "isic") {
      value = "isic"
      var limit = 5
    }
    else if (value == "cbo") {
      value = "cbo"
      var limit = 4
    }
    else if (value == "bra") {
      value = "bra"
      var limit = 8
    }
    else if (value == "wld") {
      value = "wld"
      var limit = 5
    }
  
    selector_return = function(value) {
      window.location = "{{ g.path }}".replace("select",value.id)
    }
  
    var selector = Selector()
      .callback(selector_return)
      .type(value)
      .limit(limit);
  
    d3.select("#selector")
      .call(selector);

  </script>
  
{% endblock %}
