<!-- extend from site layout -->
{% extends "about.html" %}

{% block title %}: {% trans %}Classifications{% endtrans %}{% endblock %}

{% block about_content %}

    <div id="controls">
      <div id="depths">
        <legend id="depth">{% trans %}Depth{% endtrans %}</legend>
        {% for d in depths %}
          <input onclick="change_depth(this.value)" type="radio" id="{{attr}}_{{d}}" name="depth" value="{{d}}"{% if depth == d %} checked{% endif %}>
          <label for="{{attr}}_{{d}}">{{format(attr~"_"~d~"_plural").render(attr~"_"~d~"_plural")}}</label>
        {% endfor %}

        <a id="file" class="alt_tooltip download_classification" onclick="download_classfication()" alt="{%trans%}Download{%endtrans%}"><i class="fa fa-save"></i></a>

      </div>
    </div>
    <iframe class="attrs" src="{{data_url}}" width="566px"></iframe>

{% endblock %}

{% block js %}

  <script>

    if (Modernizr.touch) {
      d3.select("#iframe").style("overflow","auto")
        .style("-webkit-overflow-scrolling","touch")
    }

    leon("$depth").color(dataviva.color)
    var depth = "{{depth}}", attr = "{{attr}}"

    function downloadDone() {
      dataviva.popover.hide("#popover")
      window.clearInterval( downloadTimer );
      expireCookie( "downloadToken" );
    }

	function getCookie( name ) {
	  var parts = document.cookie.split(name + "=");
	  if (parts.length == 2) return parts.pop().split(";").shift();
	}

    function expireCookie( cName ) {
      document.cookie =
      encodeURIComponent( cName ) +
      "=deleted; expires=" +
      new Date( 0 ).toUTCString();
    }

    function download_classfication() {
    	depthSelected = d3.selectAll(":checked");
    	depthElem = d3.select(depthSelected[0][1]);
    	depth = depthElem[0][0].value;
    	id = depthElem[0][0].id.split("_");
      title = dataviva.format.text("classifications")+"-"+dataviva.format.text(id[0])+"-"+dataviva.format.text(depthElem[0][0].id+"_plural");

      var attr_type = id[0];

      d3.xhr("/attrs/download/?attr_type="+ attr_type + "&depth=" + depth)
        .get("", function(e, data){

          var csv_data = "data:text/csv;charset=utf-8," + data.response;

          if (d3plus.client.ie) {
            var blob = new Blob([csv_data], {type: "text/csv;charset=utf-8;"});
            navigator.msSaveBlob(blob, title + ".csv");
          }
          else {
            var encodedUri = encodeURI(csv_data);
            var link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", title + ".csv");
            link.click();
          }

  			});
    }

    function update_table() {
      d3.select("iframe").attr("src","/attrs/table/"+attr+"/"+depth+"/")
      dataviva.url("/about/classification/"+attr+"/"+depth+"/")
    }

    function change_depth(d) {
      depth = d
      update_table()
    }

    d3.select("#about_content .lightbox").style("padding", "0")

    function iframe_size() {
      var w = window.innerWidth - 320 - d3plus.client.scrollbar() + "px",
          h = window.innerHeight - 251;
      d3.select("#about_content .lightbox")
        .style("width", w)
        .style("height", h+49+"px")
      d3.select("iframe")
        .attr("width", w)
        .attr("height", h+"px")

    }

    update_table()
    iframe_size()
    dataviva.resize = iframe_size

  </script>

{% endblock %}
