<!-- extend from about base layout -->
{% extends "about.html" %}

{% block title %}: {% trans %}Terms of Use{% endtrans %}{% endblock %}

{% block about_content %}
<div id="terms_of_use">
	<h1>Terms of Use and Rules of Participation</h1>
	<p>The DataViva.info platform is under the management of the Office of Strategic Priorities of the Government of Minas Gerais.</p>
	<p>The contents of the publication and its maintenance are executed by the Office of Strategic Priorities of the Government of Minas Gerais.</p>
	<p>The information and services provided, as well as updating and maintenance, are the responsibility of the (s) unit (s) responsible (s).</p>
	<p>Any information provided shall be kept confidential in the database of the website. When user identification is required, he or she undertakes to submit true and complete information to meet his or her demand.</p>
	<p>Any existing information or service on the website, in part or in whole, may at any time be changed or deleted without notice.</p>
	<p>Any content (images, photos, texts, tables, files, ...), provided that the source is identified and assigned, may be reused.</p>
	<p>The logos and marks on the Site are owned by the Government of the State of Minas Gerais, reproduction, copying or modifying without express permission from the Government of Minas Gerais is prohibited.</p>
	<p>The site of the Government of Minas Gerais adopts practices that aim to provide the user with access to institutional information with privacy and credibility. This document aims to present the guidelines of this policy.</p>
	<br/>
	<h2>Using the Site</h2>
	<p>The site of the Government of Minas Gerais is free to use, however, the use of some services can only be made by subscription or user registration.</p>
	<p>When the site of the Government of Minas Gerais require user registration he undertakes to pass accurate and complete personal information and keep it current. If the Government of Minas Gerais suspect, on grounds that the information passed is false, it has full right to suspend user access, and even refuse future registration.</p>
	<p>All information regarding registration and password to access the website of the Government of Minas Gerais, where required, are for the exclusive use of the user and should not be outsourced to third parties.</p>
	<br/>
	<p>The password must always be protected and when closing the site the user should be careful to log out.</p>
	<br/>

	<h2>Accepted usage</h2>
	<p>By providing personal information or browsing the portal, you automatically agree with the rules of use, safety and security set forth below. The user accepts that it is prohibited to:</p>
	<ul>
		<li>Damage rights and interests of third parties;</li>
		<li>Deface, modify or withdraw, in whole or in part, any area of the site;</li>
		<li>Attempt to violate the technical means to protect the contents of the site;</li>
	</ul>
	<p>In areas where there is exchange of information, the user agrees that it is prohibited to disseminate, make available or transmit content that:</p>
	<ul>
		<li>Threaten the physical, moral and psychological integrity of any person;</li>
		<li>Is contrary to the provisions of the Federal Constitution and the international conventions with regard to fundamental rights;</li>
		<li>Promote acts containing calumny, defamation, denigration;</li>
		<li>Induce any type of discrimination, whether racial, ethnic, religious, age, social or any other kind;</li>
		<li>Distribute illegal services, violent, immoral, pornographic or degrading;</li>
		<li>Induce error about the true content of the will of the user, using false, inaccurate or confusing information;</li>
		<li>Is protected by the right of authorship and ownership;</li>
		<li>Have any viruses or threats that hinder the full operation of the website and / or third party equipment;</li>
		<li>Comments posted become part of the Portal permanently and are the sole responsibility of their authors.</li>
		<li>To leave a comment you must provide your name and email address, which will not be published.</li>
		<li>The Office of Strategic Priorities reserves the right to moderate content posted by any user in order to ensure the relevance to the scope of the platform and compliance with all other considerations in this text.</li>
	</ul>
	<p>The site of the Government of Minas Gerais may refuse or withdraw access to the site to those users who violate their conditions.</p>
	<p>All information about the user navigation on the website is stored, such as IP address, cookies, and pages accessed. </p>
	<p>The Government of Minas Gerais is not responsible for damages caused to third parties for failures of access, transmission, dissemination or availability of the content and / or services of website.</p>
	<br/>

	<h2>Confidentiality</h2>
	<p>All information registered on the website is kept confidential in the databases of the Government of Minas Gerais.</p>
	<p>Only authorized staff has access to the personal information provided by the user.</p>
	<p>The Government of Minas Gerais will not pass any information provided by the user to third parties, partners or any trade negotiation.</p>
	<p>The Government of Minas Gerais will only use the personal data of the user, by force of law, when subpoenaed to provide users' personal information to appropriate governmental authorities.</p>
	<br/>

	<h2>Copyright</h2>
	<p>It is authorized total or partial reproduction of the contents on this site for nonprofit uses, provided the source is acknowledged, maintaining information integrity and respecting the confidentiality of others.</p>
	<p>Modification, reproduction, storage, transmission, copying, distribution or any other form of use for the content of this website for commercial purposes, without the prior written consent of the Government of Minas Gerais is not permitted.</p>
	<p>The use of the logo of the Government of Minas Gerais is exclusive of the organization, being prohibited its use by third parties for any purpose.</p>
	<br/>

	<h2>Use of links to the website of the Government of Minas Gerais on the Internet</h2>
	<p>It is authorized the inclusion of links to websites of the Government of Minas Gerais in other sites, taking into account the following observations:</p>
	<ul>
		<li>the Government of Minas Gerais is not responsible for changes introduced in links from your site;</li>
		<li>it is not allowed to use any domain as your homepage direct access to the website of the Government of Minas Gerais homepage.</li>
	</ul>
	<br/>

	<h2>Links to sites other than the Government of Minas Gerais</h2>
	<p>The site of the Government of Minas Gerais contains links to other sites. The Government of Minas Gerais is not responsible for the privacy practices or the content of such other sites.</p>
	<br/>

	<h2>Site Content</h2>
	<p>The Government of Minas Gerais will not be liable for any errors, inaccuracies or omissions in the materials available through links from other sites, and for any losses arising from information submitted by them.</p>
	<p>At any time, the Government of Minas Gerais reserves the right to change information, modify or terminate any services contained on this website without notice to users.</p>
	<br/>

	<h2>Updating the Privacy Policy</h2>
	<p>This document may be amended by the Government of Minas Gerais any time it deems appropriate. The date of modification will be recorded in the "Updated" field that appears at the top of this document.</p>
	<p>It is noteworthy that in no case the conditions of confidentiality of registration data for users will be affected by any changes in this policy, and is guaranteed indefinitely, maintaining the confidentiality of all information stored in the databases of the Government of Minas Gerais.</p>
</div>
{% endblock %}