<!-- extend from about base layout -->
{% extends "about.html" %}

{% block title %}: {% trans %}Terms of Use{% endtrans %}{% endblock %}

{% block about_content %}
<div id="terms_of_use">
	<h1>Termos de uso e regras de participação</h1>
	<p>A plataforma DataViva.info está sob a gestão do Escritório de Prioridades Estratégicas do Governo de Minas Gerais.</p>
	<p>A publicação e a manutenção dos conteúdos são realizadas pelo Escritório de Prioridades Estratégicas do Governo de Minas Gerais.</p>
	<p>As informações e serviços disponibilizados, bem como sua atualização e manutenção, são de inteira responsabilidade, da(s) unidade(s) responsável (is).</p>
	<p>Qualquer informação solicitada será mantida em sigilo no banco de dados do site. Quando for necessária a identificação do usuário, este se compromete a enviar informações verídicas e completas para o atendimento de sua demanda.</p>
	<p>Qualquer informação ou serviço existente no sítio, em parte ou no todo, poderá, a qualquer tempo, ser alterado ou excluído sem prévio aviso.</p>
	<p>Qualquer conteúdo (imagens, fotos, textos, tabelas, arquivos,...) desde que identificada à fonte e atribuído o crédito, podem ser reutilizadas.</p>
	<p>As marcas presentes no site são de propriedade do Governo do Estado de Minas Gerais, sendo proibida sua reprodução, cópia ou modificação sem expressa autorização do Governo do Estado de Minas Gerais.</p>
	<p>O sítio do Governo de Minas Gerais adota práticas que visam proporcionar ao usuário um acesso às informações institucionais com privacidade e credibilidade. O presente documento tem como objetivo apresentar as diretrizes dessa política.</p>
	<br/>
	<h2>Utilização do Sítio</h2>
	<p>O sítio do Governo de Minas Gerais tem caráter gratuito, porém a utilização de alguns serviços somente poderá ser feita mediante inscrição ou registro do usuário.</p>
	<p>Quando o sítio do Governo de Minas Gerais requerer o cadastro do usuário este se compromete em passar informações pessoais verdadeiras e completas e em mantê-las atualizadas. Caso o Governo de Minas Gerais suspeitar, com fundamentos, que as informações passadas são falsas, tem o total direito de suspender o acesso do usuário, e, inclusive recusar futuro cadastramento.</p>
	<p>Todas as informações a respeito de cadastro e senha para acesso ao sítio do Governo de Minas Gerais quando exigido, são de uso exclusivo do usuário e não devem ser repassadas a terceiros.</p>
	<br/>
	<p>A senha deve ser sempre protegida e no encerramento das operações deve-se ter o cuidado de sair do sistema.</p>
	<br/>

	<h2>Aceite de uso</h2>
	<p>Ao fornecer informações pessoais ou navegar no portal, o usuário concorda automaticamente com as regras de utilização, proteção e segurança abaixo estabelecidas. O usuário aceita que é proibido:</p>
	<ul>
		<li>Prejudicar direitos e interesses de terceiros;</li>
		<li>Inutilizar, modificar ou impedir, em todo ou em parte, qualquer área do site;</li>
		<li>Tentar violar os meios técnicos de proteção ao conteúdo do site;</li>
	</ul>
	<p>Nas áreas onde existe troca de informações, o usuário concorda que é proibido difundir, disponibilizar ou transmitir conteúdo que:</p>
	<ul>
		<li>Ameace a integridade física, moral e psicológica de qualquer pessoa;</li>
		<li>Contrarie o disposto na Constituição Federal Brasileira e nas Convenções Internacionais no que diz respeito aos direitos fundamentais;</li>
		<li>Promova atos que contenham calúnia, difamação, injúria;</li>
		<li>Induza qualquer tipo de discriminação, seja ela racial, étnica, religiosa, etária, social ou de qualquer outro tipo;</li>
		<li>Difunda serviços ilegais, violentos, imorais, pornográficos ou degradantes;</li>
		<li>Induza a erro sobre o verdadeiro teor da vontade do usuário, utilizando-se de informações falsas, imprecisas ou confusas;</li>
		<li>Esteja protegido pelo direito de autoria e propriedade;</li>
		<li>Tenha qualquer tipo de vírus ou ameaça que prejudique o pleno funcionamento do site e/ou do equipamento de terceiros;</li>
		<li>Comentários postados passam a fazer parte do Portal permanentemente e são de exclusiva responsabilidade dos seus autores. </li>
		<li>Para deixar um comentário é necessário fornecer nome e e-mail, que não será divulgado.</li>
		<li>O Escritório de Prioridades Estratégicas se reserva o direito de moderar conteúdos postados pelo usuário de forma a garantir a pertinência ao escopo da plataforma e o cumprimento das demais considerações neste texto.</li>
	</ul>
	<p>O sítio do Governo de Minas Gerais poderá se recusar ou impedir o acesso ao sítio àqueles usuários que descumpram suas condições.</p>
	<p>Todas as informações sobre a navegação do usuário no sítio são armazenadas, como endereço IP, cookies e páginas acessadas.</p>
	<p>O Governo de Minas Gerais não se responsabiliza pelos danos decorrentes a terceiros das falhas de acesso, transmissão, difusão ou disponibilização do conteúdo e/ou serviços do sítio.</p>
	<br/>

	<h2>Sigilo Cadastral</h2>
	<p>Todas as informações cadastradas no sítio são mantidas em sigilo nos bancos de dados do Governo de Minas Gerais.</p>
	<p>Somente funcionário autorizado tem acesso às informações pessoais fornecidas pelo usuário.</p>
	<p>O Governo de Minas Gerais não repassará nenhuma informação fornecida pelo usuário a terceiros, parceiros ou em qualquer negociação comercial.</p>
	<p>O Governo de Minas Gerais só utilizará os dados pessoais do usuário, por força da lei, quando intimado a fornecer informações pessoais dos usuários para autoridades governamentais competentes.</p>
	<br/>

	<h2>Direitos Autorais</h2>
	<p>É autorizada a reprodução total ou parcial sem fins lucrativos do conteúdo deste sítio, desde que citada a fonte, mantendo-se a integridade das informações e respeitando-se o sigilo de terceiros.</p>
	<p>Não são permitidas modificações, reproduções, armazenamentos, transmissões, cópias, distribuições ou quaisquer outras formas de utilização para fins comerciais do conteúdo deste sítio sem o consentimento prévio e formal do Governo de Minas Gerais.</p>
	<p>O uso da logomarca do Governo de Minas Gerais é exclusivo da organização, sendo vedada a sua utilização para qualquer fim por terceiros.</p>
	<br/>

	<h2>Utilização de links para o sítio do Governo de Minas Gerais na Internet</h2>
	<p>É autorizada a inserção de links dos sítios do Governo de Minas Gerais em outros sítios, levando-se em conta as seguintes observações:</p>
	<ul>
		<li>o Governo de Minas Gerais não se responsabiliza por alterações promovidas nos links do seu sítio;</li>
		<li>não é permitido a nenhum domínio utilizar como sua página inicial o acesso direto à página inicial do sítio do Governo de Minas Gerais.</li>
	</ul>
	<br/>

	<h2>Links a sítios que não sejam do Governo de Minas Gerais</h2>
	<p>O sítio do Governo de Minas Gerais contém links para outros sítios. O Governo de Minas Gerais não se responsabiliza pelas práticas de privacidade ou pelo conteúdo desses outros sítios.</p>
	<br/>

	<h2>Conteúdo do Sítio</h2>
	<p>O Governo de Minas Gerais não se responsabiliza por eventuais erros, imprecisões ou omissões nos materiais disponibilizados através de links de outros sítios, e por quaisquer prejuízos resultantes das informações por eles apresentadas.</p>
	<p>A qualquer momento, o Governo de Minas Gerais se reserva o direito de alterar as informações, modificar ou extinguir qualquer serviço contido neste sítio sem aviso prévio aos usuários.</p>
	<br/>

	<h2>Atualização da Política de Privacidade</h2>
	<p>Este documento poderá ser alterado pelo Governo de Minas Gerais a qualquer momento em que julgue conveniente. A data da modificação será registrada na área "Atualizado" exibida na parte superior deste documento.</p>
	<p>Ressalta-se que em nenhuma hipótese as condições de sigilo dos dados cadastrais dos usuários serão afetadas por quaisquer modificações nesta política, sendo garantido e mantido indefinidamente o sigilo de todas as informações armazenadas nos bancos de dados do Governo de Minas Gerais.</p>
</div>
{% endblock %}