<h1>UN Comtrade</h1>
<p>
{% trans %}United Nations Commodity Trade Statistics Database{% endtrans %}
<br>
{% trans %}United Nations Statistics Division{% endtrans %}
</p>

<p>{% trans %}The United Nations Commodity Trade Statistics Database (UN Comtrade) has detailed data about imports and exports informed by statistics authorities of about 200 countries or areas. UN Comtrade is considered the most comprehensive international trade database available, with more them 1 billion records. The database is constantly updated. As soon as new data is received from national authorities, they are standardized by the United Nations Statistics Division and then added to UN Comtrade.{% endtrans %}</p>

<p>{% trans %}DataViva uses the follow information to make international comparisons: origin and destination of exports and exported value detailed by position. It is important to observe that the data is not available for visualization, being used only to calculate some indicators in DataViva.{% endtrans %}</p>