<h1>Higher Education Census</h1>
<p>
{% trans %}National Institute of Educational Studies Anísio Teixeira – INEP{% endtrans %}
<br>
{% trans %}Ministry of Education – MEC{% endtrans %}
</p>

<p>{% trans %}Each year, INEP also collects data on higher education in order to offer the academic community and society at large detailed information on the situation and the major trends in the industry.{% endtrans %}</p>

<p>{% trans %}The Higher Education Census gathers information on higher education institutions, their undergraduate courses on campus or distance, sequential courses, openings offered, registration, tuition, freshmen and graduates, in addition to information about professors, in different forms of academic organization and administrative category.{% endtrans %}</p>

<p>{% trans %}DataViva provides information about students (freshman, enrollment and graduates) for all higher education courses, organized by location or by universities. The aggregation levels for the locations are municipality, microregion, mesoregion and state. The universities (and other academic organizations) are also broken down by type of administrative category.{% endtrans %}</p>
