<h1>RAIS</h1>
<p>
{% trans %}Annual Social Information Report{% endtrans %}
<br>
{% trans %}Ministry of Labor and Employment – MTE{% endtrans %}
</p>

<p>{% trans %}RAIS is an annual administrative record conceived to supply the necessities of control, statistics and information for governmental entities in the social area. It constitutes a fundamental instrument to attend legal norms and is important to characterize and track the formal labor market. It depicts the Brazilian formal market by data provided by all businesses based on their standing on December 31st of the previous year. This includes data about employees and industries, among others. Currently, according to IBGE, RAIS covers about 97&#37; of the Brazilian formal market.{% endtrans %}</p>

<p>{% trans %}DataViva presents information about the number of jobs, wages and number of establishments. The level of aggregation, in geographic terms, is available for Brazil, States, Mesoregions, Microregions and Municipalities; in sector terms, Sections, Divisions and Classes, according to the National Classification of Economic Activities (CNAE); and in terms of occupations, Main Groups and Families, following the Brazilian Occupations Classification (CBO 2002).{% endtrans %}</p>
