<h1>School Census</h1>
<p>
{% trans %}National Institute of Educational Studies Anísio Teixeira – INEP{% endtrans %}
<br>
{% trans %}Ministry of Education – MEC{% endtrans %}
</p>

<p>{% trans %}The School Census is a survey of statistical-educational data nationwide held every year and coordinated by INEP. It is made with the cooperation of state and municipal departments of education and with the participation of all public and private schools.{% endtrans %}</p>

<p>{% trans %}This is the main basic education information collection instrument, covering its different stages and types: regular education (children's education and elementary and high school), special education, and youth and adult education. The School Census collects data on institutions, enrollment, teaching functions, movement and school performance.{% endtrans %}</p>

<p>{% trans %}DataViva presents information on the number of enrollments, by year for all basic education, aggregated by county, microregion, mesoregion or states. Data on vocational courses can also be viewed, in this case specifying the course in the same geographical levels of basic education. Schools are also divided by type of administrative category and the courses can be filtered by period of day.{% endtrans %}</p>
