<h1>SECEX/MDIC</h1>
<p>
{% trans %}Foreign Trade Secretariat Database{% endtrans %}
<br>
{% trans %}Ministry of Development, Industry and Foreign Trade – MDIC{% endtrans %}
</p>

<p>{% trans %}The SECEX/MDIC database allows historic analyses of the Brazilian international trade behavior, one of the most important indicators of economic development. It depicts and evaluates the commercial movement of the country with all of the others nations in the world, comprising import and export transactions. It also constitutes a basic instrument to decision making and helps determine economic guidelines by the government. Moreover, the database enables the agents involved in these activities to better plan their actions by analyzing empiric export and import data, enhancing the opportunities to develop international trade.{% endtrans %}</p>

<p>{% trans %}DataViva presents monthly information about Brazilian exports and imports since 2000. The main variables are: value, producing state, exporting municipalities, and origin or destination (country). Data is available for the following aggregations: in geographical terms, Brazil, States, Mesoregions, Microregions and Municipalities; and by products in Sections and Positions, according to the Harmonyzed System (HS Code).{% endtrans %}</p>
