{% extends "admin.html" %}

{% block title %}: {% trans %}Admin Panel{% endtrans %}{% endblock %}

{% block admin_content %}

<div class="feed">

  <table>
    <thead>
      <tr>
        <th>{% trans %}User{% endtrans %}</th>
        <th>{% trans %}Nick Name{% endtrans %}</th>
        <th>{% trans %}Email{% endtrans %}</th>
        <th>{% trans %}Role{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>

<script src="/static/js/utils/utils.infinite_scroll.js"></script>
<script>

var change_role = function(user, value) {
  d3.json("/admin/user/"+user+"/")
    .header("Content-type", "application/json")
    .send("PUT", '{"role": '+value+'}', function(error, text) {
      if (error || (text && text.error)) location.reload()
    });
}

function item_formatter(container_el, dataset, offset, manual, header){

  var activities = dataset.map(function(d){
    obj = {};
    header.forEach(function(h, i){
      obj[h] = d[i]
    })
    return obj;
  })

  roles = {"user": 0, "admin": 1}

  var attrs_enter = d3.select(container_el).select("tbody").selectAll("tr")
    .data(activities, function(d){ return d.nickname; })
    .enter().append("tr")

  var first = attrs_enter.append("td")
  first.append("div")
    .attr("class","user-image")
    .style("background-image", function(d){
      return "url('"+d.avatar+"')";
    })
  first.append("div").text(function(d){ return d.fullname; })
  attrs_enter.append("td").html(function(d){
    return "<a href='/user/"+d.nickname+"'>"+d.nickname+"</a>";
  })
  attrs_enter.append("td").text(function(d){ return d.email; })

  attrs_enter.append("td").attr("class","role_toggle").selectAll("input")
    .data(d3.entries(roles))
    .enter().append("input")
      .attr("type","radio")
      .attr("value", function(d){ return dataviva.format.text(d.key); })
      .attr("id", function(d){ return "role_"+d.value; })
      .attr("name", function(d){
        var parent_data = d3.select(this.parentNode).datum();
        return "role_"+parent_data.nickname;
      })
      .attr("checked", function(d){
        var parent_data = d3.select(this.parentNode).datum();
        if(parent_data.role == d.value){
          return "checked"
        }
      })
      .attr("onclick",function(d){
        var parent_data = d3.select(this.parentNode).datum();
        return "change_role('"+parent_data.id+"',this.id.split('_')[1])"
      })
      .each(function(d){
        var parent_data = d3.select(this.parentNode).datum();
        leon("$role_"+parent_data.nickname).size("small")
      })

}

var is = infinite_scroll().url(window.location.href.replace("users","userslist")).format_items(item_formatter);

d3.select(".feed")
  .call(is)

</script>

{% endblock %}
