{% extends "admin.html" %}

{% block title %}: {% trans %}Admin Panel{% endtrans %}{% endblock %}

{% block admin_content %}
<style>
	td > .delete_btn {
		border: 1px solid #96060B;
		background-color: #FFF;
		color: #AF1F24;
		font-size: 10px;
		line-height: 10px;
		padding: 4px 5px;
		margin-top: 4px!important;
	}
	td > .delete_btn:hover {
		background-color: #AF1F24;
		color: #fff;
	}
</style>

<div class="feed">

  <table>
    <thead>
      <tr>
        <th>{% trans %}Reply{% endtrans %}</th>
        <th>{% trans %}User{% endtrans %}</th>
        <th>{% trans %}Flags{% endtrans %}</th>
        <th>{% trans %}Visibility{% endtrans %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>

<script src="/static/js/utils/utils.infinite_scroll.js"></script>
<script>

function item_formatter(container_el, dataset, offset, manual, header){

	var activities = dataset.map(function(d){
		obj = {};
		header.forEach(function(h, i){
			obj[h] = d[i];
		})
		return obj;
	});

	roles = {}
	roles[dataviva.format.text("visible")] = 0
	roles[dataviva.format.text("hidden")] = 2


	var attrs_enter = d3.select(container_el).select("tbody").selectAll("tr")
		.data(activities, function(d){ return d.id; })
		.enter().append("tr")
	//attrs_enter.append("td").style("vertical-align", "middle").html(function(d){ return '<input type="checkbox" name="question_"' + d.value + '" >'; })
    attrs_enter.append("td").html(function(d){ return '<b style="font-size:10px">('+ d.question_title +')</b> <br>' + d.body; })
    attrs_enter.append("td").text(function(d){ return d.user.fullname; })
    attrs_enter.append("td").text(function(d){ return d.flags; })

  change_role = function(reply,value) {
    d3.json("/admin/reply/"+reply+"/")
      .header("Content-type", "application/json")
      .send("PUT", '{"hidden": '+value+'}', function(error, text) {
        if (error || (text && text.error)) location.reload()
      });
  }

	attrs_enter.append("td").attr("class","hidden_toggle").selectAll("input")
		.data(d3.entries(roles))
    	.enter().append("input")
      		.attr("type","radio")
			.attr("value", function(d){ return dataviva.format.text(d.key); })
			.attr("id", function(d){ return "hiddn_"+d.value; })
			.attr("name", function(d){
				var parent_data = d3.select(this.parentNode).datum();
				return "hidden_"+parent_data.id;
			})
			.attr("checked", function(d){
				var parent_data = d3.select(this.parentNode).datum();
				if(parent_data.hidden == d.value){
					return "checked"
				}
			})
			.each(function(d){
				var parent_data = d3.select(this.parentNode).datum();

				leon("$hidden_"+parent_data.id).size("small")

			})
      .attr("onclick",function(d){
        var parent_data = d3.select(this.parentNode).datum();
        return "change_role('"+parent_data.id+"',this.id.split('_')[1])"
      })

       delete_reply = function(reply) {

	  }

      attrs_enter.append("td").append("a")
     .attr("href", function(d){
       return window.location.href.replace("replies", "reply") + "delete/" + d.id;
     }).attr("class", "delete_btn").attr("style", "margin: 0; display:block")
     .text(dataviva.format.text("remove"))
     .on("click", function(e) {
     	if(!confirm(dataviva.format.text("remove_confirmation"))) {
     		d3.event.preventDefault();
     	}
     })



}

var is = infinite_scroll().url(window.location.href.replace("replies","replieslist")).format_items(item_formatter);

d3.select(".feed")
  .call(is)

</script>

{% endblock %}
