{% extends "admin.html" %}

{% block title %}: {% trans %}Edit Question{% endtrans %}{% endblock %}

{% block admin_content %}
<style>
	.inputtext {
		width:100%;
		padding:10px 0;
		font-size:18px;
	}
</style>

  <form id="admin_form" action="" method="post">

    {{ form.hidden_tag() }}

    <div class="posted">
      <div class="user-image" style="background-image: url('{{ question.user.avatar(50) }}')"></div>
      <div>
      {% trans %}Asked by{% endtrans %} {{question.user.nickname}} {{ moment_js(question.timestamp).fromNow() }}
      </div>
    </div>

    <label for="language">{% trans %}Language{% endtrans %}:</label>
    {{ form.language(id="language") }}

    <label for="status">{% trans %}Status{% endtrans %}:</label>
    {{ form.status(id="status") }}
	 <br><br>
	<br>
	<h3>{% trans %}Question title{% endtrans %}</h3>
    {{ form.question(class="inputtext", placeholder=_("Enter your answer...")) }}<br />
	<br>
	<h3>{% trans %}Question body{% endtrans %}</h3>
    {{ form.body(id="wysiwyg_textarea", class="text_content", placeholder=_("Enter your answer...")) }}<br />

    <h3>{% trans %}Reply{% endtrans %}</h3>
    {{ form.answer(id="wysiwyg_textarea", class="text_content", placeholder=_("Enter your answer...")) }}<br />
    {% for error in form.errors.answer %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    <a class="decision" id="submit_button">{% trans %}Update{% endtrans %}</a>

  </form>

{% endblock %}

{% block js %}

  <script src="{{g.s3_host}}/static/js/libs/jquery-2.0.3.min.js"></script>
  <script src="{{g.s3_host}}/static/js/libs/redactor.min.js"></script>
  <script src="{{g.s3_host}}/static/js/libs/pt_br.js"></script>
  <script>

    leon("#status")
    leon("#language")

    // submit form
    d3.selectAll("#submit_button").on(d3plus.client.pointer.click, function(){
      this.parentNode.submit()
      d3.event.preventDefault();
    })

    // Initialize redactor wysiwyg textarea
    $(document).ready(function() {

      var buttons = ['bold', 'italic', 'underline', 'deleted', '|', 'link']
      $('.text_content').redactor({
        buttons: buttons,
        lang: "{{g.locale}}"
      })

    })

  </script>

{% endblock %}