{% extends "admin.html" %}

{% block title %}: {% trans %}Admin Panel{% endtrans %}{% endblock %}

{% block admin_content %}
<style>
	.action_btn {
		border: 1px solid #96060B;
		background-color: #FFF;
		color: #AF1F24;
		font-size: 10px;
		text-align: center;
		line-height: 10px;
		padding: 4px 5px;
		margin-top: 10px!important;
		cursor: pointer;
		display:block;
	}
	.action_btn:hover, .action_btn.active {
		background-color: #AF1F24;
		color: #fff;
	}
	.reply_box {
	  border-top: 1px solid #ccc;
	  padding: 12px;
	  position: relative;
	}

	.reply_box .redactor_box {
	  margin: 0px -5px 0px 0px;
	}

	div.reply_body {
	  margin-left: 60px;
	}

	div.reply_body p {
		font-size: 15px;
	}

	div.reply_box.comment.child {
	  margin-left: 70px;
	  min-height: 54px;
	}

	p.question_attr, p.question_attr a {
		font-size:11px!important; font-style:italic; color:#aaa
	}
	div.reply_box.comment.child p.question_attr {
	  margin-bottom: 0px;
	}

	div.reply_box:last-child {
	  border-bottom: 0px;
	}

	div.vote_block {
	  font-size: 12px;
	  font-weight: bold;
	  left: 10px;
	  line-height: 14px;
	  opacity: 0.5;
	  position: absolute;
	  top: 6px;
	}

	div.vote_block.answer {
	  position: absolute;
	  text-align: center;
	  top: 12px;
	  width: 50px;
	}

	div.vote_count {
	  font-size: 20px;
	  margin-bottom: 6px;
	}

	div.vote_label {
	  margin-bottom: 3px;
	}

	.vote_up {
	  color: green;
	  font-size: 16px;
	  opacity: 0.75;
	}

	.vote_up:hover {
	  color: green;
	  opacity: 1;
	}

	.vote_down {
	  color: red;
	  font-size: 16px;
	  margin-right: 3px;
	  opacity: 0.75;
	}

	.vote_down:hover {
	  color: red;
	  opacity: 1;
	}
	h2 p { font-size: 25px; line-height: 25px }
</style>

<div class="feed">
	<h2>{{ q.body|safe }}</h2>
	<p>{% if q.user.role == 0 or (q.timestamp != None and q.user.role == 1) %}{% trans %}Asked{% endtrans %} {% trans %}by{% endtrans %} <a href="{{ url_for('account.user', nickname=q.user.nickname) }}">{{q.user.fullname}}</a> {% if q.timestamp != None %}{{ momentjs(q.timestamp).fromNow() }}{% endif %}{% endif %}</p>
  	{% for r in q.replies %}
      	{% if r.hidden < 2 %}
	        <div class="reply_box comment{% if r.id != r.parent_id %} child{% endif %}">

	          <!-- Voting -->
	          <div class="vote_block answer">
	            <div class="vote_count">{% if r.votes.all()|length %}{{ r.votes.count() }}{% else %}0{% endif %}</div>
	            <div class="vote_label">{% trans %}Points{% endtrans %}</div>

	          </div> <!-- end voting -->

	          <div class="reply_body">
	          	<div  style="float:right">

	          		<span id="{{ r.id }}" hd="{{ r.hidden }}" class="hidden_toggle"></span>
	          		<a reply="{{ r.id }}" class="action_btn delbtn">{%trans%}Remove{%endtrans%}</a>
	          	</div>
	          <!-- Reply text -->

	              {{ r.body|safe }}

	            <!-- User metadata -->
	            <p class="question_attr">
	              <a href="{{ url_for('account.user', nickname=r.user.nickname) }}">{{r.user.fullname}}</a>{% if r.timestamp != None %} {{ moment_js(r.timestamp).fromNow() }}{% endif %}
	            </p>
	          <!-- end reply text -->
	          </div>

	        </div> <!-- end reply -->
	     {% endif %}
      {% endfor %}
</div>

<script src="/static/js/utils/utils.infinite_scroll.js"></script>
<script>

	roles = {}
	roles[dataviva.format.text("visible")] = 0
	roles[dataviva.format.text("hidden")] = 1

change_role = function(reply,value) {

    d3.json("/admin/reply/"+reply+"/")
      .header("Content-type", "application/json")
      .send("PUT", '{"hidden": '+value+'}', function(error, text) {
      	console.log(text)
        if (error || (text && text.error)) location.reload()
      });
  }

   	u = window.location.toString();
    url_pop = u.split('/');
    url_pop.pop();
    url_pop.pop();
    url_pop.pop();
  	var urlReply = url_pop;

  	d3.selectAll("a.delbtn")
     .attr("href", function(d){
       return urlReply.join("/") + "/delete/" + this.getAttribute("reply");
     }).attr("class", "action_btn").attr("style", "margin: 0; display:block")
     .text(dataviva.format.text("remove"))
     .on("click", function(e) {
     	if(!confirm(dataviva.format.text("remove_confirmation"))) {
     		d3.event.preventDefault();
     	}
     })

	d3.selectAll(".hidden_toggle").selectAll("input")
	.data(d3.entries(roles))
	.enter().append("input")
		.attr("type","radio")
		.attr("value", function(d){ return dataviva.format.text(d.key); })
		.attr("id", function(d){ return "hiddn_"+d.value; })
		.attr("name", function(d){
			var parent_data = this.parentNode;
			return "hidden_"+parent_data.id;
		})
		.attr("checked", function(d){
			var parent_data = this.parentNode;
			if(parent_data.getAttribute("hd") == d.value){
				return "checked"
			}
		}).each(function(d){
				var parent_data = this.parentNode;
				leon("$hidden_"+parent_data.id).size("small")

			})
	    .attr("onclick",function(d){
	      var parent_data = this.parentNode;
	      return "change_role('"+parent_data.id+"',this.id.split('_')[1])"
	    })



</script>

{% endblock %}