<!-- extend from base layout -->
{% extends "base.html" %}


{% macro messages(input) -%}
    {% for message in input.errors %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{%- endmacro %}

{% block content %}
	<div class="container">
		<form class="form-dataviva mt-lg" method="post" action="/en/user/forgot_password">
			<ul id="regular-signup" class="col-md-8 col-md-offset-2">
                <div id="message">
                    {% if get_flashed_messages(with_categories=true) %}
                    {% for category, message in get_flashed_messages(with_categories=true) %}
                        <div class="alert alert-{{ category }} alert-dismissable animated fadeInDown">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <h2>{% trans %}Please inform us your email, so that we can sent you a new password{% endtrans %}:</h2>
                <div class="form-group">
                    {{ form.email(class="form-control")}}
                    {{ messages(form.email) }}
                </div>
                <button type="submit" class="btn btn-success pull-right">{% trans %}Confirm{% endtrans %}</button>
			</ul>
		</form>
	</div>
{% endblock content %}