<!-- extend from base layout -->
{% extends "base.html" %}


{% macro messages(input) -%}
    {% for message in input.errors %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{%- endmacro %}

{% block content %}
	<div class="container">
		<form class="form-dataviva mt-lg" method="post" action="/en/user/forgot_password" style="margin-top: 24px;">
			<ul id="regular-signup" class="col-md-12 pull-left" style="list-style: none;">
				<p>
					<label for="current_password">{% trans %}Please inform us your email, so that we can sent you a new password{% endtrans %}</label>
					{{ form.email(class="form-control")}}
					{{ messages(form.email) }}
				</p>				
				<button type="submit" class="btn btn-success pull-right">{% trans %}Confirm{% endtrans %}</button>
			</ul>
		</form>
	</div>
{% endblock content %}