{% extends "partners/_base.html" %}

{% block partners_content %}

<div class="institucional">
    <h2>Estudos sobre o DataViva</h2>
    <h3>Aprovação dos estudos</h3>
    <div class="meta">
        <table id="approvalTable" class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Call ID</th>
                    <th>Title</th>
                    <th>Link</th>
                    <th>Active</th>
                </tr>
            </thead>
        </table>
    </div>
<a class="btn btn-default btn-dataviva pull-right" href="#" onclick="verifyChecks()">Enviar</a>
<a class="btn btn-default btn-dataviva pull-right" href="/scholar">Cancelar</a>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function($) {
        var table = $('#approvalTable').DataTable( {
            "sAjaxSource": "/partners/all",
            "sAjaxDataProp": "calls",
            "aoColumnsDefs": [
                { "data": "id" },
                { "data": "title", "type": "html" },
                { "data": "link" },
                { "data": "active" },
            ],
            'columnDefs': [
            {
                 'targets': 3,
                 'className': 'dt-body-center',
                 'render': function (data, type, full){
                     return '<input type="checkbox" name="checkboxApproval" value="">';
                 }
              }],
            "columns": [
                    { "width": "8%" },
                    null,
                    null,
                    { "width": "12%" }
            ],
            "paging": false,
            "bFilter": false,
            "info": false,
        });


        
    });





</script>
{% endblock partners_content %}