{% extends "base.html" %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="01-index.html">Home</a></li>
        <li class="active"><span>{% trans %}Be a Partner{% endtrans %}</span></li>
    </ol>
    <div class="row">
        <div class="container">
            <div class="institucional">
                <h2>{% trans %}Be a Partner{% endtrans %}</h2>
                <p>{% trans %}The partnerships in the DataViva project are formalized through specific instruments through a Public Calling procedure, under the article 23 of the Brazilian Federal Law number 13.019, of July 31st 2014. See below the current open public callings and the ones already finalized until now. If you have any suggestion of partnership that is not included in the opened Callings,{% endtrans %} <a href="{{url_for('contact.index')}}">{% trans %}please contact us.{% endtrans %}</a></p>
                <p>{% trans %}Also read, in its entirety, the {% endtrans %}
                <a href="http://www.fapemig.br/pt-br/visualizar/ler/39/92-de-01-12-15-parcerias-dataviva" target="_blank">{% trans %}Resolution number 92 of the Curator Council of FAPEMIG{% endtrans %}</a>
                {% trans %}that establishes the guidelines and rules for the formalization of voluntary partnerships between FAPEMIG and public institutions, civil society organizations and everyone else under private right with common goals, in the DataViva project.{% endtrans %} </p>

                <h2>{% trans %}Calls{% endtrans %}</h2>

                {% for call in calls %}
                    <p><a href={{call.link}} target="_blank">{{call.title}}</a></p>
                {%endfor%}    
            </div>
        {% include "include/partners.html" %}
        </div>
    </div>
</div>
{% endblock content %}
<p>
    Título : Edital 1 <br /> 

</p>

<p>{% trans %}Also read, in its entirety, the Resolution number 92 of the Curator Council of FAPEMIG that establishes the guidelines and rules for the formalization of voluntary partnerships between FAPEMIG and public institutions, civil society organizations and everyone else under private right with common goals, in the DataViva project.{% endtrans %} </p>
