<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="mod parceiros mod-two-columns">
    <div class="container">
        <div class="row">
            <div class="col-xs-15 col-sm-7">
                <h2>Atuação em conjunto com o objetivo de fortalecer a cultura do uso de dados para o desenvolvimento do Brasil.</h2>
            </div>
            <div class="col-xs-15 col-sm-7 col-sm-offset-1 col-2">
                <h4>Por que ser parceiro DataViva?</h4>
                <p>Lançado em novembro de 2013, o projeto foi desenvolvido pelo Governo de Minas, em parceira com o professor Cesar Hidalgo, do Instituto Tecnológico de Massachusetts (MIT-EUA). Financiado pela FAPEMIG, sua implantação conta com o apoio das instituições que compõem o sistema de desenvolvimento econômico do estado, juntamente com a Fundação João Pinheiro (FJP). As bases de dados foram disponibilizadas pelo Ministério do Trabalho e Emprego (MTE), Ministério do Desenvolvimento, Indústria e Comércio Exterior (MDIC) e Ministério da Educação (MEC).</p>
            </div>
        </div>
    </div>
</div>
{% include "include/partners.html" %}
{% endblock content %}
