body {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #fafafa !important;
  background-color: white;
  position: relative;
}

iframe {
  padding: 0px;
  border: 0px;
  overflow: hidden;
}

#error {
  color: #4c4c4c;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -30px;
}

#error #title {
  font-size: 24px;
  margin-bottom: 10px;
}

#builder #app_title {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  width: 90%;
  min-height: 26px;
  padding-top: 4px;
  line-height: 28px;
  margin-bottom: 5px;
  display: none;
  vertical-align: top;
}

#app {
  margin: 0px 5px;
  background-color: #fafafa;
  position: absolute;
  -webkit-transition: top 0.6s;
     -moz-transition: top 0.6s;
          transition: top 0.6s;
}

/******************/
/* Loader Styling */
/******************/

div#loading {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10000;
  background-color: #fafafa;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
     -moz-transition: opacity 0.6s;
          transition: opacity 0.6s;
}

div#loading > i {
  color: #ccc;
  position: absolute;
  margin-top: -35px;
  margin-left: -27.5px;
  left: 50%;
  top: 50%;
}

/****************/
/* Top Controls */
/****************/

div#toggles,
div#settings,
div#builder {
  top: 0px;
}

div#settings { 
  position: absolute; 
  right: 5px;
  top: 0px;
  z-index: 5000;
}

div#toggles { 
  position: absolute; 
  left: 5px;
  top: 0px;
  z-index: 5000;
}

div#settings > .leon.button.square {
  margin: 6px 0px 6px 3px;
}

div#toggles > .leon.button.square {
  margin: 6px 3px 6px 0px;
}

div#builder {
  position: absolute;
  text-align: center;
  -webkit-transition: top 0.6s;
     -moz-transition: top 0.6s;
          transition: top 0.6s;
  width: 100%;
  -webkit-user-select: none;
}

div#builder > div#output_select,
div#builder > div#app_controls {
  margin-top: -6px;
}

div.filter_button {
  display: inline-block;
  margin: 6px 6px 6px 0px;
}

div.filter_button div.button {
  margin: 0px;
  text-align: left;
}

.leon.button > i.icon-list-alt {
  margin-left: 2px;
  opacity: 0.5;
}

#settings > #starred > #status_-1 {
  color: #333;
}

#settings > #starred > #status_0 {
  color: #ccc;
}

#settings > #starred > #status_1 {
  color: #ffc41c;
}

/*******************/
/* Bottom Controls */
/*******************/

div#ui_bottom {
  padding: 5px 0px;
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #fafafa;
  z-index: 500;
}

.ui_group {
  display: inline-block;
/*  padding: 0px 5px;*/
/*  margin-top: 5px;*/
}