body {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #ffffff !important;
  background-color: white;
  position: relative;
}

iframe {
  padding: 0px;
  border: 0px;
  overflow: hidden;
}

#error {
  color: #4c4c4c;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -30px;
}

#error #title {
  font-size: 24px;
  margin-bottom: 10px;
}

#builder #app_title {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  width: 90%;
  min-height: 26px;
  padding-top: 4px;
  line-height: 28px;
  margin-bottom: 5px;
  display: none;
  vertical-align: top;
}

#app {
  margin: 0px 5px;
  background-color: #ffffff;
  position: relative;
}

/******************/
/* Loader Styling */
/******************/

div#loading {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10000;
  background-color: white;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
     -moz-transition: opacity 0.25s ease-in-out;
       -o-transition: opacity 0.25s ease-in-out;
          transition: opacity 0.25s ease-in-out;
}

div#loading > i {
  color: #ccc;
  position: absolute;
  margin-top: -35px;
  margin-left: -27.5px;
  left: 50%;
  top: 50%;
}

/****************/
/* Top Controls */
/****************/

div#settings,
div#builder {
  top: 0px;
}

div#settings .button_label,
div#builder .button_label {
  display: block;
}

div#settings { 
  position: absolute; 
  right: 5px;
  text-align: right;
  top: 0px;
  z-index: 5000;
}

div.build_section a.button {
  text-align: left;
}

#builder .build_section {
  display: inline-block;
  border-left: 1px solid #ddd;
  padding-left: 5px;
}

#builder #apps {
  border-left: 0px;
}

#settings #settings_toggles {
  float: right;
  border-left: 0px;
}

#settings > #starred > #status_-1 {
  color: #333;
}

#settings > #starred > #status_0 {
  color: #ccc;
}

#settings > #starred > #status_1 {
  color: #ffc41c;
}

/*******************/
/* Bottom Controls */
/*******************/

div#ui_bottom {
  margin: 5px;
  display: block;
  position: absolute;
  bottom: -300px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  z-index: 500;
  -webkit-user-select: none;
  -webkit-transition: bottom 0.25s ease-in-out;
     -moz-transition: bottom 0.25s ease-in-out;
          transition: bottom 0.25s ease-in-out;
}

.ui_group {
  display: inline-block;
  padding: 0px 5px;
  margin-top: 5px;
}