#dev_banner {
  background-color: #333;
  color: white;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  right: -87px;
  text-align: center;
  top: 26px;
  width: 300px;
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
  z-index: 5000;

}

#dev_banner > a {
  color: #efefef;
  font-size: 12px;
  font-weight: normal;
}

#header_container {
    width: 100%;
    height: 56px;
    -webkit-box-shadow:0px 3px 7px #dddddd;
            box-shadow: 0px 3px 7px #dddddd;
}

#header {
  margin: 0 auto;
  margin-top: 0px;
  width: 800px;
  padding: 8px 90px;
  height: 40px;
}

#header > a {
  display: inline-block;
  float: left;
}

#header > a#logo {
  background-image: url("/static/img/nav/visual.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  width: 153px;
  height: 40px;
  margin-right: 24px;
}

#header > a.link {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  color: #cccccc;
  font-size: 11px;
  margin-top: -4px;
  padding-top: 34px;
  text-align: center;
  width: 94px;
  -webkit-transition: color .2s, font-weight .2s, background-image .2s;
          transition: color .2s, font-weight .2s, background-image .2s;
}

#header a#guide {
  background-image: url("/static/img/nav/icons/guide.png");
}

#header a#profiles {
  background-image: url("/static/img/nav/icons/profiles.png");
}

#header a#apps {
  background-image: url("/static/img/nav/icons/apps.png");
}

#header a#data {
  background-image: url("/static/img/nav/icons/data.png");
}

#header a#ask {
  background-image: url("/static/img/nav/icons/ask.png");
}

#header a#about {
  background-image: url("/static/img/nav/icons/learn.png");
}

#header a.active,
#header a:hover {
  color: #cc0000;
  font-weight: bold;
}

#header a#guide.link.active,
#header a#guide:hover {
  background-image: url("/static/img/nav/icons/guide_active.png");
  color: #af1f24 !important; /* red */
}

#header a#profiles.link.active,
#header a#profiles:hover {
  background-image: url("/static/img/nav/icons/profiles_active.png");
  color: #e0902d !important; /* orange */
}

#header a#apps.link.active,
#header a#apps:hover {
  background-image: url("/static/img/nav/icons/apps_active.png");
  color: #3daf49 !important; /* green */
}

#header a#data.link.active,
#header a#data:hover {
  background-image: url("/static/img/nav/icons/data_active.png");
  color: #1abbee !important; /* blue */
}

#header a#ask.link.active,
#header a#ask:hover {
  background-image: url("/static/img/nav/icons/ask_active.png");
  color: #742777 !important; /* purple */
}

#header a#about.link.active,
#header a#about:hover {
  background-image: url("/static/img/nav/icons/learn_active.png");
  color: #d67ab0 !important; /* pink */
}

#profile.button.square {
  padding: 2px;
  font-size: 18px !important;
  margin-top: 7px;
  margin-left: 30px;
}
#language {
  top: 9px;
  margin-left: 10px;
}

#language a.active, 
#language a:hover,
#profile.button.square:hover {
  color: #333333;
  font-weight: normal;
}

/***********************/
/* Breadcrumb Specific */
/***********************/

#site_breadcrumbs {
  position: absolute;
  top: -57px;
  left: 88px;
}

#site_breadcrumbs > .site_crumb {
  display: inline-block;
}

.site_crumb > div.site_crumb_back_red,
.site_crumb > div.site_crumb_back_brown,
.site_crumb > div.site_crumb_tail_red,
.site_crumb > div.site_crumb_tail_brown,
.site_crumb > div.site_crumb_arrow_red,
.site_crumb > div.site_crumb_arrow_brown,
.site_crumb > div.site_crumb_body_red,
.site_crumb > div.site_crumb_body_brown {
  background-size: 100% 100%;
  display: inline-block;
  float: left;
  height: 21.5px;
  -webkit-transition: background-color linear .1s, color linear .1s, background-image linear .1s;
     -moz-transition: background-color linear .1s, color linear .1s, background-image linear .1s;
       -o-transition: background-color linear .1s, color linear .1s, background-image linear .1s;
          transition: background-color linear .1s, color linear .1s, background-image linear .1s;
}

.site_crumb > div.site_crumb_back_red,
.site_crumb > div.site_crumb_back_brown {
  background-repeat: no-repeat;
  width: 2px;
}

.site_crumb > div.site_crumb_tail_red,
.site_crumb > div.site_crumb_tail_brown{
  background-repeat: no-repeat;
  width: 12px;
}

.site_crumb > div.site_crumb_arrow_red,
.site_crumb > div.site_crumb_arrow_brown {
  background-repeat: no-repeat;
  width: 11px;
}

.site_crumb > div.site_crumb_back_red {
  background-image: url("/static/img/guide/bread_back_red.png");
}

.site_crumb > div.site_crumb_back_brown {
  background-image: url("/static/img/guide/bread_back_brown.png");
}

.site_crumb > div.site_crumb_tail_red {
  background-image: url("/static/img/guide/bread_tail_red.png");
}

.site_crumb > div.site_crumb_tail_brown {
  background-image: url("/static/img/guide/bread_tail_brown.png");
}

.site_crumb > div.site_crumb_arrow_red {
  background-image: url("/static/img/guide/bread_arrow_red.png");
}

.site_crumb > div.site_crumb_arrow_brown {
  background-image: url("/static/img/guide/bread_arrow_brown.png");
}

.site_crumb:hover > div.site_crumb_back_brown {
  background-image: url("/static/img/guide/bread_back_brown_hover.png");
}

.site_crumb:hover > div.site_crumb_tail_brown {
  background-image: url("/static/img/guide/bread_tail_brown_hover.png");
}

.site_crumb:hover > div.site_crumb_arrow_brown {
  background-image: url("/static/img/guide/bread_arrow_brown_hover.png");
}

.site_crumb:hover > div.site_crumb_body_brown {
  background-color: #75665e;
  color: white;
  background-image: url("/static/img/guide/bread_body_brown_hover.png");
}

.site_crumb > div.site_crumb_body_red,
.site_crumb > div.site_crumb_body_brown {
  background-repeat: repeat-x;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  padding: 0px 2px 0px 5px;
}

.site_crumb > div.site_crumb_body_red {
  color: #cc0000;
  background-image: url("/static/img/guide/bread_body_red.png");
}

.site_crumb > div.site_crumb_body_brown {
  color: #75665e;
  background-image: url("/static/img/guide/bread_body_brown.png");
}

/******************/
/* Footer Styling */
/******************/

#footer {
  margin: auto;
  overflow: auto; /* For clearing this container */
  text-align: center;
  width: 100%;
  height: 60px;
  color: #cccccc;
  font-size: 10px;
  margin-top: 50px;
  min-width: 950px;
} 

#account {
  font-size: 12px;
  padding-bottom: 4px;
}