/***********************/
/* Default Anchor Tags */
/***********************/

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #cccccc;
}

/*******************/
/* Standard Button */
/*******************/

.button.square {
  font-size: 14px !important;
  height: 19px;
  line-height: 19px;
  padding: 3px !important;
  width: 19px;
}

/********************/
/* Decision Buttons */
/********************/

.title, .decision, .help {
  color: #888;
  display: block;
  font-size: 20px;
  margin: 12px;
  opacity: 0.8;
  padding: 12px;
  position: relative;
}

.title {
  opacity: 1;
  margin-left: 0px;
  text-shadow: 0px 1px white;
}

.decision, .help {
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
          box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -webkit-transition: opacity 0.1s, -webkit-box-shadow 0.1s;
     -moz-transition: opacity 0.1s, box-shadow 0.1s;
          transition: opacity 0.1s, box-shadow 0.1s;
}

.decision {
  color: white;
}

.decision:hover, .help:hover {
  color: white;
  cursor: pointer;
  opacity: 1;
  -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
          box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
}

.title > h2, .decision > h2,
.help > h2, .menu > h2 {
  margin-bottom: 0px;
}

.title > p, .decision > p,
.help > p, .menu > p {
  margin-bottom: 6px;
}

body.general .decision,
body.guide .decision {
  background-color: #af1f24 !important; /* red */
}

body.profiles .decision {
  background-color: #e0902d !important; /* orange */
}

body.apps .decision {
  background-color: #3daf49 !important; /* green */
}

body.data .decision {
  background-color: #1abbee !important; /* blue */
}

body.ask .decision {
  background-color: #742777 !important; /* purple */
}

body.about .decision {
  background-color: #d67ab0 !important; /* pink */
}

body.general .help,
body.guide .help {
  color: #af1f24 !important; /* red */
}

body.profiles .help {
  color: #e0902d !important; /* orange */
}

body.apps .help {
  color: #3daf49 !important; /* green */
}

body.data .help {
  color: #1abbee !important; /* blue */
}

body.ask .help {
  color: #742777 !important; /* purple */
}

body.about .help {
  color: #d67ab0 !important; /* pink */
}