#order_toggle {
  float: right;
}

.vote_block {
  display: block;
  left: 20px;
  position: absolute;
  text-align: center;
  top: 10px;
}

.decision .vote_block {
  top: 30px;
}

.vote_count {
  display: block;
  font-size: 50px;
}

.vote_label {
  display: block;
  font-size: 14px;
  margin-top: -10px;
}

.decision .vote_label {
  margin-top: 10px;
}

.vote_up {
  color: green;
  font-size: 16px;
  opacity: 0.5;
}

.vote_up:hover {
  color: green;
  opacity: 1;
}

.vote_down {
  color: red;
  font-size: 16px;
  margin-right: 3px;
  opacity: 0.5;
}

.vote_down:hover {
  color: red;
  opacity: 1;
}

.question {
  padding: 12px 12px 12px 70px;
}

.question_attr {
  margin-top: 10px;
}

.decision .question_attr > a {
  color: white;
  text-decoration: underline;
}

.decision .question_attr > a:hover {
  color: white;
}

.userpic {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 18px;
  margin-right: 6px;
  width: 18px;
}

.answer {
  margin: 24px 12px 12px 12px;
  min-height: 90px;
  padding: 12px 100px 12px 12px;
  position: relative;
}

.question.darkbox, .reply.darkbox {
  margin: 12px;
}

.answer #answer_sabrina {
  background-image: url("/static/img/ask/sabrina_answer.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0px;
  height: 105px;
  position: absolute;
  right: 5px;
  width: 83px;
}



input#search {
  width: 70%;
}

/*
#order_toggle a {
  color: #333333 !important;
}

.number_votes {
  width: 60px;
  font-size: 68px;
  font-weight: bold;
  margin: 17px 0px 2px 6px;
  display: inline-block;
}

.vote_label {
  font-size: 16px;
  margin-left: -20px;
  margin-top: 24px;
  opacity: .25;
  text-align: center;
  padding-bottom: 10%;
}

.question_preview {
  font-size: 12px;
  line-height: 126%;
  display: inline-block;
}

.posted {
  font-style: italic;
  font-size: 12px;
  padding-top: 1.5%;
  vertical-align: text-bottom;
}

.question_preview .posted {
  bottom: 12px;
  position: absolute;
  margin-top: 10px;
}

.posted img {
  vertical-align: text-bottom;
  margin-right: .5%;
}*/

/* Answer */
/*#question h1 {
  margin-bottom: 8px;
  margin-top: -32px;
}

.big {
  width: 28px !important;
  height: 28px !important;
}

.vote_up.big {
  margin-left: -74px !important;
  margin-top: -5px;
  padding-top: 1px;
}

.vote_count.big {
  padding: 6px 11px;
  margin-left: 38px !important;
}


#official-answer {
  width: 77.3%;
  border: solid 4px #cccccc;
  margin: 2% 0;
  padding: 2%;
  padding-right: 20%;
  text-align: left;
  position: relative;
  line-height: 24px;
}

#sabrina-official-answer {
  width: 17.5%;
  height: 0;
  padding-bottom: 28%;
  background-image: url("../img/ask/ask_sabrina_answer.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  position: absolute;
  right: .4%;
  bottom: 0;
}

#responses .vote_count {
  margin-left: -5px;
  padding: 7px 9px;
  font-size: 10px;
}

#responses .vote_up {
  margin-left: -62px;
  margin-top: -5px;
}

#responses ol > li {
  margin: 14px 0;
  padding: 2px 32px 6px 5px;
  border-top: 5px solid #666;
  background-color: #f6f6f6;
  list-style:none;
}

#responses ol > li.child {
  margin-left: 64px;
}

#responses ol > li:before {
  background-color: #666;
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  color: #fff;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 5px;
  padding: 1px;
  position: absolute;
  text-align: center;
  width: 12px;
}

#responses ol > li .reply_form {
  display: none;
}

.response {
  padding-left: 4%;
  margin-top: -5%;
  font-size: 12px;
}

.answer.vote_count {
  background-color: #666;
  color: #ffffff;
  font-weight: bold;
}

.flag {
  margin: 8px 0 0 -39px !important;
}

.reply_form { 
  margin-top: 2%
}

label.link {
  vertical-align: middle;
}

a.button.square.link {
  margin-top: 1px !important;
}*/