body.about #inner_container {
  display: block;
  vertical-align: top;
}

#about_nav {
  left: 50%;
  margin-left: -400px;
  position: fixed;
  top: 100px;
}

#about_content {
  padding: 25px;
}

a.about {
  display: block;
}

a.app {
  display: block;
  margin-left: 12px;
}

a.app.active {
  color: #cc0000;
}

/****************/
/* Help Specific */
/****************/

#help_wrapper img {
  text-align: center;
  display: block;
  margin: 0px auto;
  width: 100%;
  height: auto;
}
#help_wrapper .ui_group {
  text-align: center;
  margin: 10px 0px;
}

body.about #footer a.link {
  display: none;
}