#container {
  background-position: center top;
  background-repeat: no-repeat;
  display: inline-block;
  left: 50%;
  margin-left: -490px;
  position: relative;
  text-align: left;
  width: 980px;
}

body.guide > #container {
  background-image: url('/static/img/bgs/hills.png');
  background-position: center top;
  background-size: 70%;
}

body.profiles > #container,
body.apps > #container,
body.data > #container,
body.ask > #container {
  background-image: url('/static/img/bgs/lab.png');
  background-position: center 125px;
  background-size: 75%;
}

body.error404 > #container {
  background-image: url('/static/img/bgs/error404.png');
  background-position: center 55px;
  background-size: 60%;
}