body.home #big_sabrina {
  bottom: 0px;
  position: fixed;
  right: 20px;
  top: 80px;
  width: 500px;
}

body.home #welcome {
  background-color: white;
  text-align: center;
  width: 500px;
}

body.home #footer {
  display: none;
}

body.home div.logo.sponsor {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}

body.home a.logo {
  height: 50px;
  width: 80px;
}

body.home a.logo.governo {
  background-image: url("/static/img/nav/logo_governo.jpg");
  opacity: 1;
}

body.home a.logo.fapemig {
  background-image: url("/static/img/nav/logo_fapemig.jpg");
  opacity: 1;
}