body.home #fullscreen {
  background-image: url('/static/img/home/day.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

body.home #big_sabrina {
  bottom: 0px;
  position: fixed;
  right: 20px;
  top: 80px;
  width: 500px;
}

body.home #welcome {
  margin-top: 100px;
  text-align: center;
}

body.home #footer {
  display: none;
}