body.profiles::-webkit-scrollbar {
  display: none;
}

body.profiles #inner_container {
  display: block;
  vertical-align: top;
}

body.profiles #container {
  padding: 58px 0px 49px 0px;
  text-align: left;
  width: 100%;
}

div#guide_controls {
  left: 20px;
  padding: 10px 10px 5px 10px;
  position: fixed;
  top: 78px;
  width: 250px;
}

div#guide_title {
  font-size: 24px;
  margin-bottom: 10px;
}

div.guide_app {
  margin: 20px 0px;
  margin-left: 310px;
}

iframe, table {
  height: 100%;
  width: 50%;
}

div.data_table {
	display: inline-block;
	margin: 0px 10px;
	overflow: hidden;
	overflow-y: scroll;
	width: 40%;
}
div.data_table:nth-child(even) {
	margin-right: 20px;
}
div.data_table:nth-child(odd) {
	margin-left: 20px;
}
div.data_table table{ 
	overflow: hidden;
}
div.data_table table thead{ 
	display: table-header-group;
}
div.data_table table thead th{ 
	display: table-cell;
}
div.data_table table td { 
	padding: 4px;
}
div.data_table table td a{ 
	text-decoration: underline;
}