body {
  background-color: #ffffff !important;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
}

#builder #app_title {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  width: 90%;
  min-height: 26px;
  padding-top: 4px;
  line-height: 28px;
  margin-bottom: 5px;
  display: none;
  vertical-align: top;
}

#app {
  margin: 5px;
  background-color: #ffffff;
  position: absolute;
  -webkit-transition: top 0.6s;
     -moz-transition: top 0.6s;
          transition: top 0.6s;
}

/****************/
/* Top Controls */
/****************/

div#toggles,
div#settings,
div#builder {
  top: 0px;
}

div#settings { 
  position: absolute; 
  right: 10px;
  top: 5px;
  z-index: 5000;
}

div#toggles { 
  position: absolute; 
  left: 5px;
  top: 0px;
  z-index: 5000;
}

div#settings > .leon.button.square {
  margin: 6px 0px 6px 3px;
}

div#toggles > .leon.button.square {
  margin: 6px 3px 6px 0px;
}

div#builder {
  left: 0px;
  position: absolute;
  text-align: left;
  -webkit-transition: top 0.6s;
     -moz-transition: top 0.6s;
          transition: top 0.6s;
  width: 100%;
  -webkit-user-select: none;
}

div#builder > div {
  display: inline-block;
  margin: 10px -5px 5px 10px;
}

div#builder div.leon.label {
  padding-left: 0px;
}

div#builder div#app_controls {
  background-color: #f9f9f9;
  -webkit-box-shadow: inset 0px 1px 6px rgba(0,0,0,0.1);
          box-shadow: inset 0px 1px 6px rgba(0,0,0,0.1);
  margin: 5px 5px 5px 10px;
}

div.filter_button {
  margin: 6px;
}

div.filter_button > div.leon.button {
  margin: 0px;
}

.leon.button > i.icon-list-alt {
  margin-left: 2px;
  opacity: 0.5;
}

#settings > #starred > #status_-1 {
  color: #333;
}

#settings > #starred > #status_0 {
  color: #ccc;
}

#settings > #starred > #status_1 {
  color: #ffc41c;
}

/*******************/
/* Bottom Controls */
/*******************/

div#ui_bottom {
  padding: 5px 0px;
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  z-index: 500;
}

.ui_group {
  display: inline-block;
/*  padding: 0px 5px;*/
/*  margin-top: 5px;*/
}