#container {
  background-position: center top;
  background-repeat: no-repeat;
  display: inline-block;
  left: 50%;
  margin-left: -490px;
  position: relative;
  text-align: left;
  width: 980px;
}

body.guide > #container {
  background-image: url('/static/img/bgs/hills.png');
  background-position: center top;
  background-size: 70%;
}

body.profiles > #container,
body.apps > #container,
body.data > #container,
body.ask > #container {
  background-image: url('/static/img/bgs/lab.png');
  background-position: center 125px;
  background-size: 75%;
}

body.error404 > #container {
  background-image: url('/static/img/bgs/error404.png');
  background-position: center 55px;
  background-size: 60%;
}

div#selector {
  background-color: white;
  -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
          box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
  height: 450px;
}

/*****************/
/* Title Styling */
/*****************/

h2 {
  display: block;
  font-size: 30px;
  font-weight: normal;
  line-height: 32px;
  margin-bottom: 6px;
  opacity: 1;
}

h3 {
  margin: 1% 0;
  font-size: 16px;
}

h4 {
  text-transform: uppercase;
  color: #cccccc;
  font-size: 30px;
  margin-bottom: 1.2%;
  letter-spacing: 1px;
}

h5 {
  text-transform: uppercase;
  color: #cccccc;
  font-size: 30px;
  margin-bottom: -1.8%;
  letter-spacing: 1px;
}

/******************/
/* Loader Styling */
/******************/

div.loading {
  background-color: #fafafa;
  bottom: 0px;
  font-size: 16px;
  left: 0px;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: opacity 0.6s;
     -moz-transition: opacity 0.6s;
          transition: opacity 0.6s;
  z-index: 10000;
}

div.loading > i {
  color: #eee;
  display: inline-block;
  left: 50%;
  margin-left: -27.5px;
  margin-top: -35px;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  -webkit-animation: spin 2s infinite linear, pulsate 6s infinite linear;
     -moz-animation: spin 2s infinite linear, pulsate 6s infinite linear;
          animation: spin 2s infinite linear, pulsate 6s infinite linear;
}

@-webkit-keyframes pulsate {
  0% { color: #af1f24; }
  16% { color: #e0902d; }
  32% { color: #3daf49; }
  48% { color: #1abbee; }
  64% { color: #742777; }
  80% { color: #d67ab0; }
  96% { color: #af1f24; }
  100% { color: #af1f24; }
}

@-moz-keyframes pulsate {
  0% { color: #af1f24; }
  16% { color: #e0902d; }
  32% { color: #3daf49; }
  48% { color: #1abbee; }
  64% { color: #742777; }
  80% { color: #d67ab0; }
  96% { color: #af1f24; }
  100% { color: #af1f24; }
}

@keyframes pulsate {
  0% { color: #af1f24; }
  16% { color: #e0902d; }
  32% { color: #3daf49; }
  48% { color: #1abbee; }
  64% { color: #742777; }
  80% { color: #d67ab0; }
  96% { color: #af1f24; }
  100% { color: #af1f24; }
}

div.loading > .text {
  color: #888;
  margin-top: -11px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 6px #efefef;
  top: 50%;
  width: 100%;
}

iframe.app_builder {
  left: 50%;
  position: absolute;
  top: 70px;
}

div#app_buffer {
  display: block;
}