body.classifications #inner_container,
body.query #inner_container {
  display: block;
  vertical-align: top;
}

body.query #container {
  padding: 58px 0px 49px 0px;
  width: 100%;
}

body.query #dynamic_header {
  left: 0px;
  margin-left: 0px;
  width: 100%;
}

/***************************/
/* Classification Specific */
/***************************/

.data_depth {
  position: absolute;
  right: 6px;
  top: 0px;
}

#results {
  margin-top: -15px;
}

/***********************/
/* Data Query Specific */
/***********************/

#data_toggle, #years_dropdown {
  display: inline-block;
  margin-right: 5px;
}

#data_toggle > .leon.radio {
  margin: 6px 0px;
}

#years_dropdown > .leon.select {
  margin: 6px 0px;
}

#table_header {
  padding-left: 340px;
  margin-top: 3px;
  overflow-x: auto;
}

#table_header th {
  -webkit-transition: none;
          transition: none;
}

#table_header::-webkit-scrollbar { 
  display: none; 
}

.data_table {
  width: 100%;
}

#table_container {
  padding-left: 340px;
  min-height: 500px;
  overflow-x: auto;
}

#filter_selects {
  left: 50%;
  left: 20px;
  padding-top: 6px;
  position: fixed;
  text-align: center;
  top: 135px;
  width: 300px;
}

.filter_container {
  display: none;
}
.filter_container.open {
  display: block;
}

.filter_button:after {
  -webkit-transition: -webkit-transform .2s;
          transition: -webkit-transform .2s;
}

.filter_button.active:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.filter_box {
  background-color: #eee;
  display: none;
  margin: -10px 10px 10px;
  padding: 10px;
  position: relative;
}
.filter_box.open {
  display: block;
}

.filter_box span {
  font-size: 14px;
}

.filter_box span.filter_title {
  display: inline-block;
  margin: 1px 6px;
  width: 73%;
}

.filter_box span.filler {
  color: #888;
}

.filter_box .filter_item {
  margin-bottom: 6px;
  text-align: left;
}

.filter_box span.list_icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}

.filter_box i {
  color: #888;
  float: right;
  font-size: 14px;
  opacity: 0.5;
  font-size: 17px;
  -webkit-transition: opacity 0.1s;
     -moz-transition: opacity 0.1s;
          transition: opacity 0.1s;
}

.filter_box i:hover {
  opacity: .75;
}

.filter_box .add_filter {
  background-color: rgba(0,0,0,0.05);
  color: #888;
  display: block;
  font-size: 12px;
  margin-top: 9px;
  padding: 3px;
  text-align: center;
  -webkit-transition: background-color 0.1s, color 0.1s;
     -moz-transition: background-color 0.1s, color 0.1s;
          transition: background-color 0.1s, color 0.1s;
}

.filter_box .add_filter:hover {
  background-color: rgba(0,0,0,0.1);
  color: #666;
}