body.ask #inner_container {
  display: block;
  vertical-align: top;
}

body.ask #container {
  padding: 78px 0px 59px 0px;
  width: 100%;
}

body.ask #sabrina {
  bottom: -65px;
  position: fixed;
}

body.ask .bubble {
  padding: 10px;
  bottom: 470px;
  position: fixed;
  width: 150px;
}

#list_header {
  position: relative;
  width: 100%;
}

#list_title {
  margin: 12px;
}

#order_toggle {
  position: absolute;
  right: 7px;
  top: 7px;
}

.vote_block {
  display: block;
  left: 20px;
  position: absolute;
  text-align: center;
  top: 10px;
}

.decision .vote_block {
  top: 30px;
}

.vote_count {
  display: block;
  font-size: 50px;
}

.vote_label {
  display: block;
  font-size: 14px;
  margin-top: -10px;
}

.decision .vote_label {
  margin-top: 10px;
}

.vote_up {
  color: green;
  font-size: 16px;
  opacity: 0.5;
}

.vote_up:hover {
  color: green;
  opacity: 1;
}

.vote_down {
  color: red;
  font-size: 16px;
  margin-right: 3px;
  opacity: 0.5;
}

.vote_down:hover {
  color: red;
  opacity: 1;
}

.question {
  padding: 12px 12px 12px 70px;
}

.question_attr {
  margin-top: 10px;
}

.decision .question_attr > a {
  color: white;
  text-decoration: underline;
}

.decision .question_attr > a:hover {
  color: white;
}

.userpic {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 18px;
  margin-right: 6px;
  width: 18px;
}

.answer {
  margin: 24px 12px 12px 12px;
  min-height: 90px;
  padding: 12px 100px 12px 12px;
  position: relative;
}

.question.darkbox, .reply.darkbox {
  margin: 12px;
}

.answer #answer_sabrina {
  background-image: url("/static/img/ask/sabrina_answer.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0px;
  height: 105px;
  position: absolute;
  right: 5px;
  width: 83px;
}

input#search {
  width: 70%;
}