#header_container {
  height: 58px;
  position: fixed;
  top: 0px;
  -webkit-transition: height .2s, background-color .2s;
          transition: height .2s, background-color .2s;
  width: 100%;
  z-index: 750;
}

#header_container #language {
/*  background-color: transparent;*/
  opacity: 0.6;
  -webkit-transition: opacity .2s;
          transition: opacity .2s;
}

#header_container:hover {
  background-color: white;
}

#header_container:hover #language {
  opacity: 1;
}

#header {
  margin: 0 auto;
  margin-top: 0px;
  width: 800px;
  padding: 8px 90px;
  height: 40px;
}

#header > a {
  display: inline-block;
  float: left;
}

#logo {
  background-image: url("/static/img/nav/visual.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  display: inline-block;
  height: 40px;
  width: 153px;
}

#header > #logo {
  margin-right: 12px;
}

#header > a.link {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  color: black;
  font-size: 11px;
  margin-top: -4px;
  opacity: 0.25;
  padding-top: 34px;
  text-align: center;
  width: 90px;
/*  -webkit-transition: color .2s, background-image .2s, opacity .2s;
          transition: color .2s, background-image .2s, opacity .2s;*/
}

#header a#guide {
  background-image: url("/static/img/nav/icons/guide.png");
}

#header a#profiles {
  background-image: url("/static/img/nav/icons/profiles.png");
}

#header a#apps {
  background-image: url("/static/img/nav/icons/apps.png");
}

#header a#data {
  background-image: url("/static/img/nav/icons/data.png");
}

#header a#ask {
  background-image: url("/static/img/nav/icons/ask.png");
}

#header a#about {
  background-image: url("/static/img/nav/icons/learn.png");
}

#header a.active,
#header a:hover {
  color: #af1f24;
  opacity: 1;
}

#header a#guide.link.active,
#header a#guide:hover {
  background-image: url("/static/img/nav/icons/guide_active.png");
  color: #af1f24 !important; /* red */
}

#header a#profiles.link.active,
#header a#profiles:hover {
  background-image: url("/static/img/nav/icons/profiles_active.png");
  color: #e0902d !important; /* orange */
}

#header a#apps.link.active,
#header a#apps:hover {
  background-image: url("/static/img/nav/icons/apps_active.png");
  color: #3daf49 !important; /* green */
}

#header a#data.link.active,
#header a#data:hover {
  background-image: url("/static/img/nav/icons/data_active.png");
  color: #1abbee !important; /* blue */
}

#header a#ask.link.active,
#header a#ask:hover {
  background-image: url("/static/img/nav/icons/ask_active.png");
  color: #742777 !important; /* purple */
}

#header a#about.link.active,
#header a#about:hover {
  background-image: url("/static/img/nav/icons/learn_active.png");
  color: #d67ab0 !important; /* pink */
}

#header div#nav_controls {
  display: inline-block;
  margin-top: -2px;
  text-align: center;
  width: 90px;
}

#header div#account {
  color: #888;
  font-size: 11px;
  padding: 3px 0px;
}

#header div#account.active {
  color: #af1f24;
}

#header div#account:hover {
  color: #af1f24;
  cursor: pointer;
}

a.account:first-child {
  margin-top: 3px !important;
}

a.account {
  display: block;
  margin-top: 6px;
  padding: 0px 3px;
  text-align: left;
}

a.account > i {
  display: inline-block;
  width: 16px;
}

a.account:hover {
  color: #af1f24;
}

div#language .leon.radio {
  margin: 0px !important;
}

div#language .leon.button {
  padding: 2px 6px !important;
}

#dynamic_header {
  left: 50%;
  margin-left: -490px;
  padding-bottom: 0px;
  position: fixed;
  top: 75px;
  width: 980px;
  z-index: 751;
}

#dynamic_header > h2 {
  margin-left: 10px;
}

/***********************/
/* Breadcrumb Specific */
/***********************/

#site_breadcrumbs {
  font-size: 11px;
  margin: 10px auto;
  margin-top: 70px;
  text-shadow: 0px 1px white;
  width: 800px;
}

a.site_crumb {
  color: #ccc;
  transition: color .1s;
  -webkit-transition: color .1s;
}

span.site_crumb_divider {
  color: #ccc;
  margin: 0px 3px;
}

body.guide span.site_crumb,
body.plan span.site_crumb,
body.guide a.site_crumb:hover {
  color: #af1f24;
}

body.profiles span.site_crumb,
body.profile span.site_crumb,
body.profiles a.site_crumb:hover {
  color: #e0902d;
}

body.apps span.site_crumb,
body.apps a.site_crumb:hover {
  color: #3daf49;
}

body.data span.site_crumb,
body.data a.site_crumb:hover {
  color: #1abbee;
}

body.ask span.site_crumb,
body.ask a.site_crumb:hover {
  color: #742777;
}

body.about span.site_crumb,
body.about a.site_crumb:hover {
  color: #d67ab0;
}

/******************/
/* Footer Styling */
/******************/

#footer {
  background-color: white;
  bottom: 0px;
  -webkit-box-shadow: 0px -3px 7px rgba(0,0,0,0.25);
          box-shadow: 0px -3px 7px rgba(0,0,0,0.25);
  display: block;
  font-size: 10px;
  left: 0px;
  opacity: 0.9;
  padding: 5px;
  position: fixed;
  text-align: center;
  -webkit-transition: opacity 0.1s;
          transition: opacity 0.1s;
  width: 100%;
}

#footer:hover {
  opacity: 1;
}

div.logo.sponsor {
  color: #888;
  display: inline-block;
  font-size: 14px;
  height: 29px;
  line-height: 29px;
  margin: 5px;
  text-shadow: 0px 1px white;
  width: auto;
}

#footer > a.link {
  color: #ccc;
  display: inline-block;
  font-size: 10px;
  height: 19px;
  line-height: 19px;
  margin: 10px;
  padding: 0px 5px;
  text-shadow: 0px 1px white;
}

#footer > a.link:hover {
  text-decoration: underline;
}

a.logo {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  display: inline-block;
  height: 29px;
  margin: 5px;
  opacity: 0.75;
  width: 77px;
}

a.logo.governo {
  background-image: url("/static/img/nav/logo_governo_color.jpg");
}

a.logo.governo:hover {
  background-image: url("/static/img/nav/logo_governo_color.jpg");
  opacity: 1;
}

a.logo.fapemig {
  background-image: url("/static/img/nav/logo_fapemig_color.jpg");
}

a.logo.fapemig:hover {
  background-image: url("/static/img/nav/logo_fapemig_color.jpg");
  opacity: 1;
}

a.opendata {
  display: inline-block;
  margin: 12px 5px;
  opacity: 0.5;
  -webkit-transition: opacity 0.1s;
          transition: opacity 0.1s;
}

a.opendata:hover {
  opacity: 1;
}

#footer > #language {
  display: inline-block;
  margin-left: 6px;
}