hr {
  clear: both;
  height: 1px;
  background-color: #cccccc;
  color: #cccccc;
  border: 0;
  margin-top: 2%;
}

.hide {
  display: none;
}

/********************/
/* Admin Specific */
/********************/
#admin-content {
  margin-top: 18px;
}

#user-info {
  display: inline-block;
}

#user-info img {
  float: left;
}

#user-info h1 {
  margin-left: 18px;
  float: left;
  display: inline-block;
  font-size: 30px;
}

#account_filters {
  color: #cccccc;
  font-size: 12px;
  text-align: right;
  margin-top: 28px;
}

p.reply {
  margin-bottom: 3%;
}

.in-reply {
  margin-left: 40%;
  margin-top: -1%;
  margin-bottom: 2%;
} 

.in-reply .text {
  width: 90% !important;
}

.feed {
  margin-bottom: 4%;
}

.feed-item {
  width: 96%;
  height: 20px;
  padding: 10px 8px 6px 30px!important;
  font-size: 15px;
  background-color: #cccccc;
  color: #333333;
  margin-bottom: 12px;
}

.feed-item:hover {
  opacity: .7;
}

.feed_title {
  width: 79%;
  display: inline-block;
}

.feed-item img {
  margin-right: 1%;
  margin-top: -3px;
  margin-left: -22px;
}

.feed-item p {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
/*  width: 700px;*/
}

.feed_date {
  display: inline-block;
  width: 20%;
  text-align: right !important;
}

.question_body, .question_answer {
  line-height: 130%;
  font-size: 13px;
}

.question_body p {
  margin-bottom: 1%;
}

.question_answer {
  margin-top: 1%;
  background-color: #cccccc;
  padding: 2%;
}

.update {
  text-align: right;
  margin-top: 1%;
}

#admin a.button.square {
  margin: -4px 0 6px 0;
  width: 21px;
  height: 21px;
}

#admin .button.submit_answer {
  margin-top: 4px;
}

#admin i {
  font-size: 11px;
}

nav ul#navigation li {
  list-style-type: none;
}
nav ul#navigation li.active a {
  color: red;
}
nav ul#navigation ul {
  margin: 0 0 0 20px;
}


/******************/
/* Login Specific */
/******************/

a.login_button {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 95% 95%;
  display: inline-block;
  height: 50px;
  margin: 12px;
  width: 50px;
  -webkit-transition: background-size 0.1s;
     -moz-transition: background-size 0.1s;
       -o-transition: background-size 0.1s;
          transition: background-size 0.1s;
}

a.login_button:hover {
  background-size: 100% 100%;
}

a.login_button#Google {
  background-image: url("/static/img/icons/login/login_google.png");
}

a.login_button#Facebook {
  background-image: url("/static/img/icons/login/login_facebook.png");
}

a.login_button#Twitter {
  background-image: url("/static/img/icons/login/login_twitter.png");
}

/********************/
/* Account          */
/********************/
.account_user {
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
}

/********************/
/* Infinite Loading */
/********************/
div.infinite_loading {
  height: 100px;
  position: relative;
}