<!-- extend from base layout -->
{% extends "templates/base.html" %}

{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.login.css" />

{% endblock %}

{% block content %}

  <div id="login_div">
    <div id="logo"></div>
    <div id="login_text">
        {% trans %}Logging in is easy! All you have to do is choose one of the following accounts to link with your profile. We'll take care of the rest.{% endtrans %}
      <br><br>
        {% trans %}By having an account, you will be able to ask Sabrina questions, comment in discussions, and save your favorite apps to your profile.{% endtrans %}
    </div>
    <form action="" method="post" name="login">
      
      {{ form.hidden_tag() }}
      
      <p>
        {{form.remember_me(id="remember")}}<label for="remember">{% trans %}Remember Me{% endtrans %}</label>
      </p>
      {% for pr in providers %}
      <a id="{{ pr }}" class="login_button" href="{{ pr }}"></a>
      {% endfor %}
    </form>
    <div style="display:none;opacity:0;">{% trans %}Logging in has been disabled on this version of DataViva. Please visit the main site to log in.{% endtrans %}</div>
  </div>

  <script type="text/javascript">

    leon("#remember").color(dataviva.color).size("small")

    d3.selectAll(".login_button").on(d3plus.evt.click, function () {
      var pr = this.id.toLowerCase()
      form = document.forms['login'];
      form.elements['provider'].value = pr;
      console.log(form.elements['provider'], pr)
      this.parentNode.submit();
      d3.event.preventDefault();
    })
    
  </script>

{% endblock %}