<!-- extend from base layout -->
{% extends "templates/base.html" %}

{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.login.css" />

{% endblock %}

{% block content %}

  <div id="login_div">
    <div id="logo"></div>
    <div id="login_text">
      Logging in has been deactivated on this version of the site. Please visit <a class="open_parent" href="http://dataviva.mg.gov.br/">dataviva.mg.gov.br</a> to login.
    </div>
  </div>
  
  <script>
  d3.select("a.open_parent").on("click", function(){
      window.opener.location.href = "http://dataviva.mg.gov.br" + window.opener.location.pathname;
      window.close();
      d3.event.preventDefault();
  })
  </script>

{% endblock %}