<!-- extend from base layout -->
{% extends "templates/base.html" %}

{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.login.css" />

{% endblock %}

{% block content %}

  <div id="login_div">
    <div id="logo"></div>
    <div id="login_text">
      {% trans %}Logging in has been disabled on this version of DataViva. Please visit the main site to log in.{% endtrans %}
      <br><br>
      <a class="open_parent decision" href="http://www.dataviva.info/">www.dataviva.info</a>
    </div>
  </div>
  
  <script>
  d3.select("a.open_parent").on("click", function(){
      window.opener.parent.location.href = "http://www.dataviva.info" + window.opener.parent.location.pathname;
      window.close();
      d3.event.preventDefault();
  })
  </script>

{% endblock %}