<!-- extend site layout -->
{% extends "templates/site.html" %}

<!-- set the title -->
{% block title %}: Ask Sabrina{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/wysihtml5.stylesheet.css" />
{% endblock %}

{% block body %}
<div class="grid5col4 grid5offsethalf">
  {% with q = question %}
  
  <div id="question">
    <h1>{{ q.question }}</h1>
    {% if q.body %}
      <p>{{ q.body|safe }}</p>
      {% endif %}
    {% if tags|length %}
    <div class="labels">
      Tags:
      {% for t in tags %}
      <a class="tag" style="background-color: {{ t.color }};" rel="tag">
        <span class="tag-icon" rel="{{ t.__class__.__name__ }}" title="{{ t.id }}"></span>
        <span>{{ t.name_en }}&nbsp;&nbsp;</span>
      </a>
      {% endfor %}
    </div>
    {% endif %}
    <div class="posted"><img src="{{ q.user.avatar(22) }}"> Asked by <a href="{{ url_for('account.user', nickname=q.user.nickname) }}">{{q.user.fullname}}</a> {{ momentjs(q.timestamp).fromNow() }}</div>
    <br /><br />
    <p><span class="vote_count answer big" style="font-size: 16px">{% if q.votes.all()|length %}{{ q.votes.count() }}{% else %}0{% endif %}</span>
      <a class="vote_up button square answer big" href="{{ url_for('ask.question_vote', slug=q.slug) }}">
        <i class="icon-thumbs-up" style="font-size: 16px"></i>
      </a>
    </p>
  </div>

  <div id="official-answer">
    {% if q.status_notes %}
      <p><strong>Sabrina</strong> says:
      <p>{{ q.status_notes|safe }}</p>
    {% else %}
      <p><strong>Sabrina</strong> has not answered yet!</p>
    {% endif %}
    <div id="sabrina-official-answer"></div>
  </div><br />
  {% if q.replies.all()|length %}
  <h5>Responses</h5>
  <hr class="bold"/>
  <div id="responses">
    <ol>
    {% for r in q.replies %}
      <li {% if r.id != r.parent_id %}class="child"{% endif %}>
        <p><span class="vote_count answer">{% if r.votes.all()|length %}{{ r.votes.count() }}{% else %}0{% endif %}</span>
          <a class="vote_up button square answer" href="{{ url_for('ask.reply_vote', id=r.id) }}">
            <i class="icon-thumbs-up"></i>
          </a>
        </p>
        <p><a class="flag button square" href="{{ url_for('ask.reply_flag', id=r.id) }}"><i class="icon-flag"></i></a></p>
        <div class="response">
        <p>{{ r.body|safe }}</p>
        <div class="posted"><img class="avatar" src="{{ r.user.avatar(20) }}"> Added by <a href="{{ url_for('account.user', nickname=r.user.nickname) }}">{{r.user.fullname}}</a> {{ momentjs(r.timestamp).fromNow() }}</div>
        <hr />
        {% if r.id == r.parent_id %}
        <button class="reply">Reply</button>
        {% include 'ask/snippets/reply_form.html' %}
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </div>
  {% else %}
  <p>No responses yet!</p></br>
  {% endif %}

  {% endwith %}
  <br />
  <h5>Your Response</h5>
  {% include 'ask/snippets/reply_form.html' %}
  
  </div>
</div>

{% endblock %}

{% block js %}

<!-- wysihtml5 parser rules -->
<script src="/static/js/libs/wysihtml5-parser_rules-advanced.js"></script>
<!-- wysihtml5 library -->
<script src="/static/js/libs/wysihtml5-0.3.0.min.js"></script>
<script>
var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
  toolbar:      "wysihtml5-toolbar", // id of toolbar element
  parserRules:  wysihtml5ParserRules, // defined in parser rules set 
  stylesheets: ["/static/css/libs/wysihtml5.stylesheet.css"]
});

// Voting!
d3.selectAll(".vote_up").on(vizwhiz.evt.click, function(){
  var link_el = this;
  d3.json(link_el.href, function(resp){
    if(resp.error) {
      alert(resp.error)
    }
    else {
      d3.select(link_el.parentNode).select(".vote_count").text(function(){
        var new_count = 1
        if(d3.select(this).text()){
          console.log('nope!!', d3.select(this).text())
          new_count = parseInt(d3.select(this).text(), 10) + parseInt(resp.success);
        }
        return new_count;
      })
    }
  })
  d3.event.preventDefault();
})

// Flagging :(
d3.selectAll(".flag").on(vizwhiz.evt.click, function(){
  var link_el = this;
  d3.json(link_el.href, function(resp){
    if(resp.error) {
      alert(resp.error)
    }
    else {
      if(parseInt(resp.success) > 0){
        d3.select(link_el).style("color", "#be1e2d")
      }
      else {
        d3.select(link_el).style("color", "#333333")
      }
    }
  })
  d3.event.preventDefault();
})
 
// add icons to tags!
d3.selectAll(".tag-icon").style("background-image", function(){
  var tag_el = d3.select(this);
  return "url('"+visual.icon(tag_el.attr("title"), tag_el.attr("rel").toLowerCase()) + "')"
})

// show/hide reply form
d3.selectAll("button.reply").on(vizwhiz.evt.click, function(){
  var reply_form = d3.select(this.parentNode).select(".reply_form")
  if(reply_form.style("display") == "block"){
    reply_form.style("display", "none")
  }
  else {
    reply_form.style("display", "block")
  }
})

// submit form
d3.selectAll(".reply_form .submit").on(vizwhiz.evt.click, function(){
  this.parentNode.submit()
  d3.event.preventDefault();
})
</script>

{% endblock %}