<!-- extend site layout -->
{% extends "templates/site.html" %}

<!-- set the title -->
{% block title %}: Ask Sabrina{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/wysihtml5.stylesheet.css" />
{% endblock %}

{% block body %}
<div class="grid5col4 grid5offsethalf">
  {% with q = question %}
  
  <div class="question">
    
    <div class="vote_block">
      <div class="vote_count">{% if q.votes.all()|length %}{{ q.votes.count() }}{% else %}0{% endif %}</div>
      <div class="vote_label">votes</div>
      <a class="vote_up" href="{{ url_for('ask.question_vote', slug=q.slug) }}">
        <i class="icon-thumbs-up"></i>
      </a>
    </div>
    
    <div class="question_preview">
      <h2>{{ q.question }}</h2>
      {% if q.body %}{{ q.body|safe }}{% endif %}
      {% if tags|length %}
        <div class="labels">
          Tags:
          {% for t in tags %}
            <a class="tag" style="background-color: {{ t.color }};" rel="tag">
              <span class="tag-icon" rel="{{ t.__class__.__name__ }}" title="{{ t.id }}"></span>
              <span>{{ t.name_en }}&nbsp;&nbsp;</span>
            </a>
          {% endfor %}
        </div>
      {% endif %}
      <div class="question_attr">
        <div class="userpic" style="background-image: url('{{ q.user.avatar(50) }}')"></div>
        Asked by <a href="{{ url_for('account.user', nickname=q.user.nickname) }}">{{q.user.fullname}}</a> {{ momentjs(q.timestamp).fromNow() }}
      </div>
    </div>
    
  </div>

  <div class="answer darkbox">
    {% if q.status_notes %}
      {{ q.status_notes|safe }}
    {% else %}
      Sabrina has not answered this question yet. Feel free to start the conversation below.
    {% endif %}
    <div id="answer_sabrina"></div>
  </div>
  
  {% if q.replies.all()|length %}
  <h2 style="margin-left:12px;">Responses</h2>
  <div id="responses">
    
    {% for r in q.replies %}
      <div class="question darkbox">
        
        <div class="vote_block">
          <div class="vote_count">{% if r.votes.all()|length %}{{ r.votes.count() }}{% else %}0{% endif %}</div>
          <div class="vote_label">votes</div>
          <a class="vote_down" href="{{ url_for('ask.reply_flag', id=r.id) }}">
            <i class="icon-flag"></i>
          </a>
          <a class="vote_up" href="{{ url_for('ask.reply_vote', id=r.id) }}">
            <i class="icon-thumbs-up"></i>
          </a>
        </div>
    
        <div class="question_preview{% if r.id != r.parent_id %} child{% endif %}">
          {{ r.body|safe }}
          <div class="question_attr">
            <div class="userpic" style="background-image: url('{{ r.user.avatar(50) }}')"></div>
            <a href="{{ url_for('account.user', nickname=r.user.nickname) }}">{{r.user.fullname}}</a> {{ momentjs(q.timestamp).fromNow() }}
          </div>
        </div>
    
        {% if r.id == r.parent_id %}
          {% include 'ask/snippets/reply_form.html' %}
        {% endif %}
    
      </div>
    {% endfor %}
    
  </div>
  {% endif %}

  {% endwith %}

  <h2 style="margin-left:12px;">New Response</h2>
  <div class="reply darkbox">
    {% include 'ask/snippets/reply_form.html' %}
  </div>
  
  </div>
  
</div>

{% endblock %}

{% block js %}

<!-- wysihtml5 parser rules -->
<script src="/static/js/libs/wysihtml5-parser_rules-advanced.js"></script>
<!-- wysihtml5 library -->
<script src="/static/js/libs/wysihtml5-0.3.0.min.js"></script>
<script>
var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
  toolbar:      "wysihtml5-toolbar", // id of toolbar element
  parserRules:  wysihtml5ParserRules, // defined in parser rules set 
  stylesheets: ["/static/css/libs/wysihtml5.stylesheet.css"]
});

// Voting!
d3.selectAll(".vote_up").on(vizwhiz.evt.click, function(){
  var link_el = this;
  d3.json(link_el.href, function(resp){
    if(resp.error) {
      alert(resp.error)
    }
    else {
      d3.select(link_el.parentNode).select(".vote_count").text(function(){
        var new_count = 1
        if(d3.select(this).text()){
          console.log('nope!!', d3.select(this).text())
          new_count = parseInt(d3.select(this).text(), 10) + parseInt(resp.success);
        }
        return new_count;
      })
    }
  })
  d3.event.preventDefault();
})

// Flagging :(
d3.selectAll(".vote_down").on(vizwhiz.evt.click, function(){
  var link_el = this;
  d3.json(link_el.href, function(resp){
    if(resp.error) {
      alert(resp.error)
    }
    else {
      if(parseInt(resp.success) > 0){
        d3.select(link_el).style("color", "#be1e2d")
      }
      else {
        d3.select(link_el).style("color", "#333333")
      }
    }
  })
  d3.event.preventDefault();
})
 
// add icons to tags!
d3.selectAll(".tag-icon").style("background-image", function(){
  var tag_el = d3.select(this);
  return "url('"+visual.icon(tag_el.attr("title"), tag_el.attr("rel").toLowerCase()) + "')"
})

// show/hide reply form
d3.selectAll("button.reply").on(vizwhiz.evt.click, function(){
  var reply_form = d3.select(this.parentNode).select(".reply_form")
  if(reply_form.style("display") == "block"){
    reply_form.style("display", "none")
  }
  else {
    reply_form.style("display", "block")
  }
})

// submit form
d3.selectAll(".reply_form .submit").on(vizwhiz.evt.click, function(){
  this.parentNode.submit()
  d3.event.preventDefault();
})
</script>

{% endblock %}