<!-- extend site layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}Ask Sabrina{% endtrans %}{% endblock %}

{% block head %}

<link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/redactor.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/utils/utils.selector.css" />

{% endblock %}

{% block body %}

<div class="grid5col1">
  <div id="sabrina" class="{{g.sabrina.outfit}} {{g.sabrina.face}} {{g.sabrina.hat}}"></div>
</div>

<div id="submit_column" class="grid5col4">
  <div class="title">
    {% if g.user.is_authenticated() %}
      {% trans %}What would you like to know?{% endtrans %}
    {% else %}
      {% trans %}You need to login for this functionality.{% endtrans %}
    {% endif %}
  </div>
  
  {% if g.user.is_authenticated() %}
    
    <form id="ask_form" action="" method="post">
      {{form.hidden_tag()}}
      <p>
        <h3>{% trans %}Question{% endtrans %}:</h3>
        {{ form.question(size=80, class="ask", placeholder="Ex. Where does the data come from?") }}<br />
        {% for error in form.errors.question %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
  
      <p>
        <h3>{% trans %}Description{% endtrans %}:</h3>
        {{ form.body(id="wysiwyg_textarea", class="ask", placeholder="Enter your text...") }}<br />
        {% for error in form.errors.body %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
  
      <p>
        <label class="leon label" for="app_link">{% trans %}App{% endtrans %}</label>
        {{ form.app(size=80, id="app_link", class="leon text", placeholder="Ex. /tree_map/secex/mg/show/show") }}
      </p>
      <p>
        <h3>{% trans %}Tags{% endtrans %}:</h3>
        {{ form.tags(size=80, class="ask", id="tag_field") }}
        <div id="tag_input"></div>
      </p>
      
      <a href="#" class="submit">
        <div class="decision">
          <div class="text">{% trans %}Ask Sabrina{% endtrans %}!</div>
          <div class="arrow"></div>
        </div>
      </a>
      
    </form>
    
  {% else %}
    <a id="login" class="decision" onclick="login()">{% trans %}Click here to login{% endtrans %}</a>
  {% endif %}
  
</div>

<div id="poptest"></div>
{% endblock %}

{% block js %}

<!-- Redactor is here -->
<script src="/static/js/libs/jquery-1.9.0.min.js"></script>
<script src="/static/js/libs/redactor.min.js"></script>
<script src="/static/js/utils/utils.selector.js"></script>
<script>
  
  // Initialize redactor wysiwyg textarea
  $(document).ready(function() {

      var buttons = ['bold', 'italic', 'underline', 'deleted', '|', 'link']
  		$('#wysiwyg_textarea').redactor({
        buttons: buttons 
  		});

  });
  
  // submit form
  d3.selectAll("#ask_form .submit").on(vizwhiz.evt.click, function(){
    this.parentNode.submit()
    d3.event.preventDefault();
  })
  
  
  var attr_url = "/attrs/filter/";
  
  // Used whenever any filter is changed
  function select_filter(obj) {
    visual.popover.hide();
    
    // add this to the input (for submission)
    d3.select("#tag_field").attr("value", function(){
      var tag = obj.type+":"+obj.id;
      if(this.value){
        return this.value + "," + tag;
      }
      return tag;
    })
    
    var tag = d3.select("#tag_input")
      .append("span")
      .attr("class", "tag")
      .style("background-color", obj.color)
      .on(vizwhiz.evt.click, function(){
        this.remove()
        d3.event.stopPropagation();
      })
    
    tag.append("span")
      .attr("class", "tag-icon")
      .style("background-image", "url(" + obj.icon + ")")
    tag.append("span").html(obj.name+"&nbsp;&nbsp;")
    tag.append("a").attr("class", "tag-delete").append("i").attr("class", "icon-remove-sign")
    
  }
  
  
  var select_id = "current_selector"
  var selector = Selector()
    .callback("select_filter")
    .type("bra");
  
  function update_selector(val){
    var selection_type = val ? val : "bra";
    d3.select("#"+select_id)
      .call(selector.type(selection_type));
    
  }
  
  function multi_selector(d){
    
    var btn_cont = this.append("div")
      .style("height", "4%")
      .style("padding-top", "1%")
      .style("background-color","#333")
      .style("text-align","center")
    
    var btns = ["bra","wld","hs","isic","cbo"]
    
    btns.forEach(function(b,i){
      btn_cont.append("label")
        .attr("for",b)
        .text(visual.format.text(b))
      var radio = btn_cont.append("input")
        .attr("value",b)
        .attr("type","radio")
        .attr("name","select_radios")
        .attr("onclick","update_selector(this.value)")
      if (i == 0) radio.attr("checked","checked")
    })
    
    // visual.toggle("select_radios")
    
    this.append("div")
      .attr("id", select_id)
      .style("height", "95%")
    
    update_selector("bra")
  }
  
  var id = "popover"
  if (d3.select("#"+id).empty()) {
    
    visual.popover.create({
      "id": id,
      "width": "50%",
      "height": "80%"
    })
    
    d3.select("#"+id)
      .append("div")
      .attr("id", "multi_selector")
      .style("height", "100%")
      .call(multi_selector)
    
  }
  
  d3.select("#tag_input").on(vizwhiz.evt.click, function(){
    visual.popover.show("#"+id);    
  })


</script>

{% endblock %}