<!-- extend site layout -->
{% extends "templates/site.html" %}

{% block title %}: Ask Sabrina :: Ask Sabrina{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/wysihtml5.stylesheet.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/static/css/utils/utils.selector.css" />

{% endblock %}

{% block body %}
<div id="sabrina_ask" class="grid5col1"></div>
<div id="submit_column" class="grid5col4">
  <div class="title">
    <div class="arrow"></div>
    {% if g.user.is_authenticated() %}
    <div class="text">What would you like to know?</div>
    {% else %}
    <div class="text">You need to login for this functionality.</div>
    {% endif %}
  </div>
  {% if g.user.is_authenticated() %}
  {% include 'ask/snippets/question_form.html' %}
  {% else %}
  <a id="login" href="#" onclick="login()">
    <div class="decision">
      <div class="text">
        <div class="question_preview">
          <h2>Click here to login</h2>
        </div>
      </div>
      <div class="arrow"></div>
    </div>
  </a>
  {% endif %}
</div>

<div id="poptest"></div>
{% endblock %}

{% block js %}
<!-- wysihtml5 parser rules -->
<script src="/static/js/libs/wysihtml5-parser_rules-advanced.js"></script>
<!-- wysihtml5 library -->
<script src="/static/js/libs/wysihtml5-0.3.0.min.js"></script>
<script src="/static/js/utils/utils.selector.js"></script>
<script>

  var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
    toolbar:      "wysihtml5-toolbar", // id of toolbar element
    parserRules:  wysihtml5ParserRules, // defined in parser rules set 
    stylesheets: ["/static/css/libs/wysihtml5.stylesheet.css"]
  });
  
  var attr_url = "/attrs/filter/";
  
  // Used whenever any filter is changed
  function select_filter(obj) {
    visual.popover.hide();
    
    // add this to the input (for submission)
    d3.select("#tag_field").attr("value", function(){
      var tag = obj.type+":"+obj.id;
      if(this.value){
        return this.value + "," + tag;
      }
      return tag;
    })
    
    var tag = d3.select("#tag_input")
      .append("span")
      .attr("class", "tag")
      .style("background-color", obj.color)
      .on(vizwhiz.evt.click, function(){
        this.remove()
        d3.event.stopPropagation();
      })
    
    tag.append("span")
      .attr("class", "tag-icon")
      .style("background-image", "url(" + obj.icon + ")")
    // obj.display_id
    tag.append("span").html(obj.name+"&nbsp;&nbsp;")
    tag.append("a").attr("class", "tag-delete").append("i").attr("class", "icon-remove-sign")
    
  }
  
  
  var select_id = "current_selector"
  var selector = Selector()
    .callback("select_filter")
    // .language("en")
    .type("bra");
  
  function update_selector(val){
    var selection_type = val ? val : "bra";
    d3.select("#"+select_id)
      .call(selector.type(selection_type));
    
  }
  
  function multi_selector(d){
    
    var btn_cont = this.append("div")
      .style("height", "4%")
      .style("padding-top", "1%")
      .style("background-color","#333")
      .style("text-align","center")
    
    var btns = ["bra","wld","hs","isic","cbo"]
    
    btns.forEach(function(b,i){
      btn_cont.append("label")
        .attr("for",b)
        .text(visual.format.text(b))
      var radio = btn_cont.append("input")
        .attr("value",b)
        .attr("type","radio")
        .attr("name","select_radios")
        .attr("onclick","update_selector(this.value)")
      if (i == 0) radio.attr("checked","checked")
    })
    
    // visual.toggle("select_radios")
    
    this.append("div")
      .attr("id", select_id)
      .style("height", "95%")
    
    update_selector("bra")
  }
  
  var id = "popover"
  if (d3.select("#"+id).empty()) {
    
    visual.popover.create({
      "id": id,
      "width": "50%",
      "height": "80%"
    })
    
    d3.select("#"+id)
      .append("div")
      .attr("id", "multi_selector")
      .style("height", "100%")
      .call(multi_selector)
    
  }
  
  d3.select("#tag_input").on(vizwhiz.evt.click, function(){
    visual.popover.show("#"+id);    
  })


</script>

{% endblock %}