<!-- extend site layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}Ask Sabrina{% endtrans %}{% endblock %}

{% block head %}

<link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/redactor.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/utils/utils.selector.css" />

{% endblock %}

{% block body %}

<div id="fullscreen"></div>

<div class="grid5col1">
  <div class="lightbox bubble">
    <h1>
      {% if g.user.is_authenticated() %}
        {% trans %}What would you like to know?{% endtrans %}
      {% else %}
        {% trans %}You need to login for this functionality.{% endtrans %}
      {% endif %}
    </h1>
  </div>
  <div id="sabrina" class="{{g.sabrina.outfit}} {{g.sabrina.face}} {{g.sabrina.hat}}"></div>
</div>

<div id="submit_column" class="grid5col4 lightbox">
  
  {% if g.user.is_authenticated() %}
    
    <form id="ask_form" action="" method="post">
      {{form.hidden_tag()}}
        <label for="question">{% trans %}Question{% endtrans %}</label>
        {{ form.question(id="question", placeholder="Ex. Where does the data come from?") }}
        {% for error in form.errors.question %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
  
        {{ form.body(id="wysiwyg_textarea") }}
        {% for error in form.errors.body %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        
        <label for="app_link">{% trans %}App{% endtrans %}</label>
        {{ form.app(id="app_link", placeholder="Ex. /tree_map/secex/mg/show/show") }}
        
        <label for="tag_field" class="leon label large">{% trans %}Tags{% endtrans %}</label>
        {{ form.tags(id="tag_field") }}
        <div id="tag_input" class="leon textbox large"></div>
      
      <a href="#" class="submit">
        <div class="decision">
          <div class="text">{% trans %}Ask Sabrina{% endtrans %}!</div>
          <div class="arrow"></div>
        </div>
      </a>
      
    </form>
    
  {% else %}
    <a id="login" class="decision" onclick="login()">{% trans %}Click here to login{% endtrans %}</a>
  {% endif %}
  
</div>

<div id="poptest"></div>
{% endblock %}

{% block js %}

<!-- Redactor is here -->
<script src="/static/js/libs/jquery-1.9.0.min.js"></script>
<script src="/static/js/libs/redactor.min.js"></script>
<script src="/static/js/utils/utils.selector.js"></script>
<script>

  leon("#question").size("large").color(visual.color)
  leon("#app_link").size("large").color(visual.color)
  
  // Initialize redactor wysiwyg textarea
  $(document).ready(function() {

      var buttons = ['bold', 'italic', 'underline', 'deleted', '|', 'link']
  		$('#wysiwyg_textarea').redactor({
        buttons: buttons 
  		});

  });
  
  // submit form
  d3.selectAll("#ask_form .submit").on(vizwhiz.evt.click, function(){
    this.parentNode.submit()
    d3.event.preventDefault();
  })
  
  
  var attr_url = "/attrs/filter/";
  
  // Used whenever any filter is changed
  function select_filter(obj) {
    
    visual.popover.hide();
    
    // add this to the input (for submission)
    d3.select("#tag_field").attr("value", function(){
      var tag = obj.type+":"+obj.id;
      if(this.value){
        return this.value + "," + tag;
      }
      return tag;
    })
    
    var tag = d3.select("#tag_input")
      .append("span")
      .attr("class", "tag")
      .style("background-color", obj.color)
      .style("color", vizwhiz.utils.text_color(obj.color))
      .on(vizwhiz.evt.click, function(){
        this.remove()
        d3.event.stopPropagation();
      })
    
    tag.append("span")
      .attr("class", "tag-icon")
      .style("background-image", "url(" + obj.icon + ")")
    tag.append("span").html(obj.name+"&nbsp;&nbsp;")
    tag.append("a").attr("class", "tag-delete").append("i").attr("class", "icon-remove-sign")
    
  }
  
  
  var select_id = "current_selector"
  var selector = Selector()
    .callback(select_filter)
    .type("bra");
  
  function update_selector(val){
    var selection_type = val ? val : "bra";
    d3.select("#"+select_id)
      .call(selector.type(selection_type));
    
  }
  
  function multi_selector(d){
    
    var btn_cont = this.append("div")
      .attr("id","button_container")
    
    var btns = ["bra","wld","hs","isic","cbo"]
    
    btns.forEach(function(b,i){
      btn_cont.append("label")
        .attr("for",b)
        .text(visual.format.text(b))
      var radio = btn_cont.append("input")
        .attr("value",b)
        .attr("id",b)
        .attr("type","radio")
        .attr("name","select_radios")
        .attr("onclick","update_selector(this.value)")
      if (i == 0) radio.attr("checked","checked")
    })
    
    leon("$select_radios").color(visual.color)
    
    this.append("div")
      .attr("id", select_id)
    
    update_selector("bra")
  }
  
  var id = "popover"
  
  
  
  d3.select("#tag_input").on(vizwhiz.evt.click, function(){
    
    if (d3.select("#multi_selector").empty()) {
    
      visual.popover.create({
        "id": id,
        "width": 500,
        "height": 500,
        "color": visual.color
      })
    
      d3.select("#"+id)
        .append("div")
        .attr("id", "multi_selector")
        .call(multi_selector)
    
    }
    
    visual.popover.show("#"+id);    
  })


</script>

{% endblock %}