<!-- extend site layout -->
{% extends "templates/site.html" %}

{% block title %}: Ask Sabrina{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/wysihtml5.stylesheet.css" />
{% endblock %}

{% block body %}
<div class="lab_background">
<div id="sabrina_ask" class="grid5col1"></div>
<div class="grid5col4">
  <div class="question">
    <div class="arrow"></div>
    <div class="text">What can I help you with?</div>
  </div>
    {{ search_form.search(size=80, id='search', class='ask', placeholder="Search here...") }}
    <div class="hide"><h3>Search Results</h3></div>
    <div id="results"></div>
      
    <div id="recent">
      <div id="order_toggle">
        <legend>Order by</legend>
        <input type="radio" name="order" value="votes" onclick="change_order(this.value)" {% if pagination.order == "votes" %}checked{% endif %}>
        <label for="votes">Top Rated</label>
        <input type="radio" name="order" value="newest" onclick="change_order(this.value)" {% if pagination.order == "newest" %}checked{% endif %}>
        <label for="newest">Newest</label>
      </div>
      <h3>{% if pagination.order == "newest" %}Most Recent{% else %}Top Rated{% endif %} Questions</h3>
      
      {% for q in questions %}
      {% include 'ask/snippets/question.html' %}
      {% endfor %}

      <div class="pagination">
        {% if pagination.has_prev %} <a class="button" href="{{ url_for('ask.index', page=pagination.page-1) }}?results_per_page={{pagination.per_page}}&order={{pagination.order}}">&laquo; Previous</a> {% endif %}
        {% for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
              <a class="button" href="{{ url_for('ask.index', page=page) }}?results_per_page={{pagination.per_page}}&order={{pagination.order}}">{{ page }}</a>
            {% else %}
              <strong class="button current_page">{{ page }}</strong>
            {% endif %}
          {% else %}
            <span class=ellipsis>…</span>
          {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <a class="button" href="{{ url_for('ask.index', page=pagination.page+1) }}?results_per_page={{pagination.per_page}}&order={{pagination.order}}">Next &raquo;</a>
        {% endif %}
      </div>        
    </div>
    <div class="hide">
     <a href="/ask_sabrina/ask/">
       <div class="help">
         <div class="text">
           <h2>Cannot find your answer here?</h2>
           <p>Submit your question to Escritorio!</p>
         </div>
         <div class="arrow"></div>
       </div>
     </a>
    </div>
</div>
</div>
{% endblock %}

{% block js %}

  <!-- wysihtml5 parser rules -->
  <script src="/static/js/libs/wysihtml5-parser_rules-advanced.js"></script>
  <!-- wysihtml5 library -->
  <script src="/static/js/libs/wysihtml5-0.3.0.min.js"></script>
  
  <script>
  
  visual.sabrina({
    "div": d3.select("#sabrina_ask"),
    "outfit": "lab",
    "emotion": "surprised",
  	"hat": "glasses"
  })
  
  function change_order(order) {
    window.location = "{{ url_for('ask.index') }}?results_per_page={{pagination.per_page}}&order="+order;
  }
  
  document.getElementById("search").oninput = function(e){
    var search_term = this.value;
  
    d3.select("#recent").style("display", "none")
    d3.selectAll(".hide").style("display", "block")
    if(search_term == ""){
      d3.select("#recent").style("display", "block")
      d3.selectAll(".hide").style("display", "none")
      visual.resize()
      return;
    }
  
    d3.json("{{ url_for('ask.question_search') }}?q="+search_term, function(results){
      
      // clear previous results
      document.getElementById("results").innerHTML = ""
    
      // loop through each result and append to page
      results.matches.forEach(function(match){
        var match_el = d3.select("#results")
        var anchor = match_el.append("a")
            anchor.attr("href", "/ask_sabrina/question/" + match.slug)
            var decision = anchor.append("div")
                  .attr("class", "decision")
            var text = decision.append("div").attr("class", "text")
            var votes = text.append("div").attr("class", "number_votes") 
                votes.append("span").attr("class", "vote_count")
                .text(match.votes)
                votes.append("div").attr("class", "vote_label")
                .html("votes")
            var question_prev = text.append("div").attr("class", "question_preview")
                question_prev.append("h2")
                  .html(match.question)
                question_prev.append("p")
                  .html(match.status_notes)
            var posted = question_prev.append("div").attr("class", "posted")
                  .html("Asked by " + match.user + " " + moment(match.timestamp).fromNow())
            decision.append("div").attr("class", "arrow")
       })
       visual.resize()
    })
  }
  visual.toggle("order");
  visual.resize()
</script>

{% endblock %}