<!-- extend site layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}Ask Sabrina{% endtrans %}{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

  <div id="fullscreen"></div>
  
  <div class="grid5col1">
    <div class="lightbox bubble"><h1>{% trans %}What would you like to know?{% endtrans %}</h1></div>
    <div id="sabrina" class="{{g.sabrina.outfit}} {{g.sabrina.face}} {{g.sabrina.hat}}"></div>
  </div>

  <div class="grid5col4">
    <div id="list_header" class="lightbox">
      <div id="list_title"><h1></h1></div>
    
      <div id="order_toggle">
        <legend id="order">{% trans %}Order{% endtrans %}</legend>
        <input type="radio" name="order" value="votes" id="votes" onclick="change_order(this.value)" checked="checked">
        <label for="votes">{% trans %}Top Voted{% endtrans %}</label>
        <input type="radio" name="order" value="newest" id="newest" onclick="change_order(this.value)">
        <label for="newest">{% trans %}Newest{% endtrans %}</label>
      </div>
    

      {{ search_form.search(size=80, id='search', placeholder="Search") }}
    
    </div>
      
    <div id="recent">

      <div class="question_feed"></div>

      <a {% if g.user.is_authenticated() %}href="/ask/ask/"{%else%}onclick="login()"{%endif%} class="help">
        <div>
          <h1>{% trans %}Cannot find your answer here?{% endtrans %}</h1>
          {% trans %}Submit your question to Escritorio!{% endtrans %}
        </div>
      </a>
      
    </div>
  </div>

{% endblock %}

{% block js %}

  <script src="/static/js/utils/utils.infinite_scroll.js"></script>
  <script>

    var order = d3.select('input[name="order"]:checked').attr("value"),
        search_term = null;
      
    leon("$order").color(visual.color)
    leon("#search").color(visual.color).size("large")

    function change_order(new_order){
      order = new_order;
      var url = window.location.href + "?order=" + order;
      if(search_term){
        url += "&q=" + search_term;
      }
      d3.select("#list_title h1").text(visual.format.text(order))
      d3.select(".question_feed").html('')
        .call(is.url(url).offset(0).remove(true))
    }

    function item_formatter(container_el, activities, offset){
  
      var formatDate = d3.time.format("%B %-d, %Y"),
          parseDate = d3.time.format.iso.parse;
  
      var acts = d3.select(container_el).selectAll(".activity")
        .data(activities, function(d){ return d.id; })
    
      var activities_enter = acts
        .enter().insert("a", "div.infinite_loading")
        .attr("class", "decision question")
        .attr("href", function(d){
          return "/ask/question/" + d.slug;
        })
  
      var votes_div = activities_enter.append("div")
        .attr("class", "vote_block")

      votes_div.append("div")
        .attr("class", "vote_count")
        .text(function(d){ return d.votes })
      
      votes_div.append("div")
        .attr("class", "vote_label")
        .text(visual.format.text("points"))

      
      // lastly, the div that holds the data
      var question_div = activities_enter
  
      question_div.append("h1")
        .text(function(d){ return d.question })
  
      question_div.each(function(d){
          if(d.status_notes){
            d3.select(this).append("div")
              .text(function(){
                return "Sabrina: \"" +d.status_notes.replace(/<\/?[^>]+(>|$)/g, "").truncate(300) + "\""
              })
          }
        })

      question_div.append("div")
        .attr("class", "question_attr")
        .html(function(d){ 
          var user_link = "<a href='/account/" + d.user.nickname + "'>" + d.user.fullname + "</a>"
          return visual.format.text("Asked by") + " " + user_link + " " + moment(d.timestamp).fromNow();
        })

      acts.exit().remove()

    }

    var is = infinite_scroll()
              .url(window.location.href)
              .format_items(item_formatter);

    change_order(order)

    d3.select("#search").on("input", function(e){

      search_term = this.value;
      console.log(search_term)
      var url = window.location.href + "?q=" + search_term + "&order=" + order;
      d3.select(".question_feed").html('')
        .call(is.url(url).offset(0).remove(true))

    })

  </script>


{% endblock %}