<!-- extend from site layout -->
{% extends "templates/site.html" %}

{% block title %}: {{ title }}{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.data.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.tables.css" />

{% endblock %}

{% block body %}
<div class="grid1">
  
  <div id="dynamic_header">
    
    <h1>{{ title }}</h1>
  
    <div class="data_depth">
      <legend id="depth">{% trans %}Depth{% endtrans %}</legend>
      {% for d in depths %}
        <input type="radio" name="depth" id="{{ d }}" value="{{ d }}" onclick="update_depth(this.value)"{% if d == depth %} checked{% endif %}>
        <label for="{{ d }}"></label>
      {% endfor %}
    </div>
    

    <table>
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  
  </div>

  <div id="results">
    <table>
      <tbody>
      </tbody>
    </table>
  </div>
  
  
</div>

{% endblock %}

{% block js %}

  <script src="/static/js/utils/utils.infinite_scroll.js"></script>

  <script>
  
    // console.log("{{classification}}")
  
    d3.select(".data_depth").selectAll("label")
      .html(function(){
        return dataviva.format.text("{{page_attr}}_"+this.getAttribute("for"))
      })
  
    leon("$depth").color(dataviva.color)
    
    var keys = ["icon","id","name_"+dataviva.language,"color"]
    
    function update_depth(depth){
      var new_page_url = "{{ url_for('data.classifications', attr=page_attr) }}all/";
      new_page_url = new_page_url.replace("all", depth)
      window.location = new_page_url
    }

    function item_formatter(container_el, dataset){
  
      var tbody = d3.select(container_el).select("tbody")
      
      var headers = []
      
      // create a row for each object in the data
      var x = 1;
      var rows = tbody.selectAll("tr").data(dataset, function(d){ x++; return d ? d.id : x })
      var rows_enter = rows.enter().append("tr").attr("class","link")
        .each(function(d){
          var row = d3.select(this)
            .on(vizwhiz.evt.click,function(){
              window.location = "/profiles/"+d.attr_type+"/"+d.id
            })
          keys.forEach(function(key){
            var col = row.append("td")
              .attr("class",key)
            
            if (key == "icon") {
              col.append("div")
                .style("background-image","url('"+dataviva.icon(d.id, d.attr_type) + "')")
                .style("background-color", function(dd){
                  if (d.attr_type == "bra" || (d.attr_type == "wld" && d.id.length == 5)) {
                    return "transparent"
                  }
                  else return d.color
                })
                .attr("title", d.id)
            }
            else {
              col.text(d[key])
            }
            
          })
          
        });
      
      d3.select("tbody tr").selectAll("td")
        .each(function(d){
          var key = this.className,
              width = parseFloat(d3.select(this).style("width"),10)
          headers.push({"width": width, "id": key})
        })
      

      var ths = d3.select("thead").select("tr").selectAll("th")
        .data(headers, function(d){return d.id})
        
      ths.enter().append("th")
      
      ths
        .style("width",function(d){return d.width+"px"})
        .attr("class",function(d){return d.id})
        .text(function(d){return dataviva.format.text(d.id)})
  

    }

    var is = infinite_scroll().format_items(item_formatter);
    d3.select("#results").call(is)

  </script>

{% endblock %}