{% extends "templates/site.html" %}

{% block title %}: {% trans %}Data{% endtrans %}{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.data.css" />

{% endblock %}

{% block body %}
    
  <div class="darkbox">
    <h1>{% trans %}How do you want to access the data?{% endtrans %}</h1>
  </div>
  <br>
  <a href="{{ url_for('data.query') }}" class="decision icon square database">
    <h1>{% trans %}Database{% endtrans %}</h1>
    {% trans %}Custom data queries of our database.{% endtrans %}
  </a>
  <a href="{{ url_for('data.classifications') }}" class="decision icon square source">
    <h1>{% trans %}Source List{% endtrans %}</h1>
    {% trans %}Browse the various classifications.{% endtrans %}
  </a>
  
{% endblock %}
