{% extends "templates/site.html" %}

{% block title %}: {% trans %}Database Query{% endtrans %}{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.data.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/static/css/utils/utils.selector.css" />

{% endblock %}

{% block body %}

<div id="filter_selects" class="lightbox">
  <div id="nav_sidebar">

    <!-- DATASET CHOOSER -->
    <div class="datasets">
      <legend for="dataset_select">{% trans %}Dataset{% endtrans %}</legend>
      <select id="dataset_select">
        {%- for d in datasets %}
        <option value="{{ d[0] }}" {% if output.dataset == d %}selected="selected"{% endif %}>{{ d[1] }}</option>
        {%- endfor %}
      </select>
    </div>

    <!-- YEAR / MONTH FILTERS -->
    <div class="time">
      {%- for d in datasets %}
      <div class="{{ d[0] }} year" {% if output.dataset != d %}style="display:none;"{% endif %}>
        <legend for="{{ d[0] }}_year_select">{% trans %}Time{% endtrans %}</legend>
        <select id="{{ d[0] }}_year_select">
          <option value="all">{% trans %}All Years{% endtrans %}</option>
          {%- for y in d[2] %}
          <option value="{{ y }}" {% if output.year == y %}selected="selected"{% endif %}>{{ y }}</option>
          {%- endfor %}
        </select>
      </div>
      {%- if d[3] %}
      <div class="{{ d[0] }} month" {% if output.dataset != d %}style="display:none;"{% endif %}>
        <select>
          <option value="0">{% trans %}Yearly{% endtrans %}</option>
          {%- for m in d[3] %}
          <option value="{{ m[0] }}" {% if output.month == m[0] %}selected="selected"{% endif %}>{{ m[1] }}</option>
          {%- endfor %}
        </select>
      </div>
      {%- endif %}
      {%- endfor %}
    </div>
    <hr />

    <!-- SELECTED FILTERS -->
    <div class="selected_filters">
      {%- if output.filters %}
        {%- for f in output.filters %}
        <div class="selected_filter {{ f.datasets }}" data-type="{{ f.id }}" data-value="{{ f.filter.id }}">
          <div class="icon" style="{% if (f.id != 'wld' or (f.id == 'wld' and f.filter.id|count == 2)) and (f.id != 'bra' or (f.id == 'bra' and f.filter.id|count == 1)) %}background-color: {{ f.filter.color }};{% endif %}background-image: url('{{ f.filter.icon() }}');"></div>{{ f.filter.name() }} <i class="fa fa-times-circle remove"></i>
        </div>
        {%- endfor %}
      {%- endif %}
    </div>

    <!-- FILTER CHOOSERS -->
    <div class="filters">
      <div class="section_title">{% trans %}New Filter:{% endtrans %}</div>
      {%- for f in filters %}
      <div class="{{ f.datasets }} filter_button decision short icon {{ f.id }}" data-type="{{ f.id }}">{{ f.name }}</div>
      {%- endfor %}
    </div>
    <hr />

    <!-- OUTPUT -->
    <div class="output">
      {%- for d in datasets %}
      <div class="{{ d[0] }} output_filters" {% if output.dataset != d %}style="display:none;"{% endif %}>
        <legend for="output_select_{{ d[0] }}">{% trans %}Output{% endtrans %}</legend>
        <select id="output_select_{{ d[0] }}">
          {%- for f in filters %}
          {%- if d[0] in f.datasets %}
          <option value="{{ f.id }}" {% if output.output_filter.id == f.id %}selected="selected"{% endif %}>{{ f.name }}</option>
          {%- endif %}
          {%- endfor %}
        </select>
      </div>
      {%- endfor %}
      {%- for f in filters %}
      <div class="output_nesting {{ f.id }}" {% if output.output_filter.id != f.id %}style="display:none;"{% endif %}>
        <legend for="output_nesting_{{ f.id }}">{% trans %}Depth{% endtrans %}</legend>
        <select id="output_nesting_{{ f.id }}">
          {%- for n in f.nestings %}
          <option value="{{ n[0] }}" {% if output.nesting == n[0] %}selected="selected"{% endif %}>{{ n[1] }}</option>
          {%- endfor %}
        </select>
      </div>
      {%- endfor %}
    </div>

    <a class="decision icon database" id="go">
      {% trans %}Run Query{% endtrans %}
    </a>

  </div>
</div>

<div class="lightbox data_table">
  <iframe id="table_frame"></iframe>
</div>

{% endblock %}

{% block js %}
<script src="/static/js/utils/utils.selector.js"></script>
<script type="text/javascript">

/*
  INT PAGE
  Set all the correct filters by introspecting on page to find if output
  info has been supplied.
*/

// find selected dataset
var selected_dataset = d3.select(".datasets select").property("value");
// show / hide filters based on selected dataset
show_hide_filters(selected_dataset);
// Create Filter Selector
dataviva.popover.create({
  "id": "filter_popover",
  "width": 600,
  "height": "80%",
  "close": true
})
var selector = Selector().callback(function(d){

  var t = selector.type();

  var datasets = d3.select(".filters [data-type='"+selector.type()+"']").attr("class");
  datasets = datasets.replace(" filter_button decision short icon", "");
  // window.location = "/profiles/" + selector.type() + "/" + d.id + "/";
  var button = d3.select(".selected_filters").append("div")
    .attr("class", datasets + " selected_filter")
    .attr("data-type", t)
    .attr("data-value", d.id)
    .html(d.name);

  button.append("i")
    .attr("class", "fa fa-times-circle remove")
    .on("click", function(){
      d3.select(this.parentNode).remove();
    })

  var color = (t !== "wld" || (t === "wld" && d.id.length === 2)) &&
              (t !== "bra" || (t === "bra" && d.id.length === 1)) ?
              d.color : "transparent";

  button.append("div")
    .attr("class", "icon")
    .style("background-image", "url('"+d.icon+"')")
    .style("background-color", color);

  dataviva.popover.hide();

});

/*
  PAGE ELEMENT LISTENERS
*/

// listen for when user updates dataset dropdown
d3plus.form()
  .data(".datasets select")
  .focus(undefined, show_hide_filters)
  .draw();

d3.selectAll(".time select").each(function(){
  d3plus.form()
    .data(d3.select(this))
    .search(false)
    .draw();
})

// remove filter if user clicks X
d3.selectAll(".selected_filters .remove").on("click", function(){
  d3.select(this.parentNode).remove();
})

// trigger the selector on click of filters button
d3.selectAll(".filter_button").on("click", function(){
  var attr_type = d3.select(this).attr("data-type");
  d3.select("#filter_popover").call(selector.type(attr_type));
  dataviva.popover.show("#filter_popover");
})

// listen for when user changes output filter to change nestings as well
d3.selectAll(".output_filters select")
  .each(function(){
    d3plus.form()
      .data(d3.select(this))
      .focus(undefined, function(value) {
        d3.selectAll(".output_nesting").style("display", "none");
        d3.select(".output_nesting." + value).style("display", "inline-block");
      })
      .type("drop")
      .draw();
  })

d3.selectAll(".output_nesting select")
  .each(function(){
    d3plus.form()
      .data(d3.select(this))
      .type("drop")
      .draw();
  })

//
d3.select("#go").on("click", function(){
  var url = make_url();
  console.log(url);
  d3.select("#table_frame").attr("src", "/data/table"+url);
})

/*
  PAGE UTILS
*/

// looks at the selected dataset and hides all filters that do not belong
function show_hide_filters(filter){
  // hide everything
  d3.selectAll(".filter_button").style("display", "none");
  d3.selectAll(".selected_filter").style("display", "none");
  d3.selectAll(".output_filters").style("display", "none");
  d3.selectAll(".year").style("display", "none");
  d3.selectAll(".month").style("display", "none");
  // only show what pertains
  d3.selectAll(".filters ."+filter).style("display", "inline-block");
  d3.selectAll(".selected_filter."+filter).style("display", "block");
  d3.selectAll(".output_filters."+filter).style("display", "inline-block");
  d3.selectAll(".year."+filter).style("display", "inline-block");
  d3.selectAll(".month."+filter).style("display", "inline-block");
}
function make_url(){
  var urls = {
    "rais": {"format":"/rais/<time>/<bra>/<cnae>/<cbo>/", "filters":["bra", "cnae", "cbo"], "time":["year"]},
    "secex": {"format":"/secex/<time>/<bra>/<hs>/<wld>/", "filters":["bra", "hs", "wld"], "time":["year", "month"]},
    "hedu": {"format":"/hedu/<time>/<bra>/<university>/<course_hedu>/", "filters":["bra", "university", "course_hedu"], "time":["year"]},
    "sc": {"format":"/sc/<time>/<bra>/all/<course_sc>/", "filters":["bra", "course_sc"], "time":["year"]},
    "ei": {"format":"/ei/<time>/<bra_r>/<bra_s>/all/", "filters":["bra_r", "bra_s"], "time":["year", "month"]},
  }

  var current_dataset = d3.select(".datasets select").property("value");
  var current_url = urls[current_dataset];
  var current_output = d3.select(".output_filters."+current_dataset+" select").property("value");
  var current_nesting = d3.select(".output_nesting."+current_output+" select").property("value");

  var time = []
  current_url.time.forEach(function(t){
    var t = d3.selectAll("."+t+"."+current_dataset+" select").property("value");
    time.push(t)
  })
  current_url.format = current_url.format.replace("<time>", time.join("-"))


  current_url.filters.forEach(function(f){
    filters = []
    d3.selectAll(".selected_filters p[data-type='"+f+"']").each(function(){
      filters.push(d3.select(this).attr("data-value"))
    })
    if(filters.length){
      if(f == current_output){
        current_url.format = current_url.format.replace("<"+f+">", filters.join("_")+".show."+current_nesting)
      }
      else {
        current_url.format = current_url.format.replace("<"+f+">", filters.join("_"))
      }
    }
    else {
      if(f == current_output){
        current_url.format = current_url.format.replace("<"+f+">", "show."+current_nesting)
      }
      else {
        current_url.format = current_url.format.replace("<"+f+">", "all")
      }
    }
  })

  return current_url.format;
}
function table_size() {
  d3.select(".data_table")
    .style("width", window.innerWidth - 330 + "px")
    .style("height", window.innerHeight - 157 + "px")
}

table_size()
dataviva.resize = table_size
d3.select("#go").on("click")();

</script>
{% endblock %}
