{% extends "templates/site.html" %}

{% block title %}: {% trans %}Database Query{% endtrans %}{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.data.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/static/css/utils/utils.selector.css" />
  
{% endblock %}

{% block body %}

<div id="filter_selects" class="lightbox">
    
    <div id="data_toggle">
      <legend id="dataset">{% trans %}Data{% endtrans %}</legend>
      <label for="rais">RAIS</label>
      <input type="radio" name="dataset" value="rais" id="rais" onclick="change_dataset(this.value)" {% if data_type == "rais" %}checked="checked"{% endif %}>
      <label for="secex">SECEX</label>
      <input type="radio" name="dataset" value="secex" id="secex" onclick="change_dataset(this.value)" {% if data_type == "secex" %}checked="checked"{% endif %}>
    </div>
  
    <div id="years_dropdown">
        <select id="year_filter" onchange="">
          <option value="all">{% trans %}All Years{% endtrans %}</option>
          <option value="2002">2002</option>
          <option value="2003">2003</option>
          <option value="2004">2004</option>
          <option value="2005">2005</option>
          <option value="2006">2006</option>
          <option value="2007">2007</option>
          <option value="2008">2008</option>
          <option value="2009">2009</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
        </select>
    </div>

  <!-- 
    ~~~~~~~~
    Selector for Brazilian Locations
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~
  -->
  <a id="location_filter" class="help filter_button active">
    {% trans %}Brazilian Locations{% endtrans %}
  </a>
  <div id="location_add" class="filter_box open">
      
    {% for b in bra %}
    <div id="id_{{ b.id }}" class="filter_item">
      <span class="list_icon" title="{{ b.id }}" data-type="bra" style="background-color:{{b.color}}"></span>
      <span class="filter_title" style="margin-left: 1px;">{{ b.name() }}</span>
      <select id="depth_dropdownmg030000"><option value="8">Municipality</option></select>
      <a onclick="remove_filter(this)"><i class="icon-remove"></i></a>
    </div>
    {% endfor %}
    
    <span class="filler hide">
      {% trans %}Showing all of Brazil at the following depth: {% endtrans %}
      <select class="depth_dropdown">
        <option value="2">States</option>
        <option value="4">Meso Regions</option>
        <option value="8">Municipalities</option>
      </select>
    </span>

    <a name="bra" class="add_filter">{% trans %}add a location{% endtrans %}</a>
      
  </div>
  
  <div id="rais_on" class="filter_container {% if data_type == "rais" %}open{% endif %}">
    
    <!-- 
      ~~~~~~~~
      Selector for Industries
      ~~~~~~~~~~~~~~~~~~~~~~~
      ~~~
    -->    
    <a id="industry_filter" class="help filter_button {% if isic != None %}active{% endif %}">
      {% trans %}Click to show Industries{% endtrans %}
    </a>
    <div id="industry_add" class="filter_box {% if isic != None %}open{% endif %}">
      
      {% if isic %}
      {% for i in isic %}
      <div id="id_{{ i.id }}" class="filter_item">
        <span class="list_icon" title="{{ i.id }}" data-type="isic" style="background-color:{{i.color}}"></span>
        <span class="filter_title" style="margin-left: 1px;">{{ i.name }}</span>
        <a onclick="remove_filter(this)"><i class="icon-remove"></i></a>
      </div>
      {% endfor %}
      {% endif %}
      
      <span class="filler {% if isic %}hide{% endif %}">
        {% trans %}Showing all industries at the following depth:{% endtrans %}
        <select class="depth_dropdown">
          <option value="1">Section</option>
          <option value="3">Division</option>
          <option value="5">Class</option>
        </select>
      </span>
      
      <a name="isic" class="add_filter button">{% trans %}add an industry{% endtrans %}</a>
      
    </div>

    <!-- 
      ~~~~~~~~
      Selector for Occupations
      ~~~~~~~~~~~~~~~~~~~~~~~
      ~~~
    -->       
    <a id="occupation_filter" class="help filter_button {% if cbo != None %}active{% endif %}">
      {% trans %}Click to show Occupations{% endtrans %}
    </a>
    <div id="occupation_add" class="filter_box {% if cbo != None %}open{% endif %}">
      
      {% if cbo %}
      {% for c in cbo %}
      <div id="id_{{ c.id }}" class="filter_item">
        <span class="list_icon" title="{{ c.id }}" data-type="cbo" style="background-color:{{c.color}}"></span>
        <span class="filter_title" style="margin-left: 1px;">{{ c.name }}</span>
        <a onclick="remove_filter(this)"><i class="icon-remove"></i></a>
      </div>
      {% endfor %}
      {% endif %}
      
      <span class="filler {% if cbo %}hide{% endif %}">
        {% trans %}Showing all occupations at the following depth:{% endtrans %}
        <select class="depth_dropdown">
          <option value="1">Main Group</option>
          <option value="2">Principal Subgroup</option>
          <option value="4">Occupation</option>
        </select>
      </span>
      
      
      <a name="cbo" class="add_filter button">{% trans %}add an occupation{% endtrans %}</a>
      
    </div>

    <div id="rais_go" class="decision">{% trans %}Build{% endtrans %}</div>
      
  </div>
  
  <div id="secex_on" class="filter_container {% if data_type == "secex" %}open{% endif %}">

    <!-- 
      ~~~~~~~~
      Selector for Products
      ~~~~~~~~~~~~~~~~~~~~~
      ~~~
    -->  
    <a id="product_filter" class="help filter_button {% if hs != None %}active{% endif %}">
      {% trans %}Products{% endtrans %}
    </a>
    <div id="product_add" class="filter_box {% if hs != None %}open{% endif %}">
      
      {% if hs %}
      {% for p in hs %}
      <div id="id_{{ p.id }}" class="filter_item">
        <span class="list_icon" title="{{ p.id }}" data-type="hs" style="background-color:{{p.color}}"></span>
        <span class="filter_title" style="margin-left: 1px;">{{ p.name }}</span>
        <a onclick="remove_filter(this)"><i class="icon-remove"></i></a>
      </div>
      {% endfor %}
      {% endif %}
      
      <span class="filler {% if hs %}hide{% endif %}">
        {% trans %}Showing all products at the following depth:{% endtrans %}
        <select class="depth_dropdown">
          <option value="2">Section</option>
          <option value="4">Chapter</option>
          <option value="6">Division</option>
        </select>
      </span>
      
      
      <a name="hs" class="add_filter button">{% trans %}add a product{% endtrans %}</a>
      
    </div>

    <!-- 
      ~~~~~~~~
      Selector for Trade Partner
      ~~~~~~~~~~~~~~~~~~~~~~~~~~
      ~~~
    -->      
    <a id="country_filter" class="help filter_button {% if wld != None %}active{% endif %}">
      {% trans %}Click to show Export Destinations{% endtrans %}
    </a>      
    <div id="country_add" class="filter_box {% if wld != None %}open{% endif %}">
      
      {% if wld %}
      {% for c in wld %}
      <div id="id_{{ c.id }}" class="filter_item">
        <span class="list_icon" title="{{ c.id }}" data-type="wld" style="background-color:{{c.color}}"></span>
        <span class="filter_title" style="margin-left: 1px;">{{ c.name }}</span>
        <a onclick="remove_filter(this)"><i class="icon-remove"></i></a>
      </div>
      {% endfor %}
      {% endif %}
      
      <span class="filler {% if wld %}hide{% endif %}">
        {% trans %}Showing all countries at the following depth:{% endtrans %}
        <select class="depth_dropdown">
          <option value="2">Continent</option>
          <option value="5">Country</option>
        </select>
      </span>
      
      
      <a name="wld" class="add_filter button">{% trans %}add an export destination{% endtrans %}</a>
      
    </div>
    
    <div id="secex_go" class="decision">{% trans %}Build{% endtrans %}</div>
      
  </div>
  
  <hr>
  
  <div id="download" class="decision icon csv">{% trans %}Download{% endtrans %}</div>
  
  <a id="column_filter" class="help filter_button active">
    {% trans %}Columns{% endtrans %}
  </a> 
  <div id="columns_add" class="filter_box open">
    
    <a>test</a>
    <a>test</a>
    <a>test</a>
    
  </div>
    
</div>

<div class="data_table"></div>

<script src="/static/js/utils/utils.selector.js"></script>
<!-- <script src="/static/js/utils/utils.infinite_scroll.js"></script> -->
<script type="text/javascript">

  leon("$dataset").color(dataviva.color)
  leon("#year_filter").color(dataviva.color)

  var CURRENT_DATASET = d3.select("input[name='dataset']:checked").attr("value");

  // var is = infinite_scroll().format_items(item_formatter);

  // add icons to tags!
  d3.selectAll(".list_icon")
    .style("background-image", function(){
      var id = d3.select(this).attr("title")
      var type = d3.select(this).attr("data-type")
      return "url('"+ dataviva.icon(id, type) + "')"
    })
  
  // Toggling between datasets (RAIS & SECEX)
  function change_dataset(value){
    if(value == "secex"){
      d3.selectAll("#secex_on").style("display", "block")
      d3.selectAll("#rais_on").style("display", "none")
    }
    else if(value == "rais"){
      d3.selectAll("#secex_on").style("display", "none")
      d3.selectAll("#rais_on").style("display", "block")
    }
    
  }
  
  // Download the data
  d3.selectAll("#download").on(vizwhiz.evt.click, function(){
    
	var data_url = is.url().split("?")[0]
 	window.location = data_url + "?download"
    
  })


  // Turning on button filters
  d3.selectAll(".filter_button").on(vizwhiz.evt.click, function(){
    
    var classes = d3.select(this).attr("class");
    var add_container = d3.select("#" + this.id.split("_")[0] + "_add")
    var add_container_classes = add_container.attr("class")
    
    // turning active off
    if(classes.indexOf("active") > -1){
      d3.select(this).attr("class", classes.replace("active"))
      add_container.attr("class", add_container_classes.replace("open"))
      d3.select(this).text("Click to show " + d3.select(this).text())
    }
    // making active
    else {
      d3.select(this).attr("class", classes + " active")
      add_container.attr("class", add_container_classes + " open")
      d3.select(this).text(d3.select(this).text().replace("Click to show", ""))
    }
    
  })
  
  // adding a filter
  dataviva.popover.create({
    "id": "popover",
    "type": "bra",
    "width": "50%",
    "height": "80%"
  })
  var nd = d3.select("#popover")
    .append("div")
    .style("height", "100%")

  var selector = Selector()
    .callback(add_filter);

  d3.selectAll(".add_filter").on(vizwhiz.evt.click, function(){
    var selector_type = d3.select(this).attr("name")
    nd.call(selector.type(selector_type));
    dataviva.popover.show("#popover");
  })
  
  function add_filter(obj){
    
    var add_btn = "a[name='" + selector.type() + "']"
    var cont = d3.select(add_btn).node().parentNode;
    dataviva.popover.hide();
    
    // remove filler text
    d3.select(cont).selectAll("span.filler").attr("class","filler hide")
    
    if (!d3.select(cont).select("#id_"+obj.id).node()) {

      var div = d3.select(cont)
        .insert("div", add_btn)
        .attr("id", "id_"+obj.id)
        .attr("class", "filter_item")
      div.append("span")
        .attr("class","list_icon")
        .style("background-image", "url('"+obj.icon+"')")
        .style("background-color", obj.color)
      div.append("span")
        .attr("class","filter_title")
        .text(obj.name)
        // .append("a")
        //   .text(function(){
        //     var depth_name = dataviva.format.text(selector.type() + "_" + obj.id.length)
        //     return " (" + depth_name + ")"
        //   })
      var depth_ids = dataviva.depths(selector.type())
      if(obj.id == "mg" || obj.id.indexOf("mgplr") >= 0){
        depth_ids.splice(-1, 0, 7)
      }
      depth_ids = depth_ids.slice(depth_ids.indexOf(obj.id.length))
      
      var s = div.append("select")
        .attr("id", "depth_dropdown"+obj.id)
        .selectAll("option").data(depth_ids).enter().append("option")
          .text(function(d, i){ 
            if(i == 0){
              return dataviva.format.text(selector.type() + "_" + d)
            }
            return dataviva.format.text(selector.type() + "_" + d + "_plural");
          })
          .attr("value", function(d){ return d; })
      
      div.append("a")
        .on(vizwhiz.evt.click, function(){ remove_filter(this); })
        .append("i").attr("class", "icon-remove")
      
      leon("#"+"depth_dropdown"+obj.id)
        
    }
    
  }
  
  function remove_filter(node) {
    var cont = d3.select(node.parentNode.parentNode)
    d3.select(node.parentNode).remove()
    if (!cont.select(".filter_item").node()) {
      cont.select(".filler").attr("class", "filler")
    }
  }
  
  function is_active(selection){
    if(selection.attr("class").indexOf("open") > -1){
      return true;
    }
    return false;
  }
  
  // retrieving new data
  function update_table(dataset, order){
    
    // based on the dataset provided determine which filters we are interested
    // in
    var filters = {"location":"all", "industry":"all", "occupation":"all"}
    if(dataset == "secex"){
      filters = {"location":"all", "product":"all", "country":"all"}
    }
    
    // go through each filter and see what's on the page (what the user's added)
    d3.keys(filters).forEach(function(fname){
      
      // has the button been selected? if so we'll at least need to add this
      // to the api call as 'show'
      // console.log("#"+fname+"_add")
      fdata = is_active(d3.select("#"+fname+"_add")) ? "show" : filters[fname];
      
      // if this filter is active, we also need to check if items have been
      // added
      if(fdata == "show"){
        
        // are there any added filters?
        var filter_items = d3.selectAll("#"+fname+"_add > .filter_item");
        if(!filter_items.empty()){
          
          // there are filters, lets add them to a list
          fdata = []
          filter_items.each(function(fi){
            // the ids start with "id_", so we remove that
            var id = this.id.replace("id_", "")
            // if the dropdown is not equivalent to this IDs length we need to
            // qualify this ID
            var depth_dropdown = d3.select(this).selectAll("select").node()
            var d_i = depth_dropdown.selectedIndex
            var depth = depth_dropdown.options[d_i].value
            if (id.length != depth) {
              fdata.push(id+".show."+depth)
            }
            else {
              fdata.push(id)
            }
          })
          
          // concatenate filters using plus sign
          fdata = fdata.join("+")
        }
        // see which depth was requested
        else {
          var depth_dd = d3.select("#"+fname+"_add .filler .depth_dropdown").node()
          var d_i = depth_dd.selectedIndex
          var depth = depth_dd.options[d_i].value
          fdata = "show."+depth
        }
      }
      
      // set the original filters object to our new filter
      filters[fname] = fdata;
      
    })
    
    // set year
    var year_dropdown = document.getElementById("year_filter");
    var year_i = year_dropdown.selectedIndex
    filters["year"] = year_dropdown.options[year_i].value
      
    if(dataset == "rais"){
      var api_url = "/rais/" + [filters["year"], filters["location"], filters["industry"], filters["occupation"]].join("/")
      api_url += "/?filter=wage>0"
    }
    else {
      var api_url = "/secex/"+ [filters["year"], filters["location"], filters["product"], filters["country"]].join("/")
      api_url += "/?filter=val_usd>0"
    }
    
    // update_url(api_url)
    api_url = "/data/table" + api_url
    console.log(api_url)
    
    d3.select(".data_table")
      .style("width", window.innerWidth - 400+"px")
      .style("height", window.innerHeight - 200+"px")
      .selectAll("iframe").remove()
    
    d3.select(".data_table").append("iframe")
      .attr("id", "table_frame")
      .attr("src", api_url)

    // prevent page from submitting form
    if(d3.event) d3.event.preventDefault();
  }
  
  function update_url(api_url){
    
    var page_url = api_url.split("?")[0]
    page_url = "/data/query" + page_url
        
    if (Modernizr.history) {
      window.history.replaceState(
        {'prev_request': page_url}, 
        "DataViva : Data", page_url
      )
      if (window != window.parent &&
          window.parent.location.pathname.indexOf("query") >= 0) {
        window.parent.history.replaceState(
          {'prev_request': page_url}, 
          "DataViva : Data", page_url
        )
      }
    } 
    else if (window.location.href.indexOf(window_url) < 0) {
      window.location = page_url
    }
      
  }
  
  function update_cols(cols){
    d3.selectAll("#columns_add a").remove()
    cols.forEach(function(d){
      d3.select("#columns_add").append("a")
        .attr("class", function(){
          if(d.active){ return "active" }
        })
        .attr("name", d.name)
        .text(dataviva.format.text(d.name))
        .on(vizwhiz.evt.click, function(){
          if(d3.select(this).attr("class") && d3.select(this).attr("class").indexOf("active") > -1){ 
            d3.select(this).attr("class", "")
          }
          else {
            d3.select(this).attr("class", "active")
          }
          var new_cols = []
          d3.selectAll("#columns_add a.active").each(function(d){
            new_cols.push(d3.select(this).attr("name"))
          })
          document.getElementById("table_frame").contentWindow.change_cols(new_cols)
        })
    })
  }
  
  // leon("all")
  update_table(CURRENT_DATASET)

  // attach click event listeners to build buttons
  d3.select("#rais_go").on(vizwhiz.evt.click, function(){
    CURRENT_DATASET = 'rais';
    update_table(CURRENT_DATASET);
  })
  d3.select("#secex_go").on(vizwhiz.evt.click, function(){
    CURRENT_DATASET = 'secex';
    update_table(CURRENT_DATASET);
  })

</script>
{% endblock %}
