{% extends "templates/site.html" %}

{% block title %}: {% trans %}Generate a Profile{% endtrans %}{% endblock %}

{% block body %}

  <div class="darkbox">
    <h1>{% trans %}What would you like to learn more about?{% endtrans %}</h1>
  </div>
  <br>
  <a class="decision icon square bra" href="/profiles/bra/select/">
    {% trans %}Brazilian Location{% endtrans %}
  </a>

  <a class="decision icon square cbo" href="/profiles/cbo/select/">
    {% trans %}Occupation{% endtrans %}
  </a>

  <a class="decision icon square cnae" href="/profiles/cnae/select/">
    {% trans %}Industry{% endtrans %}
  </a>

  <a class="decision icon square hs" href="/profiles/hs/select/">
    {% trans %}Product{% endtrans %}
  </a>

  <br>

  <a class="decision icon square wld" href="/profiles/wld/select/">
    {% trans %}Trade Partner{% endtrans %}
  </a>

  <a class="decision icon square university" href="/profiles/university/select/">
    <div class="new">{% trans %}New{% endtrans %}</div>
    {% trans %}University{% endtrans %}
  </a>

  <a class="decision icon square course_hedu" href="/profiles/course_hedu/select/">
    <div class="new">{% trans %}New{% endtrans %}</div>
    {% trans %}Higher Education Course{% endtrans %}
  </a>

  <br><br>

{% endblock %}
