{% extends "templates/site.html" %}

{% block title %}: {{ item.name() }}{% endblock %}

{% block head %}

    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.profile.css" />

    <style>

      .build_btn {
        display: block;
        position: relative;
        text-align: right;
      }

      .build_mask {
        background-color: rgba(255,255,255,0.5);
        bottom: 0;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
      }

      .build_mask > i {
        margin-top: 3px;
      }

      .build_title {
        display: inline-block;
        font-size: 12px;
        float: left;
        padding: 3px 4px 4px 6px;
      }

      .build_title:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      .stat_table .growth-arrow {
        margin-left: 2px;
        margin-top: 2px;
      }

      .stat_table .growth-arrow.down {
        color: #af1f24;
      }

      .stat_table .growth-arrow.up {
        color: #3daf49;
      }

      #relatedBtn {
        margin-top: 5px !important;
      }

      .related {
        margin: 0 20px 20px 310px;
        padding-bottom: 20px;
        text-align: center;
      }

      .related .darkbox {
        display: block;
        margin: 10px 0;
        max-width: none;
      }

      .poster {
        box-sizing: border-box;
        display: inline-block;
        margin: 0 5px;
        text-align: left;
      }

      div.poster {
        -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
                box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
        height: 100px;
        margin: 0px;
        position: relative;
        width: 100px;
      }

      div.poster.bra, div.poster.wld {
        height: 70px;
        -webkit-box-shadow: none;
                box-shadow: none;
      }

      a.poster:hover {
        opacity: 1;
      }
      a.poster:hover div.poster {
        -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
                box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
      }
      a.poster:hover div.poster.bra,
      a.poster:hover div.poster.wld {
        -webkit-box-shadow: none;
                box-shadow: none;
      }

      .poster .title {
        box-sizing: border-box;
        font-size: 14px;
        font-weight: normal;
        line-height: 17px;
        max-height: 60px;
        margin: 0;
        overflow: hidden;
        padding: 5px 0;
        text-align: center;
        white-space: normal;
        width: 100px;
      }
      a.poster:hover div.title {
        text-decoration: underline;
      }
      .poster img {
        box-sizing: border-box;
        display: inline-block;
        margin: 15px;
        width: 70px;
      }
      .poster.bra img, .poster.wld img {
        box-sizing: border-box;
        display: inline-block;
        margin: 5px;
        margin-top: -10px;
        width: 90px;
      }

    </style>

{% endblock %}

{% block body %}

  <div id="guide_controls" class="lightbox guide_controls">
    <div id="profile_button" onclick="selector('{{category}}','{{item.id}}')">
        <div id="arrow_clickable"><i class="fa fa fa-list-alt"></i></div>
      <div id="guide_icon" style="background-image: url('{{ item.icon() }}');{% if category != 'wld' and category != 'bra' or (category == 'wld' and item.id|count == 2) %} background-color: {{ item.color }};{% endif %}"></div>
      <h1 id="guide_title">{{ item.name() }}</h1>
    </div>

    {% set counter = 1 %}
    {% for group in builds %}
      {% if group.title %}
        <div class="group_title">{{ group.title }}</div>
      {% endif %}
      {% for build in group.builds %}
        <div class="build_btn" data-build="{{ counter + loop.index0 }}" data-lock="{{ build[0].titlelock }}">
          <span class="build_title" id="group_{{ build[0].position }}" onclick="app_select(this.id)">{{ build[0].slug }}</span>
          {% for b in build %}
            <a class="app_links decision icon short tiny {{ b.app.type }}" id="app_{{ b.position }}" data-url="{{ b.url }}" alt="{{ b.app.name }}" onclick="app_select(this.id)" data-active="false"></a>
          {% endfor %}
          <a class="build_mask" id="mask_{{ build[0].position }}" onclick="app_select(this.id)"><i class="fa fa-spinner fa-spin"></i></a>
        </div>
      {% endfor %}
      {% set counter = counter + group.builds|length %}
    {% endfor %}

    {% if related|length > 0 %}
      <a href="#related" id="relatedBtn" class="help short icon {{ category }}">{% trans %}Show Related Profiles{% endtrans %}</a>
    {% endif %}

    <div id="guide_stats">
      {% set last_group = "" %}
      {% for stat in stats %}
        {% if last_group != stat.group %}
          {% if loop.index != 1 %}</table>{% endif %}
          <div class="group_title">
            {{ stat.group }}
          </div>
          <table class="stat_table">
          {% set last_group = stat.group %}
        {% endif %}
          <tr>
            <td>
              {{ stat.name }}
            </td>
            <td>
              {%- if stat.url %}
                <a href="{{ stat.url }}">{{ format(stat.desc).render(stat.mode) }}</a>
              {% else -%}
                {{ format(stat.desc).render(stat.mode) }}
              {% endif -%}
              {%- if stat.value %} ({{ format(stat.value).render(stat.mode) }}){% endif -%}
            </td>
          </tr>
        {% if loop.index == stats|length %}</table>{% endif %}
      {% endfor %}
    </div>

    {% if category == "wld" %}
      <br>
      <a href="https://atlas.media.mit.edu/{{ g.locale }}/profile/country/{{ item.id_3char }}/" class="decision short icon oec" target="_blank">
        {% trans %}To view additional data regarding world trade, click here to visit the Observatory.{% endtrans %}
      </a>
    {% endif %}

  </div>

  {% set counter = 1 %}
  {% for group in builds %}
    {% for build in group.builds %}
      <div class="lightbox guide_app" id="profile{{ counter + loop.index0 }}">
        <iframe id="iframe{{ counter + loop.index0 }}"></iframe>
      </div>
    {% endfor %}
    {% set counter = counter + group.builds|length %}
  {% endfor %}

  {% if related|length > 0 %}
    <div id="related" class="related lightbox">
    {% for group in related %}
        <div class="darkbox"><h1>{{ group.title }}</h1></div>
        {% for attr in group.pages %}
          <a class="poster" href="{{ attr.url() }}" alt="{{ attr.name() }}">
            <div class="poster {{ category }}"{% if category != "bra" and category != "wld" %} style="background-color:{{ attr.color }};"{% endif %}>
              <img src="{{ attr.icon() }}"/>
            </div>
            <div class="title">{{ attr.name() }}</div>
          </a>
        {% endfor %}
    {% endfor %}
    </div>
  {% endif %}

{% endblock %}

{% block js %}

  <script src="/static/js/utils/utils.selector.js"></script>
  <script src="/static/js/libs/jquery-2.0.3.min.js"></script>
  <script>

    // d3.selectAll(".app_links")
    //   .on(d3plus.client.pointer.over, function(){
    //     dataviva.ui.tooltip("quick", this);
    //   })
    //   .on(d3plus.client.pointer.out, function(){
    //     dataviva.ui.tooltip("quick", false);
    //   })
    //   .on("click", function(){
    //     dataviva.ui.tooltip("quick", false);
    //   })

    function callback(obj) {
      split = window.location.pathname.split("/")
      var id = obj.id
      // if (obj.distance > 0) id += "."+obj.distance
      split[3] = id
      window.location = split.join("/")+"?app="+app;
    }

    function selector(type,id) {
       d3.select("body").style("overflow", "hidden")
      if (d3.select("#profile_select").empty()) {

        dataviva.popover.create({
          "id": "profile_select",
          "width": 600,
          "height": "80%",
          "close": true,
          "color": dataviva.color
        });

        var dist = 0;
        if (type === "bra" && id.indexOf(".") > 0) {
          dist = id.split(".")[1];
          id = id.split(".")[0];
        }

        // var limit = null;
        // if (type === "hs" || type === "wld") {
        //   limit = 2;
        // }
        // else if (type === "cnae" || type === "cbo") {
        //   limit = 1;
        // }

        var selector = Selector()
          .callback(callback)
          .distance(dist)
          .initial_value(id)
          .type(type)
          // .limit(limit)

        d3.select("#profile_select")
          .call(selector);

      }

      dataviva.popover.show("#profile_select")
    }

    var width = window.innerWidth-330 - d3plus.client.scrollbar(),
        height = window.innerHeight-108,
        builds = {},
        sliding = false,
        build = null,
        scrollinterval = null,
        url = false,
        build = false,
        app = "{{starting_app}}";

    d3.select("#guide_controls").style("max-height", height-20+"px")

    d3.selectAll(".guide_app")
      .style("width",width+"px")
      .style("height",height+"px")
      .each(function(){
        var p = this.id.substring(7);
        builds[p] = {"loaded": false, "loading": false, "top": this.offsetTop-88};
      })

    d3.selectAll(".related").style("width",width+"px");

    function app_select(id, scrolling) {

      if (!sliding) {

        if (!id) id = "app_"+app;

        dataviva.url(window.location.pathname, {"app": id.split("_")[1]});
        clearInterval(scrollinterval);

        var btn, new_build;
        var build_btn = d3.select(d3.select("#"+id).node().parentNode);
        if (id.indexOf("group_") === 0 || id.indexOf("mask_") === 0) {
          new_build = d3.select(d3.select("#"+id).node().parentNode).attr("data-build");
          build_btn.selectAll(".app_links").each(function(d, i){
            if (i === 0 || d3.select(this).attr("data-active") === "true") {
              btn = d3.select(this);
            }
          });
        }
        else {
          btn = d3.select("#"+id);
          new_build = d3.select(btn.node().parentNode).attr("data-build");
        }

        url = btn.attr("data-url");

        d3.selectAll(".app_links")
          .classed("decision", false)
          .classed("help", true);

        build_btn.selectAll(".app_links").attr("data-active", "false");
        btn.classed("decision", true).classed("help", false).attr("data-active", "true");

        build = new_build;
        if (!scrolling) {
          slide();
        }
        else {
          load();
        }

      }

    }

    app_select();

    function update_titles(msg) {
      var b = msg.id.substr(6);
      d3.select(".build_btn[data-build='"+b+"']")
        .select(".build_mask").style("display","none");
      builds[b].loading = false;
      // var btn = d3.select("#app"+msg.id.substr(6));
      // var title = btn.attr("data-lock") === "False" ? msg.title : btn.html();
      // btn
      //   .attr("class",function(){
      //     var c = this.className.split(" ")
      //     c[4] = msg.app
      //     return c.join(" ")
      //   })
      //   .text(title)
    }

    function load() {

      var iframe = d3.select("#iframe"+build);
      if (!builds[build].loaded) {
        builds[build].loaded = true;
        builds[build].loading = true;
        iframe.attr("src", "/apps/embed/"+url);
      }
      else {
        var stripped_url = url.split("?")[0];
        if (!builds[build].loading && iframe.node().contentWindow.app.url.indexOf(stripped_url) !== 0) {
          builds[build].loading = true;
          iframe.node().contentWindow.app.start(url);
        }
      }

      if (builds[build].loading) {
        d3.select("[data-build='"+build+"']").select(".build_mask")
          .style("display", "block");
      }

    }

    function slide() {

      sliding = true;

      var position = builds[build].top,
          start = window.pageYOffset,
          difference = position - start,
          ticks = 25;

      var i = 0

      function scrollto(){
        var val = Math.easeInOutCubic(i,start,difference,ticks)
        window.scrollTo(0,val)

        i++
        if (i == ticks) {
          window.scrollTo(0,position)
          load()
          clearInterval(scrollinterval)
          setTimeout(function(){
            sliding = false
          },250)
        }
      }

      scrollinterval = setInterval(scrollto,10)

    }

    Math.easeInOutCubic = function (t, b, c, d) {
        t /= d/2;
        if (t < 1) return c/2*t*t*t + b;
        t -= 2;
        return c/2*(t*t*t + 2) + b;
    }

    document.onscroll = function() {
      if (!sliding) {

        var current_top = d3.select("#profile"+build).node().getBoundingClientRect().top;
        var new_build = false;
        d3.selectAll(".guide_app").each(function(d, i){
          d = i+1;
          if (d != build) {

            var rect = this.getBoundingClientRect();
            var top = rect.top;
            var height = rect.height;
            // console.log(i, current_top, top, window.innerHeight/2+34)
            if (current_top < top && top < window.innerHeight/2+34) {
              new_build = d;
            }
            else if (current_top > top && top+this.getBoundingClientRect().height > window.innerHeight/2-34) {
              new_build = d;
            }

          }
        })

        if (new_build) {
          var btn = d3.select("[data-build='"+new_build+"']");
          if (!builds[new_build].loaded) {
            btn = btn.select(".app_links");
          }
          else {
            btn = btn.select(".app_links[data-active='true']");
          }
          var app_id = btn.node().id;
          app_select(app_id, true);
        }

      }
    }

    // document.onkeydown = function(e) {
    //   var trans = null
    //   if (e.keyCode == 34 || e.keyCode == 39 || e.keyCode == 40) {
    //     if (build < Object.keys(builds).length) trans = parseInt(build)+1
    //     else trans = build
    //   }
    //   else if (e.keyCode == 33 || e.keyCode == 37 || e.keyCode == 38) {
    //     if (build > 1) trans = parseInt(build)-1
    //     else trans = build
    //   }
    //   else if (e.keyCode == 36) {
    //     trans = 1
    //   }
    //   else if (e.keyCode == 35) {
    //     trans = Object.keys(builds).length
    //   }
    //   if (trans) slide("app"+trans)
    // };

  </script>

{% endblock %}
