<!-- extend from base layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}App Builder{% endtrans %}{% endblock %}

{% block body %}

  <div class="lightbox">
    <iframe class="app_builder"></iframe>
  </div>

{% endblock %}

{% block js %}

  <script>
  
    var width = window.innerWidth-50,
        height = window.innerHeight-167
        
    if (height < 600) height = 600
        
    d3.select("#container")
      .style("width",width+"px")
    d3.select("iframe.app_builder")
      .style("height",height+"px")
      .style("width",width+"px")
      .attr("src",window.location.href.replace("builder","embed"))

  </script>

{% endblock %}