<!-- extend from base layout -->
{% extends "templates/site.html" %}

{% block head %}

  <style>

    body.builder #container {
      padding: 90px 20px 68px 20px;
    }

  </style>

{% endblock %}

{% block title %}: {% trans %}App Builder{% endtrans %}{% endblock %}

{% block body %}

  <div class="lightbox">
    <iframe src="/413" id="bulder_iframe" width="600px" height="400px"></iframe>
  </div>

{% endblock %}

{% block js %}

  <script>

    var width = window.innerWidth-50,
        height = window.innerHeight-177

    if (height < 500) height = 500

    // d3.select("iframe")
      // .attr("src",window.location.href.replace("builder","embed"))

    dataviva.resize = function() {

      var width = window.innerWidth-50,
          height = window.innerHeight-177

      if (height < 500) height = 500

      d3.select("#container")
        .style("width",width+"px")
      d3.select("iframe")
        .attr("height",height+"px")
        .attr("width",width+"px")

    }

    dataviva.resize()

    if (Modernizr.history) {
      window.onpopstate = function() {
        var u = window.location.href.split("/builder/")[1].split("/?")[0]
        var app = document.getElementById("bulder_iframe").contentWindow.app
        if (app && u != app.url) app.start(u)
      }
    }

  </script>

{% endblock %}
