{% extends "templates/site.html" %}

{% block title %}: {% trans %}Advanced Builder{% endtrans %}{% endblock %}

{% block head %}

<style>

  #container {
    padding-bottom: 0;
  }

  .decision.square {
    display: block;
    font-size: 15px;
    margin: 20px auto 20px;
    padding-left: 210px !important;
    position: relative;
    width: 500px;
  }

  .decision.square h1 {
    font-size: 25px;
    font-weight: 600;
    left: 0;
    line-height: 28px;
    margin: 10px 0;
    position: absolute;
    text-align: center;
    width: 210px;
  }

  .decision.square p {
    font-size: 15px;
    font-weight: 200;
    line-height: 17px;
    margin: 10px 10px 20px 0;
  }

  .decision.square:before {
    background-position: 30px 35px;
    background-size: 150px !important;
  }

  .profile {
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #555;
    color: #555;
    display: inline-block;
    font-size: 13px;
    margin: 0 2px 4px;
    padding: 2px 4px;
    whitespace: nowrap;
    z-index: 100;
  }

  .profile:hover {
    background-color: rgba(255,255,255,1);
    color: #555;
  }

  .profile .icon {
    background-position: 50%;
    background-size: 100%;
    height: 17px;
    display: inline-block;
    margin-top: 1px;
    width: 17px;
  }

</style>

{% endblock %}

{% block body %}

  <div class="darkbox">
    <h1>{% trans %}Which app would you like to build?{% endtrans %}</h1>
  </div>

  <br>

  {% for app in apps %}
    <div id="{{ app.type }}" class="decision icon square {{ app.type }}" onclick="app_link(this.id)">
      <h1>{{ app.title }}</h1>
      <p>
        {{ app.summary }} {% trans %}Here are some commonly built examples:{% endtrans %}
      </p>
      {% for build in app.builds -%}
        <a href="/apps/builder/{{ build.url() }}" class="help short icon {{ app.type }}">
          {{ build.title() }}
        </a>
      {%- endfor %}
    </div>

  {% endfor %}

{% endblock %}

{% block js %}

  <script>

    function app_link(id) {
      window.location = "/apps/builder/"+id;
    }

  </script>

{% endblock %}
