<!-- extend from base layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}Apps{% endtrans %}{% endblock %}

{% block body %}

  <div class="darkbox"><h1>{% trans %}Which app would you like to build?{% endtrans %}</h1></div>
  <br>
  
  <a class="decision icon square tree_map" href="/apps/builder/tree_map/">
    <h1>{% trans %}Tree Map{% endtrans %}</h1>
  	<i class="fa fa-question-circle" rel="tree_map"></i>
  </a>
  
  <a class="decision icon square stacked" href="/apps/builder/stacked/">
    <h1>{% trans %}Stacked{% endtrans %}</h1>
  	<i class="fa fa-question-circle" rel="stacked"></i>
  </a>
  
  <a class="decision icon square geo_map" href="/apps/builder/geo_map/">
    <h1>{% trans %}Geo Map{% endtrans %}</h1>
  	<i class="fa fa-question-circle" rel="geo_map"></i>
  </a>
  
  <a class="decision icon square network" href="/apps/builder/network/">
    <h1>{% trans %}Network{% endtrans %}</h1>
  	<i class="fa fa-question-circle" rel="network"></i>
  </a>

  <br>
  
  <a class="decision icon square rings" href="/apps/builder/rings/">
    <h1>{% trans %}Rings{% endtrans %}</h1>
  	<i class="fa fa-question-circle" rel="rings"></i>
  </a>
  
  <a class="decision icon square scatter" href="/apps/builder/scatter/">
    <h1>{% trans %}Scatter{% endtrans %}</h1>
  	<i class="fa fa-question-circle" rel="scatter"></i>
  </a>
  
  <a class="decision icon square compare" href="/apps/builder/compare/">
    <h1>{% trans %}Compare{% endtrans %}</h1>
  	<i class="fa fa-question-circle" rel="compare"></i>
  </a>
  
  <a class="decision icon square occugrid" href="/apps/builder/occugrid/">
    <h1>{% trans %}Occugrid{% endtrans %}</h1>
  	<i class="fa fa-question-circle" rel="occugrid"></i>
  </a>

{% endblock %}

{% block js %}

<script>

dataviva.popover.create({
  "id": "popover",
  "width": "80%",
  "height": "80%"
})

d3.selectAll("i")
	.on(d3plus.client.pointer.click,function(){
		var app_type = d3.select(this).attr("rel"),
			h = parseInt(d3.select("#popover").style("height")),
			w = parseInt(d3.select("#popover").style("width"));
		d3.select("#popover").style("overflow", "hidden")
	    dataviva.popover.show("#popover");
		d3.select("#popover").html("<iframe scrolling='no' width='100%' height='"+h+"' src='/apps/info/"+app_type+"/' />")
		d3.event.preventDefault()
	})


</script>

{% endblock %}