<!-- extend from base layout -->
{% extends "base.html" %}


{% macro messages(input) -%}
    {% for message in input.errors %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{%- endmacro %}

{% block content %}
	<style type="text/css">
		.btn-google:hover,
		.btn-facebook:hover,
		.btn-twitter:hover {
			color: white;
		}
		.btn-google,
		.btn-facebook,
		.btn-twitter {
			width: 240px;
			display: block;
			text-align: center;
			font-weight: bold;
			color: white;
			margin: 20px 10px;
			padding: 20px 10px;
		}
		.btn-google{ background-color: #C8040B; }
		.btn-facebook{ background-color: #0000BA; }
		.btn-twitter{ background-color: #42BAFF; }
	</style>
	<div class="container">

		<div id="message">
		    {% if get_flashed_messages(with_categories=true) %}
		    {% for category, message in get_flashed_messages(with_categories=true) %}
		        <div class="alert alert-{{ category }} alert-dismissable animated fadeInDown">
		            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
		            {{ message }}
		        </div>
		    {% endfor %}
		    {% endif %}
	    </div>

		<form class="form-dataviva mt-lg" method="post" action="/en/account/change_password" style="margin-top: 24px;">
			<ul id="regular-signup" class="col-md-12 pull-left" style="list-style: none;">
				{{ form.hidden_tag() }}
				<p>
					<label for="current_password">{% trans %}Current Password{% endtrans %}</label>
					{{ form.current_password(class="form-control")}}
					{{ messages(form.current_password) }}
				</p>				
				<p>
					<label for="new_password">{% trans %}New Password{% endtrans %}</label>
					{{ form.new_password(class="form-control")}}
					{{ messages(form.new_password) }}
				</p>
				<p>
					<label for="confirm">{% trans %}Confirm Password{% endtrans %}</label>
					{{ form.confirm(class="form-control")}}
					{{ messages(form.confirm) }}
				</p>

				<hr/>

				<a onclick="history.back()" class="btn btn-link">{% trans %}Cancel{% endtrans %}</a>
				<button type="submit" class="btn btn-success pull-right">{% trans %}Update{% endtrans %}</button>
			</ul>
		</form>
	</div>
{% endblock content %}