<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
	<div class="container">
	    {% macro messages(input) -%}
	        {% for message in input.errors %}
	            <div class="alert alert-danger">
	                {{ message }}
	            </div>
	        {% endfor %}
	    {%- endmacro %}

	    <div id="message">
		    {% if get_flashed_messages(with_categories=true) %}
		    {% for category, message in get_flashed_messages(with_categories=true) %}
		        <div class="alert alert-{{ category }} alert-dismissable animated fadeInDown">
		            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
		            {{ message }}
		        </div>
		    {% endfor %}
		    {% endif %}
	    </div>
	<div>

	<div class="container">
		<form class="form-dataviva mt-lg" method="post" action="/en/account/edit_profile" style="margin-top: 24px;">
			<h1 class="text-center">{% trans %}Edit your profile{% endtrans %}</h1>
			<ul id="regular-signup" class="col-md-8 col-md-offset-2" style="list-style: none;">
			{{ form.hidden_tag() }}
				<p>
					<label for="profile">{% trans %}Profile{% endtrans %}</label>
					{{ form.profile(class="form-control")}}
					{{ messages(form.profile) }}
				</p>

				<p>
					<label for="fullname">{% trans %}Full name{% endtrans %}</label>
					{{ form.fullname(class="form-control")}}
					{{ messages(form.fullname) }}
				</p>
				<p>
					<label for="email">Email</label>
					{{ form.email(class="form-control")}}
					{{ messages(form.email) }}
				</p>
				<p>
	            <label class="control-label">{% trans %}Birthday{% endtrans %}</label>
	            {{ messages(form.birthday) }}
		            <div id="birthday-date" class="input-group date">
		                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		                {{ form.birthday(class="form-control")}}
		            </div>
				</p>
				<p>
					<label for="country">Country</label>
					{{ form.country(class="form-control")}}
					{{ messages(form.country) }}
					<small class="text-muted">{% trans %}up to 80 characters{% endtrans %}</small>
				</p>
				<p>
					<label for="uf">UF</label>
					{{ form.uf(class="form-control")}}
					{{ messages(form.uf) }}
					<small class="text-muted">{% trans %}2 characters{% endtrans %}</small>
				</p>
				<p>
					<label for="city">City</label>
					{{ form.city(class="form-control")}}
					{{ messages(form.city) }}
					<small class="text-muted">{% trans %}up to 256 characters{% endtrans %}</small>
				</p>
				<p>
					<label for="occupation">Occupation</label>
					{{ form.occupation(class="form-control")}}
					{{ messages(form.occupation) }}
					<small class="text-muted">{% trans %}up to 150 characters{% endtrans %}</small>
				</p>
				<p>
					<label for="institution">Institution</label>
					{{ form.institution(class="form-control")}}
					{{ messages(form.institution) }}
					<small class="text-muted">{% trans %}up to 256 characters{% endtrans %}</small>
				</p>


				<hr/>

				<p>
					 <a href="/account/change_password"><i class="fa fa-lock"></i> {% trans %}Change my password{% endtrans %}</a>
				</p>

				<hr/>
				<a href="{{ url_for('general.home') }}"class="btn btn-link">{% trans %}Cancel{% endtrans %}</a>
				<button type="submit" class="btn btn-success pull-right">{% trans %}Update{% endtrans %}</button>
			</ul>
		</form>
	</div>
{% endblock content %}