{% extends "base.html" %}

{% block content %}

<script>
    function handleChange(e) {
        let arrayItens = []
        let itens = document.querySelectorAll(".checkBoxes [type=checkbox]:checked")
        for (let item of itens) {
            arrayItens.push(Number(item.id));
        }

        let page_url = window.location.href;
        base_url = page_url.split("://")[1].split("/")[0];

        if (page_url.search("pt") == -1) {
            window.location.href = `/en/blog/${arrayItens.length != 0 ? `?subject=${arrayItens}` : ""}`;
        } else {
            window.location.href = `/pt/blog/${arrayItens.length != 0 ? `?subject=${arrayItens}` : ""}`;
        }
    }
</script>

<div class="container">
    <div class="row bg-white">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('general.home') }}">Home</a></li>
            {% block breadcrumb %}{% endblock %}
        </ol>
    </div>
</div>

<section id="scholar">
    <div class="container container-big">
        <div class="row row-offcanvas row-offcanvas-left">
            <nav class="sidebar sidebar-scholar col-md-3 sidebar-offcanvas">
                <h3 class="sidebar-scholar-h3">{%trans%}Themes{%endtrans%}</h3>
                <ul>
                    {% for keyword in keywords %}
                    <li class="checkBoxes">
                        {% if keyword.id in idList %}
                        <input type="checkbox" id={{keyword.id}} name={{keyword.name}} checked
                            onchange="handleChange(event)" />
                        {%else %}
                        <input type="checkbox" id={{keyword.id}} name={{keyword.name}} onchange="handleChange(event)" />
                        {%endif %}
                        <label for={{keyword.id}}>{{keyword.name}}</label>
                    </li>
                    {% endfor %}
                </ul>
                <div class="thin-divider-btn"></div>
                <div class="visible-md visible-lg">
                    {% if g.user.is_authenticated %}
                    <a href="{{ url_for('scholar.new')}}" class="btn btn-success btn-lg">{% trans %}Publish a Study{%
                        endtrans %}</a>
                    {% else %}
                    <a data-toggle="modal" data-target="#dataviva-login" class="btn btn-success btn-lg">{% trans
                        %}Publish a
                        Study{% endtrans %}</a>
                    {% endif %}
                </div>
            </nav>

            <div class="scholar-content col-md-9">
                <div class="visible-xs visible-sm">
                    <div>
                        <button type="button" class="fa  btn btn-white" aria-hidden="true" data-toggle="offcanvas"
                            data-target=".sidebar-nav">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="scholar-publish-btn">
                        {% if g.user.is_authenticated %}
                        <a href="{{ url_for('scholar.new')}}" class="btn btn-success btn-lg">{% trans %}Publish a
                            Study{% endtrans %}</a>
                        {% else %}
                        <a data-toggle="modal" data-target="#dataviva-login" class="btn btn-success btn-lg">{% trans
                            %}Publish a Study{% endtrans %}</a>
                        {% endif %}
                    </div>
                </div>
                {% block scholar_content %}
                {% endblock scholar_content %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}



{% block js_assets %}
<script src="/static/js/modules/scholar.js"></script>
{% endblock js_assets %}