{% macro messages(input) -%}
    {% for message in input.errors %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{%- endmacro %}

<form method="post" action="{{ action }}" class="form-dataviva" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        <label for="title">Título</label>
        {{ form.title(class="form-control")}}
        {{ messages(form.title) }}
    </p>
    <p>
        <label for="theme">Tema</label>
        {{ form.theme(class="form-control")}}
        {{ messages(form.theme) }}
    </p>
    <p>
        <label for="author">Autor(es)</label>
        {{ form.authors(class="form-control", placeholder="Separe os autores por vírgula")}}
        {{ messages(form.authors) }}
    </p>
    <p>
        <label for="keywords">Palavras-Chave</label>
        {{ form.keywords(class="form-control") }}
        {{ messages(form.keywords) }}
        <small>Você pode definir suas próprias palavras-chave</small>
    </p>
    <p>
        <label for="abstract">Resumo</label>
        {{ form.abstract(class="form-control", rows=5)}}
        {{ messages(form.abstract) }}
    </p>
    <button id='submit' type="submit" class="btn btn-primary pull-right"><i class="fa fa-share-square-o m-r-sm"></i>Enviar</button>
</form>

<div class="">
    {{ form.hidden_tag() }}
    <div class="row fileupload-buttonbar">
        <div class="col-lg-7 col-xs-10 col-md-6">
                <p>
                    <label>Formato<br/>
                        <small>Aceitamos artigos somente em formato PDF.</small>
                    </label>
                </p>

            <div id="input-file">
                <input id="file" name="file" type="file" class="inputfile">

                <label for="file" class="btn btn-success">
                    <i class="fa fa-plus m-r-sm"></i> Choose File
                </label>
            </div>

            <div id="uploaded-file">
                <button href="#" class="btn btn-danger" id="delete">
                    <i class="fa fa-trash-o m-r-sm"></i> Delete File
                </button>
                <a id="article-url" target="_blank" href=""> Artigo <i class="fa fa-file-pdf-o m-r-sm"></i></a>
            </div>

            <div id="progress">
                <progress min="0" max="100" value="0">0% complete</progress>
            </div>

        </div>
    </div>
</div>

<div id="message">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissable animated fadeInDown">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>

{% block js_assets %}
    <script src="/static/js/modules/scholar/form.js"></script>
{% endblock js_assets %}
