{% macro messages(input) -%}
    {% for message in input.errors %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{%- endmacro %}

<form method="post" action="{{ action }}" class="form-dataviva" enctype="multipart/form-data" onsubmit="return validateFile()">
    {{ form.hidden_tag() }}
    <p>
        <label for="title">Título</label>
        {{ form.title(class="form-control")}}
        {{ messages(form.title) }}
    </p>
    <p>
        <label for="theme">Tema</label>
        {{ form.theme(class="form-control")}}
        {{ messages(form.theme) }}
    </p>
    <p>
        <label for="author">Autor</label>
        {{ form.authors(class="form-control")}}
        {{ messages(form.authors) }}
    </p>
    <p>
        <label for="keywords">Palavras-Chave</label>
        {{ form.keywords(class="form-control")}}
        {{ messages(form.keywords) }}
    </p>
    <p>
        <label for="abstract">Resumo</label>
        {{ form.abstract(class="form-control", rows=5)}}
        {{ messages(form.abstract) }}
    </p>
    <button id='submit' type="submit" class="btn btn-primary pull-right"><i class="fa fa-share-square-o m-r-sm"></i>Enviar</button>
</form>

<div class="container">
    {{ form.hidden_tag() }}
    <div class="row fileupload-buttonbar">
        <div class="col-lg-7">
                <p>
                    <label>Formato<br/>
                        <small>Aceitamos artigos somente em formato PDF.</small>
                    </label>
                </p>

            <div id="inputfile">
                <input id="file" name="file" type="file" class="inputfile">

                <label for="file" class="btn btn-success">
                    <i class="fa fa-plus m-r-sm"></i> Choose File
                </label>
            </div>

            <label>Arquivo referente ao artigo:<br/></label>
                <a id="article-url" href="{{ article_url }}">Artigo <i class="fa fa-file-pdf-o m-r-sm"></i></a>
                <button href="#" class="btn btn-danger" id="delete">
                    <i class="fa fa-trash-o m-r-sm"></i> Delete File
                </button>

            <div id="progress">
                <progress min="0" max="100" value="0">0% complete</progress>
            </div>

            <div id="message"></div>
        </div>
    </div>
</div>
    

