{% extends "admin.html" %}


{% block breadcrumb %}
    <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
    <li class="active">Scholar</li>
{% endblock %}



{% block admin_content %}
<h1>Estudos</h1>

<div id="message">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissable animated fadeInDown">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>



<table id="news-table" class="dataTable table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="column-checkbox">
                <div class="checkbox checkbox-success">
                    <input name="postselector" type="checkbox">
                    <label for="check-all"></label>
                </div>
            </th>
            <th>Título</th>
            <th>Autor(es)</th>
            <th>Publication Date</th>
            <th>Approve</th>
        </tr>
    </thead>
</table>

<a id="admin-new" class="btn btn-success" href="/news/admin/publication/new"><i class="fa fa-plus m-r-sm"></i>Novo</a>
<button id="admin-edit" class="btn btn-primary"><i class="fa fa-pencil-square-o m-r-sm"></i>Editar</button>
<button id="admin-delete" class="btn btn-danger"><i class="fa fa-trash-o m-r-sm"></i>Excluir</button>
<button id="admin-activate" class="btn btn-success pull-right">Ativar</button>
<button id="admin-deactivate" class="btn btn-white pull-right m-r-sm">Desativar</button>

{% endblock admin_content %}


{% block js_assets %}
    <script src="/static/js/modules/scholar/table.js"></script>
{% endblock js_assets %}

<!-- {% block scholar_content %}

<script type="text/javascript">
    var ScholarApproval = function () {
        this.table = $('#approvalTable').DataTable( {
            "sAjaxSource": "/scholar/all",
            "sAjaxDataProp": "articles",
            "aoColumnsDefs": [
                { "data": "id" },
                { "data": "title" },
                { "data": "authors" },
                { "data": "publicationDate" },
                { "data": "approvedStatus" },
            ],
            "columnDefs": [
                {
                    "targets": 1,
                    "className": "body-title"
                },
                {
                     "targets": 4,
                     "className": "body-checkbox",
                     "render": function (data, type, article, meta){
                         if (data){
                            return '<input type="checkbox" name="checkboxApproval" value="'+article[0]+'" checked>';
                         }
                         else {
                            return '<input type="checkbox" name="checkboxApproval" value="'+article[0]+'">';
                         }
                     }
                  }],
            "columns": [
                    { "width": "8%" },
                    null,
                    null,
                    { "width": "20%" },
                    { "width": "12%" }
            ],
            "paging": false,
            "bFilter": false,
            "info": false,
        });
    };

    ScholarApproval.prototype.links = function(){
        $('#approvalTable tbody').on('click','.body-title', function () {
            var articleId = parseInt($(this).closest('tr')[0].cells[0].textContent)
            window.location.href = '/scholar/article/'+articleId
        });
    };

    ScholarApproval.prototype.multipleCheckbox = function(){
        $('#approvalTable thead').on('click','#select-all', function () {
            var articles = {};
            $('input[name="checkboxApproval"]').each(function() {
                articles[this.value] = this.checked;
            });
            sendCheckedArticle(articles);
        });
    };

    ScholarApproval.prototype.singleCheckbox = function(){
        $('#approvalTable tbody').on('click','.body-checkbox', function () {
            var article = {};
            article[this.firstElementChild.value] = this.firstElementChild.checked;
            sendCheckedArticle(article);
        });
    };

    ScholarApproval.prototype.controlCheckbox = function(approvalTable){
        $('#select-all').on('click', function(){
           var rows = approvalTable.table.rows({ 'search': 'applied' }).nodes();
           $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        $('#approvalTable tbody').on('change', 'input[type="checkbox"]', function(){
           if(!this.checked){
              var el = $('#select-all').get(0);
              if(el && el.checked && ('indeterminate' in el)){
                 el.indeterminate = true;
                }
            }
        });
    };

    var approvalTable = new ScholarApproval();
    approvalTable.links();
    approvalTable.multipleCheckbox();
    approvalTable.singleCheckbox();
    approvalTable.controlCheckbox(approvalTable);

    function sendCheckedArticle(articlesApproval){
        var lang = $('html').attr('lang');
        $.ajax({
          method: "POST",
          url: "/"+lang+"/scholar/approval",
          data: articlesApproval,
          success: function (msg) {
                $.notify({
                    message: msg,
                },{
                    offset: {
                            x: window.innerWidth * 18 / 100,
                            y: window.innerHeight * 25 / 100
                    },
                    type: 'success',
                    z_index: 1031,
                    delay: 5000,
                    timer: 1000
                });
          }
        })
    }
</script>
{% endblock scholar_content %}
-->