{% extends "scholar/_base.html" %}

{% block scholar_content %}

<div class="institucional">
    <h2>Estudos sobre o DataViva</h2>
    <h3>Aprovação dos estudos</h3>
    <div class="meta">
        <table id="approvalTable" class="table" cellspacing="0" width="100%">
          <tr>
            <th>Article ID</th>
            <th>Title</th>
            <th>Author(s)</th>
            <th>Publication Date</th>
            <th>Approve</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.authors_str() }}</td>
                <td>{{ article.date_str() }}</td>
                <td><input type="checkbox" name="approval"/></td>
            </tr>
        {% endfor %}
        </table>
    </div>
<a class="btn btn-default btn-dataviva pull-right" href="#">Enviar</a>
<a class="btn btn-default btn-dataviva pull-right" href="/scholar">Cancelar</a>
</div>
{% endblock scholar_content %}
