{% extends "scholar/_base.html" %}

{% block scholar_content %}

<div class="institucional">
    <h2>Estudos sobre o DataViva</h2>
    <h3>Aprovação dos estudos</h3>
    <div class="meta">
        <table id="approvalTable" class="table" cellspacing="0" width="100%">
          <tr>
            <th>Article ID</th>
            <th>Title</th>
            <th>Author(s)</th>
            <th>Publication Date</th>
            <th>Approve</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td><a href="/scholar/article/{{ article.id }}">{{ article.title }}</td>
                <td>{{ article.authors_str() }}</td>
                <td>{{ article.date_str() }}</td>
                <td><input type="checkbox" name="checkboxApproval"/></td>
            </tr>
        {% endfor %}
        </table>
    </div>
<a class="btn btn-default btn-dataviva pull-right" href="#" onclick="verifyChecks()">Enviar</a>
<a class="btn btn-default btn-dataviva pull-right" href="/scholar">Cancelar</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">
    function verifyChecks(){
        var articleIdsChecked = [];
        $("input[name='checkboxApproval']").each(function() {
            if(this.checked){
                var currentRow = $(this).closest('tr');
                articleIdsChecked.push(parseInt(currentRow[0].cells[0].textContent))
            }
        });
        console.log(articleIdsChecked)
    }
</script>
{% endblock scholar_content %}
