{% extends "scholar/_base.html" %}

{% block breadcrumb %}
    <li><a href="{{ url_for('scholar.index') }}"><span>{% trans %}Studies{% endtrans %}</span></a></li>
    <li class="active"><span>{% trans %}Publish a Study{% endtrans %}<span></li>
{% endblock %}

{% block scholar_content %}
    <div id="message">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissable animated fadeInDown">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                {{ message }}
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
    
    <h2>{% trans %}Studies on DataViva{%endtrans%}</h2>
    <h3>{% trans %}Welcome to DataViva's study area.{%endtrans%}</h3>
    <p>{% trans %}Here you will find academic publications and studies involving DataViva{%endtrans%}</p>
    <div class="tit-stripe">{% trans %}Most Recent Publications{%endtrans%}</div>
    <div class="article-list">
        {% for article in articles %}
        <div class="item">
            <h4>
                <a href="{{url_for('scholar.show', id=article.id)}}" title="{{ article.title }}">{{ article.title }}</a>
            </h4>
            <p>
                {% trans %}Author(s):{%endtrans%} {{ article.authors_str() }}<br />
                {% trans %}Keywords:{%endtrans%} {{ article.keywords_str() }}<br />
                {% trans %}Publication Date:{%endtrans%} {{ article.date_str() }}
            </p>
        </div>
        {% endfor %}
        <nav>{{ pagination.links }}</nav>
    </div>
{% endblock scholar_content %}