{% extends "scholar/_base.html" %}

{% block breadcrumb %}
    <li><a href="{{ url_for('scholar.index') }}"><span>Estudos</span></a></li>
    <li class="active"><span>Publique um estudo<span></li>
{% endblock %}

{% block scholar_content %}
    <div id="message">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissable animated fadeInDown">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                {{ message }}
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
    
    <h2>Estudos sobre o DataViva</h2>
    <h3>Bem vindo a área de estudos do DataViva.</h3>
    <p>Aqui você encontra publicações acadêmicas e estudos que envolvem o DataViva</p>
    <div class="tit-stripe">
        Publicações mais recentes
    </div>
    <div class="article-list">
        {% for article in articles %}
        <div class="item">
            <h4>
                <a href="{{url_for('scholar.show', id=article.id)}}" title="{{ article.title }}">{{ article.title }}</a>
            </h4>
            <p>
                Autor(es): {{ article.authors_str() }}<br />
                Palavras-Chave: {{ article.keywords_str() }}<br />
                Data de Publicação: {{ article.date_str() }}
            </p>
        </div>
        {% endfor %}
        <nav>{{ pagination.links }}</nav>
    </div>
{% endblock scholar_content %}