{% extends "scholar/_base.html" %}

{% block scholar_content %}
<div class="institucional">
    <h2>Estudos sobre o DataViva</h2>
    <h3>Publique um estudo</h3>
    <p>Esta área foi especialmente criada para a publicação de pesquisas acadêmicas e estudos relacionados ao DataViva e aos dados disponibilizados por ele. Se você tem um artigo, matéria, monografia ou qualquer conteúdo produzido a partir das informações coletadas aqui, fique à vontade para compartilhá-la neste espaço. Ele existe para dar visibilidade ao conhecimento gerado a partir do acesso aos dados socioeconômicos brasileiros, cumprindo o objetivo de tornar as informações sobre o país cada vez mais abertas e democráticas.
       Para publicar seu estudo, preencha os dados abaixo e envie o formulário. Vamos avaliar sua publicação e, em breve, ela também estará disponível na área de Estudos do DataViva.
    </p>
    {% include "scholar/_form.html" %}
</div>
{% endblock scholar_content %}
