{% extends "scholar/_base.html" %}

{% block scholar_content %}
<div class="institucional">
    <h2>Estudos sobre o DataViva</h2>
    <h3>Publique um estudo</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut nisi non erat facilisis vestibulum et at nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut eu sodales magna. Ut vel lectus tempus, dapibus mauris scelerisque, rutrum metus. Mauris congue quis nunc quis condimentum. Quisque at nibh blandit, dictum nisi lacinia, tempor leo. Nullam nisi massa, dapibus egestas augue vitae, ornare interdum erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

    {% include "scholar/_form.html" %}
</div>
{% endblock scholar_content %}