<div class="container">
    <ol class="breadcrumb">
        <li><a href="01-index.html">Home</a></li>
        <li><a href="14-a-estudos1.html"><span>Estudos</span></a></li>
        <li class="active"><span>Publique um estudo<span></li>
    </ol>
    <div class="row">
        <div class="sidebar col-xs-15 col-md-4">
            <a class="btn btn-default btn-lg btn-dataviva blue">Publique um estudo</a>
            <h4>Temas</h4>
            <ul class="sub-menu">
                <li><a href="#" title="Todos"><strong>Todos</strong></a></li>
                <li><a href="#" title="Visualizações">Visualizações</a></li>
                <li><a href="#" title="Tecnologia da Informação">Tecnologia da Informação</a></li>
                <li><a href="#" title="Economia">Economia</a></li>
                <li><a href="#" title="Matemática">Matemática</a></li>
                <li><a href="#" title="Estatística">Estatística</a></li>
                <li><a href="#" title="Design">Design</a></li>
                <li><a href="#" title="Políticas Públicas">Políticas Públicas</a></li>
            </ul>
        </div>
        <div class="main-content col-xs-15 col-md-11">
            <div class="institucional">
                <h2>Estudos sobre o DataViva</h2>
                <h3>Publique um estudo</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut nisi non erat facilisis vestibulum et at nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut eu sodales magna. Ut vel lectus tempus, dapibus mauris scelerisque, rutrum metus. Mauris congue quis nunc quis condimentum. Quisque at nibh blandit, dictum nisi lacinia, tempor leo. Nullam nisi massa, dapibus egestas augue vitae, ornare interdum erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                <form action="" class="form-dataviva">
                    <p>
                        <label for="field-titulo">Titulo</label>
                        <input id="field-titulo" type="text" class="form-control" />
                    </p>
                    <p>
                        <label for="field-arquivo">
                            Formato<br />
                            <small>Aceitamos artigos em formato PDF.</small>
                        </label>
                        <input id="field-arquivo" type="file" />
                    </p>
                    <p>
                        <label for="field-descricao">Descrição</label>
                        <textarea id="field-descricao" rows="5" class="form-control"></textarea>
                    </p>
                    <button type="button" class="btn btn-default btn-dataviva pull-right">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
