{% extends "scholar/_base.html" %}

{% block facebook_metadata %}
    <meta property="og:image" content="static/img/dataviva3_home.png"/>
    <meta property="og:url" content="{{ url_for('scholar.show', id=article.id, _external=True, _scheme='http') }}" />
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:description" content="{{ article.abstract | truncate(50) }}" />
    <meta property="og:type" content="article" />
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url_for('scholar.index') }}">Estudos</a></li>
    <li class="active">Visualizar</li>
{% endblock %}

{% block scholar_content %}
<div class="institucional search">
    <div class="articles">
        <div class="item article single">
            <h2>Estudos DataViva</h2>
            <div class="meta">
                <p>
                    Título: {{ article.title }}<br />
                    Autor(es): {{ article.authors_str() }}<br />
                    Palavras-Chave: {{ article.keywords_str() }}<br />
                    Data de Publicação: {{ article.date_str() }}
                </p>
            </div>
            <p>
                {{ article.abstract|safe }}
            </p>
            <p>
                {% if g.user.is_authenticated %}
                    <a href="{{ article.file_url }}" class="btn btn-success btn-md">Baixar arquivo (PDF)</a>
                {% else %}
                    <a data-toggle="modal" data-target="#dataviva-login" class="btn btn-success btn-md">Baixar arquivo (PDF)</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>

{% endblock scholar_content %}
