<div id="graphs-beds" class="container">
    <nav class="nav-graph col-xs-12 col-sm-3 col-md-3">
        <h3>{% trans %}Preview{% endtrans %}:</h3>
        <div class="list-group panel">            
            <h4>{% trans %}Beds per{% endtrans %}</h4>
            <a href="#beds-type" class="list-group-item" data-toggle="collapse" data-parent="#beds-type">{% trans %}Type{% endtrans %}</a>
            <div class="collapse" id="beds-type">
                <a href="#"
                   target="graphs-frame-health" class="list-group-item" data-parent="#beds-type">
                    {% trans %}TreeMap{% endtrans %}
                </a>
            </div>
            
            <a href="#beds-sus-bond" class="list-group-item" data-toggle="collapse" data-parent="#beds-sus-bond">{% trans %}SUS Bond{% endtrans %}</a>
            <div class="collapse" id="beds-sus-bond">
                <a href="#"
                   target="graphs-frame-health" class="list-group-item" data-parent="#beds-sus-bond">
                    {% trans %}TreeMap{% endtrans %}
                </a>
            </div>            
    </nav>
    <div class="responsive-frame col-xs-12 col-sm-9 col-md-9">
        <div class="embed-responsive responsive-wrapper">
            <iframe src="#"
                    name="graphs-frame-health"
                    id="graphs-frame-health"
                    class="embed-responsive-item" >
            </iframe>
        </div>
    </div>
</div>