<div id="graphs-establishments" class="container">
    <nav class="nav-graph col-xs-12 col-sm-3 col-md-3" >
    <h3>{% trans %}Preview{% endtrans %}:</h3>
        <div class="list-group panel">

            <h4>{% trans %}Establishments per{% endtrans %}</h4>
            <a href="#establishments-municipality" class="list-group-item" data-toggle="collapse" data-parent="#establishments-municipality">Municipio</a>
            <div class="collapse" id="establishments-municipality">
                <a href="/{{g.locale}}/map/cnes_establishment/establishments/municipality"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#establishments-municipality">
                    {% trans %}Map{% endtrans %}
                </a>
                <a href="/{{g.locale}}/tree_map/cnes_establishment/municipality/establishments"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#establishments-municipality">
                    {% trans %}Treemap{% endtrans %}
                </a>
                <a href="/{{g.locale}}/stacked/cnes_establishment/establishments/municipality"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#establishments-municipality">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div>

            <a href="#establishments-provider" class="list-group-item" data-toggle="collapse" data-parent="#establishments-provider">Prestador/Unidade</a>
            <div class="collapse" id="establishments-provider">
                <a href="/{{g.locale}}/tree_map/cnes_establishment/provider_type/establishments"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#establishments-provider">
                    {% trans %}Treemap{% endtrans %}
                </a>
                <a href="/{{g.locale}}/stacked/cnes_establishment/establishments/municipality"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#establishments-provider">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div>

            <a href="#establishments-facilities" class="list-group-item" data-toggle="collapse" data-parent="#establishments-facilities">Instalações</a>
            <div class="collapse" id="establishments-facilities">
                <a href="/{{g.locale}}/tree_map/cnes_establishment/facilities/establishments"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#establishments-facilities">
                    {% trans %}Treemap{% endtrans %}
                </a>
                <a href="/{{g.locale}}/stacked/cnes_establishment/establishments/municipality"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#establishments-facilities">
                    {% trans %}Stacked{% endtrans %}
                </a>
            </div>
            
        </div>
    </nav>
    <div class="responsive-frame col-xs-12 col-sm-9 col-md-9">
        <div class="embed-responsive responsive-wrapper">
            <iframe src="{% if not graph %} /{{g.locale}}/bar/cnes_establishment/establishments/establishment_type?options=singlecolor {% endif %}"
                    name="graphs-frame-wages"
                    id="graphs-frame-wages"
                    class="embed-responsive-item" >
            </iframe>
        </div>
    </div>
</div>