<div id="graphs-professionals" class="container">
    <nav class="nav-graph col-xs-12 col-sm-3 col-md-3" >
    <h3>{% trans %}Preview{% endtrans %}:</h3>
        <div class="list-group panel">
            <h4>{% trans %}Professionals per{% endtrans %}</h4>
            <a href="#professionals-occupation" class="list-group-item" data-toggle="collapse" data-parent="#professionals-occupation">Ocupação</a>
            <div class="collapse" id="professionals-occupation">
                <a href="/{{g.locale}}/bar/cnes_professional/professionals/occupation_family?options=singlecolor"
                   target="graphs-frame-wages" class="list-group-item" data-parent="#professionals-occupation">
                    {% trans %}Bar{% endtrans %}
                </a>
            </div>
            <a href=""></a>
        </div>
    </nav>
    <div class="responsive-frame col-xs-12 col-sm-9 col-md-9">
        <div class="embed-responsive responsive-wrapper">
            <iframe src="{% if not graph %} /{{g.locale}}/bar/cnes_establishment/establishments/establishment_type?options=singlecolor {% endif %}"
                    name="graphs-frame-wages"
                    id="graphs-frame-wages"
                    class="embed-responsive-item" >
            </iframe>
        </div>
    </div>
</div>