<div role="tabpanel" class="tab-pane {{ 'active' if tab == 'establishments' }}" id="establishments">

        <h2>{% trans %}Establishments{% endtrans %}</h2>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="blue-box title">
                    {% trans %}Establishments{% endtrans %}
                </div>
                <div class="blue-box">
                    <p class="label">{% trans %}Total of establishments{% endtrans %}</p>
                    <div class="number">
                        <strong class="counter"> {{ total.establishments | max_digits(3, True) }} </strong><span>{{ total.establishments | magnitude }} 
                        {% trans %}jobs{% endtrans %}</span>
                    </div>
                </div>
            </div>

        </div><!--/.row-->
    </div>