<div role="tabpanel" class="tab-pane {{ 'active' if tab == 'general' }}" id="general">
    <h2>Perfil Geral</h2>

    <p></p>

    <div class="row">
<!--       <div class="dl-box col-xs-12 col-md-6" id="general-establishments">
        <h3>{% trans %}Establishments{% endtrans %}</h3>
        <a href="#establishments"
            aria-controls="establishments"
            role="tab"
            data-toggle="tab"
            graph class="pull-right btn btn-primary btn-xs m-r-lg"">{% trans %}More details{% endtrans %}
        </a>
      </div> -->

      <div class="dl-box col-xs-12 col-md-6" id="general-beds">
       <h3>{% trans %}Beds{% endtrans %} (2015)</h3>
        <a href="#beds"
            aria-controls="beds"
            role="tab"
            data-toggle="tab"
            graph class="pull-right btn btn-primary btn-xs m-r-lg"">{% trans %}More details{% endtrans %}
        </a>
      </div>

      <div class="dl-box col-xs-12 col-md-6" id="general-professionals">
      <h3>{% trans %}Professionals{% endtrans %} (2015)</h3>
       <a href="#professionals"
           aria-controls="professionals"
           role="tab"
           data-toggle="tab"
           graph class="pull-right btn btn-primary btn-xs m-r-lg"">{% trans %}More details{% endtrans %}
       </a>
      </div>

      <div class="dl-box col-xs-12 col-md-6" id="general-equipments">
      <h3>{% trans %}Equipments{% endtrans %} (2015)</h3>
       <a href="#equipments"
           aria-controls="equipments"
           role="tab"
           data-toggle="tab"
           graph class="pull-right btn btn-primary btn-xs m-r-lg"">{% trans %}More details{% endtrans %}
       </a>
      </div>

    </div>
</div>