<div role="tabpanel" class="tab-pane {{ 'active' if tab == 'professionals' }}" id="professionals">

        <h2>{% trans %}Professionals{% endtrans %} (2015)</h2>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="blue-box title">
                    {% trans %}Professionals{% endtrans %}
                </div>
                <div class="blue-box">
                    <p class="label">{% trans %}Total of professionals{% endtrans %}</p>
                    <div class="number">
                        <strong class="counter"> {{ total.professionals | max_digits(3, True) }} </strong><span>{{ total.professionals | magnitude }} 
                        {% trans %}professionals{% endtrans %}</span>
                    </div>
                </div>
            </div>

        </div><!--/.row-->
    </div>