<div role="tabpanel" class="tab-pane {{ 'active' if tab == 'general' }}" id="general">
    <h2>Perfil Geral</h2>


    <p>Belo Horizonte
    é um dos 853
    municípios do estado de Minas Gerais.
    Com área de 331 
    km², possui 2,37 milhões
    de habitantes e PIB per Capita de R$ 23,0 mil.
    Localizado na Mesorregião Metropolitana de Belo Horizonte,
    é o    1º
    município do estado em PIB.</p>

    <div class="row">
      <div class="dl-box col-xs-12 col-md-6" id="general-establishments">
          <h3>Estabelecimentos</h3>
        <dl class="dl-horizontal">
              </dl>
        <a href="#establishments"
            aria-controls="establishments"
            role="tab"
            data-toggle="tab"
            graph class="pull-right btn btn-primary btn-xs m-r-lg"">{% trans %}More details{% endtrans %}
        </a>
      </div>

      <div class="dl-box col-xs-12 col-md-6" id="general-beds">
       <h3>Leitos</h3>
        <dl class="dl-horizontal">
              </dl>
        <a href="#beds"
            aria-controls="beds"
            role="tab"
            data-toggle="tab"
            graph class="pull-right btn btn-primary btn-xs m-r-lg"">{% trans %}More details{% endtrans %}
        </a>
      </div>

      <div class="dl-box col-xs-12 col-md-6" id="general-professionals">
      <h3>Profissionais</h3>
       <dl class="dl-horizontal">
             </dl>
       <a href="#professionals"
           aria-controls="professionals"
           role="tab"
           data-toggle="tab"
           graph class="pull-right btn btn-primary btn-xs m-r-lg"">{% trans %}More details{% endtrans %}
       </a>
      </div>

      <div class="dl-box col-xs-12 col-md-6" id="general-equipments">
      <h3>Equipamentos</h3>
       <dl class="dl-horizontal">
             </dl>
       <a href="#equipments"
           aria-controls="equipments"
           role="tab"
           data-toggle="tab"
           graph class="pull-right btn btn-primary btn-xs m-r-lg"">{% trans %}More details{% endtrans %}
       </a>
      </div>

    </div>
</div>