<div role="tabpanel" class="tab-pane {{ 'active' if tab == 'beds' }}" id="beds">

        <h2>{% trans %}Beds{% endtrans %}</h2>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="blue-box title">
                    {% trans %}Beds{% endtrans %}
                </div>
                <div class="blue-box">
                    <p class="label">{% trans %}Total of beds{% endtrans %}</p>
                    <div class="number">
                        <strong class="counter"> {{ total.beds | max_digits(3, True) }} </strong><span>{{ total.beds | magnitude }} 
                        {% trans %}beds{% endtrans %}</span>
                    </div>
                </div>
            </div>

        </div><!--/.row-->
    </div>