<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>05_Perfil genérico</title>
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="perfil-estado">
    <nav class="navpre hidden-xs">
        <div class="container">
            <ul>
                <li><a href="17-estudos.html">Estudos</a></li>
                <li><a href="17-noticias.html">Notícias</a></li>
                <li><a href="20-blog.html">Blog</a></li>
                <li><a href="23-contato.html">Contato</a></li>
            </ul>
        </div>
    </nav>
    <nav class="navbar">








<div class="container">
        <ol class="breadcrumb">
            <li><a href="01-index.html">Home</a></li>
            <li><a href="#">Atividade Econômica</a></li>
            <li class="active"><span>Teleatendimento<span></span></span></li>
            </ol>
            <div class="tit-area" style="background-image: url('static/img/bg-profile-location.jpg')">
                <div class="row">
                    <div class="col-xs-15 col-md-offset-4 col-md-11">
                        <h1>
                            Minas Gerais
                            <a href="#" data-toggle="modal" data-target="#modal-dataviva" title="Trocar">
                                (trocar)</a>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sidebar has-img col-xs-15 col-md-4">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7748245.803118934!2d-49.94643868147362!3d-18.514293729997753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa690a165324289%3A0x112170c9379de7b3!2sMinas+Gerais!5e0!3m2!1spt-BR!2sbr!4v1450524997110" width="200" height="150" frameborder="0" class="tit" style="border:0" allowfullscreen=""></iframe>
                        <ul class="nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#geral" aria-controls="geral" role="tab" data-toggle="tab">Geral</a>
                            </li>
                            <li role="presentation">
                                <a href="#comercio-internacional" aria-controls="comercio-internacional" role="tab" data-toggle="tab">Comércio Internacional</a>
                            </li>
                            <li role="presentation">
                                <a href="#salario-emprego" aria-controls="salario-emprego" role="tab" data-toggle="tab">Salário e emprego</a>
                            </li>
                            <li role="presentation">
                                <a href="#oportunidade-economica" aria-controls="oportunidade-economica" role="tab" data-toggle="tab">Oportunidade Econômica</a>
                            </li>
                            <li role="presentation">
                                <a href="#educacao" aria-controls="educacao" role="tab" data-toggle="tab">Educação</a>
                            </li>
                            <li role="presentation">
                                <a href="#saude" aria-controls="saude" role="tab" data-toggle="tab">Saúde</a>
                            </li>
                            <li role="presentation">
                                <a href="#empresas" aria-controls="empresas" role="tab" data-toggle="tab">Empresas</a>
                            </li>
                        </ul>
                    </div>
                    <div class="main-content col-xs-15 col-md-11">
                        <div class="tab-content">

                            {% include "tab-geral.html" %}
                            {% include "tab-comercio-internacional.html" %}
                            {% include "tab-salario-emprego.html" %}
                            {% include "tab-oportunidade-economica.html" %}
                            {% include "tab-educacao.html" %}
                            {% include "tab-saude.html" %}
                            {% include "tab-empresas.html" %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>








            <div class="modal fade dataviva" tabindex="-1" role="dialog" id="modal-dataviva">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Empreendedor</h4>
                        </div>
                        <div class="modal-body">
                            <div id="carousel-modal" class="carousel slide" data-interval="false">
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="institucional search">
                                            <h2>O que você gostaria de descobrir?</h2>
                                            <form action="" class="form-dataviva form-inline filter">
                                                <div class="form-group">
                                                    <i class="fa fa-search"></i>
                                                    <input id="field-search" type="text" class="busca form-control" />
                                                </div>
                                                <div class="search-items">
                                                    <h4>Principais Pesquisas</h4>
                                                    <div class="list-group list-stripped">
                                                        <a href="#" class="list-group-item">Quantidade de estabelecimentos de uma atividade em uma região</a>
                                                        <a href="#" class="list-group-item">Salário médio de uma atividade ou ocupação em uma região</a>
                                                        <a href="#" class="list-group-item">Principais parceiros comerciais de um Produto em ume região</a>
                                                        <a href="#" class="list-group-item">Localidades que concentram o emprego de uma atividade</a>
                                                        <a href="#" class="list-group-item">Localidades que mais importam ou exportam um produto específico</a>
                                                        <a href="#" class="list-group-item">Produtos similares ao do meu negócio, produzidos em uma região</a>
                                                        <a href="#" class="list-group-item">Cursos oferecidos em ume região</a>
                                                        <a href="#" class="list-group-item">Perfil econômico geral de uma região</a>
                                                        <a href="#" class="list-group-item more">Exibir mais opções <i class="fa fa-caret-down"></i></a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="institucional search">
                                            <h2>Escolha um produto da lista abaixo ou busque pelo nome</h2>
                                            <form action="" class="form-dataviva form-inline filter">
                                                <div class="form-group">
                                                    <i class="fa fa-search"></i>
                                                    <input id="field-search" type="text" class="busca form-control" />
                                                </div>
                                                <div class="search-items">
                                                    <div class="list-group list-stripped">
                                                        <a href="#" class="list-group-item">Quantidade de estabelecimentos de uma atividade em uma região</a>
                                                        <a href="#" class="list-group-item">Salário médio de uma atividade ou ocupação em uma região</a>
                                                        <a href="#" class="list-group-item">Principais parceiros comerciais de um Produto em ume região</a>
                                                        <a href="#" class="list-group-item">Localidades que concentram o emprego de uma atividade</a>
                                                        <a href="#" class="list-group-item">Localidades que mais importam ou exportam um produto específico</a>
                                                        <a href="#" class="list-group-item">Produtos similares ao do meu negócio, produzidos em uma região</a>
                                                        <a href="#" class="list-group-item">Cursos oferecidos em ume região</a>
                                                        <a href="#" class="list-group-item">Perfil econômico geral de uma região</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="institucional search">
                                            <h2>Escolha um localidade da lista abaixo ou busque pelo nome</h2>
                                            <form action="" class="form-dataviva form-inline filter">
                                                <div class="form-group">
                                                    <div class="btn-group" role="group" aria-label="...">
                                                        <button type="button" class="btn btn-default">Regiões</button>
                                                        <button type="button" class="btn btn-default">Estados</button>
                                                        <button type="button" class="btn btn-default">Mesorregiões</button>
                                                        <button type="button" class="btn btn-default">Microregiões</button>
                                                        <button type="button" class="btn btn-default">Municípios</button>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="form-group">
                                                    <i class="fa fa-search"></i>
                                                    <input id="field-search" type="text" class="busca form-control" />
                                                </div>
                                                <div class="search-items">
                                                    <div class="list-group list-stripped">
                                                        <a href="#" class="list-group-item">Quantidade de estabelecimentos de uma atividade em uma região</a>
                                                        <a href="#" class="list-group-item">Salário médio de uma atividade ou ocupação em uma região</a>
                                                        <a href="#" class="list-group-item">Principais parceiros comerciais de um Produto em ume região</a>
                                                        <a href="#" class="list-group-item">Localidades que concentram o emprego de uma atividade</a>
                                                        <a href="#" class="list-group-item">Localidades que mais importam ou exportam um produto específico</a>
                                                        <a href="#" class="list-group-item">Produtos similares ao do meu negócio, produzidos em uma região</a>
                                                        <a href="#" class="list-group-item">Cursos oferecidos em ume região</a>
                                                        <a href="#" class="list-group-item">Perfil econômico geral de uma região</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p><a href="#">Não encontrei o que procuro</a></p>
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-modal" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-modal" data-slide-to="1"></li>
                                <li data-target="#carousel-modal" data-slide-to="2"></li>
                            </ol>
                            <p>
                                <a class="btn btn-lg btn-dataviva pull-left" href="#carousel-modal" role="button" data-slide="prev">Voltar</a>
                                <a class="btn btn-lg btn-dataviva" href="#carousel-modal" role="button" data-slide="next">Avançar</a>
                            </p>
                            <p><a href="#carousel-modal" role="button" data-dismiss="modal" aria-label="Close" class="pull-left">Cancelar</a></p>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <footer class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-15 col-sm-5 col-md-3">
                            <ul class="sub-menu">
                                <li><a href="16-sobre.html" title="Sobre">Sobre</a></li>
                                <li><a href="16-sobre.html" title="O Dataviva">O Dataviva</a></li>
                                <li><a href="15-parcerias.html" title="Parceiros">Parceiros</a></li>
                                <li><a href="23-contato.html" title="Entre em contato">Entre em contato</a></li>
                                <li><a href="23-contato.html" title="Imprensa">Imprensa</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-15 col-sm-5 col-md-3">
                            <ul class="sub-menu">
                                <li><a href="02-pesquisa-publico.html" title="Explore">Explore</a></li>
                                <li class="parent">
                                    <a href="#" title="Pesquisa">Pesquisa</a>
                                    <ul>
                                        <li><a href="02-pesquisa-publico.html" title="Localidades">Localidades</a></li>
                                        <li><a href="12-13-perfil-produtos.html" title="Produtos">Produtos</a></li>
                                        <li><a href="12-13-perfil-ocupacoes.html" title="Ocupações">Ocupações</a></li>
                                        <li><a href="12-13-perfil-atividade-economica2.html" title="Atividades econômicas">Atividades econômicas</a></li>
                                        <li><a href="06-perfil-comercio.html" title="Parceiros comerciais">Parceiros comerciais</a></li>
                                        <li><a href="12-13-perfil-cursos.html" title="Cursos">Cursos</a></li>
                                        <li><a href="12-13-perfil-cursos-basicos.html" title="Cursos básicos">Cursos básicos</a></li>
                                        <li><a href="12-13-perfil-saude.html" title="Saúde">Saúde</a></li>
                                    </ul>
                                </li>
                                <li><a href="07-ranking.html" title="Rankings">Rankings</a></li>
                                <li><a href="22-construa-graficos.html" title="Crie seu gráfico">Crie seu gráfico</a></li>
                                <li><a href="18-download-banco-dados2.html" title="Download de dados">Download de dados</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-15 col-sm-5 col-md-2">
                            <ul class="sub-menu">
                                <li><a href="#" title="Suporte">Suporte</a></li>
                                <li><a href="21-ajuda.html" title="Ajuda">Ajuda</a></li>
                                <li><a href="16-sobre.html" title="Tour Virtual">Tour Virtual</a></li>
                                <li><a href="23-contato.html" title="Contato">Contato</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-15 col-sm-7 col-md-7" id="contato">
                            <p>ENTRE EM CONTATO</p>
                            <div class="row">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="footer-nome" class="col-xs-15 col-sm-5 col-md-3 control-label">Nome</label>
                                        <div class="col-xs-15 col-sm-10 col-md-11">
                                            <input type="text" class="form-control" id="footer-nome" placeholder="Nome">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="footer-email" class="col-xs-15 col-sm-5 col-md-3 control-label">Email</label>
                                        <div class="col-xs-15 col-sm-10 col-md-11">
                                            <input type="email" class="form-control" id="footer-email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="footer-txt" class="col-xs-15 col-sm-5 col-md-3 control-label">Mensagem</label>
                                        <div class="col-xs-15 col-sm-10 col-md-11">
                                            <textarea class="form-control" rows="3" id="footer-txt" placeholder="Mensagem"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-5 col-md-offset-3 col-xs-15 col-sm-10 col-md-11">
                                            <button type="submit" class="btn btn-default">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="modal fade dataviva" tabindex="-1" role="dialog" id="dataviva-login" data-show="true">
                <div class="modal-dialog modal-clear">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="loginmodal-container">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h1>Acesso de usuários</h1>
                                <div class="clearfix"><!--//--></div>
                                <form>
                                    <input type="text" name="user" placeholder="Usuário">
                                    <input type="password" name="pass" placeholder="Senha">
                                    <input type="submit" name="login"  class="btn btn-default btn-dataviva" value="Entrar">
                                </form>
                                <div class="login-help">
                                    <a href="#">Cadastre-se</a> - <a href="#">Esqueci a senha</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
            <script src="/static/dist/js/bootstrap.min.js"></script>
            <script src="/static/dist/js/jquery.counterup.min.js"></script>
            <script type="text/javascript">
            $(function(){
                $('[data-toggle="popover"]').popover({
                    'trigger' : 'hover click'
                });
                $('.counter').counterUp();
            });
            </script>
        </body>
        </html>
