<!-- extend from base layout -->
{% extends "base.html" %}

{% block title %}: {% trans %}Visualizations{% endtrans %}{% endblock %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.info.css" />
  <style>
  video, source {
	  background-color: white;
  }
  *, body {
	  overflow: hidden;
  }
  </style>

{% endblock %}

{% block content %}

<div class='media'></div>
<div id='info'>
  <div class='divider'></div>
  <div class='text'></div>
  <div id='pagination'></div>
</div>
<a id='prev' class="page_button decision icon {{ app_name }} prev" href='#'>{% trans %}Previous{% endtrans %}</a>
<a id='next' class="page_button decision icon {{ app_name }} next" href='#'>{% trans %}Next{% endtrans %}</a>

{% endblock %}

{% block js %}

<script>
var lang = "{{ g.locale }}"
var app_name = "{{ app_name }}"

var apps_info = {
      "compare": [
          {
              "image": "/static/img/help/compare/compare.png",
              "text_pt": "Compare (semelhante \u00e0 Dispers\u00e3o) \u00e9 um gr\u00e1fico de dispers\u00e3o para a compara\u00e7\u00e3o de um valor de duas posi\u00e7\u00f5es diferentes ao longo dos eixos X e Y.",
              "text_en": "Compare (similar to the Scatter) is a scatter plot comparing a value for 2 different locations along an X and Y axis."
          },
          {
              "image": "/static/img/help/compare/compare.png",
              "text_pt": "Nesta visualiza\u00e7\u00e3o cada campo representa a agrega\u00e7\u00e3o superior das atividades.",
              "text_en": "In this visualization each node represents a top-level industry sector."
          },
          {
              "image": "/static/img/help/compare/compare.png",
              "text_pt": "Aqui, os eixos s\u00e3o ajustados ao n\u00famero de empregados, o eixo Y \u00e9 de Minas Gerais e o eixo X do Rio de Janeiro.",
              "text_en": "Here the axes are set to the number of jobs, the Y axis is for Minas Gerais and X axis for Rio de Janeiro."
          },
          {
              "image": "/static/img/help/compare/compare.png",
              "text_pt": "A linha pontilhada diagonal \u00e9 onde o valor do n\u00famero de empregados de Minas Gerais \u00e9 igual ao do Rio de Janeiro. Qualquer ponto acima da linha indica uma vantagem para a localiza\u00e7\u00e3o no eixo Y e abaixo da linha indica uma vantagem para o local no eixo  X.",
              "text_en": "The diagonal dashed line is where the value of both Minas Gerais and Rio de Janeiro\u2019s number of jobs is the same. Anything above the line indicates an advantage for the location on the Y axis and below the line indicates an advantage for the location on the X axis."
          },
          {
              "image": "/static/img/help/compare/compare_hover.png",
              "text_pt": "O cursor sobre um campo, ir\u00e1 mostrar o nome do setor, bem como os valores espec\u00edficos dos eixos Y e X.",
              "text_en": "Hovering over a node will show the name of the industry sector as well as the specific X and Y axis values."
          },
          {
              "image": "/static/img/help/compare/compare_click.png",
              "text_pt": "Ao clicar, mais detalhes s\u00e3o revelados sobre a atividade de Agricultura, bem como aplicativos relacionados.",
              "text_en": "On click, even greater detail is revealed about the Agriculture industry sector, as well as related apps."
          },
          {
              "text_pt": "O DataViva tamb\u00e9m permite visualizar um gr\u00e1fico de dispers\u00e3o comparando exporta\u00e7\u00f5es de produtos, bem como ocupa\u00e7\u00f5es.",
              "video": "/static/img/help/compare/compare_change_output",
              "text_en": "DataViva can also visualize a scatter plot comparing product exports as well as occupations."
          },
          {
              "text_pt": "Podemos alterar a classifica\u00e7\u00e3o para exibir n\u00edveis mais profundos de detalhamento para cada categoria de n\u00edvel superior.",
              "video": "/static/img/help/compare/compare_change_nesting",
              "text_en": "We can change the classification to display deeper levels of nesting for each top-level categories."
          },
          {
              "text_pt": "Os eixos est\u00e3o mostrando o log de valores de exporta\u00e7\u00e3o, mas isso pode ser alterado para uma escala linear. Tal como acontece com muitos outros aplicativos, \u00e9 poss\u00edvel alterar o valor de cor para refletir diferentes vari\u00e1veis, tais como o crescimento.",
              "video": "/static/img/help/compare/compare_change_scale_color",
              "text_en": "The axes are currently showing the log of export values but this can be changed to a linear scale. As with many of the other apps, we can change the color value to reflect different variables such as growth."
          }
      ],
      "tree_map": [
          {
              "image": "/static/img/help/tree_map/tree_map.jpg",
              "text_pt": "Tree Maps podem ser usados para visualizar participa\u00e7\u00f5es.",
              "text_en": "Tree Maps can be used to look at shares."
          },
          {
              "image": "/static/img/help/tree_map/tree_map.jpg",
              "text_pt": "Este Tree Map mostra as exporta\u00e7\u00f5es de Minas Gerais.",
              "text_en": "This tree map shows the exports of Minas Gerais."
          },
          {
              "image": "/static/img/help/tree_map/tree_map.jpg",
              "text_pt": "As Cores indicam diferentes categorias de exporta\u00e7\u00e3o.",
              "text_en": "Colors indicate different export categories."
          },
          {
              "image": "/static/img/help/tree_map/tree_map_hover.jpg",
              "text_pt": "Passando o cursor, outras estat\u00edsticas do produto s\u00e3o mostradas.",
              "text_en": "On hover, other statistics of the product are shown."
          },
          {
              "image": "/static/img/help/tree_map/tree_map_click.jpg",
              "text_pt": "Ao clicar, um sum\u00e1rio detalhado do produto \u00e9 mostrado com uma lista das visualiza\u00e7\u00f5es relacionadas.",
              "text_en": "On click, a detailed summary of the product is shown with a list of related visualizations."
          },
          {
              "text_pt": "O tipo de Tree Map mostrado pode ser alterado selecionando \"Alterar Visualiza\u00e7\u00e3o\".",
              "video": "/static/img/help/tree_map/change_output",
              "text_en": "The type of tree map displayed can be changed by selecting 'Change Output'."
          },
          {
              "text_pt": "DataViva pode mostrar as participa\u00e7\u00f5es dos empregados, os sal\u00e1rios e os estabelecimentos para cada setor, e pode apresentar setores em um n\u00edvel alto ou baixo de agrega\u00e7\u00e3o.",
              "video": "/static/img/help/tree_map/change_options",
              "text_en": "DataViva can show the shares of jobs, wages and establishments for each industry, and can present industries at a high or low level of aggregation."
          },
          {
              "text_pt": "DataViva pode construir muitos Tree Maps altamente espec\u00edficos: por exemplo, os munic\u00edpios do estado de Minas Gerais, onde as Atividades de Programa\u00e7\u00e3o de Computadores est\u00e3o presentes.",
              "video": "/static/img/help/tree_map/highly_specific",
              "text_en": "DataViva can construct many highly specific tree maps: For example, the municipalities in the state of Minas Gerais where Computer Programming Activities are present."
          },
          {
              "text_pt": "DataViva tamb\u00e9m pode mostrar o crescimento do emprego em cada um destes munic\u00edpios.",
              "video": "/static/img/help/tree_map/growth",
              "text_en": "DataViva can also show the employment growth in each of these municipalities."
          }
      ],
      "stacked": [
          {
              "image": "/static/img/help/stacked/stacked.png",
              "text_pt": "Os gr\u00e1ficos de Evolu\u00e7\u00e3o podem ser usados para explorar a evolu\u00e7\u00e3o dos valores e das participa\u00e7\u00f5es.",
              "text_en": "Stacked Area Charts can be used to explore the evolution of values and shares."
          },
          {
              "image": "/static/img/help/stacked/stacked.png",
              "text_pt": "Este gr\u00e1fico mostra a evolu\u00e7\u00e3o do emprego em Minas Gerais",
              "text_en": "This stacked chart shows the evolution of employment in Minas Gerais."
          },
          {
              "image": "/static/img/help/stacked/stacked.png",
              "text_pt": "As cores indicam diferentes categorias ocupacionais.",
              "text_en": "Colors indicate different occupational categories."
          },
          {
              "image": "/static/img/help/stacked/stacked_hover.png",
              "text_pt": "Passando o cursor, outras estat\u00edsticas ocupacionais s\u00e3o mostradas.",
              "text_en": "On hover, other statistics of the occupation are shown."
          },
          {
              "image": "/static/img/help/stacked/stacked_clicked.png",
              "text_pt": "Ao clicar, um sum\u00e1rio detalhado das ocupa\u00e7\u00f5es \u00e9 mostrado com uma lista das visualiza\u00e7\u00f5es relacionadas.",
              "text_en": "On click, a detailed summary of the occupation is shown with a list of related visualizations."
          },
          {
              "text_pt": "O tipo de Evolu\u00e7\u00e3o mostrada pode ser alterada selecionando \"Alterar Visualiza\u00e7\u00e3o\".",
              "video": "/static/img/help/stacked/stacked_change_output",
              "text_en": "The type of Stacked chart displayed can be changed by selecting Change Output."
          },
          {
              "text_pt": "Utilizando os \u00edcones de categoria na parte posterior, podemos isolar ou remover uma categoria da visualiza\u00e7\u00e3o.",
              "video": "/static/img/help/stacked/stacked_solo",
              "text_en": "By using the category icons on the bottom, we can solo or remove a category from the visualization."
          },
          {
              "text_pt": "O DataViva pode construir diversos gr\u00e1ficos de Evolu\u00e7\u00e3o, por exemplo, as ocupa\u00e7\u00f5es contratadas no setor de Programa\u00e7\u00e3o de Computadores em Santa Rita do Sapuca\u00ed.",
              "video": "/static/img/help/stacked/stacked_specialized",
              "text_en": "DataViva can construct many highly specific Stacked charts for example, the occupations employed in Santa Rita do Sapucai\u2019s computer programming industry."
          },
          {
              "text_pt": "Podemos buscar isto por n\u00famero de empregados, total dos sal\u00e1rios, m\u00e9dia salarial e n\u00famero de estabelecimentos.",
              "video": "/static/img/help/stacked/stacked_change_size",
              "text_en": "We can look at this by number of jobs, total wages, average wages, and number of establishments."
          }
      ],
      "network": [
          {
              "image": "/static/img/help/network/network.png",
              "text_pt": "As Redes s\u00e3o utilizadas para explorar produtos e setores relacionados.",
              "text_en": "Networks are used to explore related products and industries."
          },
          {
              "image": "/static/img/help/network/network.png",
              "text_pt": "A visualiza\u00e7\u00e3o mostra as atividades econ\u00f4micas presentes no munic\u00edpio de Betim.",
              "text_en": "This visualization shows the industries that are present in the municipality of Betim."
          },
          {
              "image": "/static/img/help/network/network_hover.png",
              "text_pt": "Cada ponto representa uma atividade. Pontos totalmente coloridos s\u00e3o as atividades onde o munic\u00edpio de Betim \u00e9 mais competitivo.",
              "text_en": "Each node represents an industry. Fully colored nodes are the industries where the municipality of Betim is most competitive."
          },
          {
              "image": "/static/img/help/network/network_hover.png",
              "text_pt": "Os links conectam atividades que tendem a contratar profissionais para a mesma ocupa\u00e7\u00e3o.",
              "text_en": "Links connect industries that tend to hire workers from the same occupations."
          },
          {
              "image": "/static/img/help/network/network_click.png",
              "text_pt": "Clicando no \u00edcone da atividade, amplia a \u00e1rea definida por aquela atividade e as atividades conectadas a ela.",
              "text_en": "Clicking on an industry zooms into the area defined by that industry, and the industries that are connected to it."
          },
          {
              "image": "/static/img/help/network/network_click.png",
              "text_pt": "A presen\u00e7a das atividades conectadas em uma localiza\u00e7\u00e3o indica a presen\u00e7a de habilidades necess\u00e1rias para desenvolver tal atividade e onde \u00e9 previsto um sucesso em potencial.",
              "text_en": "The presence of connected industries in a location indicates the presence of the skills needed to develop that industry, and is predictive of potential success in that area."
          },
          {
              "text_pt": "O DataViva tamb\u00e9m pode visualizar a rede de exporta\u00e7\u00e3o do produto.",
              "video": "/static/img/help/network/network_change_output",
              "text_en": "DataViva can also visualize the network of product exports."
          },
          {
              "text_pt": "Podemos tamb\u00e9m colorir os pontos, baseados em outras medi\u00e7\u00f5es tais como complexidade, para encontrar os produtos mais sofisticados.",
              "video": "/static/img/help/network/network_change_color",
              "text_en": "We can also color the nodes based on other measures, such as complexity, to find which are the more sophisticated products."
          }
      ],
      "rings": [
          {
              "image": "/static/img/help/rings/rings.png",
              "text_pt": "An\u00e9is podem ser utilizados para explorar produtos relativos, setores ou ocupa\u00e7\u00f5es. O ponto central mostra o item selecionado, neste caso, o setor.",
              "text_en": "Rings can be used to explore related products, industries or occupations. The central node shows the selected item, in this case an industry."
          },
          {
              "image": "/static/img/help/rings/rings.png",
              "text_pt": "Esta visualiza\u00e7\u00e3o mostra as conex\u00f5es prim\u00e1rias e secund\u00e1rias para a atividade de Programa\u00e7\u00e3o de Dados.",
              "text_en": "This visualization shows the primary and secondary connections for the Computer Programming industry."
          },
          {
              "image": "/static/img/help/rings/rings.png",
              "text_pt": "Similar a uma Network, cada ponto aqui representa um setor. Pontos totalmente coloridos s\u00e3o os setores onde o munic\u00edpio de Santa Rita do Sapuca\u00ed \u00e9 mais competitivo.",
              "text_en": "Similar to a Network, each node here represents an industry. Fully colored nodes are the industries where the municipality of Santa Rita do Sapuca\u00ed is most competitive."
          },
          {
              "image": "/static/img/help/rings/rings.png",
              "text_pt": "Os links conectam setores que tendem a contratar profissionais da mesma ocupa\u00e7\u00e3o.",
              "text_en": "Links connect industries that tend to hire workers from the same occupations."
          },
          {
              "image": "/static/img/help/rings/rings_hover.png",
              "text_pt": "Passar o cursor sobre uma atividade conectada destaca suas conex\u00f5es em vermelho.",
              "text_en": "Hovering over a connected industry will highlight its connections in red."
          },
          {
              "text_pt": "Clicar sobre uma atividade conectada muda a visualiza\u00e7\u00e3o para este setor, atualizando todas as informa\u00e7\u00f5es e conex\u00f5es correspondentes.",
              "video": "/static/img/help/rings/rings_click",
              "text_en": "Clicking on a connected industry will change the visualization to now center on this industry, updating all the relevant information and connections."
          },
          {
              "text_pt": "O DataViva tamb\u00e9m permite visualizar as conex\u00f5es de produtos exportados e de ocupa\u00e7\u00f5es.",
              "video": "/static/img/help/rings/rings_change_output",
              "text_en": "DataViva can also visualize the connections of product exports and occupations."
          },
          {
              "text_pt": "Tamb\u00e9m podemos colorir os pontos com base em outras medi\u00e7\u00f5es como complexidade ou crescimento",
              "video": "/static/img/help/rings/rings_change_color",
              "text_en": "We can also color the nodes based on other measures, such as complexity or growth."
          }
      ],
      "occugrid": [
          {
              "image": "/static/img/help/occugrid/occugrid.png",
              "text_pt": "Ocupa\u00e7\u00f5es mostra a for\u00e7a de trabalho recomendado para um determinado setor em um local. Ele pode ser usado para determinar que ocupa\u00e7\u00f5es uma localidade pode necessitar contratar, a fim de tornar-se mais bem sucedida.",
              "text_en": "Occugrid shows the recommended workforce for a given industry in a location. It can be used to determine which occupations a location may need to hire in order to become more successful."
          },
          {
              "image": "/static/img/help/occugrid/occugrid.png",
              "text_pt": "Cada gr\u00e1fico de rosca representa uma ocupa\u00e7\u00e3o usada por locais similares especializados no setor selecionado. Neste caso, vemos as ocupa\u00e7\u00f5es comumente encontradas no setor de Programa\u00e7\u00e3o de Computadores.",
              "text_en": "Each donut chart represents an occupation that is used by similar successful locations in the selected industry. In this case we are looking at the occupations commonly found in the Computer Programming industry."
          },
          {
              "image": "/static/img/help/occugrid/occugrid_details_\"+lang+\".png",
              "text_pt": "A dimens\u00e3o global de cada rosca \u00e9 determinada pela quantidade de empregados recomendadas. Este gr\u00e1fico rosca est\u00e1 dividido em tr\u00eas se\u00e7\u00f5es, conforme ilustrado no diagrama.",
              "text_en": "The overall size of each donut is determined by the amound of recommended employees. This donut chart is divided into 3 sections, as illustrated in the diagram."
          },
          {
              "image": "/static/img/help/occugrid/occugrid_hover.png",
              "text_pt": "Com o cursor, vemos a rela\u00e7\u00e3o de empregados por estabelecimento encontrados na atividade de Programa\u00e7\u00e3o de Computadores em Minas Gerais, encontrados em outras atividades em Minas Gerais, e quantos deles s\u00e3o recomendados para emprego.",
              "text_en": "On hover, we see the breakdown of jobs per establishment found in the Computer Programming industry in Minas Gerais, found in other industries in Minas Gerais, and how many they are recommended to employ."
          },
          {
              "image": "/static/img/help/occugrid/occugrid_click.png",
              "text_pt": "Ao clicar, mais detalhes s\u00e3o revelados sobre Analistas de Informa\u00e7\u00e3o no setor de Programa\u00e7\u00e3o de Computador, bem como aplicativos relacionados.",
              "text_en": "On click even greater detail is revealed about Information Analysts in the Computer Programming industry sector, as well as related apps."
          },
          {
              "text_pt": "Ocupa\u00e7\u00f5es oferece op\u00e7\u00f5es diferentes para alterar os grupos de trabalho, como por setor e disponibilidade.",
              "video": "/static/img/help/occugrid/occugrid_change_grouping",
              "text_en": "Occugrid has many different options to change the occupational groupings, such as by sector and availability."
          },
          {
              "text_pt": "Tamb\u00e9m podemos alterar o dimensionamento, classifica\u00e7\u00e3o e valor de cor para visualizar diversas combina\u00e7\u00f5es diferentes de dados e revelar novos insights.",
              "video": "/static/img/help/occugrid/occugrid_change_options",
              "text_en": "We can also change the sizing, sorting, and color value to view many different combinations of the data and reveal new insights."
          }
      ],
      "geo_map": [
          {
              "image": "/static/img/help/geo_map/geo_map.png",
              "text_pt": "Um Mapa pode ser utilizado para explorar a distribui\u00e7\u00e3o espacial dos dados.",
              "text_en": "A Geo Map can be used to explore the spatial distribution of data."
          },
          {
              "image": "/static/img/help/geo_map/geo_map.png",
              "text_pt": "A visualiza\u00e7\u00e3o mostra os Munic\u00edpios de Minas Gerais coloridos pela m\u00e9dia total mensal dos sal\u00e1rios em todos os setores.",
              "text_en": "This visualization shows the Municipalities in Minas Gerais colored by total average monthly wages in all industries."
          },
          {
              "image": "/static/img/help/geo_map/geo_map_hover.png",
              "text_pt": "Passando o cursor sobre o munic\u00edpio, ser\u00e3o mostradas informa\u00e7\u00f5es relevantes como o nome do munic\u00edpio.",
              "text_en": "Hovering over a municipality will show the name and other relevant information."
          },
          {
              "image": "/static/img/help/geo_map/geo_map_click.png",
              "text_pt": "Clicando, focamos o munic\u00edpio selecionado e informa\u00e7\u00f5es mais detalhadas, bem como uma lista dos apps relativos.",
              "text_en": "On click, we are zoomed into the selected municipality and shown more detailed information, as well as a list of related apps."
          },
          {
              "text_pt": "Uma vis\u00e3o diferente dos dados pode ser mostrada, alterando a visualiza\u00e7\u00e3o. Podemos tamb\u00e9m buscar o mapa de sal\u00e1rios para uma atividade em particular.",
              "video": "/static/img/help/geo_map/geo_map_change_output",
              "text_en": "Different views of the data can be shown with this visualization by changing the output. We can also look at a map of the wages for a particular industry."
          },
          {
              "text_pt": "Tamb\u00e9m podemos alterar o valor utilizado para a cor.",
              "video": "/static/img/help/geo_map/geo_map_change_color",
              "text_en": "We can also change the value used for color."
          },
          {
              "text_pt": "O Mapa pode tamb\u00e9m mostrar dados para todo o Brasil, por estado.",
              "video": "/static/img/help/geo_map/geo_map_all_brazil",
              "text_en": "The Geo Map can also show data for the entirety of Brazil by state."
          }
      ],
      "scatter": [
          {
              "image": "/static/img/help/scatter/scatter.png",
              "text_pt": "Dispers\u00e3o compara diferentes valores ao longo dos eixos X e Y.",
              "text_en": "Scatter (similar to Compare) is a scatter plot comparing different values along an X and Y axis."
          },
          {
              "image": "/static/img/help/scatter/scatter.png",
              "text_pt": "Nesta visualiza\u00e7\u00e3o cada ponto representa um setor de produtos agregados. Os pontos s\u00e3o os gr\u00e1ficos de pizza preenchidos pelo percentual de produtos exportados por Minas Gerais naquele setor.",
              "text_en": "In this visualization each node represents a top-level product sector. The nodes are pie charts filled in by the percentage of products in that sector exported by Minas Gerais."
          },
          {
              "image": "/static/img/help/scatter/scatter.png",
              "text_pt": "Aqui, o eixo X mostra a Dist\u00e2ncia do produto, que \u00e9 um indicador de qu\u00e3o perto est\u00e3o os produtos que Minas Gerais exporta no Espa\u00e7o de Produtos.",
              "text_en": "Here, the X axis shows the product\u2019s Distance value, which is an indicator of how near it is to products that Minas Gerais does export in the Product Space."
          },
          {
              "image": "/static/img/help/scatter/scatter.png",
              "text_pt": "O eixo Y mostra a complexidade do produto, que \u00e9 um indicador de quantos pa\u00edses exportam o produto e qu\u00e3o diversificados s\u00e3o estes exportadores.",
              "text_en": "The Y axis shows Product Complexity, which is an indicator of how many countries export the product and how diversified those exporters are."
          },
          {
              "image": "/static/img/help/scatter/scatter_hover.png",
              "text_pt": "Colocar o cursor sobre um ponto vai mostrar o percentual de produtos exportados em Minas Gerais, bem como os valores espec\u00edficos dos eixos X e Y.",
              "text_en": "Hovering over a node will show what percentage of products are being exported in Minas Gerais, as well as the specific X and Y axis values."
          },
          {
              "image": "/static/img/help/scatter/scatter_click.png",
              "text_pt": "Ao clicar, maiores detalhes s\u00e3o revelados sobre o setor de produtos de Metal, bem como aplicativos relacionados.",
              "text_en": "On click even greater detail is revealed about the Metals product sector as well as related apps."
          },
          {
              "text_pt": "O DataViva tamb\u00e9m permite visualizar um gr\u00e1fico de dispers\u00e3o das atividades. Uma diferen\u00e7a \u00e9 que a complexidade \u00e9 substitu\u00edda pelo n\u00famero de ocupa\u00e7\u00f5es exclusivas necess\u00e1rias para aquele setor.",
              "video": "/static/img/help/scatter/scatter_change_output",
              "text_en": "DataViva can also visualize a scatter plot of industries. One difference is that complexity is replaced with the number of unique occupations required for that industry."
          },
          {
              "text_pt": "N\u00f3s podemos mudar a classifica\u00e7\u00e3o para exibir n\u00edveis mais profundos de detalhamento para cada categoria de n\u00edvel superior.",
              "video": "/static/img/help/scatter/scatter_change_nesting",
              "text_en": "We can change the classification to display deeper levels of nesting for each top-level categories."
          },
          {
              "text_pt": "Tal como acontece com muitos dos outros efeitos visuais, pode-se mudar o dimensionamento para refletir sal\u00e1rio ou n\u00famero de estabelecimentos, bem como o valor da cor.",
              "video": "/static/img/help/scatter/scatter_change_size_color",
              "text_en": "As with many of the other visualizations, we can change the sizing to reflect monthly wage or number of establishments as well as the color value."
          }
      ]
  }



load_info(apps_info[app_name])

function resize(max_w, max_h, img_w, img_h) {

  var ratio = 0;  // Used for aspect ratio
	var dimensions = [img_w, img_h]

  // Check if the current width is larger than the max
  if(img_w > max_w){
      ratio = max_w / img_w;   // get ratio for scaling image
      dimensions[0] = max_w; // Set new width
      dimensions[1] = img_h * ratio;  // Scale height based on ratio
      // height = height * ratio;    // Reset height to match scaled image
      // width = width * ratio;    // Reset width to match scaled image
  }

  // Check if current height is larger than max
  if(img_h > max_h){
      ratio = max_h / img_h; // get ratio for scaling image
      dimensions[0] = img_w *ratio;    // Scale width based on ratio
    	dimensions[1] = max_h;   // Set new height
      // width = width * ratio;    // Reset width to match scaled image
  }

	return dimensions
}

function load_info(app_info){

	var current = -1

	d3.selectAll("a#next").on(d3plus.client.pointer.click,next);
	d3.selectAll("a#prev").on(d3plus.client.pointer.click,prev);

	function next(){
		current++
		new_panel()
		if(d3.event) d3.event.preventDefault();
	}
	function prev(){
		current--
		new_panel()
		if(d3.event) d3.event.preventDefault();
	}

  app_info.forEach(function(info,i){
    d3.select("#pagination").append("div")
      .attr("class","page")
      .attr("id","page_"+i)
      .text(i+1)
      .on(d3plus.client.pointer.click,function(){
        current = i
        new_panel()
      })
  })

	function new_panel(){

		var info = app_info[current]

		// set text
		d3.select("div.text").text(info["text_"+lang])

    d3.selectAll(".page_button").style("display","block")
    var text_width = window.innerWidth - (d3.select("#next").node().offsetWidth*2) - 50
    //d3.select(".text").style("max-width",text_width+"px")

    d3.select(".text").style("max-width","80%")

    if (current == 0) d3.select("#prev").style("display","none")
    if (current == app_info.length-1) d3.select("#next").style("display","none")

    d3.selectAll(".page").attr("class","page")
    d3.selectAll("#page_"+current).attr("class","page active")

  	var h = parseInt(window.innerHeight) - d3.select("#info").node().offsetHeight,
  			w = parseInt(window.innerWidth);

		// set media
		if(info.image){
			var img = new Image()
			img.src = info.image
			img.onload = function(){
				d3.select("div.media").html(
					"<img style='max-width:"+w+"px; max-height:"+h+"px' src='"+info.image+"' />"
				)
			}
		}
		else if(info.video){
			d3.select("div.media").html(
				"\
				<video width='"+w+"' height='"+h+"' preload autoplay='autoplay' loop='true'> \
					<source src='"+info.video+".mp4' type='video/mp4; codecs=\"avc1.42E01E, mp4a.40.2\"' /> \
					<source src='"+info.video+".webm' type='video/webm; codecs=\"vp8, vorbis\"' /> \
				</video> \
				"
			)
		}
	}

  document.onkeydown = function(e) {

    if (e.keyCode == 34 || e.keyCode == 39 || e.keyCode == 40) {
      next()
    }
    else if (e.keyCode == 33 || e.keyCode == 37 || e.keyCode == 38) {
      prev()
    }
    else if (e.keyCode == 36) {
      current = 0
      new_panel()
    }
    else if (e.keyCode == 35) {
      current = app_info.length-1
      new_panel()
    }

  };

	next()
}


</script>

{% endblock %}
