<!-- extend admin_template -->
{% extends "admin/admin_template.html" %}


{% block admin_content %}
<h5>Starred <i class=" icon-star-empty"></i></h5>
<hr class="bold"/>
<div class="feed">
  {% if starred %}
    {% for s in starred %}
    {% set app_type = s.app_id|split("/") %}
    <p>
      <a class="feed-item button" href="/apps/embed/{{ s.app_id }}"><img src="/static/img/icons/tiles/{{ app_type[0] }}_tile.png" width="5%" padding-bottom="5%">{{ s.app_name }}</a>
    </p>
    {% endfor %}
  {% else %}
  <p>You haven't starred any apps yet!</p>
  {% endif %}
{% endblock %}