div#key {
  margin: 0px auto;
  padding: 5px 0px;
}

div#key > div.key_icon_container {
  display: inline-block;
  height: 34px;
  width: 34px;
}

div#key > div.key_icon_container > div.key_icon {
  cursor: pointer;
  display: inline-block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 30px;
  margin: 2px;
  width: 30px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}