{% extends "_base.html" %}

{% block scholar_content %}
<div class="institucional search">
    <h2>Usuários</h2>
        
    <div class="meta">
        <table id="approvalTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Type</th>
                </tr>
            </thead>
        </table>
    </div>
<a class="btn btn-default btn-dataviva pull-right" href="#" onclick="verifyChecks()">Enviar</a>
<a class="btn btn-default btn-dataviva pull-right" href="/scholar">Cancelar</a>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function($) {
            var table = $('#approvalTable').DataTable( {
                "sAjaxSource": "/users/all",
                "sAjaxDataProp": "users",
                "aoColumnsDefs": [
                    { "data": "id" },
                    { "data": "title" },
                    { "data": "authors" },
                    { "data": "id"},
                ],
               "paging": false,
               "bFilter": false,
               "info": false //number of rows in footer table
            });
    });
</script>

<script type="text/javascript">
    function verifyChecks(){
        var articleIdsChecked = [];
        $("input[name='checkboxApproval']").each(function() {
            if(this.checked){
                var currentRow = $(this).closest('tr');
                articleIdsChecked.push(parseInt(currentRow[0].cells[0].textContent))
            }
        });
        console.log(articleIdsChecked)
    }
</script>
{% endblock scholar_content %}