{% extends "templates/site.html" %}

{% block head %}
  <link type="text/css" rel="stylesheet" media="all" href="/static/css/utils/utils.selector.css" />
{% endblock %}

{% block body %}

<div id="dynamic_header">
  
  <div class="grid4col1">
    
    <div id="data_toggle">
      <legend id="dataset">Dataset</legend>
      <label for="rais">RAIS</label>
      <input type="radio" name="dataset" value="rais" id="rais" onclick="change_dataset(this.value)" checked="checked">
      <label for="secex">SECEX</label>
      <input type="radio" name="dataset" value="secex" id="secex" onclick="change_dataset(this.value)">
    </div>
  
    <div id="years_dropdown">
        <select id="year_filter" onchange="">
          <option value="all">All Years</option>
          <option value="2002">2002</option>
          <option value="2003">2003</option>
          <option value="2004">2004</option>
          <option value="2005">2005</option>
          <option value="2006">2006</option>
          <option value="2007">2007</option>
          <option value="2008">2008</option>
          <option value="2009">2009</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
        </select>
    </div>
    
  </div>
  
  <div class="grid4col3">
    <div id="table_header">
      <table>
        <thead>
          <tr></tr>
        </thead>
      </table>
    </div>
  </div>
  
</div>

<div id="filter_selects" class="grid4col1">
  
    <a id="location_filter" class="help filter_button active">
      Brazilian Location
    </a>
    <div id="location_add" class="filter_box" style="display: block">
      <span class="filler" style="display:none;">Showing all of Brazil until a location is selected.</span>
      <div id="{{ geo_location.id }}" class="filter_item">
        <span class="list_icon" title="{{ geo_location.id }}"></span>
        <span class="filter_title" style="margin-left: 1px;">{{ geo_location.name_en }}</span>
        <a onclick="remove_filter(this)"><i class="icon-remove"></i></a>
      </div>
      <a name="bra" class="add_filter">add a location</a>
    </div>
  
  <div id="rais_on">
      <a id="industry_filter" class="help filter_button">
        Establishment
      </a>
      <div id="industry_add" class="filter_box">
        <span class="filler">Showing all establishments until a filter is selected.</span>
        <a name="isic" class="add_filter button">add an establishment</a>
      </div>
     
      <a id="occupation_filter" class="help filter_button">
        Occupation
      </a>
      <div id="occupation_add" class="filter_box">
        <span class="filler">Showing all occupations until a filter is selected.</span>
        <a name="cbo" class="add_filter button">add an occupation</a>
      </div>

      <div id="rais_go" class="decision">Build</div>
      
  </div>
  
  <div id="secex_on">
      <a id="product_filter" class="help filter_button">
        Product Export
      </a>
      <div id="product_add" class="filter_box">
        <span class="filler">Showing all product exports until a filter is selected.</span>
        <a name="hs" class="add_filter button">add a product</a>
      </div>
    
      <a id="country_filter" class="help filter_button">
        Trade Partner
      </a>
      
      <div id="country_add" class="filter_box">
        <span class="filler">Showing all trade partners until a filter is selected.</span>
        <a name="wld" class="add_filter button">add a country</a>
      </div>
    
      <div id="secex_go" class="decision">Build</div>
      
  </div>
</div>

<div class="grid4col3 grid4offset1">
  
  <div id="table_container">
    <table>
      <tbody>
      </tbody>
    </table>
  </div>
  
</div>

<script src="/static/js/utils/utils.selector.js"></script>
<script src="/static/js/utils/utils.infinite_scroll.js"></script>
<script type="text/javascript">

  leon.touch("$dataset")
  leon.touch("#year_filter")

  var CURRENT_DATASET = 'rais';
  var ORDER_DIRECTIONS = ["desc", "asc", ""]
  var COLUMNS = ["year", "bra_id", "isic_id", "hs_id", "cbo_id", "wld_id", "wage", "num_emp", "num_est", "val_usd", "val_kg", "val_qty", "rca", "growth_pct", "growth_pct_total", "growth_val", "growth_val_total"]

  // add icons to tags!
  d3.selectAll(".list_icon")
    .style("background-image", function(){
      var id = d3.select(this).attr("title")
      return "url('"+ visual.icon(id, "bra") + "')"
    })

  // visual.toggle("dataset");
  // visual.dropdown("#year_filter");

  d3.selectAll("#secex_on").style("display", "none")
  d3.selectAll("#rais_on").style("display", "block")

  

  
  // Toggling between datasets (RAIS & SECEX)
  function change_dataset(value){
    if(value == "secex"){
      d3.selectAll("#secex_on").style("display", "block")
      d3.selectAll("#rais_on").style("display", "none")
    }
    else if(value == "rais"){
      d3.selectAll("#secex_on").style("display", "none")
      d3.selectAll("#rais_on").style("display", "block")
    }
    
  }
  
  // Turning on button filters
  d3.selectAll(".filter_button").on(vizwhiz.evt.click, function(){
    
    var classes = d3.select(this).attr("class");
    var add_container = d3.select("#" + this.id.split("_")[0] + "_add")
    
    if(classes.indexOf("active") > -1){
      d3.select(this).attr("class", classes.replace("active"))
      add_container.style("display", "none")
    }
    else {
      d3.select(this).attr("class", classes + " active")
      add_container.style("display", "block")
    }
    

    
    
  })
  
  // adding a filter
  visual.popover.create({
    "id": "popover",
    "type": "bra",
    "width": "50%",
    "height": "80%"
  })
  var nd = d3.select("#popover")
    .append("div")
    .style("height", "100%")

  var selector = Selector()
    .callback(add_filter);

  d3.selectAll(".add_filter").on(vizwhiz.evt.click, function(){
    var selector_type = d3.select(this).attr("name")
    nd.call(selector.type(selector_type));
    visual.popover.show("#popover");
  })
  
  function add_filter(obj){
    
    var add_btn = "a[name='" + selector.type() + "']"
    var cont = d3.select(add_btn).node().parentNode;
    visual.popover.hide();
    
    // remove filler text
    d3.select(cont).selectAll("span.filler").style("display","none")
    
    if (!d3.select(cont).select("#id_"+obj.id).node()) {

      var div = d3.select(cont)
        .insert("div", add_btn)
        .attr("id", "id_"+obj.id)
        .attr("class", "filter_item")
      div.append("span")
        .attr("class","list_icon")
        .style("background-image", "url('"+obj.icon+"')")
        .style("background-color", obj.color)
      div.append("span")
        .attr("class","filter_title")
        .text(obj.name)
      div.append("a")
        .on(vizwhiz.evt.click, function(){ remove_filter(this) })
        .append("i").attr("class", "icon-remove")
        
    }
    
  }
  
  function remove_filter(node) {
    var cont = d3.select(node.parentNode.parentNode)
    d3.select(node.parentNode).remove()
    if (!cont.select(".filter_item").node()) {
      cont.select(".filler").style("display","block")
    }
  }
  
  function is_active(selection){
    if(selection.attr("class").indexOf("active") > -1){
      return true;
    }
    return false;
  }
  
  // retrieving new data
  function update_table(dataset, order){

    
    // based on the dataset provided determine which filters we are interested
    // in
    var filters = {"location":"all", "industry":"all", "occupation":"all"}
    if(dataset == "secex"){
      filters = {"location":"all", "product":"all", "country":"all"}
    }
    
    // go through each filter and see what's on the page (what the user's added)
    d3.keys(filters).forEach(function(fname){
      
      // has the button been selected? if so we'll at least need to add this
      // to the api call as 'show'
      fdata = is_active(d3.select("#"+fname+"_filter")) ? "show" : filters[fname];
      
      // if this filter is active, we also need to check if items have been
      // added
      if(fdata == "show"){
        
        // are there any added filters?
        var filter_items = d3.selectAll("#"+fname+"_add > p.filter_item");
        if(!filter_items.empty()){
          
          // there are filter, lets add them to a list
          fdata = []
          filter_items.each(function(fi){
            fdata.push(this.id)
          })
          
          // concatenate filters using plus sign
          fdata = fdata.join("+")
        }
      }
      
      // set the original filters object to our new filter
      filters[fname] = fdata;
      
    })
    
    // set year
    var year_dropdown = document.getElementById("year_filter");
    var year_i = year_dropdown.selectedIndex
    filters["year"] = year_dropdown.options[year_i].value
      
    if(dataset == "rais"){
      var api_url = "/rais/" + [filters["year"], filters["location"], filters["industry"], filters["occupation"]].join("/")
    }
    else {
      var api_url = "/secex/"+ [filters["year"], filters["location"], filters["product"], filters["country"]].join("/")
    }
    
    d3.select("#table_container").selectAll("tbody > tr").remove()
    d3.select("#table_container")
      .call(is.url(api_url))

    // prevent page from submitting form
    if(d3.event) d3.event.preventDefault();
  }
  
  function item_formatter(container_el, dataset){
  
    // the columns we'd like to display
    var columns = d3.keys(dataset[0]).concat(d3.keys(dataset[dataset.length-1]));
    columns = columns.filter(function(itm, i){
        return columns.indexOf(itm)== i; 
    });
    
    var ordered_columns = COLUMNS.filter(function(i) {return (columns.indexOf(i) > -1);});
    
    
    var selection = d3.select(container_el)
    selection.selectAll('table').data([0]).enter().append('table');
    var table = selection.select('table');
    
    table.selectAll('tbody').data([0]).enter().append('tbody');
    var tbody = table.select('tbody');
    
    // enter new header rows
    var th = d3.select("table > thead > tr")
  
    th.selectAll("th").remove()
    var ths = th.selectAll("th")
      .data(ordered_columns)
    
    var min_widths = {}
    ths.enter().append("th")
      .attr("class",function(d){return d})
      .text(function(d) { return visual.format.text(d)})
      .each(function(d) {
        min_widths[d] = parseFloat(d3.select(this).style("width"),10)
      })
    
    // create a row for each object in the data
    var rows = tbody.selectAll("tr").data(dataset, JSON.stringify)
    
    rows.enter().append("tr")
    
    rows
      .each(function(d){
        var self = d3.select(this)
        ordered_columns.forEach(function(c){
          
          if (typeof d[c] == "string") {
            var html = visual.format.text(d[c],c)
          }
          else if (typeof d[c] == "number") {
            var html = visual.format.number(d[c],c)
          }
          else {
            var html = d[c]
          }
          
          var col = self.append("td")
            .attr("class",c)
            .html(html)
            
          col.style("min-width",min_widths[c]+"px")
            
          if(c.indexOf("_id") >= 0){
            var attr_type = c.split("_")[0]
            col.attr("class",c+" link").on(vizwhiz.evt.click,function(){
              window.location = "/profiles/" + attr_type + "/" + d[c]
            })
          }
          
        })
      })
    
    var col_widths = {}
    tbody.select("tr").selectAll("td")
      .each(function(d){
        var key = this.className.split(" ")[0],
            width = parseFloat(d3.select(this).style("width"),10)
        col_widths[key] = width
      })
    
    ths.style("width",function(d){ return col_widths[d]+"px" })

  }

  var is = infinite_scroll().format_items(item_formatter);
  
  // default load page with data
  update_table(CURRENT_DATASET);
  
  // attache click event listeners to build buttons
  d3.select("#rais_go").on(vizwhiz.evt.click, function(){
    CURRENT_DATASET = 'rais';
    update_table(CURRENT_DATASET);
  })
  d3.select("#secex_go").on(vizwhiz.evt.click, function(){
    CURRENT_DATASET = 'secex';
    update_table(CURRENT_DATASET);
  })
  
  // Scroll Header with Body, and vice-versa
  d3.select("#table_container").on("scroll",function(){
    d3.select("#table_header").node().scrollLeft = this.scrollLeft
  })
  d3.select("#table_header").on("scroll",function(){
    d3.select("#table_container").node().scrollLeft = this.scrollLeft
  })

</script>
{% endblock %}
